#egift-card-purchase-wrapper {
  .egift-list-wrapper {
    margin-bottom: 2rem;

    @include breakpoint($tablet) {
      margin-bottom: 2.3125rem;
    }

    ul {
      li {
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-#{$right}: 1rem;
        border: 1px solid transparent;

        &.active {
          border: 1px solid $plp-quick-view-product-size-border-hover;
        }

        &:hover {
          border: 1px solid $plp-quick-view-product-size-border-hover;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
