// share fields on product detail page
.sharethis-wrapper {
  .st_whatsapp_custom {
    &::before {
      content: '';
      background: url("../imgs/social-icons/pdp/ic-whatsapp-share.svg") no-repeat center;
      width: 1.5625rem;
      height: 1.5625rem;
      float: $left;
      line-height: 1;
      margin-top: 0.5rem;
    }

    &:hover::before {
      background: url("../imgs/social-icons/pdp/ic-whatsapp-sharehover.svg") no-repeat center;
    }

    @include breakpoint($tablet) {
      display: none;
    }
  }

  .st_email_custom {
    &::before {
      content: '';
      background: url("../imgs/social-icons/pdp/ic-email-share.svg") no-repeat center;
      width: 1.5625rem;
      height: 1.5625rem;
      float: $left;
      line-height: 1;
      margin-top: 0.5rem;
    }

    &:hover::before {
      background: url("../imgs/social-icons/pdp/ic-email-sharehover.svg") no-repeat center;
    }
  }
}
