.l-two--sf {
  @include fullWidthSideSpaces(
    $is_mobile: true,
    $is_tablet: true,
    $is_desktop: true,
    $is_desktop_wide: true
  );

  @include breakpoint($desktop) {
    max-width: none;
  }

  .c-sidebar-first {
    @include breakpoint($desktop) {
      max-width: 100%;
    }
  }

  main {
    @include breakpoint($desktop) {
      max-width: 100%;
    }
  }
}

.c-hero-content .l-container {
  @include fullWidthSideSpaces(
    $is_mobile: true,
    $is_tablet: true,
    $is_desktop: true,
    $is_desktop_wide: true
  );

  @include breakpoint($desktop) {
    max-width: none;
  }
}
