.has--three-levels {
  .menu--three__list-item > .menu-two__link-wrapper a {
    @include breakpoint($desktop) {
      font-size: 0.875rem !important;
      text-transform: none;
    }
  }
}

.menu--two__list {
  .menu--two__list-item {
    .menu-two__link {
      @include breakpoint($desktop) {
        font-size: 0.75rem;
      }
    }

    .menu--three__list {
      li a:hover {
        text-decoration: none;
      }
    }
  }

  .highlights {
    background: $mm_highlight_bg;
    margin-#{$right}: 0;
    padding: 2.5rem;
    padding-bottom: 0;
    height: 25.5rem;
    margin-top: -1.5rem;
  }
}
