.has--three-levels {
  .menu--three__list-item > .menu-two__link-wrapper a {
    @include breakpoint($desktop) {
      font-size: 0.875rem !important;
      text-transform: none;
    }
  }
}

.menu--two__list {
  .menu--two__list-item .menu--three__list {
    li a:hover {
      text-decoration: none;
    }
  }

  .highlights {
    top: -1rem;
    bottom: 0;
    background: $mm_highlight_bg;
    margin-#{$right}: 0;
    padding: 2.5rem;
    padding-bottom: 0;

    .title,
    .hightlight__title {
      text-transform: uppercase;
    }
  }
}
