.slug-banner-processed {
  &:not(.header--fixed) {
    #c-menu-primary__region {
      @include breakpoint($upto-desktop) {
        position: relative;
      }

      .block-alshaya-super-category-menu {
        @include breakpoint($upto-desktop) {
          position: relative;
        }
      }

      .menu--mobile-navigation {
        @include breakpoint($upto-desktop) {
          position: absolute;
        }

        @include breakpoint($only-tablet) {
          top: 2.8125rem;
        }
      }
    }

    .c-header__region {
      .block-cart-mini-block {
        @include breakpoint($upto-desktop) {
          position: absolute !important;
          top: 0;
        }

        @include breakpoint($only-mobile) {
          .cart-link {
            height: 2.5625rem;
          }
        }
      }
    }

    .page-standard {
      @include breakpoint($upto-tablet) {
        margin-top: 0;
      }
    }

    &.mobile--overlay {
      .branding__menu {
        @include breakpoint($upto-desktop) {
          z-index: auto;
        }
      }
    }
  }

  @include breakpoint($upto-desktop) {
    &:not(.header--fixed) {
      .c-header {
        .block-views-exposed-filter-blocksearch-page {
          top: 2.625rem;
          position: absolute;
        }
      }
    }
  }

  &.header--fixed {
    @include breakpoint($only-tablet) {
      margin-top: 5.25rem !important;
    }

    @include breakpoint($only-mobile) {
      margin-top: 4.25rem !important;
    }
  }

  .c-breadcrumb {
    @include breakpoint($only-mobile) {
      margin-top: 2.75rem;
      display: block;

      .l-container {
        display: none;
      }
    }

    @include breakpoint($only-tablet) {
      margin-top: 2.625rem;
    }
  }

  .branding__menu.navbar-fixed-top {
    @include breakpoint($upto-desktop) {
      position: static;
    }
  }
}
