.c-menu-primary {
  display: block;
  height: auto;

  .region__menu-primary {
    @include breakpoint($desktop) {
      float: $left;
      width: 50%;
    }

    .menu--one__list {
      .menu--one__link {
        font-size: 0;
      }
    }

    .menu--one__link {
      &::after {
        content: "";
        width: 3.4375rem;
        height: 1.625rem;
        display: block;
        margin: auto;
      }

      &.brand-victoria-secret,
      &.brand-victorias-secret {
        &::after {
          background: url("../imgs/logos/super-category/vsecret.svg") no-repeat center;
          background-size: contain;
        }

        &:hover::after {
          background: url("../imgs/logos/super-category/vsecret-active.svg") no-repeat center;
          background-size: contain;
        }
      }

      &.brand-pink {
        &::after {
          background: url("../imgs/logos/super-category/pink.svg") no-repeat center;
          background-size: contain;
        }
      }

      &.brand-beauty {
        &::after {
          background: url("../imgs/logos/super-category/beauty.svg?hzyOhx") no-repeat center;
          background-size: contain;
        }

        &:hover::after {
          background: url("../imgs/logos/super-category/beauty-active.svg?4nGDK4") no-repeat center;
          background-size: contain;
        }
      }
    }

    .active {
      .brand-victoria-secret::after,
      .brand-victorias-secret::after {
        background: url("../imgs/logos/super-category/vsecret-active.svg") no-repeat center;
        background-size: contain;
      }

      .brand-beauty::after {
        background: url("../imgs/logos/super-category/beauty-active.svg?4nGDK4") no-repeat center;
        background-size: contain;
      }
    }
  }
}

.header--fixed {
  .c-header__wrapper--inner {
    @include breakpoint($desktop) {
      display: none;
    }
  }
}

.header--wrapper.show-overlay {
  .menu--mobile-navigation {
    border-bottom-color: $header_mobile_menu_overlay !important;
  }

  &::before {
    z-index: 11 !important;
  }

  .menu--mobile-navigation,
  .block-alshaya-super-category-menu {
    @include breakpoint($only-tablet) {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $header_mobile_menu_overlay !important;
        z-index: 1 !important;
        transition: none !important;
        opacity: 1 !important;
      }
    }
  }
}

.branding__menu.show-overlay {
  .block-cart-mini-block {
    @include breakpoint($only-tablet) {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $header_mobile_menu_overlay !important;
        z-index: 1 !important;
        transition: none !important;
        opacity: 1 !important;
      }
    }

    border-bottom-color: $header_mobile_menu_overlay !important;
  }
}

.super-category-beauty {
  .filter-fixed-top {
    .sticky-filter-wrapper {
      .site-brand-home {
        a {
          width: 5rem;
          margin-top: 0.3125rem;
        }
      }
    }
  }
}
