.c-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  position: relative;
  background: none;

  @include breakpoint($only-mobile) {
    height: 1.875rem;

    .l-container {
      flex-grow: 1;
      min-width: 100%;
      text-align: center;
    }
  }

  &::before {
    @include breakpoint($desktop) {
      content: '';
      background: $breadcrumb_region_separator;
      height: 1px;
      width: 100%;
      display: inline-block;
      position: absolute;
      top: 50%;
    }
  }

  @include breakpoint($upto-desktop) {
    border-bottom: 1px solid $breadcrumb_region_separator;
  }

  ol {
    @include arabic-letter-spacing;

    font-size: 0.625rem;
    letter-spacing: 0.5px;
    line-height: 1.3;
    position: relative;

    @include breakpoint($desktop) {
      background: $breadcrumb_region_background;
    }

    @include breakpoint($only-mobile) {
      padding: 0.5rem 1rem;
      white-space: nowrap;
      overflow-x: auto;
    }
  }

  li {
    display: inline-flex;
    align-items: center;

    &:last-of-type {
      color: $breadcrumb_link;
      font-family: $hnm-regular;
      text-transform: uppercase;
      font-weight: normal;
    }

    &:last-of-type a {
      color: $breadcrumb_link;
      font-family: $hnm-regular;
      text-transform: uppercase;
      font-weight: normal;
    }

    a {
      @include arabic-letter-spacing;

      font-family: $hnm-regular;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 0.625rem;
      color: $breadcrumb_link_light;
    }

    &::after {
      content: '/';
      padding-#{$right}: 0.1875rem;
      padding-#{$left}: 0.5rem;
      font-family: $hnm-regular-nodir;

      @include breakpoint($only-tablet) {
        padding-top: 0.125rem;
      }
    }
  }
}
