.c-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  position: relative;
  background: none;

  @include breakpoint($only-mobile) {
    height: 1.875rem;

    .l-container {
      flex-grow: 1;
      min-width: 100%;
      text-align: center;
    }
  }

  ol {
    @include arabic-letter-spacing;

    font-size: 0.6875rem;
    letter-spacing: 0.5px;
    line-height: 1.3;
    position: relative;

    @include breakpoint($desktop) {
      background: $default_background_color;
    }

    @include breakpoint($only-mobile) {
      padding: 0.5rem 1rem;
      white-space: nowrap;
      overflow-x: auto;
    }
  }

  li {
    display: inline-flex;
    align-items: center;

    &:last-of-type {
      color: $breadcrumb_link;
      font-family: $hnm-regular;
      text-transform: capitalize;
      font-weight: normal;
    }

    &:last-of-type a {
      color: $breadcrumb_link;
      font-family: $hnm-regular;
      font-weight: normal;
      text-transform: capitalize;
    }

    a {
      @include arabic-letter-spacing;

      font-family: $hnm-regular;
      text-transform: capitalize;
      font-size: 0.6875rem;
      color: $breadcrumb_link;
      padding-#{$right}: 0.1875rem;

      &:hover {
        color: $breadcrumb_link_hover;

        span {
          text-decoration: none;
        }
      }
    }

    &::after {
      content: '/';
      padding-#{$right}: 0;
      padding-#{$left}: 0;
      color: $breadcrumb_link;
      font-weight: normal;
    }
  }
}
