.product-drawer-container .attribute-wrapper {
  &_size {
    @include breakpoint($only-mobile) {
      display: block;
      float: none;
      margin: 0;
      width: auto;

      + .alshaya-select-wrapper {
        float: none;
        margin-#{$left}: 0;
        margin-top: rem(14);
        width: auto;
      }
    }
  }

  ul {
    &.attribute-options-list {
      li {
        margin-top: rem(12);

        &:hover {
          background-color: $plp-quick-view-product-size-hover-bg;
          border-color: $plp-quick-view-product-size-border;
        }

        &.active {
          &:hover {
            border-color: $plp-quick-view-product-size-active-border;
          }
        }

        &.disabled {
          opacity: 0.3;
          border-color: $plp-quick-view-product-size-disabled-border;
          cursor: not-allowed;
        }
      }
    }
  }
}
