/* Color palette from PB */

$PB_black_one: #000;
$PB_grey_one: #666;
$PB_grey_two: #adadad;
$PB_grey_five: #ebebeb;
$PB_grey_four: #e5e5e5;
$PB_white: #f7f7f7;
$PB_deep_red: #9a0000;
$PB_warning_red: #d0021b;
$PB_tint_red: #dd8a8a;
$PB_deep_blue: #0e3e6f;
$PB_confirmation_blue: #3680cb;
$PB_alshaya_priv: #ac8e54;
$PB_info_blue: #e8eff5;
$white: #ddd;
$white-two: #fff;
$scarlet: #d0011b;
$tomato: #e6591a;
$medium-green: #3ab549;

// Colors for which variables are not present in Zeplin but colors are used.
$_black_two: #333;
$_gray_two: #b3b3b3;

// Overrides for variables.
// Global elements.
$content_link_color: $PB_confirmation_blue;
$primary_input_focus_border: $PB_confirmation_blue;

// Titles.
$page_title: $_black_two;
$block_title: $_black_two;
$title: $_black_two;
$sub_title: $_black_two;

// Form elements.
$primary_input_label: $PB_grey_two;
$primary_input_border: $PB_grey_one;
$primary_input: $_black_two;
$primary_input_inline_error: $PB_warning_red;

// Buttons.
$primary_btn_bg: $_black_two;
$primary_btn_text: $white;

// Header - Top header.
$header_secondary_bg: $white;
$header_secondary_bg_upto_desk: $white-two;
$header_secondary_menu_link_mobile: $PB_grey_one;
$header_secondary_menu_link: $PB_grey_one;
$header_secondary_menu_link_hover_bg: $white-two;
$header_secondary_menu_link_border: $white-two;

// Header tablet and mobile.
$header_c_menu_text: $_black_two;
$header_c_menu_icon_color: $_black_two;
$header_toggle_sign_active_tab: $_black_two;
$header_mobile_menu_arrow: $_black_two;
$header_c_menu_search_icon: $_black_two;
$header_search_border_mobile: $_black_two;
$header_search_active_bg: $_black_two;
$header_search_active_text: $white-two;

// Header - Search.
$primary_search_btn: $_black_two;
$primary_search_bg: $white-two;
$primary_search_btn_icon: $_black_two;
$primary_search_input: $PB_grey_one;
$primary_search_input_placeholder: $PB_grey_one;
$primary_search_border: $white;

// Header - welcome user.
$header_my_account_h3_title: $_black_two;

// User - My account nav & dashboard.
$my_account_nav_active: $PB_deep_red;

// Join the club block - user dashboard page.
$joinclubblock_title: $PB_alshaya_priv;

// Breadcrumb.
$breadcrumb_bg: $white-two;
$breadcrumb_bg_tablet: $PB_white;
$breadcrumb_link: $PB_grey_one;
$breadcrumb_link_hover: $PB_grey_one;
$breadcrumb_link_active: $_black_two;

// Mega menu.
$pre_content_region_bg: $_black_two;
$mm_l1_link: $white-two;
$mm_l1_link_active: $_black_two;
$mm_l1_link_active_bg: $white-two;
$mm_l1_link_active_shadow: $PB_deep_red;
$mm_l2_link: $PB_deep_red;
$mm_l2_link_mobile_menu: $_black_two;
$mm_l3_link: $PB_grey_one;
$mm_l3_link_hover: $PB_deep_red;
$mm_highlight_label: $PB_deep_red;

// Home page - slider.
$gallery_arrows_bg: $PB_deep_red;
$hp_slider_dots: $PB_deep_red;

// Delivery banner.
// Delivery tabs.
$deliverybanner_title: $_black_two;
$deliverybanner_subtitle: $PB_grey_one;
$deliverybanner_border: $PB_black_one;
$deliverybanner_shadow: rgba(236, 236, 236, 0.5);

// Footer Primary.
$footer_bg: $PB_grey_five;
$footer_title_h3: $_black_two;
$footer_link_hover: $PB_deep_red;

// Copyright Footer.
$copyright_footer_bg: $white-two;

//7. Newsletter-signup
$newsletter_title_h3: $_black_two;
$newsletter_block_text: $PB_grey_one;
$newsletter_input_placeholder: $PB_grey_two;
$newsletter_input_bg: $PB_grey_five;
$newsletter_input_border: $PB_grey_one;
$newsletter_submit_btn: $_black_two;
$newsletter_submit_btn_text: $white;

// Store finder.
$store_finder_header: $PB_black_one;
$store_finder_header_desktop: $PB_black_one;
$store_finder_subheader: $PB_black_one;
$store_finder_text: $PB_deep_red;
$store_finder_location_search_text_placeholder: $_gray_two;
$store_finder_icon: $PB_deep_red;
$store_finder_text_hover: $PB_deep_red;
$store_finder_border_hover: $PB_deep_red;
$store_finder_backbtn: $_black_two;
$store_finder_search_results_hour_label: $_black_two;
$store_finder_get_direction_label_color: $PB_deep_red;

// Store finder - search results.
$store_finder_search_results_tile_icon: $PB_grey_one;
$store_finder_search_results_tile_bg: $PB_white;
$store_finder_search_results_tile_hover_bg: $PB_white;
$store_finder_search_results_counter_bg: $PB_deep_red;
$store_finder_search_results_counter_text: $white-two;

// Store finder - glossary.
$store_finder_glossary_alphabet: $PB_black_one;
$store_finder_glossary_text: $PB_grey_one;
$store_finder_glossary_icon: $_black_two;
$store_finder_glossary_text_hover: $PB_deep_red;
$store_finder_glossary_text_border: $white;
$store_finder_glossary_border: $white;
$store_finder_glossary_link: $PB_grey_one;

// Language switcher.
$lang_switch: $_black_two;
$lang_switch_firsttime_bg: $_black_two;
