/* Color palette from PB */

$PB_black_one: #000;
$PB_grey_one: #666;
$PB_grey_two: #adadad;
$PB_grey_five: #ebebeb;
$PB_grey_four: #e5e5e5;
$PB_white: #f7f7f7;
$PB_deep_red: #9a0000;
$PB_warning_red: #d0021b;
$PB_tint_red: #dd8a8a;
$PB_deep_blue: #0e3e6f;
$PB_confirmation_blue: #3680cb;
$PB_alshaya_priv: #ac8e54;
$PB_info_blue: #e8eff5;
$white: #ddd;
$white-two: #fff;
$scarlet: #d0011b;
$tomato: #e6591a;
$medium-green: #3ab549;

// Colors for which variables are not present in Zeplin but colors are used.
$_black_two: #333;

// Overrides for variables.
// Global elements.
$content_link_color: $PB_confirmation_blue;
$primary_input_focus_border: $PB_confirmation_blue;

// Titles.
$page_title: $_black_two;
$block_title: $_black_two;
$title: $_black_two;

// Form elements.
$primary_input_label: $PB_grey_two;
$primary_input_border: $PB_grey_one;
$primary_input: $_black_two;
$primary_input_inline_error: $PB_warning_red;

// Buttons.
$primary_btn_bg: $_black_two;
$primary_btn_text: $white-two;

// Header - Top header.
$header_secondary_bg: $white;
$header_secondary_bg_upto_desk: $white-two;
$header_secondary_menu_link_mobile: $PB_grey_one;
$header_secondary_menu_link: $PB_grey_one;
$header_secondary_menu_link_hover_bg: $white-two;
$header_secondary_menu_link_border: $white-two;

// Header tablet and mobile.
$header_c_menu_text: $_black_two;
$header_c_menu_icon_color: $_black_two;
$header_toggle_sign_active_tab: $_black_two;
$header_mobile_menu_arrow: $_black_two;
$header_c_menu_search_icon: $_black_two;
$header_search_border_mobile: $_black_two;
$header_search_active_bg: $_black_two;
$header_search_active_text: $white-two;

// Header - Search.
$primary_search_btn: $_black_two;
$primary_search_bg: $white-two;
$primary_search_btn_icon: $_black_two;
$primary_search_input: $PB_grey_one;
$primary_search_input_placeholder: $PB_grey_one;
$primary_search_border: $white;

// Mega menu.
$pre_content_region_bg: $_black_two;
$mm_l1_link: $white-two;
$mm_l1_link_active: $_black_two;
$mm_l1_link_active_bg: $white-two;
$mm_l1_link_active_shadow: $PB_deep_red;
$mm_l2_link: $PB_deep_red;
$mm_l2_link_mobile_menu: $_black_two;
$mm_l3_link: $PB_grey_one;
$mm_l3_link_hover: $PB_deep_red;

// Footer Primary.
$footer_bg: $PB_grey_five;
$footer_title_h3: $_black_two;
$footer_link_hover: $PB_deep_red;

// Copyright Footer.
$copyright_footer_bg: $white-two;

//7. Newsletter-signup
$newsletter_title_h3: $_black_two;
$newsletter_block_text: $PB_grey_one;
$newsletter_input_placeholder: $PB_grey_two;
$newsletter_input_bg: $PB_grey_five;
$newsletter_input_border: $PB_grey_one;
$newsletter_submit_btn: $_black_two;
$newsletter_submit_btn_text: $white;
