.c-facet__label {
  font-size: 0.75rem;
  text-transform: none;
  font-family: $vs-regular;

  @include breakpoint($desktop) {
    text-transform: uppercase;
    font-family: $vs-bold;
  }
}

.c-facet__blocks {
  .facet-item .facet-item__value,
  .c-accordion__title {
    text-transform: none;
  }

  .facet-item .facet-item__value,
  .facet-item .facet-item__count {
    @include breakpoint($only-mobile) {
      vertical-align: middle;
    }
  }

  input[type=checkbox] ~ label::before {
    @include breakpoint($only-mobile) {
      top: 0.3rem;

      html[lang=ar] & {
        top: 0.125rem;
      }
    }

    @include breakpoint($tablet) {
      font-size: 1.25rem;
    }
  }

  .item-list__checkbox {
    max-height: 18.375rem;
  }
}

.c-facet {
  a {
    text-transform: none;
  }

  & > a {
    margin-bottom: 0.625rem;

    &::after {
      content: "";
      display: block;
      height: 0.625rem;
    }
  }

  ul {
    li {
      @include breakpoint($desktop) {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.facet-item {
  .facet-item__value {
    html[lang=ar] & {
      display: inline-flex;
    }
  }
}
