<!-- Level 1 Starts-->
<div class="ay--main-menu level-1-wrapper">
  <ul class="ay--main-menu__level-1">
    <li class="ay--main-menu__level-1-list-item"><a href="" class="ay--main-menu__level-1-category">Beauty</a>
      <!-- Level 2 Starts-->
      <div class="level-2-wrapper">
        <ul class="ay--main-menu__level-2">
          <li class="ay--main-menu__level-2-list-item">
            <div class="ay--main-menu__level-2-category">
              New Arrival
            </div>
          <li>
          <li class="ay--main-menu__level-2-list-item">
            <div class="ay--main-menu__level-2-category">
              New Arrival
            </div>
          <li>
        </ul>
      </div>
      <!-- Level 2 Ends-->
    </li>
    <li class="ay--main-menu__level-1-list-item"><a href="" class="ay--main-menu__level-1-category">Beauty</a></li>
    <li class="ay--main-menu__level-1-list-item"><a href="" class="ay--main-menu__level-1-category">Beauty</a></li>
    <li class="ay--main-menu__level-1-list-item"><a href="" class="ay--main-menu__level-1-category">Beauty</a></li>
    <li class="ay--main-menu__level-1-list-item"><a href="" class="ay--main-menu__level-1-category">Beauty</a></li>
  </ul>
</div>
<!-- Level 1 Ends -->