<!-- Level 1 Starts-->
<ul class="ay-menu__list ay-menu--one__list">
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link active">Women</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Men</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Gear</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Beauty</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Beauty</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Beauty</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Beauty & Wellness</a>
  </li>
  <li class="ay-menu__list-item ay-menu--one__list-item">
    <a href="" class="ay-menu__link ay-menu--one__link">Beauty</a>
  </li>

</ul>
<!-- Level 1 Ends -->