{{#each menu_columns}}
  {{#each this as |menu_item|}}
    <a class="ay-level-two__link" {{menu_item.tag_attr}}>
      <img class="ay-level-two__image" src="{{menu_item.image}}">
      <div class="ay-level-two__heading">{{menu_item.name}}</div>
    </a>
  {{/each}}
{{/each}}

