{
  "customSyntax": "postcss-scss",
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "no-duplicate-selectors": true,
    "selector-class-pattern": false,
    "no-descending-specificity": false
  }
}
