.c-content__slider {
  .paragraph-banner.slick-slider {
    .slick-list {
      width: auto;
      #{$left}: inherit;
      min-height: auto;

      @include breakpoint($tablet) {
        width: auto;
        min-height: auto;
        #{$left}: inherit;
      }

      @include breakpoint($desktop) {
        width: auto;
        min-height: auto;
        #{$left}: inherit;
      }
    }
  }
}

.owl-prev,
.slick-prev {
  @include icon(chevronleft) {
    html[lang=ar] & {
      transform: rotate(-180deg);
    }
  }
}

.owl-next,
.slick-next {
  @include icon(chevronright) {
    html[lang=ar] & {
      transform: rotate(180deg);
    }
  }
}
