@include breakpoint($desktop) {
  .path--store-finder {
    .current-location {
      width: rem(144);

      html[lang="ar"] & {
        width: rem(176);
        padding-left: 0;
      }
    }
  }
}
