
.path--store-finder {
  .current-location {
    html[lang="ar"] & {
      @include breakpoint($desktop) {
        width: 14.5%;
        padding-left: 0;
      }

      @include breakpoint($desktop-wide-1680) {
        width: 11.5%;
      }
    }
  }
}
