.cko-progress-tracker {
  #checkout-progress {
    .progress-bar {
      .step {
        &:not(.current) {
          span {
            html[lang="en"] body.chrome & {
              line-height: rem(30);

              @include breakpoint($tablet) {
                line-height: rem(37);
              }
            }
          }
        }

        span {
          @include breakpoint($only-mobile) {
            html[lang="ar"] body.safari & {
              line-height: rem(24);
            }
          }

          html[lang="ar"] & {
            line-height: rem(26);

            @include breakpoint($tablet) {
              line-height: rem(32);
            }
          }

          @include breakpoint($tablet) {
            font-size: rem(18);
          }
        }
      }
    }
  }
}
