{% if site_logo %}
  <div class="site__logo">
    <a href="{{ site_link }}" title="{{ site_logo_title }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ site_logo_title }}" />
    </a>
  </div>
{% endif %}
