.c-breadcrumb {
  @include breakpoint($only-tablet) {
    background: $breadcrumb_bg_tablet;
  }

  ol {
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
  }

  li {
    font-weight: 600;
    text-transform: capitalize;

    &::after {
      padding: 0 0.1875rem;
    }

    &:last-of-type {
      a {
        font-weight: 600;
      }
    }
  }
}
