%page-title {
  text-transform: none;
  font-family: $vs-regular;
  color: $page_title;

  @include breakpoint($mobile) {
    font-size: 1rem;
  }

  @include breakpoint($tablet) {
    font-size: 1.5rem;
  }
}
