/* *********Steps to add colors for new brand ************ */

// 1) Copy the color variables by going to Zeplin > Styleguide.
// 2) Paste them under section 1 under brand colors.
// 3) Copy the variables from section 2 onwards from alshaya_white_label > _color.scss file.
// 4) Map the variables copied from whitelabel with the color variables copied in section #1.

// ================================= //
// ------  TABLE of CONTENTS ------- //
// --------------------------------- //
// ------- 1. Brand Colors --------- //
// ------- 2. Primary color--------- //
// ------- 3. Secondary color  ----- //
// ------- 4. Tertiary Colors ------ //
// ------- 5. Components ----------- //
// ------- 6. Sections  ------------ //
// ------- 7. Pages ---------------- //
// ================================= //

/* ------- 1. Brand Colors ------- */
// Colors from Zeplin pallete for the site.
// $black: #000;
// @todo remove variable $black-two, use $black instead, declared below.
$black-two: #333;
$brownish-grey: #666;
$white-three: #ebebeb;
$cherry: #c60c30;
$dark-sand: #ac8e54;
$peacock-blue: #0060aa;
$windows-blue: #3680cb;
$dark-blue: #4267b2;
$marine-blue: #003773;
$grey-shade: #c1c1c1;
$grey-light: #777;
$grey-light-two: #f3f3f3;
// Mothercare
$warm-grey-two: #dadada;
$black: #333;
$pumpkin-orange: #ff6d22;
$tealish: #3ad6c5;
$scarlet: #d0021b;
$rosy-pink: #f36682;
$cerulean: #0080ce;
$scarlet-two: #d0011b;
$pale-grey: #e8eff5;
$tomato: #e6591a;
$medium-green: #3ab549;
// Mother care custom colors
$white-smoke: #f4f4f4;
$white-smoke-light: #f2f2f2;
$whisper: #ececec;
$whisper-light: #ebebeb;
$whisper-dark: #e5e5e5;
$whisper-ash: #ebedef;
$solitude: #e0eaf3;
$denim: #d7e5f0;
$light-greyish: #ccc;
$greyish: #adadad;
$white-four: #f7f7f7;
$grey-ash: #666;
$marine-blue-two: #003971;
$white: #ddd;
$white-two: #e5e5e5;
$white-five: #fff;
$matterhorn: #535353;
$cerulean-two: #0084cc;
$red-error: #d0011b;
$light-ash: #9c9c9c;
$alice-blue: #f0f6fc;
$shadow: #dae7ee;
$breadcrumb-active: #262626;
$blue-three: #032760;
$faun: #f9f8f6;
$message-info: #ffee9c;
$special-price: #b70025;
$ladda-disabled: #999;
$mothercare-black: #000;
$sticky-btn: rgba(0, 0, 0, 0.07);
$_campaign-plp-style-1-menu-link: #b7b8b7;
$_instagram_dots_default: #e3e3e3;
$_plp_filter_active_drodpwon_item: #f0f7ff;
$_plp_facet_count_color: #7d7d7d;
$_plp_sort_by_options: $brownish-grey;
$_plp_selected_filter_text: #555;
$_plp_clear_all_btn_disabled: #8d8d8d;
$light-blue-border: #b3d3f0;
$_algolia_search_icon_bg: #0072ce;
$_algolia_suggestion_list_bg: #f7fafe;
$_algolia_search_page_sidebar_count: #707070;
$_peackock_blue_10: rgba(0, 86, 153, 0.1);
$_dynamic_promo_text: #04599b;
$_dynamic_promo_text_bg: #e7effc;
$_promo_code_error: #ff3030;
$_promotion_link: #ce262c;
$_gray: #c8c8c8;
$_gray_1: #eaeaea;
$_transparent_overlay: rgba(255, 255, 255, 0);
$_white_five_alpha_80: rgba(255, 255, 255, 0.8);

/* ------- 2. Primary Colors ------- */
// Global elements.
$primary_bg: $white-five;
$content_pagetitle: $marine-blue;
$content_pagetitle_border: $white;
$primary_text: $grey-ash;
$primary_link: $marine-blue-two;
$primary_link-hover: $marine-blue-two;
$primary_link-active: $marine-blue-two;
$primary_border: $white;
$content_link_color: $cerulean-two;
$primary_ripple_color: rgba(255, 255, 255, 0.5);

// Form elements.
$primary_form_selector_border: $black;
$primary_form_selector: $black;
$primary_form_link: $windows-blue;
$primary_input: $black;
$primary_input_label: $greyish;
$primary_input_border: $grey-ash;
$primary_input_disabled: $greyish;
$primary_input_focus_border: $windows-blue;
$primary_input_inline_error: $red-error;
$online_exclusive_link: $cerulean-two;

// Form Items
$formitem_label: $greyish;
$formitem_input: $black;

//Buttons.
$primary_btn_bg: $pumpkin-orange;
$primary_btn_text: $white-five;
$primary_empty_btn: $black;
$primary_empty_btn_border: $black;
$primary_brand_button: $marine-blue-two;
$primary_brand_button_text: $marine-blue-two;
$primary_button_disabled: $ladda-disabled;
$pending_btn_bg: $tomato;
$returned_btn_bg: $grey-ash;
$complete_btn_bg: $medium-green;

// Checkbox & Radio.
$primary_checkbox_empty: $grey-ash;
$primary_checkbox_filled: $windows-blue;
$primary_radiobtn_label: $grey-ash;
$primary_radiobtn_empty: $greyish;
$primary_radiobtn_filled: $cerulean-two;

// Tables.
$primary_th_bg: $whisper-light;
$primary_td_highlight3: $white-four; // used on blend class.
$primary_td_bg_highlight: $white-smoke-light;
$primary_tr_hover: rgba(247, 247, 247, 0.72);
$primary_table_border: $white;
$primary_full_page_overlay_bg: rgba(255, 255, 255, 0.7);
$highlights_subtitle_hover: $cerulean-two;

// Dropdown.
$primary_dropdown_bg: $white-five;
$primary_dropdown_arrow_bg: $white-two;
$primary_dropdown_text: $grey-ash;
$primary_dropdown_border: $white-two;
$primary_dropdown_option_hover: $white-four;
$primary_dropdown_option_border: $white;
$primary_dropdown_option_disbled: $greyish;
$primary_dropdown_focus: $black;

// Text Area
$primary_textarea_suffix: $greyish;
$primary_textarea_border: $grey-ash;

// Totals.
$total_bg: $whisper-light;
$total_td_2nd_child_bg: $white-four;
$total_order_total_txt: $black;
$total_order_total_row_td_2nd_child: $whisper-light;
$total_discount_total: $scarlet;
$total_discount_total_td_2nd_child_bg: $white-five;

// Modal
$modal_bg: $white-five;
$modal_subtext: $white-five;
$modal_subtext_bg: $black;
$modal_close_bg: $marine-blue;
$modal_close_icon: $white-two;
$modal_header_border: $warm-grey-two;

// VAT text
$vat: $grey-light;
$vat_dark: $whisper-light;

/* ------- 3. Secondary color  ----- */
// Global elements.
$secondary_link: $marine-blue;

/* ------- 4. Tertiary Colors ------- */
$tertiary_btn_text: $white-five;

/* ------- 5. Components --------------- */
// Counters.
$primary_counter_bg: $marine-blue;
$primary_counter_text: $white-five;
$secondary_counter_bg: $cerulean-two;

// Titles.
$page_title: $marine-blue;
$block_title: $marine-blue;
$title: $marine-blue;
$sub_title: $marine-blue;
$label_black: $black;
$label_dark: $mothercare-black;
$user_sidebar_block_title: $marine-blue;

// Messages and Errors
$default_msg_text: $white-five;
$default_msg_bg: $tealish;
$default_msg_info_bg: $message-info;
$content_error_msg_bg: $cherry;
$content_error_msg_txt: $white-five;
$content_error_input_border: $cherry;
$content_error_msg_text: $white-five;
$formitem_error: $black;
$formitem_error_label: $red-error;

// Out of stock button.
$oos_btn_bg: $cherry;
$oos_btn_text: $white-five;
$oos_wrapper: $whisper-dark;
$oos_wrapper_text: $black;
$oos_quantity_text: $grey-ash;
$oos_pdp_text: $white;

// Tooltip
$tooltip_bg: $alice-blue;
// $tooltip_bg + opacity 0.
$tooltip_bg_opacity_0: rgba(240, 246, 252, 0);
$tooltip_text: $windows-blue;
$tooltip_border: $cerulean-two;
// Second color for arrow of tooltip.
$tooltip_border_2: $alice-blue;
// $tooltip_border + opacity 0.
$tooltip_border_opacity_0: rgba(0, 132, 204, 0);
$tooltip_icon: $cerulean-two;
$tooltip_link: $cerulean-two;

// Back to top
$btt_bg: $whisper-light;
$btt_hover_text: $grey-ash;
$btt_text: $black;

// Breadcrumb.
$breadcrumb_bg: $white-four;
$breadcrumb_link: $greyish;
$breadcrumb_link_hover: $greyish;
$breadcrumb_link_active: $breadcrumb-active;

// Language Switcher
$lang_switch: $marine-blue-two;
$lang_switch_active: $grey-ash;
$lang_switch_firsttime_bg: $marine-blue-two;
$lang_switch_firsttime_border: $white-five;
$lang_switch_list: $white-two;
$lang_switch_close_icon: $white-two;

// 404
$maintenance_container_bg: $faun;
$maintenance_container_border: $white-two;
$maintenance_container_border_top: $white-four;
$maintenance_body_bg: $matterhorn;
$maintenance_link: $cerulean-two;

// Accordion
$accordion_border: $white;
$accordion_title: $grey-ash;
$accordion_sub_title: $grey-ash;
$accordion_title_disabled: $white;

// Cloudzoom
$cloudzoom_hovertext: $grey-ash;
$cloudzoom_zoombox_border: $white;

// Mobile Gallery
$gallery_bg: $white-five;
$gallery_subtext_bg: $black;
$gallery_subtext: $white-five;
$gallery_arrows_bg: $white-five;
$gallery_arrows: $black;
$gallery_arrows_border: $black;
$gallery_arrows_disabled: $white;
$gallery_pager_border: $marine-blue-two;
$gallery_pager_active_bg: $marine-blue-two;
$gallery_zoombtn_bg: $white;
$gallery_zoombtn_disabled: $light-ash;

// Homepage Slider
$hp_slider_dots: $marine-blue-two;
$hp_slider_arrows_dark: $mothercare-black;

// Instragram slider dots.
$instagram_dots_default: $_instagram_dots_default;
// Active color same as $hp_slider_dots;

// Sharethis
$sharethis_icon: $marine-blue-two;
$sharethis_icon_hover: transparent;

// Autocomplete
$autocomplete_bg: $white-five;
$autocomplete_border_last: $white;
$autocomplete_hover: $white-smoke-light;
$autocomplete_text: $grey-ash;

/* ------- 6. Sections and Pages --------------- */

// Header.
$header_bg: $white-five;
$header_top_bg: $white-four;
$header_border: $white;
$header_super_category_bg: $white-five;

// Header mobile search.
$header_search_border_mobile: $marine-blue-two;
$header_search_active_bg: $marine-blue;

// Header - Search.
$primary_search_bg: $white-five;
$primary_search_btn_icon: $marine-blue;
$primary_search_input: $grey-ash;
$primary_search_input_placeholder: $grey-ash;
$primary_search_border: $white;
$primary_search_autocomplete_text: $grey-ash;

// C-menu primary i:e Mobile and tablet header menu links.
$header_c_menu_text: $brownish-grey;
$header_c_menu_icon_color: $marine-blue-two;
$header_c_menu_search_active_icon: $pumpkin-orange;
$header_toggle_sign_default: $white;
$header_toggle_sign_active_tab: $marine-blue;
$header_toggle_sign_active_tab_bg: $white-five;
$header_mobile_menu_arrow: $marine-blue-two;
$header_mobile_menu_active: $white-five;
$header_mobile_menu_close_bg: $white-five;
$header_mobile_menu_close: $black;
$header_mobile_menu_overlay: rgba(0, 0, 0, 0.48);

// Branding menu mobile.
$header_branding_shadow: $greyish;

// Header secondary: ie: top header.
$header_secondary_bg: $white-four;
$header_secondary_bg_upto_desk: $white-five;
$header_secondary_menu_link_mobile: $grey-ash;
$header_secondary_menu_link: $marine-blue-two;
$header_secondary_menu_link_hover_bg: $white-five;

// Header my account nav.
$header_my_account_h3_title: $marine-blue-two;
$header_my_account_bg: $white-five;
$header_my_account_link_hover: $grey-ash;
$header_my_account_icon: $marine-blue-two;

// Mega menu.
$mm_bg: $white-five;
$mm_body_overlay: rgba(0, 0, 0, 0.48);
$mm_l1_border: $white;
$mm_l1_link: $black;
$mm_l1_link_bg: $marine-blue-two;
$mm_l1_link_hover: $marine-blue;
$mm_l1_link_hover_border_to_fill_space: $white-five;
$mm_l1_link_active_border: $marine-blue;
$mm_l2_link: $marine-blue;
$mm_l2_link_hover: $white-five;
$mm_l2_p: $brownish-grey;
$mm_l3_link: $grey-ash;
$mm_l3_link_2: $peacock-blue; // possible old markup.
$mm_l3_link_bg: $white-five;
$mm_l3_link_hover: $cerulean-two;
$mm_highlight_label: $marine-blue;
$mm_highlight_title: $marine-blue;
$mm_highlight_description: $grey-ash;
$mm_p_a_text: $white-five;

// Delivery USP
$delivery_usp_arrow_black: $black;
$delivery_usp_arrow_white: $white-five;

//  Mini Cart.
$primary_minicart_text: $black;
$primary_minicart_quantity_text: $white-five;
$primary_minicart_quantity_bg: $pumpkin-orange;
$mobile_continue_shopping_btn_text: $white-five;
$mobile_continue_shopping_btn_bg: $pumpkin-orange;
$mobile_continue_shopping_btn_border: $pumpkin-orange;
$desktop_continue_shopping_btn_text: $marine-blue-two;
$desktop_continue_shopping_btn_bg: $white-five;
$desktop_continue_shopping_btn_border: $marine-blue-two;

// Notification popup.
$minicart_notification_bg: $white-five;
$minicart_notification_border: $pumpkin-orange;
$minicart_notification_shadow: $white-two;
$minicart_notification_text: $pumpkin-orange;
$minicart_notification_btn_bg: $pumpkin-orange;
$minicart_notification_btn_text: $white-five;
$minicart_notification_product_title: $grey-ash;

// Delivery tabs.
$deliverybanner_title: $cerulean-two;
$deliverybanner_subtitle: $cerulean-two;
$deliverybanner_border: $cerulean-two;
$deliverybanner_link: $content_link_color;
$deliverybanner_shadow: $shadow;

// Promo panel.
$promo_panel_mobile_bg: $white-five;
$promo_panel_content: $black;
$promo_panel_content_bg: $white-five;
$promo_panel_border: $white;
$promo_panel_mobile_label: $marine-blue-two;
$promo_panel_label_bg: $white-five;
$promo_panel_label: $black;
$promo_panel_label_icon: $marine-blue-two;

//3. Footer
$footer_bg: $white-five;
$footer_border_top: $peacock-blue;
$footer_title_h3: $marine-blue-two;
$primary_footer_input_label: $greyish;
$footer_link_mobile: $black;
$footer_link: $grey-ash;
$footer_link_hover: $cerulean-two;
$our_brands_footer_separator: $peacock-blue;
$our_brand_section_title: $marine-blue;
$our_brand_link: $grey-ash;

// Social links.
$social_links: $marine-blue-two;
$social_links_hover: transparent;

//1. Copyright
$copyright_footer_bg: $white-four;
$copyright_footer_text: $black;
$copyright_footer_paragraph: $grey-ash;

//7. Newsletter-signup
$newsletter_submit_btn: $marine-blue-two;
$newsletter_success: $windows-blue;

// Checkout Progress.
$checkout_seperator: $greyish;
$checkout_progress_text: $greyish;
$checkout_progress_current_text: $black;
$checkout_progress_next_bg: $white-five;
$checkout_progress_next_txt: $brownish-grey;
// @todo: My account priv card content block.

/* ------- 7. Pages ----- */
// Product listing page and search page.
$color_facet_active_border: $cerulean-two;
$plp_facet_filter: $windows-blue;
$plp_facet_filter_bg: $cerulean-two;
$plp_facet_item_label: $grey-ash;
$plp_facet_filter_link: $white-four;
$plp_facet_clear_border: $cerulean-two;
$plp_facet_clear_border_mobile: $cerulean-two;
$plp_facet_clear_text: $cerulean-two;
$plp_facet_filter_count: $marine-blue-two;
$plp_facet_input_border: $white;
$plp_facet_label: $black;
$plp_facet_dropdown_bg: $white-two;
$plp_facet_label_border_mobile: $white-two;
$plp_facet_active_bg: $white-five;
$plp_facet_filter_label: $black;
$plp_facet_border: $white;
$plp_facet_summary_filter_icon: $white-four;
$plp_item_label: $grey-ash;
$plp_promotion_description: $cerulean-two;
$plp_promotion_link: $cherry;
$plp_facet_filter_count_background: $pumpkin-orange;
$plp_facet_filter_count_text: $white-five;
$plp_facet_white_color_attribute: $white;
$plp-swatch-color-count: $black;
$plp_mobile_separator: $warm-grey-two;
$plp_facet_count_number: $_plp_facet_count_color;
$plp_sort_by_options: $_plp_sort_by_options;
$plp_selected_filter_label_text: $grey-ash;
$plp_grid_active_color: $marine-blue-two;
$plp_all_filter_filter_arrow: $grey-ash;
$plp_filter_icon: $grey-ash;
$plp_filter_active_tick: $marine-blue-two;

// PLP All filter colors
$plp_all_filter_bg: $white-five;
$plp_all_filter_head_border: $white-two;
$plp_all_filter_title: $page_title;
$plp_all_filter_item_border: $white-two;
$plp_all_filter_button_color: $primary_btn_bg;
$plp_clear_all_btn_text: $marine-blue-two;
$plp_all_filter_close_btn: $header_mobile_menu_close;
$plp_clear_all_btn_disabled: $_plp_clear_all_btn_disabled;

// PLP Filter bar.
$plp_filterbar_clearall_border: $cerulean-two;
$plp_filterbar_clearall_text: $cerulean-two;
$plp_search_count: $_plp_selected_filter_text;
$plp_filter_active_item: $_plp_filter_active_drodpwon_item;

// PLP Product tile.
$plp_tile_product_text: $black;
$plp_tile_product_title: $grey-ash;
$plp_tile_product_title_hover: $cerulean-two;
$plp_tile_product_special_price: $scarlet;
$plp_tile_product_hover_border: $greyish;
$plp_tile_product_hover_shadow: $whisper-light;
$plp_tile_product_hover_bg: $white-five;

// PLP Product title hover.
$plp_tile_hover_slider_nav: $grey-ash;
$plp_pager_link: $marine-blue;
$plp_pager_link_border: $marine-blue;

// Product detail page.
$pdp_product_price: $black;
$pdp_product_special_price: $special-price;
$pdp_product_special_price_text: $scarlet;
$pdp_product_discount_price: $scarlet;
$pdp_product_discount_text: $scarlet;
$pdp_product_itemcode: $grey-ash;
$pdp_product_itemcode_border: $warm-grey-two;
$pdp_title_section_border: $white;
$pdp_mobile_wrapper: $white-five;
$pdp_sell_title: $grey-ash;
$pdp_white_color_attribute: $white-five;
$pdp_white_color_attribute_hover_border: $black;
$pdp_white_color_attribute_border: $black;
$pdp_swatch_selected_border: $black;

// Dynamic Promotions.
$promo_dynamic_label_bg: $_peackock_blue_10;
$promo_dynamic_label_txt: $_dynamic_promo_text;
$promo_dynamic_label_txt_bg: $_dynamic_promo_text_bg;
$promo-dynamic-label-border-color: $white-five;

// Product modal
$pdp_modal_full_prodlink: $marine-blue;
$pdp_modal_full_prodlink_border: $white;

// Product Add to cart form.
$pdp_sizeguide_link: $windows-blue;
$pdp_size_selected_text: $black;
$pdp_size_option_border: $marine-blue;
$pdp_size_option_text: $marine-blue;
$pdp_size_option_selected_text: $white-five;
$pdp_size_option_selected_bg: $marine-blue;
$pdp_size_option_text_hover : $white-five;
$pdp_sidebar_label: $marine-blue;
$pdp_sidebar_link: $windows-blue;
$pdp_desc_wrapper: $white-five;
$pdp_desc_wrapper_border: $marine-blue;
$pdp_desc_wrapper_close_bg: $marine-blue;
$pdp_desc_wrapper_close_icon: $white-two;
$pdp_accordion_title: $black;
$pdp_cc_btn_text: $white-five;
$pdp_cc_btn_bg: $cerulean-two;
$pdp_cc_highlight: $windows-blue;
$pdp_cc_storefinder_label: $grey-ash;
$pdp_cc_storefinder_input: $greyish;
$pdp_cc_storefinder_link: $cerulean-two;
$pdp_cc_changelocation: $white-two;
$pdp_cc_changelocation_icon: $black;
$pac_item: $grey-ash;
$pac_item_hover: $white-four;
$pdp_cc_top_stores_list: $grey-ash;
$pdp_cc_top_stores_list_border: $black;
$pdp_cc_top_stores_list_name: $black;
$pdp_cc_top_stores_list_time: $black;
$pdp_cc_other_stores: $marine-blue;
$pdp_cc_other_stores_mobile: $cerulean-two;
$pdp_all_stores_modal_bg: $white-five;
$pdp_all_stores_modal_border: $marine-blue;
$pdp_all_stores_modal_close_icon: $white-two;
$pdp_all_stores_modal_close_bg: $marine-blue;
$pdp_all_stores_modal_text: $grey-ash;
$pdp_all_stores_modal_list_border: $black;
$pdp_all_stores_modal_list_name: $blue-three;
$pdp_all_stores_modal_list_time: $black;
$pdp_skus_border: $whisper-dark;
$pdp_basic_wrapper_border: $white-five;
$pdp_error_text: $white-four;
$fake_apply_btn: $white-four;
$fake_apply_btn_border: $white-five;
$clear_btn_border: $whisper-dark;
$clear_btn_text: $whisper-dark;
$not_buyable_msg: $marine-blue;
$not_buyable_help: $cerulean-two;
$pdp_form_selection_error_text: $scarlet;

// Department page
$department_category_list_hover: $cerulean-two;
$department_category_accordion_title: $marine-blue-two;
$department_category_accordion_link: $grey-light;
$department_category_accordion_border: $warm-grey-two;
$department_category_accordion_title_arrow: $marine-blue-two;
$department_category_accordion_link_arrow: $warm-grey-two;

// Promo Blocks
$promo_link: $peacock-blue;
$promo_text: $grey-ash;
$promo_black_amperserif: $mothercare-black;
$promo_black_btn: $mothercare-black;
$promo_black_btn_text: $white-five;
$promo_white_amperserif: $white-five;
$promo_white_btn: $white-five;
$promo_white_btn_text: $mothercare-black;

// Store finder page.
// Store finder header form.
$store_finder_header: $black;
$store_finder_header_desktop: $marine-blue;
$store_finder_subheader: $marine-blue;
$store_finder_backbtn: $marine-blue-two;
$store_finder_icon: $cerulean-two;
$store_finder_text: $cerulean-two;
$store_finder_text_hover: $marine-blue;
$store_finder_border_hover: $marine-blue;
$store_finder_search_label: $grey-ash;
$store_finder_search_input: $white;
$store_finder_search_input_bg: $white-five;
$store_finder_search_input_mobile_border: $greyish;
$store_finder_search_input_border: $white;

// Store finder gloassary.
$store_finder_glossary_alphabet: $marine-blue;
$store_finder_glossary_text: $grey-ash;
$store_finder_glossary_icon: $black;
$store_finder_glossary_text_hover: $cerulean-two;
$store_finder_glossary_text_border: $white;
$store_finder_glossary_border: $greyish;
// Store finder search results.
$store_finder_search_results_label: $black;
$store_finder_search_results_counter_bg: $cerulean-two;
$store_finder_search_results_border: $white;
$store_finder_search_results_counter_text: $white-five;
$store_finder_search_results_tile_bg: $white-five;
$store_finder_search_results_tile_hover_bg: $white-four;
$store_finder_search_results_tile_link: $cerulean-two;
$store_finder_search_results_tile_icon: $cerulean-two;
$store_finder_search_results_hour_label: $cerulean-two;
$store_finder_search_results_hour_icon_open: $marine-blue-two;

// Checkout Pages & order summary block.
$order_summary_border: $greyish;
$order_summary_title: $black;
$order_summary_dropdown_icon: $black;
$order_summary_section_border: $white;
$order_summary_product_title: $black;
$order_summary_product_price: $black;

// Color for attributes and qty.
$order_summary_sec_text: $greyish;

// Color for delivery method and address.
$order_summary_ter_text: $grey-ash;

// Checkout Global.
$checkout_footer_bg: $white-five;
$checkout_footer_border-top: $marine-blue-two;
$checkout_footer_txt: $black;
$checkout_footer_light_txt: $grey-ash;
$checkout_header_border-bottom: $white-three;
$checkout_section_border: $greyish;
$checkout_section_titles: $marine-blue-two;
$checkout_section_title_border: $white;
$secure_checkout_back_link: $content_link_color;
$checkout_tab_active_head: $light-greyish;
$checkout_deliver_address_btn_txt: $white-five;
$checkout_default_address_border: $pumpkin-orange;
$checkout_default_address_bg: $pumpkin-orange;
$checkout_address_edit_link: $content_link_color;
$checkout_guest_button_bg: $white-five;
$checkout_guest_button_border: $marine-blue-two;
$checkout_guest_button_txt: $marine-blue-two;
$checkout_login_separtor: $white;
$checkout_login_separtor_txt_bg: $white-five;
$checkout_login_separtor_txt: $grey-ash;

// @todo Variables used in outdated markup, avoid using elsewhere.
$checkout_out_sec_text: $windows-blue;
$checkout_out_acc_header: $white-four;
$checkout_out_fieldset_legend: $peacock-blue;
$checkout_out_fieldset_legend_bottom_border: $greyish;
$checkout_out_btn: $white-four;

// Checkout Login page.
$checkout_login_footer_actions_bg: $white-four;
$checkout_login_content_mobile: $black;
$checkout_login_guest_email_text: $grey-ash;
$checkout_login_guest_email_text_mobile: $light-ash;
// Checkout Login page - Mobile tabs redesign.
$checkout_login_btn_bg: $primary_btn_bg;
$checkout_login_btn_txt: $primary_btn_text;
$checkout_login_returning_customer_btn_bg: $white-smoke-light;

// Checkout Click & collect.
$checkout_cc_list_map_link_default: $cerulean-two;
$checkout_cc_list_map_link_active: $marine-blue-two;
$checkout_cc_list_map_link_active_border: $marine-blue-two;
$checkout_cc_store_location_input_label: $grey-ash;
$checkout_cc_store_location_input_label_mobile_color: $marine-blue-two;
$checkout_cc_location_empty_txt: $grey-ash;
$checkout_cc_location_empty_txt_border: $greyish;
$checkout_cc_location_result_label: $black;
$checkout_cc_list_bg: $white-five;
$checkout_cc_list_bg_hover: $white-four;
$checkout_cc_list_border: $white-two;
$checkout_cc_list_select_store_btn_bg: $white-five;
$checkout_cc_list_select_store_btn_border: $marine-blue-two;
$checkout_cc_list_select_store_btn_txt: $marine-blue-two;
$checkout_cc_store_name: $black;
$checkout_cc_store_address: $greyish;
$checkout_cc_store_address_mobile_border: $black;
$checkout_cc_list_delivery_time_label: $black;
$checkout_cc_list_delivery_time: $black;
$checkout_cc_list_delivery_time_tablet: $marine-blue-two;
$checkout_cc_list_hours_label: $black;
$checkout_cc_list_hours_label_icon: $grey-ash;
$checkout_cc_list_hours_content: $greyish;
$checkout_cc_list_hours_content_tablet: $grey-ash;
$checkout_cc_map_hours: $grey-ash;
$checkout_cc_map_hours_tablet: $greyish;
$checkout_cc_map_hours_label: $black;
$checkout_cc_selected_store_content_border: $white-two;
$checkout_cc_selected_store_content_bg: $white-four;
$checkout_cc_help_text: $black;
$checkout_cc_help_text_content: $grey-ash;
$checkout_cc_empty_store_error: $scarlet;
$checkout_cc_near_me_border: $greyish;
$checkout_cc_tab_border: $greyish;

// Checkout click and collect heading cnc form.
$checkout_cc_cnc_form_title_border: $marine-blue-two;

// Checkout tabs & form.
$checkout_tab_bg: $white-five;
$checkout_tab_active_bg: $white-two;
$checkout_tab_default_title: $cerulean-two;
$checkout_tab_active_title: $marine-blue-two;
$checkout_tab_default_border: $light-greyish;
$checkout_tab_active_border: $greyish;
$checkout_tab_disabled_border: $light-greyish;
$checkout_tab_disabled_text: $light-greyish;
$checkout_tab_active_border_2: $marine-blue-two; // Probably outdated.
$checkout_tab_active_hr: $cerulean-two;
$checkout_form_actions_footer: $white-four;
$checkout_form_actions_footer_white: $white-five;
$checkout_tab_text_default: $black;
$checkout_tab_description: $grey-ash;
$checkout_tab_separator: $grey-ash;

// Checkout tabs mobile.
$checkout_tab_mob_active_bg: $white-five;
$checkout_tab_mob_active_border: $marine-blue-two;

// Checkout delivery options.
$checkout_delivery_optn_odd_row: $white-four;
$checkout_delivery_optn_shipping_method_title: $brownish-grey;

// Checkout Payment.
$checkout_payment_form_border: $greyish;
$checkout_payment_option_border: $white;
$checkout_payment_row_selected: $white-four;
$checkout_payment_row_default: $white-five;
$checkout_payment_row_hover: $white-four;
$checkout_payment_method_title: $brownish-grey;
$checkout_payment_method_icon_bg: $white;
$checkout_payment_method_desc: $grey-ash;
$checkout_payment_method_subtitle: $grey-light;
$checkout_payment_method_cod_desc: $grey-light;
$checkout_transaction_type_color: $marine-blue-two;
$checkout_payment_CVV_tooltip_image_bg: $white;
$checkout_payment_checkoutcom_border: $_instagram_dots_default;
$checkout_payment_checkoutcom_card_details: $grey-light;
$checkout_payment_checkoutcom_card_details_expiry: $black;
$checkout_payment_checkoutcom_new_option_text: $grey-ash;
$checkout_payment_checkoutcom_save_card_label: $grey-ash;
$checkout_payment_checkoutcom_save_card_help: $grey-ash;
$checkout_payment_checkoutcomcard_expired_label: $formitem_error_label;
$checkout_payment_checkoutcom_saved_card_warning: $grey-light;
$checkout_payment_cvv_help_text: $grey-light;

// Checkout Home delivery.
$checkout_hd_selected_add_wrapper_border: $white;
$checkout_hd_selected_add_bg: $white-four;

// Checkout HD or CC options screen for mobile.
$checkout_method_choice_tab_separator: $grey-ash;
$checkout_method_choice_tab_border_default: $greyish;
$checkout_method_choice_tab_text_default: $grey-ash;
$checkout_method_choice_tab_title_active: $cerulean-two;

// Checkout mobile back link.
$checkout_mobile_back_link_icon: $black;

// Checkout order confirmation.
$checkout_confirm_discount_row: $white-five;
$checkout_confirm_continue_shopping_bg: $white-five;
$checkout_confirm_continue_shopping_border: $marine-blue;
$checkout_confirm_order_summary_row: $pale-grey;
$checkout_confirm_order_summary_row_text: $cerulean-two;
$checkout_order_print_btn_bg: $white-five;
$checkout_order_print_btn_border: $marine-blue;
$checkout_order_details_label: $cerulean-two;
$checkout_order_details_product_count_border: $white-five;

// Address form.
$address_form_country_disabled: $ladda-disabled;
$address_form_radio: $windows-blue;
$address_form_default: $white-four;
$address_button_border: $marine-blue-two;
$address_button_text: $marine-blue-two;
$address_book_border: $white;
$user_ui_dialog_border: $white;
$address_book_delete_cancel: #3381d0;
$address_book_delete_close: $black;
$address_area_select: $grey-ash;

//My Account pages
$user_account_wrapper_light: $grey-ash;
$password_tooltip_list: $grey-ash;
$user_nav_link: $marine-blue-two;
$user_nav_mobile_title2: $black;
$user_nav_mobile_link: $grey-ash;
$user_order_list_text: $black;
$user_order_list_border: $whisper-dark;
$user_order_list_bg: $white-five;
$user_order_list_hover_bg: $white-four;
$user_order_list_hover_link_bg: $white-smoke;
$user_order_list_light: $greyish;
$user_order_list_dark: $black;
$user_order_help_text: $windows-blue;
$user_order_help_text_links: $user_order_help_text;
$user_order_help_bg: $pale-grey;

// User Form
$user_form_text: $black;
$user_form_error_label: $white-five;
$user_field_link: $cerulean-two;
$user_captcha: $greyish;
$user_pwd_input: $grey-ash;
$user_pwd_unmask: $greyish;
$user_account_nav: $matterhorn;
$my_account_nav: $primary_text;
$my_account_nav_active: $marine-blue;
$my_account_nav_hover: $content_link_color;
$user_form_layout_divider_color: $white;

//block-myaccountneedhelp
$myaccountneedhelp_text: $windows-blue;

//block-youllbeableto
$user_block_link: $cerulean-two;

// joinclubblock
$joinclubblock_title: $dark-sand;
$joinclubblock_text: $grey-ash;

// Privilege Card
$privilege_card_title: $dark-sand;
$privilege_card_subtitle: $greyish;
$privilege_card_form_label: $greyish;
$privilege_card_summary: $grey-ash;
$privilege_card_summary_after: $black;
$privilege_card_form_input: $black;
$privilege_card_form_input_placeholder: $grey-shade;
$privilege_card_form_error: $scarlet-two;

// Payment cards.
$payment_card_border: $warm-grey-two;
$payment_card_label: $black;
$payment_card_text: $black;
$payment_card_error: $red-error;
$payment_card_expired_notice: $mothercare-black;

//Address book
$address_pp_delete_closebtn: $white;

// Basket
$basket_page_title: $marine-blue-two;
$basket_sku_promo_link: $scarlet;
$basket_oos_tr_bg: $white-four;
$basket_oos_inline_txt: $cherry;
$basket_oos_inline_qty_border: $cherry;
$basket_img_border: $white;
$basket_img_bg: $white-five;
$basket_th_4th_child: $white-two;
$basket_continue_shopping_btn_border: $marine-blue-two;
$basket_continue_shopping_link: $content_link_color;
$basket_sell_hover_link: $content_link_color;
$basket_content_link_color: $cerulean-two;
$basket_available_code: $pumpkin-orange;
// Pri text is product title, price, etc.
$basket_td_pri_txt: $black;
// Sec text is Size, color, item code attributes.
$basket_td_sec_txt: $greyish;
$basket_item_bundle: $cerulean-two;
$basket_tooltip_not_available: $white;
$basket_promotion_input_border: $white;
$basket_remove_link: $cerulean-two;
$basket_horizontal_recommendation_slider_dots: $marine-blue-two;
// Basket top promotions.
$basket_fixed_percentage_inactive_header_promo_bg: $pumpkin-orange;
$basket_fixed_percentage_inactive_header_promo_txt: $white-five;
$basket_fixed_percentage_active_header_promo_bg: $white-five;
$basket_fixed_percentage_active_header_promo_txt: $pumpkin-orange;
$basket_free_delivery_inactive_header_promo_bg: $_algolia_search_icon_bg;
$basket_free_delivery_inactive_header_promo_txt: $white-five;
$basket_free_delivery_active_header_promo_bg: $white-five;
$basket_free_delivery_active_header_promo_txt: $_algolia_search_icon_bg;
$basket_active_promotion_icon: $white-five;
// Basket top OOS.
$basket_header_oos_bg: $cherry;
$basket_header_oos_txt: $white-four;
// Privilege card earn text only for the basket page.
$privilege_earn_txt: $grey-ash;
$basket_empty_message: $black;
$basket_vat_price_bg: $white-five;

// Contact Page
$webform_contact_legend: $marine-blue-two;

// Order detail, recent orders, order list page.
$order_recent_orders_product_title_elipsis_bg_hover: $white-smoke;
$order_detail_table_bg: $white-four;
$order_detail_td_light_content: $greyish;
$order_detail_td_dark_content: $black;
$order_detail_total_tr_row: $white-five;
$order_detail_total_tr_row_price_td: $white-four;
$order_detail_total_tr_row_price_td_tablet: $white-smoke-light;
$order_detail_delivery_details_row_border: $white-five;
$order_detail_delivery_details_row_bg: $solitude;
$order_detail_delivery_details_row_td_blend: $denim;
$order_detail_delivery_details_row_content: $windows-blue;
$order_detail_order_summary_row_bg: $white-smoke;
$order_detail_order_summary_row_td_blend: $whisper;
$order_detail_order_details_row: $pale-grey;
$order_detail_order_details_row_td_blend: $solitude;
$order_detail_warm_white: $white;
$order_search_form_icon: $whisper-dark;
$order_search_form_border: $whisper-dark;
$order_search_form_label: $black;
$order_search_form_label_mobile: $grey-ash;
$order_recent_orders_row_hover: $white-four;
$order_recent_order_order_detail_link: $windows-blue; // possibly old markup.
$order_recent_order_order_detail_link_bg: $whisper-light; // possibly old markup.
$order_recent_order_order_summary_bg: $white-five; // possibly old markup.
$order_no_orders_txt_mobile: $black;
$order_no_orders_txt: $brownish-grey;
$order_accordion_open_bg: $whisper-light;
$order_edit_account_link: $white-five;

// Order print.
$order_print_order_details_row_bg: $white-smoke-light;
$order_print_order_details_row_label: $grey-ash;
$order_print_order_details_row_bg_blend: $whisper-ash;
$order_print_product_count_row_border: $white-five;
$order_print_delivery_subtotal_row_blend: $white-four;
$order_print_total_row: $whisper-light;
$order_print_delivery_details_row: $white-smoke-light;
$order_print_dark_txt: $black;
$order_print_barcode: $grey-ash;

// Facet
$category_facet_active_icon: $windows-blue;
$category_facet_active_text: $brownish-grey;

// Block Alshaya ACM customer .block-alshaya-acm-customer
$block_acm_customer_txt: $windows-blue;

// Section divider
$section_divider_border: $black;
$section_divider_text: $black;
$section_divider_bg: $white-five;

// Free Gifts
$free-gifts-label: $scarlet;
$free-gifts-title-text: $grey-ash;
$free-gifts-coupon-code-text: $marine-blue;
$free-gifts-border: $marine-blue;
$free-gifts-text: $grey-ash;
$free-gifts-select-button-bg: $pumpkin-orange;
$free-gifts-modal-product-name: $black;
$free-gift-modal-item-code-border: $warm-grey-two;
$free-gifts-modal-product-description-label: $black;
$free-gifts-modal-product-item-code: $grey-light;
$free-gifts-modal-promo-list-title-color: $mothercare-black;
$cart-free-gifts-message: $grey-ash;
$cart-free-gifts-title: $grey-ash;
$cart-free-gifts-label: $white-five;
$cart-free-gifts-label-background: $marine-blue;
$cart-free-gifts-button-color: $white-five;

// Pace progress color
$progress_loader: $marine-blue;

// Social Auth
$social-network-text: $grey-ash;
$social-auth-bg: $white-five;
$social-auth-bg-hover: rgba(51, 51, 51, 0.06);
$social_auth_login_button_border: $grey-ash;
$user_login_sub_text: $grey-ash;
$user_login_link_btn_text: $grey-ash;
$user_login_section_title: $marine-blue;

// PDP Magazine layput
$colour-swatches-show-list-button: $mothercare-black;
$colour-swatches-simple-effect-bg: $grey-light-two;
$sizeguide-text: $mothercare-black;
$magazine-pdp-label: $mothercare-black;
$magazine-pdp-description: $grey-light;
$magazine-pdp-description-separator: $grey-light;
$magazine-pdp-description-first-color: $grey-light;

// PLP Maschino layout.
$plp-sub-menu-background-overlay: rgba(0, 0, 0, 0.5);
$plp-sub-menu-child-link: $_campaign-plp-style-1-menu-link;
$plp-sub-menu-heading-link: $_campaign-plp-style-1-menu-link;
$plp-sub-menu-child-link-active: $white-five;
$plp-sub-menu-heading-link-active: $white-five;
$plp-sub-menu-cls-btn-txt: $mothercare-black;
$plp-sub-menu-cls-btn-bg: $white-five;
$plp-machino-modal-content-bg: $white-five;
$plp-machino-modal-content: $black;
$plp-machino-modal-content-title: $mothercare-black;

// PDP Magazine layout social share popup
$sharethis-popup-bg: $white-five;
$sharethis-icon-bg: $mothercare-black;
$sharethis-label-color: $mothercare-black;
$sharethis-social-displaytext-color: rgba(0, 0, 0, 0.87);
$sharethis-border-color: $warm-grey-two;

// PLP Sub category block.
$plp_sub_cat_block_cat_title_hover: $cerulean-two;
$plp_sub_cat_block_cat_title: $black;
$plp_sub_cat_page_cat_title: $black;
$plp_sub_cat_page_cat_desc: $grey-light;
$plp_sub_cat_page_cat_separator: $warm-grey-two;
$panty_guide_sub_cat_title: $mothercare-black;

// Magazine article feature
$magazine-textarea-color: $grey-light;
$magazine-label-color: $matterhorn;
$magazine-article-title: $black;
$magazine-article-border-color: $warm-grey-two;
$magazine-article-read-more-bg-color: $grey-light-two;
$magazine-article-read-more-icon-color: $mothercare-black;
$magazine-article-primary-color: $white-five;
$magazine-article-back-to-feed: $black;
$magazine-article-title-overflow-shadow: $white-five;

// PLP LHN block.
$lhn_l2: $marine-blue;
$lhn_l3: $grey-ash;
$lhn_l4: $grey-ash;
$lhn_sticky-filter-background: $white-five;
$lhn_sticky-header-shadow: rgba(0, 0, 0, 0.24);
$lhn_sticky-header-desktop-shadow: rgba(26, 26, 26, 0.1);

//Algolia search bar.
$algolia-input-text: $marine-blue-two;
$algolia-input-placeholder-text: $grey-ash;
$algolia-input-border: $white;
$algolia-trending-title-text: $marine-blue;
$algolia-suggestion-text: $greyish;
$algolia-suggestion-border: $white-smoke-light;
$algolia-suggestion-input-popout-icon: $light-ash;
$algolia-dropdown-border: $black;
$algolia-dropdown-background: $white-five;
$algolia-search-icon: $white-five;
$algolia_sticky-header-shadow: rgba(0, 0, 0, 0.24);
$algolia-trending-title-border: $warm-grey-two;
$algolia-search-bar-background: $white-five;
$algolia-auto-complete-border: $light-blue-border;
$algolia-search-icon-background: $_algolia_search_icon_bg;
$algolia-input-text: $grey-ash;
$algolia-search-clear-text-icon: $_algolia_search_icon_bg;
$algolia-search-suggestion-hover-bg: $_algolia_suggestion_list_bg;
$algolia-react-progressbar: $warm-grey-two;
$algolia-react-progressbar-text: $brownish-grey;
$algolia-react-progressbar-fill: $marine-blue-two;
$algolia-react-search-page-title: $marine-blue;
$algolia-react-sidebar-label-color: $marine-blue-two;
$algolia_react-search_page_sidebar_count: $_algolia_search_page_sidebar_count;
$algolia_react-facet-item-color: $brownish-grey;
$algolia-react-highlighted-bg: $primary_btn_bg;
$algolia-react-highlighted-text: $primary_btn_text;

// Option list filter.
$options-page-title: $black;
$options-page-description: $black;
$divider-text: $black;
$attribute-description-text: $grey-light;
$divider-border: $white-two;
$divider-separator-border: $black;
$attribute-detail-link-text: $white-five;
$attribute-detail-link-background: $pumpkin-orange;
$attribute-filter-option-background: $white-five;
$attribute-filter-block-title: $peacock-blue;
$attribute-filter-header-container-background: $white-five;
$attribute-filter-group-heading-background: $white-smoke-light;
$options-list-autocomplete-form-background: $white-five;
$options-list-autocomplete-form-border: $light-blue-border;
$option-brand-logo-border: $light-blue-border;
$attribute-filter-name-list-text: $black;
$attribute-swatch-title-text: $white-five;
$options-list-heading-group-border: $white-two;
$option-list-search-icon-color: $white-five;
$option-list-search-icon-bg: $algolia-search-icon-background;
$option-list-search-placeholder-text: $marine-blue-two;

// Option list menu.
$option-list-menu-link: $grey-light;
$options-page-menu-title: $marine-blue-two;
$options-page-menu-title-background: $white-five;
$option-list-menu-link-border: $white;
$option-list-menu-background: $white-smoke-light;

// Megamenu inline layout.
$megamenu-inline-layout-active-border-color: $peacock-blue;
$megamenu-inline-layout-right-category-seperator: $white-two;

// App navigation links
$app-navigation-link-seperator-border: $white-smoke-light;

// Matchback Block.
$matchback_item_code_color: #777;
$matchback_cart_notification_bg: #f6f6f6;

// SPC
$spc-cart-background: $white-smoke-light;
$spc-cart-item-bg: $white-five;
$spc-cart-text-color: $grey-light;
$spc-product-title: $black;
$spc-totals-line-item-color: $black;
$spc-order-summary-totals-bg: $white-five;
$spc-order-summary-discount-text: $scarlet;
$spc-order-summary-hero-total-border: $warm-grey-two;
$spc-order-total-suffix-text: $grey-light;
$spc-checkout-error-message-background: $red-error;
$spc-checkout-error-message-color: $white-five;
$spc-checkout-success-message-background: $tealish;
$spc-checkout-success-message-color: $white-five;
$spc-cart-promo-code-submit-enabled: $primary_btn_bg;
$spc-cart-promo-code-text: $primary_btn_text;
$spc_tooltip_icon: $windows-blue;
$spc-tooltip-bg: $windows-blue;
$spc-tooltip-text: $white-five;
$spc-loader-text: $mothercare-black;
$spc-empty-text: $mothercare-black;
$spc-select-text: $black;
$spc-select-area-bg: $white-smoke-light;
$spc-select-arrow-bg: $white-two;
$spc-select-border: $white-two;
$spc-select-border-separator: $white;
$spc-select_bg: $white-five;
$spc-select_bg_hover: $white-four;
$spc-promotion-link: $_promotion_link;
$spc-product-attributes: $greyish;
$spc-promo-code-error: $_promo_code_error;
$spc-promo-code-success: $medium-green;
$spc-promo-code-bg: $white-five;
$spc-promo-code-border: $warm-grey-two;
$spc-recommended-product-promotion: $cherry;
$spc-cart-item-trash-icon: $warm-grey-two;
$spc-cart-item-trash-icon-hover: $marine-blue-two;

// SPC Checkout.
$spc-checkout-header-border: $_gray;
$spc-checkout-page-title-border: $greyish;
$spc-checkout-delivery-method-bg: $white-five;
$spc-checkout-radio-empty: $greyish;
$spc-checkout-radio-filled: $cerulean-two;
$spc-checkout-delivery-method-txt: $grey-light;
$spc-checkout-delivery-method-impress: $marine-blue-two;
$spc-checkout-delivery-info-txt: $marine-blue-two;
$spc-order-summary-product-area-bg: $_gray_1;
$spc-checkout-payment-method-bg: $white-five;
$spc-checkout-payment-method-txt: $marine-blue-two;
$spc-checkout-payment-method-desc: $grey-light;
$spc-checkout-terms-conditions: $grey-light;
$spc-checkout-terms-conditions-link: $cerulean-two;
$spc-checkout-close-icon: $marine-blue-two;
$spc-checkout-sidebar-bg: $white-smoke-light;
$spc-checkout-address-form-bg: $white-five;
$spc-input-label: $grey-light;
$spc-form-input: $black;
$spc-deliver-button: $marine-blue-two;
$spc-delivery-info-text: $grey-light;
$spc-delivery-customer-info-highlight: $marine-blue-two;
$spc-delivery-info-separator: $warm-grey-two;
$spc-checkout-add-new-address-bg: $white-five;
$spc-checkout-address-tile-bg: $white-five;
