/* *********Steps to add colors for new brand ************ */

// 1) Copy the color variables by going to Zeplin > Styleguide.
// 2) Paste them under section 1 under brand colors.
// 3) Copy the variables from section 2 onwards from alshaya_white_label > _color.scss file.
// 4) Map the variables copied from whitelabel with the color variables copied in section #1.

// ================================= //
// ------  TABLE of CONTENTS ------- //
// --------------------------------- //
// ------- 1. Brand Colors --------- //
// ------- 2. Primary color--------- //
// ------- 3. Secondary color  ----- //
// ------- 4. Tertiary Colors ------ //
// ------- 5. Components ----------- //
// ------- 6. Sections  ------------ //
// ------- 7. Pages ---------------- //
// ================================= //

/* ------- 1. Brand Colors ------- */
// Colors from Zeplin pallete for the site.
// $black: #000;
$black-two: #333;
$brownish-grey: #666;
$white-three: #ebebeb;
$cobalt-blue: #001b96;
$off-blue: #5482ab;
$tealish: #3ad6c5;
$slime-green: #94d400;
$maize: #f3cf45;
$rosy-pink: #f36682;
$deep-pink: #c90062;
$cherry: #c60c30;
$soft-blue: #6aade4;
$cerulean: #0080ce;
$dark-sand: #ac8e54;
$peacock-blue: #0060aa;
$windows-blue: #3680cb;
$very-light-blue: #d9efff;
$marine-blue: #003773;
$medium-green: #3ab549;
$tomato: #e6591a;
$grey-shade: #c1c1c1;
// Mothercare
$warm-grey: #9b9b9b;
$black: #333;
$white: #ebebeb;
$pumpkin-orange: #ff6d22;
$tealish: #3ad6c5;
$twilight-blue: #0e3e6f;
$cobalt-blue: #001b96;
$soft-blue: #6aade4;
$scarlet: #d0021b;
$off-blue: #5482ab;
$deep-pink: #c90062;
$maize: #f3cf45;
$rosy-pink: #f36682;
$slime-green: #94d400;
$cerulean: #0080ce;
$deep-red: #9a0000;
$scarlet-two: #d0011b;
$pinkish-tan: #dd8a8a;
$pale-grey: #e8eff5;
$tomato: #e6591a;
$medium-green: #3ab549;
// Mother care custom colors
$white-smoke: #f4f4f4;
$white-smoke-light: #f2f2f2;
$whisper: #ececec;
$whisper-light: #ebebeb;
$whisper-dark: #e5e5e5;
$whisper-ash: #ebedef;
$solitude: #e0eaf3;
$denim: #d7e5f0;
$light-greyish: #ccc;
$greyish: #adadad;
$white-four: #f7f7f7;
$grey-ash: #666;
$marine-blue-two: #003971;
$white: #ddd;
$white-two: #e5e5e5;
$white-five: #fff;
$matterhorn: #535353;
$cerulean-two: #0084cc;
$red-error: #d0011b;
$light-ash: #9c9c9c;
$alice-blue: #f0f6fc;
$shadow: #dae7ee;
$breadcrumb-active: #262626;
$blue-two: #03295e;
$blue-three: #032760;
$faun: #f9f8f6;
$message-info: #ffee9c;
$special-price: #b70025;
$ladda-disabled: #999;
$mothercare-black: #000;

/* ------- 2. Primary Colors ------- */
// Global elements.
$primary_bg: $white-five;
$body_bg: $primary_bg;
$content_pagetitle: $marine-blue;
$primary_text: $brownish-grey;
$primary_link: $marine-blue-two;
$primary_link-hover: $cerulean-two;
$primary_border: $white;

// Form elements.
$primary_input: $black-two;
$primary_input_label: $greyish;
$primary_input_border: $brownish-grey;
$primary_input_focus_border: $windows-blue;
$primary_input_inline_error: $scarlet-two;

//Buttons.
$primary_btn_bg: $pumpkin-orange;
$primary_btn_text: $white-five;
$primary_empty_btn: $black-two;
$primary_empty_btn_border: $black-two;

// Checkbox & Radio.
$primary_checkbox_empty: $brownish-grey;
$primary_checkbox_filled: $windows-blue;
$primary_radiobtn_empty: $greyish;
$primary_radiobtn_filled: $cerulean-two;

// Tables.
$primary_th_bg: $white-three;
$primary_th_bg_highlight: $whisper-dark;
$primary_td_highlight2: $white-three; // used on order total (basket).
$primary_th_bg_order_highlight: $pale-grey;
$primary_td_bg_highlight: $white-smoke-light;
$primary_td_bg: $white-five;
$primary_tr_hover: rgba(247, 247, 247, 0.72);
$primary_table_border: $white;

// Dropdown.
$primary_dropdown_bg:$white-five;
$primary_dropdown_arrow_bg: $whisper-dark;
$primary_dropdown_text: $brownish-grey;
$primary_dropdown_border: $whisper-dark;
$primary_dropdown_option_hover: $white-four;

/* ------- 3. Secondary color  ----- */
// Global elements.
$secondary_text: $black-two;
$secondary_btn_text: $marine-blue;
$secondary_btn_border: $marine-blue;
$secondary_border: $black-two;
$secondary_link: $marine-blue;

/* ------- 4. Tertiary Colors ------- */
$tertiary_btn_text: $white-five;
$tertiary_btn_border: $cerulean-two;

/* ------- 5. Components --------------- */
// Counters.
$primary_counter_bg: $marine-blue;
$primary_counter_text: $white-five;
$secondary_counter_bg: $cerulean-two;
$secondary_counter_text: $white-five;
$tertiary_counter_bg: $marine-blue;
$tertiary_counter_text: $white-five;
$tertiary_counter_border: $greyish;

// Titles.
$pag_title: $marine-blue;
$block_title: $marine-blue;

// Error
$content_error_msg_bg: $cherry;
$content_error_msg_text: $white-five;

// Out of stock button.
$oos_btn_bg: $cherry;
$oos_btn_text: $white-five;

// Tooltip
$tooltip_bg: $alice-blue;
$tooltip_text: $cerulean-two;
$tooltip_border: $cerulean-two;

// Back to top
$btt_bg: $white-three;
$btt_hover_text: $brownish-grey;
$btt_text: $black;

// Breadcrumb.
$breadcrumb_bg: $white-four;
$breadcrumb_link: $greyish;
$breadcrumb_link_hover: $greyish;
$breadcrumb_link_active: $breadcrumb-active;

// Accordion
$accordion_border: $white;
$accordion_border: $grey-ash;

// Cloudzoom
$cloudzoom_hovertext: $brownish-grey;
$cloudzoom_zoombox_border: $white;

// Mobile Gallery
$gallery_subtext_bg: $black-two;
$gallery_subtext: $white-five;
$gallery_arrows_bg: $white-five;
$gallery_arrows: $black;
$gallery_arrows_border: $black;
$gallery_arrows_disabled: $white;
$gallery_pager_border: $marine-blue-two;
$gallery_pager_bg: $white-five;
$gallery_pager_active_bg: $marine-blue-two;

/* ------- 6. Sections and Pages --------------- */

// Header.
$primary_topheader_bg: $white-four;
$primary_topheader_ink: $marine-blue-two;

// Header - Search.
$primary_search_btn: $marine-blue;
$primary_search_btn_icon: $marine-blue;
$primary_search_input: $brownish-grey;
$primary_search_input_placeholder: $brownish-grey;
$primary_search_border: $white;
$primary_search_result_hover: $white-smoke-light;

//  Mini Cart.
$primary_minicart_text: $black-two;
$primary_minicart_quantity_text: $white-five;
$primary_minicart_quantity_bg: $pumpkin-orange;

// Notification popup.
$minicart_notification_bg: $white-five;
$minicart_notification_border: $pumpkin-orange;
$minicart_notification_shadow: $whisper-dark;
$minicart_notification_name: $brownish-grey;
$minicart_notification_text: $pumpkin-orange;
$minicart_notification_btn_bg: $pumpkin-orange;
$minicart_notification_btn_text: $white-five;

// Mega menu.
$mm_l1_link: $black-two;
$mm_l1_link_hover: $marine-blue;
$mm_l1_link_active_border: $marine-blue;
$mm_l2_link: $marine-blue;
$mm_l3_link: $brownish-grey;
$mm_l3_link_hover: $cerulean-two;
$mm_highlight_label: $marine-blue;

// Delivery tabs.
$deliverybanner_title: $cerulean-two;
$deliverybanner_subtitle: $cerulean-two;
$deliverybanner_border: $cerulean-two;
$deliverybanner_shadow: $shadow;

//3. Footer
$footer_bg: $white-five;
$footer_border_top: $peacock-blue;
$footer_title_h3: $marine-blue-two;
$footer_link: $brownish-grey;
$footer_link_hover: $cerulean-two;

//1. Copyright
$copyright_footer_bg: $white-four;
$copyright_footer_text: $black-two;

//7. Newsletter-signup
$newsletter_title_h3: $marine-blue-two;
$newsletter_block_text: $brownish-grey;
$newsletter_input_placeholder: $greyish;
$newsletter_input_border: $marine-blue-two;
$newsletter_submit_btn: $marine-blue-two;
$newsletter_submit_btn_text: $white-five;

// Checkout Progress.
$checkout_seperator: $greyish;
$checkout_progress_complete: $cerulean-two;
$checkout_progress_complete_text: $cerulean-two;
$checkout_progress_text: $greyish;
$checkout_progress_current_text: $black-two;
// @todo: My account priv card content block.

/* ------- 7. Pages ----- */
// Product listing page and search page.
$plp_category_desc: $cerulean-two;
$plp_search_count: $black-two;
$plp_sort_by_label: $brownish-grey;
$plp_facet_filter_label: $black-two;
$plp_facet_title: $brownish-grey;
$plp_facet_border: $white;

// PLP Filter bar.
$plp_filterbar_filter_bg: $cerulean-two;
$plp_filterbar_filter_text: $white-five;
$plp_filterbar_filter_clear: $white-five;
$plp_filterbar_clearall_border: $cerulean-two;
$plp_filterbar_clearall_text: $cerulean-two;

// PLP Product tile.
$plp_tile_product_title: $brownish-grey;
$plp_tile_product_title_hover: $cerulean-two;
$plp_tile_product_price: $black-two;
$plp_tile_product_special_price: $scarlet;
$plp_tile_product_discount_label: $scarlet;
$plp_tile_product_hover_border: $greyish;
$plp_tile_product_hover_shadow: $white-three;

// PLP Product title hover.
$plp_tile_hover_slider_hover: $brownish-grey;
$plp_tile_hover_slider_nav: $brownish-grey;
$plp_tile_hover_slider_nav_hover: $brownish-grey;

// Product detail page.
$pdp_product_title: $brownish-grey;
$pdp_product_price: $black-two;
$pdp_product_special_price: $scarlet;
$pdp_product_discount_text: $scarlet;
$pdp_product_itemcode: $brownish-grey;
$pdp_title_section_border: $white;

// Product Add to cart form.
$pdp_sizeguide_link: $windows-blue;
$pdp_form_item_label: $windows-blue;
$pdp_size_selected_text: $black-two;
$pdp_size_option_bg: $marine-blue;
$pdp_size_option_border: $marine-blue;
$pdp_size_option_text: $marine-blue;
$pdp_size_option_selected_text: $white-five;
$pdp_size_option_selected_bg: $marine-blue;
$pdp_size_option_text_hover : $white-five;
$pdp_size_option_bg_hover: $marine-blue;

// Store finder page.
// Store finder header form.
$store_finder_nearme_icon: $cerulean-two;
$store_finder_nearme_text: $cerulean-two;
$store_finder_search_label: $brownish-grey;
$store_finder_search_input: $white;
$store_finder_search_input_border: $white;
$store_finder_mapview_text: $cerulean-two;
$store_finder_mapview_border: $cerulean-two;
$store_finder_mapview_hover_text: $marine-blue;
$store_finder_mapview_hover_border: $marine-blue;
$store_finder_listview_text: $cerulean-two;
$store_finder_listview_border: $cerulean-two;
$store_finder_listview_hover_text: $marine-blue;
$store_finder_listview_hover_border: $marine-blue;

// Store finder gloassary.
$store_finder_glossary_alphabet: $marine-blue;
$store_finder_glossary_text: $brownish-grey;
$store_finder_glossary_link: $marine-blue;
// Store finder search results.
$store_finder_search_results_label: $black-two;
$store_finder_search_results_counter_bg: $cerulean-two;
$store_finder_search_results_counter_text: $white-five;
$store_finder_search_results_tile_bg: $white-five;
$store_finder_search_results_tile_hover_bg: $white-four;
$store_finder_search_results_tile_link: $cerulean-two;
$store_finder_search_results_tile_icon: $cerulean-two;

// Checkout Pages.
$order_summary_border: $greyish;
$checkout_footer_bg: $white-five;
$checkout_footer_border-top: $marine-blue-two;

//  Checkout Confirmation.
$checkout_confirmation_delivery_details: $white-smoke-light;
$checkout_confirmation_table_pm_highlight: $solitude;

//My Account pages
//block-myaccountneedhelp
$myaccountneedhelp_bg: $pale-grey;
$myaccountneedhelp_text: $windows-blue;
//block-youllbeableto
$youllbeableto_title: $marine-blue;
$youllbeableto_text: $brownish-grey;
$youllbeableto_link: $cerulean-two;
// joinclubblock
$joinclubblock_title: $dark-sand;
$joinclubblock_text: $brownish-grey;
$joinclubblock_link: $cerulean-two;

//Address book
$address_tile_bg: $white-five;
$address_tile_selected_bg: $white-four;
$address_tile_label: $brownish-grey;
$address_tile_content: $black-two;
$address_tile_radio_label: $black-two;
$address_tile_selected_radio_label: $brownish-grey;
$address_pp_delete_title: $marine-blue;
$address_pp_delete_closebtn: $white;
$address_pp_delete_closebtn_icon: $black-two;
