{% if mainImage.class is not empty %}
<div class="alshaya_search_gallery {{ mainImage.class }}">
{% else %}
<div class="alshaya_search_gallery">
{% endif %}
	{% if mainImage %}
		<div class="alshaya_search_mainimage">
			{{ mainImage }}
		</div>
	{% endif %}
	{% if hoverImage %}
		<div class="alshaya_search_hoverimage">
			{{ hoverImage }}
		</div>
	{% endif %}
</div>