<div class="non-refundable--tooltip-wrapper">
  <div class="tooltip--wrap">
    <p class="non-refundable--text">
      {{ text }}
    </p>
    {% if tooltip %}
      <p class="tooltip">
        {{ tooltip }}
      </p>
    {% endif %}
  </div>
</div>
