<div class="non-refundable--wrapper">
  <div class="contains--tooltip">
    <p class="tooltip">
      {{ tooltip }}
    <p>
    <p class="non-refundable--text">
      {{ text }}
    </p>
  </div>
</div>
