<div class="non-refundable--tooltip-wrapper">
  <div class="tooltip--wrap">
    <p class="non-refundable--text">
      {{ text }}
    </p>
    <p class="tooltip">
      {{ tooltip }}
    </p>
  </div>
</div>
