<div class="pdp-description-accordion {{ class|clean_class }}">
  <h3 class="c-accordion__title">
    {% if title %}
      {{ title }}
    {% endif %}
  </h3>
  <div class="c-accordion_content">
    {{ text }}
  </div>
</div>
