<div class="warning-wrapper">
	{% if warning is not empty %}
		<div class="warning-label">
			{% trans %} safety warning {% endtrans %}
		</div>
		<div class="warning-value">
			{{ warning }}
		</div>
	{% endif %}
</div>
