<div class="material-wrapper">
  {% if material is not empty %}
    <div class="material-label">
      {% trans %} material {% endtrans %}
    </div>
    <div class="material-value">
      <p>{{ material }}</p>
    </div>
  {% endif %}
</div>
