{% if composition is not empty %}
  <div class="composition-wrapper">
    <div class="composition-label">
      {% trans %} composition {% endtrans %}
    </div>
    <div class="composition-value">
      {{ composition }}
    </div>
  </div>
{% endif %}
