{% if final_price %}
  <div class="has--special--price">
{% else %}
  <div class="price">
{% endif %}
  {{ price }}
</div>

{% if final_price %}
  <div class="special--price">
    {{ final_price }}
  </div>

  {% if discount|render is not empty %}
    <div class="price--discount">
      ({{ discount }})
    </div>
  {% endif %}
{% endif %}
