{% if warning is not empty %}
  <div class="warning-wrapper">
		<div class="warning-label">
			{% trans %} safety warning {% endtrans %}
		</div>
		<div class="warning-value">
			{{ warning }}
		</div>
  </div>
{% endif %}
