{% if article_description is not empty %}
  <div class="article-description-wrapper">
    <div class="article-description-label">{{ title }}</div>
    <div class="article-description-value">{{ article_description }}</div>
  </div>
{% endif %}
