{% if composition is not empty %}
  <div class="composition-wrapper">
    <div class="composition-label">{{ title }}</div>
    <div class="composition-value">
      {{ composition }}
    </div>
  </div>
{% endif %}
