.aggregate-rating {
  > span {
    a {
      font-family: $hnm-regular;
    }
  }
}

.star-ratings-wrapper {
  .inline-star {
    top: 0.125rem;

    .icon-ic_ratingfull {
      @include icon(rating-filled) {
        font-size: 1.5rem;
      }
    }

    .icon-ic_rating {
      @include icon(rating-empty) {
        font-size: 1.5rem;
      }
    }

    .star-ratings-front,
    .star-ratings-back {
      span {
        padding: 0;
      }
    }
  }
}

.review-detail-right {
  .inline-star {
    .star-ratings-front,
    .star-ratings-back {
      .icon-ic_ratingfull,
      .icon-ic_rating {
        &::before {
          font-size: 2rem;
        }
      }
    }
  }
}
