#reviews-section {
  .review {
    &-feedback {
      &-comment {
        button {
          text-transform: uppercase;
          font-family: $hnm-demibold;
        }
      }
    }

    &-comment-form {
      button {
        text-transform: uppercase;
      }
    }

    &-title {
      font-family: $hnm-regular;
    }
  }
}
