.path--cart {
  #table-cart-items {
    table tr {
      td {
        @include breakpoint($upto-tablet) {
          .dark {
            font-weight: normal;
          }
        }
      }
    }

    .quantity .ajax-progress-throbber {
      .throbber {
        background-image: url(../imgs/icons/ic-loader.svg) !important;
      }
    }
  }

  .customer-cart-form {
    .price-currency.prefix,
    .price-currency.suffix {
      font-family: $hnm-regular;
    }

    .dark {
      color: $primary_dark_color;
    }

    .item-code {
      font-family: $hnm-regular;
    }
  }

  .contains--tooltip {
    .tooltip {
      font-family: $hnm-regular;
      top: 1.6rem;
      border: 1px solid $tooltip_border;
      margin: 0;

      @include breakpoint($only-tablet) {
        html[lang=ar] & {
          top: 1.6rem;
          #{$left}: -4.3rem;
        }
      }

      @include breakpoint($desktop) {
        #{$left}: 0.95rem;
      }

      @include breakpoint($only-mobile) {
        #{$left}: -3.5rem;
      }
    }
  }

  .tooltip--head {
    font-family: $hnm-regular;
    color: $tooltip_text;

    @include icon(info, after) {
      color: $tooltip_icon;
    }

    &.not-available {
      color: $basket_tooltip_not_available;

      &::after {
        color: $basket_tooltip_not_available;
      }
    }
  }

  .tooltip::after {
    @extend %tooltip-after;

    border-bottom-color: $tooltip_border_2;
    border-bottom-width: 0.4375rem;
    bottom: calc(100% + -1px);
  }

  .tooltip::before {
    @extend %tooltip-before;

    border-bottom-color: $tooltip_border;
  }
}

.card__header,
.privilege-card-wrapper-title {
  font-family: $hnm-regular;
  color: $privilege_card_title;

  @include icon(dropdown-expand, after) {
    #{$right}: 0.3125rem;
    color: $myaccount_icon;
    font-size: 2.4rem;
  }

  &.ui-state-active {
    @include icon(dropdown-collapse, after);
  }
}

.free-shipping-message-wrapper {
  margin-bottom: 1.3rem;
}

.promo-continue-shopping-wrapper {
  label {
    color: $primary_input_label_hnm;
  }

  .coupon-code-wrapper,
  #details-privilege-card-wrapper {
    .form-item-privilege-card-number,
    .form-item-privilege-card-number2 {
      .ajax-progress-throbber {
        .throbber {
          background-image: url(../imgs/icons/ic-loader.svg) !important;
        }
      }
    }
  }

  #coupon-button {
    &.add {
      @include arabic-letter-spacing;

      font-family: $hnm-bold;
      text-transform: uppercase;
      background: $basket_free_delivery_inactive_header_promo_bg;
      color: $basket_free_delivery_inactive_header_promo_txt;
      font-size: 0.8125rem;
      letter-spacing: 1px;
    }

    &.remove {
      color: $basket_free_delivery_inactive_header_promo_bg;
      font-family: $hnm-bold;
    }
  }
}

.block-basket-horizontal-recommendation {
  & > h3 {
    @include arabic-letter-spacing;

    color: $basket_block_title;
    font-family: $hnm-demibold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

    @include breakpoint($tablet) {
      text-align: center;
    }
  }

  .view-product-slider {
    .owl-carousel .owl-item img {
      max-height: unset;
    }

    .owl-dots .owl-dot {
      color: $sell_owl_dots;
    }
  }

  .view-product-slider {
    .views-row {
      min-height: 18.75rem;
    }

    .no-cart-form .views-row {
      min-height: auto;
    }
  }
}

.cart-promotions-wrapper {
  @include arabic-letter-spacing;

  .continue-shopping a {
    font-family: $hnm-bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: $basket_promo_wrapper_link;
  }
}

.inline-stock-error {
  font-family: $hnm-regular;
  font-weight: normal;
}

#table-cart-totals {
  .price-wrapper {
    .price-amount {
      font-family: $hnm-regular-nodir;
    }
  }

  .price-currency {
    float: left !important;
    padding: inherit;

    html[lang=ar] & {
      padding: 0;
    }
  }
}

html[lang=ar] {
  #table-cart-totals {
    .price-currency {
      @include breakpoint($only-mobile) {
        padding-right: 0.5rem;
      }
    }

    .price-amount {
      margin-left: 0.9rem;
    }
  }

  .alias--cart {
    .tooltip--head {
      &.not-available {
        color: $basket_tooltip_not_available;

        &::after {
          color: $basket_tooltip_not_available;
        }
      }
    }

    #table-cart-items {
      tr {
        td {
          @include breakpoint($tablet) {
            padding: 1.9rem 1rem;
          }
        }
      }
    }
  }
}

html[lang=ar] {
  .customer-cart-form .price-currency.suffix {
    @include breakpoint($only-tablet) {
      margin-right: 0.25rem;
    }
  }
}

.messages.messages--status {
  font-family: $hnm-regular;
}

.continue-shopping {
  @include breakpoint($desktop) {
    #{$right}: 23.5%;
  }

  a {
    color: $basket_continue_shopping_btn;
    font-size: 0.75rem;
  }
}

#block-baskethorizontalproductrecommendation {
  .owl-item a.above-mobile-block:hover .c-products__item__label {
    color: $basket_block_title;
  }
}

html[lang=ar] {
  .customer-cart-form {
    td.name,
    td.price {
      .price--discount {
        .discount-prefix {
          font-family: $hnm-regular;
        }
      }
    }
  }
}

.mobile-number-field .country-select .prefix {
  width: 2.6875rem;
}

.alias--cart #table-cart-totals tr:nth-child(2) td:first-child span {
  font-size: 0.75rem;
  display: block;
}
