#block-checkoutprogress,
.block-acm-checkout-progress {
  .checkout-progress {
    @include breakpoint($desktop) {
      padding: 0.2rem 0 0;
      padding-#{$left}: 1.313rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  .checkout-progress__step {
    font-family: $hnm-regular;

    html[lang=ar] & {
      font-family: $hnm-regular;
    }

    &.-complete.-previous.-has-link a {
      color: $secondary_link;
    }

    &::before {
      font-family: $hnm-regular-nodir;
    }

    &::after {
      border: 1px solid $secondary_border;
      border-bottom: 1px;
    }
  }

  .checkout-progress__step.-next {
    color: $checkout_progress_next;
  }

  .checkout-progress__step.-current {
    background: transparent;
    color: $secondary_link;
    font-weight: normal;
    font-family: $hnm-demibold;

    &::before {
      background: $checkout_progress_current_text;
    }
  }

  .checkout-progress__step.-previous,
  .checkout-progress__step:last-child.-current {
    background: transparent;
    color: $checkout_progress_current_text;

    &::before {
      color: $checkout_progress_current_text;
    }
  }
}

.order-confirmation {
  .checkout-progress__step:last-child.-current {
    color: $checkout_progress_next_txt;
    font-family: $hnm-demibold;
  }

  .checkout-progress__step.-previous {
    color: $checkout_progress_complete_text;
  }
}

#block-checkoutsummaryblock {
  border: 1px solid $secondary_border;
}
