.user-page.checkout-delivery.checkout-payment {
  .multistep-checkout {
    @include breakpoint($tablet) {
      border: 1px solid $secondary_border;
      border-top: 1px solid $secondary_border !important;
    }
  }
}

.checkout-delivery.checkout-payment .address_wrapper > .billing-address-title {
  font-family: $hnm-demibold;
  font-weight: normal;
  color: $title;
}

#edit-billing-address-address:empty {
  margin-top: 0;
}

#edit-billing-address {
  .mobile-input--wrapper {
    .form-item-billing-address-address-billing-mobile-number-mobile {
      label.error {
        position: absolute;
        top: 2.25rem;
        #{$left}: 0;
        padding-top: 0.375rem;
        margin-top: -0.1875rem;
      }
    }
  }

  .fieldset-wrapper {
    padding: 1.375rem;
    color: $title;
    font-size: 0.875rem;
  }

  .js-form-type-radio {
    @include u-visibility(inline-block);

    @include breakpoint($only-mobile) {
      margin-top: 1.5rem;
    }

    input[type=radio]:checked ~ label {
      color: $primary_input;
    }

    label.option {
      padding-#{$left}: 2.5rem;
      font-size: 0.875rem;

      &::before {
        position: absolute;
        #{$left}: 0;
        top: -0.6875rem;
      }

      @include breakpoint($only-mobile) {
        padding-#{$left}: 2rem;

        &::before {
          #{$left}: -0.8125rem;
        }
      }

      @include breakpoint($only-tablet) {
        &::before {
          #{$left}: -0.75rem;
        }
      }
    }
  }
}

#edit-checkout-terms {
  a {
    color: $content_link_color;
    text-decoration: underline;
    font-family: $hnm-demibold;
  }

  .form-type-checkbox {
    .option {
      &::before {
        position: absolute;
        #{$left}: 0;

        @include breakpoint($only-mobile) {
          #{$left}: -1rem;
          font-size: 1.5rem;
          padding: 0;
        }
      }
    }

    p {
      color: $checkout_payment_text;
      padding-#{$left}: 2rem;
    }
  }
}

#payment_details {
  #payment_method_cybersource & {
    background: $checkout_payment_method_bg;
    border: 1px solid $checkout_payment_method_border;
    border-top: none;

    @include breakpoint($mobile) {
      padding: 1rem;
    }
  }

  .cc_cvv_help_text {
    color: $checkout_payment_help;
    font-size: 0.75rem;
    width: 52%;

    @include breakpoint($only-tablet) {
      html[lang=ar] & {
        #{$left}: 56%;
      }
    }

    &::before {
      background: $checkout_payment_method_border url(../imgs/cards/back-card.png) no-repeat;
      background-size: 100%;
    }
  }
}

.cvv-wrapper {
  .cvv-help-text-wrapper {
    .mobile-tooltip-icon {
      .tooltip-icon {
        color: $tooltip_text;

        @include icon(infomation, after) {
          font-size: 1.25rem;
        }
      }

      span.tooltip-content {
        top: 1.84rem;
        #{$left}: -7.2rem;
      }
    }
  }
}

.checkout-payment {
  #edit-checkout-terms {
    .form-type-checkbox {
      .option::before {
        @include breakpoint($upto-tablet) {
          #{$left}: 0;
        }
      }
    }
  }

  form.multistep-checkout {
    .messages__wrapper {
      @include breakpoint($tablet) {
        border-top: none;

        + #edit-acm-payment-methods {
          #payment_details_wrapper {
            > div:first-child {
              border-top: none;
            }
          }
        }
      }
    }
  }
}
