.checkout-login-separator,
.login-separator {
  > span {
    @include breakpoint($only-mobile) {
      font-family: $hnm-demibold !important;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      background-color: $seashell_grey;
      color: $hnm-black-three;
    }
  }
}

#edit-checkout-social-auth,
#edit-checkout-guest,
#edit-checkout-login {
  .fieldset-legend {
    text-transform: none;
    display: inline-block;
  }

  .fieldset-legend::first-letter {
    text-transform: uppercase;
  }
}

.block-alshaya-signup-signin-buttons {
  .sub-text {
    font-size: 0.8125rem;
    color: $hnm-black-three;
  }

  .link-button {
    border-color: $hnm-black-three;

    span {
      font-size: 0.8125rem;
      color: $hnm-black-three;
    }

    &:hover {
      background-color: unset;
    }

    &::before {
      background: url('../imgs/icons/profile-icon.svg') no-repeat center;
    }
  }

  .sub-text::first-letter,
  .link-button span::first-letter {
    text-transform: uppercase;
  }
}

.alias--cart-checkout-login {
  #edit-checkout-guest {
    #edit-checkout-guest-checkout-as-guest {
      font-family: $alshaya-thin;
      letter-spacing: 1px;
    }
  }
}

.c-user-login,
.c-user-register {
  .section-title {
    font-family: $hnm-demibold;
    color: $hnm-black-three;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
