.block-alshaya-options-list-menu .options-page-menu-list a {
  @include fullWidthSideSpaces(
    $is_desktop: true,
    $is_desktop_wide: true,
    $side: $right,
  );
}

.filter-fixed-top {
  .static-minicart-wrapper {
    .quantity {
      @include breakpoint($desktop) {
        html[lang="en"] & {
          left: 0;
        }

        html[lang="ar"] & {
          right: rem(-10);
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .block-alshaya-algolia-react-autocomplete {
    #alshaya-algolia-autocomplete {
      // Center aligning the search block.
      margin: 0 auto;
    }
  }

  .block-system-branding-block .site-brand-home img {
    html[lang="ar"] & {
      margin-right: 0;
    }
  }
}
