.cod-mobile-otp {
  position: relative;

  &__text-wrapper {
    margin-top: rem(20);
    font-size: rem(14);
  }

  &__text {
    color: $spc-checkout-cod-otp-secondary;
  }

  &__mobile {
    display: inline-block;

    &-number {
      color: $spc-checkout-cod-otp-secondary;
      display: inline-block;
    }

    &-change {
      text-decoration: underline;
      color: $spc-checkout-cod-otp-primary;
      background: none;
      border: none;
      margin-#{$left}: rem(8);
      padding: 0;
    }
  }

  &__form {
    margin-top: rem(52);
  }

  &__field {
    & > input[type="tel"] {
      width: 100% !important;
      border-color: $spc-checkout-cod-otp-secondary !important;
      padding: rem(5) 0 !important;
      font-size: rem(18);

      &:focus {
        border-color: $spc-checkout-cod-otp-primary !important;
      }

      &:disabled {
        background: none;
        cursor: not-allowed;
      }
    }

    &.error {
      padding-top: 0;

      & > input[type="tel"] {
        color: $cod-otp-field-invalid !important;
        border-color: $cod-otp-field-invalid !important;
      }
    }

    &.cod_otp_verified {
      & > input[type="tel"] {
        color: $cod-otp-success !important;
        border-color: $cod-otp-success !important;
      }
    }
  }

  &__controls {
    margin: rem(32) auto rem(20);
    display: flex;
  }

  &__resend {
    text-align: center;
    font-size: rem(14);
    color: $spc-checkout-cod-otp-secondary;

    & > div {
      display: inline-block;
      margin-#{$left}: rem(8);
      font-family: $alshaya-thin !important;
      font-size: rem(14) !important;
      line-height: normal !important;
      color: $spc-checkout-cod-otp-primary !important;
      text-decoration: underline;

      & > span {
        & > span {
          display: none;
        }
      }

      & > button {
        text-decoration: underline;
        font-size: rem(14) !important;
        line-height: normal !important;
        color: $spc-checkout-cod-otp-primary !important;
        background: none !important;
        border: none !important;
        padding: 0;
      }
    }
  }

  &__submit {
    border: none;
    background: $spc-checkout-cod-otp-primary;
    color: $primary_btn_text;
    font-family: $alshaya-bold;
    font-size: rem(16);
    line-height: 1.13;
    letter-spacing: rem(1.14);
    text-transform: uppercase;

    &:disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    &.cod_otp_verified {
      background: $cod-otp-success;
    }
  }

  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $cod-otp-loader-overlay;
    z-index: 2;

    .loader-icon {
      background: url("#{$base_theme_loader_img_directory_path}") center/contain no-repeat;
      width: rem(48);
      height: rem(48);
    }
  }

  @include breakpoint($only-mobile) {
    margin-#{$right}: rem(28);

    &__field {
      &:not(:last-child) {
        margin-#{$right}: rem(10);
      }
    }

    &__controls {
      flex-direction: column;
    }

    &__resend {
      & > div {
        width: rem(50);
        text-align: $left;
        white-space: nowrap;
      }
    }

    &__submit {
      margin-top: rem(26);
      padding: rem(14);
    }
  }

  @include breakpoint($tablet) {
    &__text-wrapper {
      margin-top: rem(21);
    }

    &__mobile {
      margin-#{$left}: rem(4);
    }

    &__field {
      margin-#{$right}: rem(15);

      & > input[type="tel"] {
        padding: rem(6) 0 !important;
        font-size: rem(20);
      }
    }

    &__controls {
      margin: rem(70) auto rem(12);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__submit {
      padding: rem(12);
      width: rem(162);
    }
  }
}
