<div class="acq-mini-cart">
  {% if quantity > 0 and total %}
    <a class="cart-link-total" href="{{ url('acq_cart.cart') }}">{{ total }}</a>
  {% endif %}
  <a class="cart-link" href="{{ url('acq_cart.cart') }}">
    {% if quantity > 0 %}
      <span class="quantity">{{ quantity }}</span>
    {% endif %}
  </a>
</div>
