<div class="aura-main-menu-user account--logged_in one">
  <div class="aura-general-pages">
    <div>
      <span class="name"></span>
    </div>
    <div>
      <span class="badge hidden"></span>
      <span class="points hidden"></span>
    </div>
  </div>
</div>
