<div class="aura-logged-in-rewards-header hidden">
  <!-- @TODO Replace url with loyalty page route: Eg. {{ url('user.login') }} -->
  <a href="#" class="aura-loyalty-page-link">
    <span class="badge"></span>
    <span class="name mobile-only-block"></span>
    <span class="points"></span>
  </a>
</div>
<div class="aura-my-account-rewards-header desktop-only-block hidden">
  <!-- @TODO Replace url with loyalty page route: Eg. {{ url('user.login') }} -->
  <a href="#" class="">
    My Aura
  </a>
</div>
