<div class="pending-full-enrollment-wrapper">
  <div class="aura-logo">
    AURA logo placeholder
  </div>
  <div class="pending-full-enrollment-description">
    <div class="title">
      {{ 'Over 70 of the worlds best loved brands'|t }}
    </div>
    <div class="description">
      <p>
        {{ 'Congrats! You are now part of exclusive Aura rewards club. You will now earn points as you purchase AEO retail & online shops.'|t }}
      </p>
      <p>
        {{ 'To redeem your points online, we need you to provide us more details. Please download Aura app to complete your full enrollment.'|t }}
      </p>
      <div class="app-store-links">
        <span> APP Store logo placeholder </span>
        <span> Google Store logo placeholder </span>
      </div>
    </div>
  </div>
</div>