.non-groupped-attr {
  .select-attribute {
    a {
      width: 2.375rem;
      height: 2.375rem;
    }

    @include breakpoint($only-mobile) {
      padding-top: 0.3125rem;
    }

    @include breakpoint($tablet) {
      li {
        width: 2.375rem;
        height: 2.375rem;
        margin-#{$right}: 0.5rem;
      }
    }
  }
}
