@font-face {
  font-family: 'font-icons';
  src: url('../../../fonts/font-icons.eot?2pxs5l');
  src: url('../../../fonts/font-icons.eot?2pxs5l#iefix') format('embedded-opentype'), url('../../../fonts/font-icons.ttf?2pxs5l') format('truetype'), url('../../../fonts/font-icons.woff?2pxs5l') format('woff'), url('../../../fonts/font-icons.svg?2pxs5l#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('../../../fonts/alshaya-cairo-regular.eot?#iefix') format('embedded-opentype'), url('../../../fonts/alshaya-cairo-regular.woff') format('woff'), url('../../../fonts/alshaya-cairo-regular.ttf')  format('truetype'), url('../../../fonts/alshaya-cairo-regular.svg#NotoKufiArabic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo-bold';
  src: url('../../../fonts/alshaya-cairo-bold.eot?#iefix') format('embedded-opentype'), url('../../../fonts/alshaya-cairo-bold.woff') format('woff'), url('../../../fonts/alshaya-cairo-bold.ttf')  format('truetype'), url('../../../fonts/alshaya-cairo-bold.svg#NotoKufiArabic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
