.spc-aura-points-expiry-item {
  padding: 0.875rem 1.25rem 0.875rem 3.625rem;
  background: $aura-expiry-item-bg;
  border-radius: 0.625rem;
  color: $aura-expiry-item-txt;
  position: relative;
  font-family: $aura-regular;

  @include breakpoint($only-mobile) {
    padding: 0.875rem;
    padding-#{$left}: 3rem;
  }

  b {
    font-family: $aura-bold;
  }

  @include icon('warning') {
    width: 27px;
    height: 25px;
    display: inline-flex;
    font-size: 26px;
    position: absolute;
    #{$left}: 1.25rem;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($only-mobile) {
      #{$left}: 0.8125rem;
    }
  }
}
