.c-plp {
  .c-products-list {
    &.product-small {
      .c-products__item {
        @include breakpoint($only-mobile) {
          width: calc(50% - #{rem(5)});
          margin: 0;

          &:nth-of-type(2n + 1) {
            margin: 0;
          }
        }
      }

      .alshaya_search_gallery {
        @include breakpoint($desktop) {
          height: auto;
        }

        .alshaya_search_mainimage {
          @include breakpoint($upto-desktop) {
            height: auto;
          }
        }
      }

      .labels-container {
        position: absolute;
        z-index: 1;

        &.bottom-right {
          #{$right}: rem(13);
          bottom: rem(13);
        }

        .map-green-leaf {
          background:
            url("#{$nb_theme_img_directory_path}/icons/green-leaf.svg")
            no-repeat;
          display: block;
          height: rem(21);
          width: rem(11);
        }
      }
    }
  }

  &.l-two--sf {
    .c-products-list {
      &.product-small {
        .alshaya_search_gallery {
          @include breakpoint($desktop) {
            height: auto;
          }
        }
      }
    }
  }

  .region__content {
    .block-facets-summary-blockfilter-bar-promotions,
    .block-facets-summary-blockfilter-bar-plp,
    .block-facets-summary-blockfilter-bar-productlist,
    .block-facets-summary-blockfilter-bar {
      .filter-list-label {
        text-transform: capitalize;
      }

      ul {
        li {
          a {
            span {
              &.facet-item__value {
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    .block-page-title-block {
      &.mobile {
        h1 {
          @include breakpoint($only-mobile) {
            padding: rem(22) 0;
          }
        }
      }
    }

    .view-header {
      &.search-count {
        cursor: default;
      }
    }

    .all-filters,
    .all-filters-algolia {
      .filter__foot {
        .all-filters-close,
        .facet-all-apply,
        .facet-apply-all {
          border: 0;
        }
      }
    }
  }

  ul.js-pager__items {
    .pager__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include breakpoint($tablet) {
        width: rem(205);
      }
    }
  }

  @include breakpoint($only-mobile) {
    .c-page-title {
      border-bottom: none;
      padding-bottom: 0;
      margin: rem(16) 0 rem(24);
      text-align: center;
      font-size: rem(24);
    }
  }

  @include breakpoint($tablet) {
    margin-top: rem(16);

    .c-products-list {
      &.product-small {
        .c-products__item {
          width: calc((100% - #{rem(52)}) / 3);
          margin-bottom: 0;
          margin-#{$left}: 0;

          &:nth-of-type(4n + 1) {
            margin-#{$left}: 0;
          }

          &:nth-of-type(3n + 1) {
            margin-#{$left}: 0;
            clear: both;
          }
        }

        .labels-container {
          &.bottom-right {
            #{$right}: rem(24);
            bottom: rem(24);
          }
        }
      }
    }

    ul.js-pager__items {
      .pager__item {
        width: rem(222);
      }
    }

    .region__content {
      .block-page-title-block {
        padding-top: 0;
        margin-bottom: rem(28);
      }

      .block-facets-summary-blockfilter-bar-promotions,
      .block-facets-summary-blockfilter-bar-plp,
      .block-facets-summary-blockfilter-bar-productlist,
      .block-facets-summary-blockfilter-bar {
        ul {
          margin-bottom: rem(-12);
        }
      }
    }

    .c-page-title__description,
    .field--name-field-acq-promotion-description {
      color: $primary_text;
    }
  }

  @include breakpoint($desktop) {
    main {
      width: 80%;
    }

    .block-alshaya-rcs-listing {
      &.block-alshaya-algolia-listing-v2 {
        position: relative;
      }
    }

    .block-alshaya-rcs-promotion {
      &.block-alshaya-algolia-react-promotion-v2 {
        position: relative;
      }
    }
  }
}

.c-plp,
.block-alshaya-algolia-react-autocomplete {
  .c-products__item {
    text-align: $left;

    article {
      &:hover {
        &::after {
          display: none;
        }
      }

      .alshaya_search_slider {
        display: none;

        .slick-slider {
          display: none;
        }
      }
    }

    .field--name-name {
      padding: 0;
      font-size: rem(14);
      font-family: $alshaya-bold;
      margin-bottom: rem(5);
      line-height: 1.4;
    }

    .price-type__wrapper,
    .price-wrapper {
      color: $plp_product_price_txt;
      font-size: rem(13);
      font-family: $alshaya-bold;
    }

    .list-product-gallery {
      position: relative;
      display: inline-block;
    }

    .swatches {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: rem(6);

      .swatch-image {
        img {
          width: rem(40);
          max-width: rem(40);
          aspect-ratio: 1;
          object-fit: contain;
          border: rem(1) solid $plp-swatch-border;
        }

        &.swatch-highlighted {
          img {
            border-color: $plp-swatch-active-border;
          }
        }
      }

      html[lang="ar"] & {
        .swatch-slider {
          transform: scaleX(-1);

          .swatch-image {
            img {
              transform: scaleX(-1);
            }
          }
        }
      }
    }

    .slick {
      &-slider {
        display: flex;
        align-items: center;
        max-width: 100%;
      }

      &-list {
        width: rem(112);
      }

      &-track {
        display: flex;
      }

      &-slide {
        padding-left: rem(3);
        padding-right: rem(3);
      }

      &-next,
      &-prev {
        position: static;
      }
    }

    @include breakpoint($mobile) {
      min-height: initial;
    }

    .promotions {
      margin: rem(8) 0 0;
      display: flex;
      flex-direction: column;

      .sku-promotion-item {
        font-size: rem(16);
        margin: 0 0 rem(8);
      }
    }
  }

  @include breakpoint($only-mobile) {
    .c-products__item {
      .c-page-title {
        border-bottom: none;
        padding-bottom: 0;
        margin: rem(16) 0 rem(24);
        text-align: center;
        font-size: rem(24);
      }

      .promotions {
        .sku-promotion-link {
          color: $plp_promotion_link;
        }

        .sku-promotion-item {
          font-size: rem(14);
          margin-#{$left}: initial;
        }
      }

      .slick {
        &-next,
        &-prev {
          &::before {
            width: rem(24);
          }
        }
      }
    }
  }

  @include breakpoint($tablet) {
    .c-products__item {
      .field--name-name {
        margin-top: rem(7);
        margin-bottom: rem(2);
        font-family: $nb-nova-semibold;
      }

      .price-block {
        margin-bottom: rem(8);
      }

      .price-type__wrapper,
      .price-wrapper {
        font-size: rem(18);
      }

      .swatches {
        .swatch-image {
          img {
            width: rem(50);
            max-width: rem(50);
          }
        }
      }

      .slick {
        &-list {
          width: rem(162);
        }

        &-next,
        &-prev {
          &::before {
            font-size: rem(40);
          }
        }
      }
    }
  }

  @include breakpoint($desktop) {
    .c-products__item {
      .slick {
        &-list {
          width: rem(218);
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .c-products-list {
    &.view-algolia-plp,
    &.view-search {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .c-plp,
  .block-alshaya-algolia-react-autocomplete {
    .c-products__item {
      .swatches {
        // If slider for swatches is enabled, we center align the swatches.
        &.slider-swatches {
          justify-content: center;
        }
      }
    }
  }
}
