.product-desc-wrapper {
  padding-#{$right}: rem(24);

  .product-details {
    font-family: $alshaya-bold;
    font-size: rem(24);
    line-height: rem(24);
    margin-top: rem(36);
    margin-bottom: rem(20);
  }
}

.product-desc-wrapper,
.content--product-details {
  .product-sku-title {
    display: inline;
    font-size: rem(14);
  }

  .product-sku-id {
    display: inline;
    margin-#{$left}: rem(2);
    font-size: rem(14);
  }

  .product-desc-value {
    line-height: 1.5;
    margin-top: rem(12);
    padding-#{$right}: rem(32);

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    ul {
      padding-#{$left}: rem(10);
      margin: 0;

      li {
        &::marker {
          font-size: rem(10);
        }
      }
    }
  }
}
