.checkout-link {
  a {
    font-family: $bbw-thin;
    text-transform: uppercase;
  }
}

.spc-shopping-link {
  a {
    text-transform: uppercase;
  }
}

.spc-shopping-link,
.spc-cnc-store-actions,
.map-store-list .store-actions {
  a,
  button {
    text-transform: uppercase;
    font-family: $bbw-thin !important;
  }
}
