// Define theme colors here.
$black-smoke: #333;
$black: #000;
$blackish-grey: #232323;
$brownish-grey: #666;
$eclipse: #404040;
$cerulean: #0080ce;
$dark-sand: #ac8e54;
$gainsboro: #ddd;
$grey-smoke: #f7f7f7;
$greyish-alto: #d8d8d8;
$greyish-light: #ccc;
$greyish-lighter: #f2f2f2;
$greyish: #adadad;
$medium-pink: #ef5f96;
$venetian-red: #d0011b;
$white-smoke: #f3f3f3;
$white-swan: #b2b2b2;
$white: #fff;
$windows-blue: #3680cb;
$cerulean: #0084cc;
$marine-blue-two: #003971;
$light-pink: #f48fb6;
$parrot: #1da545;
$marvel-red: #ec1d24;
