@keyframes cart-notification-animation {
  0% {
    opacity: 1;
    transform: scale(1);
    top: calc((100vh - 10rem) / 2);
    #{$right}: calc((100% - 17.5rem) / 2);
    #{$left}: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    top: 0;
    #{$right}: 0.5rem;
    #{$left}: calc(100% - 17.5rem);
  }
}

#cart_notification {
  &.cart-notification-animate {
    position: fixed;
    top: calc((100vh - 10rem) / 2);
    #{$right}: calc((100% - 17.5rem) / 2);
    transform-origin: 100% 0;
    animation: cart-notification-animation 0.5s forwards ease-in-out 1.5s;

    html[lang=ar] & {
      transform-origin: 0 0;
      #{$right}: calc((100% - 17.5rem) / 2);
      top: calc((100vh - 10rem) / 2);
    }

    &::before {
      display: none;
    }
  }
}
