.magazine__gallery--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;

  @include breakpoint($only-mobile) {
    grid-gap: 0.5rem;
  }

  .ie & {
    display: block;

    .pdp-image {
      margin-bottom: 1.5rem;

      &:nth-child(2n +1) {
        width: calc(50% - 0.75rem);
        float: $left;
      }

      &:nth-child(2n) {
        width: calc(50% - 0.75rem);
        float: $right;
      }

      &.last:nth-child(2n+1) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }

      &:nth-child(2n) {
        #cloud-zoom-big {
          #{$left}: calc(100% + 0.875rem) !important;
        }
      }

      &:nth-child(2n+1) {
        #cloud-zoom-big {
          #{$left}: calc(200% + 2.375rem) !important;
        }
      }
    }

    .magazine-product-description {
      width: 100%;
      clear: both;
    }
  }

  figure {
    margin: 0;
    overflow: hidden;

    img {
      width: 100%;
      cursor: pointer;
    }

    &.magazine-image-zoomed {
      .magazine-image-zoom-placeholder {
        z-index: 1;
      }
    }

    .magazine-image-zoom-placeholder {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: cover;
    }
  }

  .magazine-product-description {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 0.75rem;
    padding: 0;
    position: relative;

    .magazine-desc-wrapper {
      padding: 4rem 0;
      font-family: $arial;
      font-size: 1.1375rem;
      line-height: 1.2;
      color: $magazine-pdp-description;

      @include breakpoint($only-mobile) {
        padding: 4rem 1rem;
      }

      div[class*="label"] {
        font-family: $alshaya-bold;
        font-size: 0.6875rem;
        letter-spacing: 1.1px;
        color: $magazine-pdp-label;
        margin-bottom: 1.1875rem;
        padding-#{$right}: 0.25rem;

        html[lang=ar] & {
          letter-spacing: normal;
        }
      }

      div[class*="value"] {
        font-family: $arial;
        font-size: 0.6875rem;
        line-height: 1.71;
        color: $magazine-pdp-description;
      }
    }

    ul {
      padding-#{$left}: 0;
      margin: 0;

      li {
        list-style: none;
        margin-#{$right}: 0.125rem;

        &::after {
          content: ',';
          width: 0.125rem;
          height: 0.125rem;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }

    .composition,
    .care-instructions,
    .item-code,
    .warning,
    .concept {
      &-wrapper {
        margin: 0 1rem;
      }

      &-label {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        display: inline;

        html[lang=ar] & {
          letter-spacing: normal;
        }
      }

      &-value {
        display: inline;
      }
    }

    @include breakpoint($only-mobile) {
      .product-swatch {
        margin-bottom: 1.5rem;

        .list-title {
          text-transform: uppercase;
        }

        label {
          display: none;
        }
      }
    }
  }

  .pdp-image {
    .cloud-zoom-lens {
      border: 1px solid $cloudzoom_hovertext;
      background-color: rgba(255, 255, 255, 0.5);
      display: none;

      @include breakpoint($desktop) {
        display: block;
      }
    }

    &:nth-child(2n) {
      #cloud-zoom-big {
        #{$left}: calc(100% + 0.875rem) !important;
      }
    }

    &:nth-child(2n+1) {
      #cloud-zoom-big {
        #{$left}: calc(200% + 1.625rem) !important;
      }
    }

    @include breakpoint($tablet) {
      &:nth-child(2n) {
        grid-column: 2 / -1;
      }

      &:nth-child(2n+1) {
        grid-column: 1 / 2;
      }

      &.last {
        &:nth-child(2n+1) {
          grid-column: 1 / -1;

          #wrap {
            width: 47%;
            margin: 0 auto;

            #cloud-zoom-big {
              #{$left}: calc(150% + 3.125rem) !important;
            }
          }
        }
      }
    }

    @include breakpoint($only-mobile) {
      &:nth-child(3n+1) {
        grid-column: 1 / -1;
      }

      &:nth-child(3n+2) {
        grid-column: 1 / 2;
      }

      &:nth-child(3n) {
        grid-column: 2 / -1;
      }

      &.last {
        &:nth-child(3n+2) {
          grid-column: 1 / -1;

          img {
            width: 47%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }

    #wrap {
      z-index: 1 !important;

      @include breakpoint($desktop) {
        z-index: 2 !important;

        .cloud-zoom-lens {
          margin: 0;
        }
      }

      #cloud-zoom-big {
        width: 21.88rem;
        top: 0 !important;

        @include breakpoint($desktop) {
          width: 25.25rem !important;
        }

        .cloud-zoom-title {
          display: none;
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .pdp-modal-overlay {
    .magazine__gallery--container {
      .pdp-image {
        #wrap {
          position: relative !important;

          > a {
            position: relative !important;
          }
        }
      }
    }
  }

  .nodetype--acq_product {
    &.magazine-layout {
      .magazine__gallery--container {
        .pdp-image {
          #wrap {
            position: static !important;

            > a {
              position: static !important;
            }

            .mousetrap {
              display: none;
            }
          }
        }
      }

      .dialog-product-image-gallery-container-mobile {
        z-index: 10001;
      }
    }
  }
}

@include breakpoint($tablet) {
  .magazine-layout-ajax-throbber {
    .magazine__gallery--container {
      .pdp-image {
        #wrap {
          position: inherit !important;
        }

        position: inherit !important;
      }
    }
  }
}

// product - labels in magazine gallery
.magazine-layout-node .gallery-wrapper .pdp-image-0 {
  position: relative;

  .product-labels {
    .labels-container {
      .label {
        z-index: 4;
        line-height: 1;

        &.top {
          &-left {
            top: 0;
            left: 0;

            @include breakpoint($only-tablet) {
              left: 0;
            }

            @include breakpoint($desktop) {
              left: 0;
            }
          }

          &-right {
            top: 0;
            right: 0;

            @include breakpoint($only-tablet) {
              right: 0;
            }

            @include breakpoint($desktop) {
              right: 0;
            }
          }
        }

        &.bottom {
          &-left {
            left: 0;
            bottom: 0;

            @include breakpoint($only-tablet) {
              left: 0;
            }

            @include breakpoint($desktop) {
              left: 0;
            }
          }

          &-right {
            right: 0;
            bottom: 0;

            @include breakpoint($only-tablet) {
              right: 0;
            }

            @include breakpoint($desktop) {
              right: 0;
            }
          }
        }
      }
    }
  }
}

.magazine-layout-node .gallery-wrapper .pdp-image {
  position: relative;
}

@include breakpoint($mobile) {
  .description-details {
    div,
    ul,
    li {
      display: inline-block;
    }

    > div {
      margin: 0 !important;

      &::after {
        content: "";
        background-color: $magazine-pdp-description-separator;
        position: relative;
        display: inline-block;
        width: 1.875rem;
        height: 1px;
        top: -0.1875rem;
        margin: 0 0.9375rem;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  .description-first {
    margin-bottom: 2.125rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: $magazine-pdp-description-first-color;

    @include breakpoint($only-mobile) {
      font-size: 0.9375rem;
      line-height: 1.2;
    }
  }
}
