.magazine-layout-node {
  .content-sidebar-wrapper {
    @include breakpoint($tablet) {
      width: 30%;
      float: right;

      .content__title_wrapper {
        width: 100%;
        float: none;
      }

      .content__sidebar {
        width: 100%;
        float: none;
      }

      &.sidebar-fixed {
        position: fixed;
        top: 130px;
        right: calc((100vw - 66.35rem) / 2);
        width: calc((30 * 66.35rem) / 100);

        &.contain {
          position: absolute;
          bottom: 0;
          top: auto;
          right: 0;
        }
      }
    }
  }

  .content__sidebar .mobile-content-wrapper {
    @include breakpoint($only-mobile) {
      padding: 1rem;

      .delivery-options-wrapper {
        .field__label {
          display: none;
        }
      }
    }
  }

  .content__title_wrapper {
    @include breakpoint($only-mobile) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto auto 3rem;
      padding: 1rem;

      &.fixed {
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 100%;
        background: $primary_bg;
        box-shadow: 0.0625rem 0.125rem 0.625rem $mothercare-black;
      }

      .price-block,
      .promotions,
      .content--item-code,
      .basic-details-wrapper,
      h1 {
        grid-column: 1 / -1;
      }
    }
  }

  .basic-details-wrapper {
    @include breakpoint($only-mobile) {
      .field--name-field-skus .field__item {
        display: block;
        padding: 0;
      }

      .sku-base-form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;

        .size-link {
          width: 47%;
          height: 3rem;
          border: 2px solid $primary_empty_btn_border;
          padding: 0.65rem;
          text-align: center;
          color: $primary_empty_btn;
          margin-#{$right}: 1rem;
        }

        .edit-add-to-cart {
          width: 47% !important;
          height: 3rem !important;
        }
      }
    }
  }
}
