.alias--cart {
  #delivery-area-select {
    .delivery-area-button {
      &::before {
        top: 45%;

        html[lang="ar"] & {
          top: 60%;
        }
      }
    }
  }

  .sku-cart-delivery-methods {
    .carrier-title {
      padding: 0.25rem 1.5rem 0.1875rem 0.437rem;
    }
  }
}
