.size-guide-link {
  float: $right;
  position: relative;
  top: 0;
  padding-top: 0.875rem;
  font-size: 0.75rem;
  line-height: 1.33;
  text-decoration: underline;
  padding-#{$right}: 0.625rem;

  @include breakpoint($only-mobile) {
    padding: 0;
    margin-bottom: 0.3125rem;

    + .form-item-configurables-band-size,
    + .form-item-configurables-cup-size {
      clear: both;
    }
  }
}

.path--cart,
.nodetype--acq_product {
  .ui-dialog {
    #drupal-modal {
      overflow-y: scroll;

      .full-prod-link {
        margin-bottom: 0;
        padding-bottom: 0.375rem;
      }

      #product-image-gallery,
      #lightSlider {
        height: 31rem;
      }
    }
  }
}

.acq-content-product-modal {
  .content__main {
    min-height: auto;
  }
}
