{#
  * @todo Copied this from COS. Need to check this as per
  *   the design of Debenhams.
  */
#}
<div class="content--description">
  <span class="close"></span>
  <h2 class="field__label">{{t 'Product Description' }}</h2>
  <div class="field__content">
    {{#if html }}
      {{{ render 'product.block.description_details' this }}}
    {{/if}}
  </div>
</div>
<div class="gradient-holder"></div>
