@import "../../alshaya_white_label/sass/components/order/_order-details.scss";

.order-detail {
  .c-page-title {
    @include breakpoint($only-tablet) {
      margin-top: 1.8rem;
    }
  }

  .print--button {
    top: -1rem;
  }

  .user__order--detail {
    .total-row .dark .price {
      color: $black;
      font-family: $hnm-demibold;
      font-size: 0.875rem;
    }
  }

  .c-content {
    .user__order--detail {
      .total-row .warm--white {
        background-color: $whisper-light;
        padding: 0.5rem 1.375rem;
      }
    }
  }
}

.user__order--detail {
  font-family: $hnm-regular;
  border-top: 1px solid $white;

  .sub-total-row,
  .delivery-charge-row,
  .total-row {
    background: $white-five;

    td {
      padding: 0.625rem 1.375rem;

      @include breakpoint($only-tablet) {
        padding: 0.625rem 0.125rem 0.625rem 0.75rem;
      }
    }
  }

  .discount-row {
    td {
      padding: 0.625rem 1.375rem;

      @include breakpoint($only-tablet) {
        padding: 0.625rem 0.125rem 0.625rem 0.75rem;
      }
    }
  }

  .total-row {
    color: $black-two;
    font-weight: normal;
    font-family: $hnm-demibold;
  }

  .delivery-details-row {
    td {
      background: $info;

      .icon-ic_info {
        font-size: 1.9375rem;
        font-weight: 700;
        margin-#{$right}: 0.7rem;
        vertical-align: middle;
      }
    }

    .blend {
      @include breakpoint($desktop) {
        background: $info-two;
      }
    }
  }

  .delivery-details-row td {
    font-family: $hnm-bold;
    font-weight: normal;
  }

  .delivery-details-row {
    color: $white-five;
  }

  .delivery-charge-row,
  .sub-total-row,
  .order-item-row {
    .blend {
      background: $white-four;

      @include breakpoint($tablet) {
        background: $white-smoke-light;
      }
    }
  }

  .order-item-row {
    border-bottom: 1px solid $white;
    background: $white-four-70;
  }

  .label {
    margin-bottom: 3px;
  }

  .order-summary-row {
    td {
      background: $whisper-light-59;
      padding: 1.313rem 1rem;
    }
  }

  .right--align {
    text-align: $right;
  }

  .order-details-row {
    background: $info-19;
    color: $grey8;

    .label {
      color: $hnm-black-two;
      font-family: $hnm-bold;
      font-weight: normal;
    }

    .address--name {
      color: $black-two !important;
    }

    .blend {
      background: $info-30;

      @include breakpoint($tablet) {
        padding-#{$right}: 0.625rem;
      }
    }

    .dark {
      font-weight: normal;
      color: $grey8;
    }
  }

  .warm--white {
    background-color: $white-three;
  }

  td {
    div {
      margin-bottom: 0.3125rem;

      &.button {
        margin-bottom: 0;
      }
    }
  }
}

#block-userrecentorders {
  h2.subtitle {
    font-family: $hnm-demibold;
  }
}

.user-page.checkout-login.order-confirmation {
  #edit-field-subscribe-newsletter-wrapper {
    .form-item-field-subscribe-newsletter-value {
      label {
        top: 0 !important;
        color: $grey-ash;
        font-size: 0.875rem;
        padding-#{$left}: 1.6875rem;
      }
    }
  }

  .user__order--detail {
    tr.delivery-charge-row.collapse-row td {
      padding: 0.625rem 1.375rem;

      @include breakpoint($only-tablet) {
        padding: 0.625rem 0.125rem 0.625rem 0.75rem;
      }
    }

    .delivery-charge-row {
      td {
        padding: 0.625rem 1.375rem;

        @include breakpoint($only-tablet) {
          padding: 0.625rem 0.125rem 0.625rem 0.75rem;
        }
      }
    }

    .sub-total-row,
    .delivery-charge-row,
    .total-row {
      td.right--align {
        padding-#{$right}: 2.5rem !important;
        padding-#{$left}: 0 !important;
      }
    }
  }
}

.user__order--detail .total-row:not(.price-row) .warm--white {
  background: $white-five;

  .dark {
    font-size: 0.75rem;
    color: $light-greyish;
    line-height: 1.125rem;
    font-weight: normal;
    font-family: $hnm-regular;
  }
}

.alias--cart-checkout-confirmation .block-alshaya-acm-checkout .form-type-checkbox .option::before {
  position: relative;
  top: 0.6rem;
  #{$left}: -0.1875rem;
  font-size: 2rem;

  @include breakpoint($tablet) {
    font-size: 2.125rem;
  }
}

html[lang=ar] {
  .user__order--detail .total-row > .right--align {
    padding: 0 0 0 1.5rem;
    line-height: 2.3;
  }
}

.path--user .l-two--sf {
  &.c-order-list,
  &.order-detail {
    @include breakpoint($tablet) {
      margin-top: 2.5rem;
    }
  }
}
