.configurable-product-form-wrapper {
  .gallery-wrapper {
    .slick-slider {
      .slick-arrow {
        bottom: rem(-16);

        &::before {
          font-size: rem(20);
        }
      }

      .magic-dots {
        bottom: rem(13);
      }
    }

    .slick-dots {
      li,
      li.small {
        button {
          &::before {
            // uses 'ProximaNova-Regular' font.
            font-size: rem(36);
            line-height: rem(14);

            html[lang="ar"] & {
              // uses 'Arquitecta Regular' font.
              font-size: rem(52);
              line-height: rem(4);
            }
          }
        }
      }
    }
  }
}
