.c-header {
  .block-my-account-icon-block {
    @include breakpoint($upto-desktop) {
      top: initial;
      position: relative;
      #{$right}: initial;
      margin-#{$right}: rem(12);
    }

    html[lang=ar] & {
      @include breakpoint($upto-desktop) {
        top: initial;
      }
    }

    .my-account-icon {
      @include breakpoint($upto-desktop) {
        display: flex;
        align-items: center;
      }
    }
  }

  .my-account-icon {
    .user-account,
    .user-login {
      @include breakpoint($upto-desktop) {
        background-size: rem(24);
      }
    }
  }
}
