#backtotop {
  font-size: 0;
  border: none;

  @include icon("chevronup", after) {
    border-radius: 0;
    height: 2.75rem;
    width: 3.4375rem;
    border: 0.0625rem solid $btt-border;
    #{$right}: -1.25rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  @include breakpoint($only-mobile) {
    &::after {
      #{$right}: 0;
    }
  }

  @include breakpoint($tablet) {
    html[lang="ar"] & {
      &::after {
        right: 2.1875rem;
      }
    }
  }

  &.sprinklr-enabled {
    // unset row-gap if font-size is 0.
    row-gap: unset;
  }
}
