.spc-checkout-delivery-information {
  .popup-overlay {
    .popup-content {
      .spc-address-form-actions {
        .spc-address-form-submit {
          font-family: $muji-helvetica-neue-bold;
          text-transform: uppercase;
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .address-form-mobile-only {
    .spc-address-form-submit {
      font-family: $muji-helvetica-neue-bold;
      text-transform: uppercase;
    }
  }
}
