<section class="book-appointment-modal">
  <div class="container clearfix">
    <iframe id="bookAppontmentModal" name="bookAppontmentModal" sandbox="allow-forms allow-scripts allow-same-origin" src="{{iframe_url}}" width="100%" height="700px"></iframe>
  </div>
  <div class="ajax-progress ajax-progress-fullscreen">&nbsp;</div>
</section>
