.acq-content-product {
  .select-area-popup-wrapper {
    .spc-checkout-section-title {
      font-family: $hnm-demibold;
      margin-bottom: 1.25rem;
    }
  }

  #express-delivery-options {
    border-bottom: none;
  }
}
