.acq-content-product {
  .select-area-popup-wrapper {
    .spc-checkout-section-title {
      font-family: $hnm-demibold;
    }
  }

  .express-delivery-title {
    letter-spacing: 0.0625rem;
  }

  @include breakpoint($only-mobile) {
    .simple-swatch-effect + .express-delivery,
    .product-swatch + .express-delivery {
      margin-top: 1.8125rem;
    }
  }
}
