.block-alshaya-category-lhn-block {
  // L2.
  > ul > li {
    > .lhn-2 {
      font-family: $hnm-demibold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  ul {
    li {
      a {
        &.active {
          font-family: $hnm-demibold;
        }
      }
    }
  }
}
