.c-plp {
  padding-top: 1.5rem;

  @include breakpoint($only-mobile) {
    padding-top: 0;
  }

  .region__content {
    .block-page-title-block {
      h1 {
        font-family: $hnm-bold;
      }
    }

    .block-facets-summary-blockfilter-bar-promotions,
    .block-facets-summary-blockfilter-bar-plp,
    .block-facets-summary-blockfilter-bar {
      ul {
        li {
          a {
            font-size: 0.75rem;

            span {
              &.facet-item__value {
                background: $plp_facet_label;
                vertical-align: top;
                line-height: 1;
                text-transform: capitalize;
              }

              &.js-facet-deactivate {
                background: $plp_facet_label;
              }

              div {
                vertical-align: top;
              }
            }

            .price-type__wrapper {
              padding: 0;

              div,
              span {
                padding: 0;
              }
            }
          }

          &.clear-all {
            a {
              color: $plp_facet_filter_link;
              font-family: $hnm-demibold;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }
        }
      }
    }

    .view-header.search-count {
      color: $plp_search_count;
      padding-bottom: 0.75rem;
      font-family: $hnm-regular;

      @include breakpoint($only-mobile) {
        margin-top: 0.75rem;
      }
    }
  }

  .block-system-main-block {
    @include breakpoint($tablet) {
      display: block;
      margin-top: 1.5rem;
    }
  }

  .c-page-title__description,
  .field--name-field-acq-promotion-description {
    margin-top: 0.3125rem;
    font-family: $hnm-regular;
    line-height: 1.56;
  }

  &.l-two--sf {
    .c-products-list {
      &.product-small {
        .alshaya_search_gallery {
          @include breakpoint($desktop) {
            max-height: 22.2rem;
          }
        }
      }

      &.product-large {
        .alshaya_search_gallery {
          @include breakpoint($desktop) {
            max-height: 30rem;
          }
        }
      }
    }
  }

  .c-products-list {
    .views-infinite-scroll-content-wrapper {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
    }

    &.product-large {
      .alshaya_search_gallery {
        @include breakpoint($desktop) {
          max-height: 37.5rem;
        }

        .alshaya_search_mainimage {
          @include breakpoint($only-mobile) {
            height: auto;
            width: 100%;
          }
        }
      }
    }

    &.product-small {
      .alshaya_search_gallery {
        @include breakpoint($desktop) {
          max-height: 27.6rem;
        }

        .alshaya_search_mainimage {
          @include breakpoint($upto-desktop) {
            height: auto !important;
          }
        }
      }
    }
  }

  .c-products__item {
    .swatches {
      margin: 0.625rem 0;
    }

    .alshaya_search_gallery {
      overflow: visible;
      max-height: none;

      .alshaya_search_mainimage {
        height: auto;
      }
    }

    .alshaya_search_slider {
      opacity: 1;
      z-index: 0;
      display: block;
      transform: none;
      transition: none;
    }

    .field--name-name {
      margin-bottom: 0.25rem;
      font-family: $hnm-regular;

      a {
        color: $plp_tile_product_title;
      }
    }

    @include breakpoint($desktop) {
      &:hover {
        article::after {
          display: none;
        }

        .field--name-name {
          a {
            color: $plp_tile_product_title_hover;
            text-decoration: none;
          }
        }
      }
    }

    .out-of-stock span {
      @include arabic-letter-spacing;

      background: $plp_tile_oos_bg;
      font-family: $hnm-bold;
      letter-spacing: 1px;
      padding: 0.5rem 0.8125rem;
      text-transform: uppercase;
    }

    @include breakpoint($mobile) {
      min-height: 18rem;
    }

    @include breakpoint($iphone) {
      min-height: 20rem;
    }

    @include breakpoint($iphone-plus) {
      min-height: 21.5rem;
    }

    @include breakpoint($tablet) {
      min-height: 22rem;
    }

    @include breakpoint($desktop) {
      min-height: 25rem;
    }
  }

  ul.js-pager__items {
    margin-top: 0;
    margin-bottom: 2rem;

    a {
      color: $plp_pager_link;
      font-size: 0.875rem;
      border: 2px solid $plp_pager_link_border;
      padding: 0.5625rem 6.8rem;
      font-family: $hnm-bold;
      text-transform: uppercase;
    }
  }
}

.c-content__highlighted {
  .promo-banner {
    img {
      @include breakpoint($only-mobile) {
        margin-bottom: 0.75rem;
      }
    }
  }
}

.region__sidebar-first {
  > .block-facets-summary-blockfilter-bar-plp {
    @include breakpoint($only-mobile) {
      width: 100%;
    }
  }
}

.c-plp {
  .facet-item {
    input[type=checkbox] ~ label {
      &::before {
        margin-#{$left}: 0;
        position: relative;
        top: 0.125rem;

        @include breakpoint($tablet) {
          top: 0;
        }
      }
    }
  }

  .block-facets-ajax {
    .applied-filter-count {
      @include breakpoint($only-mobile) {
        display: none;
      }
    }
  }
}

.alshaya_search_hoverimage {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  width: 100%;
}

.block-views-blockproduct-category-level-3-block-2 {
  @include breakpoint($only-mobile) {
    .views-row {
      a {
        @include arabic-letter-spacing;

        font-family: $hnm-regular;
        font-size: 0.875rem;
        letter-spacing: 1px;
        text-decoration: none;
        color: $mm_l1_link;
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .c-plp {
    .region__content {
      .view-header {
        &.search-count {
          border-bottom: none;
          margin-top: 0;
        }
      }
    }
  }
}

.c-products-list {
  position: relative;

  .js-pager__items.visually-hidden {
    position: static !important;
  }
}
