.labels-container {
  .label {
    z-index: 4;

    img {
      width: auto !important;
    }

    &.top {
      top: 0.625rem;

      &-left {
        #{$left}: 0.5rem;

        @include breakpoint($only-tablet) {
          #{$left}: 0.9375rem;
        }

        @include breakpoint($desktop) {
          #{$left}: 1rem;
        }
      }

      &-right {
        #{$right}: 0.5rem;

        @include breakpoint($only-tablet) {
          #{$right}: 0.9375rem;
        }

        @include breakpoint($desktop) {
          #{$right}: 1rem;
        }
      }
    }

    &.bottom {
      bottom: 0;

      &-left {
        #{$left}: 0.5rem;
      }

      &-right {
        #{$right}: 0.5rem;
      }
    }
  }
}

.sell--image,
.view-product-slider {
  .labels-container {
    .label {
      &.bottom {
        &-left,
        &-right {
          @include breakpoint($tablet) {
            bottom: 4rem;
          }
        }
      }
    }
  }
}
