.c-plp .c-content__region .all-filters,
.c-plp .c-content__region .all-filters-algolia {
  .filter__inner {
    .views-exposed-form.c-accordion,
    .c-facet.c-accordion {
      .c-accordion__title {
        font-family: $hnm-regular;
        text-transform: capitalize;
        font-size: 0.75rem;
      }
    }

    .block-views-exposed-filter-blockalshaya-product-list-block-1,
    .block-views-exposed-filter-blockalshaya-product-list-block-2,
    .block-views-exposed-filter-blocksearch-page {
      fieldset.form-wrapper .fieldset-legend {
        font-family: $hnm-regular;
        text-transform: capitalize;
        font-size: 0.75rem;
      }
    }

    .filter__foot {
      .facet-all-clear ul li.clear-all {
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .filter__head {
    .filter-sort-title {
      font-family: $hnm-demibold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .facet-all-apply,
    .all-filters-close {
      &::before {
        font-size: 2.125rem;
      }
    }
  }
}
