@import '../../alshaya_white_label/sass/components/products/_sell-modal.scss';

// Theming modal window for the cross-sell and up sell
.acq-content-product-modal {
  .content {
    &__main {
      @include breakpoint($desktop) {
        width: 70%;
      }
    }

    &__sidebar {
      @include breakpoint($desktop) {
        width: 30%;
      }
    }
  }

  .c-products__item__label {
    font-family: $hnm-regular;
    color: $hnm-black-two;
  }

  .full-prod-link {
    font-family: $hnm-bold;
    color: $hnm-black-two;
  }

  .field--name-field-skus .sku-base-form button[type="submit"] {
    font-family: $hnm-bold;
    line-height: 1;
    margin-top: 2rem;
  }

  .sku-base-form .ajax-progress-throbber {
    margin-bottom: 1rem;

    .message {
      font-family: $hnm-regular;
    }
  }
}
