.c-menu-secondary {
  li {
    @include breakpoint($upto-desktop) {
      &::after {
        font-size: 2rem;
        margin-top: -2.5625rem;
      }
    }
  }

  a {
    font-size: 1rem;
    line-height: 1.25;

    @include breakpoint($desktop) {
      text-transform: capitalize;
      font-size: 0.75rem;
      line-height: 1.85;
    }

    &::before {
      @include breakpoint($desktop) {
        content: none !important;
      }
    }
  }
}
