header.c-header {
  @include breakpoint($desktop) {
    border-bottom: 0.0625rem solid $primary_search_border;
  }

  .block-views-exposed-filter-blocksearch-page {
    @include breakpoint($desktop) {
      top: 0.25rem;
    }

    #edit-submit-search {
      background:
        $primary_search_btn_icon url("../imgs/assets/search.svg")
        0.25rem 0.25rem no-repeat;
      background-size: 1.9rem 1.9rem;
      width: 2.125rem;
      height: 2.125rem;

      @include breakpoint($only-tablet) {
        height: 2.425rem;
        margin-#{$left}: -3.375rem;
      }

      @include breakpoint($only-mobile) {
        margin-#{$left}: -2.375rem;
      }
    }

    .form-text {
      height: 2.5rem;
      width: 20.1875rem;
      max-width: none;

      &::placeholder {
        color: $primary_search_input_placeholder;
      }
    }
  }

  .block-system-branding-block {
    @include breakpoint($only-mobile) {
      width: 75%;
      margin-top: 1.5rem;
    }

    .site-brand-home {
      @include breakpoint($only-mobile) {
        max-width: 100%;
      }

      a {
        @include breakpoint($desktop) {
          width: 18.1875rem;
          height: 2.625rem;
          display: block;
        }

        @include breakpoint($only-mobile) {
          margin-#{$left}: 5.5rem;
          max-width: 100%;
          margin-top: 0.8125rem;
        }

        picture {
          display: block;
        }

        &.logo {
          @include breakpoint($only-mobile) {
            margin-top: 1.0625rem;
          }

          img {
            width: 10.63rem;
            height: 1.57rem;

            @include breakpoint($tablet) {
              width: 17.57rem;
              height: 2.6rem;
            }

            @include breakpoint($desktop) {
              width: 18.19rem;
              height: 2.69rem;
            }

            html[lang="ar"] & {
              height: 2.5rem;

              @include breakpoint($tablet) {
                width: 16rem;
                height: 3.75rem;
              }

              @include breakpoint($desktop) {
                height: 4.27rem;
              }
            }
          }
        }
      }
    }
  }

  .block-cart-mini-block,
  .block-alshaya-react-mini-cart {
    @include breakpoint($only-mobile) {
      margin-top: 1.5rem;
    }

    .cart-link {
      background-size: 2.3rem;

      @include breakpoint($only-mobile) {
        margin-top: 0.425rem;
        margin-bottom: -0.1125rem;
      }

      @include breakpoint($tablet) {
        background-size: 2.1rem;
        margin-bottom: 1.25rem;
      }

      @include breakpoint($desktop) {
        margin-bottom: -0.35rem;
      }
    }
  }

  .block-alshaya-react-mini-cart {
    .cart-link {
      @include breakpoint($only-mobile) {
        html[lang="ar"] & {
          top: 0.125rem;
          margin-top: 0;
          margin-bottom: 0.8875rem;
        }
      }
    }

    #mini-cart-wrapper {
      @include breakpoint($only-tablet) {
        height: 3.5rem;
      }
    }
  }
}

.c-menu-primary {
  .mobile--menu {
    @include breakpoint($only-mobile) {
      top: 1.35rem;
    }

    @include breakpoint($only-tablet) {
      margin-top: -0.6875rem;
    }
  }

  .mobile--search {
    @include breakpoint($only-mobile) {
      #{$left}: 2.55rem;
      top: 0.825rem;
    }
  }

  .store {
    @include breakpoint($only-mobile) {
      top: 0.725rem;
    }

    @include breakpoint($only-tablet) {
      margin-top: 0.7625rem;
    }
  }
}

.region.region__pre-content {
  @include breakpoint($desktop) {
    border-bottom: 0.0625rem solid $primary_search_border;
    background-color: $pre_content_region_bg;
    padding-bottom: 0.125rem;
  }
}

.block-alshaya-main-menu {
  li.menu--one__list-item {
    & > ul.menu--two__list {
      .highlights {
        img {
          @include breakpoint($desktop) {
            max-height: 20.25rem;
            width: auto;
            object-fit: cover;
          }
        }
      }
    }
  }

  .has--three-levels .menu--three__list-item > .menu-two__link-wrapper a.menu__link {
    @include breakpoint($desktop) {
      font-size: 0.75rem !important;
      line-height: 1.33;
    }
  }
}

// shop by room
ul.menu--two__list li.menu--two__list-item .menu__link-wrapper .menu-two__link {
  @include breakpoint($desktop) {
    font-size: 0.75rem !important;
    line-height: 1.33;
  }
}

// Remove overlay in main menu.
body {
  @include breakpoint($desktop) {
    &.overlay.overlay-main-menu {
      &::before {
        opacity: 0;
      }
    }
  }

  @include breakpoint($only-tablet) {
    &.supermenu {
      margin-top: 10.5625rem !important;
    }

    &:not(.supermenu) {
      html[lang="ar"] & {
        margin-top: 8.6875rem;
      }
    }
  }

  &.mobile--overlay {
    .branding__menu {
      @include breakpoint($upto-desktop) {
        box-shadow: 0 1px 0 0 $lhn_sticky-header-shadow;
      }
    }
  }
}

// Box shadow to main menu after removing the overlay.
@include breakpoint($desktop) {
  .block-alshaya-main-menu {
    &:not(.megamenu-inline-layout) {
      li.menu--one__list-item {
        ul.menu--two__list {
          box-shadow: 0 0.1875rem 0.3125rem 0 $PBK_box_shadow_gray;
          border: 1px solid $mm_l2_border;
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .supermenu {
    .site-brand-home {
      .logo {
        img {
          vertical-align: baseline;
        }
      }
    }
  }
}
