.block-alshaya-main-menu {
  @include breakpoint($desktop) {
    padding-#{$left}: 2.5rem;
    padding-#{$right}: 2.5rem;
    max-width: 80.25rem;
  }

  // Mobile and Tablet font size and icon size all levels.
  .main--menu .menu__list .menu__list-item {
    @include breakpoint($only-mobile) {
      .menu__in::after {
        font-size: 2rem;
        margin-top: -0.6625rem;
      }
    }

    @include breakpoint($only-mobile) {
      .menu__link {
        font-size: 1rem;
        color: $header_secondary_menu_link_mobile;

        &::after {
          font-size: 2rem;
          margin-top: 0.0375rem;
        }
      }
    }

    @include breakpoint($only-mobile) {
      .back--link {
        font-size: 1rem;
        color: $header_secondary_menu_link_mobile;
      }

      &::before {
        font-size: 2rem;
        margin-top: -0.0625rem;
      }
    }
  }

  // desktop hover underline
  li.menu--one__list-item {
    a.menu--one__link {
      &:hover a.menu--one__link {
        @include breakpoint($desktop) {
          box-shadow: 0 0.125rem 0 0 $mm_l1_link_active_shadow;
        }
      }
    }

    @include breakpoint($desktop) {
      &:hover {
        div.menu--one__link {
          box-shadow: 0 0.125rem 0 0 $mm_l1_link_active_shadow;
        }
      }
    }

    // MM L1 active.
    &:hover {
      @include breakpoint($desktop) {
        a.menu--one__link {
          box-shadow: 0 0.125rem 0 0 $mm_l1_link_active_shadow;
        }
      }
    }

    @include breakpoint($desktop) {
      .menu--one__link {
        &.active {
          box-shadow: 0 0.125rem 0 0 $mm_l1_link_active_shadow;
          border-bottom: inherit;
        }
      }
    }
  }

  @include breakpoint($desktop) {
    .menu__list-item.menu--one__list-item.has-child {
      .menu--two__list {
        margin-top: 0.1875rem;
        padding-top: 0.5rem;
      }
    }
  }

  // MM L1 hover.
  .active--menu--links {
    li.menu--one__list-item {
      @include breakpoint($desktop) {
        &:hover {
          a.menu--one__link {
            box-shadow: 0 0.125rem 0 0 $mm_l1_link_active_shadow;
          }
        }
      }
    }

    &:hover {
      li.menu--one__list-item a.menu--one__link {
        border-bottom: inherit;
      }
    }
  }
}
