// Define theme colors here.
$white-smoke: #f3f3f3;
$black-smoke: #333;
$dark-pink: #eb008b;
$white: #fff;
$black: #000;
$deepskyblue: #00adee;

//global button
$primary_btn_bg: $dark-pink;
$primary_btn_text: $white;

// product list page
$plp_load_more_text: $white;
$plp_load_more_bg: $dark-pink;
$plp_product_title_text: $black;

// loader
$ajax_loader: $dark-pink;
