// Define theme colors here.
$error: #d0011b;

//form
$form_dropdown_icon: $dark-pink;
$form_tnc_text: $black-smoke;
$form_input_text: rgba(0, 0, 0, 0.3);
$form_input_bg: $white-smoke;
$form_error_msg: $error;
$form_feedback_subtitle: $dark-pink;
