// Define theme colors here.
$white-smoke: #f3f3f3;
$black-smoke: #333;
$dark-pink: #eb008b;
$white: #fff;
$black: #000;
$deepskyblue: #00adee;

//global button
$primary_btn_bg: $dark-pink;
$primary_btn_text: $white;

//footer
$footer_bg: rgba(243, 243, 243, 0.5);
$footer_primary_bg: $white-smoke;
$footer_secondary_bg: $white;

//newsletter block
$newsletter_block_bg: $white-smoke;
webform-confirmation__back 

//language switcher
$language_switcher_bg: $white-smoke;
$language_switcher_active_btn_bg: $dark-pink;
$language_switcher_btn_bg: $black-smoke;
$language_switcher-btn_text: $white;
$language_switcher-close-btn_bg: $white;
$language_switcher-close-btn_text: $dark-pink;
