//Define theme fonts here.
$jus_regular: 'OpenSans';
$jus_bold: 'OpenSansCondensed-Bold';
$jus_arabic_regular: 'DroidArabicKufi';
$jus_semi_bold: 'OpenSans-Bold';
$jus_arabic_bold: "DroidArabicKufi-Bold";
$arial: $jus_regular;
$open-sans: $jus_bold;
$cairo: $jus_regular;
