@include breakpoint($only-mobile) {
  .matchback-processed {
    padding-#{$left}: rem(18);

    &.horizontal-crossell {
      .view-product-slider {
        .owl-carousel {
          .views-row {
            margin-#{$right}: rem(10);
          }
        }

        .c-products__item__label {
          margin-#{$left}: 0;
        }

        .price-block {
          margin-#{$left}: 0;
        }
      }
    }

    .is-not-buyable,
    .addtobag-config-button {
      color: $matchback-view-options-btn-text;
      line-height: 1.29;
      background-color: $matchback-view-options-btn-bg;
      padding: rem(18) rem(10);
      height: rem(50);
      white-space: nowrap;
      margin-top: rem(7);
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}
