// Stylesheet mixins.
$tbs_theme_img_directory_path: '/themes/custom/transac/alshaya_tbs/imgs';

@mixin ic-social {
  content: '';
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  background-size: contain;
  background-position: center;
}
