.aggregate-rating {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0.75rem 0;

  @include breakpoint($only-mobile) {
    padding: 0.5rem;
    justify-content: center;
  }

  > span {
    font-size: 0.75rem;
    height: 1.25rem;
    line-height: 2.4;
  }

  .no-of-stars {
    font-size: 1.125rem;
    margin-#{$left}: 0.875rem;
    margin-#{$right}: 0.875rem;
    font-family: $alshaya-bold;
    line-height: 1.5;
  }

  .write-review {
    text-decoration: underline;
    font-size: 0.75rem;
  }

  .empty-stars {
    background: url('#{$base_theme_img_directory_path}/icons/star-rating-sprite.svg') repeat-x;
    height: 1.1875rem; /* [(height of one sprite / 2) ex: 48/2 = 19] */
    width: 7.5rem; /* [(width of one sprite x 5) ex: 24*5 = 120] */
  }

  .aggregate-star-rating {
    background: url('#{$base_theme_img_directory_path}/icons/star-rating-sprite.svg') repeat-x;
    background-position: $left 0 bottom 0;
    float: $left;
    height: 1.1875rem; /* [(height of one sprite / 2) ex: 48/2 = 19] */
    display: block;
  }
}
