#reviews-section {
  .review {
    &-summary {
      padding: 1.75rem 0.5rem 2.25rem;
      border-bottom: 0.0625rem solid $rr-reviews-summary-border;

      @include breakpoint($tablet) {
        display: flex;
        padding: 2.8125rem 0 2.5rem;
      }
    }

    &-detail-left {
      flex-basis: 31%;
    }

    &-detail-right {
      flex-basis: 69%;

      @include breakpoint($only-mobile) {
        padding-top: 1.5rem;
      }
    }

    &-tooltip {
      cursor: pointer;
      position: relative;

      @include breakpoint($tablet) {
        display: inline-block;
      }
    }

    &-attributes-details {
      font-size: 0.875rem;
      margin-#{$right}: 1rem;
      padding-bottom: 0.5rem;

      .attribute-name {
        font-family: $alshaya-bold;
        color: $rr-review-summary-txt;
      }

      .attribute-value {
        color: $rr-review-summary-grey-text;
        font-family: $alshaya-thin;
      }
    }

    &-count {
      border-bottom: 0.0625rem solid $rr-reviews-summary-border;
    }

    &-count,
    &-vote {
      padding: 0.625rem 1rem;
      text-align: center;
      font-family: $alshaya-thin;
    }

    &-title {
      font-size: 1.125rem;
      font-family: $alshaya-thin;
      line-height: 1.2;
      color: $rr-review-summary-txt;

      @include breakpoint($only-mobile) {
        margin-bottom: 1.25rem;
      }
    }

    &-date {
      font-size: 0.75rem;
      margin-bottom: 0.9375rem;
      color: $rr-review-summary-grey-text;
      font-family: $alshaya-thin;
    }

    &-text {
      font-size: 0.875rem;
      color: $rr-review-summary-grey-text;
      margin-bottom: 0.9375rem;
      font-family: $alshaya-thin;

      @include breakpoint($only-mobile) {
        margin-bottom: 1.5rem;
      }
    }

    &-inline-feedback {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.5rem;

      @include breakpoint($tablet) {
        padding-top: 2.188rem;
      }
    }

    &-feedback {
      font-size: 0.875rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;

      a {
        margin-#{$right}: 0.9375rem;
      }

      &-comment {
        .feedback-comment-disabled {
          .review-feedback-comment-btn {
            background: $rr-feedback-button-active-bg;
            border: 0.0625rem solid $rr-feedback-button-active-bg;
          }
        }
      }

      &-vote {
        display: flex;
      }
    }

    &-comment-form,
    &-comment-display {
      flex-basis: 100%;
    }

    &-detail-mobile {
      margin-bottom: 1.25rem;

      .review-date {
        margin-#{$right}: 0.5rem;
      }

      .user-detail-location {
        padding-#{$left}: 0.5rem;
        margin-#{$right}: 0.1875rem;
        border-#{$left}: 0.0625rem solid $rr-reviews-summary-border;
        padding-bottom: 0;
      }
    }

    &-attributes {
      margin-bottom: 0.9375rem;

      @include breakpoint($tablet) {
        margin-bottom: 1.125rem;
      }
    }

    &-recommendation {
      font-size: 0.875rem;
      margin-bottom: 1rem;
      font-family: $alshaya-bold;
      display: flex;
      align-items: center;

      @include breakpoint($tablet) {
        margin-bottom: 0.625rem;
      }

      &-text {
        font-family: $alshaya-thin;
        padding-#{$left}: 0.313rem;
      }

      &-icon {
        @include icon(check) {
          background: $rr-recommendation-icon-bg;
          color: $rr-recommendation-icon;
          border-radius: 50%;
          font-size: 1.25rem;
          margin-#{$right}: 0.3125rem;
          position: relative;
          top: 0.0625rem;
        }
      }
    }

    &-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2.5rem 0;
      font-size: 0.9375rem;

      .prev-btn,
      .next-btn {
        font-size: 0;
        border: none;
        background: unset;

        &:disabled {
          display: none;
        }
      }

      button {
        &::before {
          font-size: 1.75rem;
        }
      }

      .prev-btn {
        @include icon(chevron#{$left});
      }

      .next-btn {
        @include icon(chevron#{$right});
      }
    }
  }

  .user {
    &-review-wrapper {
      display: flex;
    }

    &-reviews-details {
      flex-basis: 35%;
    }

    &-personal-details {
      flex-basis: 65%;
      padding: 0.625rem 0.9375rem;
      border-#{$left}: 0.0625rem solid $rr-reviews-summary-border;
    }

    &-name {
      font-family: $alshaya-bold;
    }

    &-review-info {
      @include tooltip(16.75rem);

      color: $rr-review-summary-txt;

      @include breakpoint($only-mobile) {
        #{$left}: 0;
        top: 1.25rem;
      }
    }

    &-detail-nickname {
      font-size: 0.875rem;
      font-family: $alshaya-bold;
      text-decoration: underline;
      color: $rr-review-summary-txt;

      @include breakpoint($only-mobile) {
        padding-bottom: 0.1875rem;
        display: inline-block;
      }
    }

    &-detail-location {
      font-size: 0.875rem;
      margin-#{$right}: 1rem;
      padding-bottom: 0.1875rem;
    }

    &-info {
      padding: 0.9375rem 0.875rem;
      border-bottom: 0.0625rem solid $rr-reviews-summary-border;
      font-family: $alshaya-bold;
    }

    &-attribute-value {
      padding-#{$left}: 0.3125rem;
      font-family: $alshaya-thin;
    }
  }

  .review-tooltip {
    &:hover {
      .user-review-info {
        @include tooltip-display();

        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 16.75rem;
        word-break: break-word;
        font-size: 0.875rem;
      }
    }
  }

  .feedback-label {
    padding-#{$right}: 0.1875rem;
    margin-#{$right}: 0.625rem;
    line-height: 1.65;
    color: $rr-review-summary-grey-text;
    font-family: $alshaya-thin;

    @include breakpoint($only-mobile) {
      margin-bottom: 0.1875rem;
      display: block;
    }
  }

  .feedback-option-label {
    font-family: $alshaya-bold;
    text-decoration: underline;
    padding-#{$right}: 0.3125rem;
    color: $rr-review-summary-txt;
  }

  .feedback-count {
    color: $rr-review-summary-grey-text;
    font-family: $alshaya-thin;
    font-size: 0.75rem;
  }

  .horizontal-border {
    border-top: 0.03125rem solid $rr-reviews-summary-border;
    width: 4.0625rem;
    padding-bottom: 1.5625rem;
    margin-top: 1.25rem;
  }

  .star-ratings-wrapper {
    margin-bottom: 0.625rem;

    @include breakpoint($tablet) {
      margin-bottom: 0.9375rem;
    }
  }

  .post-review-moderation {
    margin-top: 2rem;

    @include breakpoint($only-mobile) {
      padding: 0 0.5rem;
    }

    .review-title {
      margin-bottom: 0.5rem;
    }
  }

  .empty-review-summary {
    display: flex;
    justify-content: center;

    .write-review-button {
      min-width: 20.3125rem;
      height: 2.5rem;
      background: $rr-review-summary-btn-color;
      color: $rr-review-summary-btn-text;
      border: 0.0625rem solid $rr-review-summary-btn-color;
      padding: 0.75rem;
      font-size: 0.875rem;
      line-height: 1;
      text-align: center;
      cursor: pointer;
    }
  }
}
