@mixin bv-placeholder-label() {
  font-size: 0.875rem;
  position: absolute;
  #{$left}: 0;
  top: 0;
  transition: font-size 0.2s ease-in-out, top 0.2s ease-in-out;
  pointer-events: none;
  color: $rr-form-label-txt;
}

@mixin bv-placeholder-active() {
  top: -1rem;
  bottom: 0;
  #{$left}: 0;
  opacity: 1;
  font-size: 0.75rem;
}

.write-review-form-add {
  padding: 2.5rem;

  @include breakpoint($only-mobile) {
    padding: 1.5rem 0;
  }

  @include breakpoint($only-tablet) {
    padding: 0.5rem;
  }

  // Type = Text.
  .write-review-type-textfield {
    position: relative;
    margin-bottom: 1.5rem;

    input[type="text"],
    input[type="email"] {
      height: 1.5rem;
      font-size: 0.875rem;
    }

    label {
      @include bv-placeholder-label;

      &.active-label {
        @include bv-placeholder-active;
      }
    }

    input:focus ~ label,
    input.focus ~ label {
      @include bv-placeholder-active;
    }

    &.user-nickname,
    &.user-email {
      float: $left;
      width: 48%;
      margin-bottom: 3.5rem;
      min-height: 2.5rem;
      margin-top: 1.5rem;

      @include breakpoint($only-mobile) {
        width: 100%;
      }

      @include breakpoint($only-tablet) {
        width: 45.5%;
      }
    }

    &.user-nickname {
      margin-#{$right}: 2.625rem;

      @include breakpoint($only-mobile) {
        margin-#{$right}: 0;
      }
    }
  }

  // Type = TextArea.
  .write-review-type-textarea {
    margin-bottom: 1.5rem;

    label {
      display: inline-block;
      margin-bottom: 0.5rem;
      color: $rr-form-label-txt;
      font-size: 0.875rem;
    }

    textarea {
      resize: none;
      font-size: 0.875rem;
      height: 10rem;
      border: 1px solid $primary_input_border !important;
      padding: 0.75rem !important;

      &.error {
        border: 1px solid $primary_input_inline_error !important;
        border-width: 0.125rem !important;
      }
    }
  }

  // Type = Select.
  .write-review-type-select {
    margin-bottom: 2rem;

    label {
      font-size: 0.75rem;
    }
  }

  .hide-field-select {
    &.dropdown-conatiner {
      display: none;
    }
  }

  .dropdown-conatiner {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
    flex-flow: row wrap;

    .error {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-#{$left}: 50%;

      @include breakpoint($only-mobile) {
        margin-#{$left}: 0;
      }
    }

    .dropdown-label {
      width: 50%;
      font-size: 0.875rem;
      padding-#{$right}: 1.25rem;
      color: $rr-form-label-txt;

      @include breakpoint($only-mobile) {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }

    .bv-select {
      width: 50%;

      @include breakpoint($only-mobile) {
        width: 100%;
      }
    }
  }

  .netpromoter-option {
    .survey-block {
      display: flex;
      margin: 2rem 0;
      margin-bottom: 1rem;
      justify-content: space-between;

      @include breakpoint($only-mobile) {
        margin: 2rem 0;
        margin-bottom: 0.5rem;
      }

      @include breakpoint($only-tablet) {
        margin: 1rem 0;
      }

      &.radio-error {
        .form-type-radio {
          input[type="radio"] {
            & ~ label {
              &::before {
                border: 1px solid $rr-form-error-border;
              }
            }

            &:checked {
              & ~ label {
                &::before {
                  border: 3px solid $primary_radiobtn_filled;
                }
              }
            }
          }
        }
      }

      .form-type-radio {
        &:first-child {
          margin-#{$right}: 0;
        }

        input[type="radio"] {
          & ~ label {
            &::before {
              width: 1.5rem;
              height: 1.5rem;
              margin-#{$right}: 0;
              cursor: pointer;
            }

            p {
              margin: 0;
              margin-top: 0.25rem;
              text-align: center;
            }
          }
        }
      }
    }

    .survey-experience {
      display: flex;

      > div {
        width: 50%;
        color: $rr-survey-txt;
        font-size: 0.875rem;

        &:last-of-type {
          text-align: $right;
        }
      }
    }
  }

  .netpromoter-label {
    label {
      font-size: 0.875rem;
      color: $rr-form-label-txt;
    }
  }

  .write-review-type-tags {
    display: inline-flex;
    margin-#{$right}: 0.625rem;
    margin-bottom: 1rem;

    &-question {
      margin-top: 1rem;
      margin-bottom: 1.25rem;
      color: $rr-form-label-txt;
    }

    &.radio-error {
      input[type="checkbox"] {
        & ~ label {
          border: 1px solid $rr-form-error-border;
        }
      }
    }

    input[type="checkbox"] {
      & ~ label {
        border: 1px solid $rr-tag-label-border;
        padding: 0.5rem;
        cursor: pointer;

        @include icon(plus) {
          background: $rr-tag-label-icon-bg;
          color: $rr-tag-label-icon-txt;
          margin-#{$right}: 0.5rem;
          font-size: 1rem;
          font-weight: bold;
          position: relative;
          top: 1px;
        }
      }

      &:checked {
        & ~ label {
          background: $rr-tag-label-active-bg;
          color: $rr-tag-label-active-txt;
          border: 1px solid $rr-tag-label-active-border;

          @include icon(check) {
            color: $rr-tag-label-active-icon-txt;
            background: $rr-tag-label-active-icon-bg;
          }
        }
      }
    }
  }

  .write-review-form-actions {
    display: flex;
    justify-content: flex-end;

    @include breakpoint($only-mobile) {
      flex-flow: row wrap;
      margin-top: 2.5rem;
    }

    button {
      min-width: 19.75rem;
      height: 2.5rem;
      background: $rr-review-summary-btn-color;
      color: $rr-review-summary-btn-text;
      border: 0.0625rem solid $rr-review-summary-btn-border;
      padding: 0.75rem;
      font-size: 0.875rem;
      line-height: 1;
      font-family: $alshaya-thin;

      @include breakpoint($only-mobile) {
        min-width: 100%;
        margin-bottom: 1rem;
        order: 1;
      }

      @include breakpoint($only-tablet) {
        min-width: 14.75rem;
      }
    }

    .write-review-form-cancel {
      margin-#{$right}: 2rem;
      background: $rr-write-review-cancel-btn-bg;
      color: $rr-write-review-cancel-btn-txt;
      border: 1px solid $rr-write-review-cancel-btn-border;

      @include breakpoint($only-mobile) {
        margin-#{$right}: 0;
        order: 2;
      }
    }
  }

  .link-block {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    font-family: $alshaya-thin;
    margin-top: 1.25rem;

    @include breakpoint($upto-desktop) {
      justify-content: flex-start;
    }

    .static-link {
      &:first-of-type {
        border-#{$right}: 1px solid $rr-static-links-border;
        padding-#{$right}: 0.5rem;
      }

      &:last-of-type {
        padding-#{$left}: 0.5rem;
      }

      a {
        text-decoration: underline;
        color: $rr-static-links-txt;
      }
    }
  }
}
