.spc-promo-code-block {
  .promo-submit {
    text-transform: uppercase;
  }

  #promo-code {
    font-size: 0.875rem;
    border: 1px solid $spc-promo-code-border;

    .error {
      border-width: 1px !important;
      border-#{$right}: 0 !important;
    }

    &::placeholder {
      color: $spc-promo-code-placeholder-text;
    }
  }
}
