.c-department {
  margin-top: 1.75rem;

  @include breakpoint($only-mobile) {
    padding-#{$left}: 0;
    padding-#{$right}: 0;
  }

  .c-content__region {
    @include breakpoint($tablet) {
      flex-direction: column-reverse;
      display: flex;

      .term-description-mobile-only.c-page-title__description {
        display: block;
      }
    }
  }

  .c-page-title {
    border-bottom: 1px solid $content_pagetitle_border;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .c-page-title__description {
    display: none;
  }

  .content {
    .c-promo__items--department img {
      width: 100%;
    }
  }

  .c-category-list {
    &__item {
      a:hover {
        color: $department_category_list_hover;
        text-decoration: underline;
      }
    }
  }

  .c-promo-block-seo-text,
  .c-promo-block-seo-title {
    @include breakpoint($only-mobile) {
      @include u-visibility(block);
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .c-promo-block-seo-title {
    font-family: $alshaya-bold;
    text-transform: lowercase;
    color: $title;
  }

  @include breakpoint($only-mobile) {
    .c-content__body {
      padding-#{$left}: 0;
      padding-#{$right}: 0;
    }

    .c-content__slider {
      margin-bottom: 0.75rem;
      min-height: auto;
    }

    .term-description-mobile-only {
      padding-#{$left}: 0.5rem;
      padding-#{$right}: 0.5rem;
    }
  }
}

.c-promo-block-seo-text,
.c-promo-block-seo-title {
  @include u-visibility(none);
}

.nodetype--department_page {
  @include breakpoint($only-mobile) {
    .c-hero-content__region {
      margin-top: 1rem;
    }

    .c-department {
      margin-top: 0.875rem;
    }
  }
}
