.c-department {
  @include breakpoint($tablet) {
    margin-top: 0;
  }

  .c-category-list__title {
    text-transform: uppercase;
    font-weight: bold;

    a {
      color: $secondary_link;
    }
  }

  .c-category-list__item {
    text-transform: none;

    a:hover {
      color: $content_link_color;
    }
  }
}

.nodetype--advanced_page {
  .c-department {
    @include breakpoint($only-mobile) {
      margin-top: 0.75rem;
    }
  }
}
