.checkout-link {
  &:not(.checkout_com_applepay) {
    background: $primary_brand_button;
    height: 2.625rem;
    border-radius: 1.3125rem;

    @include breakpoint($only-mobile) {
      border-radius: 0;
    }

    a {
      font-family: $dh-semibold;
      text-transform: unset;
      height: 2.625rem;
    }
  }
}
