.spc-order-summary-block {
  .spc-product-attributes {
    .egift-cart-message-value {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 7.9rem;
      display: inline-block;
      vertical-align: bottom;

      @include breakpoint($desktop) {
        width: 8.9rem;
      }
    }
  }

  .egift-order-summary {
    .total-line-item:nth-child(1) {
      color: $pdp_product_special_price_text;
    }
  }

  .total-line-item,
  .hero-total .total-line-item {
    > span:first-child.paid-with-egift {
      text-transform: initial;
    }
  }
}

#spc-checkout {
  .spc-virtual-product-checkout {
    .spc-checkout-payment-options,
    .spc-aura-checkout-rewards-block {
      padding-top: 0;
    }

    .spc-aura-checkout-rewards-block {
      padding-bottom: 2.5rem;
    }
  }

  .product-content {
    .product-item {
      .spc-product-attributes {
        .spc-cart-product-attribute-value {
          input {
            border: none;
            background: transparent;
            -webkit-text-fill-color: $egift-checkout-card-number;
            opacity: 1;

            html[lang="ar"] & {
              direction: ltr;
              text-align: right;
              max-width: 10rem;

              @include breakpoint($only-mobile) {
                max-width: 8rem;
              }
            }
          }
        }
      }
    }
  }
}
