body.aura-enabled {
  @include breakpoint($only-tablet) {
    ul.menu--one__list.menu__list {
      top: rem(40);
    }

    &.logged-in {
      ul.menu--one__list.menu__list {
        top: rem(54);
      }
    }
  }

  @include breakpoint($desktop) {
    .region__menu-secondary {
      & > div,
      & > nav {
        height: rem(32);
      }

      #block-account-menu {
        a {
          line-height: rem(32);
        }
      }
    }
  }
}
