.magv2-sidebar {
  .card {
    background-color: $pdp_card_bg;
    box-shadow: none;
    margin-bottom: rem(11);

    &.close-card {
      .title {
        vertical-align: middle;
      }
    }

    .title {
      font-size: rem(16);
      line-height: rem(20);

      .card-icon-svg {
        margin-#{$left}: rem(-10);
      }
    }

    .content {
      font-size: rem(16);
      line-height: rem(20);
    }
  }
}
