.nodetype--acq_product {
  .page-wrapper {
    background-color: $pdp_bg;
  }
}

.magv2-sidebar {
  padding-left: rem(12);
  padding-right: rem(12);
  background-color: $pdp_bg;

  .magv2-pdp-section-title {
    color: $primary_text;
  }
}
