.magazine-layout-v2 {
  #pdp-layout {
    background-color: $pdp_bg;
  }
}

.nodetype--acq_product {
  .page-wrapper,
  .c-footer {
    background-color: $pdp_bg;
  }
}

.magv2-sidebar {
  padding-left: rem(12);
  padding-right: rem(12);
  background-color: $pdp_bg;

  .magv2-pdp-section-title {
    color: $primary_text;
  }

  .product-quickfit {
    background-color: $pdp_card_bg;
    padding: rem(10) rem(12);
    margin-top: rem(20);
    display: flex;

    &::before {
      content: "";
      background: url("#{$ay_theme_img_directory_path}/icons/quick-fit.svg") center/contain no-repeat;
      height: rem(14);
      width: rem(14);
      margin-#{$right}: rem(10);
      align-self: center;
    }

    @include breakpoint($only-tablet) {
      html[lang="ar"] & {
        padding-left: rem(7);
      }
    }
  }
}

.hide-minimalistic-header {
  &:not(.page-type-product) {
    &.no-sticky-algolia-search-bar {
      .block-alshaya-react-mini-cart {
        transform: none;
      }
    }
  }
}
