.magv2-sidebar {
  .addtobag-button-wrapper {
    margin-top: rem(12);

    .pdp-cart-form {
      .sku-base-form {
        .cart-form-attribute {
          .magv2-swatch-attribute {
            margin-bottom: rem(30);
            display: flex;
            flex-direction: column;

            li {
              padding: rem(6);
              margin: 0;
              position: relative;
            }

            .active {
              &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                #{$left}: 0;
                display: inline-block;
                border-radius: 50%;
                border: rem(1) solid $pdp_secondary_text;
              }
            }

            a {
              width: rem(35);
              height: rem(35);
              border-radius: 50%;
              border: rem(1) solid $swatch-border;

              &.dual-color-tone {
                @include dual-tone-color-swatch;
              }
            }

            .group-swatch-option {
              display: flex;
              flex-direction: column;
              margin-#{$left}: rem(6);
              margin-bottom: rem(20);
            }

            .group-swatch-text {
              font-size: rem(14);
              line-height: rem(18);
              margin-bottom: rem(10);
              color: $primary_text;
            }

            .group-swatch-items {
              display: flex;
            }
          }
        }

        .magv2-size-btn-wrapper {
          font-family: $alshaya-thin;
          font-size: rem(16);
          color: $primary_text;
        }

        .magv2-add-to-basket-container {
          .magv2-button {
            &::before {
              content: "";
              background: url("#{$ay_theme_img_directory_path}/icons/basket-white.svg?v1") center/contain no-repeat;
              height: rem(20);
              width: rem(20);
              display: inline-block;
              vertical-align: middle;
              margin-#{$right}: rem(19);
              margin-top: rem(-10);
            }
          }
        }
      }
    }
  }

  @include breakpoint($tablet) {
    .addtobag-button-wrapper {
      .pdp-cart-form {
        .sku-base-form {
          .cart-form-attribute {
            .magv2-swatch-attribute {
              li {
                width: auto;
                height: auto;
              }

              .group-swatch-text {
                font-size: rem(16);
                line-height: rem(20);
                margin-bottom: rem(14);
              }
            }
          }
        }
      }
    }
  }
}

.magv2-button {
  font-family: $ay-heavy;
  font-size: rem(16);
  line-height: rem(20);
  background: $primary_btn_bg;
  text-transform: uppercase;
}
