.page-standard.user-page.checkout-delivery {
  #edit-delivery-tabs {
    hr {
      top: 0;
      border-width: 0.125rem;
      margin-#{$left}: -1px;
      width: calc(50% - 1.875rem);

      @include breakpoint($only-tablet) {
        width: calc(50% - 1.0625rem);
      }
    }

    .tab.tab-click-collect {
      @include breakpoint($desktop) {
        margin-#{$left}: -0.125rem;

        &:hover ~ hr {
          margin-#{$left}: 53%;
          width: calc(50% - 1.9375rem);
        }

        &.active--tab--head ~ hr {
          margin-#{$left}: 52.9%;
        }
      }

      @include breakpoint($only-tablet) {
        margin-#{$left}: 1px;

        &.active--tab--head ~ hr {
          margin-#{$left}: 53.1%;
        }

        &.active--tab--head {
          margin-#{$left}: 1px;
        }
      }
    }

    .tab.tab-home-delivery {
      &:not(.active--tab--head) {
        @include breakpoint($desktop) {
          margin-#{$left}: -1px;
        }

        @include breakpoint($only-tablet) {
          margin-#{$left}: -1px;
        }
      }
    }

    .tab.active--tab--head {
      p {
        color: $checkout_tab_active_description !important;
      }

      @include breakpoint($only-mobile) {
        border-color: $checkout_tab_active_border_mobile !important;
      }
    }

    .tab {
      h2 {
        text-transform: capitalize;
      }

      &.tab-separator {
        background: transparent;
      }
    }
  }

  main {
    .tabs--content {
      border-width: 1px;

      .tab {
        &.active--tab--head {
          border-width: 1px !important;

          &::after,
          &::before {
            display: none !important;
          }
        }
      }
    }

    form {
      #edit-guest-delivery-home.active--tab--content,
      fieldset.active--tab--content {
        border-width: 1px;
        top: -1px;
      }
    }
  }

  .select-transaction-type {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.75rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
