.order-confirmation {
  #edit-confirmation-continue-shopping,
  .order-print-button a,
  .continue--shopping--mobile a {
    color: $checkout_order_print_btn_text;
    text-transform: uppercase;
  }

  .user__order--detail {
    background-color: $checkout_confirmation_detail_bg;
    line-height: normal;

    .dark {
      font-weight: normal;
      color: $checkout_confirmation_detail_primary_text;
    }

    td div {
      margin-bottom: 0;
    }

    .price {
      @include breakpoint($tablet) {
        min-width: 6.625rem;
      }
    }

    .order-item-row {
      .price-currency,
      .price-amount {
        font-weight: normal;
        color: $checkout_confirmation_detail_amount;
      }

      td {
        background: $checkout_confirm_order_item_bg;

        &.blend {
          background: $checkout_confirm_order_item_bg_blend;
        }

        &:last-child {
          @include breakpoint($desktop) {
            display: table-cell !important;
          }
        }
      }
    }

    .price-currency {
      @include breakpoint($only-mobile) {
        margin-#{$right}: 1rem;
      }
    }
  }

  .continue--shopping--mobile a,
  #edit-confirmation-continue-shopping,
  .continue--shopping--mobile a.expanded-table,
  #edit-confirmation-continue-shopping.expanded-table {
    @include breakpoint($only-tablet) {
      margin-#{$right}: 3.55rem;
      width: 9.5rem;
    }
  }

  .order__product--details,
  .order-item-row {
    .dark {
      color: $checkout_confirmation_detail_dark_text;
    }

    .light {
      color: $checkout_confirmation_detail_light_text;
    }
  }

  .total-row {
    .price-currency,
    .price-amount {
      font-weight: bold;
    }

    .upcase {
      text-transform: capitalize;
    }
  }

  .multistep-checkout {
    color: $checkout_confirmation_detail_primary_text;
  }

  .product--count {
    color: $checkout_confirmation_detail_secondary_text;
    background: $checkout_confirmation_detail_product_count;
  }

  .sub-total-row,
  .delivery-charge-row,
  .total-row {
    .price {
      color: $checkout_confirmation_detail_dark_text;
    }
  }

  .subtitle {
    font-weight: normal;
  }

  .barcode--wrapper {
    .inner--wrap {
      strong {
        font-weight: 600;
      }
    }
  }
}

.confirmation__signup--title {
  text-transform: lowercase;
}
