.multistep-checkout {
  fieldset {
    legend {
      span {
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}

.user-page {
  .multistep-checkout {
    .form-submit {
      font-weight: normal !important;
    }
  }

  &.checkout-delivery main form .form-actions a,
  label.option p a {
    font-weight: 600 !important;
  }
}

.alias--cart-checkout-delivery,
.alias--cart-checkout-login,
.alias--cart-checkout-payment,
.alias--cart-checkout-confirmation {
  .site-brand-wrapper {
    border-bottom: none;
    text-align: center;

    @include breakpoint($desktop) {
      border-top: 1.5rem solid $checkout_header_border-top;
      border-bottom: none;
    }

    .site-brand-home {
      @include breakpoint($only-tablet) {
        padding: 0.75rem 1.5rem;
      }

      a {
        @include breakpoint($only-mobile) {
          max-width: 14.9375rem;
          width: 80%;
        }

        @include breakpoint($desktop) {
          max-width: 12.5rem;

          html[lang=ar] & {
            max-width: 10rem;
          }
        }

        @include breakpoint($only-tablet) {
          width: 40%;
          max-width: 17.5625rem;
        }
      }

      @include breakpoint($only-mobile) {
        padding-top: 0;
        border-bottom: 0.5625rem solid $checkout_header_border-bottom;

        html[lang=ar] & {
          padding-top: 0.5rem;
        }
      }

      .icon-ic_login {
        background: transparent;
        display: inline-block;
        height: 2.3125rem;
        width: 1.75rem;

        @include breakpoint($desktop) {
          height: 2.8125rem;
          width: 2.125rem;
        }
      }
    }
  }

  .secure__checkout--block {
    @include breakpoint($only-tablet) {
      margin-top: 0.3125rem;
      padding-#{$right}: 0.25rem;
    }

    @include breakpoint($desktop) {
      margin-top: -0.625rem;
      padding-#{$right}: 0.1875rem;
    }

    .secure__checkout--label {
      @include breakpoint($desktop) {
        position: relative;
        top: 0.25rem;
        padding-#{$right}: 0.125rem;
      }
    }
  }
}
