.path--cart {
  .free-gift-container {
    @include breakpoint($only-mobile) {
      top: 9.625rem;
    }
  }
}

// for all browsers.
body {
  //free gift list.
  &.free-gift-promo-list-overlay:not(.free-gift-detail-modal) {
    .ui-dialog {
      @include breakpoint($desktop) {
        padding: calc((100vh - 35rem) / 2) calc((100vw - 60.13rem) / 2) !important;
      }
    }
  }

  //free gift detail.
  &.free-gift-promo-list-overlay.free-gift-detail-modal {
    .ui-dialog {
      .ui-dialog-content#drupal-modal {
        @include breakpoint($desktop) {
          height: 42rem !important;
        }
      }
    }

    // specific to pink; short description font.
    &.super-category-pink {
      .ui-dialog {
        .ui-dialog-content#drupal-modal {
          .short-description-wrapper {
            .content--short-description {
              .field__label {
                html[lang='en'] & {
                  font-family: $vs-bentonsans-light;
                  font-size: 1.375rem;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
  }
}
