.c-plp {
  @include breakpoint($tablet) {
    padding-top: 1.5rem;
  }

  .c-page-title__description,
  .field--name-field-acq-promotion-description {
    text-transform: none;
    font-size: 0.875rem;
  }

  .region__content {
    .block-page-title-block.mobile {
      h1 {
        @include breakpoint($only-mobile) {
          font-size: 1rem;
        }
      }

      + .view-header.search-count {
        padding-top: 3px;
        border-bottom: 1px solid $content_pagetitle_border;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .c-products__item {
    font-size: 0.875rem;

    @include breakpoint ($desktop) {
      margin-bottom: 2rem;
    }

    @include breakpoint($only-tablet) {
      min-height: 22.5rem;
    }

    // required for tablet landscape as well.
    @include breakpoint($desktop - 1) {
      min-height: 31rem;
    }

    article:hover {
      .field--name-name a {
        text-decoration: none;
      }

      &::after {
        @include breakpoint($tablet) {
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -0.75rem;
          -webkit-appearance: none;
          box-shadow: 0.25rem 0.25rem 0.5rem 0 $plp_tile_product_hover_shadow;
        }
      }
    }

    .alshaya_search_gallery {
      @include breakpoint($desktop) {
        max-height: 24.5rem;
      }

      .alshaya_search_mainimage {
        @include breakpoint($upto-desktop) {
          height: auto;
        }

        @include breakpoint($desktop) {
          height: 24.5rem;
          align-items: flex-start;
        }
      }
    }
  }

  .c-products-list.product-small {
    .alshaya_search_gallery {
      @include breakpoint($desktop) {
        max-height: 20.5rem;
      }

      .alshaya_search_mainimage {
        @include breakpoint($desktop) {
          height: 20.5rem;
        }

        @include breakpoint($tablet) {
          height: auto;
        }

        @include breakpoint($only-mobile) {
          height: 15.125rem;
        }
      }
    }
  }

  .c-products-list.product-large {
    @include breakpoint($desktop) {
      .alshaya_search_gallery {
        max-height: 26.5rem;

        .alshaya_search_mainimage {
          height: 26.5rem;
        }
      }
    }

    @include breakpoint($only-tablet) {
      .alshaya_search_gallery {
        max-height: 29.125rem;
      }
    }

    @include breakpoint($only-mobile) {
      .alshaya_search_gallery {
        max-height: 31.125rem;

        .alshaya_search_mainimage {
          height: 31.125rem;
        }
      }
    }
  }

  &.lhn-without-sidebar {
    .c-products-list.product-small {
      @include breakpoint($desktop) {
        .alshaya_search_gallery {
          max-height: 24.5rem;

          .alshaya_search_mainimage {
            height: 24.5rem;

            // in search page, the height is a bit big for most of the images.
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .c-products__item article:hover {
          .alshaya_search_gallery {
            max-height: none;
          }
        }
      }
    }

    .c-products-list.product-large {
      @include breakpoint($desktop) {
        .alshaya_search_gallery {
          max-height: 33rem;

          .alshaya_search_mainimage {
            height: 33rem;
          }
        }

        .c-products__item article:hover {
          .alshaya_search_gallery {
            max-height: none;
          }
        }
      }
    }
  }

  .region__content {
    .bef-exposed-form {
      position: relative;
    }

    .block-views-exposed-filter-blockalshaya-product-list-block-1,
    .block-views-exposed-filter-blockalshaya-product-list-block-2 {
      @include breakpoint($only-mobile) {
        padding-top: 0.5rem;
      }
    }

    .c-page-title__description {
      @include breakpoint($tablet) {
        width: auto;
        max-width: none;
      }
    }

    .view-header {
      &.search-count {
        padding-bottom: 1rem;

        @include breakpoint($tablet) {
          margin-top: 1.5625rem;
        }

        @include breakpoint($only-mobile) {
          margin-top: 0.3125rem;
          padding-top: 0.1875rem;
          padding-bottom: 0.5rem;
        }
      }
    }

    .block-facets-summary-blockfilter-bar-promotions,
    .block-facets-summary-blockfilter-bar-plp,
    .block-facets-summary-blockfilter-bar {
      ul {
        border-bottom: none;
        margin-bottom: 0;
      }

      ul li {
        margin-bottom: 0.75rem;
        padding-bottom: 0;
        border: 1px solid $plp_facet_clear_border;

        &:hover {
          opacity: 0.75;
        }

        &.clear-all {
          padding: 0;
          text-transform: uppercase;
          font-family: $vs-bold;
          border: none;

          a {
            display: block;
          }
        }

        a {
          span {
            &.facet-item__value {
              text-transform: none;
            }
          }
        }
      }
    }
  }

  .term-description-mobile-only {
    display: none;
  }

  .block-facet-blockcategory,
  .block-facet-blockplp-category-facet {
    .facet-item {
      input[type=checkbox] ~ label::before {
        @include breakpoint($only-mobile) {
          top: 0;
        }
      }
    }
  }

  .swatches {
    margin-top: 0.625rem;

    > a {
      display: inline-block;

      .swatch-block {
        display: block;
        width: 0.875rem;
        height: 0.875rem;
        margin: 0 0.3125rem;
      }
    }
  }
}

.price--discount {
  font-size: 0.75rem;
  margin: 0.625rem 0;
}

.basic-details-wrapper {
  .field--name-field-skus {
    .form-item-quantity::after {
      @include breakpoint($tablet) {
        font-size: 2rem;
        #{$right}: 0;
      }
    }
  }
}

.c-plp {
  ul {
    &.js-pager__items {
      margin-top: 3rem;

      a {
        font-size: 0.875rem;
        line-height: 1.29;
        text-transform: uppercase;
        padding: 0.62625rem 3.9375rem;

        @include breakpoint($only-mobile) {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.c-content__highlighted {
  .promo-banner {
    @include breakpoint($only-mobile) {
      picture {
        display: block;
      }

      img {
        margin-bottom: 0.75rem;
      }
    }
  }
}
