#backtotop {
  @include breakpoint($only-mobile) {
    #{$right}: 0.5rem;
  }

  @include breakpoint($only-tablet) {
    #{$right}: 1.875rem;
  }

  @include icon(chevronup, after) {
    width: 2.3125rem;
    height: 2.3125rem;
    color: $hnm-black-two;
    font-size: 2.125rem;
    position: absolute;
    bottom: 2.5rem;
    #{$right}: 0.25rem;
    border-radius: 100%;
    background-color: $white-three;
  }

  &:hover {
    opacity: 0.75 !important;
  }

  text-indent: 0;
  bottom: 0.25rem;
  opacity: 1 !important;
  cursor: pointer;
  position: fixed;
  font-size: 0.75rem;
  font-family: $hnm-regular;
  z-index: 3;
  display: block;
  background: none;
  text-align: center;
  color: $grey-ash;
  width: 2.8125rem;
  line-height: 0.9375rem;
  #{$right}: 3.125rem;
  text-transform: uppercase;

  &.backtotop-nofooter {
    position: fixed;
    bottom: 0.25rem;
    top: auto;
  }
}
