.button-wide {
  @extend %button-wide;
}

.brand-button {
  @include arabic-letter-spacing;
  @extend %button-brand;
}

.button {
  &.status-pending,
  &.status-delivered,
  &.status-complete,
  &.status-processing,
  &.status-returned {
    font-family: $hnm-bold;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.load-more-button {
  a {
    color: $primary_empty_btn;
    font-size: 0.875rem;
    border: 1px solid $primary_empty_btn_border;
    font-family: $hnm-regular;
  }
}

button.edit-add-to-cart {
  &.ladda-button[data-style="zoom-in"][data-loading] {
    .ladda-spinner {
      background-image: url("#{$base_theme_loader_img_directory_path}");
      background-size: contain;
      top: 2px;
      #{$left}: 42%;

      > div {
        display: none;
      }
    }
  }
}
