<div class="acq-mini-cart">
  {% if quantity > 0 and total %}
    <a class="cart-link-total" href="{{ path('acq_cart.cart') }}">{{ total }}</a>
  {% endif %}
  <a class="cart-link" href="{{ path('acq_cart.cart') }}">
    {% if quantity > 0 %}
      <span class="quantity">{{ quantity }}</span>
    {% endif %}
  </a>
</div>

{% if show_matchback %}
  <div id="cart_notification" class="matchback-cart-notification"></div>
{% else %}
  <div id="cart_notification"></div>
{% endif %}
