.spc-promo-code-block {
  .promo-submit {
    font-family: $tbs-medium;
    text-transform: capitalize;
  }

  #promo-code {
    font-size: 0.875rem;
    color: $spc-promo-code-text;
    border: 1px solid $spc-promo-code-text;
    height: 3.1875rem;
  }

  .promo-remove {
    &.active {
      &::after {
        color: $spc-promo-code-remove-cross;
      }
    }
  }
}
