.c-facet__label {
  text-transform: uppercase;
  font-weight: 600;
}

.c-facet {
  label {
    top: -3px;

    .facet-item__value {
      text-transform: capitalize;
    }
  }

  input[type=checkbox] ~ label::before {
    @include breakpoint($only-mobile) {
      position: relative;
      top: -0.125rem;
    }
  }
}
