.c-plp {
  .region__content {
    .filter--mobile .form-type-select {
      text-transform: none;

      label {
        color: $plp_sort_by_label;
        text-transform: none;
      }
    }

    .view-header.search-count {
      font-weight: 300;
    }

    .c-page-title__description {
      text-transform: none;
    }

    .block-facets-summary-blockfilter-bar-plp {
      ul {
        li {
          a {
            span.facet-item__value {
              text-transform: capitalize;
            }
          }

          &.clear-all {
            text-transform: uppercase;
            line-height: 1;
            background: $plp_facet_clear_bg;
          }
        }
      }
    }
  }
}
