.c-breadcrumb {
  background: $white-four;

  ol {
    max-width: 80.25rem;
    margin: auto;
    padding: 0.625rem 1.5rem;
    font-size: 0.625rem;
    letter-spacing: 0.5px;
  }

  li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
    text-transform: lowercase;

    &:last-of-type {
      font-weight: bold;
    }

    &:last-of-type a {
      font-weight: bold;
      color: $hnm-black-two;
      pointer-events: none;
      cursor: default;
      font-family: $hnm-bold;
    }

    a {
      color: $greyish;
      font-family: $hnm-regular;
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }

    &::after {
      content: '>';
      color: $greyish;
      vertical-align: middle;
      padding-right: 0.1875rem;
      padding-left: 0.1875rem;
    }

    &:last-of-type::after {
      display: none;
    }
  }

  @include breakpoint($only-mobile) {
    display: none;
  }
}
