{% for promo_button in promo %}
<div class="promo_images">
  <div class="img_area">
    <img class="promo_img" src="{{ file_url(promo_button.imgurl) }}">
  </div>
  <div class="txt_area">
    <div class ="img_title">{{ promo_button.img_title }}</div>
    <a href="{{ promo_button.link }}">
      <div class ="link_title">{{ promo_button.link_title }}</div>
    </a>
  </div>
</div>
{% endfor %}
