#reviews-section {
  .review-comment {
    button {
      border-radius: 0.1875rem;
    }
  }

  .review-inline-feedback {
    .review-feedback-comment,
    .review-comment-form {
      button {
        border-radius: 0.1875rem;
        font-family: $alshaya-thin;
      }
    }
  }
}
