.c-menu-secondary {
  a {
    font-size: 0.75rem;
    padding-#{$left}: 1.125rem;
    padding-#{$right}: 1.125rem;

    &:hover,
    &.is-active {
      color: $header_secondary_menu_link_hover;
    }
  }

  @include breakpoint($desktop) {
    .menu--account {
      li:first-child a,
      li:nth-child(2) a,
      li:last-child a {
        &::before {
          content: '';
          padding: 0;
        }
      }
    }

    .stores-finder {
      &::before {
        content: '';
        padding: 0;
      }
    }

    .block-language-blocklanguage-interface {
      .ar {
        a {
          padding-#{$right}: 1.75rem;

          &::before {
            font-size: 0;
          }
        }
      }

      .en {
        a::after {
          font-size: 0;
        }
      }
    }
  }
}

.branding__menu {
  @include breakpoint($only-tablet) {
    height: 4.535rem;
  }
}
