.egift-landing-page.nodetype--advanced_page {
  .block-page-title-block,
  .c-content__container,
  .c-content__banner {
    @include breakpoint($only-mobile) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  #block-page-title {
    display: none;
  }

  .c-breadcrumb {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $egift-breadcrumb-border;
      left: 0;
      top: 50%;
      position: absolute;
    }

    #block-breadcrumbs {
      li {
        a {
          text-transform: uppercase;
        }
      }
    }

    @include breakpoint($only-mobile) {
      display: none;
    }
  }
}
