@mixin egift-btn {
  height: 3.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-family: $alshaya-bold;
  max-width: 11rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

.egift-landing-page {
  .paragraph--type--_-row-2-col {
    .field--name-field-1-row-2-col {
      .field--name-field-1-row-2-col {
        background-color: $egift-landing-page-one-row-two-col-box-bg;
        text-align: center;
        padding: 1.875rem;

        &.field__item {
          width: calc(50% - 0.75rem);

          @include breakpoint($only-mobile) {
            width: 100%;
          }
        }

        &:first-child {
          &.field__item {
            @include breakpoint($only-mobile) {
              margin-bottom: 1.5rem;
            }
          }
        }

        .check-balance-wrapper {
          .checkbalance-title {
            display: block;
            font-size: 1.25rem;
            line-height: 2.5rem;
            margin-bottom: 0.5rem;
          }

          .checkbalance-description {
            display: inline-block;
            min-height: 3.5rem;
            line-height: 1.54rem;

            @include breakpoint($only-mobile) {
              min-height: 4.5rem;
            }
          }

          #check-balance-button {
            & > button {
              @include egift-btn;

              border-width: 0.0625rem;
              background: transparent;
              border: 1px solid $egift-button-border;
            }
          }
        }

        .paragraph--type--image-title-subtitle {
          .field--name-field-title {
            display: block;
            font-size: 1.25rem;
            line-height: 2.5rem;
            margin-bottom: 0.5rem;
          }

          .field--name-field-description {
            display: inline-block;
            min-height: 3.5rem;
            line-height: 1.54rem;

            @include breakpoint($only-mobile) {
              min-height: 4.5rem;
            }

            p {
              margin-bottom: 0;
            }
          }

          & > .field--name-field-button-link {
            @include egift-btn;

            position: relative;
            border: 1px solid $egift-button-border;

            .field--name-field-button-link {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
