@mixin egift-btn {
  height: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-family: $alshaya-bold;
  font-size: 0.8125rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.egift-landing-page {
  .paragraph--type--_-row-2-col {
    .field--name-field-1-row-2-col {
      .field--name-field-1-row-2-col {
        background-color: $egift-landing-page-one-row-two-col-box-bg;
        text-align: center;
        padding: 1.875rem;
        line-height: normal;

        &.field__item {
          width: 100%;

          @include breakpoint($tablet) {
            width: calc(50% - 0.75rem);
          }

          @include breakpoint($only-mobile) {
            margin-bottom: 0;
          }
        }

        &:first-child {
          &.field__item {
            @include breakpoint($only-mobile) {
              margin-bottom: 1.5rem;
            }
          }
        }

        .check-balance-wrapper {
          .checkbalance-title {
            font-family: $alshaya-bold;
            display: block;
            font-size: 1rem;
            line-height: normal;
            margin-bottom: 0.625rem;

            @include breakpoint($tablet) {
              font-size: 1.25rem;
            }
          }

          .checkbalance-description {
            display: inline-block;
            min-height: 4.5rem;
            line-height: 1.25rem;
            font-size: 0.8125rem;

            html[lang="ar"] & {
              min-height: 6rem;

              @include breakpoint($desktop) {
                min-height: 4.75rem;
              }
            }

            @include breakpoint($tablet) {
              min-height: 3rem;
            }
          }

          #check-balance-button {
            & > button {
              @include egift-btn;

              color: $primary_btn_bg;
              border-width: 0.0625rem;
              background: transparent;
              border: 1px solid $primary_btn_bg;
              padding: 1rem 2.0625rem;
              letter-spacing: 0.0625rem;
              line-height: 1rem;

              &:hover {
                background: $plp-secondary-cta-hover-bg;
              }
            }
          }
        }

        .paragraph--type--image-title-subtitle {
          .field--name-field-title {
            font-family: $alshaya-bold;
            display: block;
            font-size: 1rem;
            line-height: normal;
            margin-bottom: 0.625rem;

            @include breakpoint($tablet) {
              font-size: 1.25rem;
            }
          }

          .field--name-field-description {
            display: inline-block;
            min-height: 4.5rem;
            font-size: 0.8125rem;
            line-height: 1.25rem;

            html[lang="ar"] & {
              min-height: 6rem;

              @include breakpoint($desktop) {
                min-height: 4.75rem;
              }
            }

            @include breakpoint($tablet) {
              min-height: 3rem;
            }

            p {
              margin-bottom: 0;
            }
          }

          & > .field--name-field-button-link {
            @include egift-btn;

            color: $primary_btn_bg;
            position: relative;
            border: 1px solid $primary_btn_bg;
            padding: 1rem 2.0625rem;
            display: inline-block;
            line-height: 1rem;
            letter-spacing: 0.0625rem;
            text-transform: initial;

            &:hover {
              background: $plp-secondary-cta-hover-bg;
            }

            .field--name-field-button-link {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
