.spc-order-summary-item.aura-order-summary-item,
.spc-aura-checkout-rewards-block .block-content,
.aura-card-linked-verified-wrapper .aura-points-on-hold,
.aura-pdp-points-section,
.loyalty-club-details-wrapper,
.spc-aura-cart-rewards-block .spc-join-aura-link-wrapper {
  .tooltip-anchor {
    display: inline-block;
    margin-#{$left}: 0.5rem;

    .tooltip-box {
      font-family: $aura-regular;
      background: $aura-order-confirmation-points-tooltip-bg;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.24);
      border: none;
      color: $aura-order-confirmation-points-tooltip-txt;
      bottom: rem(32);
      #{$left}: 50%;
      transform: translateX(-50%);

      html[lang="ar"] & {
        transform: translateX(50%);
      }

      @include breakpoint($only-tablet) {
        #{$left}: -50%;
      }

      &::before,
      &::after {
        border-top-color: $aura-order-confirmation-points-tooltip-bg;

        @include breakpoint($only-tablet) {
          margin-#{$left}: rem(6);
        }

        @include breakpoint($only-mobile) {
          margin-#{$left}: rem(50);
        }

        html[lang="ar"] & {
          left: 10%;

          @include breakpoint($tablet) {
            left: 40%;
          }

          @include breakpoint($desktop) {
            left: 50%;
          }
        }
      }
    }

    &::before {
      background: $aura-order-confirmation-points-question-bg;
      border: none;
      color: $aura-order-confirmation-points-question-txt;
    }
  }
}

.loyalty-club-details-wrapper {
  .tooltip-anchor {
    .tooltip-box {
      transform: translateX(-75%);

      &::before,
      &::after {
        @include breakpoint($tablet) {
          left: 75%;
        }
      }

      html[lang="ar"] & {
        transform: translateX(80%);

        &::before,
        &::after {
          @include breakpoint($tablet) {
            left: 10%;
          }

          @include breakpoint($desktop) {
            left: 20%;
          }
        }
      }
    }
  }

  .aura-loyalty-benefits-row {
    .tooltip-anchor {
      .tooltip-box {
        transform: translateX(-55%);

        &::before,
        &::after {
          left: 20%;

          @include breakpoint($tablet) {
            left: 55%;
          }
        }

        html[lang="ar"] & {
          transform: translateX(50%);

          &::before,
          &::after {
            left: 50%;

            @include breakpoint($tablet) {
              left: 40%;
            }
          }
        }
      }
    }
  }
}

.aura-card-linked-verified-wrapper {
  .aura-points-on-hold {
    .tooltip-anchor {
      .tooltip-box {
        &::before,
        &::after {
          @include breakpoint($only-tablet) {
            margin-#{$left}: rem(5);
          }

          @include breakpoint($only-mobile) {
            margin-#{$left}: rem(-13);
          }

          html[lang="ar"] & {
            left: 50%;

            @include breakpoint($only-mobile) {
              left: 50%;
            }
          }
        }
      }
    }
  }
}

.aura-pdp-points-section {
  .tooltip-anchor {
    .tooltip-box {
      html[lang="ar"] & {
        transform: translateX(0);
      }
    }
  }
}

.spc-aura-checkout-rewards-block {
  .block-content .tooltip-anchor .tooltip-box {
    @include breakpoint($only-mobile) {
      #{$left}: -54%;
      bottom: rem(32);
      transform: translateX(-75%);

      html[lang="ar"] & {
        left: rem(-10);
        right: unset;
        transform: none;
      }
    }
  }

  .points-expiring {
    @include breakpoint($only-mobile) {
      display: flex;
    }
  }
}

#spc-checkout-confirmation {
  .spc-order-summary-item.aura-order-summary-item .tooltip-box {
    @include breakpoint($only-mobile) {
      #{$left}: -4rem;
    }
  }
}

.loyalty-club-details-wrapper {
  .tooltip-anchor {
    margin-#{$left}: 0.25rem;
  }

  .title {
    .tooltip-anchor {
      margin-#{$left}: 0.25rem;
      top: -0.375rem;

      .tooltip-box {
        @include breakpoint($only-mobile) {
          #{$left}: -50%;
        }
      }
    }
  }
}

.spc-aura-cart-rewards-block .spc-join-aura-link-wrapper {
  .tooltip-anchor {
    top: -0.1875rem;
  }
}
