.tooltip-box {
  border: 1px solid $spc-tooltip-border;

  &::after {
    border-width: 0.6875rem;
    margin-left: -0.6875rem;
  }

  &::before {
    border-top-color: $spc-tooltip-border;
  }
}

.tooltip-anchor {
  &.question {
    &::before {
      border: 1px solid $spc_tooltip_icon_border;
    }
  }
}
