.c-department {
  margin-top: 1.875rem;

  .c-page-title {
    @include arabic-letter-spacing;

    border-bottom: 1px solid $content_pagetitle_border;
    margin-bottom: 1.438rem;
    padding-bottom: 0.875rem;
    font-family: $hnm-demibold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $content_pagetitle;
  }

  .c-sidebar-first .block:first-child {
    margin-top: 0;
  }

  .c-promo-block-seo-title {
    font-family: $hnm-demibold;
    text-transform: uppercase;
    color: $title;
  }
}

.nodetype--department_page {
  @include breakpoint($only-mobile) {
    .field--name-field-1-row-2-col {
      .c-promo-1-1--eq__item {
        width: 100%;

        &:first-child {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
