// Define theme colors here.
$black: #000;
$white: #fff;
$black-smoke: #333;
$brownish-grey: #666;
$blackish-grey: #232323;
$medium-pink: #ef5f96;
$white-smoke: #f3f3f3;
$white-swan: #b2b2b2;
$cerulean: #0080ce;
$gainsboro: #ddd;
$greyish: #adadad;
$greyish-light: #ccc;
$greyish-alto: #d8d8d8;
$grey-smoke: #f7f7f7;
$windows-blue: #3680cb;
$venetian-red: #d0011b;
