#backtotop {
  // This brand backtotop bottom spacing is different
  // from core so keeping as it is.
  &.sprinklr-enabled {
    bottom: rem(122);

    @include breakpoint($desktop) {
      bottom: rem(90);
    }
  }

  @include icon(chevronup, after) {
    font-size: 2.125rem;
    position: absolute;
    top: 0.125rem;
    #{$right}: 0;
    background: transparent;

    html[lang="ar"] & {
      right: 0.375rem;
    }
  }

  #{$right}: 0.0625rem;
  bottom: 5.625rem;
  height: 2.625rem;
  width: 2.625rem;
  border: 1px solid $btt_border;
  background: $btt_bg;

  @include breakpoint($only-mobile) {
    bottom: 7.625rem;
  }
}
