.c-our-brands {
  border-width: 0.125rem;

  .brand-list {
    .brand {
      margin: 0.875rem 1rem 0 0;

      html[lang="ar"] & {
        @include breakpoint($only-tablet) {
          margin-left: 1rem;
          margin-right: 0;
        }
      }
    }
  }

  @include breakpoint($desktop) {
    .section-title {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
}
