.c-category-list__title {
  @include arabic-letter-spacing;

  font-size: 0.75rem;
  font-family: $hnm-demibold;
  text-transform: uppercase;
  letter-spacing: 0.4px;

  a {
    color: $title;
  }
}

.c-category-list__item {
  text-transform: capitalize;

  a {
    @include arabic-letter-spacing;

    color: $primary_link-active;
    font-family: $hnm-regular;
    letter-spacing: 0.5px;

    .c-department & {
      &:hover {
        text-decoration: underline;
        color: $primary_link-hover;
      }
    }
  }
}
