@import "../../../alshaya_white_label/sass/config/_colors.scss";

/* ------- 1. Brand Colors ------- */
$cyprus: #004236;
$brighton-green: #3a857e;
$stem-green: #d6ce4b;
$dark-green: #00352b;
$terracotta: #a7674c;
$natural-warmth: #d2ad93;
$natural-warmth-two: #e8d6c9;
$natural-warmth-three: #f5ece6;
$nourishing-white: #f8f3e8;
$activist-green: #00ab00;
$poster-orange: #ff4233;
$joyful-yellow: #ffcf00;
$repurposed-blue: #0077d5;
$white: #fff;
$silver: #f4f4f4;
$grey: #e1e1e1;
$grey-two: #aaa;
$grey-three: #888;
$metal: #626262;
$black: #000;
$black_two: #333;
$dark-olive-green: #66703a;
$dollar-bill: #8bb057;
$dark-khaki: #b7c072;
$cadet-blue: #569294;
$ucla-blue: #626b95;
$deep-chestnut: #b35e42;
$earth-yellow: #d7a269;
$gamboge: #e39a1c;
$indian-yellow: #e4b150;
$redwood: #b14a4f;
$chestnut: #dc5c60;
$light-coral: #df8281;
$surf-crest: #c5ccc1;
$white-smoke: #f6f6f6;
$success-green: #39b54a;
$alizarin: #e51b23;
$grey-four: #ddd;
$green-two: #357a74;
$green-three: #004435;
$frangipani: #ffd1a1;
$error-red: $alizarin;
$gray_orange: #f4ece6;

/* ------- 2. Primary Colors ------- */
// Global elements.
$default_background_color: $cyprus;
$page_title: $cyprus;
$primary_input_border: $cyprus;
$primary_form_link: $cyprus;
$primary_form_input: $cyprus;
$primary_text: $cyprus;
$primary_form_input: $cyprus;
$primary_input_label: $cyprus;
$primary_border: $brighton-green;
$primary_checkbox_filled: $cyprus;
$primary_btn_text: $nourishing-white;
$primary_link: $cyprus;
$primary_link-hover: $cyprus;
$sub_title: $cyprus;
$primary_dropdown_arrow_bg: $grey;
$order_search_form_icon: $grey;
$order_search_form_border: $grey;
$order_search_form_label: $cyprus;
$primary_input_focus_border: $cyprus;
$primary_button_disabled: $silver;
$primary_button_disabled_text: $metal;
$primary_brand_button: $cyprus;
$primary_brand_button_text: $cyprus;
$primary_dropdown_arrow_bg: $white;
$primary_dropdown_arrow_border: $cyprus;
$primary_dropdown_option_border: $warm-grey-two;
$label_dark: $cyprus;

/* ------- 3. Secondary color  ----- */
// Global elements.
$secondary_link: $cyprus;

// Header
$header_bg: $cyprus;
$header_secondary_bg: $cyprus;
$header_secondary_menu_link: $white;
$header_my_account_h3_title: $white;
$header_secondary_menu_link_hover_bg: $cyprus;
$header_secondary_menu_link_hover: $stem-green;
$header_border: $cyprus;
$header_secondary_menu_link_mobile: $cyprus;

//Buttons
$primary_btn_bg: $cyprus;

// Algolia search bar.
$algolia-search-bar-background: $cyprus;
$algolia-search-field-bg: $nourishing-white;
$algolia-input-text: $cyprus;
$algolia-input-placeholder-text: $cyprus;
$algolia-search-clear-text-icon: $cyprus;
$algolia-trending-title-text: $cyprus;
$algolia-search-bar-suggestion-background: $white;
$algolia-react-progressbar-text: $grey-light;
$algolia-search-trending-search-bg: $white;
$algolia-search-trending-search-highlighted-text: $cyprus;

// Mini Cart.
$primary_minicart_quantity_text: $cyprus;
$primary_minicart_text: $cyprus;
$primary_minicart_quantity_bg: $stem-green;
$minicart-total: $white;

// C-menu primary i:e Mobile and tablet header menu links.
$header_c_menu_icon_color: $white;
$header_toggle_sign_active_tab: $cyprus;
$header_toggle_sign_active_tab_bg: $white;
$header_toggle_sign_default: $white-smoke;
$header_mobile_menu_arrow: $cyprus;
$header_mobile_menu_close_bg: $cyprus;
$menu-secondary-border: $_screeching_white;
$menu-border-desktop: $cyprus;
$header_c_menu_text: $cyprus;
$header_toggle_sign_active_tab_logged_in: $black-two;
$header-my-acc-heading-border: $_screeching_white;
$header_c_menu_search_active_icon: $white;

// Header my account nav.
$header_my_account_link_hover: $cyprus;

// Mega menu
$mm_l3_link: $cyprus;
$mm_l2_link: $cyprus;
$mm_bg: $cyprus;
$mm_l1_border: $_screeching_white;
$mm_l1_link: $white;
$mm_l1_link_hover_border_to_fill_space: $cyprus;
$mm_l1_link_hover: $stem-green;
$mm_l1_link_active_border: $cyprus;
$mm_bg_tbs: $white;
$mm-link-border: $cyprus;
$mm_l3_link_hover: $cyprus;
$mm_term_image_bg: $white;
$mm_l2_link_border_hover: $cyprus;

// User login page
$newsletter_submit_btn-bg: $stem-green;
$newsletter_submit_input_text: $white;
$user_login_section_title: $cyprus;
$social_auth_login_button_border: $cyprus;
$social_auth_login_button_border: $cyprus;
$social-network-text: $cyprus;
$user_login_link_btn_text: $cyprus;
$user_login_sub_text: $cyprus;
$title: $cyprus;

// Department page
$department_category_list_hover: $cyprus;

//2. Footer
$footer_bg: $cyprus;
$copyright_footer_bg: $cyprus;
$footer_link: $natural-warmth-three;
$footer_link_hover: $stem-green;
$footer_link_mobile: $natural-warmth-three;
$footer_border_top: $dark-green;
$footer_title_h3: $natural-warmth-three;
$copyright_footer_text: $natural-warmth-three;
$newsletter_submit_btn: $stem-green;
$newsletter_submit_btn_text: $cyprus;
$newsletter_input_field: $dark-green;
$social_link_title: $stem-green;
$social_links: $white;
$newsletter_desc_text: $natural-warmth-three;
$social-icons-bg: $cyprus;
$lang_switch: $white;
$lang_switch_active: $white;
$accordion_border: $brighton-green;
$newsletter_success: $success-green;
$copyright_footer_paragraph: $white;

// SPC Checkout
$spc-checkout_section_title: $cyprus;
$spc-checkout-radio-filled: $cyprus;
$spc-checkout-radio-empty: $cyprus;
$spc-checkout-delivery-method-impress: $cyprus;
$spc-checkout-delivery-method-txt: $cyprus;
$spc-checkout-delivery-info-txt: $cyprus;
$spc-checkout-close-icon: $cyprus;
$spc-input-label: $cyprus;
$spc-area-panel-item-color: $cyprus;
$spc-area-panel-item-color: $cyprus;
$spc-checkout-page-title-border: $cyprus;
$spc-delivery-customer-info-highlight: $cyprus;
$spc-deliver-button: $cyprus;
$spc-deliver-method-title: $cyprus;
$spc-deliver-method-price: $grey-light;
$spc-checkout-header-bg: $cyprus;
$spc-cnc-search-text: $cyprus;
$spc-cnc-store-item-text-impress: $grey-light;
$spc-cnc-store-name: $cyprus;
$spc-checkout-confirmation-success-txt: $cyprus;
$spc-checkout-order-detail-label: $cyprus;
$spc-checkout-print-header-title: $cyprus;
$spc-checkout-print-titile: $cyprus;
$spc-checkout-payment-method-txt: $cyprus;
$spc-checkout-billing-empty-cnc: $cyprus;
$spc-cnc-toggle-bg-active: $cyprus;

// SPC
$spc-promotion-link: $poster-orange;
$spc-product-title: $cyprus;
$spc-product-price: $cyprus;
$spc-product-attributes: $grey-three;
$spc-select-qty: $cyprus;
$spc-totals-line-order-color: $cyprus;
$spc-select-border: $cyprus;
$spc-promo-code-text: $cyprus;
$spc-mobile-cart-preview: $cyprus;
$spc-select-qty-dropdown-icon: $cyprus;
$spc-post-content-checkout-bg: $cyprus;
$spc-customer-service-title: $natural-warmth-three;
$spc-order-summary-discount-text: $black;
$spc_tooltip_icon: $cyprus;
$spc-promo-code-remove-cross: $cyprus;
$spc_tooltip_question_icon: $black;
$spc-checkout-success-message-background: $brighton-green;

// Product detail page
$pdp_product_special_price_text: $poster-orange;
$pdp_product_discount_price: $poster-orange;
$pdp_product_price: $cyprus;
$pdp_product_special_price: $poster-orange;
$pdp_product_itemcode: $grey-light;
$pdp_product_itemcode_value: $cyprus;
$pdp_title_section_border: $warm-grey-two;
$pdp-product-qty-label: $grey-light;
$pdp_skus_border: $warm-grey-two;
$pdp_sidebar_label: $cyprus;
$pdp_sidebar_link: $grey-light;
$pdp_product_delivery-border: $warm-grey-two;
$pdp_accordion_title: $cyprus;
$pdp-product-size-label: $grey-light;
$pdp_sell_title: $cyprus;
$pdp_qty_select_border: $cyprus;
$pdp_color_swatch_selected_border: $cyprus;
$pdp_color_swatch_border: $warm-grey-two;
$pdp_modal_full_prodlink: $cyprus;
$pdp_modal_full_prodlink_border: $warm-grey-two;
$pdp-color-swatch-border: $cyprus;
$pdp-ingredient-title-border: $warm-grey-two;
$pdp-ingredient-modal-border: $cyprus;
$pdp-ingredient-modal-bg: $white;
$pdp-ingredient-modal-cross-icon: $white;
$pdp-ingredient-modal-cross-icon-bg: $cyprus;
$pdp_how_to_use_bg: $gray_orange;

// Checkout Global.
$checkout_header_border-bottom: $cyprus;
$checkout_header_bg: $cyprus;
$checkout_section_titles: $cyprus;
$checkout_guest_button_bg: $white;
$checkout_guest_button_border: $cyprus;
$checkout_guest_button_txt: $cyprus;
$checkout_footer_bg: $cyprus;
$checkout_footer_txt: $natural-warmth-three;
$checkout_footer_border: $dark-green;
$checkout_footer_light_txt: $natural-warmth-three;

// Checkout Login Page.
$checkout_login_submit_button_background: $cyprus;
$checkout_login_link_text: $cyprus;
$checkout_login_submit_button_text: $nourishing-white;

// Form elements.
$primary_input_inline_error: $poster-orange;

// Address Form.
$address_book_delete_cancel: $cyprus;
$address_book_delete_cross_icon: $cyprus;

// My account
$default_msg_bg: $cyprus;
$my_account_nav: $cyprus;
$my_account_nav_active: $cyprus;
$my_account_nav_hover: $brighton-green;
$user_order_help_text: $white;
$user_order_help_text_links: $white;
$address_tile_border: $grey-two;
$address_form_default: $silver;
$address_form_radio: $cyprus;
$address_book_border: $cyprus;
$address-edit-delete-btn-border: $cyprus;
$address-edit-delete-btn-text: $cyprus;
$user_order_help_bg: $repurposed-blue;
$user_nav_mobile_link: $cyprus;
$address-label: $black_two;

// Product Add to cart form
$pac_item: $cyprus;
$pdp_cc_storefinder_label: $grey-light;
$pdp_cc_storefinder_input: $cyprus;
$pdp_cc_btn_bg: $cyprus;
$pdp_cc_btn_text: $nourishing-white;
$pdp_desc_wrapper_border: $cyprus;
$pdp_desc_wrapper_close_bg: $cyprus;
$pdp_product_select_option_label: $grey-light;
$pdp_size_selected_text: $cyprus;
$pdp_size_option_selected_text: $black;
$pdp_size_option_selected_bg: $white-four;
$pdp_size_option_border: $warm-grey-two;
$pdp_size_option_text: $black;
$pdp_size_option_border_picked: $cyprus;
$pdp_color_option_selected_bg_picked: $cyprus;
$pdp_color_option_selected_text_picked: $white;
$pdp_color_option_selected_bg: $white;
$pdp_color_option_selected_text: $cyprus;
$pdp_color_option_border: $cyprus;
$pdp_form_item_arrow: $cyprus;
$not_buyable_msg: $cyprus;
$not_buyable_help: $cyprus;

// Basket
$basket_available_code: $cyprus;

// Basket top promotions
$basket_free_delivery_active_header_promo_bg: $stem-green;
$basket_free_delivery_active_header_promo_txt: $black;
$basket_free_delivery_active_header_promo_border: $stem-green;
$basket_free_delivery_inactive_header_promo_bg: $white;
$basket_free_delivery_inactive_header_promo_txt: $black;
$basket_free_delivery_inactive_header_promo_border: $stem-green;
$basket_active_promotion_icon: $black;
$basket_fixed_percentage_active_header_promo_bg: $frangipani;
$basket_fixed_percentage_active_header_promo_txt: $black;
$basket_fixed_percentage_active_header_promo_border: $frangipani;
$basket_fixed_percentage_threshold_reached_bg: $white;
$basket_fixed_percentage_inactive_header_promo_border: $frangipani;
$basket_fixed_percentage_inactive_header_promo_bg: $white;
$basket_fixed_percentage_inactive_header_promo_txt: $black;
$basket_fixed_percentage_inactive_header_promo_border_color: $frangipani;
$basket_fixed_percentage_inactive_header_promo_color: $black;

// Pace progress color
$progress_loader: $stem-green;

// Contact Page
$webform_contact_legend: $cyprus;
$contact-form-select-dropdown-border: $cyprus;
$webform_contact_dropdown_disable_text: $cyprus;

// Checkbox & Radio
$primary_radiobtn_filled: $cyprus;
$primary_radiobtn_empty: $cyprus;
$primary_radiobtn_label: $cyprus;

// Dropdown
$primary_dropdown_text: $cyprus;
$primary_dropdown_border: $cyprus;
$primary_dropdown_arrow_bg: $white;

$user_signup_logo: $cyprus;

// My account Order listing
$block_acm_customer_txt: $cyprus;
$order_recent_orders_row_hover: $silver;
$order_recent_order_order_detail_link_bg: $nourishing-white;
$order_recent_order_order_detail_link: $cyprus;
$user_order_list_text: $cyprus;
$user_order_list_hover_bg: $nourishing-white;
$user_order_list_light: $grey-two;
$order_detail_delivery_details_row_bg: $repurposed-blue;
$order_detail_order_details_row: $nourishing-white;
$order_detail_order_details_row_td_blend: rgba(48, 48, 74, 0.15);
$order_detail_total_tr_row_price_td: rgba(204, 204, 204, 0.19);
$order_detail_total_tr_row_price_td_tablet: rgba(204, 204, 204, 0.19);
$order_detail_delivery_details_row_td_blend: $dark-khaki;
$order_detail_delivery_details_row_content: $white;
$order_detail_order_price_amount: $black_two;
$order_detail_order_label: $black_two;
$order_detail_td_light_content: $grey-two;
$_spc-billing-help: $cyprus;
$spc_tooltip_icon: $cyprus;
$spc-checkout-billing-help-text: $cyprus;
$order_search_form_border: $cyprus;
$order_search_form_icon: $white;
$order_detail_table_bg: $white;
$order_detail_td_dark_content: $cyprus;
$order_detail_warm_white: $grey-two;
$order_detail_order_summary_row_bg: $nourishing-white;
$order_recent_order_order_summary_bg: $nourishing-white;
$order_accordion_open_bg: $nourishing-white;

// Breadcrumb.
$breadcrumb_bg: $white;
$breadcrumb_link: $cyprus;
$breadcrumb_link_active: $cyprus;
$breadcrumb_link_hover: $cyprus;

// Language Switcher
$lang_switch: $white;
$lang_switch_active: $white;
$lang_switch_firsttime_bg: $cyprus;
$lang_switch_firsttime_border: $white;
$lang_switch_list: $white;
$lang_switch_close_icon: $white;

// Back to top
$btt_bg: $_gray_98;
$btt-border: $grey-four;
$btt_text: $black;

// 404
$maintenance_link: $cyprus;
$content_pagetitle: $cyprus;
$maintenance_body_bg: $cyprus;
$maintenance_container_bg: $nourishing-white;
$maintenance_container_border: $cyprus;
$maintenance_container_border_top: $cyprus;

// Store finder page.
$store_finder_text: $cyprus;
$store_finder_search_label: $cyprus;
$store_finder_search_input: $cyprus;
$store_finder_glossary_text: $cyprus;
$store_finder_search_input_border: $cyprus;
$store_finder_border_hover: $cyprus;
$store_finder_text_hover: $cyprus;
$store_finder_icon: $cyprus;
$store_finder_header_desktop: $cyprus;
$store_finder_subheader: $cyprus;
$store_finder_glossary_text_hover: $cyprus;
$store-finder-glossary: $grey-three;
$store_finder_search_input_mobile_border: $cyprus;
$store_finder_backbtn: $cyprus;
$store_finder_map_marker_text: $white;

// Store finder search results.
$store_finder_search_results_border: $warm-grey-two;
$store_finder_search_results_tile_link: $cyprus;
$store_finder_search_results_counter_bg: $cyprus;
$store_finder_search_results_hour_label: $cyprus;
$store_finder_search_results_tile_icon: $cyprus;
$store_finder_search_results_label: $cyprus;

// Store finder glossary.
$store_finder_glossary_border: $cyprus;
$store_finder_glossary_text_border: $warm-grey-two;
$store_finder_glossary_icon: $cyprus;
$store_finder_glossary_alphabet: $cyprus;
$store_finder_individual_hour_border: $warm-grey-two;
$store_finder_search_results_hour_icon_open: $cyprus;

// PLP
$lhn_l3: $cyprus;
$lhn_l2: $cyprus;
$plp_promotion_description: $cyprus;
$accordion_title: $cyprus;
$plp_tile_product_title: $cyprus;
$plp_tile_product_title_hover: $brighton-green;
$plp_tile_product_text: $cyprus;
$plp_search_count: $cyprus;
$plp_grid_active_color: $cyprus;
$algolia-react-progressbar-fill: $cyprus;
$algolia-react-progressbar-text: $grey-three;
$algolia_react-facet-item-color: $cyprus;
$plp_facet_count_number: $grey-three;
$plp_all_filter_title: $cyprus;
$plp_all_filter_button_color: $cyprus;
$plp_clear_all_btn_disabled: $grey-three;
$plp_filter_icon: $cyprus;
$algolia-react-search-page-title: $cyprus;
$plp_facet_count_number: $cyprus;
$category_facet_txt: $cyprus;
$plp_facet_filter: $cyprus;
$plp_filter_active_tick: $cyprus;
$plp-sticky-filter: $white;

// PLP LHN block.
$lhn_sticky-filter-background: $cyprus;

// PLP All filter colors
$plp_clear_all_btn_text: $cyprus;
$plp_all-filter-arrow: $cyprus;
$plp_all_filter_close_btn: $cyprus;
$plp_all_filter_item_border: $warm-grey-two;
$plp_clear_all_btn_disabled: $metal;
$plp_clear_all_btn_disabled_bg: $silver;

// Section divider
$section_divider_text: $cyprus;
$section_divider_border: $cyprus;

// Promo blocks
$promo_link: $cyprus;
$promo_text: $cyprus;

// Mobile gallery
$gallery_arrows_border: $cyprus;

// Homepage slider
$hp_slider_dots: $cyprus;
$hp_slider_arrows_dark: $cyprus;

// Modal
$modal_close_bg: $cyprus;
$modal_close_icon: $white;

// Accordion
$accordion_sub_title: $grey-light;

// Sharethis
$sharethis_icon: $cyprus;
$sharethis_icon_hover: $cyprus;

// Notification popup.
$minicart_notification_border: $cyprus;
$minicart_notification_product_title: $cyprus;
$minicart_notification_btn_bg: $cyprus;
$minicart_notification_text: $grey-light;

// Out of stock button
$oos_btn_bg: $poster-orange;
$oos_btn_text: $white;

// Product listing page and search page
$plp_promotion_link: $poster-orange;
$plp_title_section_border: $warm-grey-two;
$plp_facet_clear_text: $cyprus;
$plp_sort_by_options: $grey-light;
$plp_facet_item_label: $grey-light;
$plp_facet_filter_bg: $green-two;
$plp_facet_filter_link: $nourishing-white;
$search_facet_active_title_bg_sticky: $cyprus;
$plp_selected_filter_label_text: $green-three;
$plp_facet_mobile: $white;
$plp_selected_filter_hover: $cyprus;

// PLP add to cart
$plp-disabled-qty-bg: $grey;
$plp-disabled-qty-icon-color: $metal;
$plp-quick-view-product-size-active-bg: $white-four;
$plp-quick-view-product-size-text-active: $black;
$plp-quick-view-product-size-border-hover: $cyprus;
$plp-quick-view-product-size-text-disabled: $black;
$plp-quick-view-product-size-border-disabled: $warm-grey-two;
$plp-quick-view-product-size-border: $warm-grey-two;
$plp-quick-view-product-size-bg: $white;
$plp-quick-view-product-size-text: $black;
$plp-quick-view-product-color-swatch-border: $cyprus;
$plp-quick-view-product-qty-arrow: $cyprus;
$plp-primary-cta-hover-bg: $stem-green;
$plp-primary-cta-hover-text: $primary_text;
$plp-secondary-cta-hover-bg: $nourishing-white;

// Magazine V2 layout
$magv2-slider-icon-bg: $cyprus;

// Express delivery
$pdp-delivery-section-subtitle: $grey-light;
$spc-cart-delivery-popup-title: $cyprus;
$sameday-express-delivery-drawer-text: $cyprus;
$sameday-express-delivery-drawer-cross: $cyprus;
$express-delivery-menu-list-border: $cyprus;
$spc-select-text: $cyprus;
$spc-cart-delivery-popup-search-border: $cyprus;
$sameday-express-delivery-drawer-btn: $primary_btn_bg;
$spc-cart-delivery-tags: $cyprus;
$spc-cart-delivery-area-select: $cyprus;
$spc-cart-free-delivery-message-bg: $brighton-green;

// Wishlist
$wishlist-header-notification-border: $cyprus;
$wishlist-button-border: $cyprus;
$wishlist-header-notification-text: $cyprus;
$wishlist-header-notification-span: $grey-three;
$wishlist-header-login-message: $cyprus;
$wishlist-button-bg: $primary_btn_bg;
$wishlist-button-bg-hover: $primary_btn_bg;
$wishlist-button-register-txt: $cyprus;
$wishlist-basket-modal-close-bg: $cyprus;
$wishlist-share-text: $cyprus;
$my-wishlist-share-modal-hover-bg: $primary_btn_bg;
$my-wishlist-share-modal-header: $cyprus;
$wishlist-oos: $poster-orange;
$wishlist-cart-link: $cyprus;

// Country Switcher
$country-switcher-label: $natural-warmth-three;
$country-switcher-label-mobile: $white;
$country-switcher-dropdown: $cyprus;

// Advanced Page components.
$advanced-page-accordion-active-title: $cyprus;
$advanced-page-accordion-bg: $nourishing-white;
