// TBS specific font family
// English fonts.
// Adding Arabic fonts as fallback for arabic text to be shown correctly in English site.
$tbs-regular: "WorkSans-Regular", "Mada-Regular", "Arial";
$tbs-light: "WorkSans-Light", "Mada-Regular", "Arial";
$tbs-medium: "WorkSans-Medium", "Mada-Medium", "Arial";
$tbs-semibold: "WorkSans-SemiBold", "Mada-SemiBold", "Arial";
$tbs-bold: "WorkSans-Bold", "Mada-Bold", "Arial";
$tbs-recoleta-medium: "Recoleta-Medium", "MizanAR-Medium", "Arial";
$tbs-recoleta-semibold: "Recoleta-SemiBold", "MizanAR-Medium", "Arial";
$tbs-dw-bold: "DrukWide-Bold-Cy-Web", "29LT-Bukra-Wide-Bold", "Arial";
$tbs-dw-super: "DrukWide-Super-Web", "29LT-Bukra-Wide-Bold", "Arial";
$tbs-dc-super: "DrukCond-Super-Cy-Web", "29LT-Bukra-Condensed-Bold", "Arial";
$tbs-druk-bold: "Druk-Bold-Web", "29LT-Bukra-Condensed-Bold", "Arial";

// Arabic fonts.
// Adding En fonts so browser prints English characters & numbers correctly in arabic.
$tbs-arabic-regular: "Mada-Regular", "WorkSans-Regular", "Arial";
$tbs-arabic-medium: "Mada-Medium", "WorkSans-Medium", "Arial";
$tbs-arabic-semibold: "Mada-SemiBold", "WorkSans-SemiBold", "Arial";
$tbs-arabic-bold: "Mada-Bold", "WorkSans-Bold", "Arial";
$tbs-recoleta-arabic-medium: "MizanAR-Medium", "Recoleta-Medium", "Arial";
$tbs-dw-arabic-bold: "29LT-Bukra-Wide-Bold", "DrukWide-Bold-Cy-Web", "Arial";
$tbs-dc-arabic-super: "29LT-Bukra-Condensed-Bold", "DrukCond-Super-Cy-Web",
  "Arial";

// Override font variables coming from MC, without this we get a 404 as font files are no longer present in TBS theme.
$arial: $tbs-regular;
$arial-nodir: $tbs-arabic-regular;
$alshaya-bold: $tbs-bold;
$alshaya-arabic-bold: $tbs-arabic-bold;
$alshaya-bold-nodir: $tbs-bold;
$alshaya-thin: $tbs-regular;
$alshaya-arabic-thin: $tbs-arabic-regular;
$alshaya-thin-nodir: $tbs-regular;
$alshaya-super-bold: $tbs-dw-bold;

$alshaya-icons: "alshaya-icons";

// Icon Fonts
$icons: (
  bell: "\e006",
  marquee-plus: "\e083",
  arrowdown: "\e900",
  arrowup: "\e901",
  blog: "\e902",
  blogselect: "\e903",
  checkboxempty: "\e904",
  checkboxfull: "\e905",
  checkshape: "\e906",
  chevrondown: "\e907",
  chevronleft: "\e908",
  chevronright: "\e909",
  chevronup: "\e90a",
  close: "\e90b",
  closeshape: "\e90c",
  delivery: "\e90d",
  deliveryservice: "\e90e",
  direction: "\e90f",
  email: "\e910",
  emailselect: "\e911",
  facebook: "\e912",
  facebookselect: "\e913",
  radio-empty: "\e914",
  radio-filled: "\e915",
  googleplus: "\e916",
  googleplusselect: "\e917",
  hide: "\e918",
  infomation: "\e919",
  instagram: "\e91a",
  instagramselect: "\e91b",
  language: "\e91c",
  list: "\e91d",
  login: "\e91e",
  logout: "\e91f",
  map: "\e920",
  mappin: "\e921",
  menu: "\e922",
  mylocation: "\e923",
  newsletter: "\e924",
  nextdaydelivery: "\e925",
  pinterest: "\e926",
  pinterestselect: "\e927",
  play: "\e928",
  prize: "\e929",
  radio-empty-old: "\e92a",
  radio-filled-old: "\e92b",
  rating: "\e92c",
  ratingfull: "\e92d",
  rewards: "\e92e",
  search: "\e92f",
  shoppingbag: "\e930",
  show: "\e931",
  twitter: "\e932",
  twitterselect: "\e933",
  user: "\e934",
  whiteglovedelivery: "\e935",
  wishlist: "\e936",
  wishlistfull: "\e937",
  youtube: "\e938",
  youtubeselect: "\e939",
  zoom: "\e93a",
  warning: "\e93b",
  price-tag: "\e93c",
  check: "\e93d",
  filter: "\e93e",
  edit-input: "\e93f",
  arrow-left: "\e940",
  arrow-right: "\e941",
  bin: "\e9ac",
  map-location: "\e942",
  minus: "\e943",
  plus: "\e944",
  new-facebook-default: "\e945",
  new-facebook-hover: "\e946",
  new-instagram-default: "\e947",
  new-instagram-hover: "\e948",
  new-twitter-default: "\e949",
  new-twitter-hover: "\e94a",
  new-whatsapp-default: "\e94b",
  new-whatsapp-hover: "\e94c",
  store-locator: "\e94d",
  dropdown-collapse: "\e94e",
  dropdown-expand: "\e94f",
  ic-arrow-left: "\e950",
);
