.location-field {
  position: relative;
  width: 100%;

  .magv2-click-n-collect-search-svg {
    height: 34px;
    width: 34px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0.5rem;
  }

  input {
    width: 100%;
    box-sizing: border-box !important;
  }

  @include breakpoint($tablet) {
    width: 100%;
  }
}

.location-field-wrapper {
  display: flex;
  position: relative;
  padding-top: 0.9375rem;
}

input {
  width: 16.875rem;
  height: 3.125rem;
  padding-#{$left}: 3.125rem;
  padding-#{$right}: 0.625rem;
  border-radius: 0.125rem;
  border: solid 0.063rem $magv2-click-collect-input-border;
  margin-top: 0.9375rem;

  @include breakpoint($only-mobile) {
    width: 14.688rem;
  }

  @include breakpoint($only-tablet) {
    width: 7.875rem;
  }
}

.location-field-icon {
  &::before {
    content: "";
    background: url("#{$base_theme_img_directory_path}/icons/new-pdp-click-collect-location-icon.svg") center center no-repeat;
    width: 1.625rem;
    height: 1.625rem;
    display: block;
    position: absolute;
    padding: 0.688rem;
    bottom: 0;
    #{$right}: 0;
    box-sizing: content-box;
    border-radius: 0.125rem;
    border: solid 0.063rem $magv2-click-collect-location-icon-border;
    margin-#{$left}: 0.625rem;
  }
}

body.magazine-layout-v2 {
  .pac-container {
    border: 0.0625rem solid $magv2-click-collect-autocomplete-border;

    .pac-item {
      line-height: 2.8125rem;
      padding-#{$left}: 0.9375rem;
      padding-#{$right}: 0.9375rem;
      cursor: pointer;

      .pac-matched {
        color: $magv2-click-collect-autocomplete-highlighted-text !important;
      }
    }

    .pac-item-query,
    .pac-matched,
    .pac-item {
      font-size: 0.875rem !important;
    }
  }
}
