.magv2 {
  &-select {
    &-popup {
      &-container {
        @include breakpoint($only-mobile) {
          transform: translateY(100%);
          background-color: transparent;
          #{$left}: 0;

          html[lang="ar"] & {
            transform: translateY(100%);
          }
        }
      }

      &-header-wrapper {
        padding: 1.0625rem 1.875rem 0.9375rem;
        text-align: center;
        font-size: 1.25rem;

        label {
          font-family: $alshaya-bold;
          color: $magv2-popup-header-label;
        }

        @include breakpoint($only-mobile) {
          font-size: 0;
          background-color: unset;
          box-shadow: none;
          margin-bottom: 0;
          text-align: #{$right};
          padding: 0;
          padding-#{$right}: 1.25rem;
          margin-top: 1.25rem;

          .close {
            width: 2.875rem;
            height: 2.875rem;
            background-color: $magv2-content-bg;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            transform: none;
            top: 0;

            @include icon("close") {
              padding-#{$left}: 0;
              font-size: 3.125rem;
              position: absolute;
              top: 50%;
              #{$right}: auto;
              bottom: auto;
              #{$left}: 50%;
              width: auto;
              height: auto;
              transform: translate(-50%, -50%);

              html[lang="ar"] & {
                transform: translate(50%, -50%);
              }
            }
          }
        }

        @include breakpoint($tablet) {
          .close {
            top: 50%;
          }
        }
      }

      &-content-wrapper {
        @include breakpoint($only-mobile) {
          margin-top: 1.25rem;
          border-radius: 0.5rem;
          background: $magv2-pdp-bg;

          .group-anchor-wrapper,
          .non-group-anchor-wrapper {
            position: sticky;
            top: 0;
            z-index: 2;
          }
        }

        @include breakpoint($tablet) {
          padding-bottom: 5.625rem;
        }

        .group-anchor-wrapper,
        .non-group-anchor-wrapper {
          padding-#{$left}: 1.25rem;
          background-color: $magv2-desc-popup-content-bg;
          padding-top: 1.25rem;
          margin-top: 0.625rem;
          border-bottom: 0.0625rem solid $magv2-size-btn-border;

          label {
            display: none;
          }

          a {
            height: 3.125rem;
            margin-bottom: 1.25rem;
            min-width: 6.125rem;
            margin-#{$right}: 1.25rem;
            font-size: 1rem;
            color: $magv2-size-btn-text;
            border: 0.0625rem solid $magv2-size-btn-border;
            border-radius: 0.125rem;

            &:hover:not(.active),
            &.active {
              background: $magv2-size-color;
              color: $magv2-content-bg;
              border: 0.0625rem solid $magv2-size-color;
            }
          }

          @include breakpoint($only-mobile) {
            justify-content: space-between;
            padding-#{$right}: 1.25rem;
            margin-bottom: 0;
            margin-top: 0;

            label {
              display: flex;
              margin-bottom: 1.25rem;
              align-items: center;
              font-family: $alshaya-bold;
              color: $magv2-mobile-size-drawer-label;
            }

            a {
              min-width: 3.5rem;
              width: auto;
            }
          }
        }

        .group-anchor-links {
          @include breakpoint($only-mobile) {
            width: 13rem;
            flex-shrink: 0;
          }
        }

        .size-guide {
          position: relative;
          text-align: center;
          margin: 1.75rem 0.625rem;

          a {
            text-decoration: none;
            color: $magv2-size-guide-link;
            font-size: 0.75rem;
            border-radius: 1.09375rem;
            background-color: $magv2-size-btn-bg;
            padding: 0.625rem 0.625rem 0.625rem 1.875rem;
            position: relative;
            padding-#{$left}: 2.5rem;
            box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
            #{$right}: 0;
            top: 0;

            &::before {
              content: "";
              background: url("#{$base_theme_img_directory_path}/icons/new-pdp-size-guide-icon.svg") center center no-repeat;
              width: 1.5625rem;
              height: 1.5625rem;
              display: inline-block;
              position: absolute;
              #{$left}: 0;
              top: 0.1875rem;
              margin-#{$left}: 0.625rem;
            }
          }
        }

        .magv2-confirm-size-btn {
          position: fixed;
          bottom: 0;
          width: 100%;
          margin-#{$left}: 0;
          background-color: $magv2-desc-popup-content-bg;
          padding: 0 1.25rem;
          box-shadow: 0.3875rem 0.3125rem 0.625rem $magv2-sticky-header-box-shadow;

          @include breakpoint($only-mobile) {
            display: none;
          }
        }
      }
    }
  }
}

body.overlay-select {
  .magv2-select-popup-container {
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1), opacity 400ms cubic-bezier(0, 0, 0.2, 1);
    opacity: 1;

    @include breakpoint($only-mobile) {
      transform: translateY(0);
    }

    @include breakpoint($tablet) {
      transform: translateX(0) !important;
    }
  }

  .grouped-attr,
  .non-grouped-attr {
    &::before {
      opacity: 1;
      height: 100%;
      transition: opacity 300ms ease-in;
    }
  }
}

.pdp-cart-form {
  .grouped-attr,
  .non-grouped-attr {
    &::before {
      content: "";
      position: fixed;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.48);
      box-shadow: 0 9999px 0 9999px rgba(0, 0, 0, 0.5);
      z-index: 1;
      opacity: 0;
      top: 0;
      #{$left}: 0;
      transition: opacity 300ms ease-in;
    }
  }
}

.non-grouped-attr {
  .magv2 {
    &-select {
      &-popup {
        &-content-wrapper {
          .non-group-anchor-wrapper {
            @include breakpoint($tablet) {
              display: none;
            }

            label {
              font-family: $alshaya-bold;

              @include breakpoint($only-mobile) {
                justify-content: center;
              }
            }
          }

          .non-group-anchor-wrapper + .non-group-option-wrapper {
            margin-top: 0.625rem;
          }
        }
      }
    }
  }
}
