.magv2-pdp-standard-delivery-wrapper {
  .magv2-standard-delivery-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .magv2-pdp-section-title {
    display: flex;
    align-items: center;

    .standard-delivery-title-tag {
      margin-#{$left}: 0.625rem;
    }
  }

  .standard-delivery-detail {
    &::first-letter {
      text-transform: capitalize;
    }

    span {
      display: inline-block;
    }
  }
}
