.magv2 {
  &-desc {
    &-readmore-link {
      .popup-overlay {
        .popup-content {
          width: 100% !important;
          height: 100%;
          overflow: hidden;
          border: none !important;
          position: absolute !important;
          #{$right}: 0;
          transition: all 0.5s ease-out;
          padding: 0 !important;
          background-color: $magv2-desc-popup-bg !important;
          overflow-y: scroll;

          @include breakpoint($tablet) {
            max-width: 23.4375rem;
          }

          .close {
            cursor: pointer;
            position: absolute;
            #{$right}: 0;
            color: transparent;
            top: 50%;
            transform: translateY(-50%);

            @include icon('close') {
              font-size: 2.5rem;
              width: 2rem;
              height: 2rem;
              color: $spc-checkout-close-icon;
            }
          }
        }
      }
    }

    &-popup {
      &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      &-header-wrapper {
        box-shadow: 0 0.3125rem 0.625rem -0.3125rem rgba(0, 0, 0, 0.3);
        margin-bottom: 0.625rem;
        padding: 0.6875rem 1.875rem;
        background-color: $magv2-desc-popup-content-bg;
        position: sticky;
        top: 0;
      }

      &-content-wrapper {
        padding: 1.25rem 1.875rem 0;
        background-color: $magv2-desc-popup-content-bg;
        flex-grow: 1;

        ul {
          padding-#{$left}: 1.25rem;
        }
      }

      &-description-wrapper {
        .desc-label-text-wrapper {
          margin-bottom: 1.875rem;
        }
      }

      &-pdp-item-code {
        &-attribute {
          margin-bottom: 1.875rem;
        }

        &-value {
          padding-#{$left}: 0.3125rem;
        }
      }
    }
  }

  &-compact-detail-wrapper {
    .magv2-pdp {
      &-price-wrapper,
      &-final-price-wrapper {
        font-size: 0.875rem;
        line-height: normal;
        padding: 0 0.25rem;
      }

      &-price-wrapper {
        color: $magv2-price;
      }

      &-final-price-wrapper {
        color: $magv2-special-price;
      }

      &-price-amount,
      &-final-price-amount {
        padding-left: 0.1875rem;
      }

      &-price-container {
        text-align: center;
      }

      &-title {
        font-size: 0.875rem;
        line-height: normal;
        margin: 0 auto 0.1875rem;
        color: $magv2-text;
        text-align: center;
        text-transform: lowercase;
        max-width: 11.3125rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &-price-container {
        &.has-special-price {
          .magv2-pdp {
            &-price-wrapper,
            &-final-price-wrapper {
              display: inline-block;
            }

            &-price-wrapper {
              color: $magv2-price-strike;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}

body.desc-overlay {
  overflow: hidden;
}
