.card {
  background-color: $magv2-card-bg;
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 0.625rem;
  transition: max-height 0.3s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    padding: 1.25rem;
    display: flex;
    align-items: center;

    &.show {
      .magv2-accordion {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }

  .content {
    padding: 0 1.25rem 1.25rem;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  &.close-card {
    max-height: 5.625rem !important;
    overflow: hidden;

    .content {
      opacity: 0;
    }
  }

  .magv2-accordion {
    @include icon(chevrondown, before) {
      font-weight: bold;
      font-size: 1.25rem;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      display: inline-block;
      color: $magv2-accordion-arrow;
    }
  }

  .magv2-card-icon-svg {
    height: 3.125rem;
    margin-#{$right}: 0.625rem;
  }
}
