{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes }}>
  <div class="acq-content-product">
    <div class="content__main">
      {{ content.gallery }}
    </div>
    <div class="content__sidebar">
      {{ content.field_skus }}
      {{ content.body }}
    </div>
  </div>
</article>
