#alshaya-algolia-search,
#alshaya-algolia-plp,
#top-results,
#my-wishlist {
  .c-products__item.promotion-frame {
    .sku-promotion-text--ellipse {
      border: 0;
      font-size: 0.875rem;
      padding-#{$left}: 0;
    }

    .product-plp-detail-wrapper {
      .promotions {
        margin: 0.5rem 1rem;
        justify-content: flex-start;

        @include breakpoint($only-mobile) {
          margin: 0.5rem 0.875rem;
        }
      }
    }

    .addtobag-button-container {
      @include breakpoint($only-mobile) {
        margin-top: 1rem;
      }
    }
  }
}

#my-wishlist {
  .c-products__item.promotion-frame {
    .addtobag-button-container,
    .addtobag-config-button-container {
      @include breakpoint($only-mobile) {
        margin: 1.5rem 0.75rem 0;
      }
    }
  }
}
