@import "../../alshaya_white_label/sass/config/_colors.scss";

// Alshaya White Label
$black-three: #2f2f2f;

// Mothercare
$scarlet-three: #cc071e;
$white-five-20: rgba(255, 255, 255, 0.2);

// H&M custom color.
$hnm-black: #0d0d0d;
$hnm-red: #cd2026;
$info: #569de5;
$info-two: #569adf;
$info-19: rgba(86, 157, 229, 0.19);
$info-30: rgba(86, 157, 229, 0.3);
$search-hover: rgba(0, 0, 0, 0.05);
$success: #1da545;
$warning: #ffda7f;
$error: #ff3030;
$grey1: #f8f8f8;
$grey2: #f0f0f0;
$grey2-19: rgba(240, 240, 240, 0.19);
$grey3: #e8e8e8;
$grey4: #dadada;
$grey4-30: rgba(218, 218, 218, 0.3);
$grey5: #c8c8c8;
$grey6: #b3b3b3;
$grey7: #777;
$grey8: #555;
$grey9: #efefef;
$white-smoke-border: #2b2b2b;
$link-hover: #1f1f1f;
$hnm-black-two: #000;
$hnm-black-two-50: rgba(0, 0, 0, 0.05);
$hnm-black-three: #222;
$hnm-black-four: #1a1a1a;
$hnm-grey: #f3f3f3;
$returned: #797979;
$whisper-light-59: rgba(235, 235, 235, 0.59);
$white-four-70: rgba(247, 247, 247, 0.7);
$hnm-grey-light: #dee6f0;
$hnm-grey-light-two: #d7e1ec;
$hnm-grey-light-three: #e6e6e6;
