@import "../../alshaya_white_label/sass/config/_colors.scss";

/* *********Steps to add colors for new brand ************ */

// 1) Copy the color variables by going to Zeplin > Styleguide.
// 2) Paste them under section 1 under brand colors.
// 3) Copy the variables from section 2 onwards from alshaya_white_label > _color.scss file.
// 4) Map the variables copied from whitelabel with the color variables copied in section #1.

// ================================= //
// ------  TABLE of CONTENTS ------- //
// --------------------------------- //
// ------- 1. Brand Colors --------- //
// ------- 2. Primary color--------- //
// ------- 3. Secondary color  ----- //
// ------- 4. Tertiary Colors ------ //
// ------- 5. Components ----------- //
// ------- 6. Sections  ------------ //
// ------- 7. Pages ---------------- //
// ================================= //

/* ------- 1. Brand Colors ------- */
// Colors from Zeplin pallete for the site.
// H&M custom color.
$black-three: #2f2f2f;
$scarlet-three: #cc071e;
$white-five: #fff;
$white-five-20: rgba(255, 255, 255, 0.2);
$hnm-black: #0d0d0d;
$hnm-red: #cd2026;
$info: #569de5;
$info-two: #569adf;
$info-19: rgba(86, 157, 229, 0.19);
$info-30: rgba(86, 157, 229, 0.3);
$search-hover: rgba(0, 0, 0, 0.05);
$success: #1da545;
$warning: #ffda7f;
$error: #ff3030;
$grey1: #f8f8f8;
$grey2: #f0f0f0;
$grey2-19: rgba(240, 240, 240, 0.19);
$grey3: #e8e8e8;
$grey4: #dadada;
$grey4-30: rgba(218, 218, 218, 0.3);
$grey5: #c8c8c8;
$grey6: #b3b3b3;
$grey7: #777;
$grey8: #555;
$grey9: #efefef;
$white-smoke-border: #2b2b2b;
$link-hover: #1f1f1f;
$hnm-black-two: #000;
$hnm-black-two-50: rgba(0, 0, 0, 0.05);
$hnm-black-three: #222;
$hnm-black-four: #1a1a1a;
$hnm-grey: #f3f3f3;
$returned: #797979;
$whisper-light-59: rgba(235, 235, 235, 0.59);
$white-four-70: rgba(247, 247, 247, 0.7);
$hnm-grey-light: #dee6f0;
$hnm-grey-light-two: #d7e1ec;
$hnm-grey-light-three: #e6e6e6;

/* ------- 2. Primary Colors ------- */
// Global elements.
$content_pagetitle: $hnm-black-two;
$content_pagetitle_border: $white;
$primary_link: $black;
$primary_link-hover: $grey7;
$primary_link-active: $grey7;
$content_link_color: $hnm-black-two;

// Form elements.
$primary_input: $hnm-black-two;

//Buttons.
$primary_btn_bg: $hnm-black-two;
$primary_empty_btn: $hnm-black-two;
$primary_empty_btn_border: $hnm-black-two;
$pending_btn_bg: $warning;
$returned_btn_bg: $returned;
$complete_btn_bg: $success;

// Checkbox & Radio.
$primary_checkbox_empty: $hnm-black-four;
$primary_checkbox_filled: $hnm-black-two;
$primary_radiobtn_empty: $hnm-black-two;

// Dropdown.
$primary_dropdown_text: $hnm-black-two;
$primary_dropdown_border: $hnm-black-two;

/* ------- 3. Secondary color  ----- */

/* ------- 4. Tertiary Colors ------- */

/* ------- 5. Components --------------- */
// Titles.
$page_title: $hnm-black-two;
$block_title: $hnm-black-two;
$title: $hnm-black-two;
$sub_title: $hnm-black-two;

// Messages and Errors
$default_msg_status_text: $white-four;
$default_msg_bg: $success;

// Tooltip
$tooltip_border: $grey1;
$tooltip_border_2: $hnm-black-two;

// Maintenance
$maintenance_container_border: $white-two;
$maintenance_body_bg: $matterhorn;
$maintenance_link: $black;
$maintenance_text: $grey-ash;
$maintenance_title: $black;
$maintenance_mobile_body_bg: $faun;
$maintenance_mobile_body_text: $black;
