// H&M specific font family
// English fonts.
// Adding Arabic fonts as fallback for arabic text to be shown correctly in English site.
$hnm-bold: "HM Sans Bold", "HM Sans Arabic Bold", "sans-serif", "Arial";
$hnm-bold-nodir: "HM Sans Bold", "HM Sans Arabic Bold", "sans-serif", "Arial";

$hnm-demibold: "HM Sans Semi Bold", "HM Sans Arabic Semi Bold", "sans-serif", "Arial";
$hnm-demibold-nodir: "HM Sans Semi Bold", "HM Sans Arabic Semi Bold", "sans-serif", "Arial";

$hnm-regular: "HM Sans Regular", "HM Sans Arabic Regular", "sans-serif", "Arial";
$hnm-regular-nodir: "HM Sans Regular", "HM Sans Arabic Regular", "sans-serif", "Arial";

$hnmpromo-regular: "HM Serif Regular", "Times New Roman", "Arial";
$hnmpromo-regular-nodir: "HM Serif Regular", "Times New Roman", "Arial";

// Arabic fonts.
// Adding En fonts so browser prints English characters & numbers correctly in arabic.
$hnm-arabic-bold: "HM Sans Arabic Bold", "HM Sans Bold", "sans-serif", "Arial";
$hnm-arabic-bold-nodir: "HM Sans Arabic Bold", "HM Sans Bold", "sans-serif", "Arial";

$hnm-arabic-medium: "HM Sans Arabic Semi Bold", "HM Sans Semi Bold", "sans-serif", "Arial";
$hnm-arabic-medium-nodir: "HM Sans Arabic Semi Bold", "HM Sans Semi Bold", "sans-serif", "Arial";

$hnm-arabic-regular: "HM Sans Arabic Regular", "HM Sans Regular", "sans-serif", "Arial";
$hnm-arabic-regular-nodir: "HM Sans Arabic Regular", "HM Sans Regular", "sans-serif", "Arial";

$hnmpromo-arabic-regular: "HM Serif Regular", "Times New Roman", "Arial";
$hnmpromo-arabic-regular-nodir: "HM Serif Regular", "Times New Roman", "Arial";

$alshaya-icons: "alshaya-icons";
$body_font: $hnm-regular;

// Override font variables coming from MC, without this we get a 404 as font files are no longer present in H&M theme.
$arial: $hnm-regular;
$arial-nodir: $hnm-regular;
$alshaya-bold: $hnm-bold;
$alshaya-arabic-bold: $hnm-arabic-bold;
$alshaya-thin: $hnm-regular;
$alshaya-arabic-thin: $hnm-arabic-regular;
$campaign-plp-style-1-font: $hnm-regular;
$campaign-plp-style-1-arabic-font: $hnm-arabic-regular;

// Icon Fonts
$icons: (
  arrowup: "\e93b",
  login: "\e929",
  chevronleft: "\e902",
  chevronright: "\e903",
  chevronup: "\e904",
  check: "\e905",
  checkshape: "\e906",
  circle-stroke-shape: "\e907",
  circle-shape: "\e908",
  delivery: "\e90b",
  direction-fill: "\e90c",
  direction-stroke: "\e90d",
  dropdown-collapse: "\e90e",
  dropdown-expand: "\e90f",
  favorite-fill: "\e910",
  favorite-stroke: "\e911",
  paginator-active: "\e912",
  paginator-inactive: "\e913",
  radio-empty: "\e914",
  radio-filled: "\e915",
  rating: "\e916",
  ratingfull: "\e917",
  video path1: "\e918",
  video path2: "\e919",
  loader path1: "\e91a",
  loader path2: "\e91b",
  loader path3: "\e91c",
  menu: "\e91e",
  list: "\e91f",
  map: "\e922",
  mylocation: "\e923",
  newsletter: "\e924",
  rewards: "\e926",
  language: "\e927",
  infomation: "\e928",
  warning: "\2757",
  googleplus: "\1f576",
  facebook: "\1f575",
  twitter: "\1f425",
  pinterest: "\1f4cc",
  instagram: "\1f305",
  youtube: "\1f4fa",
  edit-input: "\e93d",
  bell: "\e006",
  marquee-plus: "\e083",
  price-tag: "\e93a",
  bin: "\e9ad",
  plus: "\e901",
  close: "\e92a",
  check-box-empty: "\e92c",
  check-box-filled: "\e92d",
  filter: "\e925",
  search: "\e92f",
  shopping-bag: "\e930",
  arrow-left: "\e92e",
  arrow-right: "\e92b",
  chevrondown: "\e931",
  minus: "\e900",
  store: "\e909",
  new-facebook-default: "\e90a",
  new-facebook-hover: "\e91d",
  new-instagram-default: "\e920",
  new-instagram-hover: "\e921",
  new-twitter-default: "\e932",
  new-twitter-hover: "\e933",
  new-whatsapp-default: "\e934",
  new-whatsapp-hover: "\e935",
);
