.c-social-links {
  @include breakpoint($only-mobile) {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 15rem;
  }

  @include breakpoint($tablet) {
    min-width: 18.188em;
    position: absolute;
    top: 32%;
    #{$right}: 0;
  }

  @include breakpoint($desktop) {
    top: 63%;
  }

  ul {
    @extend %list-clear;
  }

  li {
    float: $left;
    margin-#{$right}: 0.9375rem;
  }

  [class^="c-social-links--"] {
    @include u-image-replacement;

    width: 1.5625rem;
    height: 1.5625rem;
    display: inline-block;

    &::before {
      font-size: 2rem;
      color: $marine-blue-two;
    }
  }

  .c-social-links--facebook {
    @include icon(facebook);
  }

  .c-social-links--instagram {
    @include icon(instagram);
  }

  .c-social-links--youtube {
    @include icon(youtube);
  }

  .c-social-links--google-plus {
    @include icon(googleplus);
  }

  .c-social-links--twitter {
    @include icon(twitter);
  }

  .c-social-links--pinterest {
    @include icon(pinterest);
  }
}
