.c-plp .c-content__region {
  .all-filters .filter,
  .all-filters-algolia .filter {
    &__inner {
      .block-facets-ajax > ul,
      .c-collapse-item > ul {
        .facet-item {
          input[type="checkbox"] {
            & ~ label {
              &::before {
                top: -0.1875rem;

                html[lang="ar"] & {
                  top: -0.0625rem;
                }

                @include breakpoint($only-mobile) {
                  top: -0.0625rem;

                  html[lang="ar"] & {
                    top: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
