.c-delivery-menu__tab {
  box-shadow: none;

  .c-delivery-menu__title {
    text-transform: uppercase;

    .c-delivery-menu__description {
      color: $deliverybanner_subtitle;
      text-transform: none;
      font-size: 0.875rem;
    }
  }

  @include breakpoint($only-mobile) {
    .field--name-field-title {
      font-size: 1.125rem;
    }

    .field--name-field-sub-title {
      font-size: 0.875rem;
    }
  }

  .field--name {
    &-field-title {
      text-transform: uppercase;
    }

    &-field-sub-title {
      text-transform: initial;
    }
  }
}

.c-delivery-menu {
  @include breakpoint($tablet) {
    margin: 1.5rem auto;
  }
}
