.checkout-link {
  a {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.spc-shopping-link,
.spc-cnc-store-actions,
.map-store-list .store-actions {
  a,
  button {
    font-weight: 600;
    text-transform: uppercase;
  }
}
