.c-delivery-menu {
  text-transform: none;

  @include breakpoint($only-mobile) {
    margin: 1rem auto;
  }
}

.c-delivery-menu__tab {
  padding: 0.6875rem 0;
  border: 2px solid $delivery_color;
  box-shadow: none;

  .field--name-field-title {
    @include arabic-letter-spacing;

    font-size: 1.125rem;
    font-family: $hnm-demibold;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $title;
  }

  .field--name-field-sub-title {
    @include arabic-letter-spacing;

    font-size: 0.875rem;
    font-family: $hnm-regular;
    letter-spacing: 0.5px;
    color: $delivery_color;
  }

  .c-delivery-menu__title {
    @include arabic-letter-spacing;

    font-family: $hnm-demibold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $delivery_color;
    font-size: 1.125rem;

    @include breakpoint($only-mobile) {
      font-size: 1rem;
    }

    a {
      color: $delivery_color;
    }

    .c-delivery-menu__description {
      @include arabic-letter-spacing;

      font-family: $hnm-regular;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      font-size: 0.8125rem;
    }
  }
}
