.return-confirmation-wrapper {
  .order-details-button-wrapper {
    a {
      font-family: $hnm-demibold;
    }
  }

  .refund-success-message {
    font-family: $hnm-demibold;
  }

  .whats-next-section {
    .whats-next-wrapper {
      .title {
        font-family: $hnm-demibold;
      }
    }
  }
}
