.return-requests-wrapper {
  .return-reasons-select,
  .return-qty-select {
    .reasonsSelect__control,
    .qtySelect__control {
      .reasonsSelect__dropdown-indicator,
      .qtySelect__dropdown-indicator {
        &::before {
          font-size: 0.525rem;
        }
      }
    }

    .reasonsSelect__menu,
    .qtySelect__menu {
      z-index: 5;
    }
  }

  .return-qty-row,
  .return-reasons-row {
    .return-reason-label {
      font-family: $hnm-regular;
      font-weight: 700;
    }
  }
}
