// Define Fonts
@font-face {
  font-family: 'Mothercare';
  src: url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-bold.woff2') format('woff2'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MothercareThin';
  src: url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-thin.woff2') format('woff2'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo-300';
  src: url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-thin.eot?#iefix') format('embedded-opentype'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-thin.woff') format('woff'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-thin.ttf')  format('truetype'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-thin.svg#NotoKufiArabic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo-bold';
  src: url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-bold.eot?#iefix') format('embedded-opentype'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-bold.woff') format('woff'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-bold.ttf')  format('truetype'), url('/themes/custom/transac/alshaya_white_label/fonts/alshaya-arabic-bold.svg#NotoKufiArabic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font Family
$alshaya-bold: 'Mothercare';
$alshaya-bold-nodir: 'Mothercare';

$alshaya-thin: 'MothercareThin';
$alshaya-thin-nodir: 'MothercareThin';

$alshaya-arabic-bold: 'Cairo-bold', 'Mothercare';
$alshaya-arabic-bold-nodir: 'Cairo-bold', 'Mothercare';

$alshaya-arabic-thin: 'Cairo-300', 'MothercareThin';
$alshaya-arabic-thin-nodir: 'Cairo-300', 'MothercareThin';

$arial: 'arialmt', arial, sans-serif;
$arial-nodir: 'arialmt', arial, sans-serif;
