.c-plp {
  .c-page-title {
    text-transform: none;
    font-weight: 600 !important;
    font-size: 1.5rem !important;

    @include breakpoint($tablet) {
      padding-bottom: 1.125rem;
    }

    @include breakpoint($desktop) {
      padding-bottom: 0;
    }
  }
}

.c-products-list {
  .view-alshaya-product-list,
  &.view-search,
  &.block-views-blockalshaya-product-list-block-1 {
    margin-top: 1.625rem;
  }
}

.c-plp .region__content {
  .block-facets-summary-blockfilter-bar-promotions,
  .block-facets-summary-blockfilter-bar {
    padding-top: 0.75rem;
    border-bottom: 1px solid $plp_filter_divider;

    @include breakpoint($only-mobile) {
      padding-bottom: 0.875rem;
    }
  }
}

.c-plp .region__content {
  .block-facets-summary-blockfilter-bar-plp {
    padding-top: 0.75rem;
    border-bottom: 1px solid $plp_filter_divider;

    @include breakpoint($only-mobile) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

// tiles of proudcts in plp and search page.
.c-plp {
  .region__content .block-page-title-block {
    margin-bottom: 0;

    .c-page-title {
      @include breakpoint($only-tablet) {
        padding-bottom: 0;
      }
    }

    &.mobile h1 {
      @include breakpoint($only-mobile) {
        padding: 1.75rem 0;
      }
    }
  }

  .c-products__item {
    .field--name-name a {
      font-weight: 400;
    }

    .price-wrapper {
      font-size: 0.875rem;
    }

    @include breakpoint($desktop) {
      min-height: 21rem;
    }

    @include breakpoint($only-mobile) {
      min-height: 17rem;
    }
  }

  // Load more button.
  ul.js-pager__items a {
    font-size: 14px;
    text-transform: uppercase;
  }
}
