@mixin plain-loader() {
  animation: plain-bg-load 1s infinite;
  background-image:
    linear-gradient(
      90deg,
      $loader-gradient-1,
      $loader-gradient-2,
      $loader-gradient-1
    );
  background-repeat: repeat-y;
  background-size: 400% 8rem;
  background-position: 100% 0;

  @keyframes plain-bg-load {
    to {
      background-position: 0 0;
    }
  }
}

@mixin text-block-loader() {
  animation: text-bg-load 1s infinite;
  background-image:
    linear-gradient($loader-text-ph 1rem, $no-color 0),
    linear-gradient($loader-text-ph 1rem, $no-color 0),
    linear-gradient($loader-text-ph 1rem, $no-color 0),
    linear-gradient(
      90deg,
      $loader-gradient-1,
      $loader-gradient-2,
      $loader-gradient-1
    );
  background-repeat: repeat-y;
  background-size: 90% 8rem, 90% 8rem, 75% 8rem, 400% 8rem;
  background-position: center 2rem, center 4rem, center 6rem, 100% 0;

  @keyframes text-bg-load {
    to {
      background-position: center 2rem, center 4rem, center 6rem, 0 0;
    }
  }
}
