//Define theme fonts here.
$helvetica-neue: 'HelveticaNeue';
$helvetica: 'Helvetica';
$helvetica-neue-thin: 'HelveticaNeue-thin';
$helvetica-neue-bold: 'HelveticaNeue-Bold';
$arabic_regular: 'DroidArabicKufi';
$arabic_bold: 'DroidArabicKufi-Bold';

$arial: $helvetica-neue;
$open-sans: $helvetica-neue;
$cairo: $helvetica-neue;
$cairo-bold: $helvetica-neue-bold;
