//Define theme fonts here.
$helvetica-neue: 'HelveticaNeue';
$helvetica: 'Helvetica';
$arabic_regular: 'DroidArabicKufi';
$arabic_bold: "DroidArabicKufi-Bold";
$arial: $helvetica-neue;
$open-sans: $helvetica-neue;
$cairo: $helvetica-neue;
