{#
/**
 * @file
 * Default theme implementation of a facet result item with sizegroup.
 *
 * Available variables:
 * - value: The item value.
 *
 * @ingroup themeable
 */
#}

<button class="sizegroup-filter">{{ value }}</button>

