{#
/**
 * @file
 * Default theme implementation of a facet result item with swatch.
 *
 * Available variables:
 * - value: The item value.
 *
 * @ingroup themeable
 */
#}

<span class="sizegroup-filter">{{ value }}</span>

