{#
/**
 * @file
 * Default theme implementation of a facet result item with sizegroup.
 *
 * Available variables:
 * - items: The item value.
 * - value: The group value.
 *
 * @ingroup themeable
 */
#}
<ul class="sizegroup" id="{{ value }}">
  <button class="sizegroup-filter">{{ value }}</button>
  {%- if items -%}
    {%- for item in items -%}
      <li class="facet-item">{{ item }}</li>
    {%- endfor -%}
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
</ul>
