.dynamic-promotion-wrapper {
  .inactive-promotions {
    .promotion {
      &.fixed_percentage_discount_order,
      &.free_gift_order {
        background: $basket_fixed_percentage_inactive_header_promo_bg;
        color: $basket_fixed_percentage_inactive_header_promo_txt;

        @include breakpoint($only-mobile) {
          padding: 0.625rem 0;
        }

        .promotion-available-code {
          .promotion-coupon-code {
            border-color: $basket_fixed_percentage_inactive_header_promo_txt;
            color: $basket_fixed_percentage_inactive_header_promo_txt;
          }
        }

        &[threshold="true"] {
          background: $basket_fixed_percentage_threshold_reached_bg;
          color: $basket_fixed_percentage_inactive_header_promo_bg;
          border: 2px solid $basket_fixed_percentage_inactive_header_promo_bg;

          .promotion-available-code {
            .promotion-coupon-code {
              border-color: $basket_fixed_percentage_inactive_header_promo_bg;
              color: $basket_fixed_percentage_inactive_header_promo_bg;
            }
          }

          svg #fill-value {
            fill: $basket_fixed_percentage_inactive_header_promo_bg;
          }
        }
      }

      &.free_shipping_order {
        background: $basket_free_delivery_inactive_header_promo_bg;
        color: $basket_free_delivery_inactive_header_promo_txt;

        svg #fill-value {
          color: $basket_free_delivery_inactive_header_promo_txt;
        }
      }

      &.fixed_percentage_discount_order,
      &.free_shipping_order {
        svg #fill-value {
          fill: $basket_active_promotion_icon;
        }
      }
    }
  }

  .active-promotions {
    .promotion {
      &.fixed_percentage_discount_order,
      &.free_gift_order {
        background: $basket_fixed_percentage_active_header_promo_bg;
        color: $basket_fixed_percentage_active_header_promo_txt;
        border: 2px solid $basket_fixed_percentage_active_header_promo_txt;

        svg #fill-value {
          fill: $basket_fixed_percentage_active_header_promo_txt;
        }
      }

      &.free_shipping_order {
        background: $basket_free_delivery_active_header_promo_bg;
        color: $basket_free_delivery_active_header_promo_txt;
        border: 2px solid $basket_free_delivery_active_header_promo_txt;

        @include icon(delivery, before) {
          margin: 0 0.5rem;
          display: inline-block;
          vertical-align: middle;
          font-size: 2.125rem;
        }
      }
    }
  }

  .promotion {
    padding-#{$right}: 1.5625rem;
    margin-bottom: 0.875rem;
    letter-spacing: 0.0125rem;
    position: relative;
    font-size: 0.875rem;
    min-height: 3.25rem;
    font-family: $alshaya-bold;
    display: inline-flex;
    align-items: center;
    width: 100%;

    @include arabic-letter-spacing;

    .ie & {
      // Added height intentionally to fix the IE issue, though it won't affect styling anywhere else.
      height: 3.25rem;
    }

    @include breakpoint($tablet) {
      margin-bottom: 0.625rem;
    }

    @include breakpoint($desktop) {
      margin-top: 0;
    }

    @include breakpoint($only-mobile) {
      margin: 0.625rem;
      width: calc(100% - 0.625rem - 0.625rem);
      padding: 0.3125rem 0;
    }

    .promotion-coupon-details {
      display: inline-block;
      font-family: $alshaya-thin;

      .promotion-coupon-code {
        font-family: $alshaya-bold;
      }

      @include breakpoint($only-mobile) {
        margin: 0;
        display: block;
      }

      @include breakpoint($tablet) {
        margin-#{$left}: 1.5rem;
      }
    }

    svg {
      width: 2.1875rem;
      margin: 0 0.5rem;

      @include breakpoint($only-mobile) {
        align-self: flex-start;
      }
    }
  }

  html[lang="ar"] & {
    line-height: normal;
  }
}
