.alias--cart {
  .page-standard {
    background-color: $spc-cart-background;
    padding-bottom: 5rem;
    margin-top: 0 !important;
    padding-#{$left}: 0 !important;
    padding-#{$right}: 0 !important;
  }

  .c-footer {
    padding-top: 0;
  }
}

#spc-cart {
  .spc-main,
  .spc-pre-content,
  .spc-post-content {
    max-width: 64.125rem;
    margin: 0 auto;
    margin-bottom: 0.9375rem;
  }
}

#spc-cart {
  .spc-post-content {
    @include breakpoint($only-tablet) {
      max-width: calc(100% - 2.5rem);
    }

    @include breakpoint($upto-desktop) {
      .nav-prev,
      .nav-next {
        display: none;
      }
    }
  }

  .spc-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include breakpoint($only-tablet) {
      max-width: calc(100% - 2.5rem);
    }

    @include breakpoint($only-mobile) {
      margin-bottom: 2.5rem;
    }

    .spc-content {
      width: 51.17%;

      @include breakpoint($only-mobile) {
        width: 100%;
      }
    }

    .spc-sidebar {
      width: 40%;

      @include breakpoint($only-mobile) {
        width: 100%;
        margin-top: 1.5625rem;
      }
    }
  }

  @include breakpoint($tablet) {
    padding-top: 2.5rem;
  }
}

.spc-content {
  .spc-checkout-section-title {
    @include breakpoint($only-mobile) {
      display: none;
    }
  }
}

.spc-mobile-cart-preview {
  background-color: $spc-order-summary-totals-bg;
  padding: 1.25rem 0;

  .cart-text {
    font-size: 0.875rem;
    color: $spc-cart-text-color;
    margin: 0 0.3125rem;
  }

  .cart-quantity,
  .cart-value {
    color: $primary_btn_bg;
    font-size: 0.875rem;
  }

  .cart-value {
    .price-currency {
      &.suffix {
        margin-#{$right}: 0.1875rem;
      }
    }
  }

  @include breakpoint($tablet) {
    display: none;
  }

  @include breakpoint($only-mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
