.spc-cart-items {
  .spc-cart-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 0.9375rem;
    min-height: 170px;

    .spc-product-tile {
      display: grid;
      grid-template-columns: 87px 1fr 77px;
      grid-gap: 13px;

      .spc-product-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .spc-product-image {
        max-height: 130px;
      }

      .spc-product-tile-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .spc-remove-btn {
          align-self: flex-end;
        }

        .qty {
          align-self: normal;

          .spc-qty-select {
            &.open {
              div[class$='-indicatorContainer'] {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }

          div[class$='-control'] {
            border: 1px solid #000;
            border-radius: 0;
            height: 40px;
            font-size: 14px;
            box-shadow: none;

            > div:nth-child(2) {
              span[class$='-indicatorSeparator'] {
                display: none;
              }

              div[class$='-indicatorContainer'] {
                color: #000;

                svg {
                  transition: transform 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }

      .spc-remove-btn {
        background: url(#{$base_theme_img_directory_path}/icons/ic-trashbin-two.svg) center center no-repeat;
        width: 34px;
        height: 34px;
        border: none;
        font-size: 0;
      }
    }

    .spc-product-title {
      a {
        line-height: 1.29;
        font-size: 14px;
        color: #000;
      }
    }

    .spc-promotions {
      padding-top: 1.5rem;
      padding-#{$left}: 6px;

      span {
        margin-#{$right}: 0.5rem;

        > a {
          color: #ce262c;
          font-size: 0.75rem;
        }
      }
    }

    .spc-product-attributes-wrapper {
      font-size: 0.75rem;
      color: #777;
    }

    .spc-product-price {
      font-size: 14px;
      color: #000;
    }
  }
}
