.region__footer-secondary {
  padding: 2.5rem 0.5rem 2.625rem;
  background-color: $copyright_footer_bg;

  @include breakpoint($tablet) {
    padding: 2.0625rem 0 2.625rem;
  }

  @include breakpoint($desktop) {
    padding-top: 1.5rem;
  }
}

.c-footer__copy {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0 1.125rem;

  @include breakpoint($tablet) {
    width: 35.4375rem;
    padding-top: 0.75rem;
    max-width: none;
    float: none;
  }

  .field--name-body {
    p {
      font-family: $hnm-regular;
      font-size: 0.5625rem;
      line-height: 1.44;
      text-align: center;
      color: $copyright_footer_text;
      margin: 0;
    }
  }
}

.c-footer__logos {
  float: none;
  background-color: $copyright_footer_bg;
  line-height: 1;

  .menu {
    @extend %list-clear;
    @extend %list--horizontal;

    text-align: center;
    float: none;

    @include breakpoint($tablet) {
      padding-bottom: 1.375rem;
    }

    @include breakpoint($only-mobile) {
      padding-bottom: 0.75rem;
    }
  }

  li {
    &:not(:last-child) {
      margin-#{$right}: 1.6rem;
    }
  }
}

.c-footer__logo {
  &--mastercard {
    background: url("../imgs/cards/master-card-secure-code-white.svg") no-repeat center;
    width: 5.3125rem;
    height: 1.625rem;
  }

  &--verisign {
    background: url("../imgs/cards/veri-sign-white.svg") no-repeat center;
    width: 4.375rem;
    height: 2.1875rem;
  }

  &--visa {
    background: url("../imgs/cards/verifiedby-visa-white.svg") no-repeat center;
    width: 4.0625rem;
    height: 1.8125rem;
  }
}

#block-footerhnmlogo {
  line-height: 1;
  padding-bottom: 1.1875rem;

  .footer-brand-home {
    text-align: center;
    margin: 0;
    border-bottom: none;
  }
}

.c-footer-secondary {
  padding: 0;

  .l-container {
    max-width: none;
  }
}

.menu--customer-rights-logo {
  @include breakpoint($mobile) {
    float: none;
  }
}
