.alias--free-design-services-thank-you,
.alias--free-design-services {
  .page-standard {
    @include container(65.625rem);
  }

  fieldset {
    border: none;
  }

  #block-page-title {
    display: none;
  }

  #edit-banner {
    padding: 0.5rem;

    @include breakpoint($desktop) {
      padding: 0;
    }

    p {
      margin-top: 0.5rem;
    }
  }

  #edit-sub-title {
    @include breakpoint($desktop) {
      p {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $form-middle-seperator;
      }
    }
  }

  .webform-confirmation__message,
  #edit-sub-title-mobile,
  #edit-sub-title {
    padding: 0.5rem;

    @include breakpoint($desktop) {
      padding: 0;
    }

    .h1 {
      font-size: 1.125rem;
      text-transform: uppercase;
      color: $title;
      margin-top: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $form-middle-seperator;

      @include breakpoint($desktop) {
        font-size: 1.5rem;
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    p {
      font-size: 0.875rem;
      color: $form-field-title;
    }
  }

  .region__content {
    form {
      overflow: hidden;
      display: table;
      width: 100%;

      #edit-contact-information,
      .address-book-address,
      .form-item-preferred-store {
        width: 100%;
        max-width: 32.125rem;
        margin: 0;
        padding: 0;

        @include breakpoint($desktop) {
          width: 49%;
          float: $left;
          clear: $left;
          border-#{$right}: 1px solid $form-middle-seperator;
        }
      }

      .form-item-preferred-store {
        clear: both;
        padding-bottom: 1.25rem !important;

        label {
          &.error {
            #{$left}: 0;

            @include breakpoint($only-mobile) {
              #{$left}: 0.5rem;
            }
          }
        }

        @include breakpoint($upto-desktop) {
          &::after {
            top: 0.5rem !important;
            #{$right}: 0.5rem !important;
          }
        }

        @include breakpoint($only-tablet) {
          max-width: 25.1875rem;
        }
      }

      .webform-composite-visible-title {
        width: 100%;

        @include breakpoint($desktop) {
          width: 49%;
        }
      }

      .form-item-anything-else {
        width: 100%;
        overflow: auto;

        @include breakpoint($desktop) {
          width: 49%;
        }
      }

      #edit-actions {
        width: 49%;
        overflow: auto;

        @include breakpoint($only-mobile) {
          width: 100%;
        }
      }
    }
  }

  #webform-submission-free-design-services-add-form {
    #edit-contact-information,
    .address-book-address,
    .form-item-preferred-store,
    .form-item-anything-else {
      padding: 0.5rem;

      @include breakpoint($desktop) {
        padding: 0;
      }

      .fieldset-legend {
        font-size: 1.125rem;
        color: $form-field-legend;
        text-transform: uppercase;
      }

      .form-item {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        position: relative;

        .country-select {
          border-bottom: 1px solid $form-field-title;
          height: auto;

          .mobile-number-flag,
          .arrow {
            display: none;
          }

          .prefix {
            font-size: 1rem;
            line-height: 1.5;
            color: $form-field-label;
          }
        }

        label:last-of-type {
          position: absolute;
          #{$left}: 0;
          top: -0.125rem;
          font-size: 1rem;
          line-height: 1.5;
          color: $form-field-label;
          transition: font-size 0.2s ease-in-out, top 0.2s ease-in-out;
          pointer-events: none;
        }

        &.mobile_number {
          padding-bottom: 0;

          .mobile-input--wrapper {
            position: relative;

            .js-form-type-tel {
              position: unset;
              margin-top: 1.25rem;
              width: calc(100% - 43px); // here we keep 'px' unit to work in IE also

              input {
                padding-bottom: 0 !important;
                height: 1.563rem;

                &::placeholder {
                  color: $mobile-field-placeholder;
                }
              }

              label.error {
                width: 100%;
                top: 2.6875rem !important;
                #{$left}: 0;
                border-top: 0.125rem solid $primary_input_inline_error !important;
              }
            }

            .form-item-mobile-number-country-code {
              margin-top: 0;
            }
          }

          > label {
            font-size: 0.75rem;
            line-height: 1.33;
          }
        }

        input:focus ~ label:last-of-type,
        label.active-label:not(.error) {
          top: -1.25em;
          bottom: 0;
          #{$left}: 0;
          opacity: 1;
          font-size: 0.75rem;
        }

        &.js-form-type-tel {
          margin-top: 3rem;

          .flag-container {
            display: none;
          }

          .intl-tel-input {
            display: block;
          }

          label {
            top: -1.5rem;
            font-size: 0.75rem;

            &.error {
              position: absolute;
              top: 1.5rem !important;
              font-size: 0.75rem;
              color: $primary_input_inline_error;
              padding-top: 0.3125rem;
              display: block;
            }
          }
        }
      }

      .fieldset-wrapper {
        max-width: 24.6875rem;
        width: 100%;
      }

      .form-item--error-message {
        position: absolute;
      }
    }

    .address-book-address {
      .form-item-address-dependent-locality,
      .form-item-address-address-line2 {
        width: 47%;
        display: inline-block;

        label[for=edit-address-dependent-locality],
        label[for=edit-address-address-line2] {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      .form-item-address-dependent-locality {
        margin-#{$right}: 4.5%;
      }

      legend {
        padding: 0;

        .fieldset-legend {
          padding-bottom: 1.5rem;
          font-weight: normal;
        }
      }

      > .address--wrapper {
        margin-top: 1.25rem;
        width: 100%;

        @include breakpoint($only-mobile) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .form-item-address-area-parent,
    .form-item-address-administrative-area,
    .form-item-preferred-store.form-type-select {
      &::after {
        @include breakpoint($desktop) {
          display: none;
        }
      }

      @include select-wrapper(100%);

      label {
        top: -3rem;
        font-size: 1.125rem;
        position: absolute;
        text-transform: uppercase;
        color: $form-field-title;

        &.error {
          top: auto !important;
          bottom: 0;
          color: $primary_input_inline_error;
          padding-top: 0.3125rem;
          font-size: 0.75rem;
          text-transform: capitalize;
        }
      }

      #edit-preferred-store,
      select.select2-select.form-select {
        font-size: 1rem;
        box-sizing: border-box;

        @include select-style(100%);
      }

      .select2-selection {
        font-family: $alshaya-thin;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        width: 90.75%;
        border-radius: 0;
        height: 2.188rem !important;
        border-color: $form-select-border;
      }

      .select2-selection__arrow {
        top: 0;
        #{$right}: 0;
        width: 2.1875rem;
        height: 2.1875rem;
        background: $form-select-border;

        &::after {
          font-size: 1.7rem;
          top: 12%;
          #{$left}: 11%;
        }
      }

      .select2-container {
        width: 100% !important;
        max-width: 24.6875rem;
        border: none;
      }

      .select2-selection__rendered {
        font-family: $arial;
        line-height: 1.188rem !important;
        color: $form-select-text;
        font-size: 1rem;
        padding: 0.25rem !important;
      }

      @include breakpoint($upto-desktop) {
        .form-select {
          padding: 0.25rem 0.35rem !important;
          border: 1px solid $form-select-border !important;
        }

        &::after {
          background: $form-select-border;
          top: 0;
          #{$right}: 0;
          height: 2.1875rem;
          margin-#{$left}: 1px;
        }

        .c-input__bar {
          &::after {
            border-#{$left}: 1px solid $form-select-border;
            width: 1px;
            height: 2.1875rem !important;
            #{$right}: 2.1875rem;
            #{$left}: auto;
          }
        }
      }
    }

    .form-item-preferred-store {
      &.form-type-select {
        label {
          color: $form-field-legend;

          @include breakpoint($only-mobile) {
            top: -2.125rem;
          }
        }
      }
    }

    .form-item-address-area-parent,
    .form-item-address-administrative-area {
      label {
        top: -1.25rem !important;
        font-size: 0.75rem !important;
        position: absolute;
        text-transform: capitalize;
        color: $form-field-label;

        &.error {
          top: auto !important;
          bottom: 0;
          color: $primary_input_inline_error;
          padding-top: 0.3125rem;
        }
      }

      .ajax-progress-throbber {
        display: none;
      }
    }

    .select2-container--focus {
      .select2-selection {
        outline: none;
      }
    }

    .form-type-select {
      .select2-selection__arrow {
        @include icon(chevrondown, after) {
          font-size: 1.5rem;
          position: absolute;
          top: 15%;
          #{$left}: 15%;
        }

        b {
          display: none;
        }
      }
    }

    #edit-room--wrapper {
      padding: 1.5rem 0.5rem 0;

      @include breakpoint($desktop) {
        padding: 2.375rem 2.375rem 0;
      }

      .fieldset-legend {
        font-size: 1.125rem;
        color: $form-edit-room-legend;
        text-transform: uppercase;
      }

      .fieldset-wrapper {
        position: relative;

        .description {
          position: absolute;
          top: -1.5rem;
          font-size: 0.75rem;

          @include breakpoint($desktop) {
            top: -2rem;
          }
        }

        @include breakpoint($only-mobile) {
          #edit-room {
            display: flex;
            flex-flow: row wrap;
          }
        }
      }

      .form-item {
        padding: 0 0 1.25rem;
        position: relative;

        @include breakpoint($only-mobile) {
          width: 50%;
        }

        label {
          font-size: 0.75rem;
          vertical-align: top;

          @include breakpoint($only-mobile) {
            display: flex;
            align-items: center;
          }
        }

        input[type=checkbox] ~ label::before {
          margin-#{$right}: 1rem;
          float: $left;
          line-height: 0.7;
        }
      }
    }

    .form-item-anything-else {
      padding: 0 0.5rem 1.5rem;
      position: relative;

      @include breakpoint($desktop) {
        padding: 0 3.25rem 0 2.375rem;
      }

      label {
        position: absolute;
        top: 1rem;
        #{$left}: 3rem;
        font-size: 0.75rem;
      }

      #edit-anything-else {
        border: 1px solid $form-field-textarea-border;
        max-width: 26.5rem;
        width: 100%;
        height: 9.75rem;
        padding: 1rem;

        &::placeholder {
          font-size: 0.75rem;
          line-height: 1.25;
          color: $form-field-label;
        }
      }
    }

    #edit-privacy-text {
      padding: 0 0.5rem;

      p {
        font-size: 0.75rem;

        a {
          display: block;
          color: $free_design_services_privacy_link;
          margin: 0.5rem 0;
        }
      }

      @include breakpoint($desktop) {
        padding: 0 2.375rem;
        width: 49%;
        overflow: auto;
      }
    }

    #edit-actions {
      padding: 0.8125rem 0.5rem 1.5rem;

      @include breakpoint($desktop) {
        padding: 2.375rem 2.375rem 0.875rem;
      }
    }

    .webform-button--submit {
      @extend %btn;

      background: $primary_btn_bg;
      width: 100%;
      text-transform: uppercase;

      @include breakpoint($tablet) {
        width: auto;
      }

      @include breakpoint($only-mobile) {
        margin-top: 0;
      }
    }
  }

  .select2-dropdown {
    border-color: $form-select-border;
  }

  .country-field-wrapper {
    margin-top: 1.5rem;
    height: auto;
    margin-bottom: 0;
  }

  .form-item-address-area-parent {
    padding-bottom: 0 !important;
  }
}

.alias--free-design-services {
  .form-item {
    input {
      font-size: 1rem;
      padding-bottom: 0.25rem !important;

      &::placeholder {
        font-size: 1rem;
        color: $form-field-label;
      }
    }
  }
}
