.cart-drawer-popup-content {
  &::before {
    content: '';
    position: fixed;
    width: 100vw;
    background-color: $delivery-modal-overlay;
    box-shadow: 0 9999px 0 9999px $delivery-modal-box-shadow;
    z-index: 7;
    opacity: 0;
    top: 0;
    #{$left}: 0;
    transition: opacity 300ms ease-in;
  }
}

body.overlay-cart-drawer {
  @include breakpoint($tablet) {
    overflow: hidden;
  }

  .branding__menu {
    z-index: 7;
  }

  .cart-drawer-popup-content {
    &::before {
      opacity: 1;
      height: 100%;
      transition: opacity 300ms ease-in;
    }
  }

  .cart-drawer-content {
    transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0, 0, 0.2, 1);
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1), opacity 400ms cubic-bezier(0, 0, 0.2, 1);
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1), opacity 400ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0, 0, 0.2, 1);
    opacity: 1;

    @include breakpoint($only-mobile) {
      transform: translateY(0);
    }

    @include breakpoint($tablet) {
      transform: translateX(0) !important;
    }
  }
}

.cart-drawer-content {
  background-color: $delivery-modal-bg;
  position: fixed;
  #{$right}: 0;
  top: 0;
  bottom: 0;
  transition: opacity 0ms cubic-bezier(0.4, 0, 1, 1) 400ms, -webkit-transform 400ms cubic-bezier(0.4, 0, 1, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 1, 1), opacity 0ms cubic-bezier(0.4, 0, 1, 1) 400ms;
  transition: transform 400ms cubic-bezier(0.4, 0, 1, 1), opacity 0ms cubic-bezier(0.4, 0, 1, 1) 400ms, -webkit-transform 400ms cubic-bezier(0.4, 0, 1, 1);
  transform: translateX(100%);
  z-index: 14;
  opacity: 0;

  @include breakpoint($only-mobile) {
    transform: translateY(100%);
    margin-top: 8.75rem;
    #{$left}: 0;
  }

  @include breakpoint($tablet) {
    width: 24.0625rem;
    max-width: 24.0625rem;

    html[lang=ar] & {
      transform: translateX(-100%);
    }
  }
}

.addtobag-button {
  position: relative;
  font-family: $alshaya-bold;
  font-size: 0.875rem;
  background: $primary_btn_bg;
  color: $primary_btn_text;
  display: inline-block;
  height: 2.5rem;
  width: 100%;
  padding: 0.625rem 1.25rem;
  border: 0;
  border-radius: 0.125rem;

  @include breakpoint($only-mobile) {
    height: 2.1875rem;
    padding-#{$left}: 0.5rem;
    padding-#{$right}: 0.5rem;
  }
}

.addtobag-button-container {
  margin: 1.5rem 0.5rem 0;

  @include breakpoint($tablet) {
    margin-#{$left}: 1.25rem;
    margin-#{$right}: 1.25rem;
  }
}

.add-to-basket-loader {
  position: relative;

  button {
    font-size: 0 !important;
    pointer-events: none;
    user-select: none;
  }

  &.qty-sel-container {
    .qty-text-wrapper {
      font-size: 0;
    }

    .qty-sel-btn {
      opacity: 0.7;
    }
  }
}

.is-not-buyable,
.addtobag-config-button {
  font-family: $alshaya-bold;
  font-size: 0.875rem;
  color: $primary_btn_bg;
  width: calc(100% - 2.5rem);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $spc-checkout-delivery-method-bg;
  cursor: pointer;
  border: 1px solid $primary_btn_bg;
  z-index: 1;
  text-align: center;
  padding: 0.5rem 1.25rem;
  margin: 1.5rem 1.25rem 0;

  @include breakpoint($only-mobile) {
    width: calc(100% - 1rem);
    height: 2.1875rem;
    margin-#{$left}: 0.5rem;
    margin-#{$right}: 0.5rem;
  }
}

.is-not-buyable:hover {
  color: $primary_btn_bg;
}

.addtobag-button,
.product-drawer-content-wrapper .config-form-addtobag-button {
  &:hover {
    background: $plp-primary-cta-hover-bg;
  }
}

.is-not-buyable,
.addtobag-config-button,
.product-drawer-content-wrapper .pdp-link {
  &:hover {
    background: $plp-secondary-cta-hover-bg;
  }
}

.path--user {
  .is-not-buyable,
  .addtobag-config-button {
    background: $spc-checkout-delivery-method-bg;
    border: 1px solid $primary_btn_bg;

    &:hover {
      background: $plp-secondary-cta-hover-bg;
    }
  }

  .addtobag-button {
    background: $primary_btn_bg;

    &:hover {
      background: $plp-primary-cta-hover-bg;
    }
  }
}
