.c-order-list {
  .c-page-title {
    border-bottom: 1px solid $white;
    padding-bottom: 8px;
  }

  .block-local-tasks-block {
    display: none;
  }

  .region__content {
    position: relative;
  }

  .order-search-form {
    border-bottom: 1px solid $whisper-dark;
    margin-top: 12px;
    padding-bottom: 12px;

    @include breakpoint($tablet) {
      border: 0;
      margin-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: -1rem;
      #{$right}: 0;
    }
  }
}

.alshaya-acm-customer-order-list-search {
  text-align: $right;
  font-size: 12px;

  .form-actions,
  .form-item {
    display: inline-block;
  }

  .form-item {
    input,
    select {
      float: $right;
      outline: none;
    }

    label {
      color: $black-two;
      display: none;
      float: $left;
      line-height: 35px;

      @include breakpoint($tablet) {
        display: block;
        position: absolute;
        top: -30px;
      }

      @include breakpoint($desktop) {
        position: static;
      }
    }
  }

  .form-type-select {
    position: relative;

    @include icon(chevrondown, after) {
      border-#{$left}: 1px solid $white;
      font-size: 28px;
      line-height: 35px;
      padding-#{$right}: 3px;
      pointer-events: none;
      position: absolute;
      #{$right}: 0;
      width: 35px;
    }

    @include breakpoint($tablet) {
      margin-#{$left}: 23px;
    }
  }

  .form-select {
    border: 1px solid $whisper-dark;
    background-color: $whisper-dark;
    border-radius: 0;
    padding: 10px 30px 9px 16px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    min-width: 135px;

    @include breakpoint($tablet) {
      min-width: 185px;
    }

    @include breakpoint($desktop) {
      margin-#{$left}: 12px;
    }
  }

  .form-text {
    border: 1px solid $whisper-dark;
    padding: 10px 8px 9px 16px;
    width: 125px;

    @include breakpoint($tablet) {
      width: 153px;
    }

    @include breakpoint($desktop) {
      margin-#{$left}: 28px;
    }
  }

  .form-actions {
    position: relative;

    @include icon(search, after) {
      font-size: 22px;
      pointer-events: none;
      position: absolute;
      #{$right}: 10px;
      width: 35px;
      line-height: 35px;
    }
  }

  .form-submit {
    background-color: $whisper-dark;
    background-size: 16px;
    border: 1px solid $whisper-dark;
    font-size: 0;
    height: 35px;
    width: 35px;
    position: relative;
    float: left;
    #{$left}: -5px;
  }
}

.c-order-list .orders-list-pager-wrapper {
  margin-bottom: 24px;
  padding-top: 8px;
  text-align: center;

  button {
    @extend %button-brand;
  }
}

.recent__orders--list {
  margin-bottom: 0;
  border-top: 1px solid $white;

  td {
    @include breakpoint($tablet) {
      width: 200px;
    }
  }

  .order-summary-row {
    cursor: pointer;
    position: relative;
  }

  .toggle--icon {
    position: relative;
  }

  .toggle--icon .icon-ic_chevrondown {
    font-size: 30px;
    position: absolute;
    #{$right}: 3.2rem;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($tablet) {
      #{$right}: 1.2rem;
    }

    @include breakpoint($desktop) {
      #{$right}: 2rem;
    }
  }

  .order__detail--link {
    text-align: $right;
    font-size: 12px;

    td {
      background-color: $whisper-light;
      padding: 16px 24px;
    }

    a {
      color: $windows-blue;
    }
  }

  .order--items {
    @include breakpoint($tablet) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 187px;
    }
  }

  .order-summary-row td {
    background-color: $white-five;
    border-bottom: 1px solid $white;
  }

  .order-item-row {
    display: none;
  }
}

.block-alshaya-acm-customer > a {
  font-size: 14px;
  color: $windows-blue;
  position: absolute;
  #{$right}: 0;
  top: 0;
}

.no--orders {
  text-align: center;
  border-top: 1px solid $white;
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.open--accordion {
  .order-summary-row td {
    background-color: $whisper-light;
  }

  .toggle--icon {
    .icon-ic_chevrondown {
      @include icon(chevronup);
    }
  }
}
