.checkout_com_egift_linked_card,
.redeem-egift-card-content {
  .popup-content {
    .egift-amount-update-wrapper {
      .egift-button {
        background: $egift-banner-title;
        text-transform: uppercase;
      }

      .heading {
        color: $egift-check-balance-title;
      }

      .egift-header-title {
        color: $egift-banner-title;
      }
    }
  }
}
