body {
  &.alias--cart {
    .page-standard {
      &.l-container {
        &:not(.l-two--sf) {
          background: none;
        }
      }
    }
  }
}

#spc-cart {
  .spc-content {
    .spc-checkout-section-title {
      @include breakpoint($only-mobile) {
        display: block;
      }
    }
  }

  @include breakpoint($desktop) {
    .spc-free-delivery-container {
      max-width: rem(1236);

      .free-delivery-usp {
        width: 55%;
      }
    }
  }
}
