.spc-cart-items {
  .spc-cart-item {
    padding: 0;

    .spc-product-tile {
      border-top: rem(1) solid $spc_cart_item_border_color;
      padding-top: rem(18);
      width: auto;

      @include breakpoint($desktop) {
        grid-template-columns: rem(180) rem(395) rem(77);
        position: absolute;
      }

      @include breakpoint($only-mobile) {
        padding: rem(16);
      }

      a {
        font-family: $ay-heavy;
        font-size: rem(16);
        text-transform: uppercase;
      }

      .spc-product-container {
        justify-content: unset;
      }
    }

    .spc-product-attributes-wrapper {
      font-size: rem(16);
    }
  }
}
