.magazine-layout-node {
  .content__title_wrapper {
    .promotions {
      a {
        font-size: 1rem;
      }
    }
  }

  .content-sidebar-wrapper {
    @include breakpoint($tablet) {
      padding-#{$left}: 2rem;
    }

    .content__title_wrapper {
      .promotion-discount-wrapper {
        .promotions {
          margin-bottom: 0;
        }
      }
    }
  }

  .basic-details-wrapper {
    .sku-base-form {
      button[type="submit"] {
        margin-#{$left}: 0;
        height: 3rem;
        text-transform: uppercase;
        min-width: 16.75rem;
      }
    }
  }
}
