<div class="c-footer-primary">
  <div class="l-container">
    <div class="c-footer-primary__region">
      <div class="footer--menu">
        {{ page.footer_primary.shopby }}
        {{ page.footer_primary.aboutbrand }}
        {{ page.footer_primary.alshaya_help}}
        {{ page.footer_primary.alshayanewslettersubscription}}
      </div>
    </div>
  </div>
</div>