.c-delivery-menu__tab {
  border-width: 2px;

  .field--name-field-title,
  .c-delivery-menu__title {
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  .field--name-field-sub-title,
  .c-delivery-menu__description {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $deliverybanner_subtitle;
  }
}
