.alias--cart-login {
  .site-brand-wrapper {
    background: $checkout_header_bg;

    @include breakpoint($only-mobile) {
      align-items: initial;

      a {
        #{$left}: calc(50% - 1.156rem);
      }
    }

    a {
      img {
        margin-#{$left}: 0;

        @include breakpoint($only-tablet) {
          max-width: 3.3125rem;
        }
      }
    }

    @include breakpoint($desktop) {
      html[lang="ar"] & {
        height: 7rem;

        a {
          height: 2.875rem;
          margin: 0;
        }
      }
    }
  }

  .multistep-login {
    fieldset {
      .fieldset-legend {
        font-family: $tbs-recoleta-semibold;
        text-transform: capitalize;
      }
    }

    .ashaya-spc-login-form {
      .form-actions {
        button {
          font-size: 1rem;
          font-family: $tbs-medium;
          text-transform: capitalize;
        }
      }

      .request-password-link {
        font-family: $alshaya-thin;
      }
    }

    .form-item {
      .js-form-required {
        text-transform: capitalize;
      }
    }

    .edit-checkout-as-guest {
      font-size: 1rem;
      font-family: $tbs-medium;
      text-transform: capitalize;
    }
  }

  .c-footer {
    border-top: 0.0625rem solid $checkout_footer_border;
  }

  .c-post-content {
    border-top: none;
  }
}

@include breakpoint($upto-desktop) {
  .alias--cart-login {
    margin: 0 !important;
  }
}
