{% set wrapper_attributes = [] %}
<div class="{{ wrapper_class }}">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  <div class="views-view-unformatted__rows">
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
    {% endfor %}
  </div>
</div>
