.nodetype--acq_product {
  .region__content {
    @include breakpoint($desktop) {
      margin: 1.5rem 0;
    }
  }
}

.content__main {
  .gallery-wrapper {
    @include breakpoint($only-mobile) {
      min-height: auto;
    }

    @include breakpoint($desktop) {
      margin-#{$right}: 1.5rem;
      margin-bottom: 3rem;
    }
  }
}

.acq-content-product-modal,
.c-pdp {
  .content__title_wrapper h1 {
    width: auto;
    margin-bottom: 0.125rem;

    span {
      font-weight: 300;
    }
  }

  .sku-base-form {
    label {
      display: none;
    }
  }

  .delivery-options-wrapper,
  .short-description-wrapper {
    .field__label {
      font-size: 0.9375rem;
      font-weight: 600;
      text-transform: lowercase;
    }
  }

  .short-description-wrapper {
    .field__content {
      font-size: 0.75rem;
    }
  }

  .description-wrapper {
    .desc-label {
      font-weight: 600;
    }

    @include breakpoint($tablet) {
      border: none;
    }

    .desc-wrapper,
    .description-section,
    .address {
      border-color: $pdp_sidebar_desc_overlay_section_border;
    }

    .desc-wrapper {
      border-top: none;
      padding: 0;
    }
  }

  .delivery-options-wrapper {
    .field__label {
      margin: 0.875rem 0;

      html[lang=ar] & {
        line-height: 1.3;
      }
    }

    .c-accordion__title {
      text-transform: lowercase;
      font-size: 0.9375rem;

      .subtitle {
        color: $pdp_delivery_options_subtitle;
        text-transform: none;
        font-weight: normal !important;
        line-height: 1.2;
        font-size: 0.75rem;
      }
    }
  }

  .basic-details-wrapper {
    .field--name-field-skus {
      .form-type-select {
        select.form-select {
          font-size: 0.75rem;
          color: $pdp_size_option_text;
        }

        &::after {
          top: 0.625rem;

          @include breakpoint($only-mobile) {
            top: 1.25rem;
          }
        }
      }

      .select2-container {
        .select2-selection .select2-selection__rendered {
          font-size: 0.75rem;
          color: $pdp_size_option_text;
        }
      }

      .form-item-quantity {
        width: 5.375rem;

        @include facet-arrow(after, down, 0.3125rem, 0, 0.3125rem, 0.375rem) {
          #{$right}: 1rem;
          top: 1.25rem;
        }

        .select2-container {
          @include select2-style(5.375rem);

          .select2-selection .select2-selection__rendered {
            font-size: 0.75rem;
            color: $pdp_size_option_text;
            line-height: 3.5;
          }

          .select2-selection {
            height: 3.125rem;
          }

          .select2-selection__arrow {
            &::after {
              display: none;
            }
          }
        }

        select.form-select {
          @include select-style(5.375rem);

          padding-#{$left}: 1rem;
          height: 3.1875rem;
        }
      }
    }
  }
}

.field--name {
  &-field-skus {
    .sku-base-form {
      button[type="submit"] {
        text-transform: uppercase;
      }

      .form-item.form-type-select {
        &.form-item-quantity {
          @include breakpoint($only-mobile) {
            top: 0;
          }

          label {
            display: block;
          }
        }

        &.configurable-swatch {
          @include breakpoint($only-mobile) {
            margin: 0;
            padding: 0 0 1rem;
          }
        }

        label {
          display: block;
          position: absolute;
          #{$left}: 0;
          top: -1.5625rem;
          font-size: 0.9375rem;
          padding: 0.3125rem 0;
          padding-#{$right}: 1.25rem;
          color: $pdp_select_option_labels;

          @include breakpoint($desktop) {
            display: none;
          }
        }
      }

      .configurable-select {
        @include breakpoint($only-mobile) {
          @include select-wrapper(100%);

          padding: 0;
          min-height: 2.188rem;
          margin-top: 1.45rem;
          margin-bottom: 0;
          padding-bottom: 1.25rem;
        }

        .form-select {
          @include select-style(100%);

          @include breakpoint($only-mobile) {
            position: static !important;
          }

          height: 3.1875rem;
        }
      }
    }
  }
}

.click-collect-form {
  strong,
  .google-store-location {
    font-weight: 600;
    color: $pdp_cc_form_highlight_txt;
  }

  .change-location-link {
    font-weight: 600;
    text-transform: capitalize;
  }
}

.click-collect-top-stores ul li {
  .store-name,
  .store-delivery-time em {
    font-weight: 600 !important;
    color: $pdp_cc_form_highlight_txt;
  }

  .store-sequence {
    color: $pdp_cc_top_stores_list_counter;
  }
}

.store-finder-form-wrapper .search-store button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
}

@include breakpoint($only-mobile) {
  .content__title_wrapper {
    border-bottom: 1px solid $pdp_product_itemcode_border;
    margin-bottom: 0.75rem;

    .content--item-code {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.content__title_wrapper {
  .content--item-code {
    display: none;
  }
}

.select2Option {
  display: block;
}

@include breakpoint($only-tablet) {
  .field--name-field-skus {
    .sku-base-form {
      .form-item {
        &.form-type-select {
          label {
            display: none;
          }

          &.form-item-quantity {
            float: $left;

            label {
              display: block;
            }
          }
        }

        &.form-item-configurables-size {
          margin-top: 0;

          &::after {
            content: unset;
          }
        }
      }

      button[type="submit"] {
        margin-top: 1.5rem;
        margin-#{$left}: 2.375rem;
        float: none;
      }
    }

    #configurable_ajax {
      width: 100%;
    }
  }
}

@include breakpoint($only-mobile) {
  .c-pdp {
    .basic-details-wrapper {
      .field--name-field-skus {
        #configurable_ajax {
          width: 100%;
          margin-#{$right}: 0;
        }

        .form-item {
          &.form-item-quantity {
            width: 100%;
            margin-bottom: 1.5rem;

            select {
              &.form-select {
                width: 100%;
              }
            }
          }

          select {
            &.form-select {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

.basic-details-wrapper {
  .field--name-field-skus {
    #configurable_ajax {
      .form-item-configurables-color {
        .select2Option {
          li {
            &.disabled {
              img {
                opacity: 0.2;
                padding: 0.125rem;
              }

              a,
              span {
                background: url("../imgs/icons/disabled.png") no-repeat;
                background-size: 100% 100%;
                border: 1px solid $pdp_swatch_disabled;

                &:hover {
                  &::after {
                    border: none;
                  }
                }
              }
            }

            &.li-swatch-image {
              &.disabled {
                a,
                span {
                  height: 2.5rem;
                }
              }
            }
          }
        }
      }
    }

    .sku-base-form {
      button[type="submit"] {
        height: 3.125rem;

        @include breakpoint ($desktop) {
          width: 69%;
          margin-#{$left}: 0.625rem;
        }

        @include breakpoint ($only-tablet) {
          width: 62%;
          margin-#{$left}: 0.5rem;

          // html[lang=ar] & {
          //   margin-right: 0;
          //   margin-left: 0.5rem;
          // }
        }
      }
    }

    .form-item-configurables-size {
      select.form-select {
        @include breakpoint($only-mobile) {
          height: 3.1875rem;
        }
      }
    }
  }
}

.field--name-field-skus {
  .sku-base-form {
    .configurable-select {
      @include breakpoint($only-mobile) {
        @include facet-arrow(after, down, 0.3125rem, 0, 0.3125rem, 0.375rem) {
          #{$right}: 1rem;
        }
      }
    }
  }
}

.short-description-wrapper,
.description-wrapper {
  .field__content {
    font-size: 0.75rem;

    .desc-wrapper {
      .desc-label,
      h3 {
        font-size: 0.875rem;
        font-weight: 600;
      }

      h4,
      h5,
      h6 {
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }

  .desc-value {
    padding-top: 0;
  }

  .text {
    padding-top: 0.9375rem;
  }
}

.gradient-holder {
  background: linear-gradient(to bottom, rgba(235, 235, 235, 0), rgba(235, 235, 235, 0.93) 30%, $gradient-holder 97%);
}

.content--dimensions-and-care {
  .ui-accordion-content-active {
    margin-bottom: 1.875rem;
  }

  h4 {
    margin-bottom: 1.25rem;
  }

  h5 {
    margin-top: 0.625rem;
    margin-bottom: 0.3125rem;
  }

  ul {
    padding-#{$left}: 1.5625rem;
    margin-top: 0.3125rem;
  }

  .c-accordion__title {
    text-transform: lowercase;
    font-size: 0.9375rem;
  }
}

.pdp-description-accordion {
  .c-accordion_content {
    html[lang=ar] & {
      line-height: 1.5;
    }
  }
}

.c-pdp {
  .acq-content-product-modal {
    .delivery-options-wrapper {
      .c-accordion__title {
        .subtitle {
          line-height: 0.9;
        }
      }
    }
  }
}
