@mixin pageTitle {
  font-size: rem(14);
  font-weight: 700;
  text-transform: capitalize;

  @include breakpoint($only-mobile) {
    font-size: rem(18);
  }
}

.c-user-edit,
.c-change-password,
.order-detail,
.c-communication-preferences,
.c-order-list,
.c-user--node,
.c-address-book,
.c-payment-cards,
.c-loyalty-club-page,
.c-my-egift {
  .block-page-title-block {
    h1 {
      &.c-page-title {
        @include pageTitle;
      }
    }
  }

  .subtitle {
    border-bottom-color: $user_acc_details_border;
    font-size: rem(14);
    text-transform: capitalize;
  }
}
