.l-two--sf {
  @include fullWidthSideSpaces(
    $is_mobile: true,
    $is_tablet: true,
    $is_desktop: true,
    $is_desktop_wide: true
  );

  @include breakpoint($desktop) {
    max-width: none;

    .c-sidebar-first,
    main {
      max-width: 100%;
    }
  }
}
