#egift-card-purchase-wrapper {
  .step-title {
    font-family: $hnm-demibold;
  }

  .egift-card-purchase-config-wrapper {
    .selected-card-name {
      font-family: $hnm-demibold;
    }
  }

  .step-two-wrapper {
    .egift-input-title {
      font-family: $hnm-demibold;
    }
  }
}
