<div class="aura-points">
    <div class="points-earned dark">
        <span>{{ "Points Earned"|t }}</span>
        <span>{{ order.apc_accrued_points }}</span>
    </div>
    <div class="points-redeemed dark">
        <span>{{ "Points Redeemed"|t }}</span>
        <span>{{ order.apc_redeemed_points }}</span>
    </div>
</div>
