  <div class="mobile-related-wrapper">
    {% if display_crosssell %}
      <div class="horizontal-crossell mobile-only-block">
        <div class="crosssell-products">
        </div>
      </div>
    {% endif %}

      <div class="horizontal-upell mobile-only-block">
        <div class="upsell-products">
        </div>
      </div>

      <div class="horizontal-related mobile-only-block">
        <div class="related-products">
        </div>
      </div>
  </div>
