{% if content.cross_sell is not empty %}
  <div class="horizontal-crossell above-mobile-block">
    {{ content.cross_sell }}
  </div>
{% endif %}

{% if content.up_sell is not empty %}
  <div class="horizontal-upell above-mobile-block">
    {{ content.up_sell }}
  </div>
{% endif %}

{% if content.related is not empty %}
  <div class="horizontal-related above-mobile-block">
    {{ content.related }}
  </div>
{% endif %}
