{% if display_crosssell %}
  <div class="horizontal-crossell above-mobile-block">
    <div class="crosssell-products">
    </div>
  </div>
{% endif %}

  <div class="horizontal-upell above-mobile-block">
    <div class="upsell-products">
    </div>
  </div>

  <div class="horizontal-related above-mobile-block">
    <div class="related-products">
    </div>
  </div>
