.cko-progress-tracker {
  #checkout-progress {
    .progress-bar {
      .alias--cart-login & {
        @include breakpoint($only-mobile) {
          margin-bottom: rem(48);
        }
      }

      .step {
        span {
          @include breakpoint($only-mobile) {
            padding-top: rem(2);
          }

          padding-top: 0;

          html[lang="ar"] & {
            padding-top: rem(5);
            margin-top: rem(-1);

            @include breakpoint($only-mobile) {
              padding-top: rem(6);
            }
          }
        }

        &.current {
          span {
            font-family: $alshaya-bold;

            @include breakpoint($only-mobile) {
              padding-top: rem(3);
              margin-top: rem(-3);
            }

            @include breakpoint($tablet) {
              padding-top: 0;
              margin-top: rem(-1);
            }
          }
        }

        &.completed {
          .step-label {
            top: calc(100% + #{rem(18)});

            @include breakpoint($only-mobile) {
              font-size: rem(11);
            }
          }
        }
      }
    }
  }
}
