#alshaya-algolia-search {
  .c-page-title {
    text-align: center;
    font-family: $alshaya-bold;
    font-weight: bold;
    font-size: 1.25rem;
    color: $algolia-react-search-page-title;
    padding: 1.375rem 0 1.75rem;

    @include breakpoint($only-mobile) {
      margin-bottom: 0;
    }
  }

  .c-sidebar-first {
    @include breakpoint($desktop) {
      width: 16.91%;
    }
  }

  .block-facet-blockcategory-facet-search {
    @include breakpoint($desktop) {
      margin-top: 0.96875rem !important;
      border: none;
    }

    a {
      font-family: $alshaya-thin;
      font-weight: normal;
      position: relative;
      cursor: pointer;
      text-transform: capitalize;
      color: $plp_facet_count_number;
      display: flex;
      align-items: center;
      margin-top: 0;

      &.is-active:not(.sale-item) {
        font-family: $alshaya-bold;
      }
    }

    li {
      margin-bottom: 0;
      min-height: auto;
    }

    .facet-item__count {
      @include breakpoint($desktop) {
        margin-top: 0 !important;
      }
    }
  }

  #sort_by {
    li {
      line-height: normal;
      display: flex;

      a {
        display: inline-flex;
        align-items: center;
        margin-top: 0;
        text-transform: capitalize;
        color: $algolia_react-facet-item-color;
        font-weight: normal;
        line-height: 1.5rem;

        &::before {
          content: '';
          position: relative;
          width: 0.875rem;
          height: 0.875rem;
          background: #fff;
          display: inline-block;
          border-radius: 100%;
          border: 0.0625rem solid $primary_radiobtn_empty;
          margin-#{$right}: 1rem;
          vertical-align: middle;
        }
      }

      &.active-item {
        a {
          font-weight: 700;

          &::before {
            border: 0.1875rem solid $primary_radiobtn_filled;
          }
        }
      }
    }
  }

  .c-facet {
    &.c-accordion {
      ul {
        li {
          span {
            color: $algolia_react-facet-item-color;
          }
        }
      }
    }
  }

  .filter__inner {
    .c-collapse-item:not(#sort_by) {
      li {
        &.facet-item {
          .facet-item__value {
            display: flex;
            align-items: center;
            margin-#{$left}: 0;

            @include icon(checkboxempty) {
              font-size: 1.5rem;
              margin-#{$right}: 0.5rem;
              margin-top: -0.25rem;
            }
          }

          &.is-active {
            .facet-item__value {
              @include icon(checkboxfull) {
                color: $primary_checkbox_filled;
              }
            }
          }
        }
      }

      &.block-facet--swatch-list {
        li {
          &.facet-item {
            .facet-item__value {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }

    #sort_by {
      li {
        a {
          line-height: 2.9375rem;
          text-transform: capitalize;

          &::before {
            width: 1.3125rem;
            height: 1.3125rem;
          }
        }
      }
    }
  }

  .show-all-filters-algolia {
    @include breakpoint($only-mobile) {
      height: 3rem;
      display: flex;
      align-items: center;
    }
  }

  .c-content__region {
    @include breakpoint($desktop) {
      width: 80%;
      float: $right;
    }

    .sticky-filter-wrapper {
      .c-collapse-item {
        .c-collapse__title {
          font-size: 0.875rem;
          line-height: 2.9375rem;
          position: relative;
          padding-#{$right}: 2.6875rem;
          cursor: pointer;

          @include icon(chevrondown, after) {
            font-size: 1.1875rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            #{$right}: 0.6875rem;
            transition: transform 0.4s ease-in-out;
          }

          &.active {
            &::after {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
    }
  }

  .c-products__item {
    .price-currency {
      margin-#{$right}: 0.1875rem;
    }

    .special--price {
      @include breakpoint($tablet) {
        margin-#{$left}: 0.3125rem;
      }
    }
  }

  @include breakpoint($only-mobile) {
    .block-alshaya-grid-count-block {
      width: 100%;
    }

    .block-alshaya-plp-facets-block-all,
    .block-alshaya-promo-facets-block-all,
    .block-alshaya-search-facets-block-all {
      height: 0;
      z-index: 12;
    }
  }
}

@include breakpoint($only-mobile) {
  .mobile--overlay {
    #alshaya-algolia-search {
      .block-alshaya-plp-facets-block-all,
      .block-alshaya-promo-facets-block-all,
      .block-alshaya-search-facets-block-all {
        height: 2.9375rem;
      }
    }
  }
}
