#alshaya-algolia-plp {
  .show-all-filters-algolia.empty-category {
    @include breakpoint($only-mobile) {
      display: block;
      height: 2.9375rem;
      line-height: 2.9375rem;

      &::after {
        #{$right}: auto;
      }
    }
  }

  .block-alshaya-algolia-plp-facets-block-all {
    @include breakpoint($only-mobile) {
      height: 0;
    }
  }

  .labels-container {
    .label {
      &.bottom {
        &-right,
        &-left {
          @include breakpoint($only-mobile) {
            bottom: 6.75rem;
          }
        }
      }
    }
  }
}
