body.wishlist-enabled {
  .wishlist-header {
    @include breakpoint($desktop) {
      padding-#{$right}: 0;
    }
  }

  #wishlist-header-wrapper {
    top: 0.5rem;

    @include breakpoint($only-mobile) {
      #{$right}: 3rem;
    }

    @include breakpoint($tablet) {
      top: 0.25rem;
    }

    .wishlist-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
