.path--cart {
  #table-cart-items {
    @include breakpoint($upto-tablet) {
      margin-top: 20px;
    }

    table tr {
      &.sku-out-stock {
        opacity: 0.7;
        background-color: $white-four;
      }

      td {
        @include breakpoint($upto-tablet) {
          display: block;

          .item--bundle {
            display: none;
          }

          .dark {
            font-weight: bold;

            a {
              font-size: 0.75rem;
              font-weight: bold;
            }
          }
        }

        &.subtotal,
        &.price {
          @include breakpoint($upto-tablet) {
            display: none;
          }
        }
      }

      th {
        @include breakpoint($upto-tablet) {
          display: none;
        }

        &:last-child {
          @include breakpoint($only-tablet) {
            font-size: 0;
          }

          @include breakpoint($desktop) {
            text-align: center;
          }
        }
      }
    }

    .delivery-options-mobile,
    .quantity .form-type-select {
      @include breakpoint($upto-tablet) {
        display: inline-block;
        vertical-align: top;
      }
    }

    @include breakpoint($tablet) {
      .delivery-options-mobile {
        @include u-visibility(none);
      }
    }
  }

  .customer-cart-form {
    font-size: 0.75rem;

    @include breakpoint($desktop) {
      font-size: 0.875rem;
    }

    .price-currency.prefix,
    .price-currency.suffix {
      padding-right: 0.5rem;
      float: $left;
      font-family: $arial;

      @include breakpoint($tablet) {
        padding-right: 0;
      }

      @include breakpoint($desktop) {
        padding-right: 1.56rem;
      }
    }

    .price-currency.suffix {
      line-height: 1;
    }

    .image {
      display: inline-block;
      width: 44%;
      vertical-align: top;

      @include breakpoint($desktop) {
        width: 40%;
      }

      img {
        border: 1px solid $white;
      }
    }

    .dark {
      color: $black;
    }

    .item--bundle {
      color: $cerulean-two;
      margin-top: 0.75rem;
    }

    .items {
      display: inline-block;
      width: 54%;
      color: $greyish;
      padding-#{$left}: 0.625rem;

      @include breakpoint($desktop) {
        width: 58%;
        padding-top: 0.125rem;
      }

      div {
        margin-bottom: 0.187rem;
      }

      .dark + div {
        font-family: $arial;
      }
    }

    .mobile-only {
      @include breakpoint($tablet) {
        display: none;
      }
    }

    .form-actions {
      .edit-update {
        display: none;
      }
    }
  }

  .delivery-options-mobile {
    @include breakpoint($only-mobile) {
      float: $left;
    }
  }

  .tooltip--wrap {
    padding-#{$left}: 2.2rem;

    @include breakpoint($only-mobile) {
      float: $right;
      margin-bottom: 1.6875rem;
      margin-#{$right}: 1.7rem;
      padding-#{$left}: 1rem;

      &:last-child {
        clear: both;
      }
    }

    @include breakpoint($tablet) {
      padding-#{$left}: 0;
      margin-top: 0.625rem;
      margin-bottom: 2.125rem;
    }
  }

  .contains--tooltip {
    position: relative;

    .tooltip {
      display: none;
      font-size: 0.625rem;
      font-family: $arial;
      position: absolute;
      z-index: 1;
      padding: 10px 11px;
      top: 1rem;
      #{$left}: -4.5rem;
      color: $windows-blue;
      background-color: $alice-blue;
      border: 1px solid $cerulean-two;
      border-radius: 2px;
      width: 10.81rem;

      @include breakpoint($desktop) {
        #{$left}: 1.1rem;
      }

      @include breakpoint($only-mobile) {
        #{$left}: -3.5rem;
      }
    }

    &:nth-child(2) {
      margin-top: 1.68rem;

      @include breakpoint($tablet) {
        margin-top: 2.8rem;
      }

      @include breakpoint($desktop) {
        margin-top: 2.125rem;
      }
    }
  }

  .tooltip--head {
    font-size: 0.75rem;
    font-family: $arial;
    color: $cerulean-two;
    margin: 0;

    @include icon(infomation, after) {
      margin-#{$left}: 0.3rem;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      font-size: 1rem;

      @include breakpoint($desktop) {
        margin-#{$left}: 0.75rem;
      }
    }

    &:hover + .tooltip {
      display: block;
    }

    &.not-available {
      color: $white;
      text-decoration: line-through;

      &:hover + .tooltip {
        display: none;
      }
    }
  }

  .tooltip::before,
  .tooltip::after {
    #{$right}: 4px;

    @extend %tooltip-before-after;

    @include breakpoint($desktop) {
      #{$right}: 5rem;
    }

    @include breakpoint($only-mobile) {
      #{$right}: 1rem;
    }
  }

  .tooltip::after {
    @extend %tooltip-after;

    border-bottom-width: 6px;

    @include breakpoint($desktop) {
      #{$right}: 5.05rem;
    }
  }

  .tooltip::before {
    #{$right}: 3px;
    border-bottom-width: 8px;

    @include breakpoint($only-mobile) {
      #{$right}: 0.9375rem;
    }

    @extend %tooltip-before;

    @include breakpoint($desktop) {
      #{$right}: 5rem;
    }
  }

  .delivery-option {
    font-size: 0.75rem;
  }

  .promo-continue-shopping-wrapper {
    #edit-continue-shopping {
      @include breakpoint($tablet) {
        display: none;
      }
    }
  }

  &.alias--cart h1 {
    @include breakpoint($only-tablet) {
      margin-bottom: 1.75rem;
    }
  }
}

.alias--cart {
  &.path--cart .site-brand-home a {
    width: auto;
    display: block;
    margin-#{$left}: auto;
  }
}

.promo-continue-shopping-wrapper {
  @include breakpoint($tablet) {
    border-top: 1px solid $white;
    margin-top: 1.25rem;
    float: $left;
    width: 17.56rem;
    margin-bottom: 4.56rem;
  }

  @include breakpoint($desktop) {
    margin-top: 2.0625rem;
    width: 19.56rem;
  }

  summary {
    padding: 1rem;
    position: relative;
    outline: none;
    font-family: $arial;

    @include breakpoint($tablet) {
      padding: 1rem 1.5rem;
    }

    @include icon(chevrondown, after) {
      position: absolute;
      #{$right}: 0.625rem;
      font-size: 1.875rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details {
    border-bottom: 1px solid $white;
    position: relative;
    font-size: 0.875rem;

    .form-item-privilege-card-number2 {
      border-top: 0;

      .ajax-progress-throbber {
        position: absolute;
        margin-#{$left}: 0.5rem;
        top: 2rem;

        .message {
          display: none;
        }

        .throbber {
          background-image: url(../imgs/icons/MC-loader.svg) !important;
          background-position: $right center !important;
          background-repeat: no-repeat !important;
          background-size: 2.5rem;
          padding: 1rem;

          @include breakpoint($only-mobile) {
            background-size: 1.5rem;
            padding: 0.5rem;
          }
        }

        @include breakpoint($only-mobile) {
          top: 2.4375rem;
          margin-#{$left}: 0;
        }
      }
    }
  }

  .form-item {
    position: relative;
    border-top: 1px solid $white;
    padding: 0 1.5rem;
    padding-top: 0.2rem;
  }

  details[open] summary {
    @include icon(chevronup, after);
  }

  label {
    position: relative;
    top: -3.4rem;
    font-size: 0.75rem;
    color: $greyish;
    font-family: $arial;

    &.error {
      bottom: 7px;
      position: absolute;
      top: auto;
      left: 0;
      color: $cherry;
      font-size: 0.81rem;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $white;
    background-color: transparent;
    color: $black;
    text-shadow: none;
    width: 100%;
    margin-top: 2.3rem;
    vertical-align: bottom;
    outline: none;
    padding-bottom: 0.5rem !important;
    position: relative;
    z-index: 1;

    &:focus {
      border-color: $windows-blue;
    }

    &.error {
      border-bottom: 2px solid $cherry;
    }
  }

  #apply_coupon {
    display: inline-block;
    margin-bottom: 14px;
    padding: 9px 30px;
    background: $pumpkin-orange;
    color: $white-five;
    cursor: pointer;
    margin-#{$left}: 1.5rem;

    @include breakpoint($only-tablet) {
      margin-#{$left}: 1.5rem;
    }
  }

  .form-item--error-message {
    color: $cherry;
    position: relative;
    top: -1rem;
  }
}

.block-basket-horizontal-recommendation {
  clear: both;
  padding-top: 1rem;

  @include breakpoint($tablet) {
    padding-top: 3.1rem;
  }

  @include breakpoint($desktop) {
    padding-top: 2.7rem;
  }

  & > h3 {
    color: $marine-blue;
    margin-bottom: 0.3rem;
    padding-bottom: 0.56rem;
    font-family: $alshaya-bold;
    font-size: 1rem;
    margin-#{$left}: 0.875rem;
    font-weight: normal;
    text-transform: lowercase;

    @include breakpoint($tablet) {
      font-size: 0.875rem;
      margin-bottom: 0.6rem;
      margin-#{$left}: 2.75rem;
    }

    @include breakpoint($desktop) {
      font-size: 1.125rem;
    }
  }

  .view-product-slider {
    max-width: 45rem;

    @include breakpoint($desktop) {
      max-width: 77.25rem;
    }

    .owl-carousel .owl-item img {
      max-width: 11.625rem;

      @include breakpoint($upto-desktop) {
        min-height: 10rem;
        object-fit: contain;
      }
    }

    .c-products__item__label {
      @include breakpoint($desktop) {
        margin-bottom: 0.875rem;
      }
    }

    .owl-prev,
    .owl-next {
      @include breakpoint($tablet) {
        top: 20.3%;
      }

      @include breakpoint($desktop) {
        top: 19.7%;
      }
    }

    .owl-prev {
      @include breakpoint($desktop) {
        left: -2.2rem;
      }
    }

    .owl-next {
      @include breakpoint($tablet) {
        right: -2.7rem;
      }
    }

    .owl-dots .owl-dot {
      color: $marine-blue-two;
    }
  }

  .view-product-slider .views-row {
    height: 18.75rem;
  }
}

#block-basketpromotionmessage {
  background: $rosy-pink;
  color: $white-four;
  padding: 0.85rem 1rem;
  margin-bottom: 0.875rem;
  letter-spacing: 0.0125rem;

  @include breakpoint($tablet) {
    margin-top: -1em;
  }

  @include breakpoint($desktop) {
    padding: 0.8125rem 1.5625rem;
    margin-top: 0;
    margin-bottom: 1.3rem;
  }

  p {
    margin: 0;
    font-size: 0.75rem;
    font-family: $arial;

    @include breakpoint($desktop) {
      font-size: 0.9375rem;
    }
  }
}

#out-of-stock-message {
  font-family: $arial;
  font-size: 0.75rem;
  color: $white-four;
  font-weight: bold;
  background-color: $cherry;
  padding: 1.38rem 3rem;
  margin-bottom: 0.875rem;
  position: relative;

  @include breakpoint($only-tablet) {
    padding: 0.594rem 4rem;
  }

  @include breakpoint($desktop) {
    font-size: 0.9375rem;
    padding: 1rem 4rem;
  }

  @include icon(warning, after) {
    background-size: 12px;
    font-size: 28px;
    position: absolute;
    left: 11px;
    top: 24px;

    @include breakpoint($tablet) {
      left: 23px;
      top: 10px;
    }
  }
}

.inline-stock-error {
  font-family: $arial;
  font-size: 0.75rem;
  font-weight: bold;
  color: $cherry;
  margin-top: 1.375rem;

  @include breakpoint($only-tablet) {
    margin-top: 0.6875rem;
  }
}

.stock-quantity-error {
  .form-type-select {
    border: 1px solid $cherry !important;
    padding: 2px;
    width: 4.75rem !important;

    &::after {
      #{$right}: 3px !important;
      top: 2px !important;
    }
  }
}

#table-cart-totals,
#table-cart-items {
  .price-wrapper .price-amount {
    float: $left;
  }
}

html[lang=ar] {
  .tooltip--head::after {
    @include breakpoint($desktop) {
      position: absolute;
      left: 6.7rem;
      top: -0.25rem;
    }
  }

  .customer-cart-form {
    .mobile-only {
      @include breakpoint($only-mobile) {
        margin-top: 1.2rem;
      }
    }

    .image {
      @include breakpoint($only-mobile) {
        border: 1px solid #ddd;
        background: white;

        img {
          border: 0;
          max-width: 100% !important;
        }
      }
    }

    .tooltip--wrap {
      @include breakpoint($tablet) {
        margin-top: 0.3125rem;
        margin-bottom: 1.625rem;
      }
    }
  }

  tr[data-drupal-selector=edit-totals-grand] td:first-child {
    line-height: 1.5;
  }

  .alias--cart {
    .tooltip--head {
      color: $black;
      font-size: 0.65rem;
    }

    #table-cart-totals td {
      text-align: right;
    }

    #table-cart-items {
      tr {
        td {
          padding: 1.9rem 1.5rem;

          @include breakpoint($upto-desktop) {
            padding: 0;
          }

          &:first-child a {
            line-height: 18px;
          }

          @include breakpoint($only-mobile) {
            margin-top: -2.2rem;
          }
        }

        td.delivery-option {
          @include breakpoint($only-mobile) {
            margin-top: 1rem;
          }
        }

        td.name {
          @include breakpoint($only-mobile) {
            margin-top: 2rem;
          }
        }

        th {
          padding: 1.06rem 2.5rem 0.88rem;

          &:nth-child(4) {
            text-align: center;
          }
        }
      }
    }
  }

  .edit-continue-shopping-mobile {
    border: 1px solid $cobalt-blue !important;
    width: 10.8125rem;
    padding: 0.67rem !important;
    color: $cobalt-blue !important;
  }

  .c-page-title {
    font-family: 'alshaya-arabic-thin';
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    padding-bottom: 1.375rem;
    margin-top: 2em;

    @include breakpoint($only-mobile) {
      font-size: 0.875rem;
      margin-bottom: 0.75rem;
    }

    .placeholder {
      font-size: 1.5rem;

      @include breakpoint($only-mobile) {
        font-size: 0.875rem;
      }
    }
  }

  .promo-continue-shopping-wrapper summary,
  .path--cart .customer-cart-form .items .dark + div,
  .alias--cart #table-cart-totals td:first-child,
  #block-basketpromotionmessage p,
  .alias--cart #table-cart-items tr th,
  .ladda-label {
    font-size: 0.6rem;
  }

  .path--cart .customer-cart-form .items {
    padding-right: 1.2rem;
  }

  .field--name-field-skus .ladda-button[data-style=zoom-in] .ladda-spinner {
    left: 43%;

    @include breakpoint($upto-desktop) {
      left: 27%;
      position: relative;
      top: -0.25rem;
    }
  }
}
