.user-page.checkout-delivery.checkout-payment {
  .multistep-checkout {
    margin-top: 0.75em;

    @include breakpoint($tablet) {
      border: 1px solid $white;
    }

    fieldset {
      width: 100%;
      border: 0;
      margin: 0;
      padding: 0;

      legend {
        display: block;
        width: 100%;
        padding: 0 1rem;

        .fieldset-legend {
          display: block;
          width: 100%;
          padding: 0.5rem 0;
          border-bottom: 1px solid $white;
        }
      }

      .fieldset-wrapper {
        position: relative;

        .form-item {
          display: block;
        }

        .webform-options-display-one-column {
          padding-#{$left}: 1em;
        }
      }
    }
  }

  fieldset#edit-acm-payment-methods > legend {
    display: none;
  }
}

#address_wrapper {
  padding: 0 1em;
}

#edit-billing-address {
  .fieldset-wrapper {
    padding: 1em;
  }

  #edit-billing-address-same-as-shipping {
    @include breakpoint($mobile) {
      padding-#{$left}: 0;
    }

    @include breakpoint($desktop) {
      padding-#{$left}: 1em;

      @include u-visibility(inline);
    }
  }

  .js-form-type-radio {
    @include u-visibility(inline-block);

    @include breakpoint($desktop) {
      margin-top: 0;
    }

    label.option {
      top: 0;
    }
  }
}

#edit-checkout-terms {
  padding: 0.25rem 1rem;

  legend {
    display: none;
  }

  a {
    color: $soft-blue;
  }

  .form-type-checkbox {
    .option {
      @include breakpoint($desktop) {
        top: 0;
      }

      &::before {
        margin-#{$right}: 0.9em;
        top: 0;
        float: $left;
      }
    }

    p {
      @include breakpoint($upto-desktop) {
        margin-#{$left}: 2rem;
      }
    }
  }
}

#payment_details {
  @include clearfix;

  margin-top: 0;
  clear: both;
  padding: 1rem;

  .form-item-acm-payment-methods-payment-details-cc-number {
    width: 12.5rem;
  }

  .card-types-wrapper {
    position: absolute;
    top: -3rem;
    #{$right}: 1.8rem;

    .card-type {
      display: inline-block;
      height: 2rem;
      width: 3rem;
      background: $white;

      &-visa {
        background: $white url('../imgs/cards/visa-inactive.png') no-repeat;
        background-size: 100%;

        &.active {
          background-image: url('../imgs/cards/visa-active.png');
        }
      }

      &-mastercard {
        background: $white url('../imgs/cards/mastercard-inactive.png') no-repeat;
        background-size: 100%;

        &.active {
          background-image: url('../imgs/cards/mastercard-active.png');
        }
      }

      &-diners-club {
        background: $white url('../imgs/cards/dinersclub-inactive.png') no-repeat;
        background-size: 100%;

        &.active {
          background-image: url('../imgs/cards/dinersclub-active.png');
        }
      }
    }
  }

  .form-item-acm-payment-methods-payment-details-cc-exp-year,
  .form-item-acm-payment-methods-payment-details-cc-exp-month {
    float: $left;
    width: 105px;
    height: 35px;
    border: 1px solid $white;
    margin-#{$right}: 10px;

    label {
      float: $left;
    }

    &::after {
      top: 0;
      background: $white;
    }

    select {
      border: none;
      border-radius: 0;
      padding: 4px 10px;
      appearance: none;
    }
  }

  .form-item-acm-payment-methods-payment-details-cc-cvv {
    width: 5.3125rem;
    clear: both;
    margin-bottom: 1em;
  }

  .cc_cvv_help_text {
    width: 40%;
    padding-#{$left}: 4rem;
    position: absolute;
    top: 44%;
    #{$left}: 24%;

    @include breakpoint($tablet) {
      width: 65%;
      top: 40%;
      #{$left}: 30%;
    }

    @include breakpoint($desktop) {
      width: 40%;
      top: 44%;
      #{$left}: 24%;
    }

    &::before {
      content: "";
      height: 2rem;
      width: 3rem;
      background: $white url(../imgs/cards/back-card.png) no-repeat;
      background-size: 100%;
      margin-#{$right}: 0.5rem;
      position: absolute;
      #{$left}: 0;
      top: 0;
    }
  }
}
