.user-page.checkout-login {
  .multistep-checkout {
    max-width: 100%;
  }
}

.multistep-checkout {
  fieldset {
    width: 100%;
    border: 0;

    @include breakpoint($tablet) {
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }

    @include breakpoint($only-mobile) {
      display: inline-block;
      width: 10.5em;
      vertical-align: top;
      margin-top: 0;
    }

    legend {
      @include breakpoint($only-mobile) {
        padding: 0.5em;
        border: 1px solid $cerulean-two;
        width: 9.5em;
        text-align: center;
      }
    }
  }

  fieldset legend span {
    font-size: 14px;
    font-family: $alshaya-bold;
    color: $marine-blue-two;

    @include breakpoint($only-mobile) {
      font-size: 12px;
      font-weight: normal;
      color: $cerulean-two;
    }
  }

  #edit-checkout-login {
    @include breakpoint($tablet) {
      float: right;
      border-left: 1px solid $white;
      padding-left: 7.5em;
      position: relative;
    }

    .request-password-link {
      position: absolute;
      font-weight: bold;
      color: $cerulean-two;
      bottom: -1em;
      left: 0;
      width: 100%;
      text-align: center;

      @include breakpoint($tablet) {
        bottom: 1.5em;
        left: 18em;
        width: auto;
      }
    }

    .form-actions {
      margin-top: 1em;
    }
  }

  #edit-checkout-guest {
    a {
      @extend %btn;

      background: $pumpkin-orange;
      display: inline-block;
      margin: 1em 0;
      padding: 0.625rem 1.5rem;
    }
  }

  .fieldset-wrapper {
    font-size: 12px;

    .checkout-guest-email-usage {
      color: $light-ash;
      margin-bottom: 1.5em;
    }
  }

  .checkout-guest-summary ul {
    padding-left: 2em;
  }
}
