<section id="step-1" class="ticketing__steps two">
  <div class="container clearfix">
    <div class="steps_count">
      <div class="steps even">
        <div class="step_number">2</div>
        <span class="step_legend">{{ 'Type of ticket'|t }}</span>
      </div>
    </div>
    <div class="steps__information">
      <div class="ticket__type">
        <span class="icon icon-kids-day"></span>
        <p id="pp1">
          {{ 'Buy tickets for toddlers, kids, adults and seniors. Children under 120cm must be accompanied by an adult.'|t }}
        </p>
        <a href="#" class="ticketBtn actionBut">
          {{ 'Tickets'|t }}
        </a>
      </div>
    </div>
  </div>
</section>
