<section id="step-0" class="ticketing__steps one">
  <div class="container clearfix">
    <h2 class="steps_instruction">
      {{ 'Please follow the instructions to buy your ticket!'|t }}
    </h2>
    <div class="steps_count">
      <div class="steps odd">
        <div class="step_number">1</div>
        <span class="step_legend">{{ 'Select your KidZania'|t }}</span>
      </div>
    </div>
    <div class="steps__information">
      <a class="countryBtn actionBut" href="#">
        <span class="icon icon-kz-flag"></span>
        <span>{{ 'Kuwait'|t }}</span>
      </a>
    </div>
  </div>
</section>
