<section id="step-2" class="ticketing__steps three">
  <div class="container clearfix">
    <div class="steps_count">
      <div class="steps odd">
        <div class="step_number">3</div>
        <span class="step_legend">{{ 'Date and time of visit'|t }}</span>
      </div>
    </div>
    <div class="steps__information clearfix">
      <div class="date-to-visit">
        <div class="appointment-wrapper">
          <span class="icon icon-calendar"></span>
          <input type="text" class="datepicker">
        </div>
      </div>
      <div class="time-to-visit">
        <div class="appointment-wrapper">
          <span class="icon icon-clock"></span>
          <span>{{ 'Availability'|t }}</span>
          <div class="time_block">
            <a href="#" class="tickettimeBtn actionBut">10:00 - 23:00</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
