.c-user-edit {
  .user-form {
    @include breakpoint($desktop) {
      margin-top: -0.125rem;
    }
  }

  .field--name-field-first-name {
    @include breakpoint($only-mobile) {
      margin-#{$right}: 1rem;
    }
  }

  .field--name-field-first-name,
  .field--name-field-last-name {
    width: calc(50% - 12px);

    input {
      margin-top: 0.5rem;
    }
  }

  #user-form {
    @include breakpoint($only-tablet) {
      #edit-account {
        margin-top: 2.875rem;
      }
    }

    .field--type-mobile-number {
      margin-top: 0.4375rem;

      .mobile-number-field {
        margin-bottom: 0.4375rem;

        .form-type-select .form-item--error-message {
          display: none;
        }
      }

      @include breakpoint($tablet) {
        margin-top: 1px;
      }
    }
  }
}

.field--name-field-last-name {
  @include breakpoint($desktop) {
    float: $right;
  }
}

@include breakpoint($only-mobile) {
  .path--user {
    .ui-dialog {
      .ui-dialog-content {
        &.ui-front {
          margin-bottom: 0;
        }
      }
    }
  }
}
