// Stylesheet mixins.
$base_theme_loader_img_directory_path: '/themes/custom/transac/alshaya_westelm/imgs/icons/WE-loader.svg';

@mixin mm-l1-highlight {
  background: $mm_l1_link_active_bg;
  border-top: none;
  color: $mm_l1_link_active;
  box-shadow: inset 0 -0.1875rem 0 0 $mm_l1_link_active_shadow;
  margin-top: 0;
}

@mixin container_shadow {
  padding: 0.625rem 0 0.3125rem;
  border-width: 0.25rem;
  box-shadow: 2px 2px 6px 0 $plp_facet_wrapper_shadow;
}

@mixin mm-mob-arrow ($position, $direction: false) {
  &:#{$position} {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.3125rem 0 0.3125rem 0.5rem;
    border-color: transparent transparent transparent $mm_mob_arrow_icon;

    @if $direction == false {
      @if $position == after {
        transform: rotate(0deg);

        html[lang=ar] & {
          transform: rotate(180deg);
        }
      }

      @if $position == before {
        transform: rotate(180deg);

        html[lang=ar] & {
          transform: rotate(0deg);
        }
      }
    }

    @else {
      @if $direction == up {
        transform: rotate(270deg);
      }

      @if $direction == down {
        transform: rotate(90deg);
      }
    }

    @content;
  }
}

@mixin facet-arrow ($position, $direction: false, $topborder: false, $rightborder:false, $bottomborder:false, $leftborder:false) {
  &:#{$position} {
    position: absolute;
    top: 1.1875rem;
    #{$right}: 0;
    font-size: 0;
    content: '';
    border-style: solid;
    height: 0;
    width: 0;

    @if $topborder == false and $rightborder == false and $bottomborder == false and $leftborder == false {
      border-width: 0.25rem 0 0.25rem 0.4rem;
    }

    @else {
      border-width: $topborder $rightborder $bottomborder $leftborder;
    }

    border-color: transparent transparent transparent $mm_mob_arrow_icon;

    @if $direction == false {
      @if $position == after {
        transform: rotate(0deg);

        html[lang=ar] & {
          transform: rotate(180deg);
        }
      }

      @if $position == before {
        transform: rotate(180deg);

        html[lang=ar] & {
          transform: rotate(0deg);
        }
      }
    }

    @else {
      @if $direction == up {
        transform: rotate(270deg);
      }

      @if $direction == down {
        transform: rotate(90deg);
      }

      @if $direction == right {
        transform: rotate(0deg);
      }

      @if $direction == left {
        transform: rotate(180deg);
      }
    }

    @content;
  }
}
