.block-alshaya-vat-certificate-block {
  float: $left;

  @include breakpoint($only-mobile) {
    margin-top: -1.75rem;

    html[lang="ar"] & {
      margin-bottom: 1.25rem;
    }
  }
}

.region__footer-secondary #block-copyright {
  @include breakpoint($only-mobile) {
    padding-bottom: 2.5rem;
  }
}
