// Default to border-box.
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Base HTML Elements.
html,
body {
  min-height: 100%;
}

body {
  font-family: $body_font;
}
