.home-block {
  text-align: center;
  text-transform: uppercase;
  padding: 0.3125rem 0;

  h2 {
    font-family: $beton-bold;
    font-size: 1.625rem;
    margin: 0 0 0.875rem;
    font-weight: normal;
    letter-spacing: 0.125rem;

    html[lang=ar] & {
      font-family: $gess-bold;
      letter-spacing: 0;
    }
  }

  p {
    font-family: $ideal-sans-medium;
    font-size: 1.125rem;
    color: $sub-heading;
    margin: 0;

    html[lang=ar] & {
      font-family: $ge-dinar-one;
    }
  }

  a {
    text-decoration: none;
    color: $bakery-brown;
  }

  .trigger-sign-up {
    width: 7.5rem;
    border: 2px solid $bakery-brown;
    height: 2.188rem;
    margin-top: 1.625rem;
    font-family: $beton-bold;
    font-size: 0.875rem;
    display: inline-block;
    letter-spacing: 0.0625rem;
    padding: 0.5rem;

    html[lang=ar] & {
      font-family: $gess-bold;
      letter-spacing: 0;
      width: auto;
      padding: 0.5rem 1rem;
    }
  }

  &.quote {
    h2 {
      text-transform: none;
      margin-bottom: 1.25rem;
    }

    .chef-name {
      font-family: $at-sackers-heavy;
      text-transform: lowercase;

      html[lang=ar] & {
        font-family: $ge-dinar-one;
      }
    }
  }
}
