// Define Fonts
$base_theme_fonts_directory_path: "/themes/custom/transac/alshaya_muji/fonts";

@font-face {
  font-family: "Helvetica";
  src:
    local("Helvetica"),
    url("#{$base_theme_fonts_directory_path}/Helvetica.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Light";
  src:
    local("Helvetica Light"),
    url("#{$base_theme_fonts_directory_path}/Helvetica-Light.woff2")
    format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Helvetica-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Bold";
  src:
    local("Helvetica Bold"),
    url("#{$base_theme_fonts_directory_path}/Helvetica-Bold.woff2")
    format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Helvetica-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src:
    local("Helvetica Neue"),
    url("#{$base_theme_fonts_directory_path}/HelveticaNeue.woff2")
    format("woff2"),
    url("#{$base_theme_fonts_directory_path}/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src:
    local("Helvetica Neue Medium"),
    url("#{$base_theme_fonts_directory_path}/HelveticaNeue-Medium.woff2")
    format("woff2"),
    url("#{$base_theme_fonts_directory_path}/HelveticaNeue-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src:
    local("Helvetica Neue Bold"),
    url("#{$base_theme_fonts_directory_path}/HelveticaNeue-Bold.woff2")
    format("woff2"),
    url("#{$base_theme_fonts_directory_path}/HelveticaNeue-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tahoma-Bold";
  src:
    local("Tahoma Bold"),
    url("#{$base_theme_fonts_directory_path}/Tahoma-Bold.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Tahoma-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tahoma";
  src:
    local("Tahoma"),
    url("#{$base_theme_fonts_directory_path}/Tahoma.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Tahoma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
