.order-detail {
  .c-page-title {
    @include breakpoint($only-tablet) {
      margin-top: 1.8rem;
    }
  }

  .print--button {
    top: -1rem;
  }

  .download-invoice-wrapper {
    text-transform: none;
    top: 1px;

    @include breakpoint($desktop) {
      top: 1px;
    }
  }

  .user__order--detail {
    border-top: none;

    .total-row .dark .price {
      color: $black;
      font-family: $hnm-demibold;

      @include breakpoint($only-mobile) {
        font-size: 0.8125rem;
      }
    }

    .order-summary-row {
      > div {
        background: $order_summary_row;
        padding: rem(21) rem(16);
      }

      .blend {
        background: $order_detail_order_summary_row_td_blend;
      }
    }
  }

  .c-content {
    .user__order--detail {
      .total-row {
        .warm--white {
          background-color: $order_detail_total_white;
        }

        &.vat-row {
          .warm--white {
            background-color: $order_detail_total_vat;
          }
        }
      }
    }
  }
}

.user__order--detail {
  font-family: $hnm-regular;
  border-top: 1px solid $order_detail_total_border;

  .sub-total-row,
  .delivery-charge-row,
  .total-row {
    background: $order_detail_total_bg;

    td {
      @include breakpoint($only-tablet) {
        padding: 0.625rem 1.375rem 0.625rem 0.75rem;
      }
    }
  }

  .discount-row {
    td {
      @include breakpoint($only-tablet) {
        padding: 0.625rem 0.125rem 0.625rem 0.75rem;
      }
    }
  }

  .total-row {
    color: $order_detail_total;
    font-weight: normal;
    font-family: $hnm-demibold;

    &.vat-row {
      td {
        &:nth-child(3) {
          @include breakpoint($only-tablet) {
            display: none;
          }
        }
      }
    }
  }

  .delivery-details-row {
    color: $order_detail_total_bg;

    > div {
      background: $order_summary_blend_bg;
      font-family: $hnm-bold;
      font-weight: normal;

      .icon-ic_info {
        font-size: 1.9375rem;
        font-weight: 700;
        margin-#{$right}: 0.7rem;
        vertical-align: middle;
      }
    }

    .blend {
      @include breakpoint($desktop) {
        background: $order_summary_blend_bg;
      }
    }
  }

  .delivery-charge-row,
  .sub-total-row,
  .order-item-row {
    .blend {
      background: $order_detail_blend_row;

      @include breakpoint($tablet) {
        background: $order_detail_blend_row_tablet;
      }
    }
  }

  .order-item-row {
    border-bottom: 1px solid $white;
    background: $white-four-70;
  }

  .label {
    margin-bottom: 3px;
  }

  .order-summary-row {
    td {
      background: $order_summary_row;
      padding: 1.313rem 1rem;
    }

    .order--date--time,
    .order-transaction > .light:nth-child(3) {
      html[lang="ar"] & {
        direction: ltr;
        text-align: right;
      }
    }
  }

  .right--align {
    text-align: $right;
  }

  .order-details-row {
    background: $order_detail_item_row;
    color: $order_detail_item_row_text;

    .label {
      color: $title;
      font-family: $hnm-bold;
      font-weight: normal;
    }

    .address--name {
      color: $order_detail_item_row_address_name !important;
    }

    .blend {
      background: $order_detail_item_row_blend;

      @include breakpoint($tablet) {
        padding-#{$right}: 0.625rem;
      }
    }

    .dark {
      font-weight: normal;
      color: $primary_dark_color;
    }
  }

  .warm--white {
    background-color: $white-three;
  }

  td {
    div {
      margin-bottom: 0.3125rem;

      &.button {
        margin-bottom: 0;
      }
    }
  }

  .price {
    min-width: 5rem;

    @include breakpoint($tablet) {
      min-width: 3.75rem;
    }

    @include breakpoint($desktop) {
      min-width: 4.5rem;
    }
  }

  .vat-row .above-mobile:first-child {
    @include breakpoint($only-tablet) {
      display: table-cell;
    }
  }

  // Order details.
  #cancelled-items {
    font-family: $hnm-demibold;
  }

  // My account - Recent Order list.
  #cancel-order-item {
    td {
      background: $order_summary_row;
    }
  }
}

.path--user #block-userrecentorders {
  h2.subtitle {
    font-family: $hnm-demibold;
    border-bottom: 1px solid $content_pagetitle_border;
  }
}

.user-page.checkout-login.order-confirmation {
  #edit-field-subscribe-newsletter-wrapper {
    .form-item-field-subscribe-newsletter-value {
      label {
        top: 0 !important;
        color: $user_confirmation_newsletter_label;
        font-size: 0.875rem;
        padding-#{$left}: 1.875rem;
      }
    }
  }

  .user__order--detail {
    tr.delivery-charge-row.collapse-row td {
      padding: 0.625rem 1.375rem;

      @include breakpoint($only-tablet) {
        padding: 0.625rem 1.375rem 0.625rem 0.75rem;
      }
    }

    .sub-total-row,
    .delivery-charge-row,
    .total-row {
      td.right--align {
        padding-#{$right}: 1.375rem !important;
        padding-#{$left}: 0 !important;
      }
    }
  }

  p {
    font-size: 0.8125rem;
  }
}

.user__order--detail .total-row:not(.price-row) .warm--white {
  background: $user_order_detail_bg;

  .dark {
    color: $user_order_detail_dark;
    font-weight: normal;
    font-family: $hnm-regular;
  }
}

.alias--cart-checkout-confirmation .block-alshaya-acm-checkout .form-type-checkbox .option::before {
  position: relative;
  #{$left}: 0.125rem;
}

html[lang="ar"] {
  .user__order--detail {
    .total-row > .right--align {
      padding: 0 0 0 0.75rem;
      line-height: 2.3;

      @include breakpoint($desktop) {
        padding: 0 0 0 1.375rem;
      }
    }

    .order-item-row {
      .attr-wrapper {
        direction: rtl;
      }
    }
  }
}

.path--user .l-two--sf {
  &.c-order-list,
  &.order-detail {
    @include breakpoint($tablet) {
      margin-top: 2.5rem;
    }
  }
}

.order-detail,
.block-alshaya-user-recent-orders {
  .user__order--detail {
    div.order-item-row.delivered-items,
    tr.order-item-row.delivered-items,
    div.order-item-row.cancelled-items,
    tr.order-item-row.cancelled-items {
      > div,
      td {
        text-transform: uppercase;
      }
    }
  }
}
