<div class="view-content">
  <div class="views-row {{ data.classes }}">
    <div class="views-field views-field-name">
      <span class="field-content">
        <a href={{ data.path }} hreflang="en">{{ data.name }}</a>
      </span>
    </div>
  </div>
</div>
