{{ attach_library('alshaya_white_label/rcs-ph-plp-mobile-menu') }}
<div class="view-content">
  <div class="views-row">
    <div class="views-field views-field-name">
      <span class="field-content">
        <a href="{{ data.path }}" hreflang="{{ data.langcode }}">{{ data.name }}</a>
      </span>
    </div>
  </div>
</div>
