{{ attach_library('alshaya_rcs_listing/rcs_ph_plp_mobile_menu') }}
<div class="view-content">
  <div class="views-row">
    <div class="views-field views-field-name">
      <span class="field-content">
        <a href="{{ data.path }}" hreflang="{{ data.langcode }}">{{ data.name }}</a>
      </span>
    </div>
  </div>
</div>
