#google-page-speed-chart-wrapper {
  width: 100%;
  height: 500px;
}

#google-page-speed-curve-filter .google-visualization-controls-categoryfilter {
  margin-top:15px;
}

#google-page-speed-curve-filter .google-visualization-controls-categoryfilter .goog-combobox {
  display:inline-block;
}

#google-page-speed-curve-filter .google-visualization-controls-categoryfilter input {
  height: 28px;
}

#google-page-speed-curve-filter .google-visualization-controls-categoryfilter ul {
  margin-top: 5px;
}
