.c-content__slider {
  .paragraph-banner.slick-slider {
    .slick-list {
      @include breakpoint($mobile) {
        width: 100% !important;
      }
    }

    .slick-list {
      @include breakpoint($mobile) {
        #{$left}: 0 !important;
        #{$right}: 0;
      }
    }

    .field--type-image {
      max-width: 120rem;
      margin: 0 auto;
    }
  }
}
