.subtitle.crossell-title {
  font-size: 1.125rem;
  font-family: $vs-regular;
  text-align: center;
  text-transform: none;
}

.view-product-slider {
  .c-products__item__label {
    font-size: 0.875rem;
  }

  .owl-carousel {
    .owl-item {
      a > img {
        max-width: 8.875rem;
      }
    }
  }
}

.horizontal-upell,
.horizontal-related,
.horizontal-crossell {
  .view-product-slider:not(.view-display-id-block_matchback) {
    .views-row {
      @include breakpoint($desktop) {
        margin: 0 0.3125rem;
      }
    }

    .owl-prev,
    .owl-next {
      &::before {
        font-size: 3rem;
      }
    }
  }
}
