.block-alshaya-category-lhn-block {
  ul {
    li {
      a {
        &.lhn-4,
        &.lhn-3 {
          @include breakpoint($desktop) {
            font-size: 0.875rem;
          }

          &.active {
            color: $lhn_l3_hover;
            font-weight: normal;
            text-decoration: underline;
          }
        }

        &.lhn-2 {
          @include breakpoint($desktop) {
            font-size: 0.75rem;
            text-transform: none;
          }
        }
      }
    }
  }
}

.c-plp .c-content__region {
  .block-views-exposed-filter-blockalshaya-product-list-block-1,
  .block-views-exposed-filter-blockalshaya-product-list-block-2,
  .block-views-exposed-filter-blocksearch-page {
    legend {
      text-transform: uppercase;
    }
  }

  .c-facet.c-accordion,
  .c-facet.c-collapse-item {
    .c-accordion__title,
    .c-collapse__title {
      text-transform: uppercase;
    }
  }
}
