@import '../../config/_config.scss';

//Individual store theming
.individual--store {
  .individual-store--detail {
    width: 34%;

    @include breakpoint($upto-palm) {
      width: 100%;
    }
  }
}

.back-link {
  a {
    @include icon(chevron#{direction(left)}, after) {
      color: $store_finder_icon;
      font-size: 3rem;
      top: -0.3125rem;

      @include breakpoint($upto-palm) {
        color: $store_finder_mobile_backline_icon;
      }
    }
  }
}

.list-view--locator {
  border-top: 0;
  border-bottom: 0;
  color: $store_finder_store_row_text;

  .row-title {
    font-weight: normal;
    font-size: 1.125rem;
    color: $store_finder_store_row_text;
    padding-bottom: 0.75rem;
    font-family: $jus_bold;

    @include breakpoint($lap) {
      color: $store_finder_store_row_text;
    }
  }
}
