.ic-social {
  &-facebook {
    &::before {
      @include ic-social;

      background-image: url(#{$aeo_theme_img_directory_path}/icons/facebook.svg);
    }
  }

  &-instagram {
    &::before {
      @include ic-social;

      background-image: url(#{$aeo_theme_img_directory_path}/icons/instagram.png);
    }
  }

  &-twitter {
    &::before {
      @include ic-social;

      background-image: url(#{$aeo_theme_img_directory_path}/icons/twitter.svg);
    }
  }

  &-youtube {
    &::before {
      @include ic-social;

      background-image: url(#{$aeo_theme_img_directory_path}/icons/youtube.svg);
    }
  }

  &-pinterest {
    &::before {
      @include ic-social;

      background-image: url(#{$aeo_theme_img_directory_path}/icons/pinterest.svg);
    }
  }
}

.footer--social {
  .c-social-links {
    li {
      &:not(:last-child) {
        margin-#{$right}: 0.375rem;

        @include breakpoint($only-mobile) {
          margin-#{$right}: 1.5rem;
        }

        @include breakpoint($only-tablet) {
          margin-#{$right}: 0.75rem;
        }
      }

      a:hover {
        opacity: 0.8;
      }
    }
  }
}
