.star-ratings-wrapper {
  .inline-star {
    .icon-ic_ratingfull {
      @include icon(ratingfull) {
        color: $rr-stars-color;
      }
    }

    .icon-ic_rating {
      @include icon(rating) {
        color: $rr-stars-color;
      }
    }
  }
}

.listing-inline-star {
  margin-bottom: 0.25rem;
  justify-content: $left;
}
