#my-wishlist {
  .addtobag-config-button {
    @include breakpoint($upto-desktop) {
      background-color: transparent;
      #{$left}: 0;
    }
  }

  .quick-add {
    .addtobag-button,
    .addtobag-config-button,
    .is-not-buyable {
      &::before {
        @include breakpoint($upto-desktop) {
          bottom: rem(80);
          #{$right}: rem(16);
        }

        @include breakpoint($only-tablet) {
          bottom: rem(112);
        }
      }
    }
  }
}
