body.wishlist-enabled {
  .wishlist-header {
    @include breakpoint($desktop) {
      padding-#{$right}: 0;
    }

    .wishlist-icon {
      top: rem(1);
      position: relative;
      background-position: center;
    }
  }

  &.hide-minimalistic-header {
    &:not(.frontpage) {
      .wishlist-header {
        .wishlist-icon {
          @include breakpoint($upto-desktop) {
            top: rem(-19);
          }
        }
      }
    }
  }

  #wishlist-header-wrapper {
    @include breakpoint($upto-desktop) {
      top: rem(11);
      #{$right}: rem(50);
    }

    .wishlist-header {
      @include breakpoint($upto-desktop) {
        padding-bottom: 0;
        padding-#{$right}: 0;
      }
    }
  }

  header {
    .region__header {
      .block-alshaya-react-mini-cart {
        @include breakpoint($desktop) {
          width: 5%;
        }
      }
    }
  }

  .filter-fixed-top {
    .sticky-filter-wrapper {
      .wishlist-minicart-sticky-wrapper {
        .wishlist-header {
          &.header-wrapper,
          &.sticky-wrapper {
            @include breakpoint($desktop) {
              #{$right}: rem(24);
            }
          }
        }
      }
    }
  }
}

body {
  &.wishlist-enabled {
    // Resetting style of CORE theme
    #wishlist-header-wrapper {
      @include breakpoint($upto-desktop) {
        position: relative;
        top: initial;
        #{$right}: initial;
      }

      .wishlist-link {
        @include breakpoint($upto-desktop) {
          width: initial;
        }
      }
    }

    header {
      .region__header {
        // Resetting style of CORE theme
        .block-alshaya-wishlist {
          @include breakpoint($upto-desktop) {
            flex-grow: initial;
            margin-#{$right}: rem(15);
          }
        }
      }
    }
    // Resetting style of CORE theme
    .wishlist-header {
      .wishlist-icon {
        @include breakpoint($upto-desktop) {
          top: initial;
          height: rem(18);
          width: rem(18);
        }
      }
    }
    // Resetting style of CORE theme
    .wishlist-icon {
      @include breakpoint($upto-desktop) {
        margin-right: initial;
        margin-left: initial;
      }
    }
  }
}

header.c-header {
  .block-alshaya-react-mini-cart {
    .cart-link {
      @include breakpoint($upto-desktop) {
        margin-#{$right}: 0;
      }
    }
  }
}
