body.wishlist-enabled {
  .wishlist-header {
    @include breakpoint($desktop) {
      padding-#{$right}: 0;
    }

    .wishlist-icon {
      height: rem(18);
      width: rem(18);
      top: rem(5);
      position: relative;
    }
  }

  #wishlist-header-wrapper {
    @include breakpoint($upto-desktop) {
      top: rem(11);
      #{$right}: rem(50);
    }

    .wishlist-header {
      @include breakpoint($upto-desktop) {
        padding-bottom: 0;
        padding-#{$right}: 0;
      }
    }
  }

  header {
    .region__header {
      .block-alshaya-react-mini-cart {
        @include breakpoint($desktop) {
          width: 5%;
        }
      }

      @include breakpoint($only-mobile) {
        .block-alshaya-wishlist {
          flex-grow: initial;
          order: 2;
          margin-#{$right}: rem(12);

          #wishlist-header-wrapper {
            position: initial;

            .wishlist-header {
              .wishlist-icon {
                position: initial;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}
