@media (min-width: 1024px) {
  #rcs-ph-navigation_menu:not(.rcs-loaded) li {
    height: 2.5rem;
    width: 8rem;
    display: inline-block;
  }
  
  #rcs-ph-navigation_menu:not(.rcs-loaded) li > * {
    display: none;
  }
}
