.rcs-template {
  display: none;
}

.rcs-page:not(.rcs-loaded) .field {
  color: transparent;
}

.rcs-page:not(.rcs-loaded) .c-plp .c-page-title {
  border: 0;
}

.page-type-product:not(.rcs-loaded) .content__main .gallery-wrapper {
  height: 24rem;
}

.page-type-product:not(.rcs-loaded) .content__title_wrapper div,
.page-type-product:not(.rcs-loaded) .content__title_wrapper span {
  display: none;
}

.page-type-product:not(.rcs-loaded) .content__sidebar {
  height: 24rem;
  color: transparent;
}

.page-type-product:not(.rcs-loaded) .content__sidebar div {
  display: none;
}

.page-type-promotion:not(.rcs-loaded) #alshaya-algolia-plp {
  height: 24rem;
}

@media (min-width: 768px) {
  .page-type-product:not(.rcs-loaded) .content__title_wrapper,
  .page-type-product:not(.rcs-loaded) .content__sidebar {
    height: 16rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .page-type-product:not(.rcs-loaded) .content__main .gallery-wrapper {
    height: 32rem;
  }
  
  .page-type-product:not(.rcs-loaded) .content__title_wrapper {
    height: 24rem;
    width: 28%;
    margin-bottom: 1.5rem;
  }

  .page-type-product:not(.rcs-loaded) .content__sidebar {
    height: 24rem;
    width: 28%;
  }

  .page-type-promotion:not(.rcs-loaded) #alshaya-algolia-plp {
    height: 32rem;
  }
  
}
