$nb_theme_img_directory_path: '/themes/custom/transac/alshaya_new_balance/imgs';

@mixin ic-social {
  content: '';
  background-repeat: no-repeat;
  width: rem(24);
  height: rem(29);
  display: inline-block;
  background-size: contain;
  background-position: center;
}

@mixin primaryBtn($textTransform: false) {
  text-transform: none;
  font-family: $nb-nova-regular;
  font-size: rem(14);

  @if $textTransform {
    text-transform: capitalize;
  }

  &:hover {
    opacity: 0.65;
  }
}

@mixin quaternaryBtn($textTransform: false) {
  text-transform: unset;
  background-color: $primary_brand_button;
  color: $primary_btn_bg;
  font-family: $nb-heavy;
  font-size: rem(14);

  @if $textTransform {
    text-transform: uppercase;
  }

  &:hover {
    opacity: 0.65;
    background-color: $primary_brand_button;
  }
}

@mixin secondaryBtn($textTransform: false) {
  text-transform: unset;
  background-color: $secondary_btn_bg;
  color: $secondary_btn_text;
  font-family: $nb-heavy;
  font-size: rem(14);
  justify-content: center;

  @include breakpoint($tablet) {
    width: rem(216);
  }

  @if $textTransform {
    text-transform: uppercase;
  }

  &:hover {
    background-color: $secondary_btn_bg_hover;
  }
}

@mixin userLoginSectionTitle() {
  display: block;
  font-size: rem(24);
  font-family: $nb-bold;
}
