.return-confirmation-wrapper {
  color: $online-return-dark-txt;

  .whats-next-section {
    .whats-next-wrapper {
      .title {
        font-family: $alshaya-thin;
      }
    }
  }

  .order-details-button-wrapper {
    a {
      text-transform: uppercase;
    }
  }

  .whats-next-section,
  .return-details-section,
  .return-items-wrapper {
    .whats-next-title,
    .return-details-title,
    .return-items-label {
      font-family: $alshaya-bold;
    }
  }
}

@include breakpoint($only-mobile) {
  html[lang="ar"] {
    body[class*="-return-confirmation"] {
      .block-page-title-block {
        .back-link {
          &::before {
            transform: none;
          }
        }
      }
    }
  }
}
