@import '../../../config/_config.scss';

.menu-terms-conditions {
  li {
    border-#{direction(right)}: 0;
  }

  a {
    color: $footer_terms_condition;
    text-decoration: underline;

    @include breakpoint($upto-palm) {
      margin-#{$left}: 0;
      margin-#{$right}: 0.625rem;
    }

    &:hover {
      color: $footer_terms_condition_hover;
    }
  }
}
