.spc-product-price {
  font-size: rem(16);
  font-family: $ay-heavy;

  @include breakpoint($only-mobile) {
    font-size: rem(14);
    font-family: $arial;
  }
}

.spc-order-summary-block {
  @include breakpoint($only-mobile) {
    border-top: rem(1) solid $spc_cart_item_border_color;

    .block-content {
      background: $spc-cart-background;

      .actions {
        background-color: $spc_promo_code_block_mob_header_bg;
      }
    }

    .totals {
      background: $spc-cart-background;
    }

    .total-line-item {
      font-size: rem(14);
    }
  }

  @include breakpoint($tablet) {
    .block-content {
      background: $spc-order-summary-bg;
    }
  }

  .product-content {
    padding: rem(11);

    .product-item {
      padding: rem(15);
      background: $spc-order-summary-item-bg;

      .spc-product-title {
        @include breakpoint($desktop) {
          max-width: 64%;
        }

        a {
          font-family: $ay-heavy;
          text-transform: uppercase;

          @include breakpoint($only-mobile) {
            font-family: $arial;
          }
        }
      }

      .spc-product-title-price {
        display: flex;
        justify-content: space-between;

        @include breakpoint($only-mobile) {
          flex-direction: column;
        }
      }

      .spc-product-meta-data {
        justify-content: unset;
      }

      .spc-product-attributes {
        @include breakpoint($only-mobile) {
          font-size: rem(14);
          line-height: 1.3;
        }
      }
    }
  }

  @include breakpoint($desktop) {
    .totals {
      background: $spc-order-summary-totals-bg;
    }

    .total-line-item {
      font-size: rem(18);
    }
  }
}
