.nodetype--acq_product .ui-dialog.dialog-product-image-gallery-container {
  height: 100vh !important;
  width: 100vw !important;
  background: $gallery_bg;

  @include breakpoint($mobile) {
    padding: 0;
  }

  .ui-dialog-titlebar {
    padding: 0;

    @include breakpoint($only-tablet) {
      margin: 0 auto;
    }
  }
}

.ui-dialog .ui-dialog-titlebar-close {
  @include icon(close) {
    font-size: 1.875rem;
  }

  position: absolute;
  #{$right}: 0;
  #{$left}: auto;
  top: 50%;
  width: 1.875rem;
  margin: 0;
  height: 1.875rem;
  border: none;
  z-index: 9;
  font-size: 0;
  color: $modal_close_icon;
  background-color: $modal_close_bg;
  border-radius: 0;
  outline: solid transparent;
  text-indent: inherit;

  &::before {
    position: absolute;
    #{$right}: 0;
    top: 0;
  }

  @include breakpoint($only-tablet) {
    #{$right}: -1.4rem;
  }
}

#product-image-gallery {
  &.pager-no {
    .slick-track {
      transform: none !important;
    }
  }
}

#lightSlider {
  @include breakpoint($only-tablet) {
    padding-#{$left}: 3rem;
    padding-#{$right}: 3rem;
  }
}

#product-image-gallery-container {
  @include breakpoint($tablet) {
    height: 40.5rem !important;
    margin: 0 auto;
    padding: 1.5em;
  }

  @include breakpoint($desktop) {
    height: 34.5rem !important;
    padding: 1.5em;
    overflow: hidden;
  }

  .imagegallery__wrapper {
    #product-image-gallery {
      position: relative;

      @include breakpoint($desktop) {
        width: 5.625rem;
        float: $left;
      }
    }

    & > .imagegallery__full {
      text-align: center;

      @include breakpoint($tablet) {
        height: 30rem !important;
      }

      @include breakpoint($desktop) {
        height: 31.5rem !important;
        float: $right;
        width: calc(100% - (6.75rem)) !important;
        padding-right: 2.1875rem;
      }

      .imagegallery__full__image {
        height: 100%;
        width: auto;
      }
    }

    &.thumbnail-count-1 {
      ul.imagegallery__thumbnails {
        @include breakpoint($tablet) {
          display: none;
        }
      }

      .imagegallery__full,
      .cloudzoom__video_modal {
        width: 100% !important;
      }

      + .button__wrapper {
        @include breakpoint($desktop) {
          #{$left}: 42%;
        }

        @include breakpoint($only-tablet) {
          #{$left}: 43%;
        }
      }
    }
  }
}

.mobilegallery {
  #product-image-gallery-mobile {
    padding: 0;
    margin: 0;

    li.slick-slide {
      width: 100%;
      height: auto;

      img {
        height: auto;
        width: 100%;
      }
    }

    ul.slick-dots {
      position: absolute;
      width: 100%;
      #{$left}: 0;
      text-align: center;
      bottom: 0;
    }

    button.slick-arrow {
      top: 40% !important;
    }
  }
}
