.c-plp {
  .c-page-title__description,
  .field--name-field-acq-promotion-description {
    width: 75%;

    @include breakpoint($upto-desktop) {
      max-width: 100%;
      width: 100%;
    }
  }

  .c-products__item {
    font-size: 0.875rem;

    @include breakpoint($desktop) {
      width: 31.6%;
      max-width: 18.1875rem;
      margin-#{$right}: 2.5%;
      margin-bottom: 2rem;

      &:nth-child(3n) {
        margin-#{$right}: 0;
      }
    }

    @include breakpoint($tablet) {
      article {
        &:hover::after {
          box-shadow: none;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -0.75rem;
          -webkit-appearance: none;
        }
      }
    }

    .field--name-name {
      font-family: $alshaya-bold;
      line-height: 1.29;
    }
  }

  .region__content {
    .block-facets-summary-blockfilter-bar-promotions,
    .block-facets-summary-blockfilter-bar-plp,
    .block-facets-summary-blockfilter-bar {
      ul {
        @include breakpoint($tablet) {
          border-bottom: 0;
        }

        li {
          a {
            font-size: 0.875rem;

            span {
              &.facet-item__value {
                margin-#{$right}: 0;
                text-transform: capitalize;
                height: 2.5rem;

                @include breakpoint($tablet) {
                  line-height: 1.5;
                }
              }

              &.js-facet-deactivate {
                @include icon(close, after) {
                  top: 5.15%;
                }

                height: 2.5rem;
              }
            }
          }

          &.clear-all {
            text-transform: uppercase;
            height: 2.5rem;
            cursor: pointer;
            border-color: $primary_brand_button;
            line-height: 1.5;

            a {
              font-size: 0.875rem;
              color: $primary_brand_button;
            }

            @include breakpoint($desktop) {
              &:hover {
                opacity: 1;
                background-color: $primary_brand_button;

                a {
                  color: $primary_btn_text;
                }
              }
            }
          }
        }
      }
    }

    .block-views-exposed-filter-blockalshaya-product-list-block-1 {
      @include breakpoint($only-mobile) {
        border-top: 1px solid $primary_border;
      }
    }

    .filter--mobile {
      @include breakpoint($tablet) {
        top: auto;
        margin-top: -3.75rem;

        html[lang=ar] & {
          top: auto;
          margin-top: -3.75rem;
        }
      }

      .form-type-select {
        text-transform: initial;
      }

      .c-facet__blocks__wrapper--mobile {
        @include breakpoint($only-mobile) {
          .c-facet__blocks {
            .filter-menu-label {
              margin-bottom: 0;

              .label {
                font-family: $alshaya-thin;
                text-transform: capitalize;
                font-size: 0.875rem;
                height: 2.25rem;
              }
            }

            li.clear-all {
              border: 2px solid $plp_facet_clear_border_mobile;
              text-transform: uppercase;
            }
          }

          .c-facet__label {
            border-#{$right}: 0;
            padding: 0 0.625rem;
            font-size: 0.875rem;
            line-height: 2.8;

            &.active-filter-count {
              .filter-count {
                padding-top: 0.25rem;
              }
            }
          }
        }
      }
    }

    .view-header.search-count {
      margin-top: 1.5rem;
      border-bottom-color: $primary_border;

      &.only-mobile {
        margin-top: 0;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
      }
    }
  }
}

.c-facet__blocks__wrapper--mobile {
  .c-facet__label {
    height: 2.5rem;

    @include breakpoint($tablet) {
      width: 6.812rem;
    }

    border-#{$right}: 0;

    @include breakpoint($only-tablet) {
      padding-#{$left}: 0.625rem;
      font-size: 0.875rem;
      color: $plp_tile_product_title;
    }

    &.is-active {
      padding-#{$left}: 0.6875rem;
      padding-top: 0.6875rem;

      &::after {
        border-#{$left}: 0;

        @include breakpoint($only-tablet) {
          border: none;
          margin-#{$right}: 0.062rem;
        }
      }
    }

    &::after {
      color: $plp_facet_dropdown_icon;
      border: 1px solid $plp_facet_input_border;
      border-#{$left}: 0;
      height: 2.5rem;
      width: 2.5rem;
      font-size: 2.2rem;
    }
  }

  .c-facet__blocks {
    @include breakpoint($only-tablet) {
      #{$right}: -10rem;
      padding: 0 0.625rem !important;
    }

    .filter-menu-label {
      .label {
        font-size: 0.875rem;
      }
    }
  }

  .c-facet:first-child {
    .c-facet__title {
      border-top: 1px solid $plp_facet_border;

      @include breakpoint($only-tablet) {
        border-top: none;
      }
    }
  }
}

.is-filter {
  @include breakpoint($only-mobile) {
    .apply-fake .fake-apply-button {
      font-family: $alshaya-thin;
      text-transform: uppercase;
      padding-top: 0.7rem;
    }
  }

  &.view-filters {
    label {
      text-transform: capitalize;
      font-size: 0.875rem;
      transform: translate(0, -40%);
    }

    html[lang=ar] & {
      label {
        font-size: 0.875rem;
        line-height: 1.5;
        transform: translate(0, -40%);
      }
    }
  }
}
