.path--wishlist {
  #block-page-title {
    .c-page-title {
      font-size: rem(14);
      text-transform: capitalize;

      @include breakpoint($only-mobile) {
        font-size: rem(18);
      }
    }
  }
}

#wishlist-share {
  > button {
    .icon {
      background: url('#{$brand_theme_img_directory_path}/icons/wishlist-share.svg') no-repeat;
    }
  }
}
