.path--store-finder,
.nodetype--store {
  .view-header {
    font-size: 14px;
    color: $store_finder_header;
    margin-bottom: 1.563rem;

    @include breakpoint($only-mobile) {
      margin-top: 1.1rem;
      margin-bottom: 1.4rem;
    }
  }

  .view-display-id-page_2 {
    .view-header {
      font-weight: bold;

      @include breakpoint($only-mobile) {
        display: none;
      }

      @include breakpoint($desktop) {
        font-weight: normal;
        font-family: $alshaya-bold;
        color: $store_finder_header_desktop;
      }
    }

    .view-display-id-page_3 .view-header,
    .view-display-id-page_1 .view-header {
      color: $store_finder_header;
      display: block;
      font-family: $arial;
      font-weight: normal;
    }
  }

  .view-empty {
    color: $store_finder_header;
    display: block;
    font-family: $arial;
    font-weight: bold;
  }

  .c-side-1 {
    @include breakpoint($only-mobile) {
      border-top: 1px solid $store_finder_search_input_border;
      margin-top: 1.1rem;
    }
  }

  .geolocation-common-map-container,
  .geolocation-google-map {
    height: 39rem !important;

    @include breakpoint($desktop) {
      height: 51rem !important;
    }
  }

  .pager__item {
    list-style: none;
  }

  .ui-autocomplete {
    font-size: 0.75rem;

    @include breakpoint($only-mobile) {
      width: calc(100% - 1rem) !important;
    }
  }

  main {
    margin-bottom: 3.2rem;
    overflow: hidden;

    @include breakpoint($desktop) {
      margin-bottom: 8rem;
    }
  }

  .list-view-link {
    @include breakpoint($desktop) {
      text-indent: -0.4rem;
    }
  }

  .back-link,
  .mobile-only-back-to-glossary {
    a {
      display: block;
      width: inherit;
      overflow: hidden;
      font-size: 0.5rem;
      height: 0;

      @include icon(chevron#{$left}, after) {
        position: absolute;
        display: inline-block;
        color: $store_finder_backbtn;
        font-size: 1.875rem;
        top: 0.125rem;
        padding: 0.5rem;
        #{$left}: 0.125rem;
      }
    }
  }

  .back-to-glossary {
    font-size: 0.75rem;
    color: $store_finder_text;
    font-family: $arial;
    width: 30%;
    display: block;
    text-align: center;
    float: $right;
    margin: 0.8rem 0;

    &.hidden {
      display: none;
    }

    @include breakpoint($desktop) {
      margin: 1.625rem 0;
      font-size: 0.875rem;
    }

    @include breakpoint($only-mobile) {
      display: none !important;
    }
  }

  @include breakpoint($tablet) {
    .mobile-only-back-to-glossary,
    .view-on--map {
      display: none;
    }
  }

  .input--wrapper {
    position: relative;

    [id^=edit-actions] {
      position: absolute;
      #{$right}: 0;
      top: 0;
      height: 2.1875rem;
      padding-#{$right}: 1.1rem;
      padding-top: 0.425rem;
      border: 1px solid $store_finder_search_input_mobile_border;
      border-#{$left}: 0;
      z-index: 1;
      background-color: $store_finder_search_input_bg;

      @include breakpoint($tablet) {
        border: 1px solid $store_finder_search_input_border;
        border-#{$left}: 0;
        padding: 0.375rem;
        #{$right}: 0;
        top: 0.3rem;
      }

      @include breakpoint($desktop) {
        top: 1.125rem;
      }
    }
  }

  .c-content__region,
  .view-stores-finder {
    max-width: 80.25rem;
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @include breakpoint($tablet) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .region__content {
      margin: 0;

      @include breakpoint($only-mobile) {
        margin-top: 1rem;
      }
    }

    .c-content__region {
      margin-bottom: 0;
    }

    .view-stores-finder {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .view-stores-finder {
    .view-header p {
      color: $store_finder_subheader;
      letter-spacing: 0.00625rem;
    }
  }

  .c-page-title {
    font-weight: normal;
  }

  .label--location {
    color: $store_finder_search_label !important;
  }

  button {
    &.form-autocomplete {
      font-size: 12px;
    }

    &[id^=edit-submit-stores-finder] {
      background: url('../imgs/icons/store-search.svg');
      border: none;
      background-repeat: no-repeat;
      text-indent: -9999px;
      width: 20px;
      height: 25px;
      padding: 0;
      background-size: contain;
    }
  }

  .current-location,
  .cc-near-me,
  .list-view-link,
  .map-view-link,
  .label--location {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-#{$right}: 0.6875rem;
    }
  }

  .label--location {
    .block-store-finder-form__form__label__wrapper {
      display: inline;
    }
  }

  .current-location,
  .cc-near-me {
    @include breakpoint($only-tablet) {
      #{$left}: 0;
      padding-#{$left}: 2.125rem !important;

      &::before {
        position: absolute;
        #{$left}: 0;
      }
    }

    @include breakpoint($tablet) {
      html[lang=ar] & {
        padding-top: 0.5rem;
      }
    }
  }

  .current-location,
  .cc-near-me {
    &::before {
      background: url('../imgs/icons/current.svg') no-repeat;
      width: 26px;
      height: 26px;
    }
  }

  .label--location::before {
    background: url('../imgs/icons/ic-search-store.svg') no-repeat;
    width: 25px;
    height: 25px;
    margin-#{$right}: 0.4rem;

    @include breakpoint($tablet) {
      html[lang=ar] & {
        position: relative;
        top: 0.4rem;
      }
    }

    @include breakpoint($desktop) {
      margin-#{$right}: 0.3875rem;
    }
  }

  .map-view-link {
    margin-#{$left}: -1px;

    @include icon(map, before) {
      color: $store_finder_icon;
      margin-#{$right}: 0.4rem;
      margin-#{$left}: 0.3125rem;
      vertical-align: middle;
      font-size: 1.8rem;
      line-height: 1;

      @include breakpoint($desktop) {
        line-height: 0.6;
        margin-#{$left}: 0.1875rem;
      }
    }

    &:hover::before,
    &.active::before {
      color: $store_finder_text_hover;
    }
  }

  .list-view-link {
    @include icon(list, before) {
      color: $store_finder_icon;
      width: 1.625rem;
      height: 0.8rem;
      vertical-align: top;
      font-size: 2rem;
      line-height: 0.6;

      @include breakpoint($only-tablet) {
        margin-#{$right}: 1.1rem;
        margin-#{$left}: -0.45rem;
      }

      @include breakpoint($desktop) {
        margin-#{$left}: 0.5rem;
        margin-#{$right}: 0.8rem;
      }
    }

    &:hover::before,
    &.active::before {
      color: $store_finder_text_hover;
    }
  }

  .label--location {
    padding-#{$left}: 3.5rem;
    padding-#{$right}: 1rem;
    text-indent: -2rem;
    width: 52%;

    @include breakpoint($desktop) {
      padding-#{$left}: 3.4rem;
      padding-#{$right}: 0;
      width: 27.6%;
    }
  }

  .list-view-link,
  .map-view-link {
    text-align: center;
    text-transform: lowercase;

    &:hover,
    &.active {
      border: 1px solid $store_finder_border_hover;
      color: $store_finder_text_hover;

      @include breakpoint($only-tablet) {
        font-family: $alshaya-thin;
      }
    }
  }

  .list-view-link {
    padding: 0.85rem 0;

    @include breakpoint($desktop) {
      padding: 1.595rem 0;
    }
  }

  .map-view-link {
    padding: 0.675rem 0;

    @include breakpoint($desktop) {
      padding: 1.47rem 0;
    }
  }

  .active {
    color: $store_finder_text_hover;
  }

  .block-views-exposed-filter-blockstores-finder-page-3,
  .attachment-after,
  .ajax-progress {
    display: none;
  }

  #edit-field-latitude-longitude-boundary-geolocation-geocoder-google-places-api,
  .form-item-geolocation-geocoder-google-places-api {
    [id^=edit-geolocation-geocoder-google-places-api] {
      background: none;
      border: 1px solid $store_finder_glossary_border;
      padding: 0.6rem;
      padding-#{$right}: 2rem;
      font-size: 0.75rem;
      color: $store_finder_glossary_text;
      width: 100%;
      height: 2.1875rem;
      box-sizing: border-box;
      outline: transparent;
      border-radius: 0;
      appearance: none;

      @include breakpoint($only-mobile) {
        padding-#{$left}: 1.25rem;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 2.1875rem;
      }

      &.ui-autocomplete-loading {
        background-size: 30px;
      }

      @include breakpoint($tablet) {
        max-width: 26.125rem;
        border: 1px solid $store_finder_search_input !important;
      }
    }

    .form-item--error-message {
      display: none;
    }
  }

  .current-location,
  .cc-near-me,
  .form-type-textfield,
  .c-content__region .form-actions,
  .list-view-link,
  .map-view-link {
    color: $store_finder_text;
  }

  .by--alphabet {
    @include clearfix;

    @include breakpoint($tablet) {
      padding-bottom: 2rem;
    }

    @include breakpoint($tablet) {
      padding-bottom: 3rem;
    }

    position: relative;

    h3,
    .rows {
      display: inline-block;
      vertical-align: top;
    }

    h3 {
      font-size: 1.625rem;
      font-family: $alshaya-bold;
      font-weight: normal;
      color: $store_finder_subheader;
      line-height: 1.6;
      margin: 0;
      text-transform: uppercase;
      float: $left;
      width: 10%;

      @include breakpoint($only-mobile) {
        display: none !important;
      }
    }

    .rows {
      font-size: 14px;
      line-height: 232%;
      margin-#{$left}: 1.7rem;

      @include breakpoint($tablet) {
        width: 88%;
        margin: 0;
        float: $right;
      }

      @include breakpoint($only-mobile) {
        width: 100%;
        margin-#{$left}: 0;

        a {
          color: $store_finder_text !important;
          display: block;
          width: 100%;
          padding: 1rem 0;
          border-bottom: 1px solid $store_finder_glossary_text_border;
          line-height: 1;
          position: relative;

          @include icon(chevron#{$right}, after) {
            position: absolute;
            display: inline-block;
            color: $store_finder_glossary_icon;
            font-size: 1.875rem;
            top: 0.5rem;
            #{$right}: 0.4rem;
          }
        }
      }

      a {
        color: $store_finder_glossary_text;

        &:hover {
          color: $store_finder_glossary_text_hover;
          text-decoration: underline;
        }
      }
    }
  }

  .list-view-locator {
    font-size: 14px;
    background: $store_finder_search_results_tile_bg;
    padding: 1rem 0;
    padding-bottom: 0;
    margin-bottom: 1.625rem;
    border: 1px solid $store_finder_search_results_border;
    position: relative;

    &:hover,
    &.selected {
      background-color: $store_finder_search_results_tile_hover_bg;
    }

    .row-title {
      font-weight: bold;
      display: block;
      color: $store_finder_glossary_alphabet;
      padding: 0 3.5rem;

      @include breakpoint($tablet) {
        padding: 0 3.25rem;
        color: $store_finder_search_results_label;
      }
    }

    .views-field-field-store-address {
      border-bottom: 1px solid $store_finder_search_results_border;
      padding-bottom: 1.5rem;

      html[lang=ar] & {
        line-height: 1.2;
        padding-top: 0.125rem;
      }

      .field-content {
        padding: 0 3.5rem;

        @include breakpoint($tablet) {
          padding: 0 3.25rem;
          padding-#{$right}: 2.5rem;
        }
      }

      .field--name-field-store-address {
        html[lang=ar] & {
          padding-top: 0.125rem;
          line-height: 1.2;
        }
      }

      .field--name-field-store-phone {
        html[lang=ar] & {
          direction: ltr;
          display: inline-block;
          padding-top: 0.25rem;
          text-align: right;
        }
      }
    }

    .open--hours {
      div {
        margin-bottom: 0.0625rem;
      }
    }

    .views-field-field-store-open-hours {
      .hours--wrapper .hours--label,
      .hours--wrapper .open--hours,
      .view-on--map a,
      .get--directions a {
        border-bottom: 1px solid $white;
        padding: 1rem;
        padding-#{$left}: 3.5rem;

        @include breakpoint($tablet) {
          padding-#{$left}: 3.25rem;
        }
      }

      .hours--wrapper .open--hours {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
      }

      .get--directions a,
      .view-on--map a {
        border-bottom: 0;
      }

      a {
        display: block;
        z-index: 1;
        position: relative;
      }
    }

    .lat-lng {
      display: none;
    }
  }

  .view-display-id-page_1,
  .view-display-id-page_2 {
    @include breakpoint($tablet) {
      margin-top: 1.5rem;
    }
  }

  @include breakpoint($only-mobile) {
    .get--directions {
      display: none;
    }

    .c-page-title {
      margin-bottom: 0.6875rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $store_finder_search_results_border;
    }

    .current-location,
    .cc-near-me {
      display: block;
      font-size: 12px;
      text-align: center;
      border: 1px solid $store_finder_search_results_tile_link;
      padding: 0.3125rem 0;
      margin-bottom: 1rem;
    }

    .label--location,
    .list-view-link,
    .map-view-link {
      display: none;
    }
  }

  @include breakpoint($only-tablet) {
    .form--inline {
      .current-location,
      .cc-near-me {
        width: 17%;
        padding-#{$left}: 1.25rem;
        padding-#{$right}: 0;
      }
    }

    .store-finder--wrapper {
      width: 46%;
      margin-#{$right}: 1.5%;

      .form-item-field-latitude-longitude-boundary-geolocation-geocoder-google-places-api,
      .form-item-geolocation-geocoder-google-places-api {
        width: 48% !important;
      }
    }

    .list-view-link,
    .map-view-link {
      width: 17.6%;
    }
  }

  .view-display-id-page_2 > .view-content {
    @include breakpoint($tablet) {
      padding: 0 1.6rem;
    }

    @include breakpoint($desktop) {
      padding: 0.7rem 1.6rem;
    }
  }

  .store-row--counter {
    @include breakpoint($only-mobile) {
      display: none;
    }
  }

  @include breakpoint($tablet) {
    .store-row--counter {
      position: absolute;
      #{$left}: 1rem;
      width: 1.25rem;
      background: $store_finder_search_results_counter_bg;
      height: 1.25rem;
      vertical-align: middle;
      text-align: center;
      color: $store_finder_search_results_counter_text;
      border-radius: 50%;
      padding-top: 2px;

      html[lang=ar] & {
        line-height: 1.22;
      }
    }

    .c-page-title {
      margin-top: 1rem;
      margin-bottom: 0.79rem;
    }

    .c-side {
      width: 50%;
      float: $left;
    }

    .c-side:nth-child(odd) {
      border-#{$right}: 1px solid $store_finder_search_results_border;
      clear: both;
    }

    .view-content .c-side.c-side-3,
    .c-side:nth-child(even) {
      padding-#{$left}: 1.5625rem;
      border-#{$left}: 1px solid $store_finder_search_results_border;
      border-#{$right}: 0;
      margin-#{$left}: -1px;
      clear: none;
    }

    .attachment-after {
      display: none;
    }

    .block-views-exposed-filter-blockstores-finder-page-3,
    .attachment-after {
      display: none;
    }

    .c-content__region .views-exposed-form {
      width: 100%;
      border-top: 1px solid $store_finder_search_results_border;
      border-bottom: 1px solid $store_finder_search_results_border;
      padding-bottom: 0.45rem;
      padding-top: 0.85rem;
      position: relative;
      overflow: hidden;
      font-family: $alshaya-thin;
    }

    .label--location {
      max-width: 100%;
      float: $left;

      html[lang=ar] & {
        &::before {
          transform: scaleX(-1);
        }
      }

      @include breakpoint($only-tablet) {
        html[lang=ar] & {
          width: 45%;
        }

        width: 49.35%;
      }

      @include breakpoint($desktop) {
        html[lang=ar] & {
          width: 37.6%;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          border-right: 1px solid $store_finder_search_results_border;
        }
      }
    }

    .current-location,
    .cc-near-me {
      padding: 0 1.5rem;
    }

    .current-location,
    .cc-near-me {
      width: 20%;
    }

    .list-view-link,
    .map-view-link {
      width: 17.5%;
    }

    .view-display-id-page_1 {
      .attachment-after {
        float: $left;
        display: inline-block;
      }
    }

    .attachment-after {
      width: 72.5%;
      vertical-align: top;

      @include breakpoint($only-tablet) {
        width: 61.5%;
      }
    }

    .view-display-id-page_1 > .view-content {
      display: inline-block;
      transform: translate3d(0, 0, 0);
      vertical-align: top;
      max-width: 26.5%;
      margin-#{$right}: 1%;
      float: $left;
      width: 100%;
      max-height: 39rem;
      overflow-y: auto;

      @include breakpoint($desktop) {
        max-height: 51rem;
        min-height: 10rem;
        padding-#{$right}: 1%;
      }

      @include breakpoint($only-tablet) {
        max-width: 35.8%;
        margin-#{$right}: 2.7%;
      }
    }
  }

  .form-item-field-latitude-longitude-boundary-geolocation-geocoder-google-places-api,
  .form-item-geolocation-geocoder-google-places-api {
    position: relative;

    @include breakpoint($tablet) {
      margin: 0.3rem 0;
    }

    @include breakpoint($desktop) {
      margin: 1.125rem 0;
    }
  }

  .current-location,
  .cc-near-me,
  .label--location {
    @include breakpoint($tablet) {
      margin: 0.8rem 0;

      html[lang=ar] & {
        margin-top: 0.2rem;
      }
    }

    @include breakpoint($desktop) {
      margin: 1.625rem 0;

      html[lang=ar] & {
        margin-top: 0.8rem;
      }
    }
  }

  .current-location,
  .cc-near-me {
    @include breakpoint($desktop) {
      html[lang=ar] & {
        margin-top: 1.2rem;
        padding-top: 0;
        padding-right: 3.4rem;
        text-indent: -2.5rem;
      }
    }
  }

  .current-location,
  .cc-near-me,
  .store-finder--wrapper,
  .list-view-link,
  .map-view-link {
    font-size: 0.75rem;

    @include breakpoint($tablet) {
      float: $left;
    }

    @include breakpoint($desktop) {
      font-size: 0.875rem;
    }
  }

  .list-view-link,
  .map-view-link {
    line-height: 1.4;

    @include breakpoint($tablet) {
      height: 2.9375rem;
      border: 1px solid transparent;
    }

    @include breakpoint($desktop) {
      height: 4.5rem;
    }
  }

  @include breakpoint($desktop) {
    .store-finder--wrapper {
      width: 49.7%;
      padding-#{$right}: 1rem;
      max-width: 38.4375;
    }

    .c-side {
      width: 49%;
    }

    .view-content .c-side.c-side-3,
    .c-side:nth-child(even) {
      padding-#{$left}: 4.5625rem;
    }

    .view-header {
      margin-top: 1.5rem;
    }

    .c-content__region {
      margin-bottom: 0;
    }
  }

  .store-finder--wrapper {
    .form-item-field-latitude-longitude-boundary-geolocation-geocoder-google-places-api,
    .form-item-geolocation-geocoder-google-places-api {
      float: $right;

      @include breakpoint($tablet) {
        width: 63.2%;
      }

      @include breakpoint($desktop) {
        width: 72.4%;
        padding-#{$right}: 0.5rem;
        padding-#{$left}: 1.375rem;

        html[lang=ar] & {
          width: 62.4%;
        }
      }

      @include breakpoint($only-mobile) {
        width: 100%;
      }
    }
  }

  .pac-container {
    min-width: 0;
    z-index: 3;

    div {
      html[lang=ar] & {
        text-align: right;
      }
    }
  }
}

.node--type-store {
  .content > .store--wrapper {
    max-width: 27%;
    display: inline-block;
    max-height: 19.69rem;
    overflow-y: auto;
    vertical-align: top;
    float: $left;
    font-size: 14px;
    background: $white-four;
    padding: 1rem 0;
    padding-bottom: 0;
    margin-bottom: 1.625rem;

    @include breakpoint($only-mobile) {
      max-width: 100%;
      width: 100%;
    }

    .field__item {
      border-bottom: 1px solid $store_finder_search_results_border;
      padding-right: 3.438rem;
      padding-left: 3.438rem;
      padding-bottom: 1.5rem;
      margin-bottom: 1rem;
    }

    .field__label {
      display: none;
    }

    .hours--label,
    .open--hours {
      padding-right: 3.438rem;
      padding-left: 3.438rem;
    }

    .hours--label {
      position: relative;
      color: $store_finder_search_results_hour_label;
      padding-bottom: 1.5rem;

      &::after {
        position: absolute;
        content: '';
        background: url('../imgs/icons/store--down.svg');
        display: inline-block;
        width: 17px;
        height: 7px;
        top: 5px;
        #{$right}: 55px;
        transform: rotate(270deg);
      }

      &.open {
        border-bottom: 0;

        &::after {
          transform: scaleY(-1);
        }
      }
    }

    .open--hours {
      display: none;
      line-height: 1.57;
      margin-top: -0.5rem;
      margin-bottom: 1.25rem;
    }
  }

  .field--name-field-latitude-longitude {
    width: 71%;
    display: inline-block;
    border-#{$left}: 1px solid $white;
    padding-#{$left}: 0.6875rem;
    margin-#{$left}: 0.6875rem;

    @include breakpoint($only-mobile) {
      display: none;
    }
  }

  .field--name-field-store-locator-id,
  .field--name-field-store-number {
    display: none;
  }
}

//Individual store theming
.individual--store {
  .view-content {
    display: inline-block;
    overflow-y: auto;
    vertical-align: top;
    width: 26.5%;
    margin-#{$right}: 1%;
    float: $left;

    @include breakpoint($desktop) {
      padding-right: 1%;
    }

    @include breakpoint($only-tablet) {
      width: 35.8%;
      margin-#{$right}: 2.7%;
    }

    @include breakpoint($only-mobile) {
      border-#{$right}: 0;
      margin-#{$right}: 0;
      padding-#{$right}: 0;
      float: none;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .list-view-locator {
    background-color: $store_finder_search_results_tile_hover_bg;
  }

  .hours--wrapper {
    .hours--label.open {
      @include icon(chevronup, after) {
        color: $store_finder_search_results_hour_icon_open;
      }
    }
  }

  .map--store {
    float: $left;
    width: 61.5%;
    vertical-align: top;

    @include breakpoint($desktop) {
      width: 72.5%;
    }

    @include breakpoint($only-mobile) {
      display: none;
    }
  }
}

.path--store-finder,
.nodetype--store {
  .hours--wrapper {
    .hours--label.open {
      @include icon(chevrondown, after) {
        color: $store_finder_search_results_hour_icon_open;
      }

      &::after {
        transform: none;
      }
    }
  }

  .hours--label.open {
    + .open--hours {
      display: block;
    }
  }

  .hours--label,
  .get--directions div,
  .view-on--map {
    position: relative;
    color: $store_finder_search_results_hour_label;
    cursor: pointer;

    a {
      color: $store_finder_search_results_hour_label;
    }

    &::after {
      position: absolute;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      top: 0;
      #{$right}: 0;
    }

    &.open {
      border-bottom: 0;

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  .list-view-link,
  .map-view-link {
    @include breakpoint($desktop) {
      width: 15%;
    }
  }

  .get--directions div a {
    &.device__tablet {
      display: none;

      @include breakpoint($only-tablet) {
        display: block;
      }
    }

    &.device__desktop {
      display: none;

      @include breakpoint($desktop) {
        display: block;
      }
    }
  }

  .hours--label {
    @include icon(chevron#{$right}, after) {
      position: absolute;
      display: inline-block;
      color: $store_finder_search_results_tile_icon;
      font-size: 1.875rem;
      top: 0.5rem;
      #{$right}: 0.7rem;
      pointer-events: none;

      @include breakpoint($tablet) {
        #{$right}: 0.5rem;
      }
    }
  }

  .view-on--map {
    @include icon(map, after) {
      color: $store_finder_search_results_tile_icon;
      vertical-align: middle;
      font-size: 1.8rem;
      line-height: 1;
      top: 0.8rem;
      #{$right}: 0.8rem;
    }
  }

  .get--directions a::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('../imgs/icons/ic-directions.svg');
    #{$right}: 1rem;
    width: 18px;
    height: 18px;

    html[lang=ar] & {
      transform: scaleX(-1);
    }
  }

  .open--hours {
    display: none;
    line-height: 1.57;

    div {
      display: table;
      width: 100%;
    }

    .key-value-key,
    .key-value-value {
      display: table-cell;
    }

    .key-value-value {
      text-align: $right;
    }
  }

  + .ajax-progress-fullscreen {
    background-image: url(#{$base_theme_loader_img_directory_path});
  }

  #views-exposed-form-stores-finder-page-1 {
    @include breakpoint($only-mobile) {
      margin-bottom: 1rem;
    }
  }

  .view-display-id-page_1 {
    .store-mobile {
      &:first-child {
        border-top: 1px solid $store_finder_search_results_border;
      }

      @include breakpoint($tablet) {
        display: none;
      }
    }

    .individual--store .list-view-locator {
      display: block;
    }
  }

  .view-display-id-page_2 .view-display-id-page_1 {
    .store-mobile {
      display: none;
    }

    .list-view-locator {
      display: block;
    }
  }
}

.geolocation-common-map-container {
  .hours--wrapper {
    position: relative;
  }

  .views-field-title {
    span {
      font-size: 0.875rem;
      font-weight: bold;
    }
  }

  .views-field-field-store-address {
    font-size: 0.875rem;
    margin-top: 0.1875rem;
    margin-bottom: 0.5rem;
  }

<<<<<<< HEAD
  .gm-style-iw {
    & > div {
      min-height: 12rem;
    }
  }

  .scroll-fix {
    @include breakpoint($desktop) {
      min-width: 13.0625rem;
    }
  }

=======
>>>>>>> qa
  .hours--label,
  .hours--label::after {
    color: $store_finder_search_results_label;
    top: 0;
  }

  .hours--label {
    @include icon(chevrondown, after);
  }

  .hours--label.open {
    font-weight: bold;

    @include icon(chevronup, after);
  }

  .view-on--map,
  .get--directions {
    color: $store_finder_text;
    cursor: pointer;
    font-weight: 700;
    padding-bottom: 0.4rem;
  }

  .get--directions div::after {
    top: 0.5rem;
  }

  .hours--wrapper .hours--label,
  .hours--wrapper .open--hours,
  .view-on--map a,
  .get--directions a {
    padding: 0.5rem;
    padding-#{$left}: 0;
    padding-top: 0.5rem;
  }

  .open--hours {
    line-height: 1.57;
    margin-top: 0;
    padding-top: 0;
  }
}

.scroll-fix {
  overflow: hidden;
  white-space: nowrap;
  font-family: $arial;

  .location-content {
    white-space: normal;
  }
}

.path--store-finder .store-finder--wrapper .input--wrapper [id^=edit-actions] {
  @include breakpoint($desktop) {
    #{$right}: 0.5rem;
  }
}

.path--store-finder,
.nodetype--store {
  .store-finder--wrapper {
    .block-store-finder-form__form__label {
      width: auto;
    }

    .block-store-finder-form__input__wrapper {
      overflow: auto;
      width: auto;

      .form-item-geolocation-geocoder-google-places-api,
      .form-item-field-latitude-longitude-boundary-geolocation-geocoder-google-places-api {
        width: 100% !important;
      }
    }
  }
}
