.slick-slider > .i-dots.slick-dots {
  width: 6rem !important;
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 0.625rem auto;
  height: 0.75rem;
  position: relative !important;
  bottom: 2px !important;
}

ul.i-dots.slick-dots > .slick-dots-container {
  padding: 0;
  display: inline-flex;
  transition: all 0.25s;
  position: relative;
  margin: 0;
  height: 0.75rem;
  list-style: none;
  transform: translateX(0);
  align-items: center;
}

.i-dots .slick-dots-container > li {
  width: 0.6875rem !important;
  height: 0.6875rem !important;
  margin: 0 0.25rem !important;
  border: none !important;
  border-radius: 50% !important;
}

.i-dots .slick-dots-container > li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.3125rem;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.i-dots .slick-dots-container > li.p-small-1,
.i-dots .slick-dots-container > li.n-small-1 {
  width: 0.4375rem !important;
  height: 0.4375rem !important;
  margin-left: 0.375rem !important;
  margin-right: 0.375rem !important;
}

.i-dots .slick-dots-container > li.slick-active {
  width: 0.75rem !important;
  height: 0.75rem !important;
  margin-left: 3.5px !important;
  margin-right: 3.5px !important;
}
