{% extends "@alshaya_rcs_product/node--rcs-product--full.html.twig" %}

{% block afterDescription %}
  <div class="content--product-details no--desktop no--tablet">
    <div class="product-details">
      <div class="title">{{ 'Product Details'|t }}</div>
      <div class="product-details-desc-mobile"></div>
    </div>
  </div>
{% endblock %}
