$base_theme_fonts_directory_path: '/themes/custom/transac/alshaya_white_label/fonts';

@font-face {
  font-family: 'text-security-disc';
  src: url('#{$base_theme_fonts_directory_path}/text-security-disc.eot?Q4veI');
  src:
    url('#{$base_theme_fonts_directory_path}/text-security-disc.eot?Q4veI#iefix') format('embedded-opentype'),
    url('#{$base_theme_fonts_directory_path}/text-security-disc.ttf?Q4veI') format('truetype'),
    url('#{$base_theme_fonts_directory_path}/text-security-disc.woff?Q4veI') format('woff'),
    url('#{$base_theme_fonts_directory_path}/text-security-disc.svg?Q4veI#text-security-disc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.secure-input {
  font-family: 'text-security-disc';
}
