.mobile-number-field {
  width: 100%;

  .mobile-input--wrapper {
    position: relative;

    .form-item-mobile-number-mobile {
      &.form-item--error {
        .input--textual__container--errors {
          position: absolute;
          bottom: -0.2rem;
          #{direction(left)}: 0;
          line-height: 1;
          border-top: 0.125rem solid $venetian-red;
          padding-top: 0.5625rem;
          z-index: 1;

          html[lang=ar] & {
            left: 0;
            right: unset;
            padding-top: 0.625rem;
            width: 100%;

            @include breakpoint($upto-lap) {
              padding-top: 0.5625rem;
            }

            @include breakpoint($upto-palm) {
              padding-top: 0.5rem;
            }

            .form-item--error-message {
              text-align: right;
            }
          }

          @include breakpoint($upto-palm) {
            bottom: 0;
            padding-top: 0.5rem;
          }

          .form-item--error-message {
            @include breakpoint($upto-palm) {
              font-size: 0.625rem;
            }
          }
        }
      }
    }
  }
}

html[dir=rtl] {
  .mobile-number-field {
    .mobile-input--wrapper {
      width: 50%;

      @include breakpoint($upto-palm) {
        width: 65%;
      }

      .input--textual__container--errors {
        @include breakpoint($upto-palm) {
          bottom: -0.2rem;
        }
      }
    }
  }
}

.mobile-number-field {
  + div {
    position: relative;

    .input--textual__container--errors {
      position: absolute;
      top: 2.2rem;
    }
  }
}

html[dir=rtl] {
  .mobile-input--wrapper {
    .form-item-mobile-number-mobile {
      label {
        #{direction(right)}: -2.875rem;
      }
    }

    @include breakpoint($upto-palm) {
      display: flex;
      flex-flow: row wrap;

      .form-item-mobile-number-mobile {
        display: flex;
        flex: 1;

        .input--textual__container,
        .local-number {
          width: 100%;
        }
      }
    }
  }
}

.form-item-mobile-number-mobile {
  &.form-item--error {
    .input--textual__container {
      input.error {
        ~ .input__line {
          background: transparent;
          height: 0;

          html[lang=ar] & {
            background: $venetian-red;
          }
        }

        border: none;
      }
    }
  }
}
