// Header
//
// Markup: header.twig
//
// Style guide: component.header

/*
	SITE HEADER - TOP LEVEL MENU
*/

.no--display {
  @extend %is-hidden;
}

.c-menu-secondary {
  border-bottom: 1px solid $white;

  @include breakpoint($only-mobile) {
    display: none;
  }

  a {
    color: $brownish-grey;
  }

  .c-menu-secondary__region {
    text-align: $right;
    padding: 6.5px 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-#{$left}: 16px;
    padding-#{$right}: 35px;
    position: relative;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $peacock-blue;
    }
  }

  nav#block-alshaya-white-label-account-menu,
  #block-languageswitcher,
  .block-alshaya-stores-finder {
    display: inline-block;

    a {
      font-size: 0.75rem;
      padding-bottom: 1px;
    }
  }

  .menu,
  .block-alshaya-stores-finder {
    a {
      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 2px;
        right: -10px;
        left: -10px;
      }
    }

    .register-link::before {
      background: url('../imgs/assets/register.svg') no-repeat;
    }

    li:last-child a::before {
      background: url('../imgs/assets/sign-in.svg') no-repeat;
    }

    a.stores-finder::before {
      background: url('../imgs/assets/find-us.svg') no-repeat;
    }
  }

  .block-alshaya-stores-finder {
    display: inline-block;
    padding-#{$left}: 16px;
    padding-#{$right}: 35px;
    position: relative;

    a {
      color: $peacock-blue;
    }
  }

  #block-languageswitcher {
    position: relative;

    ul {
      &::before {
        content: '';
        background: url('../imgs/assets/lang.svg') no-repeat;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 2px;
        right: -10px;
        left: -10px;
      }

      .is-active {
        display: none;
      }
    }
  }
}

/*
	SITE HEADER - BRANDING
*/

header {
  position: relative;

  .c-header__region {
    margin: 15px 25px;
  }

  .region__header {
    display: flex;

    > div {
      flex: 1;
      vertical-align: middle;
    }
  }

  form,
  .block-cart-mini-block {
    margin-top: 20px;

    @include breakpoint($only-mobile) {
      margin-top: 0;
    }
  }

  #block-alshaya-white-label-search {
    text-align: center;

    @include breakpoint($only-tablet) {
      position: absolute;
      bottom: -60px;
      left: 35%;
    }

    @include breakpoint($only-mobile) {
      display: none;
    }

    .form-item-keywords,
    .form-actions {
      display: inline-block;
    }

    input[type="text"] {
      padding: 7.5px;
      vertical-align: middle;

      &::placeholder {
        font-size: 12px;
      }
    }

    #edit-submit-search {
      background: url('../imgs/assets/search.svg') 10px 6px no-repeat;
      border: none;
      background-color: $peacock-blue;
      text-indent: -9999px;
      width: 42px;
      height: 35px;
      text-align: center;
      margin-#{$left}: -5px;
    }

    label {
      display: none;
    }
  }

  .block-cart-mini-block {
    font-size: 0.875rem;
    text-align: $right;

    .total {
      font-weight: bold;
      display: inline-block;
      margin-#{$right}: 20px;

      .prefix {
        font-weight: normal;
        float: left;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 6px;
      }

      .total--amount {
        float: right;
      }
    }

    .cart-link {
      background: url('../imgs/assets/cart.svg') no-repeat;
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;
      margin-bottom: -2px;
    }

    .quantity {
      position: absolute;
      background: url('../imgs/assets/indicator-shape.svg') no-repeat;
      color: $white-five;
      text-align: center;
      width: 24px;
      height: 24px;
      bottom: -8px;
      left: 4px;
      border-radius: 50%;
      padding: 5px;
    }
  }
}

/*
	SITE MAIN MENU
*/

.c-menu-primary {
  .region__menu-primary {
    margin: 15px 25px;
  }

  .block-system-menublock {
    float: $right;

    .store {
      text-decoration: none;

      &::before {
        content: '';
        background: url('../imgs/assets/store--big.svg') no-repeat;
        display: inline-block;
        width: 16px;
        height: 24px;
        position: absolute;
        top: -3px;
        right: -23px;
        left: -23px;
      }
    }

    ul {
      padding: 0;
    }

    li {
      position: relative;
      list-style: none;
    }
  }
}
