.c-menu-secondary {
  @include breakpoint($only-tablet) {
    max-width: 16.875rem;
  }

  @include breakpoint($upto-desktop) {
    background: $white-five;
    display: none;
    position: fixed;
    width: 270px;
    height: 100%;
    z-index: 4;
    top: 2.9375rem;
  }

  @include breakpoint($desktop) {
    text-align: $right;

    .c-menu-secondary__region {
      @include container(1284px);

      margin: 0 auto;
    }
  }

  background: $white-four;
  text-transform: lowercase;

  &.block--display {
    z-index: 1000;
  }

  ul {
    @extend %list-clear;
  }

  .menu--account {
    li {
      @include breakpoint($desktop) {
        @at-root {
          &:first-child {
            .logged-out & {
              @include u-visibility(none);
            }
          }
        }
      }
    }
  }

  li {
    @include breakpoint($upto-desktop) {
      @include icon(chevron#{$right}, after) {
        #{$right}: 0;
        color: $marine-blue-two;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.313rem;
        cursor: pointer;
        pointer-events: none;
      }

      &:last-child {
        @include u-visibility(none);
      }

      border-bottom: 1px solid #ddd;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      position: relative;
    }

    @include breakpoint($desktop) {
      display: inline-block;
      height: 1.5rem;
    }
  }

  a {
    font-family: $alshaya-thin;

    @include breakpoint($upto-desktop) {
      color: $grey-ash;
      display: block;
      font-size: 0.75rem;
      line-height: 3.1215rem;
    }

    @include breakpoint($desktop) {
      color: $greyish;
      display: block;
      padding-top: 0.075rem;
      padding-bottom: 0.075rem;
      padding-#{$left}: 1.375rem;
      padding-#{$right}: 1.438rem;
      height: 1.5rem;
      font-size: 0.6875rem;
      vertical-align: middle;
    }

    line-height: 1;

    &:hover,
    &.is-active {
      color: $marine-blue-two;
      background: $white-five;
    }

    &::before,
    &::after {
      font-size: 1.1rem;
      padding-#{$right}: 0.5rem;
      position: relative;
      top: 0.125rem;
    }

    &.register-link {
      margin-#{$right}: -0.3125rem;
    }
  }

  .block-alshaya-stores-finder {
    margin-#{$right}: -0.3125rem;
  }

  .menu--account,
  .block-alshaya-stores-finder,
  .block-language-blocklanguage-interface {
    @include breakpoint($desktop) {
      display: inline-block;
      height: 1.5rem;
    }
  }

  .block-alshaya-stores-finder,
  .block-language-blocklanguage-interface {
    @include breakpoint($upto-desktop) {
      display: none;
    }
  }

  .menu--account {
    @include breakpoint($desktop) {
      .register-link,
      li:first-child a {
        @include icon(user);
      }

      li:last-child a {
        @include icon(login);

        @at-root {
          .logged-in & {
            @include icon(logout);
          }
        }
      }
    }
  }

  .stores-finder {
    @include breakpoint($desktop) {
      @include icon(mappin);
    }
  }

  .block-language-blocklanguage-interface {
    @include breakpoint($desktop) {
      .ar a {
        @include icon(language);

        font-family: $alshaya-arabic-thin;
      }

      .en a {
        @include icon(language, after);

        font-family: $alshaya-arabic-thin-nodir;
      }
    }

    .is-active {
      @include u-visibility(none);
    }
  }
}

.c-my-account-nav {
  @include breakpoint($only-tablet) {
    width: 270px !important;
  }

  display: none;

  ul {
    @extend %list-clear;
  }

  h3 {
    color: $marine-blue-two;
    font-size: 12px;
    padding: 0.94rem 0;
    margin: 0 0.625rem;
    border-bottom: 1px solid $white;
    text-transform: lowercase;
    font-weight: normal;
    font-family: $alshaya-bold;
  }

  position: fixed;
  width: 16.875rem;
  top: 2.9375rem;
  background: $white-five;
  height: 100%;
  z-index: 1000;
  padding: 0;

  a {
    &::before {
      margin: 0;
    }
  }

  li {
    display: block;
    font-family: $alshaya-thin;
    border-bottom: 1px solid $white;
    padding: 0.94rem 0;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    text-align: $left;
    position: relative;

    &:hover {
      background: none;

      a {
        color: $brownish-grey;
      }
    }

    &::after {
      content: '';
      background: url(../imgs/icons/ic-chevronright-copy-9.svg);
      position: absolute;
      #{$right}: 0.3125rem;
      width: 6px;
      height: 10px;
      top: 20px;
    }

    &.my-account {
      display: none;
    }
  }
}

.contains-sublink .menu__link {
  @include breakpoint($upto-desktop) {
    pointer-events: none;
  }
}

.menu--three__list-item {
  .menu--three__link {
    position: relative;

    @include breakpoint($upto-desktop) {
      @include icon(chevron#{$right}, after) {
        position: absolute;
        color: $marine-blue;
        #{$right}: 0;
        font-size: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .contains-sublink .menu--three__link {
    &::after {
      @include breakpoint($upto-desktop) {
        content: none;
      }
    }
  }
}

.branding__menu.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: $white-five;
}

.branding__menu {
  position: relative;
  z-index: 6;
  background-color: $white-five;

  @include breakpoint($upto-desktop) {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.mobile--overlay .branding__menu {
  z-index: 5;
  background: transparent;

  &.navbar-fixed-top {
    position: fixed;
  }

  &::before {
    content: '';
    background: rgba(133, 133, 133, 0.27);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 6;
    top: 0;
    bottom: 0;
  }
}

.header--fixed {
  @include breakpoint($desktop) {
    margin-top: 9.75rem;
  }
}

body {
  @include breakpoint($only-mobile) {
    margin-top: 5.5625rem;
  }

  @include breakpoint($only-tablet) {
    margin-top: 8.6875rem;
  }
}

.block-alshaya-main-menu .active--menu--links {
  li.menu--one__list-item ul.menu--two__list {
    @include breakpoint($desktop) {
      display: block;
      transition: all ease-in 0s;
    }
  }
}

.logged-in .menu--account li:first-child {
  margin-#{$right}: -0.3125rem;
}

html[lang='ar'] {
  .menu--account {
    margin-#{$right}: -0.375rem;

    a.register-link {
      margin-#{$right}: -0.375rem;
    }
  }
}
