@include breakpoint($desktop) {
  .no--desktop,
  .toggle--sign.no--desktop {
    display: none;
  }

  .header--wrapper {
    position: relative;
    background: $white-five;
    z-index: 3;
  }

  .first--child_open {
    > .menu-two__link-wrapper {
      background-color: $marine-blue;

      &::after {
        background: url('../imgs/icons/icon-chevron-next--hover.svg') no-repeat !important;
      }

      a,
      p {
        color: $white-five !important;
      }
    }

    .menu--three__list {
      display: block !important;
    }
  }
}

@include breakpoint($only-mobile) {
  .acq-mini-cart {
    .total {
      display: none !important;
    }
  }
}

.block--display {
  display: block !important;
}

/*
	SITE HEADER - BRANDING
*/

header {
  position: relative;

  .c-header__region {
    margin: 1.3625rem 1.5625rem;
    margin-bottom: 0;
    padding-bottom: 1.3625rem;
  }

  .region__header {
    display: table;
    width: 100%;

    > div {
      display: table-cell;
      vertical-align: middle;
    }

    @include breakpoint($only-mobile) {
      .block-system-branding-block {
        width: 50%;
      }
    }
  }

  form,
  .block-cart-mini-block {
    @include breakpoint($only-mobile) {
      margin-top: 0;
    }
  }

  #block-alshaya-white-label-search,
  .block-views-exposed-filter-blocksearch-page {
    @include breakpoint($only-tablet) {
      position: absolute;
      text-align: center;
      bottom: -43px;
      #{$left}: 0;
      #{$right}: 0;

      .form-item-keywords {
        float: none !important;
      }
    }

    @include breakpoint($only-mobile) {
      display: none !important;
    }

    .form-item-keywords,
    .form-actions {
      display: inline-block;
      float: none !important;
    }

    input[type="text"] {
      font-family: $alshaya-thin;
      padding: 7.5px;
      vertical-align: bottom;
      height: 35px;
      text-transform: lowercase;
      max-width: 280px;
      border: 1px solid $white;
      background-image: none;

      &::placeholder {
        font-size: 12px;
      }
    }

    #edit-submit-search,
    #edit-submit-search--2 {
      background: $marine-blue url('../imgs/assets/search.svg') 10px 7px no-repeat;
      border: none;
      text-indent: -9999px;
      width: 42px;
      height: 35px;
      text-align: center;
      margin-#{$left}: -5px;
      vertical-align: bottom;
      display: inline-block;
    }

    label {
      display: none;
    }

    .form-item--error-message {
      @include u-visibility(none);
    }
  }

  .block-cart-mini-block {
    font-size: 0.875rem;
    text-align: $right;
    color: $black;

    .total {
      display: inline-block;
      margin-#{$right}: 20px;

      .prefix {
        font-weight: normal;
        float: $left;
        display: inline-block;
        vertical-align: bottom;
        margin-#{$right}: 6px;
      }

      .total--amount {
        float: $right;
      }
    }

    .cart-link {
      background: url('../imgs/icons/basket.svg') no-repeat;
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;
      margin-bottom: -2px;

      @include breakpoint($only-mobile) {
        background-size: 22px;
      }
    }

    .quantity {
      font-size: 10px;
      position: absolute;
      background: $pumpkin-orange;
      color: $white-five;
      text-align: center;
      bottom: -8px;
      #{$left}: -4px;
      border-radius: 50%;
      padding: 5px 7px;

      @include breakpoint($only-mobile) {
        bottom: 4px;
        #{$left}: -3px;
        padding: 3px 5px;
        font-size: 8px;
      }
    }
  }
}

/*
	SITE MAIN MENU
*/

.c-menu-primary {
  .region__menu-primary {
    margin-top: 0.9375rem;
  }

  .block-system-menublock {
    ul {
      padding: 0;
    }

    li {
      position: relative;
      list-style: none;
    }
  }

  .form-item-sort-bef-combine {
    display: none;
  }
}

/*
	SITE HEADER - MOBILE MENU
*/

.c-menu-primary {
  display: none;

  #block-exposedformsearchpage,
  .block-views-exposed-filter-blocksearch-page {
    display: none;

    label {
      display: none;
    }

    .form-item,
    input {
      width: 100%;
    }

    input {
      padding: 1.0625rem !important;
      border: 0;
      background-image: none;
    }

    #edit-actions,
    #edit-actions--3 {
      display: none;
    }

    form {
      background: $marine-blue;
      padding: 0.625rem;
    }
  }

  @include breakpoint($only-tablet) {
    .mobile--search {
      display: none;
    }

    .store {
      float: $right;
      margin-#{$right}: 1.5625rem;
    }

    .mobile--menu {
      float: $left;
      margin-#{$left}: 1.5625rem;
    }
  }

  @include breakpoint($upto-desktop) {
    display: block;

    a {
      text-decoration: none;
      color: $brownish-grey;
      font-size: 12px;
      display: block;

      &::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        margin-#{$right}: 10px;
      }
    }

    .store {
      &::before {
        background: url('../imgs/icons/store--big.svg');
        width: 16px;
        height: 23px;
      }
    }

    .mobile--menu {
      &::before {
        background: url('../imgs/icons/mobile-menu.svg');
        width: 24px;
        height: 13px;
      }
    }
  }

  @include breakpoint($only-mobile) {
    display: block;

    .store {
      &:hover {
        &::before {
          background: url('../imgs/icons/store--big--hover.svg');
        }
      }
    }

    .mobile--menu {
      &:hover {
        &::before {
          background: url('../imgs/icons/mobile-menu--hover.svg');
        }
      }
    }

    ul.menu {
      display: table;
      width: 100%;
      margin: 0;
    }

    li {
      display: table-cell;
      text-align: center;
      padding: 0.9375rem 0;

      &:hover {
        background: $marine-blue;

        a {
          color: $white-five;
        }
      }

      .mobile--search {
        &::before {
          background: url('../imgs/icons/ic-search.svg');
          width: 22px;
          height: 22px;
        }

        &:hover {
          &::before {
            background: url('../imgs/icons/ic-search--hover.svg');
          }
        }
      }
    }
  }
}

/*
	SITE HEADER - MAIN NAVIGATION
*/
.mobile--menu {
  font-size: 0.75rem;
  color: $black-two;
}

.main--menu {
  @include breakpoint($desktop) {
    display: block !important;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

@include breakpoint($desktop) {
  .block-alshaya-main-menu {
    position: relative;
    z-index: 4;

    @include breakpoint($upto-desktop) {
      .main--menu {
        display: none;
      }
    }

    li {
      list-style: none;
    }

    ul.menu--one__list {
      display: table !important;
      width: 100%;
      margin: 0;
      padding: 0;
      background: $white-five;
    }

    li.menu--one__list-item {
      display: table-cell;
      vertical-align: top;
      list-style: none;
      text-align: center;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      padding: 10px;
      text-transform: lowercase;

      &.active {
        background: $white-five !important;
        border-top: 2px solid $peacock-blue !important;
      }

      a {
        font-family: $alshaya-thin;
      }

      &:hover {
        border-top: 2px solid $marine-blue;
        border-bottom: 0;

        ul.menu--two__list {
          display: block;
        }

        a.menu--one__link {
          font-family: $alshaya-bold;
          color: $marine-blue;
        }
      }

      a {
        font-size: 0.75rem;
        color: $black-two;
        text-decoration: none;
      }

      ul {
        display: none;
      }
    }
  }

  .menu--two__list {
    position: absolute;
    width: 100%;
    text-align: $left;
    top: 40px;
    #{$left}: 0;
    #{$left}: 0;
    padding-top: 1.5625rem !important;
    background: $white-five;
    z-index: 10;

    a {
      color: $peacock-blue;

      &:hover {
        color: $peacock-blue !important;
      }
    }

    .menu--two__list-item {
      line-height: 1;

      > .menu-two__link-wrapper {
        font-family: $alshaya-bold;
        display: inline-block;
        padding: 1.5rem 1.563rem;
        width: 210px;
        position: relative;
        vertical-align: top;
        z-index: 10;

        a {
          font-family: $alshaya-bold;
          color: $marine-blue;

          &:hover {
            color: $white-five !important;
          }
        }

        p {
          font-family: $arial;
          font-size: 12px;
          margin: 0;
          margin-top: 6px;
          color: $brownish-grey;
        }

        &:hover {
          background-color: $marine-blue;

          a,
          p {
            color: $white-five;
          }
        }

        &::after {
          content: '';
          background: url('../imgs/icons/icon-chevron-next.svg');
          width: 8px;
          height: 17px;
          position: absolute;
          #{$right}: 10px;
          top: 39%;
        }

        &:hover {
          &::after {
            background: url('../imgs/icons/icon-chevron-next--hover.svg');
          }
        }
      }

      .menu-two__link {
        font-size: 14px;
      }

      &:hover {
        ul.menu--three__list {
          display: block;
        }
      }

      .menu--three__list {
        width: 100%;
        min-height: 100%;
        vertical-align: top;
        margin-bottom: 1.563rem;
        position: absolute;
        background: $white-five;
        top: 0;
        padding-#{$left}: 16rem;
        margin-top: 1.5625rem;

        p {
          display: none;
        }

        li {
          padding: 0.3125rem 0;
          vertical-align: top;

          a {
            color: $brownish-grey;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .overlay::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100;
    top: 0;
    #{$left}: 0;
    bottom: 0;
    #{$left}: 0;
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 3;
  }

  .menu--four__list {
    display: block !important;
  }

  .level--three {
    font-size: 14px !important;
    color: $peacock-blue !important;
    margin-bottom: 0.5rem;
  }

  .menu__in,
  .back--link {
    display: none;
  }

  .menu--three__list-item {
    min-width: 9rem;
    max-width: 10rem;
    display: inline-block;
    margin-#{$right}: 2rem;
    margin-bottom: 1.5rem;

    > .menu-two__link-wrapper a {
      font-family: $alshaya-bold !important;
      font-size: 0.875rem !important;
      color: $marine-blue !important;
      margin-bottom: 0.5rem;
    }
  }

  .highlights {
    vertical-align: top;
    display: inline-block;
    width: 39%;
    margin-top: 5px;

    div:nth-child(2) {
      margin-#{$right}: 24px;
      float: $left;
    }

    .highlighted {
      display: inline-block;
      max-width: 11.5rem;
      vertical-align: top;
    }

    .title {
      font-family: $alshaya-bold;
      display: block;
      font-size: 14px;
      color: $marine-blue;
      margin-bottom: 0.8rem;
    }
  }

  .level-three__wrapper {
    width: 58%;
    display: inline-block;
  }
}

@include breakpoint($upto-desktop) {
  .highlights {
    display: none;
  }

  .mobile--overlay {
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      z-index: 4;
      width: 100%;
      height: 100;
      top: 0;
      #{$left}: 0;
      bottom: 0;
      #{$left}: 0;
      background-color: rgba(0, 0, 0, 0.48);
    }
  }

  .main--menu {
    display: none;

    ul.menu--one__list {
      background: $white-five;
      width: 79.9%;
      height: 100%;
      position: fixed;
      top: 50px;
      z-index: 20;
      overflow-y: scroll;
      margin-top: 0;
    }
  }

  .main--menu a {
    font-family: $alshaya-thin;
    font-size: 12px;
    text-decoration: none;
    color: $brownish-grey;
    display: block;
  }

  .menu__list-item {
    border-bottom: 1px solid $white;
    margin-#{$left}: 0.625rem;
    margin-#{$right}: 0.625rem;
    font-family: $alshaya-bold;
    color: $marine-blue;
    display: block;
    font-size: 12px;
    padding: 0.9375rem 0.625rem 0.9375rem 0;
    text-transform: lowercase;
  }

  .menu--one__list-item {
    p {
      display: none;
    }
  }

  .menu--two__list-item {
    padding: 0;
    border: 0;

    > .menu-two__link-wrapper {
      border-bottom: 1px solid $white;
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
    }

    .menu__in {
      margin-top: -30px;
    }

    .menu--three__list-item {
      padding: 0;
      border: none;
    }
  }

  .menu--three__list-item {
    > .menu-two__link-wrapper {
      border-bottom: 1px solid $white;
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
    }
  }

  .menu--three__list-item,
  .menu--four__list-item {
    margin-#{$left}: 0;
    margin-#{$right}: 0;
  }

  .menu__in {
    background: url('../imgs/icons/ic-chevronright-copy-9.svg') no-repeat;
    float: $right;
    margin-top: -14px;
  }

  .menu__back {
    background: url('../imgs/icons/ic-chevronleft.svg') no-repeat;
    margin-#{$right}: 0.625rem;
  }

  .menu__in,
  .menu__back {
    width: 7px;
    height: 11px;
    display: inline-block;
  }

  .menu__list--active {
    position: absolute;
    top: 0;
    background: white;
    display: block !important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .menu--two__list,
  .menu--three__list,
  .menu--four__list {
    will-change: transform;
    transform: translate(#{negate-value(-100)+'%'}, 0); /* stylelint-disable-line */
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    display: block !important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    height: auto !important;
    background: $white-five;
  }

  .menu-two__link-wrapper a.menu-two__link {
    color: $marine-blue;
  }

  .menu--two__list.menu__list--active {
    span.back--link {
      display: block;
    }

    .menu--three__list.menu__list--active {
      span.back--link {
        display: block !important;
      }

      .menu--three__list-item .menu__in {
        margin-#{$right}: 0.625rem;
      }

      .menu--four__list {
        span.back--link {
          display: none;
        }
      }
    }

    .menu--three__list {
      span.back--link {
        display: none !important;
      }

      &.menu__list--active {
        .menu--four__list-item,
        .menu-two__link-wrapper {
          margin-#{$left}: 0.625rem;
          margin-#{$right}: 0.625rem;
        }
      }
    }
  }
}

.mobile--close {
  background: $white-five;
  position: fixed;
  top: 9px;
  #{$left}: 81.5%;
  width: 35px;
  height: 32px;
  z-index: 12;
  text-align: center;
  padding-top: 4px;

  span {
    background: url('../imgs/icons/ic-close.svg') center center no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 17px;
  }
}

.toggle--sign {
  @include breakpoint($only-mobile) {
    color: $black;
  }

  position: fixed;
  top: 0;
  width: 80%;
  background: $white;
  z-index: 10;
  display: table;

  .one {
    @include breakpoint($only-tablet) {
      font-family: $alshaya-bold;
    }

    font-family: $alshaya-thin;
    font-size: 14px;
    padding: 1rem 2rem;
    display: table-cell;
    text-align: center;
  }

  .active {
    font-family: $alshaya-bold;
    color: $marine-blue;
    background: $white-five;
    text-align: center;
  }
}

// Tablet Specific menu width
@include breakpoint($only-tablet) {
  .toggle--sign {
    width: 270px;
  }

  .mobile--close {
    #{$left}: 280px;
  }

  .main--menu ul.menu--one__list {
    width: 270px;
  }
}

// Toggle between Accounts
@include breakpoint($upto-desktop) {
  .remove--toggle {
    display: none !important;
  }
}

.logged-out {
  .account--logged_in {
    display: none;
  }
}

.logged-in {
  .account {
    display: none;
  }

  .toggle--sign {
    top: 40px;
  }

  ul.menu--one__list {
    top: 90px;
  }

  .mobile--close {
    top: 50px;
  }

  @include breakpoint($desktop) {
    .block-alshayamyaccountlinks {
      display: none;
    }
  }
}

//Highlights fix
.highlighted {
  @media only screen and (min-device-width: 1195px) and (max-device-width: 1275px) {
    max-width: 10.5rem;
  }

  @media only screen and (min-device-width: 1020px) and (max-device-width: 1195px) {
    max-width: 9.5rem;
  }
}

.site-brand-home {
  margin: 0;

  a {
    display: block;
  }
}

.html--overlay {
  @include breakpoint($upto-desktop) {
    overflow: hidden;
  }
}

@include breakpoint($upto-desktop) {
  .main--menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: transform 0.5s ease-in-out;
    transform: translate(#{negate-value(-100)+'%'}, 0); /* stylelint-disable-line */
    will-change: transform;
  }

  .menu--active,
  .menu__list--active {
    transform: translate(0, 0) !important;
  }
}
