.labels-container {
  .label {
    &.top {
      &-left {
        @include breakpoint($desktop) {
          top: 0;
          #{$left}: 1rem;
          #{$right}: inherit;

          .cloudzoom.thumbnail-count-1 & {
            #{$left}: 8.5rem;
          }
        }

        @include breakpoint($only-mobile) {
          top: 0;
          #{$left}: 0;
          #{$right}: inherit;
        }

        @include breakpoint($only-tablet) {
          top: 0.5rem;
          #{$left}: 0.9375rem;
          #{$right}: inherit;
        }
      }

      &-right {
        @include breakpoint($desktop) {
          top: 0;
          #{$right}: 1rem;
          #{$left}: inherit;

          .cloudzoom.thumbnail-count-1 & {
            #{$right}: 8.5rem;
          }
        }

        @include breakpoint($only-mobile) {
          top: 0;
          #{$right}: 0;
          #{$left}: inherit;
        }

        @include breakpoint($only-tablet) {
          top: 0;
          #{$right}: 0;
          #{$left}: inherit;
        }
      }
    }

    &.bottom {
      &-left {
        @include breakpoint($desktop) {
          #{$left}: 1rem;
        }
      }

      &-right {
        @include breakpoint($desktop) {
          #{$right}: 1rem;
        }
      }
    }
  }
}

.gallery-wrapper {
  .labels-container {
    .label {
      &.bottom {
        &-left,
        &-right {
          bottom: 0;
        }
      }
    }

    &.top {
      &-right {
        @include breakpoint($only-tablet) {
          #{$left}: inherit;
        }
      }
    }
  }
}

.acq-content-product-modal {
  .labels-container {
    .label {
      z-index: 5;
    }
  }
}

.view-product-slider {
  .slick-slider {
    .slick-slide {
      .labels-container {
        .label {
          &.top {
            &-left {
              top: 0.5rem;
              #{$left}: 1rem;
            }
          }
        }
      }
    }
  }
}
