.acq-content-product,
.acq-content-product-modal {
  font-family: $bp-light;

  .content__title_wrapper {
    .vat-text {
      font-family: $bp-light;
    }
  }
}

.acq-content-product-modal {
  .sku-base-form {
    > #configurable_ajax ~ button {
      @include breakpoint($only-tablet) {
        margin-top: 1.4375rem;
        min-width: 9rem;
        width: 62%;
      }
    }
  }

  .c-products__item__label {
    font-size: 1rem;
  }
}

// Title wrapper
.content {
  &__title_wrapper {
    font-family: $alshaya-thin;

    @include breakpoint($only-mobile) {
      text-align: center;
    }

    .brand-logo-wrapper {
      float: none;

      @include breakpoint($only-mobile) {
        margin: 0 auto;
      }
    }

    h1 {
      width: 100%;

      @include breakpoint($only-mobile) {
        text-align: center;
      }

      span {
        text-transform: none;
        font-size: 1.25rem;
        font-family: $alshaya-bold;
      }
    }

    .price {
      margin-bottom: 0.5rem;
      font-size: 1.125rem;
    }

    .price-type__wrapper > .price {
      margin-#{$right}: 0.1875rem;
    }

    .price--discount {
      font-size: 1.125rem;
      margin-top: 0;
    }

    .promotions {
      margin-bottom: 0;
    }

    .content--item-code {
      font-family: $bp-light;
    }

    .delivery-in-only-city,
    .same-day-delivery {
      @include breakpoint($only-mobile) {
        justify-content: center;

        .same-day-content {
          text-align: $left;
        }
      }
    }
  }

  &__main {
    .gallery-wrapper {
      @include breakpoint($only-mobile) {
        min-height: 23.5625rem;
      }
    }
  }

  &__sidebar {
    .non-refundable--tooltip-wrapper {
      .tooltip--wrap {
        .non-refundable--text {
          font-family: $alshaya-thin;
          font-size: 0.875rem;
          text-decoration: none;

          @include icon(infomation, before) {
            font-weight: normal;
            position: relative;
            margin-#{$right}: 0;
            top: -0.125rem;
          }
        }
      }
    }
  }
}

.basic-details-wrapper {
  .field--name-field-skus {
    .sku-base-form {
      button[type="submit"] {
        @extend %button-wide;

        text-transform: none;

        @include breakpoint($desktop) {
          width: 69%;
          margin-#{$left}: 0.5rem;
        }

        @include breakpoint($tablet) {
          float: $right;
          margin-top: 1.375rem;
        }

        @include breakpoint($only-tablet) {
          width: 64%;
          min-width: 9.5rem;
        }

        @include breakpoint($only-mobile) {
          height: 2.8125rem;
        }
      }

      .form-item {
        padding: 1rem 0 0;
      }
    }

    .form-item-quantity {
      @include select-wrapper(5rem);

      @include breakpoint($only-mobile) {
        @include select2-style(100%);
      }

      select.form-select {
        @include select-style(5rem);

        @include breakpoint($only-mobile) {
          @include select-style(100%);
        }
      }

      .select2-container {
        @include select2-style(5rem);

        @include breakpoint($only-mobile) {
          @include select2-style(100%);
        }

        .select2-selection {
          &__arrow {
            &::after {
              display: none;
            }
          }

          .select2-selection__rendered {
            line-height: 2.5;
          }
        }
      }
    }
  }
}

.select2Option {
  display: block;

  h4.list-title {
    font-size: 0.875rem;

    @include breakpoint($only-mobile) {
      text-align: center;
    }

    span {
      &:first-of-type {
        color: $primary_input_label;
      }
    }
  }

  .selected-text {
    font-family: $alshaya-bold;
    font-weight: normal;
  }
}

.short-description-wrapper,
.delivery-options-wrapper {
  .field {
    &__label {
      font-family: $alshaya-bold;
      font-weight: normal;
      font-size: 0.875rem;
    }

    &__content {
      font-size: 0.75rem;

      .desc-wrapper {
        .desc-label,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @include breakpoint($only-mobile) {
            margin: 0.625rem 0;
          }
        }

        .desc-value {
          ul {
            padding-#{$left}: 1rem;
            margin: 0;
          }
        }
      }
    }
  }

  .c-accordion__title {
    text-transform: none;
    line-height: 1;
    height: auto;
    padding-top: 0.625rem;
    font-family: $bp-light;
    padding-bottom: 0.25rem;

    .subtitle {
      font-size: 0.75rem;
      padding-bottom: 0.1875rem;
      font-family: $bp-light;
    }
  }

  .read-more-description-link,
  .read-more-description-link-gift,
  .read-more-description-link-mobile {
    font-weight: normal;
    font-size: 0.75rem;
    font-family: $bp-light;
  }
}

.short-description-wrapper {
  .show-less-link {
    @include breakpoint($only-mobile) {
      line-height: 2.5;
      font-size: 0.75rem;
      font-family: $bp-light;
    }
  }

  .field {
    &__label {
      @include breakpoint($only-mobile) {
        margin-bottom: 0;
      }
    }

    &__content {
      .desc-wrapper {
        .desc-label {
          @include breakpoint($only-mobile) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.delivery-options-wrapper {
  .c-accordion_content {
    .delivery-option-title {
      font-family: $bp-light;
      padding-top: 0;

      span {
        color: $pdp_accordion_delivery_option_text;
      }
    }
  }
}

.store-finder-form-wrapper {
  span {
    &.label {
      font-family: $bp-light;
    }
  }

  .search-store {
    button {
      height: 2.5rem;
      border-top-#{$right}-radius: 0.1875rem;
      border-bottom-#{$right}-radius: 0.1875rem;
    }

    input[type="text"] {
      height: 2.5rem;
      border-top-#{$left}-radius: 0.1875rem;
      border-bottom-#{$left}-radius: 0.1875rem;
      border-#{$right}: 0;
    }
  }
}

.click-collect-form,
.click-collect-empty-selection {
  label,
  .text p {
    font-family: $bp-light;
  }

  strong {
    color: $pdp_free_delivery_text;
  }
}

.description-wrapper {
  .field__label,
  .desc-label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $alshaya-bold;
    font-size: 0.875rem;
    font-weight: normal;
  }

  .field__label {
    padding-bottom: 0.75rem;
  }

  .desc-value,
  .text {
    padding-top: 0;
    font-size: 0.75rem;

    p {
      margin-top: 0;
    }
  }

  .desc-value {
    ul {
      padding-#{$left}: 1rem;
      margin: 0;
    }
  }

  .desc-wrapper {
    border-color: $pdp_desc_wrapper_title_border;
  }
}

// Rearranging quantity on PDP for simple products
article[gtm-sku-type="simple"] {
  .acq-content-product {
    .sku-base-form {
      button[type="submit"] {
        @include breakpoint($only-tablet) {
          height: 2.5rem;

          html[lang="ar"] & {
            float: left;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
