#alshaya-algolia-search {
  .c-page-title {
    font-family: $bbw-thin;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.75rem 0 1.875rem;
    height: auto;

    @include breakpoint($only-mobile) {
      padding: 0.75rem 0;
    }
  }

  .c-content__region {
    .sticky-filter-wrapper {
      .c-collapse-item {
        .c-collapse__title {
          text-transform: capitalize;

          &::after {
            color: $primary_dropdown_arrow;
            top: 49%;
          }
        }
      }
    }

    .filter__inner {
      .c-collapse-item {
        .facet-item__value {
          text-transform: capitalize;
          display: inline-block;
          color: $plp_item_label;

          &::before {
            color: $primary_checkbox_empty;
          }
        }
      }
    }

    .all-filters-algolia {
      .filter__foot {
        .facet-clear-all {
          text-transform: uppercase;
        }
      }
    }
  }
}
