// Copy colors from alshaya_white_label and modify those as per requirement.
$black: #000;
$white: #fff;
$eerie-black: #1b1b1b;
$black-two: #333;
$black-three: #131313;
$outer-space: #444;
$gray: #ccc;
$dark-gray: #999;
$brownish-grey: #666;
$bright-gray: #eee;
$silver-gray: #b6b6b6;
$gray-98: #fafafa;
$pale-taupe: #b89978;
$blood: #a81313;
$lust-red: #e51b23;
$green: #39b54a;
$jungle-green: #26a69a;
$blue-cola: #007fdb;
$bright-blue: #2182d5;

// Global elements.
$primary_text: $outer-space;
$primary_link: $eerie-black;
$content_pagetitle: $outer-space;
$content_pagetitle_border: $gray;
$primary_link-hover: $eerie-black;
$primary_link-active: $eerie-black;
$primary_border: $bright-gray;
$content_link_color: $eerie-black;
$secondary_link: $black-three;

// Form elements.
$primary_form_selector_border: $outer-space;
$primary_form_selector: $black-two;
$primary_form_link: $outer-space;
$primary_form_input_text: $black-two;
$primary_input_label: $dark-gray;
$primary_input_border: $outer-space;
$primary_input_disabled: $brownish-grey;
$primary_input_focus_border: $black;
$primary_input_inline_error: $lust-red;

// Form Items
$formitem_label: $dark-gray;

//Buttons.
$primary_btn_bg: $outer-space;
$primary_empty_btn: $white;
$primary_empty_btn_border: $outer-space;
$primary_brand_button: $outer-space;
$primary_button_disabled: $brownish-grey;
$returned_btn_bg: $bright-gray;
$complete_btn_bg: $green;

// Checkbox & Radio.
$primary_checkbox_empty: $outer-space;
$primary_checkbox_filled: $outer-space;
$primary_radiobtn_label: $dark-gray;
$primary_radiobtn_empty: $outer-space;
$primary_radiobtn_filled: $outer-space;

// User Form
$user_field_link: $outer-space;

// Tables.
$primary_th_bg: $brownish-grey;
$primary_td_highlight3: $bright-gray;
$primary_td_bg_highlight: $brownish-grey;
$primary_table_border: $bright-gray;
$highlights_subtitle_hover: $outer-space;

// Dropdown.
$primary_dropdown_arrow_bg: transparent;
$primary_dropdown_text: $black-two;
$primary_dropdown_border: $outer-space;
$primary_dropdown_option_hover: $bright-gray;
$primary_dropdown_option_border: $bright-gray;
$primary_dropdown_option_disbled: $bright-gray;
$primary_dropdown_arrow_icon: $outer-space;

//Buttons.
$primary_btn_bg: $outer-space;
$primary_brand_button: $outer-space;
$primary_brand_button_text: $white;
$primary_brand_button: $outer-space;

// Footer
$footer_border_top: $bright-gray;
$footer_title_h3: $eerie-black;
$primary_footer_input_label: $eerie-black;
$footer_link_mobile: $eerie-black;
$footer_link: $eerie-black;
$footer_link_hover: $eerie-black;
$social-icons-bg: $bright-gray;

// Titles.
$page_title: $outer-space;
$block_title: $outer-space;
$title: $outer-space;
$sub_title: $outer-space;
$label_black: $black-two;
$label_dark: $black;
$user_sidebar_block_title: $outer-space;

// Copyright
$copyright_footer_bg: $bright-gray;
$copyright_footer_paragraph: $black-two;

// Newsletter-signup
$newsletter_submit_btn: $primary_btn_bg;
$newsletter_success: $green;
$newsletter_input_bg: $bright-gray;

// Social links
$social_links_h3: $eerie-black;

// Accordion
$accordion_border: $bright-gray;

// Language Switcher
$lang_switch: $black-two;
$lang_switch_active: $black;

// Header.
$header_border: $bright-gray;
$header_search_active_bg: $white;

// Header secondary: ie: top header.
$header_secondary_bg: $bright-gray;
$header_secondary_bg_upto_desk: $bright-gray;
$header_secondary_menu_link_mobile: $black-two;
$header_secondary_menu_link: $black-two;

// Header my account nav.
$header_my_account_h3_title: $black-two;

// Back to top
$btt_bg: $gray-98;
$btt_text: $black;
$btt_border: $bright-gray;

// Contact Page
$webform_contact_legend: $outer-space;

// Breadcrumb.
$breadcrumb_bg: $white;
$breadcrumb_link: $outer-space;
$breadcrumb_link_hover: $outer-space;
$breadcrumb_link_active: $dark-gray;

//  Mini Cart.
$primary_minicart_quantity_text: $black-two;
$primary_minicart_quantity_bg: transparent;

//Algolia search bar.
$algolia-input-text: $outer-space;
$algolia-input-placeholder-text: $outer-space;
$algolia-auto-complete-border: $white;
$algolia-auto-complete-mobile-border: $bright-gray;
$algolia-auto-complete-border-bottom: $outer-space;
$algolia-search-clear-text-icon: $outer-space;

// Mega menu.
$mm_body_overlay: rgba(68, 68, 68, 0.6);
$mm_l1_border: $white;
$mm_l1_link: $eerie-black;
$mm_l1_link_hover: $eerie-black;
$mm_l1_link_active_border: $white;
$mm_l2_link: $eerie-black;
$mm_l2_link_hover: $eerie-black;
$mm_highlight_label: $eerie-black;
$mm_highlight_title: $eerie-black;
$mm_highlight_description: $eerie-black;
