.spc-checkout-delivery-information {
  .popup-overlay {
    .popup-content {
      .spc-address-form-actions {
        .spc-address-form-submit {
          text-transform: capitalize;
          background: $checkout-delivery-popup-button;
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .address-form-mobile-only {
    .spc-address-form-submit {
      text-transform: capitalize;
      background: $checkout-delivery-popup-button;
    }
  }
}
