{% if promotions is not empty %}
  <div class="cart-promotions-wrapper" id="block-basketpromotionmessage">
    {% for id, promotion in promotions %}
      <p class="promotion">{{ promotion | raw }}</p>
    {% endfor %}
  </div>
  <div class="continue-shopping">
    <a href="{{ path('<front>') }}">{{ 'continue shopping' | t }}</a>
  </div>
{% endif %}
