<div class="free-gift-promo-wrapper">
  {% if image is not empty %}
    <div class="free-gift-image">
      {{ image }}
    </div>
  {% endif %}

  <div class="free-gift-message">
    <div class="free-gift-title">
      {{ title }}
    </div>
    <div class="free-gift-message">
      {{ message }}
    </div>

    {% if coupon is not empty %}
      <div class="free-gift-coupon-code">
        {{ coupon }}
      </div>
    {% endif %}
  </div>
</div>
