.path--store-finder,
.nodetype--store {
  .geolocation-common-map-container {
    [aria-hidden="true"] {
      padding-bottom: rem(14);
      padding-right: rem(2);
    }
  }

  .geolocation-google-map {
    [aria-hidden="true"] {
      padding-bottom: rem(14);
    }
  }
}
