.region-content {
  @include breakpoint($upto-palm) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include breakpoint($above-palm) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include breakpoint($desk) {
    max-width: 80.25rem;
  }
}

.page-home,
.node-advanced-page {
  .region-content {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .promo-container {
    @include breakpoint($upto-palm) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @include breakpoint($above-palm) {
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint($lap) {
      width: 45rem;
    }

    @include breakpoint($desk) {
      max-width: 64.125rem;
    }
  }
}
