.cloudzoom {
  .cloudzoom__herocontainer {
    .product-labels {
      height: auto;
      position: unset;
    }
  }
}

.cloudzoom__image {
  .img-wrap {
    @include breakpoint($tablet) {
      height: 36em;
    }
  }
}

#cloud-zoom-big {
  top: 5.92rem !important;

  @include if-rtl {
    right: 132.5% !important;
  }

  @include if-ltr {
    left: 132.5% !important;
  }
}

.cloudzoom {
  &.thumbnail-count-1 {
    #cloud-zoom-big {
      #{$left}: 146.5% !important;
    }
  }
}

@include breakpoint($only-tablet) {
  #lightSlider {
    height: 9.875rem;

    .slick-slide {
      height: 9.875rem !important;
    }
  }
}

@include breakpoint($desktop) {
  #lightSlider {
    height: 30.75rem;

    .slick-slide {
      height: 8.1875rem !important;
    }
  }
}

.cloud-zoom-loading {
  background: transparent url(../imgs/icons/ic-loader.svg) center no-repeat;
  background-size: 2rem 2rem;
}

@include breakpoint($only-tablet) {
  .pdp-modal-overlay {
    .dialog-product-image-gallery-container {
      #lightSlider {
        height: 6.375rem !important;

        .slick-slide {
          height: 6.375rem !important;
        }
      }
    }
  }
}
