@import '../../../../sass/config/**/*.scss';

.block-sign-up-desktop {
  background-color: $black;
  color: $white;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1.1rem 0.875rem;
  padding-bottom: 0.9rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  a {
    color: $white;
    text-decoration: none;
  }
}
