.region__banner-top {
  h3 {
    display: none;
  }

  .slug-body {
    h3 {
      display: block;
    }

    h1,
    h2,
    h3,
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.desktop-slug-banner {
  display: none;

  @include breakpoint($tablet) {
    display: block;
  }
}

.mobile-slug-banner {
  display: none;

  @include breakpoint($only-mobile) {
    display: block;
  }
}

.slug-body {
  @include breakpoint($desktop) {
    @include container(80.25rem);
  }

  @include breakpoint($only-tablet) {
    @include container(45rem);
  }

  @include breakpoint($only-mobile) {
    max-width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.slug-body div.field__label {
  display: none;
}

.desktop-slug-banner,
.mobile-slug-banner {
  text-align: center;
  padding: 0.4375rem 0;

  p {
    margin: 0;
    font-family: $alshaya-thin;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.slug-banner-processed {
  @include breakpoint($only-tablet) {
    &.header--fixed {
      margin-top: 9.75rem !important;
    }
  }

  &:not(.header--fixed) {
    .c-header {
      .block-views-exposed-filter-blocksearch-page {
        .ui-autocomplete {
          @include breakpoint($only-mobile) {
            position: absolute !important;
            top: 3.1875rem !important;
          }
        }
      }
    }
  }

  @include breakpoint($upto-desktop) {
    &:not(.header--fixed) {
      margin-top: 0;
    }

    &.header--fixed {
      margin-top: 3.5375rem;
    }

    header {
      .c-header__region {
        margin: 0;
      }

      .site-brand-home a {
        margin-top: 0.5rem;
      }
    }
  }

  .branding__menu {
    @include breakpoint($upto-desktop) {
      position: relative;
      top: 0;

      &.navbar-fixed-top {
        position: fixed;
        top: 0;
      }
    }
  }

  @include breakpoint($desktop) {
    .region__banner-top {
      z-index: 5;
      position: relative;
    }
  }
}

.slug-banner-modal {
  .c-content__slider {
    .c-slider-promo__item {
      width: 100% !important;
    }
  }
}
