{% if currency_code_position == 'before' %}
  <span class="price-wrapper">
    <span class="price-currency prefix">{{ currency_format|t }}</span>
    <span class="price-amount">{{ price }}</span>
  </span>
{% else %}
  <span class="price-wrapper">
    <span class="price-amount">{{ price }}</span>
    <span class="price-currency suffix">{{ currency_format|t }}</span>
  </span>
{% endif %}
