input[type=checkbox] {
  display: none;
}

input[type=checkbox] ~ label {
  @include icon(checkboxempty);

  &::before {
    font-size: 1rem;
  }
}

input[type=checkbox]:checked ~ label {
  @include icon(checkboxfull);

  &::before {
    color: $windows-blue;
  }
}
