.c-delivery-menu__tab {
  border-width: 0.125rem;
  padding: 1.25rem 0;

  .field--name-field-title,
  .c-delivery-menu__title {
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-size: 1rem;

    @include breakpoint($desktop) {
      font-size: 1.125rem;
    }
  }

  .field--name-field-sub-title,
  .c-delivery-menu__description {
    font-weight: 600;
    font-size: 0.625rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $deliverybanner_subtitle;

    @include breakpoint($desktop) {
      font-size: 0.875rem;
    }
  }
}
