.c-facet {
  a {
    font-family: $hnm-regular;
    line-height: 1.83;
    color: $plp_facet_filter;
    font-weight: normal;
  }

  ul {
    @include breakpoint($desktop) {
      padding-top: 0.625rem;
    }

    input[type="text"] {
      font-family: $hnm-regular;

      &::placeholder {
        color: $plp_facet_input_placeholder;
        opacity: 1;
      }
    }

    li {
      margin-bottom: 1px;
      min-height: 2.125rem;
    }
  }

  label {
    .facet-item__value {
      margin-#{$left}: 0.5rem;

      div {
        @include breakpoint($only-mobile) {
          display: inline-block;
        }
      }
    }

    .facet-item__value {
      text-transform: capitalize;
      line-height: 1.57;
      vertical-align: middle;
      margin-top: 0.125rem;
      display: inline-block;

      html[lang=ar] & {
        line-height: 2.125rem;
      }
    }

    .facet-item__count {
      font-family: $hnm-regular-nodir;
    }
  }
}

.c-facet__label {
  @include arabic-letter-spacing;

  margin: 0 0.5rem 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $plp_facet_label;

  @include breakpoint($desktop) {
    font-family: $hnm-bold;
    font-weight: normal;
  }

  .facet-item--expanded {
    ul {
      html[lang=ar] & {
        padding-top: 0;
      }
    }
  }
}

ul[data-drupal-facet-id=category],
ul[data-drupal-facet-id=plp_category_facet] {
  > .facet-item--expanded {
    > label {
      &::before {
        top: 0.125rem;
      }
    }
  }
}

.block-facet-blockcategory,
.block-facet-blockplp-category-facet {
  .c-accordion__title {
    @include icon(dropdown-collapse, after);
  }

  .ui-state-active {
    @include icon(dropdown-expand, after);
  }
}
