.egift-landing-page.nodetype--advanced_page {
  color: $egift-primary-text;

  #block-breadcrumbs {
    li {
      a {
        text-transform: uppercase;
      }

      &:nth-child(2) {
        a {
          text-transform: initial;
        }
      }
    }
  }
}
