<div class="saved-card">
  <div class="card-number">**** **** **** {{ card_info.last4 }}</div>
  <div class="card-name">{{ card_info.name }}</div>
  <div class="card-expiry-date">{{ card_info.expiryMonth ~ '/' ~ card_info.expiryYear }}</div>
</div>
