#spc-checkout {
  .spc-checkout-payment-options {
    .payment-method-tabby {
      .payment-method-top-panel {
        .installment-popup {
          @include icon(infomation, after) {
            font-size: 1.25rem;
            top: rem(-3);

            html[lang="ar"] & {
              top: rem(-1);
            }
          }
        }
      }
    }
  }
}
