.c-footer__copy {
  .field--name-body {
    p {
      @include breakpoint($tablet) {
        font-size: 0.75rem;
        text-align: $right;

        .country-ae & {
          text-align: center;
        }
      }

      @include breakpoint($only-mobile) {
        line-height: 3;
      }
    }
  }

  @include breakpoint($only-mobile) {
    padding: 1rem 1.25rem;
    height: 4rem;
  }

  .c-footer-secondary & {
    .country-ae & {
      html[lang=ar] & {
        padding: 1.875rem 0;
      }
    }
  }
}

.block-alshaya-vat-certificate-block {
  @include breakpoint($only-mobile) {
    html[lang=ar] & {
      margin-top: -1rem;
    }
  }

  @include breakpoint($tablet) {
    text-align: $right;

    html[lang=ar] & {
      margin-top: -1.25rem;
      margin-bottom: 1rem;
    }
  }

  @include breakpoint($desktop) {
    html[lang=ar] & {
      margin-bottom: 0;
    }
  }
}
