header {
  @include breakpoint($desktop) {
    border-bottom: 1px solid $header_border;
  }

  .region__header {
    @include breakpoint($desktop) {
      display: flex;
      width: 100%;
      flex-flow: row nowrap;
      align-items: center;
    }

    .block-alshaya-main-menu {
      @include breakpoint($desktop) {
        width: 60%;
        margin: 0;

        ul.menu--one__list {
          padding-#{$left}: 1.75rem;
        }

        li.menu--one__list-item {
          margin-#{$right}: 0.625rem;

          html[lang="ar"] & {
            float: right;
          }

          html[lang="en"] & {
            float: left;
          }

          &:last-child {
            margin-#{$right}: 0;
          }

          .menu__link {
            font-size: 0.9375rem;
            letter-spacing: 0.025rem;
          }

          .menu--one__link {
            width: fit-content;
          }
        }
      }
    }

    .block-alshaya-react-mini-cart {
      @include breakpoint($desktop) {
        width: 5%;
      }
    }

    .block-system-branding-block {
      @include breakpoint($desktop) {
        width: 6%;
      }

      @include breakpoint($only-mobile) {
        width: auto;
      }

      .site-brand-home {
        @include breakpoint($desktop) {
          min-width: 2rem;
          padding-top: 0.125rem;
        }

        a {
          @include breakpoint($only-mobile) {
            html[lang="ar"] & {
              text-align: center;
              margin-top: 0;
            }
          }

          img {
            html[lang="ar"] & {
              width: rem(53);
              height: rem(29);

              @include breakpoint($tablet) {
                margin-top: 0;
                width: unset;
                height: rem(38);
              }
            }
          }
        }
      }
    }
  }

  .c-header__region {
    @include breakpoint($only-mobile) {
      height: 3rem;
      margin-top: 0.5625rem;

      html[lang="ar"] & {
        height: 3rem;
      }
    }

    @include breakpoint($only-tablet) {
      border-bottom: 1px solid $header_border;
    }

    @include breakpoint($desktop) {
      padding-bottom: 0.75rem;
      padding-top: 1.5rem;
    }
  }
}

.site-brand-home {
  @include breakpoint($only-mobile) {
    width: 100%;
  }

  .block-system-branding-block & {
    html[lang="ar"] & {
      @include breakpoint($upto-desktop) {
        width: auto;

        img {
          width: 5rem;
          height: 1.875rem;
        }
      }
    }
  }

  a {
    @include breakpoint($desktop) {
      display: inline-flex;
      width: 4.375rem;

      .alias--cart-login & {
        width: 6rem;
      }
    }

    @include breakpoint($only-tablet) {
      max-width: 8rem;
      margin: 0 auto;

      html[lang="ar"] & {
        max-width: 4rem;
      }
    }

    @include breakpoint($only-mobile) {
      width: 6rem;
      margin: 0 auto;
      position: absolute;
      #{$left}: 0;
      #{$right}: 0;
      top: 0;

      html[lang="ar"] & {
        max-width: 5rem;
        top: 0.375rem;
      }
    }
  }
}

.block-cart-mini-block,
.block-alshaya-react-mini-cart,
.static-minicart-wrapper {
  .cart-link-total {
    display: none;
  }

  .cart-link {
    width: 1.25rem;
    height: 1.25rem;

    @include breakpoint($only-mobile) {
      background-size: auto;
      #{$left}: -0.1875rem;
      top: 0.625rem;

      html[lang="ar"] & {
        top: 0.6825rem;
        right: -0.4375rem;
        margin-top: 0;
      }
    }

    @include breakpoint($only-tablet) {
      top: 0.75rem;
      #{$left}: -1rem;
    }

    @include breakpoint($desktop) {
      top: -0.0625rem;
      #{$left}: 1.5rem;
    }
  }

  .quantity {
    font-size: 0.75rem;
    position: relative;
    bottom: -0.25rem;
    #{$left}: -1.375rem;

    @include breakpoint($only-mobile) {
      #{$left}: -1.5rem;
      top: 0.25rem;
    }

    &::before,
    &::after {
      position: relative;
      top: -0.0625rem;
    }

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }
}

#mini-cart-wrapper {
  @include breakpoint($desktop) {
    min-width: auto;
    padding-#{$right}: 1.25rem;
  }
}

#block-cartminiblock,
.block-alshaya-react-mini-cart {
  @include breakpoint($only-tablet) {
    position: absolute;
  }
}

.c-menu-primary {
  @include breakpoint($tablet) {
    height: 0;
  }

  .hamburger--menu {
    @include breakpoint($only-mobile) {
      .logged-in & {
        padding: 0;
        #{$left}: 0.5rem;
        top: 1rem;
      }
    }
  }

  a {
    text-transform: uppercase;

    @include breakpoint($upto-desktop) {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  .mobile--menu {
    top: 1.25rem;
    font-size: 0;
    padding: 0;

    @include breakpoint($only-mobile) {
      #{$left}: 0.625rem;
      top: 1.1875rem;

      html[lang="ar"] & {
        right: 0.75rem;
      }
    }

    @include breakpoint($only-tablet) {
      position: absolute;
      #{$left}: 1.125rem;
    }

    &::before {
      @include breakpoint($upto-desktop) {
        height: 1.625rem;
        width: 1.8125rem;
        margin-#{$right}: 0;
      }
    }
  }

  .block-system-menublock {
    li {
      position: static;
    }
  }

  li {
    .mobile--search {
      padding: 0;
      display: block;
      font-size: 0;
      position: absolute;
      top: 1.125rem;
      #{$left}: 5.25rem;
      z-index: 0;

      @include breakpoint($only-mobile) {
        width: 1rem;
        margin-#{$right}: 0;
        #{$left}: 3.5rem;
        top: 1.5rem;
      }

      @include icon_img("#{$cos_theme_img_directory_path}/icons/search.svg", 2rem, 2rem);

      &::before {
        @include breakpoint($upto-desktop) {
          height: 1.25rem;
          width: 1.25rem;
          margin-#{$right}: 0;
        }
      }
    }
  }

  .store {
    @include breakpoint($only-mobile) {
      width: 1rem;
      top: 0.9375rem;
      margin-#{$right}: 0;
      #{$right}: 4rem;
      height: 1.25rem;

      html[lang="ar"] & {
        left: 4.125rem;
      }
    }

    @include breakpoint($upto-desktop) {
      font-size: 0;
    }

    @include breakpoint($only-tablet) {
      position: absolute;
      padding: 0;
      margin: 0;
      width: 0;
      #{$left}: 87%;
      top: 1.6875rem;
    }

    @include icon_img("#{$cos_theme_img_directory_path}/icons/store-finder.svg", 2rem, 2rem);

    &::before {
      content: "";
      #{$left}: -0.1875rem;
      width: 1rem;
      height: 1.25rem;
      margin-#{$right}: 0;

      html[lang="ar"] & {
        @include breakpoint($only-mobile) {
          #{$left}: -0.5rem;
        }
      }

      @include breakpoint($tablet) {
        font-size: 1.75rem;
      }
    }
  }

  .block-system-menublock {
    li {
      @include breakpoint($only-tablet) {
        position: static;
      }
    }
  }
}

.menu__back {
  @include breakpoint($upto-desktop) {
    background: url("#{$cos_theme_img_directory_path}/icons/ic-chevronleft.svg") no-repeat;
    margin-#{$left}: 0.75rem;
    height: 0.875rem;
  }
}
