{#Adding search result count#}
<div class='total-result-count'></div>
<div class="grid-buttons">
  <div class="large-col-grid">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
      <g class="grid" fill="none" fill-rule="evenodd">
        <path class="grid-box" d="M-4-4h24v24H-4z"/>
        <path class="grid-border" d="M1 1.994v12.012c0 .548.446.994.994.994h12.012a.995.995 0 0 0 .994-.994V1.994A.995.995 0 0 0 14.006 1H1.994A.995.995 0 0 0 1 1.994zm-1 0C0 .893.895 0 1.994 0h12.012C15.107 0 16 .895 16 1.994v12.012A1.995 1.995 0 0 1 14.006 16H1.994A1.995 1.995 0 0 1 0 14.006V1.994z" fill="#222"/>
      </g>
    </svg>
  </div>
  <div class="small-col-grid active">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
      <defs>
        <path d="M5 9.997L9.997 10 10 5.003 5.003 5 5 9.997zM4 5.003A.996.996 0 0 1 5.003 4h4.994A.996.996 0 0 1 11 5.003v4.994A.996.996 0 0 1 9.997 11H5.003A.996.996 0 0 1 4 9.997V5.003zm1 13.994L9.997 19 10 14.003 5.003 14 5 18.997zm-1-4.994A.996.996 0 0 1 5.003 13h4.994A.996.996 0 0 1 11 14.003v4.994A.996.996 0 0 1 9.997 20H5.003A.996.996 0 0 1 4 18.997v-4.994zm10-4.006l4.997.003L19 5.003 14.003 5 14 9.997zm-1-4.994A.996.996 0 0 1 14.003 4h4.994A.996.996 0 0 1 20 5.003v4.994A.996.996 0 0 1 18.997 11h-4.994A.996.996 0 0 1 13 9.997V5.003zm1 13.994l4.997.003.003-4.997L14.003 14 14 18.997zm-1-4.994A.996.996 0 0 1 14.003 13h4.994A.996.996 0 0 1 20 14.003v4.994A.996.996 0 0 1 18.997 20h-4.994A.996.996 0 0 1 13 18.997v-4.994z" id="prefix__a"/>
      </defs>
      <g class="grid" transform="translate(-4 -4)" fill="none" fill-rule="evenodd">
        <use fill="#222" xlink:href="#prefix__a"/>
      </g>
    </svg>
  </div>
</div>
