{% if class is not empty %}
<div class="alshaya_search_gallery {{ class }}">
{% else %}
<div class="alshaya_search_gallery">
{% endif %}
  <div class="alshaya_search_mainimage" data-sku-image="{{ file_url(mainImage['#uri']) }}">
    {{ mainImage }}
  </div>
  {% if thumbnails|length > 0 %}
  <div class="alshaya_search_slider">
    <ul class="search-lightSlider">
      {% for thumbs in thumbnails %}
        <li>
          {{ thumbs }}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
