.c-contact {
  &.l-one--w {
    @include breakpoint($desktop) {
      margin-#{$left}: 6.438rem;
    }
  }

  @include breakpoint($tablet) {
    padding-#{$left}: 1.5rem;
  }

  .c-page-title {
    border-bottom: 1px solid $content_pagetitle_border;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 1rem;

    @include breakpoint($tablet) {
      margin-top: 2rem;
    }
  }

  .form-type-textarea {
    textarea {
      resize: none;
      padding-#{$right}: 1.25rem !important;
    }

    .field-suffix {
      position: absolute;
      top: 0.125rem;
      #{$right}: 0;
      font-size: 0.8125rem;
      color: $primary_textarea_suffix;
      font-weight: normal;
      z-index: 3;
    }

    #edit-message_counter,
    .text-count-wrapper {
      display: none !important;
    }
  }

  @include breakpoint($only-mobile) {
    .form-item-first-name,
    .form-item-last-name {
      width: 48% !important;
    }

    .form-item-first-name {
      margin-right: 0 !important;
    }

    .form-item-last-name {
      float: right !important;
    }
  }

  .mobile-number-field {
    .local-number {
      height: 1.5rem;
    }
  }
}

.address-book-address,
.contact-form,
.user-communication-preference {
  max-width: 24.75rem;
  margin-top: 0;

  legend {
    font-weight: bold;
    font-size: 0.875rem;
    padding-bottom: 1.5rem;
  }

  input[type="text"],
  input,
  textarea {
    border: 1px solid $primary_textarea_border;
    border-width: 0 0 1px;
    width: 100%;
    height: 1.563rem;
    outline: rgba(0, 0, 0, 0);
    font-size: 16px;
    border-bottom: 1px solid $primary_textarea_border;
  }

  label.error {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    display: block;
    color: $formitem_error_label;
    top: 0;
    padding-top: 0;
  }

  .form-item--error {
    input.error {
      color: $formitem_error;
    }
  }

  .form-item.form-type-tel,
  .form-item.form-type-email,
  .form-item.form-type-textfield,
  .form-item.form-type-textarea {
    label:last-of-type {
      @include placeholder-label;
    }

    input[type="text"]:focus ~ label:last-of-type,
    textarea:focus ~ label:last-of-type,
    input:focus ~ label:last-of-type,
    textarea:focus ~ label:last-of-type,
    .active-label:last-of-type,
    input:visited ~ label:last-of-type,
    input:not(:focus):valid ~ label:not(.error),
    input:not(:active):valid ~ label:not(.error) {
      top: -1.375rem;
      bottom: 0;
      #{$left}: 0;
      opacity: 1;
      font-size: 0.75rem;
    }
  }

  .country-field-wrapper {
    @include clearfix;

    position: relative;
    height: 3rem;
    margin-bottom: 1rem;

    .country-label {
      font-size: 0.75rem;
      color: $formitem_label;
      transition: 0.2s ease all;
    }

    .country-name {
      font-size: 1rem;
      color: $formitem_input;
      transition: 0.2s ease all;
    }
  }

  .form-type-email {
    .description {
      padding-top: 0.5rem;
      font-size: 0.75rem;
    }
  }

  .form-item {
    position: relative;
  }

  fieldset {
    margin-top: 2.875rem;
    margin-bottom: 2.875rem;
  }

  .form-item-first-name {
    margin-#{$right}: 1.5rem;
  }

  .form-item-first-name,
  .form-item-last-name {
    float: left;
    max-width: 11.625rem;
    width: calc(50% - 0.75rem);
  }

  .field--type-telephone,
  .field--type-email {
    clear: both;
    padding-top: 3rem;
  }

  .field--type-string-long {
    margin-top: 3rem;
  }

  .form-submit {
    @include breakpoint($only-mobile) {
      width: 100%;
      margin-bottom: 0;
    }

    width: 5.875rem;
    height: 2.1875rem;
    text-transform: lowercase;
    font-size: 0.875rem;
    color: $primary_btn_text;
    background: $primary_btn_bg;
    margin-bottom: 7.1875rem;
    border: none;
    margin-top: 3.5rem;
    line-height: 1;
    float: $left;
  }
}

.webform-submission-alshaya-contact-form {
  @extend .contact-form;

  .form-item {
    margin-bottom: 3.5rem;
    display: inline-block;
  }

  fieldset {
    margin-top: 1em;
  }

  .form-type-radio {
    margin-bottom: 0;
  }

  legend {
    color: $webform_contact_legend;
  }

  .form-item-mobile-number-country-code {
    .form-item--error-message {
      display: none;
    }
  }

  .mobile-input--wrapper {
    #edit-mobile-number-mobile-error {
      margin-top: -1.25rem;
      padding-top: 0.25rem;
    }
  }

  .form-item-order-number,
  .form-item-missing-items {
    input[type=text] ~ label:not(.active-label) {
      font-size: 1rem !important;
      color: $primary_input_label !important;
      position: absolute !important;
      #{$left}: 0 !important;
      top: -0.125rem !important;
      transition: 0.2s ease all !important;
    }

    input[type=text]:focus ~ label {
      top: -1.375rem !important;
      bottom: 0 !important;
      #{$left}: 0 !important;
      opacity: 1 !important;
      font-size: 0.75rem !important;
    }

    input[type=text] ~ label.error {
      font-size: 0.75rem !important;
      color: $red-error !important;
      position: relative !important;
      line-height: 1;
    }
  }
}

.alias--contact {
  .webform-submission-alshaya-contact-form {
    &.webform-submission-form {
      legend {
        float: none;
        margin-#{$left}: 0;
      }

      fieldset {
        margin-#{$left}: 0;
      }
    }

    .form-item-order-number,
    .form-item-missing-items {
      .js-form-required.form-required,
      .error {
        span {
          display: none;
        }
      }
    }

    .form-item-order-number {
      margin-top: 1.5rem;
    }

    .form-item-file {
      width: 100%;
      margin-bottom: 3rem;

      input {
        color: $primary_input_label;
        border-bottom: 0;
      }
    }

    margin-top: 1.5rem;

    .captcha {
      margin-top: 0;
    }

    .webform-element-description {
      font-size: 0.8125rem;
      margin-top: 0.25rem;
      color: $primary_input_label;
    }

    .form-type-managed-file {
      .form-submit {
        width: auto;
        height: auto;
        color: $primary_input_label;
        background: none;
        margin-bottom: 0.3125rem;
        margin-top: 0;
        border: none;
        float: none;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      .messages.messages--warning,
      .messages.messages--error {
        margin-top: 0;
        display: inline-block;
        padding-#{$left}: 2.5rem;

        &::before {
          position: absolute;
          #{$left}: 0.1875rem;
        }
      }

      .form-item--error-message {
        ul {
          list-style: none;
          padding: 0;
        }
      }

      label {
        display: none;
      }
    }

    .contact-us-feedback,
    .contact-us-type,
    .contact-us-reason {
      &.form-type-select {
        label.error {
          position: absolute;
          top: 2.25rem;
        }
      }

      @include breakpoint($only-mobile) {
        @include select-wrapper(100%);

        select.form-select {
          @include select-style(100%);
        }

        margin-bottom: 2rem;
      }

      @include breakpoint($only-tablet) {
        @include select-wrapper(100%);
        @include select-bg(6.5625rem);

        select.form-select {
          @include select-style(100%);
        }

        margin-bottom: 2rem;
      }

      .select2-selection {
        width: 90.75%;
      }

      @include select-wrapper(100%);

      margin-bottom: 2rem;

      .select2-container {
        @include select2-style(100%);

        .select2-selection {
          .select2-selection__rendered {
            color: $webform_contact_dropdown_disable_text;
            font-size: 1rem;
          }
        }
      }

      select.form-select {
        @include breakpoint($upto-desktop) {
          color: $primary_dropdown_text;
          font-size: 0.875rem;
        }
      }
    }
  }
}

.c-user-edit .user-form {
  #edit-account {
    margin-top: 2.813rem;
  }

  > div:first-child {
    margin-top: 3rem !important;
  }

  .form-wrapper,
  .form-item:not(.mobile-number-field) {
    margin-top: 1.975rem;

    @include breakpoint($only-tablet) {
      margin-top: 1.25rem;
    }
  }

  .form-actions {
    @include breakpoint($desktop) {
      margin-top: 0.8rem;
    }

    @include breakpoint($tablet) {
      margin-top: 1rem;
    }

    input {
      margin-top: 0;
    }
  }

  .form-item-field-subscribe-newsletter-value {
    label {
      padding-#{$left}: 1.875rem;
      text-indent: -2rem;
      display: block;
    }
  }
}

html[lang=ar] {
  form.user-form {
    .form-type-email {
      input[type=email] {
        margin-top: 0.3125rem;

        & ~ label {
          background: transparent !important;
        }
      }
    }

    .field--name-field-first-name,
    .field--name-field-last-name {
      input[type=text] {
        font-family: $arial-nodir;
      }
    }
  }
}

.path--user .c-address-book {
  .address-book-address {
    .country-field-wrapper {
      height: 3rem;
      line-height: 1.43;
    }
  }
}

.c-user-edit.user-page {
  .user-form {
    .field--name-field-first-name,
    .field--name-field-last-name {
      @include breakpoint($desktop) {
        margin-top: 0.5rem;
      }
    }

    .mobile-number-field {
      margin-top: 0;
      margin-bottom: 0.75rem;
    }

    .field--type-mobile-number {
      @include breakpoint($desktop) {
        position: relative;
        clear: both;
      }
    }
  }
}

@include breakpoint($upto-desktop) {
  .c-user-edit.user-page {
    .user-form {
      .field--type-mobile-number {
        position: relative;
        clear: both;
      }
    }
  }
}

.c-user-edit.user-page .mobile-number-field {
  width: 100%;
  display: inline-block;
}

.webform-submission-alshaya-contact-add-form {
  .form-item {
    &.form-type-textfield,
    &.form-type-textarea,
    &.form-type-email {
      label {
        &:last-of-type {
          text-transform: lowercase;
        }
      }
    }
  }

  .mobile-number-field {
    label {
      text-transform: lowercase;
    }
  }
}
