%btn {
  font-size: 0.875rem;
  border-radius: 0.1875rem;
  font-family: $alshaya-thin;
  font-weight: bold;
  height: 2.5rem;
}

%button-wide {
  @extend %btn;
}

%button-brand {
  @extend %btn;
}

%page-title {
  text-transform: none;
}
