/* ------- 2. Primary Colors ------- */
// Global elements.
$primary_bg: $white-five;
$body_bg: $primary_bg;
$content_pagetitle: $marine-blue;
$content_pagetitle_border: $white;
$primary_text: $brownish-grey;
$primary_link: $peacock-blue;
$primary_link-hover: $peacock-blue;
$primary_link-active: $peacock-blue;
$primary_border: $white;
$content_link_color: $cerulean-two;

// Form elements.
$primary_form_selector_border: $black;
$primary_form_selector: $black;
$primary_input: $black;
$primary_input_label: $greyish;
$primary_input_border: $brownish-grey;
$primary_input_focus_border: $windows-blue;
$primary_input_inline_error: $scarlet-two;

// Form Items
$formitem_label: $greyish;
$formitem_input: $black;

//Buttons.
$primary_btn_bg: $pumpkin-orange;
$primary_btn_text: $white-five;
$primary_empty_btn: $black;
$primary_empty_btn_border: $black;
$primary_brand_button: $peacock-blue;
$primary_brand_button_text: $peacock-blue;
$primary_button_disabled: $ladda-disabled;
$pending_btn_bg: $tomato;
$returned_btn_bg: $grey-ash;
$complete_btn_bg: $medium-green;

// Checkbox & Radio.
$primary_checkbox_empty: $brownish-grey;
$primary_checkbox_filled: $windows-blue;
$primary_radiobtn_label: $grey-ash;
$primary_radiobtn_empty: $greyish;
$primary_radiobtn_filled: $cerulean-two;

// Tables.
$primary_th_bg: $white-three;
$primary_th_bg_highlight: $whisper-dark;
$primary_td_highlight2: $white-three; // used on order total (basket).
$primary_td_highlight3: $white-four; // used on blend class.
$primary_th_bg_order_highlight: $pale-grey;
$primary_td_bg_highlight: $white-smoke-light;
$primary_td_bg: $white-five;
$primary_tr_hover: rgba(247, 247, 247, 0.72);
$primary_table_border: $white;

// Dropdown.
$primary_dropdown_bg: $white-five;
$primary_dropdown_arrow_bg: $whisper-dark;
$primary_dropdown_text: $brownish-grey;
$primary_dropdown_border: $whisper-dark;
$primary_dropdown_option_hover: $white-four;
$primary_dropdown_option_border: $white;
$primary_dropdown_option_disbled: $greyish;
$primary_dropdown_focus: $black;

// Text Area
$primary_textarea_suffix: $greyish;
$primary_textarea_border: $grey-ash;

// Totals.
$total_bg: $white-three;
$total_td_2nd_child_bg: $white-four;
$total_order_total_txt: $black;
$total_order_total_row_td_2nd_child: $whisper-light;
$total_discount_total: $scarlet;
$total_discount_total_td_2nd_child_bg: $white-five;

/* ------- 3. Secondary color  ----- */
// Global elements.
$secondary_text: $black;
$secondary_btn_text: $marine-blue;
$secondary_btn_border: $marine-blue;
$secondary_border: $black;
$secondary_link: $marine-blue;

/* ------- 4. Tertiary Colors ------- */
$tertiary_btn_text: $white-five;
$tertiary_btn_border: $cerulean-two;

/* ------- 5. Components --------------- */
// Counters.
$primary_counter_bg: $marine-blue;
$primary_counter_text: $white-five;
$secondary_counter_bg: $cerulean-two;
$secondary_counter_text: $white-five;
$tertiary_counter_bg: $marine-blue;
$tertiary_counter_text: $white-five;
$tertiary_counter_border: $greyish;

// Titles.
$page_title: $marine-blue;
$block_title: $marine-blue;
$title: $marine-blue;
$sub_title: $marine-blue;

// Messages and Errors
$default_msg_text: $white-five;
$default_msg_bg: $tealish;
$default_msg_info_bg: $message-info;
$default_msg_info_text: $black;
$content_error_msg_bg: $cherry;
$content_error_msg_txt: $cherry;
$content_error_input_border: $cherry;
$content_error_msg_text: $white-five;
$formitem_error: $black;
$formitem_error_label: $red-error;

// Out of stock button.
$oos_btn_bg: $cherry;
$oos_btn_text: $white-five;

// Tooltip
$tooltip_bg: $alice-blue;
// $tooltip_bg + opacity 0.
$tooltip_bg_opacity_0: rgba(240, 246, 252, 0);
$tooltip_text: $windows-blue;
$tooltip_border: $cerulean-two;
// Second color for arrow of tooltip.
$tooltip_border_2: $alice-blue;
// $tooltip_border + opacity 0.
$tooltip_border_opacity_0: rgba(0, 132, 204, 0);

// Back to top
$btt_bg: $white-three;
$btt_hover_text: $brownish-grey;
$btt_text: $black;

// Breadcrumb.
$breadcrumb_bg: $white-four;
$breadcrumb_link: $greyish;
$breadcrumb_link_hover: $greyish;
$breadcrumb_link_active: $breadcrumb-active;

// 404
$maintenance_container_border: $white-two;
$maintenance_container_border_top: $white-four;
$maintenance_body_bg: $matterhorn;
$maintenance_link: $cerulean-two;

// Accordion
$accordion_border: $white;
$accordion_title: $grey-ash;

// Cloudzoom
$cloudzoom_hovertext: $brownish-grey;
$cloudzoom_zoombox_border: $white;

// Mobile Gallery
$gallery_subtext_bg: $black;
$gallery_subtext: $white-five;
$gallery_arrows_bg: $white-five;
$gallery_arrows: $black;
$gallery_arrows_border: $black;
$gallery_arrows_disabled: $white;
$gallery_pager_border: $peacock-blue;
$gallery_pager_bg: $white-five;
$gallery_pager_active_bg: $peacock-blue;

/* ------- 6. Sections and Pages --------------- */

// Header.
$primary_topheader_bg: $white-four;
$primary_topheader_ink: $peacock-blue;

// Header - Search.
$primary_search_btn: $marine-blue;
$primary_search_btn_icon: $marine-blue;
$primary_search_input: $brownish-grey;
$primary_search_input_placeholder: $brownish-grey;
$primary_search_border: $white;
$primary_search_result_hover: $white-smoke-light;

//  Mini Cart.
$primary_minicart_text: $black;
$primary_minicart_quantity_text: $white-five;
$primary_minicart_quantity_bg: $pumpkin-orange;

// Notification popup.
$minicart_notification_bg: $white-five;
$minicart_notification_border: $pumpkin-orange;
$minicart_notification_shadow: $whisper-dark;
$minicart_notification_name: $brownish-grey;
$minicart_notification_text: $pumpkin-orange;
$minicart_notification_btn_bg: $pumpkin-orange;
$minicart_notification_btn_text: $white-five;
$minicart_notification_product_title: $grey-ash;

// Mega menu.
$mm_l1_link: $black;
$mm_l1_link_hover: $marine-blue;
$mm_l1_link_active_border: $marine-blue;
$mm_l2_link: $marine-blue;
$mm_l3_link: $brownish-grey;
$mm_l3_link_hover: $cerulean-two;
$mm_highlight_label: $marine-blue;

// Delivery tabs.
$deliverybanner_title: $cerulean-two;
$deliverybanner_subtitle: $cerulean-two;
$deliverybanner_border: $cerulean-two;
$deliverybanner_shadow: $shadow;

//3. Footer
$footer_bg: $white-five;
$footer_border_top: $peacock-blue;
$footer_title_h3: $peacock-blue;
$footer_link: $brownish-grey;
$footer_link_hover: $cerulean-two;

//1. Copyright
$copyright_footer_bg: $white-four;
$copyright_footer_text: $black;

//7. Newsletter-signup
$newsletter_title_h3: $peacock-blue;
$newsletter_block_text: $brownish-grey;
$newsletter_input_placeholder: $greyish;
$newsletter_input_border: $peacock-blue;
$newsletter_submit_btn: $peacock-blue;
$newsletter_submit_btn_text: $white-five;

// Checkout Progress.
$checkout_seperator: $greyish;
$checkout_progress_complete: $cerulean-two;
$checkout_progress_complete_text: $cerulean-two;
$checkout_progress_text: $greyish;
$checkout_progress_current_text: $black;
// @todo: My account priv card content block.

/* ------- 7. Pages ----- */
// Product listing page and search page.
$plp_category_desc: $cerulean-two;
$plp_search_count: $black;
$plp_sort_by_label: $brownish-grey;
$plp_facet_filter: $windows-blue;
$plp_facet_input_border: $white;
$plp_facet_label: $black;
$plp_facet_filter_label: $black;
$plp_facet_title: $brownish-grey;
$plp_facet_border: $white;

// PLP Filter bar.
$plp_filterbar_filter_bg: $cerulean-two;
$plp_filterbar_filter_text: $white-five;
$plp_filterbar_filter_clear: $white-five;
$plp_filterbar_clearall_border: $cerulean-two;
$plp_filterbar_clearall_text: $cerulean-two;

// PLP Product tile.
$plp_tile_product_title: $brownish-grey;
$plp_tile_product_title_hover: $cerulean-two;
$plp_tile_product_price: $black;
$plp_tile_product_special_price: $scarlet;
$plp_tile_product_discount_label: $scarlet;
$plp_tile_product_hover_border: $greyish;
$plp_tile_product_hover_shadow: $white-three;

// PLP Product title hover.
$plp_tile_hover_slider_hover: $brownish-grey;
$plp_tile_hover_slider_nav: $brownish-grey;
$plp_tile_hover_slider_nav_hover: $brownish-grey;

// Product detail page.
$pdp_product_title: $brownish-grey;
$pdp_product_price: $black;
$pdp_product_special_price: $scarlet;
$pdp_product_discount_text: $scarlet;
$pdp_product_itemcode: $brownish-grey;
$pdp_title_section_border: $white;

// Product Add to cart form.
$pdp_sizeguide_link: $windows-blue;
$pdp_form_item_label: $windows-blue;
$pdp_size_selected_text: $black;
$pdp_size_option_bg: $marine-blue;
$pdp_size_option_border: $marine-blue;
$pdp_size_option_text: $marine-blue;
$pdp_size_option_selected_text: $white-five;
$pdp_size_option_selected_bg: $marine-blue;
$pdp_size_option_text_hover : $white-five;
$pdp_size_option_bg_hover: $marine-blue;

// Department page
$department_category_list_hover: $cerulean-two;

// Store finder page.
// Store finder header form.
$store_finder_nearme_icon: $cerulean-two;
$store_finder_nearme_text: $cerulean-two;
$store_finder_search_label: $brownish-grey;
$store_finder_search_input: $white;
$store_finder_search_input_border: $white;
$store_finder_mapview_text: $cerulean-two;
$store_finder_mapview_border: $cerulean-two;
$store_finder_mapview_hover_text: $marine-blue;
$store_finder_mapview_hover_border: $marine-blue;
$store_finder_listview_text: $cerulean-two;
$store_finder_listview_border: $cerulean-two;
$store_finder_listview_hover_text: $marine-blue;
$store_finder_listview_hover_border: $marine-blue;

// Store finder gloassary.
$store_finder_glossary_alphabet: $marine-blue;
$store_finder_glossary_text: $brownish-grey;
$store_finder_glossary_link: $marine-blue;
// Store finder search results.
$store_finder_search_results_label: $black;
$store_finder_search_results_counter_bg: $cerulean-two;
$store_finder_search_results_counter_text: $white-five;
$store_finder_search_results_tile_bg: $white-five;
$store_finder_search_results_tile_hover_bg: $white-four;
$store_finder_search_results_tile_link: $cerulean-two;
$store_finder_search_results_tile_icon: $cerulean-two;

// Checkout Pages & order summary block.
$order_summary_border: $greyish;
$order_summary_title: $black;
$order_summary_dropdown_icon: $black;
$order_summary_section_border: $white;
$order_summary_product_title: $black;
$order_summary_product_price: $black;
// Color for attributes and qty.
$order_summary_sec_text: $greyish;

$checkout_footer_bg: $white-five;
$checkout_footer_border-top: $peacock-blue;
$checkout_pri_txt: $grey-ash;
$checkout_section_border: $greyish;

// @todo Variables used in outdated markup, avoid using elsewhere.
$checkout_out_sec_text: $windows-blue;
$checkout_out_acc_header: $white-four;
$checkout_out_fieldset_legend: $peacock-blue;
$checkout_out_fieldset_legend_bottom_border: $greyish;
$checkout_out_btn: $white-four;

//  Checkout Confirmation.
$checkout_confirmation_delivery_details: $white-smoke-light;
$checkout_confirmation_table_pm_highlight: $solitude;

//My Account pages
//block-myaccountneedhelp
$myaccountneedhelp_bg: $pale-grey;
$myaccountneedhelp_text: $windows-blue;
//block-youllbeableto
$youllbeableto_title: $marine-blue;
$youllbeableto_text: $brownish-grey;
$youllbeableto_link: $cerulean-two;
// joinclubblock
$joinclubblock_title: $dark-sand;
$joinclubblock_text: $brownish-grey;
$joinclubblock_link: $cerulean-two;

//Address book
$address_tile_bg: $white-five;
$address_tile_selected_bg: $white-four;
$address_tile_label: $brownish-grey;
$address_tile_content: $black;
$address_tile_radio_label: $black;
$address_tile_selected_radio_label: $brownish-grey;
$address_pp_delete_title: $marine-blue;
$address_pp_delete_closebtn: $white;
$address_pp_delete_closebtn_icon: $black;

// Basket
$basket_page_title: $peacock-blue;
$basket_sku_promo_link: $scarlet;
$basket_oos_tr_bg: $white-four;
$basket_oos_inline_txt: $cherry;
$basket_oos_inline_qty_border: $cherry;
$basket_img_border: $white;
$basket_img_bg: $white-five;
$basket_th_4th_child: $white-two;
$basket_continue_shopping_btn_border: $peacock-blue;
// Pri text is product title, price, etc.
$basket_td_pri_txt: $black;
// Sec text is Size, color, item code attributes.
$basket_td_sec_txt: $greyish;
$basket_item_bundle: $cerulean-two;
$basket_tooltip_not_available: $white;
$basket_promotion_input_border: $white;
$basket_remove_link: $cerulean-two;
$basket_horizontal_recommendation_slider_dots: $peacock-blue;
// Basket top promotions.
$basket_header_promo_bg: $rosy-pink;
$basket_header_promo_txt: $white-four;
// Basket top OOS.
$basket_header_oos_bg: $cherry;
$basket_header_oos_txt: $white-four;
// Privilege card earn text only for the basket page.
$privilege_earn_txt: $grey-ash;

// Contact Page
$webform_contact_legend: $peacock-blue;
