// Font Family
$bbw-bold: "BBWTradeGothicLTStd_Bold", "DroidArabicKufi_Bold", "Arial";
$bbw-bold-nodir: "BBWTradeGothicLTStd_Bold", "DroidArabicKufi_Bold", "Arial";

$bbw-thin: "BBWTradeGothicLTStd", "DroidKufi_Regular", "Arial";
$bbw-thin-nodir: "BBWTradeGothicLTStd", "DroidKufi_Regular", "Arial";

$bbw-arabic-bold: "DroidArabicKufi_Bold", "BBWTradeGothicLTStd_Bold", "Arial";
$bbw-arabic-bold-nodir: "DroidArabicKufi_Bold", "BBWTradeGothicLTStd_Bold", "Arial";

$bbw-arabic-thin: "DroidKufi_Regular", "BBWTradeGothicLTStd", "Arial";
$bbw-arabic-thin-nodir: "DroidKufi_Regular", "BBWTradeGothicLTStd", "Arial";

$arial: $bbw-thin;
$arial-nodir: $bbw-thin-nodir;
$alshaya-bold: $bbw-bold;
$alshaya-arabic-bold: $bbw-arabic-bold;
$alshaya-thin: $bbw-thin;
$alshaya-arabic-thin: $bbw-arabic-thin;
