// Define Fonts
$base_theme_fonts_directory_path: '/themes/custom/transac/alshaya_bathbodyworks/fonts';

@font-face {
  font-family: "BBWTradeGothicLTStd_Bold";
  src: url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.eot");
  src:
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.eot?#iefix") format("embedded-opentype"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.otf") format("opentype"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.svg") format("svg"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.ttf") format("truetype"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.woff") format("woff"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BBWTradeGothicLTStd";
  src: url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.eot");
  src:
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.eot?#iefix") format("embedded-opentype"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.otf") format("opentype"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.svg") format("svg"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.ttf") format("truetype"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.woff") format("woff"),
    url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DroidArabicKufi_Bold";
  src: url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.eot");
  src:
    url("#{$base_theme_fonts_directory_path}/DroidArabicKufi-Bold.eot?#iefix") format("embedded-opentype"),
    url("#{$base_theme_fonts_directory_path}/DroidArabicKufi-Bold.otf") format("opentype"),
    url("#{$base_theme_fonts_directory_path}/DroidArabicKufi-Bold.svg") format("svg"),
    url("#{$base_theme_fonts_directory_path}/DroidArabicKufi-Bold.ttf") format("truetype"),
    url("#{$base_theme_fonts_directory_path}/DroidArabicKufi-Bold.woff") format("woff"),
    url("#{$base_theme_fonts_directory_path}/DroidArabicKufi-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DroidKufi_Regular";
  src: url("#{$base_theme_fonts_directory_path}/BBWTradeGothicLTStd-Bd2.eot");
  src:
    url("#{$base_theme_fonts_directory_path}/DroidKufi-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$base_theme_fonts_directory_path}/DroidKufi-Regular.otf") format("opentype"),
    url("#{$base_theme_fonts_directory_path}/DroidKufi-Regular.svg") format("svg"),
    url("#{$base_theme_fonts_directory_path}/DroidKufi-Regular.ttf") format("truetype"),
    url("#{$base_theme_fonts_directory_path}/DroidKufi-Regular.woff") format("woff"),
    url("#{$base_theme_fonts_directory_path}/DroidKufi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Font Family
$bbw-bold: 'BBWTradeGothicLTStd_Bold', 'DroidArabicKufi_Bold';
$bbw-bold-nodir: 'BBWTradeGothicLTStd_Bold', 'DroidArabicKufi_Bold';

$bbw-thin: 'BBWTradeGothicLTStd', 'DroidKufi_Regular';
$bbw-thin-nodir: 'BBWTradeGothicLTStd', 'DroidKufi_Regular';

$bbw-arabic-bold: 'DroidArabicKufi_Bold', 'BBWTradeGothicLTStd_Bold';
$bbw-arabic-bold-nodir: 'DroidArabicKufi_Bold', 'BBWTradeGothicLTStd_Bold';

$bbw-arabic-thin: 'DroidKufi_Regular', 'BBWTradeGothicLTStd';
$bbw-arabic-thin-nodir: 'DroidKufi_Regular', 'BBWTradeGothicLTStd';

$arial: $bbw-thin;
$arial-nodir: $bbw-thin-nodir;
$alshaya-bold: $bbw-bold;
$alshaya-arabic-bold: $bbw-arabic-bold;
$alshaya-thin: $bbw-thin;
$alshaya-arabic-thin: $bbw-arabic-thin;
