.product-drawer-container .swatch-list {
  .li-swatch-image {
    width: 5.3125rem;
    height: 5.3125rem;

    a {
      width: 5.3125rem;
      height: 5.3125rem;
      line-height: 0;

      &.active {
        &::after {
          height: auto;
          width: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .li-swatch-text {
    a {
      &.disabled {
        opacity: 0.3;
      }

      &:not(.active):hover {
        background: $pdp_thumbimage_hover_bg;
        color: $plp-quick-view-product-size-text;
      }
    }
  }
}
