.block-alshaya-algolia-react-autocomplete {
  background: $algolia-react-autocomplete-block-background;

  @include breakpoint($only-tablet) {
    display: none !important;

    &.show-algolia-search-bar {
      display: block !important;
    }
  }

  .algolia-search-cleartext-icon {
    @include breakpoint($only-mobile) {
      #{$right}: 0.4rem;
      top: 0.2125rem;
    }

    @include breakpoint($only-tablet) {
      #{$right}: 0.4rem;
    }
  }

  &.clear-icon {
    #alshaya-algolia-autocomplete .react-autosuggest__input {
      padding-#{$right}: 2.5rem !important;

      @include breakpoint($only-tablet) {
        padding-#{$right}: 2.6rem !important;
      }

      @include breakpoint($desktop) {
        padding-#{$right}: 3.3rem !important;
      }
    }
  }

  #alshaya-algolia-autocomplete {
    width: 100%;
    padding: 0;

    @include breakpoint($desktop) {
      width: 27.5rem;
    }

    .ais-InstantSearch__root {
      @include breakpoint($only-tablet) {
        border: 0.5rem solid $algolia-input-border-mobile;
      }

      @include breakpoint($only-mobile) {
        border: 0.5rem solid $algolia-input-border-mobile;
        top: 2.625rem;
        position: absolute;
        width: 100%;
        overflow: inherit;
        height: 3.5rem;

        html[lang='ar'] & {
          top: 2.4625rem;
        }
      }

      .algolia-search-back-icon {
        @include breakpoint($mobile) {
          top: 0.1875rem;
          #{$left}: 0;
        }
      }
    }

    .react-autosuggest__suggestions-container {
      &--open {
        box-shadow: none;
        border: 1px solid $algolia-react-autocomplete-border;
        border-radius: 0;
        width: 24.68rem;
        border-top: none;

        @include breakpoint($only-tablet) {
          width: 100%;
        }

        @include breakpoint($only-mobile) {
          width: 100%;
          border-top: 0;
          height: auto;
          overflow: inherit;
          margin-top: 0;
        }

        .suggested-text {
          padding: 0.625rem 0.75rem 0.625rem 0.6875rem !important;
          font-size: 0.75rem;

          @include breakpoint($only-tablet) {
            font-size: 0.875rem;
          }

          @include breakpoint($only-mobile) {
            font-size: 0.875rem;
          }
        }
      }
    }

    .react-autosuggest__container {
      &--open {
        box-shadow: none;
      }

      &::before {
        display: none;
      }

      &::after {
        background: $algolia-search-icon-background;
        width: 2.9125rem;
        height: 2.8125rem;
        border-radius: 0;
        border-top-#{$right}-radius: 0.3125rem;
        border-bottom-#{$right}-radius: 0.3125rem;
        font-weight: bold;
        font-size: 1.8rem;

        @include breakpoint($only-tablet) {
          display: none;
        }

        @include breakpoint($only-mobile) {
          top: -0.166rem;
          #{$right}: unset;
          #{$left}: 0;
          opacity: 1;
          transition: opacity 0.2s;
          background: none;
          color: $black;
        }
      }

      .trending-title {
        padding: 0.625rem 0.75rem 0.625rem 0.6875rem !important;
        text-transform: capitalize;
      }

      .react-autosuggest__suggestions-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .react-autosuggest__suggestion {
          border-bottom: 1px solid $algolia-react-autocomplete-item-border;
        }
      }
    }
  }

  .react-autosuggest__input {
    width: 24.6875rem;
    font-size: 0.875rem;
    padding-#{$right}: 2.1875rem;
    max-width: 24.6875rem;
    border-radius: 0;
    border-top-#{$left}-radius: 0.3125rem;
    border-bottom-#{$left}-radius: 0.3125rem;
    text-transform: none;
    height: 2.8125rem;
    border: 1px solid $algolia-input-border;
    border-#{$right}: 0;

    @include breakpoint($only-tablet) {
      border-radius: 0;
      width: 100%;
      max-width: inherit;
    }

    @include breakpoint($only-mobile) {
      border: none;
      border-radius: 0;
      height: 2.5rem;
      max-width: none;
      width: 100%;
      margin: 0;
      padding-#{$left}: 2.3125rem;
    }

    &::placeholder {
      text-transform: initial;

      @include breakpoint($only-tablet) {
        font-size: 0.9375rem;
      }
    }

    &--open {
      border-bottom: 1px solid $algolia-react-autocomplete-item-border !important;
    }
  }

  .react-autosuggest__suggestions-container {
    &--open {
      border: none;
      border-bottom-#{$left}-radius: 0.1875rem;
      border-bottom-#{$right}-radius: 0.1875rem;
      box-shadow: 0 0 1.25rem 0 $algolia-search-suggestion-hover-bg;
    }

    ul li {
      .aa-suggestion {
        padding: 0 0.75rem;
      }
    }
  }

  &.focused.show-algolia-search-bar {
    #alshaya-algolia-autocomplete {
      .react-autosuggest__container {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  html[lang=ar] {
    .block-alshaya-algolia-react-autocomplete {
      top: 3.125rem;
      padding: 0;
    }

    body {
      &:not(.no-sticky-algolia-search-bar) {
        margin-top: 6.4125rem;
      }
    }
  }
}

// frontpage mobile specific styles.
body {
  &.frontpage {
    .block-alshaya-algolia-react-autocomplete {
      @include breakpoint($only-mobile) {
        padding: 0;
      }
    }

    &:not(.no-sticky-algolia-search-bar) .branding__menu {
      @include breakpoint($only-mobile) {
        position: fixed !important;
      }
    }

    .block-alshaya-algolia-react-autocomplete #alshaya-algolia-autocomplete .ais-InstantSearch__root {
      @include breakpoint($only-mobile) {
        top: -0.175rem;
      }
    }

    &.Sticky-algolia-search {
      .block-alshaya-algolia-react-autocomplete #alshaya-algolia-autocomplete .ais-InstantSearch__root {
        @include breakpoint($only-mobile) {
          top: 2.925rem;
        }
      }
    }

    &:not(.no-sticky-algolia-search-bar) {
      @include breakpoint($only-mobile) {
        margin-top: 6.4125rem;
      }
    }
  }
}

#alshaya-algolia-search {
  .filter-fixed-top {
    .show-all-filters-algolia {
      @include breakpoint($only-mobile) {
        top: 3.025rem;
      }
    }

    .block-facet-blockcategory-facet-search {
      @include breakpoint($only-mobile) {
        top: 3.025rem;
      }
    }
  }
}
