{# Note: Used only for Patternlab #}

<div class="view-store-finder--list">
  <header>select a store to see details</header>
  <div class="view-store-finder--list__columns">
    <div class="view-store-finder--list__column--1">
      <div class="view-store-finder--list__alphabet">
        <h3>A</h3>
        <div class="views-view-unformatted__rows">
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/3/glossary"
                >
                  Abdullah Al Mubarak Co-op.
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/4/glossary"
                >
                  Abu Halifa Co-op.
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/9/glossary"
                >
                  Al Bairaq Mall
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/12/glossary"
                >
                  Al Bairaq Mall
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/10/glossary"
                >
                  Al Mowasat Hospital
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/11/glossary"
                >
                  Al Mughateer Mall
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/13/glossary"
                >
                  Al Omooma Hospital
                </a>
              </span>
            </div>
          </div>
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/14/glossary"
                >
                  Al Plaza Complex
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="view-store-finder--list__alphabet">
        <h3>B</h3>
        <div class="views-view-unformatted__rows">
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/5/glossary"
                >
                  Bayan Co-op.
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="view-store-finder--list__alphabet">
        <h3>D</h3>
        <div class="views-view-unformatted__rows">
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/8/glossary"
                >
                  Dahiat Abdullah Al Salem Co-Op
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="view-store-finder--list__column--2">
      <div class="view-store-finder--list__alphabet">
        <h3>M</h3>
        <div class="views-view-unformatted__rows">
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/6/glossary"
                >
                  M.H. Alshaya Building
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="view-store-finder--list__alphabet">
        <h3>S</h3>
        <div class="views-view-unformatted__rows">
          <div class="icon-chevronright view-store-finder--list__alphabet__item">
            <div class="views-field views-field-title">
              <span class="field-content">
                <a
                  class="use-ajax"
                  href="//localhost:3000/en/store-detail/7/glossary"
                >
                  Salwa Co-op.
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
