@import "../../../sass/config/_fonts.scss";

// Define Fonts
$base_theme_fonts_directory_path: '/themes/custom/transac/alshaya_hnm/fonts';

@font-face {
  font-family: 'AmperserifDisp_Regular';
  src: url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Regular.eot');
  src:
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Regular.woff') format('woff'),
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Regular.ttf') format('truetype'),
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Regular.svg#HMAmperserifDisp-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmperserifDisp_Italic';
  src: url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Italic.eot');
  src:
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Italic.eot?#iefix') format('embedded-opentype'),
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Italic.woff') format('woff'),
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Italic.ttf') format('truetype'),
    url('#{$base_theme_fonts_directory_path}/HMAmperserifDisp-Italic.svg#HMAmperserifDisp-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HMAmpersand_Light';
  src: url('#{$base_theme_fonts_directory_path}/HMAmpersand-Light.eot');
  src:
    url('#{$base_theme_fonts_directory_path}/HHMAmpersand-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$base_theme_fonts_directory_path}/HMAmpersand-Light.woff') format('woff'),
    url('#{$base_theme_fonts_directory_path}/HMAmpersand-Light.ttf') format('truetype'),
    url('#{$base_theme_fonts_directory_path}/HMAmpersand-Light.svg#HMAmpersand-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

$magazine-regular: 'AmperserifDisp_Regular', 'GESSTwoBold-Bold';
$magazine-italic: 'AmperserifDisp_Italic', 'GESSTwoMedium-Medium';
$magazine-light: 'HMAmpersand_Light', 'GESSTwoLight-Light';
