.attribute-sliderbar {
  &__content {
    letter-spacing: 1px;

    h3 {
      font-family: $hnm-demibold;
    }
  }

  &__close {
    &::before {
      font-size: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.pdp-overlay-details,
.attribute-sliderbar__title {
  font-family: $hnm-demibold;
  letter-spacing: 1px;
}
