@mixin icon_img_styles($height, $width) {
  speak: none;
  content: "";
  display: inline-block;
  height: $height;
  width: $width;
  margin: 0 0 -0.375rem;
  cursor: pointer;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon_img($imgpath: false, $height: 0, $width: 0, $position: before, $repeat: no-repeat center, $styles: true) {
  @if $position == both {
    $position: "before, &:after";
  }

  &:#{$position} {
    @if $styles {
      background: url($imgpath) $repeat;

      @include icon_img_styles($height, $width);
    }
  }
}

@mixin ic-social {
  content: "";
  background-repeat: no-repeat;
  width: 1.875rem;
  height: 1.5625rem;
  display: inline-block;
  background-size: contain;
  background-position: $left center;

  @include breakpoint($only-mobile) {
    width: 1.875rem;
    height: 1.875rem;
  }
}

@mixin pdp_icon_img_styles($height, $width) {
  speak: none;
  content: "";
  display: inline-block;
  height: $height;
  width: $width;
  background-size: contain;
  margin: 0 0 -0.375rem;
  cursor: pointer;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin pdp_icon_img(
  $imgpath: false,
  $height: 0,
  $width: 0,
  $position: before,
  $repeat: no-repeat center,
  $styles: true
) {
  @if $position == both {
    $position: "before, &:after";
  }

  &:#{$position} {
    @if $styles {
      background: url($imgpath) $repeat;

      @include pdp_icon_img_styles($height, $width);
    }
  }

  &:hover::#{$position} {
    @if $styles {
      background: url($imgpath) $repeat;
      opacity: 0.8;

      @include pdp_icon_img_styles($height, $width);
    }
  }
}

@mixin select2-style($select-width) {
  width: $select-width !important;

  .select2-selection {
    font-size: 0.875rem;
    text-align: $left;
    width: $select-width;
    border: 1px solid $primary_dropdown_border;
    border-radius: 0;
    outline: none;
    height: 2.5rem;
    padding: 0.4rem 0.2rem;

    .select2-selection__rendered {
      color: $primary_dropdown_text;

      @include breakpoint($only-mobile) {
        line-height: 1.5rem;
      }
    }
  }

  html[lang="ar"] & {
    .select2-selection--single .select2-selection__rendered {
      width: 94%;
    }
  }

  .select2-selection__arrow {
    top: 0;
    #{$right}: 0;
    height: 2.5rem;
    width: 2.5rem;
    background: $primary_dropdown_arrow_bg;

    &::after {
      // IE10 needs this in px.
      line-height: 1.2;
      height: 2.5rem;
      width: 2.5rem;
      font-size: 2.2rem;
      top: 0;
      #{$left}: auto;
      #{$right}: 0;
      text-align: center;
      display: inline-block;
      background: $primary_dropdown_arrow_bg;
    }
  }
}

@mixin select-wrapper($wrapper-width) {
  width: $wrapper-width;
  margin-bottom: 0.75rem;
  position: relative;

  @include icon(chevrondown, after) {
    line-height: 1.2;
    color: $plp_facet_dropdown_icon;
    font-size: 2.2rem;
    height: 2.5rem;
    width: 2.5rem;
    pointer-events: none;
    position: absolute;
    #{$right}: 0;
    top: 0;
    text-align: center;
    background-color: $primary_dropdown_arrow_bg;
    text-transform: none;

    @include breakpoint($tablet) {
      z-index: 3;
    }
  }
}

@mixin select-style($select-width) {
  font-size: 0.875rem;
  height: 2.5rem;
  padding-#{$left}: 0.625rem;
  color: $plp_tile_product_title;
  appearance: none;
  border: 1px solid $primary_dropdown_border;
  border-radius: 0;
  background-color: $primary_dropdown_bg;
  padding: 0.5rem;
  padding-#{$right}: 1.5rem;
  width: $select-width;
  outline: none;
  direction: $dir;

  @include breakpoint($tablet) {
    background-color: $primary_dropdown_bg;
    position: relative;
    z-index: 3;
  }

  @include breakpoint($only-mobile) {
    font-size: 0.875rem;
  }

  // Arabic font is longer so it gets clipped from bottom.
  html[lang="ar"] & {
    line-height: 1.2;
    height: 2.5rem;
  }
}

$fl_theme_img_directory_path: "/themes/custom/transac/alshaya_footlocker/imgs";
$base_theme_loader_img_directory_path: "/themes/custom/transac/alshaya_footlocker/imgs/icons/FL-loader.svg";
$brand_theme_img_directory_path: "/themes/custom/transac/alshaya_footlocker/imgs";
