header {
  @include breakpoint($desktop) {
    border-bottom: none;
  }

  .region__header {
    display: flex;
    align-items: center;

    @include breakpoint($desktop) {
      display: flex;
      width: 100%;
      flex-flow: row nowrap;
      align-items: center;

      & > div {
        width: 17.5%;
      }
    }

    .block-alshaya-main-menu {
      @include breakpoint($desktop) {
        width: auto;
        margin: 0;
        flex-grow: 1;
        padding-#{$left}: rem(105);

        ul.menu--one__list {
          width: auto;
        }

        li.menu--one__list-item {
          margin-#{$right}: rem(10);
          float: $left;

          &:last-child {
            margin-#{$right}: 0;
          }

          .menu__link {
            font-size: rem(14);
            letter-spacing: 0.025px;
            border: none;
            font-family: $alshaya-bold;
          }

          .menu--one__link {
            width: fit-content;
          }
        }

        li.menu--two__list-item {
          .menu__link {
            font-size: rem(14);
            font-family: $alshaya-thin;
          }
        }
      }
    }

    .block-alshaya-react-mini-cart {
      @include breakpoint($desktop) {
        width: auto;
        margin-#{$left}: rem(28);
        flex-shrink: 0;
      }
    }

    .block-system-branding-block {
      flex-grow: 1;

      @include breakpoint($tablet) {
        flex-grow: initial;
      }

      @include breakpoint($desktop) {
        width: auto;
      }

      @include breakpoint($only-mobile) {
        width: auto;
      }

      .site-brand-home {
        display: inline-flex;

        @include breakpoint($desktop) {
          min-width: rem(32);
          padding-top: rem(2);
        }

        a {
          display: inline-flex;

          @include breakpoint($upto-tablet) {
            position: relative;
            top: rem(-2);
            margin-top: 0;
            margin-#{$left}: rem(56);
            z-index: 2;

            html[lang="ar"] & {
              text-align: center;
            }
          }

          @include breakpoint($desktop) {
            width: rem(70);
            height: rem(34);
          }

          img {
            html[lang="ar"] & {
              width: auto;
              height: auto;
              margin-top: auto;
            }

            @include breakpoint($upto-desktop) {
              width: rem(48);

              html[lang="ar"] & {
                width: rem(48);
              }
            }
          }
        }
      }
    }

    & > div {
      display: inline-flex;
    }
  }

  .c-header__region {
    @include breakpoint($only-mobile) {
      height: rem(68);
      margin-top: 0;
      display: flex;
      align-items: center;
      padding-#{$right}: rem(16);

      html[lang="ar"] & {
        height: rem(68);
      }
    }

    @include breakpoint($only-tablet) {
      border-bottom: none;
      height: rem(68);
      margin: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
    }

    @include breakpoint($desktop) {
      padding-bottom: rem(16);
      padding-top: rem(16);
    }

    .block-system-branding-block {
      .site-brand-home {
        img {
          @include breakpoint($only-tablet) {
            width: rem(48);
          }
        }
      }
    }
  }
}

.site-brand-home {
  @include breakpoint($only-mobile) {
    width: 100%;
    display: inline-flex;
  }

  a {
    @include breakpoint($only-tablet) {
      margin-#{$left}: rem(56);
    }
  }

  .block-system-branding-block & {
    html[lang="ar"] & {
      @include breakpoint($upto-desktop) {
        width: auto;

        img {
          width: rem(80);
          height: rem(30);
        }
      }
    }
  }

  a {
    @include breakpoint($desktop) {
      display: inline-flex;
      width: rem(70);

      .alias--cart-login & {
        width: rem(74);
      }
    }

    @include breakpoint($upto-tablet) {
      width: auto;
      display: inline-block;
      margin: 0 auto;
      #{$left}: 0;
      #{$right}: 0;
      top: 0;
      margin-#{$left}: rem(56);

      html[lang="ar"] & {
        max-width: rem(80);
        top: rem(6);
      }
    }
  }
}

.block-cart-mini-block,
.block-alshaya-react-mini-cart,
.static-minicart-wrapper {
  .cart-link {
    width: rem(24);
    height: rem(24);
    margin: 0;
    position: initial;

    html[lang="ar"] & {
      margin-top: 0;
    }
  }

  .quantity {
    font-size: rem(9);
    position: relative;
    bottom: rem(-16);
    #{$left}: rem(9);
    width: rem(14);
    height: rem(14);

    @include breakpoint($only-mobile) {
      #{$left}: rem(8);
      top: rem(13);
    }

    @include breakpoint($only-tablet) {
      top: rem(15);
    }
  }
}

#mini-cart-wrapper {
  @include breakpoint($tablet) {
    margin-top: 0;
  }

  @include breakpoint($desktop) {
    min-width: auto;
    padding-#{$right}: rem(20);
  }
}

.acq-mini-cart,
#mini-cart-wrapper {
  display: inline-flex;
}

#block-cartminiblock,
.block-alshaya-react-mini-cart {
  @include breakpoint($only-tablet) {
    position: initial;
  }
}

.c-menu-primary {
  @include breakpoint($tablet) {
    height: 0;
  }

  .hamburger--menu {
    .logged-in & {
      @include breakpoint($only-mobile) {
        padding: 0;
        #{$left}: rem(8);
        top: rem(16);
      }

      @include breakpoint($only-mobile) {
        top: rem(22);
      }
    }
  }

  a {
    text-transform: none;

    @include breakpoint($upto-desktop) {
      font-size: rem(12);
      text-transform: none;
    }
  }

  .site-brand-home {
    a {
      @include breakpoint($only-tablet) {
        margin-#{$left}: rem(56);
        margin-top: rem(-8);
      }
    }
  }

  .mobile--menu {
    top: rem(24);
    font-size: 0;
    padding: 0;

    @include breakpoint($only-mobile) {
      #{$left}: rem(16);
      margin-top: 0;

      html[lang="ar"] & {
        right: rem(16);
      }
    }

    @include breakpoint($only-tablet) {
      position: absolute;
      #{$left}: rem(18);
      top: rem(30);
    }

    &::before {
      @include breakpoint($upto-desktop) {
        height: rem(20);
        width: rem(30);
        margin-#{$right}: 0;
      }
    }
  }

  .block-system-menublock {
    li {
      position: static;
    }
  }

  li {
    .mobile--search {
      padding: 0;
      display: block;
      font-size: 0;
      position: absolute;
      top: rem(18);
      #{$left}: rem(84);
      z-index: 0;

      @include breakpoint($upto-desktop) {
        width: auto;
        margin-#{$right}: 0;
        #{$left}: unset;
        top: rem(20);
        #{$right}: rem(93);
      }

      @include icon_img(
        "#{$nb_theme_img_directory_path}/icons/search.svg",
        rem(32),
        rem(32)
      );

      &::before {
        background-size: rem(24);
        margin-bottom: 0;

        @include breakpoint($upto-tablet) {
          height: rem(24);
          width: rem(24);
          margin-#{$right}: 0;
          top: 0;
          #{$left}: 0;
        }
      }

      @include breakpoint($tablet) {
        display: none;
      }

      body.frontpage & {
        display: none;
      }
    }

    @include breakpoint($only-mobile) {
      display: block;
      text-align: $left;
      border: none;
    }

    .main--menu {
      .menu__link {
        @include breakpoint($only-mobile) {
          font-size: rem(14);
          text-transform: none;
        }
      }
    }
  }

  .store {
    @include breakpoint($only-mobile) {
      width: rem(16);
      top: rem(15);
      margin-#{$right}: 0;
      #{$right}: rem(64);
      height: rem(20);

      html[lang="ar"] & {
        left: rem(66);
      }
    }

    @include breakpoint($upto-desktop) {
      font-size: 0;
    }

    @include breakpoint($only-tablet) {
      position: absolute;
      padding: 0;
      margin: 0;
      width: 0;
      #{$left}: 87%;
      top: rem(27);
    }

    @include icon_img(
      "#{$nb_theme_img_directory_path}/icons/store-finder.svg",
      rem(32),
      rem(32)
    );

    &::before {
      content: "";
      #{$left}: rem(-3);
      width: rem(16);
      height: rem(18);
      margin-#{$right}: 0;

      html[lang="ar"] & {
        @include breakpoint($only-mobile) {
          #{$left}: rem(-8);
        }
      }

      @include breakpoint($tablet) {
        font-size: rem(28);
      }
    }
  }

  .block-system-menublock {
    li {
      @include breakpoint($only-tablet) {
        position: static;
      }
    }
  }

  .region__menu-primary {
    .menu--one__list {
      .menu--one__link {
        padding: rem(16) rem(10);
        font-size: rem(14);
      }
    }
  }

  .menu--active {
    .mobile--close {
      @include breakpoint($upto-desktop) {
        #{$left}: 89%;
      }
    }
  }
}

.menu__back {
  @include breakpoint($upto-desktop) {
    background:
      url("#{$nb_theme_img_directory_path}/icons/ic-chevronleft.svg")
      no-repeat;
    margin-#{$left}: 0;
    height: rem(20);

    html[lang="ar"] & {
      transform: rotate(180deg);
    }
  }
}

.main--menu {
  @include breakpoint($upto-tablet) {
    background-color: $main_menu_bg;
  }

  ul {
    &.menu--one__list {
      @include breakpoint($upto-tablet) {
        width: 100%;
      }
    }
  }
}

.menu__in {
  @include breakpoint($upto-desktop) {
    margin-top: rem(-40);
  }
}

.toggle--sign {
  width: calc(100% - #{rem(50)});
}

body {
  .branding__menu {
    @include breakpoint($upto-desktop) {
      box-shadow: none;
    }
  }
}

@include breakpoint($upto-desktop) {
  .main--menu {
    .menu__link {
      font-size: rem(14);
    }

    ul.menu--one__list {
      margin-top: rem(6);
    }
  }

  .menu__list-item {
    border-bottom: none;
  }

  .menu--active {
    .mobile--close {
      #{$left}: initial;
      #{$right}: rem(8);
    }
  }

  .menu__in {
    width: rem(32);
    height: rem(32);
    #{$right}: 0;

    .menu--two__list-item & {
      margin-top: rem(-42);
    }
  }

  .column {
    padding-#{$left}: rem(24);
    padding-#{$right}: rem(10);
  }

  .logged-in {
    .c-menu-primary {
      .my-account-nav a {
        padding-#{$left}: rem(14);
        font-size: rem(14);
      }
    }
  }

  .back--link {
    font-size: rem(14);
  }
}

@include breakpoint($only-tablet) {
  .c-menu-primary {
    ul.menu {
      margin: 0;
    }
  }
}

@include breakpoint($desktop) {
  .block-alshaya-main-menu {
    position: unset;

    li.menu--one__list-item {
      .menu--one__link {
        padding-#{$left}: 0;
        padding-#{$right}: rem(20);
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .menu--three__list-item {
    > .menu-two__link-wrapper {
      .menu--three__link {
        padding-#{$left}: rem(16);
      }
    }
  }
}
