.c-menu-secondary {
  text-transform: none;
  text-align: $left;

  @include breakpoint($upto-tablet) {
    width: 100%;
  }

  @include breakpoint($desktop) {
    text-align: $right;
    height: rem(32);
    text-transform: none;

    .region__menu-secondary {
      display: flex;
      justify-content: flex-end;
      height: rem(32);
      align-items: center;
    }
  }

  @include breakpoint($upto-desktop) {
    ul {
      margin-top: rem(6);
    }

    li {
      height: rem(50);
      padding-#{$left}: rem(24);
      padding-#{$right}: rem(10);
      margin-#{$left}: 0;
      margin-#{$right}: 0;
      border: none;

      &::after {
        font-size: rem(32);
        #{$right}: rem(8);
        margin-top: rem(-42);
      }
    }

    a {
      height: rem(50);
      padding: rem(16) rem(4);
      padding-#{$left}: 0;
    }
  }

  a {
    font-size: rem(14);
    height: rem(32);
    display: flex;
    align-items: center;

    @include breakpoint($upto-desktop) {
      height: rem(46);
      line-height: 2.5;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

body {
  @include breakpoint($upto-desktop) {
    margin-top: rem(68);

    html[lang=ar] & {
      margin-top: rem(68);
    }
  }

  @include breakpoint($only-tablet) {
    margin-top: rem(64);
  }
}

.menu__in {
  &::after {
    @include breakpoint($upto-desktop) {
      font-size: rem(32);
    }
  }
}

.c-my-account-nav {
  li {
    border-bottom: none;

    &::after {
      font-size: rem(32);
      margin-top: rem(-26);
      color: $header_mobile_menu_arrow;
    }
  }

  h3.my-account-title {
    padding-#{$left}: rem(14);
    font-size: rem(14);
  }

  @include breakpoint($only-mobile) {
    width: 100%;
  }
}
