.alias--cart,
.alias--checkout,
.alias--checkout-confirmation {
  .spc-main,
  .spc-pre-content,
  .spc-post-content,
  .spc-footer {
    @include breakpoint($desktop) {
      max-width: rem(1238);
    }
  }
}

.alias--checkout,
.alias--checkout-confirmation {
  .page-standard {
    &:not(.l-two--sf) {
      background-color: $spc-checkout-cart-background;
    }
  }
}

.alias--checkout,
.alias--cart,
.alias--checkout-confirmation {
  @include breakpoint($only-mobile) {
    .c-footer {
      padding-bottom: rem(92);
    }
  }
}

.alias--checkout {
  @include breakpoint($only-mobile) {
    .c-footer {
      padding-bottom: rem(0);
    }
  }
}

.alias--cart {
  .spc-main {
    @include breakpoint($only-mobile) {
      margin-bottom: 0;
    }

    .spc-content {
      @include breakpoint($desktop) {
        width: 54.8%;
      }
    }

    .spc-sidebar {
      @include breakpoint($desktop) {
        width: 41%;
      }

      @include breakpoint($only-mobile) {
        margin-top: 0;
      }
    }
  }

  .spc-post-content {
    @include breakpoint($only-mobile) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
