.checkout-link {
  &:not(.checkout_com_applepay) {
    a {
      font-family: $alshaya-thin;
      font-size: rem(14);
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

.spc-checkout {
  .checkout-link {
    &:not(.checkout_com_applepay) {
      float: $right;
      width: auto;
      padding: rem(0) rem(22);
    }
  }
}
