/* Color palette from WE */

$WE_black_one: #000;
$WE_black_two: #212121;
$WE_grey_one: #d8d8d8;
$WE_grey_two: #777;
$WE_grey_three: #333;
$WE_grey_four: #363636;
$WE_gray_five: #dadada;
$WE_gray_six: #f2f2f2;
$WE_gray_seven: #565458;
$WE_gray_eight: #b3b3b3;
$WE_gray_nine: #eaeaea;
$WE_gray_ten: #a0a0a0;
$WE_gray_eleven: #f0f0f0;
$WE_gray_twelve: #eeee;
$WE_shadow: rgba(128, 128, 128, 0.5);
$WE_white: #fff;
$WE_white_two: #f9f9f9;
$WE_white_three: #f7f7f7;
$WE_white_four: rgba(51, 51, 51, 0.06);
$WE_white_five: #e2e2e2;
$WE_dark_wood: #81644b;
$WE_alshaya_priv: #ac8e54;
$WE_message_green: #39b54a;
$medium-green: #1da545;
$WE_deep_red: #b61935;
$WE_light_red: rgba(182, 25, 53, 0.15);
$WE_warning_red: #d0011b;
$WE_tint_red: #f65044;
$tomato: #e6591b;
$WE_deep_blue: #4285f4;
$WE_light_blue: #e0eaf2;
$roman_coffee: #81644b;

// Overrides for variables.
// Global elements.
$primary_form_link: $WE_grey_three;
$content_link_color: $WE_grey_two;
$primary_link: $WE_grey_three;
$primary_link-hover: $WE_grey_three;
$primary_link-active: $WE_grey_three;
$primary_text: $WE_grey_three;
$primary_input_focus_border: $WE_grey_four;
$secondary_link: $WE_grey_three;

// Errors.
$content_error_msg_bg: $WE_warning_red;
$content_error_msg_text: $WE_white;
$basket_header_oos_txt: $WE_white;
$basket_header_oos_bg: $WE_warning_red;

// Titles.
$page_title: $WE_grey_three;
$block_title: $WE_grey_three;
$title: $WE_grey_three;
$sub_title: $WE_grey_three;
$user_sidebar_block_title: $WE_grey_three;
$user_block_link: $WE_grey_two;
$promo_panel_image_title_subtitle_title_text: $WE_grey_three;
$user_login_section_title: $WE_grey_three;
$user_login_link_btn_text: $WE_grey_three;
$social-network-text: $WE_grey_three;

// Accordions.
$accordion_title: $WE_grey_three;
$accordion_title_icon: $WE_grey_three;

// Form elements.
$primary_input_label: $WE_gray_eight;
$primary_input_border: $WE_grey_three;
$primary_input: $WE_grey_three;
$primary_input_inline_error: $WE_warning_red;

//Buttons.
$primary_btn_bg: $WE_grey_three;
$primary_btn_text: $WE_white;
$pending_btn_bg: $tomato;
$returned_btn_bg: $WE_grey_one;
$complete_btn_bg: $medium-green;
$primary_brand_button_text: $WE_white;
$secondary_brand_button_text: $WE_white_five;
$primary_brand_button: $WE_grey_three;
$secondary_submit_button_text: $WE_white_three;

// Messages
$default_msg_bg: $WE_message_green;
$default_msg_text: $WE_white_three;

// Dropdown.
$primary_dropdown_bg: $WE_white;
$primary_dropdown_arrow_bg: $WE_white;
$primary_dropdown_arrow_icon: $WE_grey_three;
$primary_dropdown_arrow_left_border: $WE_white;
$primary_dropdown_text: $WE_grey_three;
$primary_dropdown_border: $WE_gray_five;
$primary_dropdown_option_hover: $WE_gray_five;
$primary_dropdown_option_border: $WE_gray_five;
$primary_dropdown_option_disbled: $WE_grey_two;
$primary_dropdown_focus: $WE_gray_five;

// Radio Buttons.
$primary_radiobtn_filled: $WE_grey_three;
$primary_radiobtn_empty: $WE_grey_two;

// Checkbox & Radio.
$primary_checkbox_empty: $WE_grey_two;
$primary_checkbox_filled: $WE_grey_three;

// Tables.
$primary_th_bg: $WE_gray_eleven;
$primary_td_highlight3: $WE_white_three;
$primary_tr_hover: $WE_white_three;

// Language Switcher
$lang_switch: $WE_grey_three;
$lang_switch_active: $WE_grey_three;
$lang_switch_firsttime_bg: $WE_grey_three;
$lang_switch_firsttime_border: $WE_tint_red;
$lang_switch_firsttime_bg: $WE_white;
$lang_switch_list: $WE_grey_three;
$lang_switch_close_icon: $WE_grey_three;

// Header - Top header.
$header_secondary_bg: $WE_gray_six;
$header_secondary_bg_upto_desk: $WE_white;
$header_secondary_menu_link_mobile: $WE_grey_three;
$header_secondary_menu_link: $WE_grey_three;
$header_secondary_menu_link_hover_bg: $WE_white_two;

// Header tablet and mobile.
$header_c_menu_text: $WE_grey_three;
$header_c_menu_icon_color: $WE_grey_three;
$header_toggle_sign_active_tab: $WE_grey_three;
$header_mobile_menu_arrow: $WE_grey_three;
$header_search_border_mobile: $WE_grey_three;
$header_search_active_text: $WE_grey_three;
$header_my_account_icon: $WE_grey_three;
$header_border: $WE_white_three;
$header_c_menu_search_active_icon: $WE_grey_three;
$header_c_menu_store_active_icon: $WE_grey_three;
$header_c_menu_search_icon: $WE_grey_three;

// Header - Search.
$primary_search_btn: $WE_grey_three;
$primary_search_bg: $WE_white;
$primary_search_btn_icon: transparent;
$primary_search_input: $WE_grey_three;
$primary_search_input_placeholder: $WE_grey_two;
$primary_search_border: $WE_gray_five;

// Header - welcome user.
$header_my_account_h3_title: $WE_grey_three;

// Mega menu.
$pre_content_region_bg: $WE_white;
$mm_l1_link: $WE_grey_three;
$mm_l1_border: $WE_white_three;
$mm_l1_link_active: $WE_grey_three;
$mm_l1_link_active_bg: $WE_white;
$mm_l1_link_active_shadow: $WE_grey_three;
$mm_l2_link: $WE_grey_three;
$mm_l2_link_mobile_menu: $WE_grey_three;
$mm_l3_link: $WE_grey_two;
$mm_mob_l3_link: $WE_grey_three;
$mm_l3_link_hover: $roman_coffee;
$mm_highlight_label: $WE_grey_three;
$mm_highlight_title: $WE_grey_three;
$mm_l1_link_hover: $WE_white;
$highlights_subtitle_hover: $WE_grey_three;
$menu_toggle_sign: $WE_grey_three;
$mm_mob_arrow_icon: $WE_black_one;

// Footer Primary.
$footer_bg: $WE_gray_six;
$footer_title_h3: $WE_grey_three;
$footer_link: $WE_grey_two;
$footer_link_hover: $WE_grey_three;
$_footer_mobile_accordion_border: $WE_white;

// Our Brands.
$our_brands_footer_separator: $WE_grey_three;
$our_brand_section_title: $WE_grey_three;

// Copyright Footer.
$copyright_footer_bg: $WE_white;
$copyright_footer_text: $WE_grey_three;
$checkout_footer_copyright_mobile_bg: $WE_white;

// Footer social icons.
$social_links: $WE_grey_three;
$social_links_hover: $WE_grey_two;

//7. Newsletter-signup
$newsletter_title_h3: $WE_white;
$newsletter_block_text: $WE_white;
$newsletter_input_placeholder: $WE_grey_two;
$newsletter_input_bg: transparent;
$newsletter_input_border: $WE_grey_two;
$newsletter_submit_btn: $WE_grey_three;
$newsletter_submit_btn_text: $WE_white;

// gradient holder
$gradient-holder: $WE_gray_nine;

// Sharethis
$sharethis_icon: $WE_gray_seven;

// Product Detail Page.
$pdp_sidebar_label: $WE_grey_three;
$pdp_desc_wrapper: $WE_gray_nine;
$pdp_desc_wrapper_close_icon: $WE_grey_three;
$pdp_desc_wrapper_close_bg: $WE_grey_one;
$pdp_sidebar_desc_overlay_section_border: $WE_grey_one;
$pdp_delivery_options_subtitle: $WE_grey_two;
$pdp_cc_form_highlight_txt: $WE_black_one;
$pdp_cc_top_stores_list_border: $WE_grey_three;
$pdp_cc_top_stores_list_counter: $WE_grey_three;
$pdp_cc_btn_bg: $WE_grey_three;
$pdp_cc_btn_text: $WE_white;
$modal_close_icon: $WE_grey_three;
$modal_close_bg: $WE_grey_one;
$pdp_size_option_bg: $WE_white;
$pdp_size_option_border: $WE_grey_three;
$pdp_size_option_text: $WE_grey_three;
$pdp_size_option_selected_text: $WE_white;
$pdp_size_option_selected_bg: $WE_grey_three;
$pdp_size_option_text_hover : $WE_white;
$pdp_size_option_bg_hover: $WE_grey_three;
$pdp_sizeguide_link: $WE_deep_blue;
$pdp_swatch_disabled: $WE_grey_one;
$pdp_white_color_attribute: $WE_white;
$pdp_white_color_attribute_hover_border: $WE_grey_three;
$pdp_white_color_attribute_border: $WE_grey_three;
$pdp_product_special_price_text: $WE_deep_red;
$pdp_product_special_price: $WE_deep_red;
$pdp_product_discount_price: $WE_deep_red;
$pdp_product_discount_text: $WE_deep_red;

// PDP CS/US
$pdp_modal_full_prodlink: $WE_grey_one;
$pdp_modal_full_prodlink_icon: $WE_grey_three;

// Mini cart.
$primary_minicart_quantity_bg: $WE_deep_red;
$primary_minicart_quantity_text: $WE_white;
$minicart_notification_border: $WE_grey_three;
$minicart_notification_bg: $WE_white;
$minicart_notification_border: $WE_grey_three;
$minicart_notification_shadow: transparent;
$minicart_notification_text: $WE_grey_three;
$minicart_notification_btn_bg: $WE_grey_three;
$minicart_notification_btn_text: $WE_white;
$minicart_notification_label: $WE_grey_two;
$mobile_continue_shopping_btn_text: $WE_white;
$mobile_continue_shopping_btn_bg: $WE_grey_three;
$mobile_continue_shopping_btn_border: $WE_grey_three;
$desktop_continue_shopping_btn_text: $WE_white;
$desktop_continue_shopping_btn_bg: $WE_grey_three;
$desktop_continue_shopping_btn_border: $WE_grey_three;

// Basket table.
$basket_th_4th_child: $WE_gray_nine;
$basket_th_text: $WE_black_one;
$basket_tr: $WE_white_three;
$basket_tr_hover: $WE_gray_six;
$primary_td_bg_highlight: $WE_gray_six;
$basket_content_link_color: $WE_deep_blue;
$basket_tooltip_not_available: $WE_white_five;
$basket_total_label_text: $WE_black_one;
$basket_total_label_text_subtitle: $WE_grey_two;
$basket_table_th_and_tr_last_border: $WE_white_two;
$basket_continue_shopping_link: $WE_black_one;
$basket_header_promo_bg: $WE_deep_blue;
$basket_empty_message: $WE_black_one;

// Basket top promotions.
$basket_free_delivery_inactive_header_promo_bg: $WE_deep_blue;
$basket_free_delivery_inactive_header_promo_txt: $white-two;
$basket_free_delivery_active_header_promo_bg: $white-two;
$basket_free_delivery_active_header_promo_txt: $WE_deep_blue;

// Totals.
$total_td_2nd_child_bg: $WE_white_two;

// Tooltip
$tooltip_bg: $WE_white_two;
$tooltip_text: $WE_black_one;
$tooltip_border: $WE_black_one;
$tooltip_border_2: $WE_white_two;
$tooltip_icon: $WE_deep_blue;
$tooltip_link: $WE_deep_blue;

// Checkout securely block.
$checkout_securely_txt: $WE_grey_three;
$checkout_securely_icon_bg: $WE_grey_three;
$checkout_securely_icon_mobile_txt: $WE_grey_three;
$checkout_securely_icon_txt: $WE_white_two;

// Basket.
$basket_page_title: $WE_grey_three;

// Checkout Global.
$checkout_section_titles: $WE_black_one;
$checkout_footer_title: $WE_grey_three;
$checkout_footer_bg: $WE_gray_nine;
$checkout_footer_border-top: $WE_gray_nine;
$checkout_footer_txt: $WE_grey_three;
$checkout_footer_light_txt: $WE_grey_two;
$checkout_login_guest_email_text_mobile: $WE_black_one;
$checkout_login_guest_email_text: $WE_black_one;
$checkout_header_border-bottom: $WE_black_one;
$checkout_header_border-top: $WE_white_five;
$checkout_delivery_shipping_row_border: $WE_gray_five;
$checkout_login_btn_bg: $WE_grey_three;
$checkout_transaction_type_color: $WE_grey_three;
$checkout_method_choice_tab_title_active: $WE_grey_three;
$checkout_tab_active_border_mobile: $WE_grey_three;

// Checkout home delivery.
$checkout_default_address_border: $WE_grey_three;
$checkout_default_address_bg: $WE_grey_three;
$checkout_deliver_address_btn_txt: $WE_white;
$address_button_text: $WE_black_one;
$address_button_border: $WE_black_one;

// Counters.
$primary_counter_bg: $WE_grey_three;
$primary_counter_text: $WE_white;

// Checkout tabs.
$checkout_tab_active_hr: $WE_grey_three;
$checkout_tab_default_border: $WE_gray_nine;
$checkout_tab_default_title: $WE_grey_two;
$checkout_tab_active_title: $WE_black_one;
$checkout_tab_active_description: $WE_grey_three;
$checkout_tab_separator: $WE_black_one;

// Checkout progress.
$checkout_progress_bg: $WE_white;
$checkout_progress_complete_text: $WE_grey_two;

// Order summary block.
$order_summary_caption_bg: $WE_white_three;
$order_summary_content_bg: $WE_white_three;
$order_summary_totals_bg: $WE_white_three;
$order_summary_delivery_type_bg: $WE_white_three;
$order_summary_address_bg: $WE_white_three;

// Checkout login.
$checkout_login_tab_border: $WE_grey_one;
$checkout_login_tab_text: $WE_grey_two;
$checkout_login_tab_border_active: $WE_grey_three;
$checkout_login_tab_text_active: $WE_black_one;
$checkout_guest_button_border: $WE_grey_three;
$checkout_guest_button_txt: $WE_grey_three;

// Checkout click and collect heading cnc form.
$checkout_cc_cnc_form_title_border: $WE_white_five;
$checkout_cc_near_me_border: $WE_grey_three;
$checkout_cc_location_result_label: $WE_grey_three;
$checkout_cc_location_result_label_selected_location: $WE_black_one;

// Checkout Click & collect.
$checkout_cc_list_map_link_default: $WE_black_one;
$checkout_cc_list_map_link_active: $WE_grey_three;
$checkout_cc_store_name: $WE_black_one;
$checkout_cc_store_address: $WE_grey_two;
$checkout_cc_list_hours_label: $WE_black_one;
$checkout_cc_list_hours_label_icon: $WE_black_one;
$checkout_cc_list_hours_content: $WE_grey_two;
$checkout_cc_list_hours_content_tablet: $WE_grey_two;
$checkout_cc_list_select_store_btn_bg: $WE_white;
$checkout_cc_list_select_store_btn_border: $WE_black_one;
$checkout_cc_list_select_store_btn_txt: $WE_black_one;
$checkout_cc_list_change_store_btn_bg: $WE_grey_three;
$checkout_cc_list_change_store_btn_txt: $WE_white;
$checkout_cc_list_select_store_btn_border: $WE_grey_three;
$checkout_cc_list_select_store_btn_border: $WE_grey_three;
$checkout_cc_list_delivery_time_label: $WE_black_one;
$checkout_cc_list_delivery_time: $WE_grey_three;
$checkout_cc_list_delivery_time_tablet: $WE_black_one;
$checkout_cc_selected_store_content_border: $WE_gray_five;
$checkout_cc_selected_store_content_bg: $WE_white;
$checkout_cc_help_text: $WE_black_one;
$checkout_cc_help_text_content: $WE_grey_two;
$checkout_cc_store_location_input_label_mobile_color: $WE_grey_three;

// Checkout payment.
$checkout_payment_row_selected: $WE_white_three;
$checkout_payment_row_default: $WE_white;
$checkout_payment_row_hover: $WE_white_three;
$checkout_payment_method_title: $WE_black_one;
$checkout_payment_method_icon_bg: $WE_white_three;
$checkout_payment_method_desc: $WE_grey_two;
$checkout_payment_option_border: $WE_gray_five;

// Payment Cards.
$payment_card_label: $WE_black_one;

//Checkout Confirmation
$checkout_order_print_btn_border: $WE_black_one;
$checkout_order_print_btn_text: $WE_black_one;
$checkout_confirm_continue_shopping_border: $WE_black_one;
$checkout_confirmation_detail_bg: $WE_white;
$checkout_confirmation_detail_product_count: $WE_gray_six;
$checkout_confirmation_detail_primary_text: $WE_grey_three;
$checkout_confirmation_detail_secondary_text: $WE_grey_two;
$checkout_confirmation_detail_dark_text: $WE_grey_three;
$checkout_confirmation_detail_light_text: $WE_gray_ten;
$checkout_confirm_order_summary_row: $WE_light_blue;
$checkout_confirm_order_summary_row_text: $WE_deep_blue;
$order_detail_order_details_row: $WE_light_blue;
$order_detail_order_details_row_td_blend: $WE_light_blue;
$checkout_order_details_label: $WE_deep_blue;
$checkout_confirm_order_item_bg: $WE_white;
$checkout_confirm_order_item_bg_blend: $WE_gray_six;
$checkout_confirmation_detail_amount: $WE_black_one;

// Breadcrumb.
$breadcrumb_bg: $WE_white_three;
$breadcrumb_bg_tablet: $WE_gray_five;
$breadcrumb_link: $WE_grey_three;
$breadcrumb_link_hover: $WE_grey_two;
$breadcrumb_link_active: $WE_grey_three;

// Pace progress color
$progress_loader: $WE_grey_three;

// Department page
$department_category_list_hover: $WE_grey_three;
$department_category_accordion_title: $WE_grey_three;
$department_category_accordion_title_arrow: $WE_grey_three;

// free design service form
$form-middle-seperator: $WE_gray_five;
$form-field-legend: $WE_grey_four;
$form-field-label: $WE_gray_eight;
$form-field-title: $WE_grey_two;
$form-select-border: $WE_white_five;
$form-select-text: $WE_gray_eight;
$form-edit-room-legend: $WE_grey_four;
$form-field-textarea-border: $WE_grey_two;
$mobile-field-placeholder: $WE_white;

// Category carousel.
$_category_carosel_title_color: $WE_black_one;

// Promo Panel - Today's Offer / Featured Savings.
$promo_panel_label: $WE_white;
$promo_panel_mobile_label: $WE_white;
$promo_panel_label_bg: rgba(0, 0, 0, 0.9);
$promo_panel_label_bg_active: $WE_black_one;
$_promo_panel_CTA_border: $WE_grey_three;
$_promo_panel_CTA_text: $WE_grey_three;

// Home page - slider.
$gallery_arrows_bg: $WE_grey_three;
$hp_slider_dots: $WE_grey_three;
$slider_arrow_bg: rgba(255, 255, 255, 0.5);

// Delivery banner.
// Delivery tabs.
$deliverybanner_title: $WE_grey_three;
$deliverybanner_subtitle: $WE_grey_two;
$deliverybanner_border: $WE_black_one;
$deliverybanner_shadow: rgba(236, 236, 236, 0.5);
$deliverybanner_link: $WE_grey_three;

// Back to top.
$btt_text: $WE_grey_three;

// Addressbook.
$address_primary_controls_active: $WE_grey_three;
$address_pp_delete_closebtn: $WE_gray_five;
$address_pp_delete_closebtn_icon: $WE_grey_three;
$address_cancel_button: $WE_deep_blue;
$address_book_delete_cancel: $WE_deep_blue;

// User - My account nav & dashboard.
$my_account_nav_active: $WE_grey_three;
$user_recent_order_icon: $WE_grey_three;
$my_account_dashboard_back_link: $WE_grey_three;
$my_account_no_order_button_bg: $WE_white;
$my_account_no_order_button_text: $WE_grey_three;
$my_account_no_order_button_border: $WE_black_one;

// Join the club block - user dashboard page.
$joinclubblock_title: $WE_alshaya_priv;

// Order Print
$order_print_dark_txt: $WE_black_one;
$order_print_delivery_details_row: $WE_white;
$order_print_delivery_details_row_border: $WE_black_one;
$order_print_order_details_row_label: $WE_black_one;
$order_print_order_details_row_dark_label: $WE_grey_three;
$order_print_order_details_row_bg: $WE_white;
$order_print_order_details_row_bg_blend: $WE_gray_six;
$order_print_product_count_row_bg: $WE_gray_six;
$order_print_order_details_price_wrapper: $WE_black_one;
$order_print_order_details_row_light: $WE_gray_eight;
$order_print_order_details_total_label: $WE_grey_two;
$order_print_order_details_item_row_details: $WE_gray_eight;
$order_print_delivery_details_price_label: $WE_grey_three;

// Sitemap
$_sitemap_l1: $WE_grey_three;
$_sitemap_l3: $WE_grey_three;

// Webform Contact Us.
$webform_contact_legend: $WE_grey_three;

// 404 & Maintenance Pages.
$maintenance_body_bg: $WE_white;
$maintenance_link: $WE_white;
$maintenance_link_border: $WE_white;
$maintenance_titles: $WE_white;
$maintenance_container_border_top: $WE_gray_six;
$maintenance_container_bg: $WE_gray_six;
$maintenance_container_border: $WE_grey_three;
$maintenance_body_text_strong: $WE_grey_three;
$maintenance_body_text_regular: $WE_grey_three;
$maintenance_body_text_arabic: $WE_black_one;
$maintenance_text_shadow: rgba(0, 0, 0, 0.5);

// Store finder.
$store_finder_header: $WE_black_one;
$store_finder_header_desktop: $WE_black_one;
$store_finder_subheader: $WE_black_one;
$store_finder_text: $WE_grey_three;
$store_finder_location_search_text_placeholder: $WE_gray_eight;
$store_finder_location_search_text_input_border_mobile: $WE_gray_eight;
$store_finder_icon: $WE_grey_three;
$store_finder_text_hover: $WE_grey_three;
$store_finder_border_hover: $WE_grey_three;
$store_finder_backbtn: $WE_grey_three;
$store_finder_search_results_hour_label: $WE_grey_three;
$store_finder_get_direction_label_color: $WE_grey_three;
$store_finder_search_results_tile_link: $WE_grey_three;
$store_finder_search_results_label: $WE_black_one;
$store_finder_search_results_hour_icon_open: $WE_grey_three;

// Store finder - search results.
$store_finder_search_results_tile_icon: $WE_grey_three;
$store_finder_search_results_tile_bg: $WE_white_three;
$store_finder_search_results_tile_hover_bg: $WE_white_three;
$store_finder_search_results_counter_bg: $WE_grey_three;
$store_finder_search_results_counter_text: $WE_white;

// Store finder - glossary.
$store_finder_glossary_alphabet: $WE_black_one;
$store_finder_glossary_text: $WE_grey_three;
$store_finder_glossary_icon: $WE_grey_three;
$store_finder_glossary_text_hover: $WE_grey_three;
$store_finder_glossary_text_border: $WE_gray_five;
$store_finder_glossary_border: $WE_gray_five;
$store_finder_glossary_link: $WE_grey_three;

// Product Listing page & Search results page.
$plp_facet_item_label: $WE_grey_three;
$plp_tile_product_title: $WE_grey_two;
$plp_tile_product_title_hover: $WE_grey_three;
$plp_category_desc: $WE_grey_three;
$plp_promotion_description: $WE_grey_three;
$plp_sort_by_label: $WE_grey_three;
$plp_sort_for_label: $WE_grey_two;
$plp_facet_filter: $WE_grey_three;
$plp_facet_filter_bg: $WE_grey_three;
$plp_facet_filter_link: $WE_grey_two;
$plp_facet_border: $WE_gray_twelve;
$plp_facet_wrapper_shadow: $WE_shadow;
$plp_facet_clear_border: $WE_grey_three;
$plp_facet_clear_bg: $WE_grey_three;
$plp_facet_clear_text: $WE_grey_three;
$plp_facet_label_border_mobile: $WE_grey_three;
$plp_facet_label_bg_mobile: $WE_white;
$plp_facet_label_text_color: $WE_grey_three;
$plp_facet_label: $WE_grey_three;
$plp_sort_by_options: $WE_grey_three;
$plp_facet_filter_count: $WE_grey_three;
$plp_facet_filter_count_background: $WE_deep_blue;
$plp_facet_count_number: $WE_grey_three;
$plp_clear_all_btn_disabled: $WE_grey_three;
$plp_clear_all_btn_disabled_bg: $WE_white_three;
$plp_pager_link: $WE_white;
$plp_pager_btn_bg: $WE_grey_three;
$plp_promotion_link: $WE_deep_red;
$plp_grid_active_color: $WE_deep_red;
$plp_all_filter_title: $WE_grey_three;
$plp_clear_all_btn_text: $WE_grey_three;
$plp_all_filter_button_color: $WE_grey_three;
$plp_filter_icon: $WE_grey_three;
$plp_filter_active_tick: $WE_deep_red;

// PLP LHN block.
$lhn_l2: $WE_grey_three;
$lhn_l3: $WE_grey_three;
$lhn_l4: $WE_grey_three;

// PLP Filter bar.
$plp_filter_active_item: $WE_white_two;
