// Font Family
$we-bold: "GTEestiDisplay-Medium", "GEDinarTwoMedium", "Arial";
$we-bold-nodir: "GTEestiDisplay-Medium", "GEDinarTwoMedium", "Arial";

$we-thin: "GTEestiDisplay-Light", "GEDinarOneMedium", "Arial";
$we-thin-nodir: "GTEestiDisplay-Light", "GEDinarOneMedium", "Arial";

$we-arabic-bold: "GTEestiDisplay-Medium", "GEDinarTwoMedium", "Arial";
$we-arabic-bold-nodir: "GTEestiDisplay-Medium", "GEDinarTwoMedium", "Arial";

$we-arabic-thin: "GTEestiDisplay-Light", "GEDinarOneMedium", "Arial";
$we-arabic-thin-nodir: "GTEestiDisplay-Light", "GEDinarOneMedium", "Arial";

$we-regular: "GTEestiDisplay-Regular", "GEDinarTwoMedium", "Arial";

// Postpay font family
$postpay-font: "GreycliffCF-Bold", "GTEestiDisplay-Light", "GEDinarOneMedium",
  "Arial";
$postpay-arabic-font: "Cairo-Bold", "GEDinarTwoMedium", "GTEestiDisplay-Medium",
  "Arial";

$arial: $we-thin;
$arial-nodir: $we-thin-nodir;
$alshaya-bold: $we-bold;
$alshaya-arabic-bold: $we-arabic-bold;
$alshaya-thin: $we-thin;
$alshaya-arabic-thin: $we-arabic-thin;
$alshaya-thin-nodir: $we-thin-nodir;
