#block-aurarewardsheader {
  @include breakpoint($desktop) {
    .aura-header-link.open {
      a.join-aura {
        &:hover {
          background: #fff;

          svg {
            // Footlocker needs a white logo as header is black.
            .letter {
              fill: #1e2749;
            }

            .circle {
              fill: url("#gradient1");
            }
          }
        }
      }
    }

    #aura-header-modal {
      a.join-aura {
        background: url("#{$base_theme_img_directory_path}/aura/aura-logo-horizontal-mono.png") no-repeat center/#{rem(
            56
          )};

        svg {
          opacity: 0;

          .letter {
            fill: #bcc9ff;
          }

          .circle {
            fill: url("#gradient2");
          }
        }

        &:hover {
          background-image: none;
          background-color: $header_secondary_menu_link;

          svg {
            opacity: 1;

            .letter {
              fill: #1e2749;
            }

            .circle {
              fill: url("#gradient1");
            }
          }
        }
      }
    }
  }
}
