{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
<div>
  <!-- ______________________ MAIN _______________________ -->

  <div class="clearfix">
    <div{{ attributes.addClass('l-container') }}>

      <main>
        <div class="c-content page-maintenance">
          <div class="c-content__region">
            <div class="maintenance__logo--wrapper">
              {% block maintenanceLogo %}
              <div class="maintenance__logo">
                {% include active_theme_path() ~ '/site-logo-ar.svg' %}
              </div>
              {% endblock %}
            </div>
            <div class="l-container not-found">
              {% if maintenance_text is not empty %}
                <div class="not-found__body">
                  <div class="not-found__body__container">
                    {{ maintenance_text }}
                  </div>
                </div>
              {% endif %}
              {% if maintenance_image is not empty %}
                <div class="not-found__image">
                  <img loading="lazy" src="{{ maintenance_image }}" />
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        {{ feed_icons }}

      </main>
      <!-- /content-inner /content -->

    </div>
  </div>
  <!-- /main -->
