{% extends 'page.html.twig' %}

{% if node.field_use_as_department_page.value == 1 %}
  {% set sidebar_visibility = node.field_show_left_menu.value == 0 ? 'l-one--w' : 'l-two--sf' %}
{% else %}
  {% set sidebar_visibility = 'advanced-page-only' %}
{% endif %}
{% set attributes = attributes.addClass('c-department', sidebar_visibility) %}
{% block after_content %}
  {% if category_term_description %}
    <div class="term-description-mobile-only c-page-title__description">
      <div class="term-description">{{ category_term_description | raw }}</div>
    </div>
  {% endif %}
{% endblock %}
