{% extends 'page.html.twig' %}
{% set sidebar_visibility = node.field_show_left_menu.value == 0 ? 'l-one--w' : 'l-two--sf' %}
{% set attributes = attributes.addClass('c-department', sidebar_visibility) %}
{% block after_content %}
  {% if category_term_description %}
    <div class="term-description-mobile-only c-page-title__description">
      <div class="term-name c-page-title">{{ category_term_name }}</div>
      <div class="term-description">{{ category_term_description | raw }}</div>
    </div>
  {% endif %}
{% endblock %}
