.select2Option {
  .select-buttons {
    li {
      a.picked {
        font-weight: normal;
      }

      &.disabled {
        &:hover {
          cursor: default;
        }

        a,
        span {
          background: none;
          color: $pdp_swatch_disabled;
          border-color: $pdp_swatch_disabled;
        }
      }
    }
  }

  .selected-text {
    font-weight: 600;
  }
}
