.alias--cart {
  .c-page-title {
    margin-bottom: 0;
  }

  #table-cart-items {
    @include breakpoint ($only-mobile) {
      margin-top: 0.5rem;

      html[lang=ar] & {
        margin-top: 0.5rem;
      }
    }

    table {
      thead {
        tr {
          border-bottom: none;
        }

        th {
          font-size: 0.75rem;
          font-family: $alshaya-bold;
        }
      }

      tr {
        border-bottom-color: $secondary_border;

        td {
          &.name {
            @include breakpoint ($only-mobile) {
              div.image {
                width: 6.5rem;
                height: auto;
                margin-#{$right}: 1.375rem;
              }

              div.items a {
                margin-bottom: 0.5rem;
              }
            }

            .items .dark + div {
              line-height: 1.4;
            }
          }

          &.quantity {
            @include breakpoint ($only-mobile) {
              float: $right;
              margin-#{$left}: 0;
              width: calc(100% - 8.3125rem);
              margin-top: -2.2rem;
            }
          }

          &.delivery-option {
            @include breakpoint($desktop) {
              padding-#{$left}: 5.2%;

              html[lang=ar] & {
                padding-#{$left}: 2%;
              }
            }
          }

          html[lang=ar] & {
            @include breakpoint ($tablet) {
              padding: 1rem;
            }

            &.name {
              @include breakpoint ($tablet) {
                padding-#{$right}: 0.25rem;
              }

              div.items {
                @include breakpoint ($only-tablet) {
                  padding-#{$left}: 0.75rem;
                }
              }

              @include breakpoint ($only-mobile) {
                margin-top: 0;
                padding-top: 1rem;
                padding-#{$right}: 0.25rem;
              }
            }

            &.delivery-option {
              @include breakpoint ($only-tablet) {
                padding-top: 0.4rem;
                width: 19%;
              }
            }
          }

          &:first-child a {
            line-height: 1.29;
            text-transform: capitalize;

            html[lang=ar] & {
              line-height: 1.4;
            }
          }

          a {
            font-weight: normal;
          }

          .dark a {
            @include breakpoint ($only-mobile) {
              font-size: 0.875rem;
            }
          }

          .has--special--price,
          .special--price,
          .price--discount {
            margin-bottom: 0.5rem;
          }

          &.price {
            .has--special--price {
              margin-bottom: 0.25rem;
            }
          }

          .price--discount {
            @include breakpoint ($only-mobile) {
              font-size: 0.75rem;
            }
          }

          &.delivery-option {
            @include breakpoint ($only-mobile) {
              float: $right;
              padding-#{$right}: 0;
              width: calc(100% - 8.3125rem);
              padding-bottom: 0;

              .delivery-options-mobile {
                float: $right;
                font-size: 0.875rem;
                font-family: $alshaya-bold;
                margin-bottom: 0.9375rem;
                width: 100%;
                color: $primary_text;
              }

              .delivery-options-tooltip-wrapper {
                float: $right;
                position: static;
                width: 100%;

                .tooltip--head {
                  font-size: 0.875rem;
                }
              }
            }

            @include breakpoint ($only-tablet) {
              html[lang=ar] & {
                width: 18.3%;
              }

              width: 16.6%;
            }

            .delivery-options-tooltip-wrapper .tooltip--wrap {
              margin-bottom: 0.9375rem;
            }
          }
        }
      }
    }
  }

  #table-cart-totals {
    @include breakpoint ($only-tablet) {
      html[lang=ar] & {
        margin-#{$right}: 18.7%;
      }
    }

    @include breakpoint ($only-mobile) {
      font-size: 0.875rem;
    }

    table[id^=edit-totals] {
      tr[data-drupal-selector="edit-totals-discount"] {
        .price-type__wrapper {
          .cart-promotions {
            .contains--tooltip {
              display: block;
            }

            .tooltip {
              top: -1.25rem;
              #{$right}: 0;
              font-size: 0.75rem;

              @include breakpoint($only-tablet) {
                top: 0.9375rem;
                #{$left}: 0.5rem;
              }

              @include breakpoint($only-mobile) {
                top: 0.9375rem;
                #{$left}: 0.75rem;
              }

              &--head {
                &::after {
                  top: -1.25rem;
                }
              }
            }
          }
        }
      }

      tr[data-drupal-selector="edit-totals-grand"] {
        & td:first-child {
          font-family: $alshaya-bold;
          text-transform: uppercase;

          & > span {
            font-family: $alshaya-thin;
            text-transform: none;
            color: $basket_totals_grand_subtitle;
          }
        }
      }

      tr:last-child {
        td:nth-child(2) {
          font-weight: normal;
        }
      }
    }

    .edit-continue-shopping-mobile,
    #edit-continue-shopping-mobile {
      font-size: 0.875rem;
      font-weight: normal;

      @include breakpoint ($only-mobile) {
        color: $basket_continue_shopping_link;
      }
    }
  }

  .page-standard.l-container {
    .edit-actions {
      @include breakpoint ($only-tablet) {
        margin-#{$right}: -3rem !important;
      }
    }
  }

  .edit-update,
  .edit-checkout {
    @extend %button-wide;
  }
}

.empty-cart-message {
  font-weight: normal;
  margin-bottom: 1.25rem;

  @include breakpoint ($only-mobile) {
    margin-top: 3.8125rem;
  }

  @include breakpoint ($tablet) {
    margin-top: 4.4375rem;
  }
}

.empty-cart-wrapper {
  #edit-continue-shopping-mobile,
  .edit-continue-shopping-mobile,
  #edit-continue-shopping {
    @extend %button-wide;

    max-width: 11.5rem;
    font-weight: normal;
  }
}

.acq-cart-summary {
  li {
    padding: 0.75rem 0;
  }

  .caption {
    padding: 1.125rem 0 0.3125rem;
    border-bottom: 1px solid $checkout_order_summary_title_border;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    .title {
      font-family: $alshaya-bold;
    }

    a {
      font-weight: normal;
    }
  }

  .content-head {
    padding: 1rem 0;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    &::after {
      #{$right}: -0.3125rem;
    }
  }

  .left {
    width: 27%;

    @include breakpoint($only-tablet) {
      width: 33.6%;
    }

    @include breakpoint($only-mobile) {
      width: 22%;
    }

    img {
      border: 1px solid $order_summary_product_img_border;
    }
  }

  .right {
    width: 70%;

    @include breakpoint($only-tablet) {
      width: 63%;
    }

    @include breakpoint($only-mobile) {
      width: 75%;
    }

    .dark {
      a,
      span {
        font-weight: normal;
      }
    }

    a,
    span {
      text-decoration: none;
      font-size: 0.875rem;

      @include breakpoint($upto-desktop) {
        font-size: 0.875rem;
      }
    }

    span.price-wrapper {
      .price {
        margin-top: 1.5rem;
        font-weight: normal;

        @include breakpoint($upto-desktop) {
          margin-top: 0.75rem;
        }
      }
    }

    html[lang=ar] & {
      .product-name {
        line-height: 1.35;
      }
    }
  }

  .totals {
    padding: 0.75rem 0 0.5rem;
    border-bottom: 1px solid $order_summary_section_border;

    @include clearfix;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    .order-total {
      font-family: $alshaya-bold;
      text-transform: uppercase;
    }

    .order-total,
    .sub-total {
      .price-wrapper {
        .price .price-currency {
          margin-#{$left}: 0.5rem;
        }

        html[lang=ar] & {
          text-align: left;
        }
      }
    }
  }
}
