.user-page.checkout-login {
  @include breakpoint($desktop) {
    h1 {
      max-width: 65.3125rem;
      margin: 0 auto;
    }

    .checkout-login-actions-wrapper {
      padding: 0;
      margin: 0;
    }
  }

  .checkout-login-actions-wrapper {
    a {
      font-weight: normal;
      font-size: 0.875rem;

      @include breakpoint($desktop) {
        padding-#{$left}: 0.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a.back-link {
    @include breakpoint($only-mobile) {
      @include icon(chevronleft, before) {
        top: -0.3125rem;
        transform: rotate(0deg);

        html[lang=ar] & {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.alias--cart-checkout-login {
  .tab-new-customer a {
    @extend %btn;

    span {
      text-transform: uppercase;
      font-family: $alshaya-thin;
    }
  }
}

.multistep-checkout {
  fieldset legend {
    span {
      font-size: 1rem;
      font-family: $alshaya-thin;
    }
  }

  #edit-checkout-login {
    .request-password-link {
      font-size: 0.875rem;
      font-weight: normal;
    }
  }

  .fieldset-wrapper {
    .form-type-password {
      #unmask_password {
        top: 0.25rem;
      }
    }
  }
}
