.page-standard.user-page.checkout-delivery {
  main {
    form {
      .form-actions {
        line-height: inherit;

        a {
          font-weight: normal;
          font-size: 0.875rem;

          &.back-to-basket {
            float: $left;
            padding: 0.625rem 0;

            @include breakpoint($only-mobile) {
              width: 100%;
              margin: 0.625rem 0;
            }
          }
        }
      }
    }
  }

  #edit-delivery-tabs {
    .tab {
      font-family: $alshaya-thin;

      @include breakpoint($tablet) {
        &.active--tab--head {
          border-width: 1px;
          background-color: $delivery_tab_active_bg;

          h2 {
            font-family: $alshaya-bold;
          }

          &::after {
            display: none;
          }
        }
      }

      &.tab-click-collect {
        margin-#{$left}: -0.125rem;

        @include breakpoint($only-tablet) {
          margin-#{$left}: 0;
        }

        &.active--tab--head {
          @include breakpoint($only-tablet) {
            #{$right}: -1px;
            margin-#{$left}: -1px;
          }

          &::before {
            @include breakpoint($tablet) {
              display: none;
            }
          }
        }
      }

      &.tab-separator {
        font-size: 1rem;

        @include breakpoint($only-tablet) {
          width: 6.2%;
        }

        @include breakpoint($desktop) {
          html[lang=ar] & {
            width: 6.1%;
            margin-left: 0.125rem;
          }
        }
      }

      @include breakpoint($desktop) {
        padding: 1.5rem 0;

        html[lang=ar] & {
          width: 47%;
        }
      }

      h2 {
        text-transform: capitalize;
      }

      &:hover {
        background: $delivery_tab_active_bg;
      }

      @include breakpoint($only-tablet) {
        width: 47%;
        padding-top: 1.6875rem;
        padding-bottom: 1.5625rem;
      }

      &.tab-home-delivery {
        &:not(.active--tab--head) {
          margin-#{$left}: -1px;
        }
      }
    }

    hr {
      display: none;
    }
  }

  #edit-guest-delivery-home-address-shipping-methods {
    padding: 0 1.375rem;

    @include breakpoint($only-mobile) {
      padding: 0;
    }
  }
}

#edit-guest-delivery-home-address-shipping-methods--wrapper,
#edit-member-delivery-home-address-shipping-methods--wrapper,
.shipping-methods-container {
  .form-type-radio {
    border: 1px solid $checkout_delivery_options_border;
    border-top: 0;

    &:first-child {
      border: 1px solid $checkout_delivery_options_border;
    }
  }
}

#edit-acm-payment-methods-payment-options--wrapper {
  height: auto;

  legend {
    display: block;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid $checkout_payment_form_border;
  }
}

// Checkout delivery address theming.
.user-page.c-delivery-checkout {
  main {
    .tabs--content {
      @include breakpoint($tablet) {
        border: 1px solid $checkout_tab_active_border;
        border-top: none;
      }
    }

    form {
      #edit-guest-delivery-home,
      fieldset {
        .title {
          font-family: $alshaya-thin;
          text-transform: capitalize;
          padding-bottom: 0.4375rem;
          border-bottom: 1px solid $checkout_section_title_border;
          margin-bottom: 0;
        }

        @include breakpoint($tablet) {
          &.active--tab--content {
            top: -0.0625rem;
            border-width: 1px;
          }
        }

        #addresses-header {
          #add-address-button {
            @include breakpoint($mobile) {
              top: -0.5rem;
              width: auto;
              position: absolute;
              #{$right}: 0;
              text-transform: capitalize !important;
              font-size: 0.75rem !important;
            }
          }
        }

        #edit-member-delivery-home-addresses {
          @include breakpoint($tablet) {
            margin: 0 1.375rem 0.75rem;
          }
        }

        legend {
          span {
            color: $checkout_section_titles;
          }
        }
      }
    }
  }
}

.alias--cart-checkout-delivery,
.alias--cart-checkout-payment {
  .back-link {
    @include breakpoint($only-mobile) {
      @include icon(chevron#{left}, before) {
        top: -0.125rem;
      }
    }
  }
}

#payment_details_wrapper {
  padding: 0 1rem;

  @include breakpoint($only-mobile) {
    padding: 0;
  }

  #payment_method_knet {
    border-top: 1px solid $checkout_payment_option_border;
  }

  > .form-wrapper {
    .payment-plugin-wrapper-div {
      border: 1px solid $checkout_payment_option_border;
      border-bottom: 0;

      &::before {
        margin-#{$right}: 0;
      }

      &.plugin-selected {
        .method-title {
          font-weight: normal;
        }
      }
    }
  }
}

#selected-address-wrapper {
  .address--controls {
    padding: 0;

    #change-address {
      font-size: 0.875rem;
      font-weight: normal;
      padding: 0.875rem 0.875rem 0.4375rem;
      display: inline-block;
      color: $address_book_change_link;
      text-transform: uppercase;
      border-#{$right}: 1px solid $address_book_border;
    }
  }
}

.cnc-collect-from {
  font-family: $alshaya-thin;
  text-transform: capitalize;
}
