.order-confirmation {
  main {
    .user-register-form {
      .form-submit {
        padding: 0.625rem 3.5rem;
      }
    }
  }

  .product--count {
    border-top: none;
  }

  #edit-confirmation-continue-shopping {
    font-size: 0.875rem;
    font-family: $alshaya-thin;
    border: 0;
    text-decoration: underline;
    color: $checkout_continue_shopping_btn_text;

    &.expanded-table {
      margin-top: 0;
    }
  }

  .order-print-button a,
  .continue--shopping--mobile a {
    color: $checkout_order_print_btn_text;
    text-transform: uppercase;
  }

  .order-print-button a {
    border-width: 0.125rem;
  }

  .order-id-details,
  .label.font-small {
    font-family: $alshaya-bold;
  }

  .user__order--detail {
    td div {
      margin-bottom: 0;
    }

    .price {
      @include breakpoint($tablet) {
        min-width: 6.625rem;
      }
    }

    .order-item-row {
      .price-currency,
      .price-amount {
        font-weight: normal;
      }

      td {
        &:last-child {
          @include breakpoint($desktop) {
            display: table-cell !important;
          }
        }
      }
    }

    .price-currency {
      @include breakpoint($only-mobile) {
        margin-#{$right}: 1rem;
      }
    }
  }

  .continue--shopping--mobile a,
  #edit-confirmation-continue-shopping,
  .continue--shopping--mobile a.expanded-table,
  #edit-confirmation-continue-shopping.expanded-table {
    @include breakpoint($only-tablet) {
      margin-#{$right}: 3.5rem;
      width: 9.5rem;
    }
  }

  .order__product--details,
  .order-item-row {
    .light {
      color: $checkout_confirmation_detail_light_text;
      font-size: 0.75rem;
    }
  }

  .total-row {
    .upcase {
      font-family: $alshaya-bold;
    }
  }

  .subtitle {
    font-family: $alshaya-thin;
    font-weight: normal;
  }

  .barcode--wrapper p {
    color: $checkout_confirm_order_message;
  }
}

.confirmation__signup--title {
  text-transform: capitalize;
  font-family: $alshaya-thin;
}
