@mixin select-style($select-width) {
  appearance: none;
  border: 1px solid $primary_dropdown_border;
  border-radius: 0;
  background-color: $primary_dropdown_bg;
  padding: 0.5rem;
  padding-#{$left}: 0.7rem;
  padding-#{$right}: 1.5rem;
  width: $select-width;
  height: 2.1875rem;
  font-size: 0.75rem;
  outline: none;
  direction: $dir;
  text-transform: uppercase;
  color: $primary_dropdown_text;

  @include breakpoint($tablet) {
    background-color: transparent;
    position: relative;
    z-index: 3;
  }

  @include breakpoint($only-mobile) {
    font-size: 0.875rem;
  }

  // Arabic font is longer so it gets clipped from bottom.
  html[lang=ar] & {
    line-height: 1.2;
  }
}

@mixin select-wrapper($wrapper-width) {
  width: $wrapper-width;
  margin-bottom: 0.75rem;
  position: relative;

  @include icon(dropdown-expand, after) {
    font-size: 2.1875rem;
    color: $primary_dropdown_text;
    text-indent: -3px;
    pointer-events: none;
    position: absolute;
    #{$right}: 1px;
    top: 1px;
    bottom: 1px;
    text-align: center;
    background-color: transparent;
    width: 2.1875rem;
    height: 2.063rem;

    @include breakpoint($tablet) {
      z-index: 3;
    }
  }
}

@mixin select2-style($select-width) {
  width: $select-width !important;

  .select2-selection {
    font-size: 0.75rem;
    height: 2.1875rem;
    padding: 0.25rem 0.2rem;
    text-align: $left;
    width: $select-width;
    border: 1px solid $primary_dropdown_border;
    border-radius: 0;
    outline: none;

    @include breakpoint($only-mobile) {
      font-size: 0.875;
    }

    .select2-selection__rendered {
      @include arabic-letter-spacing;

      color: $primary_dropdown_text;
      text-transform: uppercase;
      letter-spacing: 1px;

      .select2-selection__placeholder {
        color: $primary_dropdown_text;
      }
    }
  }

  html[lang=ar] & {
    .select2-selection--single .select2-selection__rendered {
      width: 94%;
    }
  }

  .select2-selection__arrow {
    top: 1px;
    #{$right}: 1px;
    width: 2.063rem;
    height: 2.063rem;
    background: $primary_dropdown_bg;

    &::after {
      // IE10 needs this in px.
      line-height: 35px;
      font-size: 2.1875rem;
      top: 0;
      #{$left}: auto;
      width: 2.1875rem;
      height: 2.1875rem;
      #{$right}: 0;
      text-align: center;
      display: inline-block;
      text-indent: -2px;
    }
  }
}

.select2-dropdown {
  border-color: $primary_dropdown_border;

  ul.select2-results__options {
    li.select2-results__option {
      @include arabic-letter-spacing;

      color: $primary_dropdown_text;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: $hnm-regular;
      letter-spacing: 1px;

      @include breakpoint($only-mobile) {
        font-size: 0.875rem;
      }
    }
  }
}
