<?php

// Password to authenticate alshaya_mobile_app user.
// Look for the password in database for consumer 'Alshaya Mobile App Consumer' found under /admin/config/services/consumer
$alshaya_mobile_app_token_password = '';
