.c-menu-primary {
  .region__menu-primary {
    @include breakpoint($only-tablet) {
      margin-bottom: 0;
      margin-top: 0.375rem;

      html[lang="ar"] & {
        margin-top: -0.75rem;
      }

      .block-system-menublock ul {
        font-size: 0;
      }
    }

    @include breakpoint($only-mobile) {
      li {
        &.search-active {
          .mobile--search {
            &::before {
              color: $header_c_menu_search_active_icon;
            }
          }
        }

        .store {
          &::before {
            margin-top: -0.0625rem;
          }

          &:hover {
            background-color: transparent;
          }

          &.is-active {
            &::before {
              color: $header_c_menu_store_active_icon;
            }
          }
        }

        .mobile--search {
          @include icon(search) {
            color: $header_c_menu_search_icon;
            font-size: 2.1875rem;
            line-height: 1;
            margin-top: -0.25rem;
          }
        }
      }
    }
  }

  a {
    color: $header_c_menu_text;
    text-transform: uppercase;

    @include breakpoint($only-tablet) {
      font-size: 0.75rem;
    }
  }

  .mobile--menu {
    @include breakpoint($only-mobile) {
      top: 1.25rem;
    }
  }

  li.search-active {
    @include breakpoint($only-mobile) {
      background: none;
    }
  }
}

.mobile--close {
  height: 1.9375rem;

  span {
    background-size: 2.4375rem;
  }
}

.toggle--sign,
.main--menu ul.menu--one__list:not(.secondary--main--menu__list),
.c-menu-secondary.block--display {
  @include breakpoint($only-mobile) {
    width: 19.6875rem !important;
  }
}

.c-my-account-nav {
  @include breakpoint($upto-desktop) {
    width: 19.6875rem !important;
  }
}

.main--menu {
  .mobile--close {
    display: none;
    top: 50%;

    span {
      background:
        url("../imgs/icons/ic-close-transparent.svg") center center
        no-repeat;
    }
  }

  &.menu--active {
    .mobile--close {
      display: inline-block;
      top: 50%;
      background: transparent;
    }
  }
}

.toggle--sign {
  .active {
    font-weight: bold;
    text-transform: uppercase;
  }

  .one {
    text-transform: uppercase;
  }

  .shop,
  .account {
    @include breakpoint($only-tablet) {
      html[lang="ar"] & {
        padding: 0 0.25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.main--menu a {
  @include breakpoint($upto-desktop) {
    text-transform: uppercase;
  }
}

.back--link {
  @include breakpoint($upto-desktop) {
    text-transform: uppercase;
    color: $mm_l2_link_mobile_menu;
    font-weight: bold;

    .menu__back {
      display: none;
    }

    span {
      padding-#{$left}: 2.2rem;
    }

    @include icon(chevron#{$left}) {
      font-size: 1.4375rem;
      position: absolute;
      top: 0.75rem;
    }
  }
}

.menu__in {
  @include breakpoint($upto-desktop) {
    &::after {
      position: absolute;
      #{$right}: -0.1875rem;
      font-size: 1.313rem;
    }
  }
}
