form.user-communication-preference {
  input[type=checkbox] {
    ~ label[for=edit-communication-preference-email],
    ~ label[for=edit-communication-preference-mobile] {
      &::before {
        top: 0.6rem;
      }
    }
  }

  .form-submit {
    font-family: $vs-bold;
    font-weight: normal;
    text-transform: uppercase;
  }
}
