<div>
  <div id="hello-member-become-hello-member-block"></div>
  {% for string in strings %}
    <input type="hidden" data-string-id="{{ string.key }}" value="{{ string.value }}" />
  {% endfor %}
</div>
