#hits,
#plp-hits {
  .chrome & {
    @include breakpoint($desktop) {
      padding-top: 2.1875rem;
    }
  }

  .js-pager__items.pager {
    li.pager__item {
      button {
        height: 2.5rem;
        font-size: 0.875rem;
        width: 15.625rem;
        text-transform: uppercase;
      }
    }

    .progressbar-container {
      height: 0.375rem;
      width: 15.625rem;
      border-radius: 0;
      margin-bottom: 0.625rem;

      .progressbar-progress {
        border-radius: 0;
      }
    }

    .ais-Stats-text {
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }
}
