// Only MC overrides. whitelabel already uses MC color pallet.
$marine-blue: #003773;
$marine-blue-two: #003971;
$whisper-dark: #e5e5e5;

$spc-checkout_section_title: $marine-blue;

$spc-select-border: $whisper-dark;
$spc-select-text: $marine-blue;

// Magazine V2 PDP
$magv2-accordion-arrow: $marine-blue;
$magv2-panel-close-icon: $marine-blue;
$magv2-gallery-popup-cross: $marine-blue;
$menu-chevron: $marine-blue-two;
