@import "../../../alshaya_white_label/sass/config/_colors.scss";

// Only MC overrides. whitelabel already uses MC color pallet.
$marine-blue: #003773;
$marine-blue-two: #003971;
$whisper-dark: #e5e5e5;
$mc_usp_blue: #eff6fc;
$prussian_blue: #063971;

$spc-checkout_section_title: $marine-blue;

$spc-select-border: $whisper-dark;
$spc-select-text: $marine-blue;

// Magazine V2 PDP
$magv2-accordion-arrow: $marine-blue;
$magv2-panel-close-icon: $marine-blue;
$magv2-gallery-popup-cross: $marine-blue;
$menu-chevron: $marine-blue-two;

//eGift
$egift-banner-bg: $_algolia_suggestion_list_bg;
$egift-banner-title: $_gray_222;
$egift-accordion-active-title: $mothercare-black;
$egift-purchase-page-title: $mothercare-black;
$egift-card-redeem-button: $mothercare-black;
$egift-myaccount-button: $prussian_blue;
$egift-myaccount-topup-button: $prussian_blue;
$egift-check-balance-title: $_sofa-section-grey2;
