.visual-mobile-level-three {
  display: none;
  // Offsetting height used by supercategory, header and search block so all items are visible on scroll.
  padding-bottom: rem(125);
  height: calc(100vh - #{rem(125)});
  position: fixed;
  top: rem(125);
  width: 100%;
  overflow: auto;
  background: $menu_bg;
  border-top: rem(1) solid $mob_menu_one_border_color;

  .back--link {
    display: flex;
    text-align: center;
    padding: 0;
    align-items: center;
    border: none;

    .menu__back {
      display: none;
    }

    a {
      width: 100%;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        width: rem(28);
        height: rem(35);
        background: url("#{$brand_theme_img_directory_path}/icons/chevronleft.svg") no-repeat;
        position: absolute;
        #{$left}: 0;

        html[lang="ar"] & {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    border-bottom: rem(1) solid $mob_menu_one_border_color;
    padding: rem(16) rem(10);
    justify-content: flex-end;

    img {
      order: 2;
      width: rem(95);
      height: rem(95);
    }

    .visual-mobile-level-three__heading {
      order: 1;
      width: 100%;
      font-size: rem(14);
      font-family: $alshaya-thin;
      padding-#{$left}: rem(23);
      text-transform: unset;
    }
  }
}

.visual-mobile-level-three .l2-header {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  height: rem(161);
  align-items: center;
}

.visual-mobile-level-three__heading {
  font-size: rem(12);
  font-family: $alshaya-bold;
  margin-top: rem(16);
  margin-bottom: rem(7);
  padding-#{$left}: rem(12);
}
