.c-search {
  .region__content {
    position: relative;

    .c-page-title {
      @include breakpoint($only-mobile) {
        padding-bottom: 0.5rem;
        margin-bottom: 0.75rem;
        border-bottom: 1px solid $content_pagetitle_border;
      }
    }

    .is-filter {
      @include breakpoint($only-mobile) {
        &:first-child {
          transform: translate(#{negate-value(-2.1875)}rem, 0);
        }
      }
    }

    .c-facet {
      .item-list {
        padding-left: 0;
      }
    }

    .view-id-search {
      .view-header {
        @include u-visibility(none);
      }

      .views-row {
        @include breakpoint($only-mobile) {
          &:nth-child(2n) {
            float: $right;
          }

          &:nth-child(2n + 1) {
            clear: both;
          }
        }

        h2.field.field--name-name {
          display: none;
        }

        .c-products__item__label {
          font-size: 0.75rem;
          margin-top: 0;
          display: block;
          font-weight: normal;

          a,
          span {
            color: $plp_item_label;
            font-family: $alshaya-thin;
          }

          @include breakpoint($tablet) {
            font-size: 0.875rem;
          }
        }

        .field--name-price {
          color: $black;
          font-size: 0.9375rem;

          @include breakpoint($only-mobile) {
            font-size: 0.875rem;
          }
        }
      }

      .view-content,
      nav.pager {
        @include clearfix;
      }

      nav.pager {
        float: $left;
        width: 100%;
        overflow: hidden;
        position: relative;

        .js-pager__items {
          margin: 8rem auto 2.1rem;
          clear: $left;
          float: $left;
          list-style: none;
          position: relative;
          #{$left}: 50%;
          text-align: center;

          @include breakpoint($only-mobile) {
            width: 57%;
          }

          @include clearfix;
        }

        .pager__item {
          float: $left;
          margin-#{$right}: 1.5rem;
          display: block;
          position: relative;
          #{$right}: 50%;

          &.is-active {
            a {
              font-family: $alshaya-bold;
            }
          }

          a {
            border: 0;
            padding: 0;
          }
        }
      }
    }

    .mobile-filter-bar,
    .filter-menu-label {
      display: none;

      @include breakpoint($only-mobile) {
        display: block;
      }
    }
  }
}

.facets-soft-limit-link {
  margin-top: 0;
  margin-bottom: 1.1rem;
}

header,
.view-alshaya-product-list .view-filters {
  .form-item-sort-bef-combine {
    display: none;
  }
}

.alias--search {
  @include breakpoint($only-mobile) {
    .branding__menu.show-overlay {
      z-index: 2;
    }
  }

  header {
    @include breakpoint($only-tablet) {
      .bef-exposed-form {
        .form-item-keywords {
          float: none;
        }
      }
    }
  }

  aside.c-sidebar-first {
    .c-facet__blocks__wrapper {
      margin-top: -0.65rem;
      margin-left: -0.29rem;
    }

    .c-accordion__title {
      &::after {
        #{$right}: 0.375rem;
      }
    }
  }

  .block-page-title-block {
    h1 {
      text-align: center;

      @include breakpoint($only-mobile) {
        text-transform: inherit;
      }
    }
  }
}

.ui-autocomplete {
  z-index: 99;
  background: $autocomplete_bg;
  border: 1px solid $white;
  border-top: 0;
  text-align: $left;

  li.ui-menu-item {
    display: inherit;
    padding: 7px;
    border: 1px solid transparent;

    &:not(:last-child) {
      border-bottom-color: $autocomplete_border_last;
    }

    &.ui-state-focus,
    &.ui-state-active {
      margin: 0;
    }

    &:hover {
      background-color: $autocomplete_hover;
    }

    a {
      font-family: $alshaya-thin;
      color: $autocomplete_text;
      padding: 0;
      margin: 0;
    }
  }
}

.c-header__region {
  .block-views-exposed-filter-blocksearch-page .ui-autocomplete {
    @include breakpoint($only-mobile) {
      z-index: 9999;
      position: fixed !important;
      top: 6.75rem !important;

      html[lang=ar] & {
        top: 7.25rem !important;
      }
    }
  }
}

.search-api-autocomplete-suggestion {
  font-size: 0.875rem;
  padding-#{$left}: 0.25rem;

  @include breakpoint($desktop) {
    font-size: 0.75rem;
  }

  @include breakpoint($upto-desktop) {
    pointer-events: none;
  }
}

.form-autocomplete.ui-autocomplete-loading {
  background-size: 2rem;
}

.c-header__region {
  .block-views-exposed-filter-blocksearch-page {
    .form-item-keywords {
      float: $left;
    }
  }
}

.ajax-progress.ajax-progress-fullscreen {
  background-image: url(#{$base_theme_loader_img_directory_path}) !important;
  background-repeat: no-repeat !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  background-size: 4.5rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.alshaya_search_mainimage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10.5rem;
}

.region__content {
  .region__sidebar-first {
    .c-accordion__title::after {
      #{$right}: 0;
    }
  }

  .filter-menu-label {
    li.clear-all-fake {
      list-style: none;
      display: inline-block;
      border: 1px solid $plp_filterbar_clearall_border;
      float: $right;
      font-size: 12px;
      text-align: center;
      padding: 0.407rem 0.532rem;
      font-family: $alshaya-thin;
      text-transform: lowercase;

      span {
        color: $plp_filterbar_clearall_text;
      }
    }
  }
}

.ui-helper-hidden-accessible {
  @include u-image-replacement;
}

.search-api-autocomplete-search {
  .ui-menu-item-wrapper {
    &.ui-state-active {
      .search-api-autocomplete-suggestion {
        background: transparent;
        color: $primary_search_autocomplete_text;
      }
    }
  }
}
