$base_theme_loader_img_directory_path: '/themes/custom/transac/alshaya_hnm/imgs/icons/ic-loader.svg';
$brand_theme_default_path: '/themes/custom/transac/alshaya_hnm';

%modal-overlay,
.modal-overlay {
  height: initial;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -3.75rem;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 7;
  }
}

%modal-overlay-spinner,
.modal-overlay--spinner {
  @extend %modal-overlay;

  &::before {
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1000;
  }

  &::after {
    content: '';
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../imgs/icons/ic-loader.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    z-index: 1001;
  }
}

@mixin arabic-letter-spacing {
  html[lang='ar'] & {
    letter-spacing: normal;
  }
}

