.c-plp {
  .region__content {
    .block-facets-summary-blockfilter-bar {
      ul {
        li {
          &:not(.clear-all) {
            margin-bottom: 0.75rem;
            background: $plp_facet_filter_bg;
            padding-bottom: 0;

            @include breakpoint($only-mobile) {
              margin-bottom: 0.5625rem;
            }
          }
        }
      }
    }
  }

  &.l-two--sf {
    .c-products-list {
      &.product-small {
        .alshaya_search_gallery {
          @include breakpoint($desktop) {
            height: 18.75rem;
          }
        }
      }

      &.product-large {
        .alshaya_search_gallery {
          @include breakpoint($desktop) {
            height: 21.875rem;
          }
        }
      }
    }
  }
}

#hits,
#plp-hits {
  .c-products__item {
    .alshaya_search_gallery {
      .alshaya_search_slider {
        .slick-slide {
          img {
            max-width: 100%;
            width: auto;
          }
        }
      }
    }
  }
}
