#myaccount-reviews {
  .review-summary {
    padding-bottom: 2.25rem;
    border-bottom: 0.0625rem solid $rr-reviews-summary-border;
  }

  .no-review {
    margin-top: 1.4375rem;
  }

  .product-block {
    display: flex;
    padding: 1.25rem 0;

    .product-image-block {
      width: 5rem;
      height: 6.25rem;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .product-desc-block {
      padding-#{$left}: 1.25rem;

      .product-title {
        font-size: 1.25rem;
      }

      .product-item-code {
        font-size: 0.75rem;
        color: $pdp_product_itemcode;
        padding-top: 0.625rem;
      }
    }
  }

  .star-ratings-wrapper {
    margin-bottom: 0.75rem;

    .icon-ic_ratingfull,
    .icon-ic_rating {
      &::before {
        font-size: 1.375rem;
      }
    }
  }

  .review {
    &-title {
      font-size: 1.125rem;
      line-height: 1.2;
      color: $rr-review-summary-txt;

      @include breakpoint($only-mobile) {
        margin-bottom: 0.25rem;
      }
    }

    &-date {
      font-size: 0.75rem;
      margin-bottom: 0.9375rem;
      color: $rr-review-summary-grey-text;
    }

    &-text {
      font-size: 0.875rem;
      color: $rr-review-summary-grey-text;
      margin-bottom: 0.9375rem;
      word-break: break-word;

      @include breakpoint($only-mobile) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .thumbnail-img-block {
    display: flex;
    overflow-y: auto;

    @include breakpoint($tablet) {
      position: relative;
    }

    .thumbnail-img {
      border: 0;
      background: #fff;
      box-sizing: border-box;
      vertical-align: top;
      margin: 0;
      margin-bottom: 1%;
      margin-#{$right}: 1%;
      height: 8.75rem;
      width: 8.75rem;
      overflow: hidden;
      zoom: 1;
      flex-shrink: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        zoom: 1;
      }
    }
  }

  .user-reviews {
    display: flex;

    .user-desc {
      width: 66%;

      @include breakpoint($only-tablet) {
        width: 60%;
      }

      @include breakpoint($only-mobile) {
        width: 100%;
      }
    }

    .user-secondary-rating {
      width: 34%;
      padding-#{$left}: 3.75rem;

      @include breakpoint($only-tablet) {
        width: 40%;
        padding-#{$left}: 2rem;
      }

      @include breakpoint($only-mobile) {
        width: 66%;
        padding-#{$left}: 0;
      }

      .attribute-list {
        margin-bottom: 1.25rem;

        .display-slider {
          margin-top: 0;

          .slide-dot-container {
            @include breakpoint($only-tablet) {
              width: 38%;
            }

            .dynamic-dot {
              width: 0.4375rem;
              height: 0.4375rem;
              top: -0.125rem;
            }
          }

          .slider-label {
            width: 28%;
          }
        }

        .slider-header {
          font-size: 0.875rem;
          font-family: $alshaya-bold;
          margin-bottom: 0.25rem;

          .slider-header-label {
            font-size: 0.75rem;
            font-family: $alshaya-thin;
            color: $rr-review-summary-grey-text;
          }
        }
      }
    }
  }
}

body[class*="reviews"] {
  @include breakpoint($only-mobile) {
    .c-user--node {
      &.l-two--sf {
        aside.c-sidebar-first {
          display: none;
        }
      }
    }

    .c-user--node {
      main {
        #block-page-title {
          display: block;
        }
      }
    }
  }
}
