.alias--cart-login {
  .multistep-login {
    fieldset {
      .fieldset-legend {
        font-family: $we-bold;
        text-transform: uppercase;
      }
    }

    .edit-checkout-as-guest {
      font-family: $we-bold;
    }

    .form-submit,
    .edit-checkout-as-guest {
      text-transform: uppercase;
    }

    .ashaya-spc-login-form {
      .form-actions {
        button {
          font-family: $we-bold;
        }
      }

      .request-password-link {
        font-family: $we-thin;
        font-weight: 600;
      }
    }

    .checkout-login-actions-wrapper {
      a {
        font-family: $we-thin;
        display: inline-block;
        font-weight: 600;
      }
    }

    .social-signin-enabled {
      .fieldset-wrapper {
        .social-network-text {
          display: block;
        }
      }
    }
  }
}
