.c-user--node .c-page-title {
  font-size: 1.5rem;
}

.subtitle {
  font-family: $alshaya-bold;
  font-size: 1rem;
  color: $marine-blue;
}

.account--dashboard {
  margin-bottom: 57px;

  .subtitle {
    border-bottom: 1px solid $white;
    font-weight: 700;
    margin-bottom: 1.313rem;
    font-family: $alshaya-bold;
    font-size: 1rem;
    color: $marine-blue;

    @include breakpoint($tablet) {
      font-size: 0.875rem;
    }

    @include breakpoint($desktop) {
      margin-bottom: 1.125rem;
      font-size: 1rem;
    }
  }

  ul {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding-#{$left}: 0;
  }

  li {
    font-size: 0.875rem;
    margin-bottom: 2rem;

    @include breakpoint($desktop) {
      display: inline-block;
      margin-bottom: 0;
      width: 33%;
    }

    div {
      @include breakpoint($tablet) {
        font-size: 0.75rem !important;
      }

      @include breakpoint($desktop) {
        font-size: 0.875rem !important;
      }
    }
  }

  .contact--number {
    @include breakpoint($desktop) {
      padding-left: 50px;
    }
  }

  .card--number {
    @include breakpoint($desktop) {
      padding-left: 35px;
    }
  }

  .label {
    font-weight: 700;
    margin-bottom: 4px;
  }

  .account-content-wrapper {
    float: $left;
    width: 50%;
  }

  .joinclub {
    float: $right;
    width: 50%;

    #block-jointheclub {
      h3 {
        font-family: $alshaya-bold;
        font-size: 0.875rem;
        color: $dark-sand;
        margin-top: 0;
      }

      @include breakpoint($only-tablet) {
        margin-top: -0.75em;
      }

      p {
        font-family: $arial;
        font-size: 0.75rem;
        color: $grey-ash;
        margin: 8px 0;
        text-transform: initial;
      }

      a {
        font-family: $arial;
        font-weight: bold;
      }

      img {
        width: 80%;
        max-width: 15.5rem;

        @include breakpoint($tablet) {
          margin-#{$left}: -2.6875rem;
          width: 85%;
        }

        @include breakpoint($desktop) {
          float: $right;
          width: 58%;
          margin-#{$left}: 0;
        }
      }

      a {
        margin-top: 0.8em;

        @include breakpoint($tablet) {
          margin-top: 1.1em;
        }
      }
    }
  }
}

.label.dark {
  color: #000;
  font-size: 14px;
}

.label.black {
  color: $black;
}
