.c-user-register {
  main {
    .user-register-form {
      @include breakpoint($desktop) {
        max-width: 24.625rem;
      }

      .privilege-card-wrapper-title {
        font-family: $alshaya-bold;
        font-size: 14px;
        color: $dark-sand;
        padding-left: 5px;
        padding-top: 10px;
        border-top: 1px solid $white;
        text-transform: lowercase;
      }

      #edit-privilege-card-wrapper {
        margin-top: 0;

        summary {
          padding-left: 5px;
          padding-bottom: 10px;
          font-size: 12px;
          color: $white;
          text-transform: lowercase;
          border-bottom: 1px solid $white;
        }

        label,
        .form-item-privilege-card-number2,
        .form-item-privilege-card-number {
          padding-left: 5px;
          color: $white;
          font-size: 12px;

          input {
            &::-webkit-input-placeholder {
              color: $white;
            }

            &::-moz-placeholder {
              color: $white;
            }

            &:-ms-input-placeholder {
              color: $white;
            }

            &:-moz-placeholder {
              color: $white;
            }
          }
        }
      }
    }
  }

  &.user-page .c-sidebar-second .c-sidebar-second__region {
    @include breakpoint($desktop) {
      padding-#{$left}: 5.3rem;
    }

    #block-onlineexclusiveheadingovertwolinesneverthree p {
      margin-bottom: 0.75rem;
    }
  }
}

.c-user-register .c-sidebar-second,
.c-user-login .c-sidebar-second,
.order-confirmation {
  #block-jointheclub {
    margin-top: 0.5rem;
    padding-top: 1.5rem;

    @include breakpoint($tablet) {
      margin-top: 3.6rem;
      padding-top: 3.6rem;
    }

    @include breakpoint($desktop) {
      margin-top: 4.2rem;
      padding-top: 4.2rem;
    }

    h2 {
      margin-bottom: 0.7rem;
      margin-top: -0.1875rem;

      @include breakpoint($upto-tablet) {
        color: $marine-blue-two;
      }

      @include breakpoint($tablet) {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }

      @include breakpoint($desktop) {
        margin-bottom: 0.8rem;
      }
    }

    img {
      width: 80%;
      max-width: 15.5rem;

      @include breakpoint($tablet) {
        margin-#{$left}: -2.6875rem;
      }

      @include breakpoint($desktop) {
        float: $right;
        width: 58%;
        margin-#{$left}: 0;
      }
    }

    a {
      margin-top: 0.8em;

      @include breakpoint($tablet) {
        margin-top: 0.4rem;
      }

      @include breakpoint($desktop) {
        margin-top: 0.2rem;
      }
    }
  }
}

.block-page-title-block {
  position: relative;

  .back-link {
    position: absolute;
    font-size: 0;
    #{$left}: -0.75rem;
    top: -0.375rem;

    @include icon(chevron#{$left}, before) {
      font-size: 1.875rem;
    }

    @include breakpoint($tablet) {
      display: none;
    }

    + .c-page-title {
      @include breakpoint($upto-tablet) {
        padding-#{$left}: 1.25rem;
        padding-bottom: 0.9rem;
      }
    }
  }
}

.c-order-list,
.c-communication-preferences {
  .block-page-title-block {
    @include breakpoint($upto-tablet) {
      margin-top: 1rem;
    }
  }
}
