.c-add-address {
  #edit-delete {
    display: none;
  }
}

.c-add-address,
.c-address-book {
  .c-page-title {
    border-bottom: 1px solid $white;
    padding-bottom: 0.7rem;
    margin-bottom: 1.25rem;

    @include breakpoint($tablet) {
      margin-top: 0.25rem;
    }

    @include breakpoint($desktop) {
      padding-bottom: 0.5rem;
      margin-bottom: 1.8rem;
    }
  }

  .messages--error {
    margin-top: 1rem;

    @include breakpoint($upto-tablet) {
      padding-bottom: 1rem;
    }
  }

  .block-local-tasks-block {
    display: none;
  }

  .profile-form {
    @extend .contact-form;

    @include breakpoint($desktop) {
      margin-top: 4.5rem;
    }

    .address-container-inline > .form-item {
      max-width: 144px;
      margin-right: 0;
      vertical-align: top;
      width: 100%;

      &:first-child {
        margin-#{$right}: 0.7em;
      }

      @include breakpoint($tablet) {
        max-width: 186px;

        &:first-child {
          margin-#{$right}: 1em;
        }
      }
    }

    summary {
      display: none;
    }

    .form-item {
      padding-bottom: 3rem;
    }

    .form-wrapper.field--type-telephone {
      padding-top: 0;
    }

    select {
      background: none;
      border: none;
      border-bottom: 1px solid $grey-ash;
      height: 1.6rem;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
    }

    .form-actions {
      margin-bottom: 90px;
      font-size: 12px;
      font-weight: 700;

      .form-submit {
        margin-top: 0;
        margin-bottom: 23px;
        min-width: 91px;
        margin-#{$right}: 20px;
        padding: 2px 16px 3px;
        width: auto;

        @include breakpoint($only-mobile) {
          display: block;
          float: none;
          width: 100%;
        }
      }

      .cancel-button {
        display: block;
        text-align: center;
        padding: 11px;

        @include breakpoint($tablet) {
          display: inline-block;
        }
      }
    }

    .js-form-type-select {
      position: relative;
    }

    .country {
      width: 100%;
    }

    .js-form-type-select label {
      color: #adadad;
      font-size: 12px;
      #{$left}: 0;
      position: absolute;
      top: -22px;

      &.error {
        top: 28px;
      }
    }
  }

  .region__content {
    .profile-form {
      margin-top: 1rem;

      @include breakpoint($tablet) {
        margin-top: 1.9rem;
      }
    }
  }
}

#block-alshaya-white-label-content {
  .ajax-progress-throbber {
    margin-bottom: 0.625rem;

    .message {
      display: none;
    }

    .throbber {
      background-image: url(../imgs/icons/MC-loader.svg) !important;
      background-position: $right center !important;
      background-repeat: no-repeat !important;
      background-size: 1.5rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }

    @include breakpoint($only-mobile) {
      #{$right}: 1rem;
      margin-bottom: 0.625rem;
    }
  }
}
