.user__address--column {
  border: 0.0625rem solid $white;
  font-family: $arial;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  @include breakpoint($tablet) {
    float: $left;
    width: calc(50% - 0.75rem);

    &:nth-of-type(odd) {
      margin-#{$right}: 1.5rem;
    }
  }

  @include breakpoint($desktop) {
    margin-bottom: 3rem;
    width: calc(50% - 1.5rem);

    &:nth-of-type(odd) {
      margin-#{$right}: 3rem;
    }
  }
}

#edit-member-delivery-home .user__address--column {
  @include breakpoint($tablet) {
    float: none;
    width: 100%;
    max-width: 100%;

    &:nth-of-type(odd) {
      margin-#{$right}: auto;
    }
  }

  @include breakpoint($desktop) {
    float: $left;
    margin-bottom: 3rem;
    width: calc(50% - 1.5rem);

    &:nth-of-type(odd) {
      margin-#{$right}: 3rem;
    }
  }
}

.address {
  .address--data {
    overflow: hidden;
    padding: 1rem;

    @include breakpoint($tablet) {
      min-height: 12rem;
      padding: 1rem;
    }

    @include breakpoint($desktop) {
      padding: 1.5rem;
      min-height: 12rem;
    }
  }

  .address--contact {
    margin-top: 1.375rem;
  }

  .address--content {
    color: $black-two;
    direction: ltr;
    font-weight: 700;

    html[lang=ar] & {
      text-align: right;
    }

    @include breakpoint($desktop) {
      font-size: 0.875rem;
    }
  }

  .address--label {
    margin-bottom: 0.1875rem;
  }

  .address--userinfo {
    float: left;
    padding-right: 1rem;
    vertical-align: top;
    width: 55%;

    @include breakpoint($tablet) {
      width: 51%;
    }

    @include breakpoint($desktop) {
      padding-right: 1.5rem;
      width: 59%;
    }
  }

  .address--delivery {
    float: left;
    width: 44%;

    @include breakpoint($tablet) {
      width: 48%;
    }

    @include breakpoint($desktop) {
      width: 41%;
    }
  }

  .address--options {
    border-top: 0.0625rem solid $white;
    clear: both;
    display: table;
    width: 100%;

    @include breakpoint($desktop) {
      padding: 1.188rem 1.5rem;
    }

    a {
      color: $black-two;
    }
  }

  .address--controls {
    border-#{$right}: 0.0625rem solid $white;
    display: table-cell;
    min-height: 3.0625rem;
    padding: 0.9375rem;
    vertical-align: middle;
    position: relative;

    @include breakpoint($tablet) {
      padding: 1.375rem 0.875rem;
      min-height: 4.563rem;
      text-align: center;
    }

    @include breakpoint($desktop) {
      border: none;
      min-height: none;
      padding: 0;
      padding-#{$right}: 1.25rem;
    }

    .ajax-progress-throbber {
      position: absolute;
      top: 0.625rem;
      #{$left}: 4.375rem;

      .message {
        display: none;
      }

      .throbber {
        background-image: url(../imgs/icons/MC-loader.svg) !important;
        background-position: $right center !important;
        background-repeat: no-repeat !important;
        background-size: 1.5rem;
        padding-#{$left}: 0.625rem;
        padding-#{$right}: 0.625rem;
      }

      @include breakpoint($only-mobile) {
        top: 0.625rem;
        #{$left}: 4.375rem;
      }
    }
  }

  .address--primary {
    width: 9.438rem;
    position: relative;
    padding-#{$right}: 0.5625rem;
    padding-#{$left}: 2.5rem;
    text-align: left;

    @include breakpoint($tablet) {
      width: 6.625rem;
      padding-#{$left}: 2.4rem;
    }

    @include breakpoint($desktop) {
      padding-#{$right}: 2.5625rem;
      width: auto;
      padding-#{$left}: 1.625rem;
      text-indent: 0;
    }

    span::before,
    a::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 100%;
      margin-#{$right}: 0.75rem;
      border: 0.0625rem solid;
      position: absolute;
      #{$left}: 1rem;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint($desktop) {
        #{$left}: 0;
      }
    }

    span::before,
    a:hover::before {
      border: 0.1875rem solid $windows-blue;
      background: white;
    }
  }

  .address--edit,
  .address--delete {
    a {
      display: block;
      text-transform: uppercase;

      @include breakpoint($tablet) {
        text-align: center;
      }

      @include breakpoint($desktop) {
        border: 0.0625rem solid $black-two;
        display: inline-block;
        font-weight: 700;
        padding: 0.625rem 1.5rem;
        min-width: 5.9375rem;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .address--edit {
    text-align: center;
  }

  .address--delete {
    border-#{$right}: none;
    padding-#{$right}: 0;

    @include breakpoint($only-tablet) {
      padding-#{$right}: 0.9375rem;
    }
  }

  &.active {
    .address--data {
      background: $white-four;
    }

    .address--primary {
      font-weight: 700;
    }

    .address--controls:last-child {
      border-#{$right}: none;

      @include breakpoint($desktop) {
        padding-right: 0;
        text-align: right;
      }
    }
  }
}

.c-address-book {
  .region__content {
    position: relative;
  }

  .view-profiles .view-content {
    position: relative;
    top: -1.25rem;
  }

  .c-page-title {
    margin-bottom: 1rem;

    @include breakpoint($tablet) {
      margin-bottom: 2.25rem;
      margin-top: 0.437rem;
    }

    @include breakpoint($desktop) {
      padding-bottom: 1rem;
      margin-bottom: 3rem;
      margin-top: 0;
    }
  }

  .block-system > a {
    @extend %button-wide;

    display: block;
    margin-bottom: 1.25rem;

    @include breakpoint($tablet) {
      display: inline-block;
      position: absolute;
      top: -1rem;
      #{$right}: 0;
      min-width: 10.2rem;
      text-transform: lowercase;
    }

    @include breakpoint($desktop) {
      top: -0.3125rem;
      min-width: 11.75rem;
    }

    + .form-item {
      overflow: hidden;
    }
  }
}

.l-two--sf {
  &.c-address-book {
    .c-sidebar-first {
      @include breakpoint($only-tablet) {
        display: block;
        float: $left;
        max-width: 16.8125rem;
        width: 23%;
        padding-top: 1em;
      }
    }

    main {
      @include breakpoint($only-tablet) {
        width: 74%;
        max-width: 57.5625rem;
        float: right;
      }
    }
  }
}

.user-form,
.address-book-address,
.webform-submission-alshaya-contact-form {
  .mobile-number-field {
    border-bottom: 0.0625rem solid $brownish-grey;
    padding-bottom: 0 !important;
    margin-bottom: 3rem;
    margin-top: 0;
    width: 11.63rem;
    height: 2.813rem;

    label {
      top: 0;
      bottom: 0;
      #{$left}: 0;
      opacity: 1;
      font-size: 0.75rem !important;
      color: $greyish;
      position: absolute;
    }

    .form-item {
      margin-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .form-item.verified,
    .form-type-select {
      display: none !important;
    }

    .form-type-textfield,
    .form-item-field-mobile-number-0-mobile,
    .form-item-billing-address-address-billing-mobile-number-mobile,
    .form-item-guest-delivery-home-address-shipping-mobile-number-mobile,
    .form-item-member-delivery-home-address-form-form-mobile-number-mobile,
    .form-item-field-address-0-address-mobile-number-mobile {
      position: static !important;
      float: $right;
      width: 8.625rem;
      padding-bottom: 0 !important;

      label.error {
        display: none !important;
      }

      input {
        border-bottom: none !important;
        margin-top: 1.188rem;

        &.local-number {
          border-bottom: none;

          &::placeholder {
            color: transparent !important;
            font-size: 0 !important;
            text-indent: -999rem !important;
          }
        }
      }

      .c-input__bar {
        &::before,
        &::after {
          top: 0.0625rem;
        }
      }

      .form-item--error-message {
        position: absolute;
        #{$left}: 0;
      }
    }
  }

  .country-code-prefix {
    margin-top: 1.25rem;
    color: $greyish;
    width: 3rem;
    float: $left;
    font-size: 1rem;
  }

  #edit-field-address-0-address-administrative-area {
    width: 100%;
  }
}

.c-address-book .profile-form {
  input {
    margin-top: 0.35rem;
    padding-bottom: 0.25rem;
  }
}

.address-book-address .form-item.form-type-select,
.form-item-guest-delivery-home-address-shipping-administrative-area,
.form-item-member-delivery-home-address-form-form-administrative-area {
  &::after {
    top: 0 !important;
    height: 2.188rem;
    width: 2.188rem;
    background: $white !important;
    border-#{$left}: 1px solid $white-five;
  }

  .error {
    top: 0 !important;
  }

  select.form-select,
  #edit-guest-delivery-home-address-shipping-administrative-area,
  #edit-member-delivery-home-address-form-form-administrative-area {
    border: none;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    border-radius: 0;
    border-color: $grey-ash;
    background: $white;
    height: 2.188rem;
  }
}

.form-item-field-address-0-address-administrative-area {
  .select2-selection {
    border: none;
    font-family: "alshaya-thin";
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    border-radius: 0;
    border-color: $grey-ash;
    background: $white;
    height: 2.188rem;
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-selection__rendered {
    font-family: $arial;
    line-height: 1.188rem !important;
    color: $greyish;
    padding: 0.25rem !important;
  }

  .select2-selection__arrow {
    height: 2.188rem !important;
    width: 2.188rem !important;
    border-#{$left}: 0.0625rem solid $white-five;

    @include icon(chevrondown, after) {
      font-size: 1.5rem;
      position: absolute;
      top: 15%;
      left: 20%;
    }

    b {
      display: none;
    }
  }
}

.profile-address-book-edit-form,
#address-book-form-open {
  .form-actions {
    position: relative;

    input[disabled] {
      color: transparent !important;
    }

    .ajax-progress {
      position: absolute;
      top: 0.7rem;
      left: 8%;

      @include breakpoint($only-mobile) {
        left: 46%;
      }
    }
  }
}

// Replacing the throbber for delete address form on addressbook
.profile-address-book-delete-form {
  .ajax-progress-throbber {
    .throbber {
      background-image: url(../imgs/icons/MC-loader.svg) !important;
      background-position: $right center !important;
      background-repeat: no-repeat !important;
      background-size: 1.5rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }
  }
}

#address_wrapper .address-book-address,
#address-book-form-open .address-book-address {
  .country-label {
    font-size: 0.75rem;
    margin-bottom: 0.9375em;
  }

  .country-name {
    font-size: 1rem;
  }

  .select2-container {
    max-width: 100%;
  }

  .mobile-number-field {
    padding-bottom: 2rem;
  }
}

.user-form {
  .field--type-mobile-number {
    max-width: 11.7rem;
    width: calc(50% - 0.75rem);

    .mobile-number-field {
      .form-item-field-mobile-number-0-mobile {
        position: static !important;
        padding-bottom: 0 !important;
        width: 5.625rem !important;

        @include breakpoint($mobile) {
          margin-top: 0.625rem;
        }

        @include breakpoint($tablet) {
          margin-top: 0.4375rem;
        }
      }
    }
  }
}
