@import '../../../../sass/config/**/*.scss';

.block-store {
  background-color: $black;
  color: $white;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem 0.875rem;
  text-align: center;
  display: none;

  @include breakpoint($desk) {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}
