.c-address-book {
  .block-system > a {
    text-transform: uppercase !important;
    font-family: $alshaya-bold;
    font-size: 0.875rem;
  }

  .block-page-title-block {
    @include breakpoint($desktop) {
      padding-bottom: 1.75rem;
    }
  }

  .profile-form {
    .form-submit {
      color: $secondary_submit_button_text;
      text-transform: uppercase;
      font-family: $alshaya-bold;
    }

    .form-actions {
      .cancel-button {
        font-weight: 600;
        color: $address_cancel_button;
      }
    }
  }
}

.address {
  .address--content {
    font-weight: 600;
    word-break: break-word;
  }

  .address--options {
    @include breakpoint($desktop) {
      padding: 1.125rem 1.5rem;
    }
  }

  .address--data {
    @include breakpoint($tablet) {
      min-height: 12.75rem;
    }
  }

  .address--edit a,
  .address--delete a {
    @include breakpoint($desktop) {
      font-weight: 600;
      padding: 0.5rem 1.5rem;
    }
  }

  &.default,
  &:hover {
    .address--primary {
      font-weight: 600;
      color: $address_primary_controls_active;
    }
  }
}

.path--user .ui-dialog {
  .ui-dialog-titlebar-close {
    color: transparent;

    @include icon(close, after) {
      font-size: 2.19rem;
      color: $address_pp_delete_closebtn_icon;
      padding: 0;
    }
  }

  .ui-button {
    text-transform: none;
    font-weight: 600;

    &.dialog-cancel {
      text-transform: capitalize;
      font-size: 0.75rem;
    }
  }
}
