.c-footer-primary {
  &.footer-top {
    background-color: $footer-top-bg;
    display: flex;
    align-items: center;
    padding: 0;
    height: rem(104);

    @include breakpoint($only-mobile) {
      height: auto;
    }
  }

  .footer-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;

    .alshaya-newsletter-subscribe {
      display: flex;
      justify-content: center;
      flex-direction: row;
      max-width: 100%;

      h3 {
        color: $primary_footer_input_label;
        font-family: $alshaya-thin;
        align-self: center;
        width: auto;
        text-transform: none;
        margin: 0;
        padding-#{$right}: rem(30);
      }

      .newsletter-block-label {
        display: none;
      }

      @include breakpoint($only-mobile) {
        margin: rem(0) rem(16);
        flex-wrap: wrap;
        padding: rem(25);
      }

      @include breakpoint($only-tablet) {
        min-width: initial;
      }

      @include breakpoint($tablet) {
        #footer-newsletter-form-wrapper {
          width: auto;
        }
      }

      #edit-email,
      #edit-email--2 {
        padding-#{$right}: 0% !important;
        color: $footer-newsletter-text;
        background-color: $footer-text;
        border-bottom-color: $footer-newsletter-border;
        width: 62%;

        @include breakpoint($only-tablet) {
          width: 52%;
        }

        @include breakpoint($only-mobile) {
          display: inline-flex;
          width: 80%;
        }

        &::placeholder {
          color: $footer-newsletter-text;
        }
      }

      form {
        max-width: 100%;

        @include breakpoint($tablet) {
          width: rem(400);
        }

        .form-item--error-message {
          padding-top: rem(2);
          font-size: rem(14);

          @include breakpoint($only-mobile) {
            position: relative;
            display: inline-flex;
          }
        }

        @include breakpoint($only-mobile) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          .error {
            display: flex;
            padding-#{$left}: rem(33);
            padding-bottom: rem(16);
          }
        }
      }

      .form-email {
        color: $footer-newsletter-text;
        margin-top: 0;
        font-size: rem(14);
        padding-#{$left}: rem(8);
        background: none;
        height: rem(30);
      }

      .form-item {
        max-width: none;
      }

      .form-submit {
        @include primaryBtn;

        @include breakpoint($only-mobile) {
          position: relative;
          margin-top: rem(20);
          top: rem(10);
        }

        @include breakpoint($tablet) {
          #{$right}: rem(-20);
          bottom: rem(-8);
        }
      }
    }
  }

  .footer--categories {
    @include breakpoint($desktop) {
      width: 30%;
    }

    .c-footer-menu--category {
      border-top-color: $footer_border_top;

      h3 {
        font-size: rem(16);
        margin-top: rem(16);
        margin-bottom: rem(18);
        text-transform: none;
        font-family: $alshaya-thin;
        letter-spacing: 0.32px;

        @include breakpoint($only-mobile) {
          display: flex;
          align-items: center;
          font-family: $alshaya-thin;
          padding: rem(14) rem(25);
        }
      }

      .accordion--body {
        @include breakpoint($only-mobile) {
          border-top-color: $footer_border_top;
          padding-#{$left}: rem(25);
        }
      }
    }

    .c-footer-menu__tab {
      padding-bottom: rem(10);
      width: max-content;

      @include breakpoint($only-mobile) {
        padding-bottom: rem(0);
      }

      a {
        @extend %footer-links;
      }
    }
  }

  .footer--abouthelp {
    @include breakpoint($desktop) {
      display: flex;
      width: 70%;
    }

    .c-footer-menu--about,
    .c-footer-menu--help {
      border-top-color: $footer_border_top;

      h3 {
        font-size: rem(16);
        margin-top: rem(16);
        margin-bottom: rem(18);
        text-transform: none;
        font-family: $alshaya-thin;
        letter-spacing: 0.32px;

        @include breakpoint($only-mobile) {
          display: flex;
          align-items: center;
          font-family: $alshaya-thin;
          padding: rem(14) rem(25);
        }
      }

      .c-footer-menu__title {
        padding-bottom: rem(10);
        width: max-content;

        a {
          @extend %footer-links;
        }
      }

      .accordion--body {
        @include breakpoint($only-mobile) {
          padding-#{$left}: rem(25);
        }
      }

      .c-footer-menu__title {
        @include breakpoint($upto-tablet) {
          padding-bottom: rem(0);
        }
      }
    }

    .c-footer-menu--about {
      @include breakpoint($desktop) {
        width: 50%;
      }
    }

    .c-footer-menu--help {
      @include breakpoint($desktop) {
        width: 30%;
      }

      @include breakpoint($only-mobile) {
        border-bottom: rem(1) solid $footer_border_top;
      }
    }
  }

  .language--switcher {
    @include breakpoint($only-mobile) {
      line-height: 4.5;
    }
  }

  .language-switcher-language-url {
    @include breakpoint($only-tablet) {
      padding-top: rem(32);
      padding-bottom: rem(12);
    }

    ul {
      li {
        a,
        &.en a,
        &.en.is-active a {
          font-family: $alshaya-thin;
          text-transform: unset;
          text-decoration: none;
        }

        &:first-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .footer--social,
  .footer--nb-logo-block {
    @include breakpoint($tablet) {
      padding-#{$left}: rem(12);
    }
  }

  .footer--nb-logo-block {
    @include breakpoint($only-mobile) {
      margin: 0;
      margin-#{$left}: rem(24);
      margin-#{$right}: rem(30);
    }
  }

  .footer--social {
    .c-social-links {
      @include breakpoint($desktop) {
        margin-top: rem(19);
      }
    }
  }

  .c-social-links {
    @include breakpoint($upto-tablet) {
      padding-top: rem(12);
      margin: 0 rem(25);
    }

    h3 {
      font-size: rem(17);
      color: $footer_title_h3;
    }

    ul {
      display: flex;
      align-items: center;

      @include breakpoint($upto-tablet) {
        text-align: $left;
      }
    }

    li {
      &:not(:last-child) {
        margin-#{$right}: rem(16);

        @include breakpoint($upto-tablet) {
          margin-#{$right}: rem(24);
        }
      }

      a:hover {
        opacity: 0.5;
      }
    }
  }

  .c-input__bar {
    &::before {
      background: $primary_footer_input_label;
      width: auto;
      #{$left}: 0;

      @include breakpoint($tablet) {
        html[lang="ar"] & {
          height: 0;
        }
      }

      @include breakpoint($only-mobile) {
        position: relative;
      }
    }

    &::after {
      background: none;
      #{$right}: 0;

      @include breakpoint($tablet) {
        html[lang="ar"] & {
          height: 0;
        }
      }
    }
  }

  .primary--footer--right {
    @include breakpoint($only-tablet) {
      width: rem(320);
    }
  }

  .l-container {
    @include breakpoint($desktop) {
      max-width: rem(1284);
      padding: 0 rem(24);
    }
  }

  .block-content--nbfooterlogoblock {
    .footer-brand-home {
      margin-top: rem(18);

      img {
        height: rem(27);
        width: rem(56);
      }

      p {
        font-size: rem(16);
        line-height: 2;
        color: $footer_logo_blk_text;
      }
    }
  }
}

%footer-links {
  font-size: rem(14);
  text-transform: none;
}

.ladda-button[data-style="zoom-in"] {
  .ladda-spinner {
    top: rem(22);
    left: 62%;
  }
}

html[lang="ar"] {
  .ladda-button[data-style="zoom-in"] {
    .ladda-spinner {
      right: 45%;
    }
  }
}

.alshaya-newsletter-subscribe {
  .form-item {
    label {
      &#edit-email-error,
      &.error {
        background: transparent;

        @include breakpoint($only-mobile) {
          top: rem(26);
          padding-#{$left}: rem(32);
        }
      }
    }
  }

  .subscription-status {
    .success {
      padding: 0;
      margin-top: rem(8);

      @include breakpoint($only-mobile) {
        padding-bottom: rem(20);
        padding-#{$left}: rem(32);
      }
    }

    .error {
      margin: 0.25rem 0;
    }
  }
}

.only-first-time {
  .language-switcher-language-url {
    ul {
      li {
        padding-top: rem(8);

        a {
          text-decoration: none;
        }

        &.en a {
          font-family: $alshaya-thin;
        }

        &.en.is-active a {
          font-family: $alshaya-thin;
        }

        &:first-child {
          padding-#{$right}: 0;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .language-switcher-close {
    &::after {
      top: rem(3);
    }
  }
}
