<div class="aura-rewards-wrapper">
  <div class="aura-header-link">
    <a href="#">
      {{- 'AURA'|t -}}
    </a>
  </div>
  {% include "@alshaya_aura_react/aura-rewards-header-popup.html.twig" %}
  {% include "@alshaya_aura_react/aura-rewards-header-authenticated.html.twig" %}
</div>

