<div class="aura-main-menu-user account--logged_in one">
  <div class="aura-logged-in-rewards-header">
    <div class="account-name">
      <span class="name"></span>
    </div>
    <div class="account-points">
      <span class="badge hidden"></span>
      <span class="points hidden"></span>
    </div>
  </div>
</div>
