{% if steps.bagclass %}
<div>
  <div class="steps {{ steps.bagclass }}">Bag</div>
  <div class="steps {{ steps.checkoutclass }}">Sign in</div>
  <div class="steps">Delivery</div>
  <div class="steps">confirmation</div>
</div>
{% endif %}
