.region-footer-secondary {
  margin: 0.6rem 0;

  .field__wrapper {
    a {
      text-decoration: none;

      &:hover {
        color: $peacock-blue;
        text-decoration: underline;
      }
    }
  }

  @include breakpoint($above-palm) {
    margin: 1rem 0;
  }
}
