{% extends "@alshaya_white_label/node/node--acq-product--teaser.html.twig" %}

{% block productForm %}
  {% if content.form %}
    <div class="content--form">
      {{ content.form }}
    </div>
  {% endif %}
{% endblock %}
