{% extends "@alshaya_white_label/node/node--acq-product--full.html.twig" %}

{% block productBrand %}
  {% if content.product_brand %}
    <div class="content--brand">
      {{ content.product_brand }}
   </div>
  {% endif %}
{% endblock %}

{% block sizeVolume %}
  {% if content.size_volume %}
    <div class="content--size-volume">
      <span class="field__label">{{ 'Size/Volume'|t }}:</span>
      {{ content.size_volume }}
    </div>
  {% endif %}
{% endblock %}
