#spc-checkout {
  .spc-sidebar {
    .spc-order-summary-block {
      .product-content {
        background-color: $spc-product-checkout-bg;
        padding: 0;

        .product-item {
          background-color: $spc-product-checkout-bg;

          .spc-product-title-price {
            display: flex;
            justify-content: inherit;

            .spc-product-price {
              font-family: $alshaya-bold;
            }
          }

          .spc-product-attributes {
            font-size: rem(14);
          }
        }
      }

      .block-content {
        .totals {
          background-color: $spc-product-checkout-bg;
        }
      }
    }
  }
}

#spc-checkout {
  .spc-content {
    .spc-checkout-delivery-information {
      padding-top: rem(30);

      .spc-checkout-section-title {
        margin-bottom: rem(27);
      }
    }
  }
}
