<div id="main">
  <h1>Dear Customer,</h1>
  <p>Thank you for visiting our store. Your basket is ready and order has been initiated by our Smart Agent.</p>
  <p>Please complete checkout by click on the link below</p>
  <p><a href="{{ cart_url }}" target="_blank">{{ cart_url }}</a></p>
  <p>If you have any questions, check our <a href="/faqs" target="_blank">FAQs page</a> here or contact our Customer Service team.<br><br></p>
  Best Wishes,<br/>
  The {{ site_name }} Team<br/>
  <a href="/">{{ site_name }}</a>
</div>
