.wishlist-icon {
  background: url('#{$brand_theme_img_directory_path}/icons/wishlist-empty.svg') no-repeat;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;

  @include breakpoint($desktop) {
    width: 2.4375rem;
    height: 2.4375rem;
  }

  &.in-wishlist {
    background-image: url('#{$brand_theme_img_directory_path}/icons/wishlist-filled.svg');
  }

  @include breakpoint($desktop) {
    &:hover {
      background-image: url('#{$brand_theme_img_directory_path}/icons/wishlist-filled.svg');
    }
  }
}
