.wishlist-icon {
  background: url("#{$brand_theme_img_directory_path}/icons/wishlist-empty-icon.svg?adsas") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.wishlist-button-wrapper {
  cursor: pointer;

  &.wishlist-loader {
    @include componentLoader(transparent, "after");
  }
}

.in-wishlist,
.wishlist-link.wishlist-active {
  .wishlist-icon {
    background-image: url("#{$brand_theme_img_directory_path}/icons/wishlist-filled-icon.svg?adsas");
  }
}
