input[type=radio] {
  ~ .radio-sim {
    @include icon(radio-empty, before) {
      font-size: 3rem;
    }
  }

  &:checked {
    ~ .radio-sim {
      @include icon(radio-filled, before) {
        font-size: 3rem;
      }
    }
  }

  ~ .radio-label {
    text-transform: capitalize;

    .impress {
      text-transform: uppercase;
    }
  }
}

#click-and-collect-list-view li.select-store {
  .spc-cnc-store-name {
    @include icon(radio-empty, before) {
      font-size: 3rem;
    }
  }

  &.selected {
    .spc-cnc-store-name {
      @include icon(radio-filled, before) {
        font-size: 3rem;
      }
    }
  }
}
