{% if data %}
  {% if data.l2 %}
    <div class="l2-terms menu-terms-link">
      <ul>
        {% for path, name in data.l2 %}
          <li>
            <a href={{ path }}>{{ name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if data.l3 %}
    <div class="l3-terms menu-terms-link">
      <ul>
        {% for path, name in data.l3 %}
          <li>
            <a href={{ path }}>{{ name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}
