{# For when we have final price #}
<div class="has--special--price"></div>
<div class="special--price"></div>
<div class="price--discount">({{'Save @discount%' | t}})</div>

{# For when we do not have final price, we simply print the price template. #}
