.c-plp {
  .region__content {
    .block-facets-summary-blockfilter-bar-promotions,
    .block-facets-summary-blockfilter-bar-plp,
    .block-facets-summary-blockfilter-bar {
      .filter-list-label {
        text-transform: capitalize;
        font-size: 0.8125rem;
        color: $plp_facet_clear_text;
      }

      ul {
        li {
          a {
            span {
              &.facet-item__value {
                border: 1px solid $facet_selected_badges_border;
                color: $facet_selected_badges_text;
                border-#{$right}: 0;
                text-transform: capitalize;
                padding-#{$left}: 0.625rem;

                &::after {
                  color: $facet_selected_badges_text;
                }
              }

              &.js-facet-deactivate {
                border: 1px solid $facet_selected_badges_border;
                background: $plp_facet_filter_bg;
                border-#{$left}: 0;

                &::after {
                  top: 0.875rem;
                  font-size: 1.375rem;
                }
              }
            }
          }

          &.clear-all a {
            text-transform: capitalize;
            color: $plp_facet_clear_text;
            letter-spacing: 1px;
          }
        }
      }
    }

    .block-page-title-block {
      &.mobile {
        h1 {
          @include breakpoint($only-mobile) {
            font-size: 1.5rem;
            padding: 0.75rem 0 1rem;
            line-height: 1.75rem;
          }
        }
      }

      @include breakpoint($tablet) {
        margin-bottom: 1.625rem;
        line-height: 1.75rem;
      }
    }

    .view-empty {
      @include breakpoint($only-mobile) {
        text-align: center;
      }
    }
  }

  .c-products__item {
    @include breakpoint($desktop) {
      min-height: 26rem;
    }

    .field--name-name {
      margin-bottom: 0.3125rem;
    }

    .product-plp-detail-wrapper {
      .price,
      .special--price {
        font-family: $alshaya-bold;
        font-size: 0.875rem;
      }

      .has--special--price {
        .price {
          font-family: $alshaya-thin;
        }
      }
    }

    article {
      &:hover {
        &::after {
          display: none;
        }
      }

      .alshaya_search_slider {
        display: none;

        .slick-slider {
          display: none;
        }
      }
    }

    .promotions {
      .sku-promotion-link {
        font-family: $muji-helvetica-neue;
      }
    }
  }

  .c-sidebar-first {
    @include breakpoint($desktop) {
      width: 21.76%;
      max-width: 16.8125rem;
    }
  }

  main {
    @include breakpoint($desktop) {
      width: 74.51%;
      max-width: 57.5625rem;
    }
  }

  &.l-two--sf {
    .c-products-list {
      &.product-small {
        .alshaya_search_gallery {
          @include breakpoint($desktop) {
            height: 23.5rem;
          }
        }
      }
    }
  }

  ul.js-pager__items {
    margin-top: 2rem;

    @include breakpoint($only-mobile) {
      margin-top: 4rem;
    }

    a {
      font-family: $muji-demibold;
      padding: 0.75rem 7.125rem;
      text-transform: uppercase;
      background: $plp_pager_link_bg;
    }
  }
}
