#spc-checkout-confirmation {
  padding-top: rem(55);

  .spc-pre-content {
    margin-bottom: rem(26);

    .spc-checkout-confirmation-print-button {
      @include breakpoint($only-mobile) {
        width: 90%;
        height: rem(42);
        border-radius: inherit;
      }
    }
  }

  .spc-main {
    .spc-content {
      .spc-order-summary {
        margin-bottom: rem(30);

        @include breakpoint($only-mobile) {
          margin-bottom: rem(0);
        }

        .spc-order-summary-order-preview {
          margin-bottom: rem(11);
        }
      }

      .checkout-link {
        &:not(.checkout_com_applepay) {
          height: rem(42);
        }
      }
    }

    .spc-sidebar {
      @include breakpoint($only-mobile) {
        margin-top: rem(0);
      }

      .spc-order-summary-block {
        .product-content {
          background-color: $spc-product-checkout-bg;
          padding-top: rem(0);
          padding-#{$left}: rem(0);

          .product-item {
            background-color: $spc-product-checkout-bg;
            padding: rem(24) rem(0) rem(0) rem(24);

            .spc-product-title-price {
              display: flex;
              justify-content: inherit;

              .spc-product-price {
                font-family: $alshaya-bold;
              }
            }
          }
        }

        .block-content {
          .totals {
            background-color: $spc-product-checkout-bg;
          }
        }
      }
    }
  }
}
