.magv2-sidebar {
  .cart-shipping-method {
    &.sameday,
    &.express {
      &::before {
        width: 3rem;

        @include breakpoint($only-tablet) {
          width: 4rem;
        }
      }
    }
  }
}

.spc-delivery-area {
  .spc-filter-panel-search-field {
    border-color: $sameday-express-popup-search-border;
  }
}
