.nodetype--advanced_page {
  .field--name-body p {
    font-size: 0.875rem;
    line-height: 2.29em;
  }

  .block-page-title-block {
    @include breakpoint($only-mobile) {
      padding: 0 0.5rem 0.25rem;

      h1 {
        margin-bottom: 0;
      }
    }
  }
}
