<article data-sku="0716958002" role="article" about="/en/buy-trousers-high-slits-blackfloral.html"
  class="entity--type-node node node--type-acq-product node--view-mode-search-result impression-processed"
  data-nid="1289391" data-vmode="search_result" gtm-type="gtm-product-link"
  gtm-category="Sale/Divided/Jeans Trousers &amp; Tights" gtm-container="product listing page"
  gtm-view-mode="search_result" gtm-cart-value="" gtm-main-sku="0716958002" gtm-name="Trousers with high slits"
  gtm-product-sku="0716958002" gtm-product-sku-class-identifier="_716958002" gtm-sku-type="configurable"
  gtm-brand="H&amp;M" gtm-dimension4="3" gtm-price="4" gtm-dimension3="Discounted Product" gtm-stock="">
  <div class="content">
    <div class="field field--name-field-skus field--type-sku field--label-hidden field__items">
      <div class="field field--name-field-skus field--type-sku field--label-hidden field__item">
        <a href="/en/buy-trousers-high-slits-blackfloral.html"
          data--original-url="/en/buy-trousers-high-slits-blackfloral.html"
          class="list-product-gallery product-selected-url">

        </a>
        <div class="product-plp-detail-wrapper">
          <h2 class="field--name-name">
            <a href="/en/buy-trousers-high-slits-blackfloral.html" class="product-selected-url">Trousers with high
              slits</a>
          </h2>
          <div class="price-block price-block-_716958002">
            <div class="has--special--price">
              <div class="price-type__wrapper">
                <div class="price">
                  <span class="price-wrapper">
                    <div class="price">
                      <span class="price-currency suffix">KWD</span>
                      <span class="price-amount">7.990</span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="special--price">
              <div class="price-type__wrapper">
                <div class="price">
                  <span class="price-wrapper">
                    <div class="price">
                      <span class="price-currency suffix">KWD</span>
                      <span class="price-amount">4.000</span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="price--discount">
              (save 50%)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="labels-container" data-type="plp" data-sku="_716958002" data-main-sku="_716958002">
    </div>
  </div>

</article>
