/* ------- 1. Brand Colors ------- */
$purplish-brown: #353132;
$white: #f2f2f2;
$white-two: #fff;
$medium-green: #39b54a;
$red: #c00;
$white-three: #dadada;
$lipstick: #e81931;
$white-four: #ebebeb;
$tomato: #e6591b;
$warm-grey: #777;
$black: #333;
$dark-red: #e2193a;
$info-blue: #4285f4;

/* ------- 2. Primary Colors ------- */

// Global elements.
$primary_bg: $white-two;
$body_bg: $primary_bg;
$content_pagetitle_border: $warm-grey;
$primary_link: $warm-grey;
$primary_link-hover: $purplish-brown;
$primary_link-active: $purplish-brown;
$primary_border: $white-three; // Global border color
$content_link_color: $purplish-brown;

// Form elements.
$primary_form_selector_border: $warm-grey;
$primary_form_selector: $black;
$primary_form_link: $purplish-brown;
$primary_input: $black;
$primary_input_label: $warm-grey;
$primary_input_border: $warm-grey; // Global form input border
$primary_input_disabled: $white-three;
$primary_input_focus_border: $purplish-brown;
$primary_input_inline_error: $red;

// Dropdown.
$primary_dropdown_bg: $white-two;
$primary_dropdown_arrow: $purplish-brown;
$primary_dropdown_text: $black;
$primary_dropdown_border: $white-three;
$primary_dropdown_option_hover: $warm-grey;
$primary_dropdown_option_border: $warm-grey;
$primary_dropdown_option_disbled: $white-three;
$primary_dropdown_focus: $black;

// Buttons.
$primary_btn_bg: $black;
$primary_btn_text: $white;
$primary_empty_btn: $black;
$primary_empty_btn_border: $black;
$primary_brand_button: $purplish-brown;

// Titles.
$page_title: $black;
$block_title: $purplish-brown;
$title: $black;
$sub_title: $black;

/* ------- 3. Secondary color  ----- */
// Global elements.
$secondary_text: $warm-grey;
$secondary_link: $black;

/* ------- 5. Components --------------- */

// Language Switcher
$lang_switch: $black;
$lang_switch_active: $black;
$lang_switch_firsttime_bg: $white;
$lang_switch_firsttime_border: $white;
$lang_switch_list_bg: $black;
$lang_switch_list: $white;
$lang_switch_close_icon_bg: $purplish-brown;
$lang_switch_close_icon: $white;

// Accordion
$accordion_border: $white-two;
$accordion_title: $black;
$accordion_sub_title: $warm-grey;
$accordion_title_arrow: $purplish-brown;
$accordion_title_disabled: $white-three;
$accordion_arrow: $black;

// Product detail page.
$pdp_product_title: $black;
$pdp_product_itemcode: $warm-grey;
$pdp_product_volume_label: $warm-grey;
$pdp_product_volume_value: $black;
$pdp_sidebar_description: $black;
$pdp_sell_title: $purplish-brown;
$pdp_product_qty_text: $black;
$pdp_cross_sell_title: $purplish-brown;
$pdp_carousel_arrows_blue: $purplish-brown;

// Product Add to cart form.
$pdp_sidebar_label: $purplish-brown;
$pdp_sidebar_link: $purplish-brown;
$pdp_cc_btn_bg: $black;
$pdp_desc_wrapper_border: $white-three;
$pdp_cc_storefinder_link: $purplish-brown;
$pdp_cc_top_stores_list_border: $purplish-brown;

// Autocomplete
$autocomplete_border: $white-three;
$autocomplete_border_last: $white-three;

// Header.
$header_bg: $white-two;
$header_search_block_bg: $white-two;
$header_border: transparent;

// Header mobile search.
$header_search_border_mobile: $black;
$header_search_active_text: $black;

// Header - Search.
$primary_search_btn: $purplish-brown;
$primary_search_bg: $white-two;
$primary_search_btn_icon: transparent;
$primary_search_input: $black;
$primary_search_input_placeholder: $warm-grey;
$primary_search_border: $white-three;
$primary_search_text: $warm-grey;
$header_c_menu_search_active_icon: $purplish-brown;
$header_search_active_bg: transparent;

// C-menu primary i:e Mobile and tablet header menu links.
$header_c_menu_text: $black;
$header_c_menu_icon_color: $purplish-brown;
$header_c_menu_icon_text: $purplish-brown;
$header_toggle_sign_default: $white;
$header_toggle_sign_active_tab: $black;
$header_toggle_sign_active_tab_bg: $white;
$header_mobile_menu_arrow: $purplish-brown;
$header_mobile_menu_active: $white;
$header_mobile_menu_close_bg: $black;
$header_mobile_menu_close: $white;
$header_mobile_menu_overlay: rgba(0, 0, 0, 0.6);

// Branding menu mobile.
$header_branding_shadow: $shadow;

// Header secondary: ie: top header.
$header_secondary_bg_upto_desk: $white;
$header_secondary_menu_link_mobile: $black;
$header_secondary_menu_link: $purplish-brown;
$header_secondary_menu_link_hover_bg: $white-two;

// Header my account nav.
$header_my_account_h3_title: $purplish-brown;
$header_my_account_bg: $white;
$header_my_account_link_hover: $purplish-brown;
$header_my_account_icon: $purplish-brown;
$my_account_nav_active : $purplish-brown;
$my_account_nav_hover: $purplish-brown;

// Checkbox & Radio.
$primary_radiobtn_filled: $purplish-brown;
$primary_radiobtn_empty: $purplish-brown;
$primary_checkbox_filled: $purplish-brown;
$primary_checkbox_empty: $purplish-brown;

// Mega menu.
$mm_bg: $white-two;
$mm_l1_border: $white-three;
$mm_l1_link_bg: $white-two;
$mm_l1_link_hover: $purplish-brown;
$mm_l1_link_hover_border_to_fill_space: $purplish-brown;
$mm_l1_link_active_border: $purplish-brown;
$mm_l2_link: $purplish-brown;
$mm_l2_link_hover: $black;
$mm_l2_p: $warm-grey;
$mm_l3_link: $black;
$mm_l3_link_bg: $white-two;
$mm_l3_link_hover: $black;
$mm_highlight_label: $purplish-brown;
$mm_p_a_text: $black;
$mm_highlight_label: $black;
$mm_highlight_title: $black;
$mm_highlight_description: $warm-grey;
$mm_p_a_text: $warm-grey;
$mm_body_overlay: rgba(0, 0, 0, 0.6);

//  Mini Cart.
$primary_minicart_text: $black;
$primary_minicart_quantity_bg: $dark-red;

// Counters.
$primary_counter_bg: $dark-red;
$secondary_counter_bg: $purplish-brown;

// Notification popup.
$minicart_notification_border: $purplish-brown;
$minicart_notification_background: $white-two;
$minicart_notification_text: $black;
$minicart_notification_btn_bg: $black;
$minicart_notification_product_title: $black;
$minicart_notification_shadow: $shadow;
$minicart_notification_qty_text: $warm-grey;

// Delivery tabs.
$delivery_menu_bg: $white;
$deliverybanner_title: $purplish-brown;
$deliverybanner_subtitle: $purplish-brown;

//3. Footer
$footer_bg: $white-two;
$footer_border_top: $purplish-brown;
$footer_title_h3: $black;
$footer_link_mobile: $warm-grey;
$footer_link: $warm-grey;
$footer_link_hover: $purplish-brown;

// Social links.
$social_links: $purplish-brown;

//1. Copyright
$copyright_footer_bg: $white;
$copyright_footer_text: $black;

//7. Newsletter-signup
$newsletter_title_h3: $black;
$newsletter_input_placeholder: $warm-grey;
$newsletter_input_border: $white-three;
$newsletter_submit_btn: $black;
$newsletter_submit_btn_text: $white-two;
$newsletter_success: $purplish-brown;

// Promo Blocks
$promo_link: $purplish-brown;
$promo_text: $black;
$promo_black_amperserif: $black;
$promo_black_btn: $black;
$promo_black_btn_text: $white-two;
$promo_white_amperserif: $white-two;
$promo_white_btn: $white-two;
$promo_white_btn_border: $black;
$promo_white_btn_text: $black;
$section_divider_border: $black;

//slider banner
$hp_slider_dots: $purplish-brown;

/* ------- 7. Pages ----- */

// Product listing page and search page.
$plp_category_desc: $warm-grey;
$plp_facet_filter_bg: $purplish-brown;
$plp_facet_clear_border: $purplish-brown;
$plp_facet_clear_border_mobile: $purplish-brown;
$plp_facet_clear_text: $purplish-brown;
$plp_facet_input_border: $warm-grey;
$plp_facet_dropdown_bg: $white-two;
$plp_facet_dropdown_icon: $purplish-brown;
$plp_facet_label_border_mobile: $white-three;
$plp_facet_border: $white-three;
$plp_facet_summary_filter_icon: $white;
$plp_item_label: $black;
$plp_promotion_description: $warm-grey;
$plp_promotion_link: $red;
$plp_facet_filter_count_background: $purplish-brown;

// PLP Product tile.
$plp_tile_product_title: $purplish-brown;

// Facet
$category_facet_active_icon: $purplish-brown;
$category_facet_active_text: $black;

// Store finder page.

// Store finder header form.
$store_finder_header_desktop: $black;
$store_finder_subheader: $black;
$store_finder_text: $purplish-brown;
$store_finder_icon: $purplish-brown;
$store_finder_border_hover: $purplish-brown;
$store_finder_text_hover: $purplish-brown;
$store_finder_search_input_mobile_border: $white-three;
$store_finder_search_input_border: $white-three;

// Store finder gloassary.
$store_finder_glossary_alphabet: $purplish-brown;
$store_finder_glossary_text: $black;
$store_finder_glossary_text_border: $white-three;
$store_finder_glossary_border: $white-three;

// Store finder search results.
$store_finder_search_results_border: $white-three;
$store_finder_search_results_tile_hover_bg: $white-two;
$store_finder_search_results_tile_link: $black;
$store_finder_search_results_tile_icon: $black;
$store_finder_search_results_hour_label: $black;
$store_finder_search_results_title: $black;
$store_finder_search_results_counter_bg: $dark-red;
$store_finder_search_results_store_address: $warm-grey;
$store_finder_search_results_down_arrow: $purplish-brown;

// User Form.
$user_form_layout_divider_color: $warm-grey;
$user_block_link: $purplish-brown;
$user_sidebar_block_title: $purplish-brown;
$default_msg_bg: $medium-green;

// Breadcrumb.
$breadcrumb_link: $black;
$breadcrumb_link_hover: $black;
$breadcrumb_link_active: $black;

// Address book
$address_list_background: rgba(51, 51, 51, 0.06);
$address_pp_delete_closebtn: $purplish-brown;
$address_pp_delete_closebtn_cross: $white-two;
$address_book_list_border: $white-three;
$address_book_change_link: $black;
$address_default_color: $purplish-brown;

// Address form.
$address_button_border: $white-three;
$address_button_text: $white-two;
$address_book_border: $white-three;
$address_default_color: $purplish-brown;

// Checkout Login
$checkout_section_titles: $black;
$checkout_login_guest_email_text: $purplish-brown;
$checkout_login_guest_email_text_mobile: $purplish-brown;
$checkout_login_tab_border: $warm-grey;
$checkout_login_tab_text: $black;
$checkout_login_border_active: $purplish-brown;
$checkout_section_title_border: $warm-grey;
$checkout_login_btn_bg: $primary_btn_bg;

//checkout layout
$checkout_securely_icon_bg: $dark-red;
$checkout_securely_icon_mobile_txt: $white-two;
$checkout_securely_txt: $black;
$checkout_footer_txt: $warm-grey;
$checkout_delivery_options_border: $white-three;
$checkout_default_address_border: $purplish-brown;
$checkout_address_edit_link: $black;

// Checkout Progress.
$checkout_seperator: $warm-grey;
$checkout_current_counter_border: $dark-red;
$checkout_counter_border: $purplish-brown;

// Checkout click and collect heading cnc form.
$checkout_cc_cnc_form_title_border: $warm-grey;

// Checkout Click & collect.
$checkout_cc_list_hours_label: $black;
$checkout_cc_list_hours_label_icon: $purplish-brown;
$checkout_cc_list_delivery_time: $warm-grey;
$checkout_cc_store_address: $warm-grey;
$checkout_cc_list_select_store_btn_txt: $purplish-brown;
$checkout_cc_list_select_store_btn_border: $purplish-brown;
$checkout_cc_list_map_link_default: $purplish-brown;
$checkout_cc_list_map_link_border: $white-three;
$checkout_cc_list_map_link_bg: rgba(51, 51, 51, 0.06);
$checkout_cc_store_location_input_label_mobile_color: $black;
$checkout_cc_selected_store_content_bg: $white-two;
$checkout_cc_individual_store_hours_label_border: $white-three;
$checkout_cc_map_hours_icon: $purplish-brown;

// Checkout Payment.
$checkout_payment_form_border: $purplish-brown;
$checkout_payment_method_title: $black;

// Checkout tabs & form.

$checkout_tab_default_title: $black;
$checkout_tab_active_title: $black;
$checkout_tab_active_border: $purplish-brown;
$checkout_tab_description: $black;
$checkout_section_titles: $black;
$secure_checkout_back_link: $purplish-brown;
$checkout_transaction_type_color: $purplish-brown;
$checkout_form_actions_footer: $warm-grey;

// Checkout mobile back link.
$checkout_mobile_back_link_icon: $purplish-brown;

// Checkout order summary block.
$checkout_order_summary_title_border: $white-three;
$checkout_order_summary_no_of_items: $black;
$order_summary_dropdown_icon: $purplish-brown;
$order_summary_section_border: $white-three;
$order_summary_subtotal: $black;
$order_summary_product_img_border: $white-three;

// Color for attributes and qty.
$order_summary_sec_text: $warm-grey;

// Order Confirmation
$order_detail_table_bg: $white-three;
$checkout_confirm_order_message: $warm-grey;
$checkout_confirm_order_summary_row_text: $white-two;
$checkout_order_print_btn_bg: false;
$checkout_order_print_btn_text: $white-two;
$checkout_order_print_btn_border: $white-two;
$checkout_order_details_label: $black;
$checkout_order_details_product_count_border: $white-three;
$checkout_order_details_icon: $purplish-brown;
$checkout_confirm_discount_row: $white-two;

// Order Print
$checkout_confirm_order_summary_row: $info-blue;
$order_print_btn_bg: $info-blue;
$order_print_btn_border: $white-two;
$order_print_btn_text: $white-two;
$order_recent_order_order_detail_link_bg: $purplish-brown;
$recent_order_table_row_border: $white-three;
$order_accordion_open_bg: rgba(51, 51, 51, 0.06);
$order_detail_delivery_details_row_bg: $info-blue;
$order_detail_delivery_details_row_td_blend: $info-blue;
$order_detail_delivery_details_row_text: $white-two;
$order_detail_delivery_details_row_content: $black;
$order_print_delivery_details_row: $white-two;
$order_print_delivery_details_row_text: $purplish-brown;
$order_print_delivery_details_row_border: $purplish-brown;
$order_print_order_details_row_bg_blend: rgba(218, 218, 218, 0.15);
$order_print_order_details_row_bg_td_blend: rgba(242, 242, 242, 0.27);
$order_print_product_count_row_border: $white-three;
$order_print_delivery_subtotal_row_blend: $white-two;
$order_print_total_row: $white-three;

// Tables.
$primary_th_bg: $white;
$primary_th_bg_highlight: $white-three;
$primary_td_highlight3: rgba(218, 218, 218, 0.19); // used on blend class.
$primary_td_bg_highlight: rgba(218, 218, 218, 0.19);
$primary_tr_hover: rgba(218, 218, 218, 0.19);
$primary_full_page_overlay_bg: rgba(255, 255, 255, 0.7);

// Tooltip
$tooltip_bg: $white-two;
$tooltip_text: $info-blue;
$tooltip_border: $info-blue;
$tooltip_icon: $info-blue;
$tooltip_link: $black;

// Basket
$basket_page_title: $black;
$basket_img_border: $white-three;
$basket_th_4th_child: $primary_td_highlight3;
$basket_continue_shopping_link: $black;
$basket_content_link_color: $purplish-brown;
$basket_empty_continue_shopping_link: $white-two;
$basket_empty_continue_shopping_btn_bg: $black;

// Sec text is Size, color, item code attributes.
$basket_td_sec_txt: $warm-grey;
$basket_item_bundle: $purplish-brown;
$basket_tooltip_not_available: $warm-grey;
$basket_promotion_input_border: $black;
$basket_remove_link: $purplish-brown;

// Privilege card earn text only for the basket page.
$privilege_earn_txt: $black;
$privilege_earn_icon: $purplish-brown;

// My Account Pages
$user_order_help_bg: $info-blue;
$user_order_help_text : $white;
$user_order_help_text_links: $user_order_help_text;
$password_tooltip_list: $red;

// 404 and maintenance
$page_not_found_text: $white-two;
$page_not_found_link: $white-two;
$page_not_found_link_border: $white-two;
$page_not_found_mobile_bg: rgb(241, 155, 136);
$maintenance_container_border: $purplish-brown;
$maintenance_container_bg: $white-two;
$maintenance_container_text: $black;
$maintenance_info_bg: $white;
$maintenance_info_title-text: $purplish-brown;

// Product modal
$pdp_modal_full_prodlink: $purplish-brown;
$modal_close_bg: $purplish-brown;
$modal_zoom_bg: rgba(242, 242, 242, 0.3);

// Pace progress color
$progress_loader: $purplish-brown;
