// Font Family
$fl-bold: "Roboto-Bold", "DroidArabicKufi_Bold", "Arial";
$fl-bold-nodir: "Roboto-Bold", "DroidArabicKufi_Bold", "Arial";

$fl-thin: "Roboto-Regular", "DroidKufi_Regular", "Arial";
$fl-thin-nodir: "Roboto-Regular", "DroidKufi_Regular", "Arial";

$fl-arabic-bold: "DroidArabicKufi_Bold", "Roboto-Bold", "Arial";
$fl-arabic-bold-nodir: "DroidArabicKufi_Bold", "Roboto-Bold", "Arial";

$fl-arabic-thin: "DroidKufi_Regular", "Roboto-Regular", "Arial";
$fl-arabic-thin-nodir: "DroidKufi_Regular", "Roboto-Regular", "Arial";

// Postpay font family
$postpay-font: "GreycliffCF-Bold", "Roboto-Regular", "DroidKufi_Regular", "Arial";
$postpay-arabic-font: "Cairo-Bold", "DroidArabicKufi_Bold", "Roboto-Bold", "Arial";

$arial: $fl-thin;
$arial-nodir: $fl-thin-nodir;
$alshaya-bold: $fl-bold;
$alshaya-arabic-bold: $fl-arabic-bold;
$alshaya-thin: $fl-thin;
$alshaya-arabic-thin: $fl-arabic-thin;
$alshaya-thin-nodir: $fl-thin-nodir;
