.paragraph--type--section-divider {
  .field--name-field-section-divider-text {
    @include breakpoint($tablet) {
      font-size: 1.5rem;
      font-weight: normal;
      padding-bottom: 0.625rem;
      border-bottom: 1px solid $section_divider_border;
    }
  }
}
