// Overlay on desktop resolution for drawers like all-filers, PLP quikc view drawer, Magazine 2.0 drawers.
html {
  &::before {
    content: '';
    position: fixed;
    width: 100vw;
    box-shadow: 0 9999px 0 9999px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.48);
    transition: opacity 300ms ease-in;
  }

  &.all-filters-overlay,
  &.overlay-product-modal,
  &.desc-overlay,
  &.overlay-select,
  &.overlay-crossel,
  &.overlay-related-select,
  &.ratings-reviews-overlay {
    overflow: hidden;

    &::before {
      opacity: 1;
      transition: opacity 300ms ease-in;
      height: 100%;
      pointer-events: unset;
    }
  }
}
