<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons" tabindex="-1" role="dialog" style="position: fixed; height: auto; width: 700px; top: 58px; left: 368px; display: block; z-index: 101;" aria-describedby="drupal-modal" aria-labelledby="ui-id-1">
 <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
  <span id="ui-id-1" class="ui-dialog-title">{{title}}</span>
  <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close">
    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
    <span class="ui-button-text">{{content}}</span>
  </button>
 <div>
</div>
<div class="ui-widget-overlay ui-front" style="z-index: 100"></div>
