/**
  * This file contains css browser specific hot-fix
 */

/**
  * IE - Specific issues and hacks for them.
 */

body.ie {
  header {
    #views-exposed-form-search-page {
      .form-item-keywords,
      .form-actions {
        display: inline;
      }
    }
  }

  // IE 10, 11, not taking line-height from select-wrapper mixin in rems.
  &.alias--cart #table-cart-items .form-type-select::after {
    line-height: 34px;
  }

  // We have added a IE polyfill to make details element work, it converts the summary into <a> tag, so
  // adding color for it.
  summary a.details-title {
    color: $grey-ash;
  }
}

/**
  * UC Browser - Specific issues and hacks for them.
 */
body.ucbrowser {
  .owl-prev,
  .owl-next {
    @include breakpoint($mobile) {
      top: 45% !important;
    }

    @include breakpoint($tablet) {
      top: 47% !important;
    }
  }

  @include breakpoint($tablet) {
    #block-mobilenavigation {
      ul.menu {
        li:first-child {
          float: $left;
          height: 20px;
        }

        li:last-child {
          float: $right;
          height: 20px;
        }
      }
    }
  }
}

/**
 * Opera - Specific issues and hacks for them.
 */

/**
 * Chrome - Specific issues and hacks.
 */

// In Chrome, padding is not applied correctly on select, adding text-indent to roughly center the number.
body.chrome {
  &.alias--cart #table-cart-items td select {
    text-indent: 0.4rem;
  }
}
