// Image Replacement
%u-image-replacement {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

// Overlay Content
%u-overlay-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

// is-
%is-hidden {
  display: none;
}

// Classes
%show-overlay,
.show-overlay {
  @include breakpoint($upto-desktop) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }
}
