<div>
    <div class="clearfix">
        <div{{ attributes.addClass('l-container') }}>
            <main>
                <div class="c-content">
                    <div class="c-content__region">
                        {{ page.content }}
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>
