.path--magazine {
  .page-standard {
    @include container(60rem);
  }

  .view-magazine-articles {
    @include container(52.75rem);

    @include breakpoint($upto-desktop) {
      padding: 0 0.96875rem;
    }
  }

  .block-page-title-block {
    text-align: center;

    h1 {
      font-size: 2.5rem;
      margin-top: 1.5rem;
      padding-bottom: 1.875rem;
      border-bottom: 1px solid $magazine-article-border-color;
      margin-bottom: 1.5rem;

      @include breakpoint($only-mobile) {
        margin-bottom: 0;
      }
    }
  }

  h2 {
    margin: 0;
  }

  article {
    text-align: center;

    > div {
      > a .field--name-field-magazine-homepage-image {
        margin-bottom: 2rem;
      }
    }
  }

  .field--name-field-magazine-date {
    margin-bottom: 2.125rem;

    @include breakpoint($only-mobile) {
      margin-bottom: 0.9375rem;
    }
  }

  .read-more {
    text-align: center;
    padding-bottom: 0.9375rem;

    a {
      position: relative;
      display: inline-block;
      padding: 0.5rem 0.5625rem 0.4375rem 1.1875rem;
      font-weight: 700;
      font-size: 0.6875rem;
      text-transform: uppercase;
      background-color: $magazine-article-read-more-bg-color;
      color: $magazine-article-title;
      text-decoration: underline;
      cursor: pointer;

      html[lang="ar"] & {
        padding: 0.5rem 1.1875rem 0.4375rem 0.5625rem;
      }

      @include icon(dropdown-expand, before) {
        position: absolute;
        #{$left}: -0.25rem;
        font-size: 2.25rem;
        width: 1.75rem;
        top: 1px;
        transform: rotate(270deg);
        color: $magazine-article-read-more-icon-color;

        html[lang="ar"] & {
          top: 0;
          transform: rotate(90deg);
        }
      }

      &:hover {
        background-color: $magazine-label-color;
        border-color: $magazine-label-color;
        color: $magazine-article-primary-color;

        &::before {
          color: $magazine-article-primary-color;
        }
      }
    }
  }

  .js-pager__items {
    padding-#{$left}: 0;
  }

  .pager__item {
    list-style: none;
    text-align: center;

    .button {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      display: inline-block;
      text-transform: capitalize;
      padding: 1.25rem 0;
      padding-#{$right}: 1.375rem;
      padding-#{$left}: 0;
      margin: 0 auto 2.25rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 1.375rem;
        #{$right}: 0;
        #{$left}: auto;
        width: 0.875rem;
        height: 0.875rem;
        background: url("#{$base_theme_img_directory_path}/icons/sprites-life.svg") center center no-repeat;
        transform: none;
        opacity: 1;
      }
    }
  }
}

body {
  &.path--magazine {
    color: $magazine-article-title;
  }
}
