.toggle--sign {
  .account.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #points-wrapper-mobile-menu {
      padding-top: 3px;

      .points {
        height: 1.125rem;
        border-radius: 0.5625rem;
        font-size: 0.75rem;
        font-family: $aura-bold;
        padding: 0 0.75rem;

        .points-post-text {
          text-transform: uppercase;
          font-size: 0.5625rem;
          padding-#{$left}: 3px;
        }
      }
    }
  }
}
