.points {
  color: $aura-points-text;

  &.badge-1,
  &.badge-no-tier {
    background-image: $aura-hello-tier;

    html[lang=ar] & {
      background-image: $aura-hello-tier-ar;
    }
  }

  &.badge-2 {
    background-image: $aura-stars-tier;

    html[lang=ar] & {
      background-image: $aura-stars-tier-ar;
    }
  }

  &.badge-3 {
    background-image: $aura-vip-tier;

    html[lang=ar] & {
      background-image: $aura-vip-tier-ar;
    }
  }
}
