#block-myaccountsaurablock,
#block-aurarewardsheader,
#aura-mobile-header-shop,
#username-points-wrapper-mobile-menu,
#aura-pdp,
#my-accounts-aura-mobile {
  .spc-loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;

    .spc-loader {
      background: url(#{$base_theme_loader_img_directory_path}) #{$left} center no-repeat;
      padding-#{$left}: 2.5rem;
      background-size: contain;
      color: $spc-loader-text;
      min-width: 2rem;
      min-height: 2rem;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
    }
  }
}

.aura-myaccount-waiting-wrapper {
  .spc-loading-container {
    min-height: 3rem;
  }
}
