.toggle--sign.aura-enabled {
  @include breakpoint($upto-desktop) {
    .one {
      height: 3.75rem;
      display: inline-flex;
      padding: 0;
      align-items: center;
      justify-content: center;
    }

    ~ .menu--one__list {
      top: 3.75rem;
    }

    .aura-logged-in-rewards-header {
      .account-points {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.aura-enabled.c-my-account-nav.block-alshaya-my-account-links {
  @include breakpoint($upto-desktop) {
    top: 3.75rem;
  }
}
