.c-category-list__title {
  font-size: 0.875rem;
  margin-bottom: 0.375rem;
  font-family: $alshaya-bold;
  font-weight: normal;
  text-transform: lowercase;
  color: $secondary_link;

  a {
    color: $secondary_link;
  }
}

.c-category-list__items {
  margin-bottom: 1.75rem;
}

.c-category-list__item {
  font-size: 0.75rem;
  line-height: 2;
  text-transform: lowercase;

  a {
    color: #666;
    font-family: $alshaya-thin;
  }
}
