#product-image-gallery,
#lightSlider {
  .slick-slide {
    @include breakpoint($desktop) {
      height: 8.1875rem !important;
    }

    @include breakpoint($only-tablet) {
      height: auto !important;
    }

    img {
      @include breakpoint($only-tablet) {
        width: auto;
        height: auto;
      }
    }
  }
}

@include breakpoint($only-tablet) {
  #lightSlider {
    .slick-slide {
      width: auto;

      a {
        display: flex;
        align-items: center;
      }
    }

    .slick {
      &-arrow {
        top: 1.0625rem;
      }
    }
  }
}
