.user-page {
  .change-pwd-form {
    .form-submit {
      font-size: 0.75rem;
      color: $secondary_brand_button_text;

      @include breakpoint($desktop) {
        margin-top: 1.4375rem;
      }
    }
  }
}
