.c-user-password {
  @include breakpoint($desktop) {
    margin-top: 4.75rem;
  }

  .user-pass .form-submit {
    padding: 0.625rem 1.25rem;
    font-size: 0.75rem;
  }

  &.user-page {
    @include breakpoint($only-mobile) {
      margin-top: 2.8rem;
    }
  }
}
