.recent__orders--list {
  .order__detail--link {
    a {
      font-size: 0.875rem;
      text-decoration: underline;
      text-transform: capitalize;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.alshaya-acm-customer-order-list-search {
  .form-text {
    border-#{$right}: 0;
  }

  .form-actions {
    &::after {
      line-height: 22px;
      border-#{$left}: 0;
    }
  }

  .form-item-search {
    @include breakpoint($upto-tablet) {
      input {
        background: $order_search_form_input_bg;
      }

      label {
        border: 0;
        background: transparent;
        text-decoration: underline;
        padding-#{$left}: 0.125rem;
        font-size: 0.875rem;

        &::before {
          content: none;
        }

        @include icon(search, after) {
          pointer-events: none;
          line-height: 1.1;
          text-align: center;
          font-size: 1.875rem;
          margin-#{$left}: 0.3125rem;
          display: inline-block;
          vertical-align: middle;
          padding: 0;
        }
      }
    }
  }

  .form-actions {
    height: 2.5rem;
    width: 2.5rem;

    &::after {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 31px;
    }
  }

  .form-type-select {
    @include breakpoint($tablet) {
      width: 10.3125rem;
    }

    select {
      height: 2.5rem;

      @include breakpoint($tablet) {
        width: 10.3125rem;
      }
    }

    .select2-container {
      @include breakpoint($tablet) {
        width: 10.3125rem !important;
      }

      .select2-selection {
        @include breakpoint($tablet) {
          width: 10.3125rem;
        }
      }
    }

    &::after {
      font-size: 2rem;
    }
  }

  .form-item {
    label {
      @include breakpoint($only-tablet) {
        display: none;
      }
    }

    input {
      height: 2.5rem;

      @include breakpoint($tablet) {
        width: 7.8125rem;
      }
    }
  }

  .form-item-filter {
    @include breakpoint($desktop) {
      margin-#{$left}: 0.75rem;
    }

    label {
      display: none;
    }

    @include breakpoint($desktop) {
      width: auto;
    }
  }

  .form-actions,
  .form-item {
    font-size: 0.875rem;
  }
}

.c-order-list {
  .subtitle {
    font-size: 1.125rem;
    border-bottom: 0;

    @include breakpoint($upto-desktop) {
      padding-top: 1.4rem;
    }
  }

  .order-search-form {
    border-bottom: 0;

    @include breakpoint($upto-tablet) {
      padding-bottom: 0.25rem;
    }

    @include breakpoint($only-tablet) {
      top: 0.9rem;
    }

    @include breakpoint($desktop) {
      top: -0.5rem;
    }

    .form-item {
      @include breakpoint($only-tablet) {
        margin-#{$left}: 1.25rem;
      }
    }
  }

  .second-third {
    .second {
      @include breakpoint($desktop) {
        vertical-align: middle;
      }
    }

    .order-name {
      @include breakpoint($desktop) {
        margin-bottom: 0.25rem;
      }
    }
  }
}

#block-content {
  .order-items li {
    a {
      .dark {
        letter-spacing: 0;
        font-size: 0.875rem;
      }

      .light {
        font-size: 0.75rem;
      }

      .first-second .dark {
        font-family: $vs-bold;
        font-weight: normal;
      }

      .date {
        @include breakpoint($desktop) {
          margin-top: 0.3125rem;
        }
      }

      &::after {
        background: transparent;
      }
    }
  }
}

html[lang=ar] {
  .recent__orders--list {
    td.order-transaction {
      .light,
      .dark {
        @include breakpoint($tablet) {
          margin-bottom: 0.625rem;
        }
      }
    }

    td.toggle--icon {
      .light {
        @include breakpoint($tablet) {
          margin-bottom: 0.625rem;
        }
      }
    }
  }

  .c-order-list {
    .order-items {
      .first-second {
        .first {
          .order-label {
            @include breakpoint($tablet) {
              margin-bottom: 0.625rem !important;
            }
          }

          .date {
            @include breakpoint($tablet) {
              margin-top: 0.625rem !important;
            }
          }
        }
      }

      .fourth {
        .totale-label {
          @include breakpoint($tablet) {
            margin-bottom: 0.625rem !important;
          }
        }
      }
    }
  }
}
