{% if fields.field_promotion_banner or fields.field_promotion_banner_mobile %}
  <div class="picture-tag">
    <picture>
      {% if fields.field_promotion_banner.content and fields.field_promotion_banner_mobile.content %}
        <source media="(min-width: 768px)" srcset="{{ fields.field_promotion_banner.content }}">
        {% if fields.field_promo_banner_for_mobile.content == "0" %}
          <source media="(max-width: 767px)" srcset="{{ fields.field_promotion_banner_mobile.content }}">
        {% endif %}
        <img src=""/>
      {% elseif fields.field_promotion_banner.content is empty and fields.field_promotion_banner_mobile.content %}
        {% if fields.field_promo_banner_for_mobile.content == "0" %}
          <source media="(max-width: 767px)" srcset="{{ fields.field_promotion_banner_mobile.content }}">
        {% endif %}
        <img src=""/>
      {% elseif fields.field_promotion_banner_mobile.content is empty and fields.field_promotion_banner.content %}
        <source media="(min-width: 768px)" srcset="{{ fields.field_promotion_banner.content }}">
        <img src=""/>
      {% endif %}
    </picture>
  </div>
{% endif %}
