@media print {
  img {
    display: none;
  }

  .appointment-confirmation-print-content {
    .appointment-confirmation-print-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3.75rem;

      img {
        max-width: 10rem;
        display: block;
      }
    }

    .appointment-confirmation-print-body {
      padding: 0 3.5rem;

      .inner-header {
        border-bottom: 0.0625rem solid $appointment-confirmation-grey-border;
        padding-bottom: 0.3125rem;

        label {
          font-size: 1.125rem;
          line-height: 1.22;
          color: $appointment-confirmation-blue-txt;
          font-family: $alshaya-bold;
        }
      }

      .confirmation-item {
        td {
          padding-top: 1.875rem;
          vertical-align: top;

          &.label-wrapper {
            min-width: 165px;
          }
        }

        label {
          font-size: 0.875rem;
          color: $appointment-confirmation-blue-txt;
          font-family: $alshaya-bold;
          display: inline-block;
          padding-right: 0.625rem;
        }

        span {
          font-size: 0.875rem;
          color: $appointment-confirmation-txt;
          font-family: $alshaya-thin;
        }
      }
    }
  }
}
