.appointment-select-store-container {
  .store-header {
    @include breakpoint($upto-tablet) {
      margin-bottom: 0.9375rem;
    }
  }

  .store-finder-button {
    float: none;
    padding: 0.625rem 2.4rem;
    margin-top: 0;
  }

  .store-finder-wrapper {
    margin-bottom: 0.8125rem;

    .store-finder-container {
      @include breakpoint($tablet) {
        display: inline-flex;
        align-items: center;
        width: 65%;
        justify-content: space-between;
        margin-top: 1.875rem;
        padding-#{$right}: 0.3125rem;
      }

      @include breakpoint($desktop-wide) {
        padding-#{$right}: 3.3125rem;
      }
    }

    span,
    label {
      font-size: 0.875rem;
      color: $appointment-store-text;
    }

    label {
      @include breakpoint($upto-tablet) {
        margin-bottom: 0.625rem;
        display: block;
      }
    }

    span {
      margin-#{$left}: 1.625rem;
      margin-#{$right}: 1.0625rem;
    }

    input[type=text] {
      height: 2.5rem;
      padding-#{$right}: 3.75rem;
      padding-#{$left}: 0.5rem;
      padding-top: 0.6875rem;
      padding-bottom: 0.6875rem;
      border: 1px solid $appointment-grey-border;
      text-overflow: ellipsis;

      @include breakpoint($tablet) {
        width: 100%;
      }
    }

    .store-finder-input {
      display: inline-block;
      position: relative;
      width: 35%;

      &::after {
        content: '';
        background: url('#{$base_theme_img_directory_path}/icons/appointment-search.svg') no-repeat;
        border: none;
        text-indent: -9999px;
        width: 2.125rem;
        height: 2.125rem;
        text-align: center;
        margin-#{$left}: 0;
        position: absolute;
        #{$right}: 0.3125rem;
        top: 0.125rem;
        background-size: cover;
        z-index: 2;
      }

      @include breakpoint($upto-tablet) {
        width: calc(100% - 3.125rem);
        vertical-align: middle;

        input {
          width: 100%;
        }
      }
    }

    .appointment-store-near-me {
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $appointment-store-search-icon;
      font-size: 0;
      transition: background 0.2s ease-in-out;
      margin-#{$left}: 0.625rem;
      display: inline-block;
      vertical-align: middle;
      background: $appointment-store-search-icon;
      position: relative;

      @include icon('map-location', before) {
        font-size: 1.5rem;
        color: $appointment-store-search-icon-active;
        transition: color 0.2s ease-in-out;
        position: absolute;
        #{$left}: 0;
        #{$right}: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      @include breakpoint($only-mobile) {
        background: $appointment-store-search-icon-active;

        &::before {
          color: $appointment-store-search-icon;
        }

        &.active,
        &:hover {
          background: $appointment-store-search-icon !important;

          &::before {
            color: $appointment-store-search-icon-active !important;
          }
        }
      }

      &.active,
      &:hover {
        background: $appointment-store-search-icon-active;

        @include icon('map-location', before) {
          color: $appointment-store-search-icon;
        }
      }
    }
  }

  .appointment-store-actions {
    &:not(.show) {
      .select-store {
        border: 1px solid $appointment-disable-btn-bg;
        background: $appointment-disable-btn-bg;
        cursor: auto;
      }
    }
  }

  @include breakpoint($only-tablet) {
    > .appointment-details {
      margin-top: 6.25rem;
    }
  }
}

.appointment-select-store-container,
.appointment-select-time-slot-container {
  @include breakpoint($only-mobile) {
    > .appointment-details {
      display: none;
    }

    .appointment-store-buttons-wrapper {
      padding-top: 1.5rem;
    }
  }

  @include breakpoint($tablet) {
    .appointment-store-actions {
      float: $left;
    }

    .appointment-flow-action {
      float: $right;
    }
  }
}
