.toggle-store-view {
  @include breakpoint($upto-tablet-landscape) {
    padding: 0.625rem 0 1.25rem;

    .toggle-buttons-wrapper {
      text-align: center;
      max-width: 20.9375rem;
      margin: 0 auto;

      .stores-list-view,
      .stores-map-view {
        width: calc(50% - 0.46875rem);
        border: 1px solid $appointment-store-toggle-bg-active;
        color: $appointment-store-toggle-bg-active;
        height: 2.25rem;
        background: $appointment-store-toggle-bg;
        padding: 0;
        font-size: 0.8125rem;
        border-radius: 0.25rem;

        &.active {
          background: $appointment-store-toggle-bg-active;
          color: $appointment-store-toggle-bg;
        }
      }

      .stores-map-view {
        margin-#{$left}: 0.9375rem;
      }
    }
  }
}
