.user-page {
  .form-item input:focus ~ label:not(.error),
  .form-item input:not(:focus):valid ~ label:not(.error),
  .form-item input:active ~ label:not(.error),
  .form-item input:not(:active):valid ~ label:not(.error),
  .form-item input.error ~ label:not(.error) {
    font-size: 0.875rem;
  }
}

.path--user {
  .c-order-help {
    .field--name-body {
      border: 1px solid $user_order_help_border;

      &::before {
        color: $user_order_help_text_links;
      }

      p {
        font-family: $vs-bold;
        font-size: 0.875rem;
      }

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

