.recent__orders--list {
  .order--items {
    text-transform: capitalize;
    font-family: $bp-light;
  }
}

#block-userrecentorders {
  h2.subtitle {
    .path--user & {
      text-transform: capitalize;
      font-size: 1.125rem;
    }
  }

  .order-summary-row td:first-child .light {
    font-size: 0.875rem;

    &.order--date--time {
      @include breakpoint($only-tablet) {
        font-size: 0.875rem;
      }
    }
  }
}

.user__order--detail {
  .light {
    text-transform: capitalize;
  }

  .label {
    color: $label_dark;
  }

  .store-name-and-address {
    .store-map-link {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  td {
    &.above-mobile.blend {
      .dark {
        line-height: 1.4;
      }
    }

    &.order__user--info {
      .address--contact {
        margin-top: 1.25rem;
        font-size: 0.75rem;

        .no-direction {
          font-size: 0.875rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .surcharge-row {
    td:first-child {
      @include breakpoint($only-tablet) {
        .order-detail & {
          display: none;
        }
      }
    }
  }
}

.order-detail {
  .print--button {
    @include breakpoint($desktop) {
      top: 0.5rem;
    }
  }

  .order-transaction + div .dark,
  .order-transaction + td .dark {
    text-transform: inherit;
    font-family: $bp-light;
  }

  .user__order--detail {
    > div > div {
      &.above-mobile.blend {
        .dark {
          line-height: 1.4;
        }
      }

      &.order__user--info {
        .address--contact {
          margin-top: rem(20);
          font-size: rem(12);

          .no-direction {
            font-size: rem(14);
            margin-top: rem(8);
          }
        }
      }
    }

    .surcharge-row {
      div:first-child {
        @include breakpoint($only-tablet) {
          .order-detail & {
            display: none;
          }
        }
      }
    }
  }
}

#block-content {
  .order-items li {
    a {
      &::after {
        @include breakpoint($only-mobile) {
          font-size: 2rem;
        }
      }

      .light {
        @include breakpoint($upto-desktop) {
          font-size: 0.875rem;
        }
      }

      .dark {
        @include breakpoint($upto-desktop) {
          font-size: 0.875rem;

          &.order-name {
            font-size: 0.8125rem;
            text-transform: capitalize;
          }
        }
      }

      > div > div {
        @include breakpoint($only-mobile) {
          padding: 0 0.5rem;
        }
      }
    }
  }
}
