<div class="order__print--wrap">
    <div class="clearfix">
        <div{{ attributes.addClass('l-container l-one--w c-order-print') }}>
            <main>
                <div class="c-content">
                    <div class="c-content__region">
                        {{ page.content }}
                        {% if vat_text_footer %}
                          <div class = 'vat-text-footer'>
                            {{ vat_text_footer }}
                          </div>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>

        <div class="block block-alshaya-acm-checkout block-customer-service-block">
          <h3>CUSTOMER SERVICE</h3>

          <p class="line1">For Kuwait <span class="light no-direction">+965 123 4567</span></p>
          <p class="line2">For other regions <span class="light no-direction">8 (800) 123 45 67</span></p>
          <p class="line3"><span class="light">We are open&nbsp;from 9:30 am – 8:30 pm Monday to Sunday</span></p>
        </div>
    </div>
</div>
