.my-benefits-wrapper {
  margin-top: rem(36);
  margin-#{$right}: rem(18);
  margin-#{$left}: rem(36);
  padding-bottom: rem(36);

  @include breakpoint($only-mobile) {
    margin-top: rem(41);
    margin-#{$right}: 0;
    margin-#{$left}: 0;
  }

  .slick-slider {
    button {
      background: transparent;

      @include breakpoint($only-mobile) {
        display: none !important;
      }
    }

    .slick-dots {
      bottom: rem(-64);

      @include breakpoint($only-mobile) {
        text-align: center;
      }

      button {
        @include breakpoint($only-mobile) {
          display: block !important;
        }
      }
    }

    .slick-slide {
      @include breakpoint($tablet) {
        padding-#{$right}: rem(10);
      }

      &:nth-child(3n+3) {
        @include breakpoint($tablet) {
          padding-#{$left}: 0;
        }
      }
    }

    .slick-prev {
      #{$left}: rem(-30);
    }

    .slick-next {
      #{$right}: rem(-19);
    }

    .slick-dots {
      li button {
        display: block;
        text-indent: rem(-9999);
      }
    }
  }

  .my-offers-vouchers-details {
    text-align: center;
    font-family: $alshaya-bold;
    background: $hm-my-offers-bg;
    min-height: rem(366);

    @include breakpoint($only-mobile) {
      width: rem(250) !important;
      margin-#{$right}: rem(10);
    }

    .title {
      font-size: rem(16);
      letter-spacing: 0.8px;
      margin-top: rem(24);
    }

    .info {
      font-size: rem(14);
      letter-spacing: 0.7px;
      margin-top: rem(24);
    }

    .expiry {
      font-size: rem(12);
      letter-spacing: 0.6px;
      margin-top: rem(16);
      margin-bottom: rem(40);
      color: $hm-my-offers-expiry-txt;
    }

    .voucher-wrapper {
      padding: 0 rem(34);
    }
  }
}
