<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% if css %}
      <style type="text/css">
        a { color: #0d6fc0; }
        .bold { font-weight: bold; }
        .button { background: #ff6d22; color: #fff; padding: 10px 30px; }
        p { margin-bottom: 16px;}
      </style>
      {% endif %}
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="center">
      <div id="main">
        {{ body|raw }}
      </div>
    </div>
    <footer style="border-top: 2px solid #003971; text-align: center;">
      <div style="padding-top: 30px; padding-bottom: 50px;">
        <a href="" target="_blank" style="display: inline-block;">
          <div style="display: inline-block;">
            <img src="https://cdn.rawgit.com/skippednote/b8e62d5fccd4f5349fff0c77b2a9729d/raw/7c26aeb0e5ae098f1027c16fe2d54c1f7766a333/facebook.svg" alt="">
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block;  margin: 0 15px;">
          <div>
            <img src="https://cdn.rawgit.com/skippednote/b8e62d5fccd4f5349fff0c77b2a9729d/raw/7c26aeb0e5ae098f1027c16fe2d54c1f7766a333/instagram.svg" alt="">
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 15px;">
          <div>
            <img src="https://cdn.rawgit.com/skippednote/b8e62d5fccd4f5349fff0c77b2a9729d/raw/7c26aeb0e5ae098f1027c16fe2d54c1f7766a333/youtube.svg" alt=""  "taget+_blank">
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 15px;">
          <div>
            <img src="https://cdn.rawgit.com/skippednote/b8e62d5fccd4f5349fff0c77b2a9729d/raw/7c26aeb0e5ae098f1027c16fe2d54c1f7766a333/google.svg" alt=""  "taget+_blank">
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block; margin: 0 15px;">
          <div>
            <img src="https://cdn.rawgit.com/skippednote/b8e62d5fccd4f5349fff0c77b2a9729d/raw/7c26aeb0e5ae098f1027c16fe2d54c1f7766a333/twitter.svg" alt=""  "taget+_blank">
          </div>
        </a>
        <a href="" target="_blank" style="display: inline-block;">
          <div>
            <img src="https://cdn.rawgit.com/skippednote/b8e62d5fccd4f5349fff0c77b2a9729d/raw/7c26aeb0e5ae098f1027c16fe2d54c1f7766a333/pinterest.svg" alt="" "taget+_blank">
          </div>
        </a>
      </div>
      <div style="font-family: 'Arial', helvetica; font-size: 11px; background: #f7f7f7; padding: 16px; 60px; text-align: center;">
        <p>
          {% trans %}
            &copy; Copyright Mothercare UK Limited  2016 Registerd in England no. 533087, VAT Reg no 440 6445 66
          {% endtrans %}
        </p>
        <p>
          {% trans %}
            Registered office: Cherry Tree Road, Watford, Herfordshire, WD24 6SH
          {% endtrans %}
        </p>
      </div>
    </footer>
  </body>
</html>
