{% extends "@alshaya_acm_customer/user-order-detail.html.twig" %}

{% block deliveryInformationIcon %}
  {% set informationIcon = "icon-ic_infomation" %}
  <div class="above-mobile">
    <span class={{ informationIcon }}></span>
    {{ delivery_detail_notice }}
  </div>
  <div class="mobile-only">
    <span class={{ informationIcon }}></span>{{ delivery_detail_notice }}
  </div>
{% endblock %}
