.region-secondary-header {
  @include breakpoint($above-palm) {
    display: block;
    width: 100%;
    font-size: 0;
    vertical-align: top;
    text-align: center;
    background: $grey-smoke;
    padding-#{direction(right)}: 0;
    margin: 0 auto;
  }

  @include breakpoint($desk) {
    width: 100%;
  }

  html[lang=ar] & {
    line-height: normal;
  }
}

header[role=banner] {
  .region-secondary-header {
    @include breakpoint($upto-palm) {
      display: none;
    }
  }
}
