#my-egift-card {
  .my-egift-top-up-wrapper {
    button[type="button"] {
      background: $egift-myaccount-topup-button;
      border-color: $egift-myaccount-topup-button;
      text-transform: uppercase !important;

      &.open-amount-btn {
        &[disabled],
        &:disabled {
          border-color: $egift-disabled-gray1;
          background: transparent;

          &::after {
            color: $egift-disabled-gray1;
          }
        }
      }

      &.my-topup-cancel-btn {
        background: transparent;
      }
    }
  }
}

.egifts-form-wrapper {
  .egift-card-amount-list-wrapper {
    li {
      &:hover,
      &.active {
        background-color: $egift-myaccount-topup-button;
        border-color: $egift-myaccount-topup-button;
      }
    }
  }
}
