.order-detail,
.block-alshaya-user-recent-orders {
  .user__order--detail {
    div.order-item-row.delivered-items,
    tr.order-item-row.delivered-items,
    div.order-item-row.cancelled-items,
    tr.order-item-row.cancelled-items {
      > div,
      td {
        padding: rem(38) 0 rem(8) !important;
        font-size: rem(18);
        line-height: rem(22);
        text-transform: uppercase;
        font-family: $alshaya-bold;

        div {
          margin-bottom: 0;
        }
      }
    }

    .cancelled-items + .order-item-row {
      .image-wrapper {
        span {
          width: rem(144);
          font-size: rem(11);
          line-height: rem(13);
          color: $order-cancelled-txt;
          background: $order-cancelled-label;
          padding: rem(4) 0;
          height: rem(20);

          @include breakpoint($tablet) {
            width: rem(120);
          }

          @include breakpoint($desktop) {
            width: rem(136);
          }
        }
      }
    }
  }
}

.user__order--detail {
  .recent__orders--body {
    .cancelled-items {
      div {
        padding: 0;
      }
    }
  }
}

.order-detail {
  .user__order--detail {
    #online-returned-items,
    #online-return-initiated {
      display: block;
    }

    div.order-item-row {
      .returned-items-wrapper,
      .return-initiated-items {
        padding: 0;

        @include breakpoint($tablet) {
          padding: 0 !important;
        }
      }
    }

    .returned-items {
      margin: 0;

      .title-wrapper,
      .return-id,
      .item-list-wrapper,
      .order-item-image,
      .image-data-wrapper,
      .order__details--wrapper,
      .order__details--description,
      .item-price,
      .item-total-price {
        margin: 0;
      }

      .order-item-image,
      .order__details--description,
      .item-price,
      .item-total-price {
        padding: rem(22) rem(24);

        @include breakpoint($only-tablet) {
          padding: rem(22) rem(8) rem(55) rem(16) !important;
        }
      }

      .title-wrapper {
        font-size: rem(18);
        line-height: rem(22);
        text-transform: uppercase;
        font-family: $alshaya-bold;
        padding: rem(38) 0 rem(8);
        border-bottom: rem(1) solid $online-return-order-detail-border;
      }

      .return-id {
        font-size: rem(12);
        line-height: rem(16);
        color: $online-return-refund-grey-txt;
        padding: rem(4) 0 rem(8);
        border-bottom: rem(1) solid $online-return-order-detail-border;
      }

      .item-list-wrapper {
        display: grid;
        grid-template: "a b" auto/rem(187) auto;
        border-bottom: rem(1) solid $primary_border;

        @include breakpoint($tablet) {
          grid-template: "a b c d" auto/rem(135) rem(162) rem(138) rem(140);
        }

        @include breakpoint($desktop) {
          grid-template: "a b c d" auto/rem(184) auto rem(169) rem(180);
        }

        .order-item-image {
          @include breakpoint($only-mobile) {
            padding: rem(22) rem(16);
          }
        }

        .order__details--wrapper {
          display: block;
          grid-area: b;
          overflow-wrap: break-word;

          @include breakpoint($only-mobile) {
            padding: rem(22) rem(16);
          }

          @include breakpoint($desktop) {
            display: flex;
          }
        }

        .order__details--description {
          @include breakpoint($only-mobile) {
            padding: 0;
          }

          @include breakpoint($only-tablet) {
            padding-bottom: 0 !important;
          }

          @include breakpoint($desktop) {
            flex-basis: rem(222);
          }
        }

        .item-price {
          @include breakpoint($only-tablet) {
            padding-top: 0 !important;
            margin-top: rem(45);
          }

          @include breakpoint($desktop) {
            flex-basis: rem(166);
            grid-area: c;
          }
        }

        .item-total-price {
          grid-area: c;
          background: $order_detail_total_tr_row_price_td;

          @include breakpoint($only-mobile) {
            padding: 0;
            margin-top: rem(29);
            background: none;
          }
        }
      }

      .return-items-wrapper {
        margin-bottom: 0;
      }
    }

    .return-status-header {
      display: flex;
      justify-content: space-between;
      padding: rem(33) 0 rem(12);
      margin: 0;
      border-bottom: rem(1) solid $online-return-order-detail-border;
      flex-direction: column;

      @include breakpoint($tablet) {
        flex-direction: row;
      }
    }

    .cancel-return-button-wrapper {
      button {
        padding: rem(11) rem(13);
        border: rem(1) solid $online-return-cancel-button-border;
        width: 100%;

        @include breakpoint($tablet) {
          width: auto;
        }
      }

      span {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: center;
        font-size: rem(14);
        line-height: rem(18);

        @include icon(close, before) {
          font-size: rem(16);
          margin-#{$right}: rem(8);
        }
      }
    }

    .cancelled-items {
      div {
        padding: 0;
      }
    }
  }
}
