.user__order--detail {
  .order-item-row.online-returns-eligibility-message {
    background: none;
    border-bottom: 0;

    > div,
    td {
      padding: 0 !important;
    }

    div {
      margin-bottom: 0;
    }

    .return-button-enabled {
      @include breakpoint($tablet) {
        margin-#{$left}: rem(10);
      }

      @include breakpoint($desktop) {
        flex-basis: 40%;
        text-align: $right;
      }

      html[lang=ar] & {
        flex-basis: 35%;
      }
    }

    .return-inactive {
      margin-#{$left}: rem(38);
    }

    > td:not(.content-loaded) {
      #online-returns-eligibility-window {
        height: rem(64);
        overflow: hidden;

        @include text-block-loader;

        & > * {
          visibility: hidden;
        }
      }
    }

    #online-returns-eligibility-window {
      .eligibility-window-container {
        font-size: rem(12);
        font-family: $alshaya-bold;
        display: flex;
        justify-content: space-between;
        line-height: rem(18);
        flex-direction: column;
        align-items: flex-start;
        background: $online-return-eligibility-message-bg;
        color: $online-return-eligibility-message-txt;
        padding: rem(10) !important;
        padding-#{$left}: rem(15) !important;
        padding-#{$right}: rem(23) !important;

        @include breakpoint($tablet) {
          flex-direction: row;
          align-items: center;
        }

        @include breakpoint($only-tablet) {
          align-items: initial;
        }
      }

      .return-message {
        font-size: 0.75rem;
        line-height: 1rem;
        padding-#{$left}: 2.375rem;

        @include breakpoint($tablet) {
          padding-#{$left}: 2.5rem;
        }

        @include breakpoint($desktop) {
          padding-#{$left}: 0.125rem;
        }

        span {
          &:nth-child(1) {
            text-transform: uppercase;
          }

          &:nth-child(2) {
            padding-#{$left}: 0.1875rem;
            font-family: $alshaya-thin;
          }
        }
      }

      .find-stores {
        font-size: 0.75rem;
        color: $online-return-eligibility-message-txt;
        font-family: $alshaya-thin;
        text-decoration: underline;
        padding-#{$left}: 0.625rem;
        line-height: 1rem;
      }

      > div {
        > div:first-child {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;

          @include breakpoint($only-mobile) {
            width: 100%;
          }

          @include breakpoint($tablet) {
            flex-direction: row;
            align-items: center;
          }

          > span {
            display: flex;
            align-items: center;

            &::before {
              content: '';
              background: url('#{$base_theme_img_directory_path}/icons/ic-delivery.svg') no-repeat;
              width: rem(26);
              height: rem(26);
              margin-#{$right}: rem(12);

              @include breakpoint($tablet) {
                margin-#{$right}: rem(14);
              }
            }
          }
        }
      }

      .return-items-button {
        padding: 0.5rem 1.1875rem;
        border-radius: 0.25rem;
        height: 2rem;
        margin-#{$left}: 0.75rem;
        box-shadow: 0 0 6px 0 $online-return-eligibility-button-box-shadow;
        font-size: 0.75rem;
        color: $online-return-eligibility-button-txt;
        text-transform: uppercase;
        font-family: $alshaya-bold;
        line-height: 1.33;

        @include breakpoint($only-mobile) {
          margin-#{$left}: 0;
          width: 100%;
          margin-top: 1rem;
        }

        @include breakpoint($only-tablet) {
          margin-top: 0.625rem;
        }

        &:hover {
          background: $online-return-eligibility-button-hover;
        }
      }

      > div {
        > div:nth-child(2) {
          @include breakpoint($only-mobile) {
            padding-#{$left}: rem(38);
            padding-top: rem(33);

            &.return-button-enabled {
              padding-#{$left}: 0;

              span {
                padding-#{$left}: rem(2);
              }

              a {
                padding-#{$left}: rem(21);
              }
            }
          }
        }
      }

      .return-window-closed {
        background: $online-return-window-closed-bg;
        font-size: rem(12);
        font-family: $alshaya-bold;
        line-height: rem(18);
        color: $online-return-eligibility-message-txt;
        padding: rem(10) !important;
        padding-#{$left}: rem(15) !important;
        padding-#{$right}: rem(23) !important;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          background: url('#{$base_theme_img_directory_path}/icons/ic-delivery.svg') no-repeat;
          width: 1.625rem;
          height: 1.625rem;
          margin-#{$right}: 0.75rem;

          @include breakpoint($tablet) {
            margin-#{$right}: 0.875rem;
          }
        }
      }
    }
  }
}

.order-detail {
  .user__order--detail {
    .order-item-row.online-returns-eligibility-message {
      > div {
        @include breakpoint($only-tablet) {
          padding: 0 !important;
        }

        #online-returns-eligibility-window {
          .eligibility-window-container {
            @include breakpoint($only-mobile) {
              padding: rem(12.5) rem(14) rem(25) rem(14) !important;
            }

            @include breakpoint($only-tablet) {
              padding: rem(10) !important;
              padding-#{$left}: rem(15) !important;
              padding-#{$right}: rem(23) !important;
            }
          }

          .return-window-closed {
            @include breakpoint($only-mobile) {
              padding: rem(13.5) !important;
            }
          }
        }
      }
    }
  }
}
