.light {
  color: $order_detail_td_light_content;
  line-height: 1.4;
}

.dark {
  color: $order_detail_td_dark_content;
  font-weight: 700;
}

.font-small {
  font-size: 0.75rem;
}

.bold-text {
  font-family: $alshaya-bold;
}

.image-data-wrapper {
  max-width: rem(128);
  position: relative;

  @include breakpoint($tablet) {
    max-width: rem(114);
  }

  &.in-eligible,
  &.big-ticket-item {
    img {
      opacity: 0.5;
    }

    .not-eligible-label,
    .big-ticket-item-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.6875rem;
      padding: 0.25rem 0.3125rem 0.1875rem;
      width: rem(140);
      font-family: $alshaya-bold;
      text-align: center;
      line-height: 0.8125rem;

      @include breakpoint($tablet) {
        width: rem(120);
      }

      @include breakpoint($desktop) {
        width: rem(130);
      }
    }
  }

  &.in-eligible {
    .not-eligible-label {
      background-color: $online-return-ineligible-label-bg;
      color: $online-return-eligibility-message-txt;
    }
  }

  &.big-ticket-item {
    .big-ticket-item-label {
      background-color: $online-return-big-ticket-label-bg;
      color: $online-return-big-ticket-label-txt;
    }
  }
}
