.c-order-list,
.c-user--node,
.user-page,
.c-change-password,
.order-detail,
.c-payment-cards,
.c-loyalty-club-page {
  &.l-two--sf {
    .c-sidebar-first,
    main {
      @include breakpoint($tablet) {
        max-width: 100%;
      }
    }
  }
}

.user-page {
  &.c-change-password,
  &.c-user-edit {
    @include fullWidthSideSpaces(
      $is_mobile: true,
      $is_tablet: true,
      $is_desktop: true,
      $is_desktop_wide: true
    );
  }
}

@include breakpoint($desktop) {
  .user-wishlist.c-plp.l-two--sf {
    .c-products-list.product-small {
      .alshaya_search_gallery {
        height: auto;
      }
    }
  }
}
