@import '../../alshaya_white_label/sass/components/sharethis/_sharethis.scss';

// share fields on product detail page
.sharethis-wrapper {
  &.out-of-stock {
    span::before {
      color: $hnm-grey;
      background: none;
    }

    + .delivery-options-wrapper {
      opacity: 1;

      .field__label,
      .field__content .c-accordion__title,
      .field__content .c-accordion__title::after,
      .subtitle,
      .c-accordion-delivery-options {
        color: $hnm-grey;
        border-color: $hnm-grey;
      }
    }
  }

  & > span {
    &::before {
      cursor: pointer;
      color: $grey5;
      font-size: 1.938rem;
    }
  }

  .st_facebook_custom {
    @include icon(facebook);

    &:hover::before {
      color: $hnm-black-two;
      background: none;
    }
  }

  .st_twitter_custom {
    @include icon(twitter);

    &:hover::before {
      color: $hnm-black-two;
      background: none;
    }
  }

  .st_pinterest_custom {
    @include icon(pinterest);

    &:hover::before {
      color: $hnm-black-two;
      background: none;
    }
  }

  .st_instagram_custom {
    @include icon(instagram);

    &:hover::before {
      color: $hnm-black-two;
      background: none;
    }
  }

  .st_youtube_custom {
    @include icon(youtube);

    &:hover::before {
      color: $hnm-black-two;
    }
  }
}
