.c-footer-primary {
  border-top: 2px solid $peacock-blue;
  padding-top: 16px;
  padding-bottom: 2.25rem;
  position: relative;
  background: $white-five;
  z-index: 3;

  @include breakpoint($tablet) {
    padding: 1.25em 1.5em;
    padding-top: 0.375rem;

    .l-container {
      min-width: 45rem;
      max-width: 64rem;
    }
  }

  @include breakpoint($desktop) {
    padding-top: 0.875rem;
  }

  .primary--footer--right {
    @include breakpoint($tablet) {
      float: $right;
    }

    @include breakpoint($desktop) {
      width: 33%;
    }
  }

  .footer--categories,
  .footer--abouthelp {
    @include breakpoint($tablet) {
      display: inline-block;
      vertical-align: top;
    }

    @include breakpoint($desktop) {
      float: $left;
      width: 50%;
    }
  }

  .footer--categories {
    @include breakpoint($only-tablet) {
      margin-#{$right}: 3.5rem;
    }
  }

  .footer--menu {
    @include breakpoint($only-mobile) {
      margin: 0 0.5rem;
    }

    @include breakpoint($tablet) {
      float: $left;
    }

    @include breakpoint($desktop) {
      width: 67%;
    }
  }

  .l-container {
    @include container(67.625rem);
  }

  &__region {
    position: relative;
    min-height: 16.25em;
  }
}

.c-footer-menu {
  @extend %list-clear;

  @include breakpoint($desktop) {
    margin-#{$right}: 2.6rem;
    float: $left;
    width: calc(50% - 2.6rem);

    &:last-child {
      margin-#{$right}: 0;
    }
  }

  a {
    font-size: 0.875rem;
    color: $black;
    display: block;
    padding: 0.875rem 0;
    text-decoration: none;
    font-family: $alshaya-thin;

    @include breakpoint($tablet) {
      color: $brownish-grey;
      line-height: 2.14;
      padding: 0;
    }
  }
}

.c-footer-menu--about,
.c-footer-menu--help,
.c-footer-menu--category {
  h2 {
    font-size: 0.875rem;
    color: $marine-blue-two;
    font-family: $alshaya-bold;
    font-weight: normal;
    cursor: pointer;
    outline: none;

    @include breakpoint($tablet) {
      pointer-events: none;
    }

    @include breakpoint($desktop) {
      margin-bottom: 0.312rem;
    }

    @include breakpoint($only-mobile) {
      margin: 0;
      padding: 0.938rem 0;
      position: relative;

      @include icon(chevron#{$right}, after) {
        position: absolute;
        #{$right}: 0;
        font-size: 1.875rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include breakpoint($only-mobile) {
    width: 100%;
    border-top: 1px solid $white;
    margin: 0;
    padding: 0;
    text-align: $left;
  }
}

.open--accordion {
  .is-accordion {
    @include breakpoint($only-mobile) {
      @include icon(chevrondown, after);
    }
  }
}

.c-footer-menu__tab {
  @include breakpoint($only-mobile) {
    text-align: center;
  }
}

.c-footer-menu--help,
.c-footer-menu--about {
  @include breakpoint($desktop) {
    float: $left;
    margin-#{$left}: 1.3rem;
    width: calc(40% - 1.3rem);
  }
}

.c-footer-menu--about .c-footer-menu {
  @include breakpoint($desktop) {
    min-width: 9.4rem;
  }
}

.c-footer-menu--help .c-footer-menu {
  @include breakpoint($desktop) {
    min-width: 5.4rem;
  }
}

.alshaya-newsletter-subscribe {
  margin: 1em 0.5rem 2.9rem;

  @include breakpoint($tablet) {
    float: $right;
    max-width: 21.875rem;
    margin: 0;
    display: inline-block;
  }

  h2 {
    font-size: 14px;
    font-family: $alshaya-bold;
    color: $peacock-blue;
    text-transform: lowercase;
    font-weight: normal;

    @include breakpoint($only-mobile) {
      text-align: center;
    }
  }

  form {
    position: relative;
    max-width: 100%;

    @include breakpoint($tablet) {
      min-width: 22.312rem;
    }
  }

  .form-item {
    font-size: 0.875rem;
    color: $brownish-grey;

    @include breakpoint($tablet) {
      max-width: 18.18rem;
    }

    @include breakpoint($only-mobile) {
      text-align: center;
    }

    label {
      line-height: 1.36;
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 0;
      font-size: 0.812rem;

      @include breakpoint($only-mobile) {
        left: 0;
      }

      &#edit-email-error {
        right: 0;
        top: 100%;
        color: $red-error;
        padding: 0.25em 0;
      }
    }
  }

  .form-email {
    border-bottom: 1px solid $brownish-grey;
    border-width: 0 0 1px;
    margin-top: 2rem;
    padding-#{$right}: 6.25rem;
    width: 100%;
    height: 2.2rem;
    outline: transparent;
    font-size: 13px;

    @include breakpoint($tablet) {
      margin-top: 1.7rem;
    }
  }

  .form-submit {
    @extend %btn;

    font-family: $alshaya-bold;
    background: $peacock-blue;
    position: absolute;
    #{$right}: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 2;

    @include breakpoint($tablet) {
      #{$right}: 4.125rem;
    }
  }
}

.c-footer-menu--help {
  @include breakpoint($only-mobile) {
    margin-bottom: 2.25em;
    border-bottom: 1px solid $white;
    max-width: 100%;
  }

  @include breakpoint($only-tablet) {
    display: block;
    margin-top: 1.5rem;
  }
}

.c-footer-menu--about {
  max-width: 100%;

  @include breakpoint($desktop) {
    float: $left;
    margin-#{$left}: 2rem;
    width: calc(60% - 2rem);
  }

  @include breakpoint($only-tablet) {
    vertical-align: top;
  }
}

.newsletter-block-label {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: $alshaya-thin;
  text-transform: lowercase;

  @include breakpoint($only-mobile) {
    text-align: center;
  }

  @include breakpoint($desktop-wide) {
    width: 22.312rem;
  }
}

.c-footer-primary .language-switcher-language-url {
  position: relative;
  clear: both;

  ul {
    @extend %list-clear;

    padding: 0;

    @include breakpoint($only-mobile) {
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 0 5px;

      &:first-child {
        &::after {
          content: "";
          position: absolute;
          border-top: 1px solid $peacock-blue;
          width: 14px;
          transform: rotate(-70deg);
          transform-origin: 0% 0%;
          top: 1em;
        }
      }

      a {
        font-size: 14px;
        text-transform: lowercase;
        color: $peacock-blue;
        margin: 0 5px;
      }

      &.is-active a {
        color: $brownish-grey;
      }
    }
  }
}

.c-footer-is-accordion {
  .accordion--body {
    display: none;
    border-top: 1px solid $white;

    @include breakpoint($tablet) {
      border-top: 0;
      display: block !important;
    }
  }
}

.footer--social {
  clear: both;
  overflow: hidden;

  .c-social-links {
    @include breakpoint($tablet) {
      margin-top: 2.812rem;
      padding-left: 0.312rem;
    }
  }
}

.language--switcher {
  @include breakpoint($tablet) {
    margin-top: 1.875rem;
  }
}

.region__footer-primary {
  @include breakpoint($tablet) {
    padding-left: 0.312rem;
  }
}
