// Footer
//
// Markup: footer-primary.twig
//
// Style guide: component.footer-primary

.c-footer-primary {
  border-top: 2px solid $peacock-blue;
  padding-top: 16px;
  padding-bottom: 1.625rem;
  margin-top: 1.625rem;
  position: relative;

  @include breakpoint($tablet) {
    padding: 1.25em 1.5em;

    .l-container {
      min-width: 45rem;
      max-width: 64rem;
    }

    .language-switcher-language-url {
      display: block;

      a {
        text-transform: lowercase;
        font-size: 14px;
      }

      @include breakpoint($desktop) {
        display: none;
      }
    }
  }

  .l-container {
    @include container(65.625rem);
  }

  &__region {
    position: relative;
    min-height: 16.25em;
  }
}

.c-footer-menu {
  @extend %list-clear;

  @include breakpoint($desktop) {
    margin-#{$right}: 3.2rem;
    display: inline-block;
    vertical-align: top;
  }

  @include breakpoint($only-mobile) {
    display: none;
  }

  &__link,
  &__tab a {
    font-size: 0.875rem;
    color: $brownish-grey;
    line-height: 2.14;
    text-decoration: none;
    font-family: $alshaya-thin;
  }

  &--help,
  &--category,
  &--about {
    @include breakpoint($tablet) {
      margin-#{$right}: 4.3rem;
    }

    @include breakpoint($desktop) {
      margin-#{$right}: 3rem;
    }

    @include breakpoint($desktop-wide) {
      margin-#{$right}: 4rem;
    }
  }
}

.c-footer-menu--about,
.c-footer-menu--help,
.c-footer-menu--category {
  display: inline-block;

  h2 {
    font-size: 0.875rem;
    color: $peacock-blue;
    font-family: $alshaya-bold-font;

    @include breakpoint($only-mobile) {
      margin: 0.938rem 0;
      background-color: rgba(255, 255, 255, 0.25);
      background-image: url("../imgs/icons/icon-chevron-#{$next}.svg");
      background-position: $right;
      background-repeat: no-repeat;
      background-size: 0.438rem;
    }
  }

  @include breakpoint($only-mobile) {
    width: 100%;
    border-top: 1px solid $white;
    margin: 0;
    padding: 0 0.75em;
    text-align: $left;
  }
}

.alshaya-newsletter-subscribe {
  margin: 1em 0.5rem 2.5rem;

  @include breakpoint($tablet) {
    float: $right;
    max-width: 357px;
    margin: 0;
    display: inline-block;
  }

  h2 {
    font-size: 14px;
    font-family: $alshaya-bold-font;
    color: $peacock-blue;
    text-transform: lowercase;

    @include breakpoint($only-mobile) {
      text-align: center;
      margin-bottom: 0;
    }
  }

  form {
    position: relative;
    max-width: 100%;

    @include breakpoint($tablet) {
      max-width: 291px;
    }
  }

  .form-item {
    font-size: 0.875rem;
    color: $brownish-grey;

    @include breakpoint($only-mobile) {
      text-align: center;
    }

    label {
      line-height: 1.36;
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 0;
      font-size: 13px;

      @include breakpoint($only-mobile) {
        left: 0;
      }

      &#edit-email-error {
        right: 0;
        top: 100%;
        color: $red-error;
        padding: 0.25em 0;
      }
    }
  }

  #edit-email {
    border-bottom: 1px solid $brownish-grey;
    border-width: 0 0 1px;
    margin-top: 1.5rem;
    width: 100%;
    height: 2.2rem;
    outline: transparent;
    font-size: 13px;
  }

  #edit-submit {
    @extend %btn;

    font-family: $alshaya-bold-font;
    background: $peacock-blue;
    position: absolute;
    #{$right}: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.c-footer-menu--help {
  max-width: 3.25em;

  @include breakpoint($only-mobile) {
    margin-bottom: 4em;
    border-bottom: 1px solid $white;
    max-width: 100%;
  }

  @include breakpoint($only-tablet) {
    margin: 12em -13em;
    vertical-align: top;
  }
}

.c-footer-menu--about {
  max-width: 100%;

  @include breakpoint($tablet) {
    max-width: 8.5em;
  }

  @include breakpoint($only-tablet) {
    vertical-align: top;
  }
}

.c-footer-menu--about,
.c-footer-menu--help, {
  .c-footer-menu {
    width: 100%;
  }
}

.newsletter-block-label {
  font-size: 13px;
  line-height: 2.31;

  @include breakpoint($only-mobile) {
    text-align: center;
  }

  @include breakpoint($tablet) {
    max-width: 357px;
  }
}

.c-footer-primary .language-switcher-language-url {
  @include breakpoint($only-tablet) {
    position: absolute;
    right: 188px;
    bottom: 260px;
  }

  ul {
    @extend %list-clear;

    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 5px;

      &:first-child {
        &::after {
          content: "";
          position: absolute;
          border-top: 1px solid $peacock-blue;
          width: 14px;
          transform: rotate(-70deg);
          transform-origin: 0% 0%;
          top: 1em;
        }
      }

      a {
        font-size: 14px;
        text-transform: lowercase;
        color: $peacock-blue;
        margin: 0 5px;
      }

      &.is-active a {
        color: $brownish-grey;
      }
    }
  }
}
