@include breakpoint($only-mobile) {
  .nodetype--advanced_page {
    .page-standard {
      margin-top: 1.625rem;
    }

    .page-standard {
      .c-page-title {
        font-size: 1rem;
        line-height: 1.25;
        text-align: $left;
        font-family: $vs-regular;
        padding-bottom: 0.375rem;
      }
    }

    .node--type-advanced-page {
      margin-top: 0;
    }
  }
}

.nodetype--advanced_page {
  .c-department {
    .c-content__slider {
      margin-top: -1rem;

      @include breakpoint($tablet) {
        margin-top: -1.75rem;
      }
    }

    &.advanced-page-only {
      .c-content__slider {
        @include breakpoint($only-mobile) {
          margin-top: 0;
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  .paragraph--type--product-carousel-category {
    .c-accordion__title {
      &::after {
        #{$right}: 0;
      }
    }

    .c-accordion_content {
      ul {
        li {
          a {
            &::after {
              #{$right}: 0;
            }
          }
        }
      }
    }
  }
}
