.c-facet {
  ul {
    input[type="text"] {
      height: 2.5rem;
    }

    @include breakpoint($desktop) {
      padding-top: 0;
    }

    li {
      margin-#{$left}: 0;
    }
  }

  label {
    top: 1px;

    &::before {
      @include breakpoint($tablet) {
        top: -0.1875rem;

        html[lang="ar"] & {
          top: 0;
        }
      }
    }

    .facet-item__value {
      margin-#{$left}: 0.625rem;
      color: $plp_item_label;
    }

    .facet-item__count,
    .facet-item__value {
      text-transform: capitalize;
      display: inline-block;
    }
  }
}

.c-facet__label {
  font-size: 0.75rem;
  height: 2.5rem;
  margin: 0;
  line-height: 3.75;
  text-transform: capitalize;

  @include breakpoint($desktop) {
    font-family: $alshaya-bold;
    text-transform: uppercase;
  }
}

.js-facets-checkbox-links {
  .facet-item {
    min-height: auto;

    label {
      &::before {
        @include breakpoint($only-mobile) {
          margin-top: -0.125rem;
        }
      }
    }
  }
}

.block-facet-blockcategory,
.block-facet-blockplp-category-facet {
  .c-accordion__title {
    @include breakpoint($desktop) {
      border-bottom: none;
    }
  }

  .c-facet__title {
    .path--search .filter--mobile & {
      @include breakpoint($only-tablet) {
        border-top: none;
      }
    }
  }
}

ul[data-drupal-facet-id="category"],
ul[data-drupal-facet-id="plp_category_facet"],
ul[data-drupal-facet-id="promotion_category_facet"] {
  &.js-facets-checkbox-links {
    padding: 0;
  }

  .facet-item {
    &.facet-item--expanded {
      & > label {
        &::before {
          top: 0.6875rem !important;
        }

        .facet-item--active-trail & {
          & > label {
            padding-bottom: 0.625rem;
            padding-#{$left}: 0.625rem;
          }
        }

        .facet-item__value,
        .facet-item__count,
        span {
          font-family: $alshaya-thin !important;
        }
      }

      ul li {
        &:not(:last-child) {
          margin-bottom: 0;
        }

        @include breakpoint($only-tablet) {
          margin-#{$left}: 0;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    label {
      margin: 0;
      min-height: 2.5rem;
    }

    & > input[type="checkbox"]:checked ~ label {
      font-family: $alshaya-thin;
    }
  }

  .facet-item--expanded {
    > ul {
      li:not(:last-child) {
        margin-bottom: 0.625rem;
      }
    }
  }

  > .facet-item--expanded {
    > label {
      @include icon(chevronleft, before) {
        #{$left}: -1.5rem;
      }
    }
  }
}

ul[data-drupal-facet-id="category"] {
  & > li {
    &.facet-item--expanded {
      & > label {
        padding-bottom: 0.625rem;
      }
    }

    &:not(.facet-item--expanded) > label > .facet-item__value {
      margin-#{$left}: 0;
    }
  }
}

ul[data-drupal-facet-id="plp_category_facet"],
ul[data-drupal-facet-id="promotion_category_facet"] {
  .facet-item {
    margin-bottom: 0;

    &.leaf-li {
      & > label {
        .facet-item__value {
          margin-#{$left}: 0.625rem;
        }

        &::before {
          margin-top: -0.3125rem;
        }
      }
    }

    &.facet-item--expanded {
      & > label {
        padding-#{$left}: 0;
        padding-bottom: 0;

        &::before {
          display: none;
        }
      }

      ul > li > label .facet-item__value {
        margin-#{$left}: 0.625rem;
      }
    }
  }

  & > li > label {
    .facet-item__value {
      margin-#{$left}: 0;
    }
  }
}

.c-sidebar-first {
  .c-facet__blocks {
    .block {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.c-facet__blocks {
  .facets-soft-limit-link {
    float: $left;
  }

  .c-accordion {
    clear: both;
  }
}
