.c-menu-secondary {
  background: $mm_bg;

  @include breakpoint($only-tablet) {
    width: 20rem;
  }

  li {
    @include breakpoint($upto-desktop) {
      @include icon(chevron#{$right}, after) {
        color: $mm_mobile_icon;
        font-weight: bold;
      }
    }
  }

  a {
    @include arabic-letter-spacing;

    font-family: $hnm-regular;

    @include breakpoint($upto-desktop) {
      color: $mm_l1_link;
      text-transform: uppercase;
      font-size: 0.875rem;
      letter-spacing: 1px;
    }

    @include breakpoint($desktop) {
      color: $mm_l1_link_desktop;
      display: block;
      font-size: 0.75rem;
      line-height: 1.2;
      vertical-align: middle;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      padding: 0.375rem 0.75rem;

      &:hover,
      &.is-active {
        background-color: $mm_l1_link_desktop_active_bg !important;
        color: $mm_l1_link_desktop !important;
      }

      &.language-link {
        font-family: $hnm-arabic-medium !important;
        letter-spacing: normal;

        html[lang='ar'] & {
          letter-spacing: 0.8px;
          font-family: $hnm-regular !important;
        }
      }
    }

    line-height: 1;

    &:hover,
    &.is-active {
      background-color: $mm_bg;
      color: $mm_l1_link;
    }
  }

  .menu--account {
    @include breakpoint($desktop) {
      .register-link,
      li:first-child a {
        &:hover,
        &.is-active {
          background-color: $mm_l1_link_desktop_active_bg;
        }
      }
    }
  }
}

.c-my-account-nav {
  @include breakpoint($only-tablet) {
    width: 20rem !important;
    max-width: 84.375%;
  }

  h3 {
    @include arabic-letter-spacing;

    color: $mm_l1_link;
    font-size: 0.75rem;
    font-family: $hnm-bold;

    @include breakpoint($upto-desktop) {
      color: $mm_l1_link;
      font-family: $hnm-bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  li {
    font-family: $hnm-regular;

    &:hover {
      a {
        color: $mm_l1_link;
      }
    }

    @include icon(chevron#{$right}, after) {
      color: $mm_mobile_icon;
      font-weight: bold;
    }
  }
}

.menu--three__list-item {
  a.menu--three__link {
    @include breakpoint($upto-desktop) {
      @include icon(chevron#{$right}, after) {
        color: $mm_mobile_icon;
        font-weight: bold;
        font-size: 1.313rem;
        cursor: pointer;
        pointer-events: none;
        margin-top: -0.25rem;
      }
    }
  }
}

.branding__menu {
  @include breakpoint($only-tablet) {
    height: 4.5rem;

    &.show-overlay {
      &::before {
        bottom: -1px;
      }
    }
  }
}

.header--fixed {
  @include breakpoint($desktop) {
    margin-top: 7.125rem;
  }

  .branding__menu {
    box-shadow: none;
  }
}

body {
  @include breakpoint($only-mobile) {
    margin-top: 3.625rem !important;

    &.logged-in.toolbar-vertical {
      margin-top: 5.9375rem !important;
      padding-top: 0 !important;
    }

    &.logged-in.toolbar-vertical .branding__menu {
      top: 2.4375rem;
    }
  }

  @include breakpoint($only-tablet) {
    margin-top: 4.5rem !important;

    &.logged-in.toolbar-vertical {
      margin-top: 7rem !important;
      padding-top: 0 !important;
    }

    &.logged-in.toolbar-vertical .branding__menu {
      top: 2.4375rem;
    }
  }
}

@include breakpoint($desktop) {
  .c-menu-secondary {
    .region__menu-secondary {
      text-align: center;
    }

    .block-language-blocklanguage-interface {
      .ar,
      .en {
        a {
          &::before {
            content: unset;
          }

          &::after {
            content: unset;
          }
        }
      }
    }

    .menu--account {
      li {
        &:last-child,
        &:first-child,
        &:nth-child(2) {
          a {
            &::before {
              content: unset !important;
            }
          }
        }
      }
    }

    .stores-finder {
      &::before {
        content: unset;
      }
    }
  }
}

html[lang='ar'] {
  .c-menu-secondary {
    a {
      font-family: $hnm-arabic-regular;
    }
  }
}

@include breakpoint($upto-desktop) {
  #block-account-menu {
    ul {
      background-color: $white-five;
    }
  }
}

.block-alshaya-main-menu .active--menu--links {
  li.menu--one__list-item ul.menu--two__list {
    @include breakpoint($desktop) {
      transition: all ease 0s;
    }
  }
}

@include breakpoint($upto-desktop) {
  .my-account-nav {
    li {
      a {
        &::before {
          content: unset;
        }
      }
    }
  }
}
