.has--three-levels {
  @include breakpoint($desktop) {
    .menu--two__list .menu__links__wrapper {
      padding-#{$left}: 6.1rem;
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;

      .menu--two__list-item .menu--three__list {
        margin-top: 0;
      }
    }

    .term-image {
      padding-top: 2.5rem;
    }

    .highlights {
      margin-top: -0.5rem;
      margin-#{$right}: 0;
      height: 27.5rem;
      width: auto;
      padding: 2.5rem 1.875rem;
      background-color: $mm_highlight_bg;

      .title {
        @include arabic-letter-spacing;

        margin-bottom: 0.9rem;
        font-family: $hnm-demibold;
        letter-spacing: 0.5px;
        font-weight: normal;
        color: $mm_highlight_title;
      }
    }

    .menu--two__list .menu--two__list-item > .menu-two__link-wrapper {
      .menu__link {
        color: $mm_highlight_title !important;
      }
    }

    .menu--three__list-item > .menu-two__link-wrapper .menu--three__link {
      @include arabic-letter-spacing;

      font-size: 0.75rem !important;
      color: $mm_link_text !important;
      font-family: $hnm-regular !important;
      letter-spacing: 0.3px;
      line-height: 1.1;
      text-transform: capitalize;
    }

    .menu--three__list-item > .menu-two__link-wrapper a {
      &:hover {
        color: $mm_link_hover !important;
        text-decoration: underline;
      }
    }

    .menu--three__list-item > .menu-two__link-wrapper div.menu--three__link {
      margin-bottom: 0;
    }

    .menu--two__list .menu--two__list-item {
      margin-bottom: 1.563rem;
      break-inside: auto;
    }
  }
}

.term-image__wrapper {
  max-width: none;
}
