.has--three-levels {
  @include breakpoint($desktop) {
    .menu--two__list {
      column-count: 6;
      padding-#{$right}: 4%;
      padding-#{$left}: 6.1rem;
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;

      .menu--two__list-item .menu--three__list {
        margin-top: 0;
      }
    }

    .highlights {
      top: 0;
      margin-#{$right}: 0;
      height: 24rem;
      width: auto;
      padding: 2.5rem 1.875rem;
      background-color: $grey1;

      .title {
        @include arabic-letter-spacing;

        text-transform: uppercase;
        margin-bottom: 0.9rem;
        font-family: $hnm-demibold;
        font-size: 0.8125rem;
        letter-spacing: 0.5px;
        font-weight: normal;
        color: $black-three;
        margin-#{$left}: 0.625rem;
      }
    }

    .menu--two__list .menu--two__list-item > .menu-two__link-wrapper {
      a {
        color: $black-three !important;
      }
    }

    .menu--three__list-item > .menu-two__link-wrapper a {
      @include arabic-letter-spacing;

      font-size: 0.75rem !important;
      color: $grey7 !important;
      font-family: $hnm-regular !important;
      letter-spacing: 0.3px;
      line-height: 1.1;
      text-transform: capitalize;

      &:hover {
        color: $link-hover !important;
        text-decoration: underline;
      }
    }

    .menu--two__list .menu--two__list-item {
      margin-bottom: 1.563rem;
      break-inside: auto;
    }
  }
}
