.c-plp {
  .c-content__region {
    .block-views-exposed-filter-blockalshaya-product-list-block-1,
    .block-views-exposed-filter-blockalshaya-product-list-block-2,
    .block-views-exposed-filter-blockalshaya-product-list-block-3,
    .block-views-exposed-filter-blocksearch-page {
      legend {
        text-transform: uppercase;
        font-size: 0.8125rem;
        padding-#{$right}: 2.5rem;

        @include breakpoint($only-mobile) {
          font-size: 0.875rem;
          font-family: $alshaya-bold;
          letter-spacing: 1px;
        }

        @include breakpoint($desktop) {
          height: 3.125rem;
          line-height: 3.125rem;
        }

        @include facet-arrow(after, down, 0.25rem, 0, 0.25rem, 0.25rem) {
          #{$right}: 1.875rem;
          top: 1.25rem;
        }

        &.active {
          &::after {
            transform: rotate(270deg);
          }
        }
      }
    }

    .view-header.search-count {
      @include breakpoint($only-mobile) {
        font-family: $bp-light;
      }
    }
  }
}

.show-all-filters,
.show-all-filters-algolia {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: $alshaya-bold;

  @include breakpoint($only-mobile) {
    font-size: 0.875rem;
    letter-spacing: 1px;

    html[lang="ar"] & {
      letter-spacing: normal;
    }
  }
}

.c-facet {
  &.c-accordion,
  &.c-collapse-item {
    margin-#{$left}: 0;

    .c-accordion__title,
    .c-collapse__title {
      text-transform: uppercase;
      font-size: 0.8125rem;

      @include breakpoint($only-mobile) {
        font-size: 0.875rem;
        font-family: $alshaya-bold;
        letter-spacing: 1px;

        html[lang="ar"] & {
          letter-spacing: normal;
        }
      }

      @include breakpoint($desktop) {
        height: 3.125rem;
        line-height: 3.125rem;
      }

      @include facet-arrow(after, down, 0.25rem, 0, 0.25rem, 0.25rem) {
        #{$right}: 1.875rem;
        top: 1.25rem;
      }

      &.active {
        &::after {
          transform: rotate(270deg);
        }
      }
    }
  }
}

.filter-fixed-top {
  .sticky-filter-wrapper {
    .site-brand-home {
      a {
        width: 3.625rem;
      }
    }
  }
}
