.ui-dialog .ui-dialog-titlebar-close {
  color: $gallery_bg;
  background-color: $modal_close_bg;
}

#product-image-gallery-container {
  @include breakpoint($desktop) {
    height: 38.5rem !important;
  }

  .button__wrapper {
    .zoomout,
    .zoomin {
      background: $gallery_zoombtn_bg;
      padding: 0;
      border: none;

      &::before {
        color: $gallery_zoombtn_text;
        font-size: 1.5rem;
        height: 2.188rem;
        width: 2.188rem;
        display: inline-block;
        font-weight: bold;
        font-family: $hnm-regular;
        cursor: pointer;
      }

      &.disabled {
        background-color: $gallery_zoombtn_disabled;
      }
    }

    .zoomout {
      margin-#{$left}: 1rem;

      &::before {
        content: '-';
      }
    }

    .zoomin {
      &::before {
        content: '+';
      }
    }
  }
}
