@import '../../alshaya_white_label/sass/components/imagegallery/_imagegallery.scss';

.ui-dialog .ui-dialog-titlebar-close {
  @include icon(close) {
    font-size: 1.875rem;
  }

  color: $white-five;
  background-color: $hnm-black-two;
  font-size: 0;
  text-indent: inherit;
}

#product-image-gallery-container {
  @include breakpoint($desktop) {
    height: 38.5rem !important;
  }

  .button__wrapper {
    .zoomout,
    .zoomin {
      background: $white-five-20;
      padding: 0;
      border: none;

      &::before {
        color: $hnm-black-two;
        font-size: 1.5rem;
        height: 2.188rem;
        width: 2.188rem;
        display: inline-block;
        font-weight: bold;
        font-family: $hnm-regular;
        cursor: pointer;
      }

      &.disabled {
        background-color: $light-ash;
      }
    }

    .zoomout {
      margin-#{$left}: 1rem;

      &::before {
        content: '-';
      }
    }

    .zoomin {
      &::before {
        content: '+';
      }
    }
  }
}
