.page-type-product:not(.rcs-loaded) .content__main .gallery-wrapper,
.rcs-templates--rcs-product-zoom #product-zoom-container:not(.product-zoom-processed),
.content__main #product-zoom-container:not(.product-zoom-processed) {
  @include plain-loader;

  & > * {
    visibility: hidden;
  }
}

#rcs-ph-upsell-products:not(.rcs-loaded),
#rcs-ph-related-products:not(.rcs-loaded),
#rcs-ph-crosssell-products:not(.rcs-loaded),
.page-type-product:not(.rcs-loaded) .content__title_wrapper,
.page-type-product:not(.rcs-loaded) .content__sidebar {
  @include text-block-loader;

  & > * {
    visibility: hidden;
  }
}

.add_to_cart_form:not(.rcs-loaded) {
  height: rem(280);
  margin-bottom: rem(20);

  @include text-block-loader;

  .pdp-modal-box & {
    height: rem(260);
    margin-top: rem(20);
  }

  @include breakpoint($tablet) {
    height: rem(400);
  }
}
