.alias--cart-login {
  @include breakpoint($upto-desktop) {
    margin-top: 0.5rem;

    html[lang="ar"] & {
      margin-top: 0.5rem;
    }
  }

  .site-brand-wrapper {
    @include breakpoint($only-mobile) {
      html[lang="ar"] & {
        height: auto;
      }
    }
  }
}
