.alias--cart {
  #delivery-area-select {
    .delivery-area-label {
      font-size: 0.875rem;
    }
  }

  .shipping-methods {
    .sku-cart-delivery-methods {
      .shipping-tags-first-row {
        .information-icon {
          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
