.acq-content-product {
  #express-delivery-options {
    border-bottom: none;

    .cart-shipping-method {
      .shipping-method-detail-wrapper {
        .method-title {
          font-size: 0.6875rem;
          line-height: 1.2;
          text-transform: none;
          color: $spc-product-attributes;
        }
      }
    }
  }

  .express-delivery-subtitle {
    margin-top: 0;
  }
}

.ui-state-active {
  .c-accordion__title {
    &::after {
      top: 1rem;
    }
  }
}

.c-accordion__title {
  letter-spacing: 0;

  &::after {
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
