<div class="sticky-cart">
  <div class="region__wrapper">
    <div class="progress-bar">
      <div class="progress-bar-status">
        <div class="progress-bar-title">{{ 'Purchase Progress'|t }}</div>
        <ul class="progress-steps"></ul>
      </div>
    </div>

    <div class="timer">
    </div>

    <div class="cart">
      <div class="cart-container">
        <span class="add-item">1</span>
        <span class="cart-icon"></span>
        <span class="currency">KWD</span>
        <span class="total-price"></span>
      </div>
    </div>
  </div>
</div>
