.c-front.l-one--w,
.c-department.l-one--w {
  @include breakpoint($mobile) {
    @include container(100%);

    padding-left: 0;
    padding-right: 0;
  }
}

.l-one--w {
  @include breakpoint($mobile) {
    @include container(100%);

    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include breakpoint($tablet) {
    @include container(100%);

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include breakpoint($desktop) {
    @include container($desktop-wide);
  }
}

.lhn-without-sidebar {
  &.l-one--w {
    main {
      @include breakpoint($desktop) {
        max-width: none;
        width: 100%;
      }
    }
  }
}
