<div class="check-balance-wrapper">
  <span class="checkbalance-title">{{ block_title }}</span>
  <span class="checkbalance-description">{{ block_description }}</span>
  <div id="check-balance-button"></div>
</div>
