.alias--checkout,
.alias--checkout-confirmation {
  .site-brand-home {
    a {
      @include breakpoint($only-mobile) {
        max-width: 13.125rem;
        line-height: 0;
        margin: 0 5.0625rem;
        padding: 0 0.9rem;
      }

      @include breakpoint($desktop) {
        width: 18.1875rem;
        height: 2.625rem;
        display: block;
      }
    }
  }
}
