{{ attach_library('alshaya_acm_product_category/alshaya_subcategory_scroll') }}

<div class = "plp-subcategory-block">
  {% for term in subcategories %}
    <div class="sub-category" data-tid="{{ term.tid }}">
      <div class="sub-category-image"><img src={{ term.image }}/></div>
      <div class="sub-category-title">{{ term.title }}</div>
    </div>
  {% endfor %}
</div>
