<div class="sub-category-page-title-desc-wrapper {{ group_category_header.header_style }}">
  <h1>{{ group_category_header.title }}</h1>
  <div class="sub-category-page-description">{{ group_category_header.description }}</div>
</div>