@mixin defaultBlockStyles() {
  background: $aura-spc-checkout-block-bg;
  padding: 1.25rem;
  font-family: $aura-regular;

  @include breakpoint($tablet) {
    border-radius: 0.625rem;
  }
}

.spc-aura-checkout-rewards-block {
  &.in-active {
    .spc-checkout-section-title,
    .redeem-aura-points-header-container,
    .block-content,
    .redeem-aura-footer {
      opacity: 0.2;
      pointer-events: none;
    }

    .registered-user-linked,
    .spc-aura-redeem-points-form-wrapper,
    .spc-aura-checkout-messages {
      position: relative;
      opacity: 0.2;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $_transparent_overlay;
        z-index: 3;
      }
    }
  }

  .spc-checkout-aura-points-to-earn,
  .description,
  label,
  .sub-text {
    color: $aura-spc-checkout-text-content;

    html[lang="ar"] & {
      line-height: normal;
    }

    b {
      font-family: $aura-bold;
    }

    b,
    a {
      color: $aura-spc-checkout-highlight;
    }
  }

  > .spc-loading-container {
    background: white;
    min-height: 2rem;
  }

  .spc-aura-highlight {
    color: $aura-spc-checkout-highlight;
    font-family: $aura-bold;
    font-weight: normal;
  }

  .spc-aura-link-card-form {
    margin-top: 0.3125rem;

    .label {
      padding-bottom: 0.625rem;
    }

    .item-wrapper {
      .spc-aura-link-card-form-content {
        display: flex;
        flex-direction: row;

        @include breakpoint($upto-desktop) {
          flex-direction: column;
        }
      }

      .spc-aura-link-card-wrapper {
        width: 100%;
      }

      .sub-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-#{$left}: 1.25rem;
        width: 10.9375rem;
        line-height: 18px;

        a {
          color: $aura-spc-checkout-highlight;
          text-decoration: underline;
          cursor: pointer;
        }

        @include breakpoint($upto-desktop) {
          margin-top: 1.25rem;
          margin-#{$left}: 0;
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;
        }

        @include breakpoint($only-mobile) {
          a {
            margin-#{$left}: 0.625rem;
          }
        }
      }
    }
  }

  .block-content {
    font-size: 0.875rem;
    color: $aura-spc-checkout-text-content;

    &.guest-user,
    &.registered-user-unlinked-card,
    &.points-to-earn-with-the-purchase {
      > div {
        @include defaultBlockStyles;
      }

      .title {
        background-image: $aura-spc-checkout-block-bg-gradient;

        html[lang="ar"] & {
          background-image: $aura-spc-checkout-block-bg-gradient-ar;
        }
      }

      .subtitle-1 {
        padding-bottom: 0.625rem;
        color: $aura-spc-checkout-highlight;
        font-family: $aura-bold;
        font-weight: normal;
      }
    }

    &.points-to-earn-with-the-purchase {
      .points-to-earn-text {
        display: flex;
        align-items: center;
        font-size: rem(16);
        line-height: rem(18);
        border-radius: 0;
        flex-wrap: wrap;
        padding: rem(17) rem(20) rem(18);

        @include breakpoint($upto-desktop) {
          width: 100%;
          line-height: rem(19);
        }

        span {
          color: $aura-cart-points;
          font-family: $aura-bold;
          margin: 0 rem(4);
        }

        .join-aura {
          position: relative;
          top: rem(1.6);
          margin: 0 rem(5);
          max-height: rem(25);

          @include breakpoint($only-mobile) {
            top: rem(0.8);
          }

          svg {
            max-height: rem(25);
            width: auto;
          }
        }

        .tooltip-anchor {
          top: rem(-1);
        }
      }
    }

    &.guest-user {
      .item-wrapper > .aura-form-items-link-card-options {
        margin-#{$left}: -0.625rem;
        margin-bottom: 0.5rem;

        > div {
          padding-#{$right}: 1.25rem;
          cursor: pointer;

          label {
            color: $aura-spc-checkout-text-content;
          }
        }

        &.success {
          > div {
            pointer-events: none;
            opacity: 0.4;
            cursor: none;
          }
        }
      }
    }

    &.registered-user-linked,
    &.registered-user-linked-pending-enrollment {
      background: $aura-spc-checkout-block-bg-gradient;
      padding: 1.25rem;
      font-family: $aura-regular;

      html[lang="ar"] & {
        background: $aura-spc-checkout-block-bg-gradient-ar;
      }

      @include breakpoint($tablet) {
        border-radius: 0.625rem;
      }

      .spc-aura-highlight {
        font-family: $aura-bold;
        font-weight: normal;
        padding: 0 0.25rem;
      }
    }

    &.registered-user-unlinked-card {
      .spc-aura-unlink-card-wrapper {
        .description {
          b {
            padding-#{$left}: 3px;
          }
        }

        .spc-aura-unlink-card-form-content {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 0.75rem;

          @include breakpoint($upto-desktop) {
            flex-direction: column;
            align-items: flex-start;

            .no-link-message {
              margin-#{$left}: 0 !important;
              margin-top: 1.25rem;
            }
          }

          a {
            color: $aura-spc-checkout-highlight;
            text-decoration: underline;
          }

          .form-items {
            display: flex;
            height: 2.25rem;
            position: relative;
            align-items: flex-start;
            width: 100%;

            input,
            button {
              height: 100%;
            }

            input.spc-aura-link-card-input {
              border: 1px solid $aura-spc-textbox-border;
              border-top-#{$left}-radius: 0.25rem;
              border-top-#{$right}-radius: 0;
              border-bottom-#{$right}-radius: 0;
              border-bottom-#{$left}-radius: 0.25rem;
              border-#{$right}: 0;
              padding-#{$left}: 0.75rem;
              width: calc(100% - 6.1875rem);

              &::placeholder {
                color: $aura-spc-textbox-placeholder;
              }
            }

            button.spc-aura-button {
              width: 6.1875rem;
              border-radius: 0;
              border-top-#{$right}-radius: 0.25rem;
              border-bottom-#{$right}-radius: 0.25rem;
            }
          }

          .no-link-message {
            width: 10.9375rem;
            line-height: 18px;
            margin-#{$left}: 1.25rem;

            a {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .spc-aura-pending-enrollment-message {
    margin-top: 0.3125rem;
    font-size: 0.875rem;
    font-family: $aura-regular;
  }

  .spc-aura-checkout-messages {
    > div {
      font-size: 0.875rem;

      @include breakpoint($tablet) {
        margin-top: 0.3125rem;
      }

      @include breakpoint($only-mobile) {
        &:not(:first-child) {
          margin-top: 0.625rem;
        }
      }
    }

    @include breakpoint($only-mobile) {
      padding: 1.25rem;
      background: $aura-spc-checkout-block-bg;
      margin-top: 5px;
    }
  }

  .spc-aura-redeem-points-form-wrapper.in-active {
    .label,
    .spc-aura-redeem-points-separator {
      color: $aura-spc-rewards-block-disabled-elements;
    }

    input:disabled {
      color: $aura-spc-rewards-block-disabled-elements;
      border-color: $aura-spc-rewards-block-disabled-elements;
      background: none;
    }

    .spc-aura-cod-disabled-message {
      color: $aura-spc-cod-disabled-text;
      margin-top: 0.75rem;
      font-size: 0.75rem;
    }
  }
}

#spc-checkout {
  .spc-content {
    .spc-aura-checkout-rewards-block {
      padding-top: rem(5) !important;
    }
  }
}

.spc-aura-checkout-rewards-block {
  &.active,
  &.in-active {
    .redeem-aura-points {
      background: $aura-spc-checkout-block-bg;

      .redeem-aura-points-header-container {
        min-height: rem(60);
        display: flex;
        align-items: center;
        padding-#{$left}: rem(16);
        position: relative;
        background: $aura-spc-checkout-block-bg;
        line-height: rem(19);
        font-size: rem(16);
        letter-spacing: rem(1);

        span {
          color: $aura-redeem-pts-cart-header-text;
          letter-spacing: rem(1);
          line-height: rem(20);
          font-size: rem(16);
          display: flex;
          align-items: center;
        }

        & > span {
          margin-top: rem(5);
        }

        .join-aura {
          position: relative;
          margin-top: 0;
          margin-bottom: rem(5);
          margin-#{$left}: 0;
          margin-#{$right}: rem(5);

          svg {
            max-height: rem(29);
            width: auto;
          }
        }

        .accordion-icon {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-grow: 1;
          cursor: pointer;

          @include icon("chevrondown") {
            font-size: rem(32);
            position: absolute;
            top: 50%;
            #{$right}: rem(14);
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
          }
        }

        &.active {
          .accordion-icon {
            &::before {
              transform: rotate(180deg);
              bottom: rem(10);
            }
          }
        }
      }

      .redeem-aura-points-content {
        display: none;

        &.active {
          display: block;
          padding: rem(8) rem(16) rem(18);
          background: $aura-spc-checkout-block-bg;

          @include breakpoint($tablet) {
            padding-top: 0;
          }
        }

        .block-content {
          background: $aura-spc-checkout-block-bg-gradient;
          padding: rem(10) rem(20) rem(16);
          font-family: $aura-regular;
          line-height: rem(20);
          font-size: rem(14);
          border-radius: rem(10);

          html[lang="ar"] & {
            background: $aura-spc-checkout-block-bg-gradient-ar;
          }

          .current-available-points {
            .spc-aura-highlight {
              margin: 0 rem(2);
              color: $aura-highlight;
            }
          }

          .points-expiring {
            .spc-aura-points-expiry-item {
              background: none;
              padding: 0;
              width: auto;
              display: inline-block;
              color: $aura-spc-checkout-text-content;

              &::before {
                content: "";
              }

              b {
                color: $aura-highlight;
              }
            }
          }
        }

        .spc-aura-redeem-points-form-wrapper {
          padding: rem(20) 0 0;
        }
      }
    }

    .redeem-aura-footer {
      color: $aura-checkout-footer-redeem-text;
      display: flex;
      align-items: center;
      font-size: rem(12);
      line-height: rem(18);
      margin-top: rem(12);
      margin-#{$left}: rem(16);
      position: relative;

      b {
        font-family: $aura-bold;
      }

      @include breakpoint($only-mobile) {
        margin-#{$left}: rem(16);
      }

      &::before {
        content: "";
        width: rem(16);
        height: rem(16);
        margin-#{$right}: rem(8);
        background-image: url("#{$base_theme_img_directory_path}/icons/exclamation-circle-icon.svg");
        background-position: top;
      }

      .points-earned-with-purchase {
        margin: 0 rem(3);
      }
    }
  }
}
