@import '../../../config/_config.scss';

.item-list-application-links__link--android {
  &::before {
    background: url("/themes/custom/non_transac/justice/images/logos/play-store.svg") no-repeat center;
  }
}

.item-list-application-links__link--apple {
  &::before {
    background: url("/themes/custom/non_transac/justice/images/logos/app-store.svg") no-repeat center;
  }
}

.item-list-application-links {
  @include breakpoint($upto-lap) {
    display: flex;
    justify-content: center;
  }
}
