.user-page.checkout-delivery.checkout-payment {
  .multistep-checkout {
    @include breakpoint($tablet) {
      border-width: 1px;
    }
  }
}

#payment_details {
  #payment_method_cybersource & {
    border: 1px solid $checkout_payment_option_border;
    border-top: 0;
  }
}

.checkout-payment {
  form.multistep-checkout {
    .messages__wrapper {
      @include breakpoint($tablet) {
        border-top: 1px solid $checkout_payment_form_border;

        + #edit-acm-payment-methods {
          #payment_details_wrapper {
            > div:first-child {
              border-top: none
            }
          }
        }
      }
    }
  }
}

#payment_details_wrapper {
  > div:first-child {
    border-top: none;

    .payment-plugin-wrapper-div {
      border-top: 1px solid $checkout_payment_option_border;
    }

    @include breakpoint($only-mobile) {
      border-top: none;
    }
  }
}
