.alias--cart {
  .c-page-title {
    margin-bottom: 0;
  }

  .edit-checkout,
  .edit-update,
  #edit-actions-top .checkout-top-button {
    font-family: $alshaya-thin;
    text-transform: uppercase;
    padding: 0.925rem 0;
    height: 2.5rem;
    font-size: 0.875rem;
  }

  html[lang=ar] & {
    @include breakpoint ($upto-tablet) {
      .edit-checkout.bottom-edit-checkout {
        height: 3.5rem;
      }
    }
  }

  #edit-actions-top {
    @include breakpoint ($only-tablet) {
      html[lang=ar] & {
        margin-#{$right}: 9%;
      }
    }

    .checkout-top-button {
      max-height: inherit;
      line-height: 0.9;
    }
  }

  #table-cart-items table {
    thead tr {
      border-bottom: 0;

      th {
        font-family: $alshaya-bold;
      }
    }

    tr {
      border-bottom: 1px solid $primary_table_border;

      td {
        &.name {
          html[lang=ar] & {
            @include breakpoint ($desktop) {
              padding-right: 1.375rem;
              padding-left: 0.25rem;
            }

            div.items {
              @include breakpoint ($only-tablet) {
                padding-#{$left}: 0.625rem;
              }
            }
          }
        }

        .form-type-select .select2-selection {
          height: 2.5rem;
          padding-top: 0.5rem;

          .select2-selection__arrow {
            height: 2.5rem;

            &::after {
              line-height: 1.5;
            }
          }
        }

        select {
          height: 2.5rem;
          padding-top: 0.875rem;
          padding-#{$left}: 0.625rem;
        }

        .form-type-select::after {
          height: 2.5rem;
          line-height: 1.5;
        }

        img {
          max-width: 100%;
        }

        &.delivery-option {
          @include breakpoint ($only-tablet) {
            html[lang=ar] & {
              width: 18.3%;
            }

            width: 16.6%;
          }

          .delivery-options-tooltip-wrapper .tooltip--wrap {
            margin-bottom: 0.9375rem;
          }
        }
      }

      @include breakpoint ($upto-tablet) {
        td {
          &.name {
            padding-#{$left}: 0;
            padding-#{$right}: 0;
            padding-top: 1.5rem;

            html[lang=ar] & {
              margin-top: 0;
            }

            div.image {
              width: 6.5rem;
              margin-#{$right}: 1.5rem;
            }

            div.items {
              width: calc(100% - 10rem);

              html[lang=ar] & {
                width: calc(100% - 10rem);
              }

              & > .dark {
                margin-bottom: 0.5rem;
              }
            }
          }

          &.quantity {
            float: $right;
            margin-left: 0;
            width: calc(100% - 7.3125rem);
            margin-top: -2.2rem;

            html[lang=ar] & {
              width: calc(100% - 6.8125rem);
            }

            a {
              line-height: 3.4;
            }
          }

          .image {
            html[lang=ar] & {
              border: 0;
            }
          }

          img {
            max-width: 100%;

            html[lang=ar] & {
              border: 1px solid $basket_img_border;
            }
          }

          .dark a {
            font-size: 0.875rem;
          }

          .price-type__wrapper {
            font-size: 0.875rem;
          }

          .price--discount {
            font-size: 0.75rem;
          }

          &.delivery-option {
            float: $right;
            padding-#{$right}: 0;
            width: calc(100% - 7.3125rem);
            padding-bottom: 0;

            html[lang=ar] & {
              width: calc(100% - 6.8125rem);
            }

            .delivery-options-mobile {
              float: $right;
              font-size: 0.875rem;
              font-family: $alshaya-bold;
              margin-bottom: 0.9375rem;
              width: 100%;
              color: $primary_text;
            }

            .delivery-options-tooltip-wrapper {
              float: $right;
              position: static;
              width: 100%;

              .tooltip--head {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
    }
  }

  #table-cart-totals {
    #edit-totals {
      tr[data-drupal-selector="edit-totals-discount"] {
        .price-type__wrapper .cart-promotions {
          position: absolute;
          #{$right}: -1.25rem;
          top: -0.1875rem;

          @include breakpoint($only-tablet) {
            #{$right}: -0.4375rem;
            top: -0.3125rem;
          }

          @include breakpoint($only-mobile) {
            #{$right}: -0.75rem;

            html[lang=ar] & {
              #{$right}: -2.1875rem;
              top: -0.5rem;
            }
          }

          .contains--tooltip {
            position: relative;

            .tooltip--head::after {
              position: static;
            }

            .tooltip {
              #{$left}: 2.5rem;
              top: -0.125rem;
              position: absolute;

              @include breakpoint($only-tablet) {
                #{$left}: -9.0625rem;
                top: 2rem;
              }

              @include breakpoint($only-mobile) {
                #{$left}: -8.375rem;
                top: 2rem;
              }
            }
          }
        }
      }
    }

    tr[data-drupal-selector="edit-totals-grand"] > td:first-child {
      text-transform: uppercase;
      font-family: $alshaya-bold;

      span {
        font-family: $alshaya-thin;
        text-transform: none;
        font-size: 0.75rem;
        color: $basket_td_sec_txt;
      }
    }

    html[lang=ar] & {
      .edit-checkout .ladda-label {
        font-size: 0.875rem !important;
      }

      @include breakpoint($only-tablet) {
        margin-left: 18.2%;
      }
    }
  }

  #edit-continue-shopping,
  #edit-continue-shopping-mobile,
  .edit-continue-shopping-mobile {
    font-size: 0.875rem;
    border: 0;
    margin-top: 0.625rem;
    font-weight: normal;

    &::first-letter {
      text-transform: capitalize;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .empty-cart-wrapper {
    #edit-continue-shopping,
    #edit-continue-shopping-mobile {
      background-color: $basket_empty_continue_shopping_btn_bg;
      color: $basket_empty_continue_shopping_link;
      border: 0;
      font-size: 0.875rem;
      font-weight: normal;
      text-transform: uppercase;
      height: 2.5rem;
      line-height: 1.7;
    }
  }
}

.acq-cart-summary {
  li {
    padding: 0.75rem 0;
  }

  .caption {
    padding: 1rem 0 0.3125rem;
    border-bottom: 1px solid $checkout_order_summary_title_border;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    .title {
      font-family: $alshaya-bold;
    }

    a {
      font-weight: normal;
    }
  }

  .content-head {
    color: $checkout_order_summary_no_of_items;
    padding: 1rem 0;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    @include icon(chevrondown, after) {
      #{$right}: 0;
    }
  }

  .left {
    width: 27%;

    @include breakpoint($only-tablet) {
      width: 33.6%;
    }

    @include breakpoint($only-mobile) {
      width: 22%;
    }

    img {
      border: 1px solid $order_summary_product_img_border;
    }
  }

  .right {
    width: 70%;

    @include breakpoint($only-tablet) {
      width: 63%;
    }

    @include breakpoint($only-mobile) {
      width: 75%;
    }

    .dark {
      a,
      span {
        font-size: 0.875rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    a,
    span {
      text-decoration: none;
      font-size: 0.875rem;

      @include breakpoint($upto-desktop) {
        font-size: 0.875rem;
      }
    }

    span.price-wrapper {
      .price {
        margin-top: 0.875rem;
        font-weight: normal;
      }
    }

    html[lang=ar] & {
      .product-name {
        line-height: 1.35;
      }

      .product-qty {
        line-height: 1;
      }
    }
  }

  .totals {
    padding: 0.75rem 0 0.5rem;
    border-bottom: 1px solid $order_summary_section_border;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    .sub-total {
      color: $order_summary_subtotal;
    }

    .order-total {
      font-family: $alshaya-bold;
      text-transform: uppercase;
    }

    .order-total,
    .sub-total {
      .price-wrapper {
        .price .price-currency {
          margin-#{$left}: 0.5rem;
        }

        html[lang=ar] & {
          text-align: left;

          .price .price-amount {
            float: none !important;
          }
        }
      }
    }

    .status {
      color: $order_summary_order_status;
    }

    @include clearfix;
  }
}
