{% extends "@alshaya_acm_customer/user-order-print.html.twig" %}

{% block headerPreContent %}
  <div class="head-thank-you">
  {% trans %}
  <h3>Thank you for your order</h3>
  {% endtrans %}
  </div>
{% endblock %}

{% block informationIcon %}
  <span class="icon-ic_infomation"></span>
{% endblock %}
