// Normalize input fields.
input::-moz-placeholder {
  opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="tel"],
textarea {
  border-radius: 0;
  -webkit-appearance: none;

  &:focus {
    position: relative;
    z-index: 1;
    outline: 0;
  }
}

// Material design effect for input fields.
.c-content,
.c-footer-primary {
  .c-input__bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .c-input__bar::before,
  .c-input__bar::after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $primary_input_focus_border;
    transition: 0.5s ease all;
    z-index: 3;
  }

  .c-input__bar::before {
    left: 50%;
  }

  .c-input__bar::after {
    right: 50%;
  }

  form:not(.alshaya-acm-customer-order-list-search, .alshaya-stores-available-stores, .store-finder-exposed-form) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid $primary_input_border;
      padding: 0;
      color: $black;

      &:focus {
        outline: 0 !important;
      }

      &:not(.error):focus ~ .c-input__bar::before,
      &:not(.error):focus ~ .c-input__bar::after {
        width: 50%;
      }
    }
  }

  // Prevents browser from adding space below textarea.
  textarea {
    display: block;
  }
}

// Prevents the browser password reveal for IE.
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

.profile-address-book-add-form,
.profile-address-book-edit-form,
.c-delivery-checkout .multistep-checkout,
.checkout-payment .multistep-checkout {
  .country-field-wrapper {
    .country-name {
      padding-bottom: 0.25rem;
    }
  }
}

input,
textarea {
  &.error {
    border-color: $primary_input_inline_error !important;
    border-width: 0 0 0.125rem !important;
  }
}

.secure-input {
  font-family: 'text-security-disc';
}
