.page-standard.user-page.checkout-delivery {
  margin: 0 auto 1.2rem;

  @include breakpoint($tablet) {
    margin: 1.2rem auto;
  }

  .country-name {
    color: $address_form_country_disabled !important;
  }

  &.l-two--sf {
    @include breakpoint($upto-tablet) {
      max-width: 19rem;
    }
  }

  .block-page-title-block {
    position: relative;
  }

  h1.c-page-title {
    @include breakpoint($only-mobile) {
      font-size: 1.115rem;
    }
  }

  .fieldsets-separator {
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  .block .multistep-checkout {
    border-top: 0;
  }

  main {
    form {
      input,
      select {
        &::placeholder {
          color: transparent;
        }
      }

      .form-item.form-type-select {
        margin-top: 1.75rem !important;

        label {
          top: -1.375rem;
          font-size: 0.75rem;

          &.error {
            top: 2rem;
          }
        }
      }

      .form-item-guest-delivery-home-address-street2,
      .form-item-billing-address-address-street2 {
        label {
          display: none;
        }
      }

      .form-item-guest-delivery-home-address-first-name {
        margin-#{$right}: 1.25rem;
      }

      .form-item-guest-delivery-home-address-first-name,
      .form-item-guest-delivery-home-address-last-name {
        display: inline-block;
        max-width: 11.7rem;
        width: calc(50% - 12px);
      }

      .tab,
      .fieldset-legend {
        cursor: pointer;

        h2,
        p {
          margin: 0;
        }

        p,
        &.tab-separator {
          font-size: 0.625rem;

          @include breakpoint($desktop) {
            font-size: 0.75rem;
          }
        }

        h2 {
          font-size: 0.75rem;
          color: $checkout_tab_default_title;
          text-transform: lowercase;

          @include breakpoint($desktop) {
            font-size: 0.875rem;
          }
        }
      }

      .form-actions {
        background: $checkout_form_actions_footer;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        padding: 1em;
        line-height: 2.8;
        margin-top: -2px;

        @include breakpoint($only-tablet) {
          padding: 1rem 1.375rem;
        }

        @include breakpoint($desktop) {
          padding: 1.375rem;
        }

        @include breakpoint($only-mobile) {
          text-align: center;
          line-height: 3.8;
          background: $checkout_form_actions_footer_white;
          margin-top: 1rem;
          padding: 0;
          margin-bottom: 1rem;
        }

        .form-submit {
          float: $right;
          margin: 0;
          margin-#{$right}: 0.75em;
          line-height: 1.5;

          @include breakpoint($tablet) {
            margin-#{$right}: 0;

            @include link-ripple();
          }

          @include breakpoint($only-mobile) {
            float: none;
          }
        }

        a {
          font-weight: bold;
          color: $secure_checkout_back_link;
          font-size: 0.75rem;

          &.back-to-basket {
            @include breakpoint($desktop) {
              padding: 0.625rem 0;
            }
          }
        }
      }
    }

    .tabs--content {
      #edit-member-delivery-collect,
      #edit-guest-delivery-collect {
        // TODO: Remove this when click and collect is themed for the mobile.
        @include breakpoint($only-mobile) {
          display: none;
        }
      }

      .fieldset-wrapper .form-item .form-item.form-item-billing-address-address-phone-country-code,
      .form-item-guest-delivery-home-address-phone-country-code {
        display: inline-block;
        width: auto;

        &::after {
          content: none;
        }
      }

      .fieldset-wrapper .form-item .form-item.form-item-billing-address-address-phone-mobile,
      .form-item-guest-delivery-home-address-phone-mobile {
        display: inline-block;
        width: 9.4rem;
        margin-#{$left}: -0.3125rem;

        input {
          position: relative;
          width: 11.4rem;
          padding-bottom: 0.5rem;
          margin-top: 0.5rem;

          @include breakpoint($tablet) {
            width: 7rem;
          }
        }
      }
    }
  }

  #edit-delivery-tabs {
    color: $checkout_tab_text_default;
    font-size: 0;
    position: relative;

    .tab {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
      }
    }

    @include breakpoint($upto-tablet) {
      hr {
        display: none;
      }

      .tab {
        display: none;

        &.active--tab--head {
          display: block;
          background-color: $checkout_tab_active_bg;
          border-width: 2px;
          border-color: $checkout_tab_active_border_2;
        }
      }
    }

    @include breakpoint($only-tablet) {
      margin-top: 1.1rem;
    }

    hr {
      display: block;
      width: 39%;
      width: calc(50% - 40px);
      margin: 0 10px;
      border: 1px solid $checkout_tab_active_hr;
      transition: 0.3s ease-in-out;
      position: absolute;
      bottom: 0;
      z-index: 2;

      @include breakpoint($desktop) {
        width: calc(50% - 80px);
        margin: 0 20px;
      }
    }

    .tab-click-collect:hover ~ hr {
      .no-touchevents & {
        margin-#{$left}: 55.5%;
      }
    }

    .tab-click-collect.active--tab--head ~ hr {
      margin-#{$left}: 55.5%;
    }

    .tab {
      text-align: center;
      font-size: 0.75rem;
      vertical-align: middle;
      border: 1px solid $checkout_tab_default_border;
      background: $checkout_tab_bg;
      font-family: $alshaya-bold;
      font-weight: normal;
      height: 4.5625rem;
      padding: 0;

      @include breakpoint($only-mobile) {
        &:not(.tab-separator) {
          height: 3.4375rem;

          html[lang=ar] & {
            height: 3.75rem;
          }
        }
      }

      h2 {
        font-weight: normal;

        @include breakpoint($only-mobile) {
          font-size: 0.875rem;
        }
      }

      p {
        color: $checkout_tab_description;
        font-family: $arial;

        @include breakpoint($only-mobile) {
          font-size: 0.75rem;
        }
      }

      @include breakpoint($tablet) {
        border-bottom: 0;
        display: inline-block;
        width: 46.81%;
        width: calc(50% - 14px);
      }

      @include breakpoint($only-tablet) {
        width: 46.9%;
      }

      @include breakpoint($desktop) {
        width: 47.05%;

        &.tab-home-delivery {
          &:not(.active--tab--head) {
            margin-#{$left}: -2px;
          }
        }

        &.tab-click-collect {
          margin-#{$left}: -1px;
        }
      }

      @include breakpoint($only-tablet) {
        height: 4.0625rem;

        &.tab-click-collect {
          margin-#{$left}: 2px;

          &.active--tab--head {
            margin-#{$left}: 3px;
          }
        }
      }

      @include breakpoint($tablet) {
        &.active--tab--head {
          position: relative;
          z-index: 2;
          border-width: 2px;
          border-color: $checkout_tab_active_border;
        }

        &.tab-home-delivery {
          margin-#{$left}: -3px;

          &.active--tab--head {
            margin-#{$left}: 0;
            border-#{$left}: none;
          }
        }

        &.tab-click-collect {
          margin-#{$right}: -3px;

          &.active--tab--head {
            margin-#{$right}: 0;
            border-#{$right}: none;
          }
        }
      }

      &.disabled--tab--head {
        border-color: $checkout_tab_disabled_border;

        h2,
        p {
          color: $checkout_tab_disabled_text;
        }
      }

      &.active--tab--head {
        h2 {
          color: $checkout_tab_active_title;
        }
      }
    }

    .tab-home-delivery.active--tab--head::after,
    .tab-click-collect.active--tab--head::before {
      content: "";
      display: block;
      width: 0.125rem;
      height: calc(100% - 0.3125rem);
      background: $checkout_tab_active_head;
      position: absolute;
      top: 0.3125rem;

      @include breakpoint($desktop) {
        width: 0.25rem;
      }
    }

    .tab-home-delivery.active--tab--head::after {
      #{$right}: -0.1875rem;

      @include breakpoint($desktop) {
        #{$right}: -0.3125rem;
      }

      @include breakpoint($only-mobile) {
        display: none;
      }
    }

    .tab-click-collect.active--tab--head::before {
      #{$left}: -0.1875rem;

      @include breakpoint($desktop) {
        #{$left}: -0.3125rem;
      }

      @include breakpoint($only-mobile) {
        display: none;
      }
    }

    .tab-separator {
      border: none;
      pointer-events: none;
      color: $checkout_tab_separator;
      height: auto;

      @include breakpoint($tablet) {
        width: 6.2%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      @include breakpoint($desktop) {
        width: 6.2%;

        html[lang=ar] & {
          width: 6.1%;
          margin-left: 1px;
        }
      }
    }

    @include breakpoint($upto-tablet) {
      hr {
        display: none;
      }

      .tab {
        display: none;

        &.active--tab--head {
          display: block;
          background-color: $checkout_tab_mob_active_bg;
          border-width: 2px;
          border-color: $checkout_tab_mob_active_border;
        }
      }
    }
  }

  @include breakpoint($only-mobile) {
    #edit-delivery-tabs {
      display: none;
    }

    form.show-only-buttons #edit-delivery-tabs {
      display: block;
    }
  }
}

#edit-guest-delivery-home-address-shipping-methods--wrapper,
#edit-member-delivery-home-address-shipping-methods--wrapper,
.shipping-methods-container {
  border: none !important;

  legend {
    display: block !important;
    width: 100%;

    .fieldset-legend {
      display: block;
      width: 100%;
      padding: 0.5rem 0;
      border-bottom: 1px solid $checkout_section_title_border;
      font-size: 1rem;
    }
  }

  .form-type-radio {
    width: 100%;
    min-height: 4.375rem;
    margin: 0;
    margin-top: 0.5rem;
    padding: 1.125rem 0;
    border-bottom: 1px solid $checkout_section_title_border;

    &:first-child {
      border-top: 1px solid $checkout_section_title_border;
    }

    @include breakpoint($tablet) {
      margin-top: 1.875rem;
      padding: 1.125rem 1.5rem;
    }

    @include breakpoint($only-mobile) {
      padding: 1.125rem 1rem;
      height: auto;
    }

    &:nth-child(odd) {
      background-color: $checkout_delivery_optn_odd_row;
    }

    label {
      &.option {
        @include clearfix;

        .ucbrowser & {
          top: 0;
        }

        &::before {
          display: block;
          float: $left;
          margin-#{$right}: 1rem;
          top: 0.625rem;
        }

        .shipping-method {
          &-name {
            float: $right;
            width: 88%;
            position: relative;

            @include breakpoint($tablet) {
              width: 90%;
            }

            @include breakpoint($desktop) {
              width: 95.5%;
            }
          }

          &-title,
          &-description {
            @include breakpoint($desktop) {
              width: 83%;
            }

            @include breakpoint($only-tablet) {
              width: 79%;
            }

            @include breakpoint($only-mobile) {
              width: 68%;
            }
          }

          &-title {
            font-size: 0.875rem;
            font-weight: bold;
            color: $checkout_delivery_optn_shipping_method_title;
          }

          &-price {
            float: $right;
            position: absolute !important;
            top: 50%;
            transform: translateY(-50%);
            #{$right}: 0;

            @include breakpoint($only-mobile) {
              font-weight: bold;
            }

            @include breakpoint($desktop) {
              font-size: 0.875rem;
            }
          }

          &-description {
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  #edit-guest-delivery-home-address-shipping-methods,
  #edit-member-delivery-home-address-shipping-methods,
  .fieldset-wrapper > div {
    font-size: 0;

    .form-type-radio {
      margin-top: 0;

      &:first-child {
        margin-top: 1.875rem;

        @include breakpoint($only-tablet) {
          margin-top: 1.188rem;
        }

        @include breakpoint($desktop) {
          margin-top: 1.438rem;
        }
      }
    }
  }
}

#shipping_methods_wrapper {
  @include breakpoint($only-mobile) {
    margin-top: 1.5rem;
  }
}

#edit-guest-delivery-home-address-shipping-methods--wrapper,
#shipping_methods_wrapper fieldset.shipping-methods-container {
  display: block;

  @include breakpoint($tablet) {
    margin-bottom: 2.6rem;
  }

  > legend {
    padding-bottom: 0 !important;
  }
}

// Adding throbber overlay for any ajax call on payment and checkout delivery page.
.page-standard.c-pdp,
.page-standard.c-address-book,
.page-standard.checkout-login,
.page-standard.user-page.checkout-payment,
.page-standard.user-page.c-delivery-checkout,
.page-standard.overlay__wrapper,
.pdp-modal-overlay .page-standard,
.free-gifts-modal-overlay .page-standard,
.sizeguide-modal-overlay,
#block-sizefacetblock,
#drupal-modal .basic-details-wrapper {
  .ajax-progress-throbber {
    @include fullPageLoader();
  }

  .cybersource-ajax-progress-throbber {
    #{$left}: 0;

    .cybersource-throbber {
      #{$left}: 0;
      #{$right}: 0;
      padding-#{$left}: 0.625rem;
      padding-#{$right}: 0.625rem;
    }
  }
}

#edit-acm-payment-methods-payment-options--wrapper {
  height: 0;

  legend {
    display: none;
  }
}

#payment_details_wrapper {
  padding-#{$left}: 0;
  margin-top: 0;

  > div:first-child {
    border-top: 2px solid $checkout_payment_form_border;

    .payment-plugin-wrapper-div {
      border-top: none;
    }

    @include breakpoint($only-mobile) {
      border-top: 1px solid $checkout_payment_option_border;
    }
  }

  > .form-wrapper {
    cursor: pointer;
    margin-top: 0;
    width: 100%;
    float: $left;

    &:last-child {
      .payment-plugin-wrapper-div {
        border-bottom: 1px solid $checkout_payment_option_border;
      }
    }

    .payment-plugin-wrapper-div {
      &.plugin-selected {
        background-color: $checkout_payment_row_selected;

        .method-description:not(:empty) {
          display: block;
        }

        .method-knet {
          opacity: 1;
        }

        &::before {
          border: 3px solid $primary_radiobtn_filled;
        }

        .method-title {
          font-weight: bold;
        }
      }

      &.has-description.plugin-selected {
        @include breakpoint($tablet) {
          padding: 0.9375rem 1.375rem;
        }

        &::before {
          top: 0.5625rem;
        }
      }

      &::before {
        content: '';
        width: 0.875rem;
        height: 0.875rem;
        background: $checkout_payment_row_default;
        display: inline-block;
        border-radius: 100%;
        border: 1px solid $primary_radiobtn_empty;
        margin-#{$right}: 1rem;
        position: relative;
        top: 2px;

        @include breakpoint($only-mobile) {
          margin-#{$right}: 0.625rem;
          margin-#{$left}: 0.5625rem;
        }
      }

      &:hover {
        background-color: $checkout_payment_row_hover;
      }

      @include breakpoint($tablet) {
        padding: 1.5rem 1.375rem;
      }

      width: 100%;
      float: $left;
      margin: 0;
      padding: 1.5rem 0.5rem;
      border-top: none;
      border-bottom: 1px solid $checkout_payment_option_border;

      .payment-method {
        &-name {
          float: $right;
          width: 86%;

          @include breakpoint($tablet) {
            width: 92.5%;

            .ucbrowser & {
              width: 92%;
            }
          }

          @include breakpoint($desktop) {
            width: 95.5%;
          }
        }
      }

      .method {
        &-title {
          font-size: 0.875rem;
          font-weight: normal;
          color: $checkout_payment_method_title;

          @include breakpoint($only-mobile) {
            font-size: 0.75rem;
          }
        }

        &-side-info {
          float: $right;
        }

        &-knet {
          background: url(#{$base_theme_img_directory_path}/cards/knet-active.png) no-repeat;
          background-size: 100%;
          position: absolute;
          #{$right}: 0.8rem;
          height: 2rem;
          width: 3rem;
          top: 1.375rem;
          opacity: 0.3;

          @include breakpoint($desktop) {
            #{$right}: 1.5rem;
          }

          @include breakpoint($upto-desktop) {
            #{$right}: 1rem;
          }
        }

        &-cashondelivery,
        &-checkmo,
        &-cybersource {
          display: none;
        }

        &-description {
          display: none;
          font-size: 0.75rem;
          color: $checkout_payment_method_desc;

          @include breakpoint($upto-desktop) {
            width: 80%;
          }
        }
      }
    }
  }
}

// Checkout delivery address theming.
.user-page.c-delivery-checkout {
  main {
    form {
      #edit-guest-delivery-home {
        .title {
          margin: 1.375rem !important;

          @include breakpoint($only-mobile) {
            margin: 1.375rem 0 !important;
          }
        }

        .address-book-address {
          @include breakpoint($mobile) {
            margin: 0.5rem 0;
          }

          @include breakpoint($tablet) {
            margin: 1.75rem 1.375rem 0;
          }
        }
      }

      #edit-guest-delivery-home,
      fieldset {
        -webkit-animation: fadeEffect 2s;
        animation: fadeEffect 2s;
        width: 100%;
        padding: 0;
        margin: auto;
        margin-top: 0;

        &.active--tab--content {
          display: block;
        }

        input {
          color: $primary_input;
        }

        @include breakpoint($tablet) {
          margin: 0;
          display: none;

          &.active--tab--content {
            top: -2px;
            position: relative;
            border-width: 2px;
            border-color: $checkout_tab_active_border;
            border: none;
            border-top: 2px solid $checkout_tab_active_border;
          }
        }

        #address-book-form-wrapper,
        #selected-address-wrapper {
          margin: 1.75rem 1.375rem;

          #cancel-address-add-edit {
            background: transparent;
            margin-top: 0;
            text-transform: lowercase;
            color: $content_link_color;
            font-weight: bold;
            padding: 0.5rem 2.5rem;
          }
        }

        .title {
          margin: 1rem 0;
        }

        #addresses-header {
          margin: 0.75rem 1.375rem;

          #add-address-button {
            background: transparent;
            margin-top: 0;
            width: 100%;
            text-transform: lowercase;
            color: $content_link_color;
            font-size: 0.75rem;
            display: block;
            padding: 0.5rem 0;

            &::first-letter {
              text-transform: uppercase;
            }

            @include breakpoint($only-mobile) {
              text-align: $left;
            }
          }

          @include breakpoint($desktop) {
            margin-bottom: 0;
          }

          @include breakpoint($tablet) {
            position: relative;

            #add-address-button {
              display: inline;
              width: auto;
              position: absolute;
              top: 0;
              #{$right}: 0;
            }
          }
        }

        .form-wrapper,
        .form-item {
          margin-top: 1.5rem;
        }

        .form-wrapper {
          @include breakpoint($only-mobile) {
            margin-top: 0;
          }
        }

        #edit-member-delivery-home-addresses {
          margin: 0.75rem 0;

          @include breakpoint($tablet) {
            margin: 0.75rem 1.375rem;
          }
        }

        #address_wrapper {
          padding: 0;
          margin-top: 0;

          @include breakpoint($desktop) {
            margin-top: 1.2rem;
          }

          .form-item--error + .form-item {
            margin-top: 1.6rem;
          }
        }

        .delivery--notice {
          display: none;
        }

        legend {
          margin-bottom: 0;

          @include breakpoint($tablet) {
            padding: 0.5rem 1.375rem;
          }

          @include breakpoint($tablet) {
            display: none;
          }

          span {
            color: $checkout_tab_active_title;
          }
        }

        .title {
          color: $checkout_section_titles;
          font-size: 1rem;
          font-family: $alshaya-bold;
          font-weight: normal;
          padding-bottom: 0.4375rem;
          border-bottom: 1px solid $checkout_section_title_border;
        }

        .fieldset-wrapper {
          @include breakpoint($upto-tablet) {
            border: none;
            padding: 0;
            border-top: 0;

            #addresses-header,
            #address-book-form-wrapper,
            #selected-address-wrapper {
              margin: 0;
            }

            #addresses-header {
              margin-top: 1rem;
            }
          }

          @include breakpoint($tablet) {
            display: block !important;
          }
        }
      }
    }

    .tabs--content {
      @include breakpoint($tablet) {
        border: 2px solid $checkout_tab_active_border;
        border-top: none;
        margin-top: 0.4375rem;
      }
    }
  }
}

#selected-address-wrapper {
  border: 1px solid $checkout_hd_selected_add_wrapper_border;
  font-family: $arial;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  @include breakpoint($desktop) {
    max-width: 26.25rem;
    width: calc(50% - 1.5rem);
    margin-bottom: 0 !important;

    &:nth-of-type(odd) {
      margin-#{$right}: 3rem;
    }
  }

  .address--data {
    background: $checkout_hd_selected_add_bg;
  }

  .address--controls {
    text-align: $left;

    #change-address {
      font-size: 0.75rem;
      font-weight: bold;
      color: $content_link_color;
      background: none;
      margin-top: 0;
      padding: 0.5rem 0;
      text-transform: capitalize;
    }
  }
}

#address_wrapper,
#selected-address-wrapper,
#address-book-form-wrapper {
  .address--deliver-to-this-address {
    border: 1px solid $address_button_border;

    a {
      color: $address_button_text;
    }
  }

  .active .address--deliver-to-this-address {
    background-color: $primary_btn_bg;
    border: none;

    a {
      color: $primary_btn_text;
    }
  }

  .address--edit {
    text-align: $right;

    a {
      color: $content_link_color;
      border: none;
      text-transform: capitalize;
    }
  }
}

#edit-member-delivery-home-address-book-wrapper {
  @include breakpoint($tablet) {
    margin-left: 1.5rem;
  }
}

.select-transaction-type {
  font-family: $alshaya-bold;
  font-size: 1rem;
  line-height: 1.12;
  color: $checkout_transaction_type_color;
  margin-bottom: 1rem;
  display: none;
}

.show-only-buttons {
  @include breakpoint($only-mobile) {
    #edit-delivery-tabs {
      margin-bottom: 3rem;
    }

    .tab-separator {
      font-size: 0.75rem;
      color: $checkout_method_choice_tab_separator;
      margin: 0.5rem 0;
      display: block !important;
    }

    .tab-click-collect,
    .tab-home-delivery {
      border-color: $checkout_method_choice_tab_border_default !important;
      border-width: 1px !important;
      display: block !important;

      a p {
        color: $checkout_method_choice_tab_text_default;
      }

      &.active--tab--head {
        h2 {
          color: $checkout_method_choice_tab_title_active !important;
        }
      }
    }

    #edit-guest-delivery-home,
    #edit-member-delivery-home,
    #edit-guest-delivery-collect,
    #edit-member-delivery-collect,
    #edit-actions {
      display: none !important;
    }

    .select-transaction-type {
      display: block;
    }
  }
}

.show-form {
  @include breakpoint($only-mobile) {
    .tabs--content fieldset.active--tab--content {
      display: block !important;
    }
  }
}

.shipping-method-options-count-1 {
  .form-type-radio {
    label {
      &::before {
        display: none !important;
      }

      .shipping-method-name {
        width: 100% !important;
      }
    }
  }
}

html[lang=ar] {
  .page-standard.user-page.checkout-delivery {
    h1.c-page-title {
      @include breakpoint($only-mobile) {
        @include icon(chevronright, before) {
          right: -0.6875rem;
        }
      }
    }
  }
}

.alias--cart-checkout-delivery,
.alias--cart-checkout-payment {
  h1 {
    z-index: -1;
  }

  .back-link {
    display: none;
    z-index: 1;

    @include breakpoint($only-mobile) {
      display: block;
      position: absolute;
      width: 1.063rem;
      height: 1.375rem;
    }
  }
}

.cnc-collect-from {
  color: $checkout_section_titles;
  font-size: 1rem;
  font-family: $alshaya-bold;
  letter-spacing: 1px;
  font-weight: normal;
  padding-bottom: 0.4375rem;
  border-bottom: 1px solid $checkout_cc_cnc_form_title_border;
  margin: 1rem 0;
  text-transform: lowercase;

  @include breakpoint($tablet) {
    margin: 1.375rem;
  }

  @include breakpoint($desktop) {
    margin: 1.375rem 2rem 1rem;
  }
}

#payment_method_title_cashondelivery {
  &::after {
    content: '';
    background: url(#{$base_theme_img_directory_path}/cards/cash-on-delivery.svg) no-repeat;
    background-size: 100%;
    height: 2.0625rem;
    width: 3.0625rem;
    position: absolute;
    top: 1.25rem;
    opacity: 0.2;

    @include breakpoint($desktop) {
      #{$right}: 1.5rem;
    }

    @include breakpoint($upto-desktop) {
      #{$right}: 1rem;
    }

    html[lang=ar] & {
      background: url(#{$base_theme_img_directory_path}/cards/cash-on-delivery-ar.svg) no-repeat;
    }
  }

  &.plugin-selected {
    &::after {
      opacity: 1;
    }
  }
}
