.user-page.checkout-login {
  border: 0;
  margin: 0 auto 1em;
  padding: 0.5rem 1rem;

  @include breakpoint($tablet) {
    margin: 1.2rem auto 9.2rem;
  }

  @include breakpoint($desktop) {
    margin: 0.38em auto 4.8em;
  }

  h1 {
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.55rem;
    border-bottom: 1px solid $checkout_section_title_border;
    margin-#{$left}: 0;

    @include breakpoint($tablet) {
      padding-top: 0;
      padding-bottom: 0.6em;
    }

    @include breakpoint($only-mobile) {
      padding-#{$left}: 2rem;
    }
  }

  a.back-link {
    display: none;

    @include breakpoint($only-mobile) {
      display: block;
      position: absolute;
      width: 2.063rem;
      height: 2.375rem;
      z-index: 1;

      @include icon(arrowup, before) {
        position: absolute;
        #{$left}: -0.5rem;
        top: -3px;
        color: $checkout_mobile_back_link_icon;
        font-size: 2.125rem;
        transform: rotate(270deg);

        html[lang=ar] & {
          transform: rotate(90deg);
        }
      }
    }
  }

  .multistep-checkout {
    max-width: 100%;
  }

  .checkout-login-actions-wrapper {
    background: $checkout_login_footer_actions_bg;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 1em;
    line-height: 2.8;

    @include breakpoint($only-tablet) {
      padding: 1rem 1.375rem;
    }

    @include breakpoint($desktop) {
      padding: 1.375rem;
    }

    @include breakpoint($only-mobile) {
      text-align: center;
      line-height: 3.8;
      background: white;
      margin-top: 1rem;
      padding: 0;
      margin-bottom: 1rem;
    }

    .form-submit {
      float: $right;
      margin: 0;
      margin-#{$right}: 0.75em;

      @include breakpoint($tablet) {
        margin-#{$right}: 0;
      }

      @include breakpoint($only-mobile) {
        float: none;
      }
    }

    a {
      font-weight: bold;
      color: $content_link_color;
      font-size: 0.75rem;

      &.back-to-basket {
        @include breakpoint($desktop) {
          padding: 0.625rem 0;
        }
      }
    }
  }
}

.alias--cart-checkout-login {
  .form-wrapper,
  .form-item {
    @include breakpoint($tablet) {
      margin-top: 2.1rem;
    }

    @include breakpoint($desktop) {
      margin-top: 2.25rem;
    }
  }

  .tabs--content {
    //max-width: 65.3125rem;
    margin: 0 auto;
    overflow: hidden;
  }

  #edit-login-tabs {
    margin-top: 1rem;

    @include breakpoint($tablet) {
      display: none;
    }
  }

  .tab {
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
    font-size: 0.875rem;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background: $checkout_login_btn_bg;

    &.tab-returning-customer {
      background: $checkout_login_returning_customer_btn_bg;

      span {
        color: $content_link_color;
      }

      html[lang=ar] & {
        line-height: 1.5;
        vertical-align: middle;
      }
    }

    &.tab-separator {
      background: none;
      color: $checkout_login_content_mobile;
      font-size: 1rem;
    }

    span {
      color: $checkout_login_btn_txt;
      font-family: $alshaya-bold;
      text-transform: lowercase;
      line-height: 1.8;
    }
  }

  .tab-new-customer {
    margin-#{$right}: 2%;
    padding: 0;

    @include breakpoint($tablet) {
      padding: 0.5rem 1rem;
    }

    a {
      display: block;
      padding: 0.5rem 1rem;

      @include breakpoint($tablet) {
        padding: 0;
      }
    }
  }

  .tabs--content {
    .selected-tab-title {
      @include breakpoint($only-mobile) {
        font-size: 1rem;
        border-bottom: 1px solid $checkout_section_border;
        width: 100%;
        display: inline-block;
        padding-bottom: 0.5rem;
        text-transform: lowercase;
      }
    }
  }
}

.multistep-checkout {
  .tabs--content {
    @include breakpoint($only-mobile) {
      display: flex;
      flex-direction: column;

      #edit-checkout-login {
        order: 2;
      }
    }
  }

  .tabs--content fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    text-align: center;

    @include breakpoint($tablet) {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      float: $left;
      margin-left: 0;
      margin-right: 0;
      margin-top: 2.05rem;
    }

    @include breakpoint($desktop) {
      margin-top: 2.2rem;
    }

    @include breakpoint($only-mobile) {
      margin: 0;
      margin-top: 1rem;
      padding: 0;
    }

    &.active--tab--content {
      display: block;
    }

    legend {
      @include breakpoint($only-mobile) {
        display: none;
      }
    }
  }

  #edit-checkout-guest {
    @include breakpoint($only-tablet) {
      padding: 0;
    }
  }

  fieldset legend {
    @include breakpoint($tablet) {
      pointer-events: none;
    }

    span {
      font-size: 14px;
      font-family: $alshaya-bold;
      font-weight: normal;
      color: $checkout_section_titles;

      @include breakpoint($only-mobile) {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

  #edit-checkout-login {
    text-align: $left;

    @include breakpoint($tablet) {
      border-#{$right}: 1px solid $checkout_section_title_border;
      padding-#{$right}: 2.5rem;
      position: relative;
    }

    @include breakpoint($tablet) {
      padding-#{$right}: 7.5rem;
    }

    .request-password-link {
      margin-top: 1.6rem;
      display: block;
      text-align: center;
      font-weight: bold;
      color: $content_link_color;

      @include breakpoint($tablet) {
        position: absolute;
        bottom: 1.5em;
        #{$left}: 11rem;
        width: auto;
        font-size: 0.75rem;

        html[lang=ar] & {
          #{$left}: 13rem;
        }
      }

      @include breakpoint($desktop) {
        #{$left}: 15rem;

        html[lang=ar] & {
          #{$left}: 17rem;
        }
      }
    }

    .form-actions {
      margin-top: 1.4rem;

      @include breakpoint($tablet) {
        margin-top: 2.2rem;
      }
    }

    .fieldset-wrapper {
      margin-top: 0.5625rem;

      @include breakpoint($tablet) {
        margin-top: 0.5rem;
      }

      @include breakpoint($desktop) {
        margin-top: 0.3125rem;
        font-size: 0.8125rem;
      }
    }
  }

  #edit-checkout-guest {
    @include breakpoint($tablet) {
      padding: 0 2.5rem;
    }

    @include breakpoint($desktop) {
      padding: 0 7.5rem;
    }

    a {
      @extend %btn;

      background: $primary_btn_bg;
      display: inline-block;
      margin: 1em 0;
      margin-bottom: 2rem;
      padding: 0.625rem 1.5rem;

      @include link-ripple();

      @include breakpoint($desktop) {
        margin: 0.5em 0;
        margin-bottom: 2rem;
      }

      @include breakpoint($only-mobile) {
        width: 100%;
        text-align: center;
        margin: 0.4rem 0;
        margin-bottom: 0.6rem;
      }
    }
  }

  .fieldset-wrapper {
    font-size: 0.75rem;

    @include breakpoint($only-mobile) {
      color: $checkout_login_content_mobile;
    }

    .tabs--content {
      @include breakpoint($tablet) {
        margin-top: 0.35rem;
      }

      @include breakpoint($desktop) {
        margin-#{$left}: 0;
        margin-top: 1.1rem;
        //width: 94%;
      }
    }

    .form-type-password {
      margin-top: 2.8rem;

      @include breakpoint($only-tablet) {
        margin-top: 3.4rem;
      }

      #unmask_password {
        top: 0.5rem;

        @include breakpoint($tablet) {
          text-transform: uppercase;
        }
      }
    }

    .checkout-guest-email-usage {
      color: $checkout_login_guest_email_text_mobile;
      margin-bottom: 1.85rem;

      @include breakpoint($tablet) {
        color: $checkout_login_guest_email_text;
        margin-bottom: 1.4rem;
        font-weight: bold;
        font-size: 0.8125rem;
      }

      @include breakpoint($only-mobile) {
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.29;
      }
    }
  }

  .checkout-guest-summary {
    line-height: 1.6;

    @include breakpoint($only-mobile) {
      text-align: center;
      font-size: 0.875rem;
      line-height: 1.29;
    }

    @include breakpoint($tablet) {
      font-size: 0.8125rem;
      line-height: 1.5;
    }
  }

  .checkout-guest-summary ul {
    padding-#{$left}: 2em;

    @include breakpoint($only-mobile) {
      margin-top: -0.375rem;
      line-height: 1.45;
    }
  }
}

.form-item--error-message a {
  color: $content_link_color;
}

.user-page {
  &.checkout-login {
    #block-youllbeableto {
      @include breakpoint($only-mobile) {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0;

        h3 {
          margin-top: 0;
        }
      }

      @include breakpoint($only-tablet) {
        margin-top: 2rem;
      }

      p {
        font-size: 0.875rem;
      }

      a {
        background: transparent;
        padding: 0.25rem 0 0;
        margin: 0;
        text-transform: lowercase;
      }
    }

    .checkout-guest-email-usage {
      margin-bottom: 1rem;
      text-transform: uppercase;

      p {
        margin-top: 0;
      }
    }
  }
}
