#block-checkoutprogress,
.block-acm-checkout-progress {
  h3 {
    display: none;
  }

  .checkout-progress {
    counter-reset: counter;
    list-style: none;
    padding: 0;

    @include breakpoint($only-tablet) {
      padding: 0.5rem 0 0;
      padding-#{$left}: 1rem;
      margin-top: 1.4rem;
      margin-bottom: 0;
    }

    @include breakpoint($desktop) {
      padding: 0.2rem 0 0;
      padding-#{$left}: 1.313rem;
      margin-bottom: 1.2rem;
    }
  }

  .checkout-progress__step {
    text-transform: none;
    width: 32.5%;
    position: relative;
    text-align: $left;
    font-size: 0.75rem;
    font-family: $body_font;
    vertical-align: top;
    min-height: 3.625rem;
    padding: 0.5rem 0;
    cursor: default;

    html[lang=ar] & {
      font-family: $alshaya-thin;
    }

    @include breakpoint($tablet) {
      overflow: hidden;
      margin-#{$right}: 0.5%;
    }

    @include breakpoint($desktop) {
      margin-#{$right}: 0;
      width: 39.7%;
      line-height: 1.8;

      &.-complete {
        line-height: 1.1;
      }
    }

    @include breakpoint($only-tablet) {
      &:not(.-has-link) {
        .safari &,
        .ucbrowser & {
          line-height: 1.8;
        }
      }

      &.-complete {
        line-height: 1.8;
      }
    }

    &.-next {
      color: $checkout_progress_text;
    }

    &.-has-link {
      padding: 0.375rem 0;

      .ucbrowser & {
        line-height: 1.35;
      }
    }

    &.-complete.-previous.-has-link a {
      @include breakpoint($desktop) {
        padding: 0.625rem 0;
      }

      @include breakpoint($only-tablet) {
        padding: 0.5rem 0;
      }
    }

    &:first-child {
      @include breakpoint($upto-tablet) {
        position: relative;
      }
    }

    &:nth-child(2) {
      @include breakpoint($tablet) {
        width: 30.8%;

        &::after {
          margin-#{$left}: 0.7rem;
        }
      }

      @include breakpoint($desktop) {
        width: 37.8%;
        margin-#{$right}: 0.75%;

        &::after {
          margin-#{$left}: 0.8125rem;
        }
      }
    }

    &:last-child {
      width: 32%;

      @include breakpoint($only-mobile) {
        width: 35%;
      }

      @include breakpoint($desktop) {
        width: 20%;
      }
    }

    @include breakpoint($desktop) {
      font-size: 0.875rem;
    }

    @include breakpoint($only-mobile) {
      font-size: 0.625rem;
      float: $left;
      display: inline-block;
      line-height: 7.2;
      text-align: center;
    }

    &::before {
      position: relative;
      display: inline-block;
      z-index: 100;
      font-family: $body_font;
      width: 1.3rem;
      height: 1.3rem;
      #{$left}: 37.5%;
      #{$right}: auto;
      margin-#{$right}: 0.2rem;
      margin-bottom: 0.2rem;
      border: 1px solid;
      line-height: 1.2rem;
      text-align: center;
      background-color: $checkout_progress_next_bg;
      border-radius: 100em;
      counter-increment: counter;
      content: counter(counter);

      @include breakpoint($tablet) {
        #{$left}: auto;
        margin-#{$right}: 0.3rem;
        margin-bottom: 0.4rem;
      }

      @include breakpoint($desktop) {
        margin-#{$right}: 0.8rem;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.6;
      }

      @include breakpoint($only-mobile) {
        position: absolute;
        top: 0.75rem;
        #{$left}: 40%;
      }
    }

    &::after {
      position: absolute;
      top: 1.313rem;
      bottom: 0;
      z-index: 90;
      left: auto;
      right: auto;
      margin-#{$left}: 0.25rem;
      border: 1px solid $checkout_seperator;
      border-bottom: 0;
      content: "";
      width: 65%;
      height: 0;

      @include breakpoint($only-mobile) {
        width: 61%;
        #{$left}: 65%;
      }

      @include breakpoint($desktop) {
        margin-#{$left}: 0.5rem;

        html[lang=ar] & {
          width: 75%;
        }
      }
    }

    a {
      display: inline-block;
      pointer-events: none;

      @include breakpoint($only-mobile) {
        display: inline;
        line-height: 7.6;
      }
    }
  }

  .checkout-progress__step.-next {
    background: transparent;
    color: $checkout_progress_text;
  }

  .checkout-progress__step.-current {
    background: transparent;
    color: $checkout_progress_current_text;
    font-weight: bold;

    &::before {
      background: $primary_counter_bg;
      color: $primary_counter_text;

      @include breakpoint($only-mobile) {
        position: absolute;
        top: 0.75rem;
        #{$left}: 40%;
      }
    }
  }

  .checkout-progress__step.-previous,
  .checkout-progress__step:last-child.-current {
    background: transparent;
    color: $secondary_counter_bg;
    border: 0;
    padding: 0;
    padding-top: 0.1875rem;

    @include icon(checkshape, before) {
      @include breakpoint($only-mobile) {
        top: 0.5rem !important;
      }
    }

    &::before {
      font-size: 1.5625rem;
      border: 0 none;
      top: 0.25rem;
      color: $secondary_counter_bg;
      margin-#{$left}: -1px;
      background-color: transparent;

      @include breakpoint($tablet) {
        margin-#{$right}: 0.2em;
        margin-#{$left}: 0;
        top: -1px;
        vertical-align: middle;
      }

      @include breakpoint($desktop) {
        font-size: 2rem;
        margin-#{$right}: 0.8125rem;
        position: relative;
        #{$left}: -0.1875rem;
        top: -0.1875rem;
      }
    }

    a {
      color: $secondary_counter_bg;

      @include breakpoint($tablet) {
        margin-#{$right}: 0.375rem;
      }

      @include breakpoint($desktop) {
        margin-#{$right}: 0.625rem;
      }

      @include breakpoint($only-mobile) {
        line-height: 8.1;
      }
    }
  }
}

.alias--cart-checkout-login {
  .block-acq-checkout-progress {
    display: none;
  }
}

.page-standard.l-container.order-confirmation {
  @include breakpoint($only-tablet) {
    margin-top: 1rem;

    main {
      width: 100%;
      float: none;
      max-width: none;
    }

    .block-acm-checkout-progress {
      width: 64.5%;
    }
  }
}

.order-confirmation {
  .block-acm-checkout-progress {
    @include breakpoint($only-mobile) {
      margin-#{$left}: -0.125rem;

      .checkout-progress__step {
        &:not(:first-child) {
          line-height: 8.1;
        }
      }
    }

    .checkout-progress {
      @include breakpoint($only-tablet) {
        margin-top: 1.5rem;
      }
    }
  }

  .checkout-progress__step.-previous,
  .checkout-progress__step:last-child.-current {
    color: $checkout_progress_next_txt;

    @include breakpoint($only-tablet) {
      font-weight: normal;
    }

    .checkout-progress__step:last-child.-current {
      color: $checkout_progress_current_text;
    }

    &::after {
      top: 1.1875rem;

      @include breakpoint($tablet) {
        top: 0.9375rem;
      }

      @include breakpoint($desktop) {
        top: 1.0625rem;
      }
    }

    a {
      color: $checkout_progress_next_txt;
    }
  }

  .checkout-progress__step:last-child.-current {
    @include breakpoint($upto-tablet) {
      width: 34%;

      &::before {
        margin-#{$left}: 0.25rem;
      }
    }
  }
}

#block-checkoutsummaryblock {
  border: 2px solid $order_summary_border;
}
