#edit-billing-address,
.checkout-login,
.c-add-address,
.alias--cart-checkout-payment,
.c-address-book {
  .address-book-address,
  .profile-form {
    .form-actions {
      .cancel-button {
        color: $cancel_button;
        font-family: $hnm-bold;
        font-weight: normal;
        text-transform: capitalize;
      }
    }
  }
}

.c-address-book {
  .region__content {
    .profile-form {
      @include breakpoint($desktop) {
        margin-top: 3rem;
      }
    }
  }
}
