.block-alshaya-algolia-react-autocomplete {
  @include breakpoint($only-mobile) {
    visibility: hidden;
    top: 4rem;
    padding: 0;
    box-shadow: none;

    html[lang="ar"] & {
      padding: 0;
    }
  }

  @include breakpoint($only-tablet) {
    bottom: -3.5rem;

    html[lang="ar"] & {
      bottom: -2.5rem;
    }
  }

  @include breakpoint($desktop) {
    width: 14.812rem !important;
    padding: 0;
  }

  .algolia-search-cleartext-icon {
    #{$right}: 0;

    @include breakpoint($only-mobile) {
      top: 0.875rem;
      #{$right}: 0.5rem;
    }

    @include breakpoint($tablet) {
      #{$right}: 0.3125rem;
    }

    @include breakpoint($desktop) {
      #{$right}: 0;
    }
  }

  .react-autosuggest__input {
    border-width: 0.0625rem;
    border-radius: 0;
    height: 2.8125rem;
    padding-#{$left}: 3.125rem;
    padding-#{$right}: 0.4375rem;
    font-size: 0.9375rem;
    line-height: 2.5;

    @include breakpoint($only-mobile) {
      line-height: 3;
    }

    @include breakpoint($tablet) {
      border-bottom-color: $algolia-auto-complete-border-bottom;
      width: 14.813rem;
    }

    @include breakpoint($only-tablet) {
      border-bottom-color: $algolia-auto-complete-border-bottom;
      width: 100%;
    }

    &::placeholder {
      line-height: 2.5;

      @include breakpoint($only-mobile) {
        line-height: 3.5;

        html[lang="ar"] & {
          line-height: 3.5;
        }
      }
    }
  }

  #alshaya-algolia-autocomplete {
    @include breakpoint($tablet) {
      width: 14.813rem;
      height: 2.8125rem;
      padding: 0;
    }

    .react-autosuggest__container {
      &::before {
        height: auto;
        width: auto;
        background-color: transparent;
      }

      &::after {
        display: block;
        background: transparent url("../../../imgs/icons/search.svg") no-repeat;
        background-position: center;
        border: none;
        text-indent: -9999px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%) !important;
        width: 2.125rem;
        height: 2.125rem;
        #{$left}: 0;
        margin-#{$left}: 0.5rem;

        @include breakpoint($only-mobile) {
          top: 50%;
          #{$right}: inherit;
          #{$left}: 0;
          opacity: 1;
          transition: opacity 0.2s;
        }
      }

      .trending-title {
        font-weight: normal;
      }
    }

    .react-autosuggest__suggestions-container {
      &--open {
        border-width: 0.0625rem;
        border-bottom-#{$left}-radius: 0;
        border-bottom-#{$right}-radius: 0;

        @include breakpoint($only-mobile) {
          border: none;
        }
      }
    }

    .react-autosuggest__input {
      @include breakpoint($only-mobile) {
        margin: 0;
        width: 100%;
        border: 0.0625rem solid $algolia-auto-complete-border;
        height: 3.875rem;
        padding-#{$left}: 3rem;
      }
    }
  }

  &.clear-icon {
    @include breakpoint($only-mobile) {
      &.show-algolia-search-bar {
        .algolia-search-cleartext-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .react-autosuggest__container .algolia-search-back-icon {
    @include breakpoint($only-mobile) {
      top: 0.75rem;
      #{$left}: 0.5rem;
    }
  }

  &.focused {
    #alshaya-algolia-autocomplete {
      .react-autosuggest__container {
        &::after {
          @include breakpoint($only-mobile) {
            opacity: 0;
          }
        }
      }
    }
  }
}

body {
  .block-alshaya-algolia-react-autocomplete {
    &.focused {
      .react-autosuggest__input {
        @include breakpoint($only-mobile) {
          padding-#{$left}: 3rem !important;
        }
      }

      .algolia-search-back-icon {
        @include breakpoint($only-mobile) {
          top: 0.875rem;
        }
      }
    }
  }

  &:not(.no-sticky-algolia-search-bar) {
    @include breakpoint($only-mobile) {
      margin-top: 8rem;
    }

    .block-alshaya-algolia-react-autocomplete {
      @include breakpoint($only-mobile) {
        padding: 0;
      }
    }
  }

  &.no-sticky-algolia-search-bar {
    .block-alshaya-algolia-react-autocomplete {
      &.show-algolia-search-bar {
        @include breakpoint($only-mobile) {
          top: -0.25rem;
        }
      }
    }
  }

  &.frontpage {
    &:not(.Sticky-algolia-search) {
      #alshaya-algolia-autocomplete {
        .react-autosuggest__input {
          @include breakpoint($only-mobile) {
            border: 0.0625rem solid $algolia-auto-complete-border;
          }
        }
      }
    }
  }
}
