// Size Guide Link theme
.size-guide-link {
  float: $right;
  padding-top: 0.625rem;
  font-size: 0.6875rem;
  color: $cerulean;

  + .ajax-progress-throbber {
    @include u-visibility(none);
  }
}

// Size Guide modal popup theming
.nodetype--acq_product .ui-dialog {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;

  @include breakpoint($tablet) {
    padding: calc((100vh - 36rem) / 2) calc((100vw - 48rem) / 2);
  }

  @include breakpoint($desktop) {
    padding: calc((100vh - 34.75rem) / 2) calc((100vw - 64.13rem) / 2);
  }

  .ui-dialog-titlebar {
    padding: 0;

    @include breakpoint($only-tablet) {
      width: 94% !important;
      margin: 0 auto;
    }
  }

  .ui-dialog-content {
    max-height: none !important;
  }

  #drupal-modal {
    background: $white-five;
    padding: 1.5em;
    overflow: hidden;

    @include breakpoint($tablet) {
      height: 36rem !important;
    }

    @include breakpoint($desktop) {
      height: 34.75rem !important;
    }
  }
}
