<div class="alshaya-options-menu">
  <a href="#" class="options-page-menu-title">{{ menu_title }}</a>
  <ul>
    {% for link in links %}
      <li class="options-page-menu-link">{{ link }}</li>
    {% endfor %}
  </ul>
</div>
