<div class="alshaya-options-menu">
  <h2 class="options-page-menu-title">{{ menu_title }}</h2>
  <ul class="options-page-menu-list">
    {% for link in links %}
      <li class="options-page-menu-link">{{ link }}</li>
    {% endfor %}
  </ul>
</div>
