#egift-card-purchase-wrapper {
  .egift-list-wrapper {
    ul {
      li {
        height: rem(41);
        width: rem(64);

        @include breakpoint($only-mobile) {
          height: rem(36);
          width: rem(56);
        }
      }
    }
  }
}
