@import '../../alshaya_white_label/sass/base/_base.scss';

body {
  font-family: $hnm-regular;
}

html,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
