.c-footer-secondary {
  background: $copyright_footer_bg;
  font-size: 0.6875rem;
  position: relative;

  @include breakpoint($tablet) {
    padding: 0 1.5em;
  }

  @include breakpoint($only-mobile) {
    text-align: center;
  }

  .l-container {
    @include container(64.35rem);
  }

  .region__footer-secondary {
    @include breakpoint($tablet) {
      display: flex;
      align-items: center;
    }
  }
}

.c-footer-secondary__region {
  @include breakpoint($tablet) {
    float: $left;
    width: 100%;
  }

  .country-ae & {
    float: none;
    text-align: center;
  }
}

.c-footer__logos {
  line-height: 70px;

  @include breakpoint($tablet) {
    float: $left;
    padding-#{$right}: 1.5rem;
    margin-#{$right}: 1.5rem;
  }

  @include breakpoint($only-mobile) {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 0 0.75rem;
    }
  }

  @include breakpoint($desktop) {
    float: $left;
    margin-#{$right}: 0;
  }

  @include breakpoint($only-tablet) {
    margin-#{$right}: 0;

    ul {
      margin-top: 0.25rem;
    }
  }

  ul {
    @extend %list-clear;
    @extend %list--horizontal;
  }

  li:not(:last-child) {
    @include breakpoint($tablet) {
      margin-#{$right}: 1.8rem;
    }

    @include breakpoint($desktop) {
      margin-#{$right}: 1.6rem;
    }
  }
}

.menu--customer-rights-logo {
  line-height: 70px;

  @include breakpoint($only-mobile) {
    float: none;
  }

  @include breakpoint($only-tablet) {
    ul {
      margin-top: 0.25rem;
    }
  }

  @include breakpoint($tablet) {
    float: $right;
  }

  ul {
    @extend %list-clear;
    @extend %list--horizontal;
  }
}

[class^="c-footer__logo--"] {
  @include u-image-replacement;

  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}

.c-footer__logo--verisign {
  background-image: url(#{$base_theme_img_directory_path}/cards/card-verisign.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.375rem;
  height: 2.1875rem;
}

.c-footer__logo--apple-pay {
  background-image: url(#{$base_theme_img_directory_path}/cards/apple-pay.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.375rem;
  height: 2.1875rem;
}

.c-footer__logo--visa {
  background-image: url(#{$base_theme_img_directory_path}/cards/card-visa.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.0625rem;
  height: 1.75rem;
}

.c-footer__logo--mastercard {
  background-image: url(#{$base_theme_img_directory_path}/cards/card-mastercard.svg);
  width: 5.3125rem;
  height: 1.625rem;
}

.c-footer__logo--customer-rights {
  background-image: url(#{$base_theme_img_directory_path}/cards/customer-right.svg);
  width: 18.1875rem;
  height: 2.0625rem;
}

.c-footer__copy {
  color: $copyright_footer_text;
  line-height: 1.5;

  @include breakpoint($only-tablet) {
    .c-footer-secondary & {
      order: 2;
    }

    .field--name-body {
      p {
        font-size: 0.625rem;
        margin-top: 1rem;
      }
    }
  }

  @include breakpoint($tablet) {
    margin-#{$right}: 1rem;
  }

  @include breakpoint($only-mobile) {
    padding: 2rem 1.25rem;
    line-height: 1.5;
  }

  .field--name-body p {
    margin-top: 0;
    color: $copyright_footer_paragraph;
    font-size: 0.75rem;
    margin-bottom: 0;

    @include breakpoint($only-mobile) {
      line-height: 19px;
    }

    @include breakpoint($tablet) {
      color: $copyright_footer_text;
      font-size: 0.6875rem;
    }
  }

  .field--name-body {
    @include breakpoint($tablet) {
      display: table-cell;
      vertical-align: middle;
    }
  }

  @include breakpoint($desktop) {
    flex: 1;
    order: 2;
    margin-#{$right}: 3rem;
  }
}
