<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-configurables-ATTRIBUTENAME form-item-configurables-ATTRIBUTENAME">
</div>
{# @todo: Remove comments once done. #}
{#
configurable-select can be swatch/select/select-group
 #}
{# <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-configurables-ATTRIBUTENAME form-item-configurables-ATTRIBUTENAME configurable-swatch colour-swatch simple-swatch-effect"> #}

