<div class="mobile-related-wrapper">
  {% if display_crosssell %}
    <div id="rcs-ph-mobile-crosssell-products" class="horizontal-crossell mobile-only-block"></div>
  {% endif %}
  <div id="rcs-ph-mobile-upsell-products" class="horizontal-upell mobile-only-block"></div>
  <div id="rcs-ph-mobile-related-products" class="horizontal-related mobile-only-block"></div>
</div>
