{{ attach_library('alshaya_white_label/rcs-product-related') }}
{% if display_crosssell %}
  <div id="rcs-crosssell-products" class="horizontal-crossell above-mobile-block"></div>
{% endif %}
<div id="rcs-upsell-products" class="horizontal-upell above-mobile-block"></div>
<div id="rcs-related-products" class="horizontal-related above-mobile-block"></div>
