<article data-sku="#rcs.product_teaser._self|sku#" role="article" about="#rcs.product_teaser._self|url#" class="entity--type-node" data-vmode="teaser" gtm-type="gtm-product-link" gtm-category="#rcs.product_teaser.gtm_attributes.category#" gtm-container="not defined" gtm-view-mode="teaser" gtm-cart-value="" gtm-main-sku="#rcs.product_teaser._self|sku#" gtm-name="#rcs.product_teaser.name#" gtm-product-sku="#rcs.product_teaser.gtm_attributes.variant#" gtm-product-sku-class-identifier="#rcs.product_teaser.gtm_attributes.id#" gtm-sku-type="simple" gtm-brand="#rcs.product_teaser.gtm_attributes.brand#" gtm-dimension4="#rcs.product_teaser.gtm_attributes.dimension4#" gtm-price="#rcs.product_teaser.gtm_attributes.price#" gtm-dimension3="#rcs.product_teaser.gtm_attributes.dimension4#" gtm-stock="">
  <a class="open-modal-pdp above-mobile-block" data-dialog-type="modal" data-dialog-options="{'width':'auto'}" href="#rcs.product_teaser._self|url#" tabindex="0">
    <div class="image-label-wrapper">
      <img src="#rcs.product_teaser._self|teaser_image#" alt="#rcs.product_teaser.name#" title="#rcs.product_teaser.name#" typeof="foaf:Image">
      <div class="labels-wrapper" data-type="plp" data-sku="#rcs.product_teaser.sku#" data-main-sku="#rcs.product_teaser.sku#">
      </div>
    </div>
    <h2 class="c-products__item__label">
      <span>#rcs.product_teaser.name#</span>
    </h2>
    <div class="price-block">
      #rcs.product_teaser._self|price#
    </div>
  </a>
  <table class="mobile--only--sell no-cart-form">
    <tbody>
      <tr>
        <td class="sell--image">
          <a href="#rcs.product_teaser._self|url#" rel="bookmark" tabindex="0">
            <img src="#rcs.product_teaser._self|teaser_image#" alt="#rcs.product_teaser.name#" title="#rcs.product_teaser.name#" typeof="foaf:Image" loading="lazy" data-src="#rcs.product_teaser._self|teaser_image#">
          </a>
          <div class="labels-wrapper" data-type="plp" data-sku="#rcs.product_teaser.sku#" data-main-sku="#rcs.product_teaser.sku#">
          </div>
        </td>
      </tr>
      <tr>
        <td class="sell--description">
          <h2 class="c-products__item__label">
            <a href="#rcs.product_teaser._self|url#" rel="bookmark" tabindex="0"><span>#rcs.product_teaser.name#</span>
            </a>
          </h2>
          <div class="price-block">
            #rcs.product_teaser._self|price#
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</article>
