<div class="price-type__wrapper">
  <div class="price">
    <span class="price--wrapper price-wrapper price">
      <div class="price">
        <span class="price-currency suffix">{{ currency }}</span>
        <span class="price-amount">{{formatNumber value 2 }}</span>
      </div>
    </span>
  </div>
</div>
