<div class="content--short-description">
  <h2 class="field__label">{{ 'Product Description'|t }}</h2>
  <div class="field__content-wrapper">
    <div class="field__content">
      <div class="desc-wrapper">
        {# short desc label will be removed if no data #}
        <div class="desc-label">
          {# short desc label will be printed here #}
        </div>
        {# short desc value will be removed if no data #}
        <div class="desc-value">
          {# desc value will be printed here #}
        </div>
      </div>
    </div>
    {# read more will be removed if not needed #}
    <span class="read-more read-more-description-link">{{ 'Read more'|t }}</span>
    <span class="read-more read-more-description-link-mobile">{{ 'Read more'|t }}</span>
  </div>
</div>
