<div id="product-zoom-container">
  {{{ render 'gallery.product.block.product_zoom_default_gallery' }}}
  {{{ render 'gallery.product.block.product_zoom_mobile_gallery' }}}
  {{!-- Add swatch images as magazine --}}
  {{#if (eq pdp_gallery_type 'classic')}}
    {{!-- {% block magazineGallery %} --}}
      <div class="magazine__gallery--container">
        <div class="magazine-product-description">
          <div class="magazine-swatch-placeholder"></div>
        </div>
      </div>
    {{!-- {% endblock %} --}}
  {{/if}}
  {{{ render 'gallery.product.block.product_zoom_modal_gallery' }}}
</div>
