<div class="delivery-options-wrapper">
  <div class="product-out-of-stock-layer"></div>
  {{{render 'product.delivery_option_hd' this.hd }}}
  {{{render 'product.delivery_option_cnc' this.cnc }}}
</div>
