<div class="content--description">
  <span class="close"></span>
{#  @todo add plugin for comments#}
{#  @todo add plugin for |t#}
  <h2 class="field__label">{{ 'Product Description'|t }}</h2>
  <div class="field__content">
    {#  @todo add plugin for if condition#}
    {% if value %}
    <div class="desc-wrapper">
      {% if label %}
      <div class="desc-label">
        {{ label }}
      </div>
      {% endif %}
      <div class="desc-value">
        {{ value }}
      </div>
    </div>
    {% endif %}
    {{ content.legal_notice }}
  </div>
</div>
<div class="gradient-holder"></div>
