<div class="content--description">
  <span class="close"></span>
  <h2 class="field__label">{{ 'Product Description'|t }}</h2>
  <div class="field__content">
    {# desc-wrapper will be removed with js if value is empty #}
    <div class="desc-wrapper">
      {# desc-label will be removed with js if label is empty #}
      <div class="desc-label">
        {# desc label will be printed here #}
      </div>
      <div class="desc-value">
        {# desc value will be printed here #}
      </div>
    </div>
    {# legal notice will be printed here #}
    <div class="legal-notice desc-wrapper">
      <div class="desc-label">
        {# label will be printed here #}
      </div>
      <div class="desc-value">
        {# value will be printed here #}
      </div>
    </div>
  </div>
</div>
<div class="gradient-holder"></div>
