{% extends '@alshaya_white_label/layout/maintenance-page.html.twig' %}
{% block maintenanceLogo %}
  <div class="maintenance__logo">
    {% include active_theme_path() ~ '/site-logo.svg' %}
  </div>
{% endblock %}
