{% extends "@alshaya_white_label/layout/page--cart--checkout--confirmation.html" %}

{% block checkout_confirm_content %}
  <div class="main-content-wrapper">
    {{ page.content|without('checkoutregistrationblock', 'jointheclub_checkout_confirm', 'youllbeableto_checkout_confirm') }}
  </div>
  <div class="content-footer">
  <div class="content-footer-left">
    {{ page.content.checkoutregistrationblock }}
  </div>
  <div class="content-footer-right">
    {{ page.content.youllbeableto_checkout_confirm }}
    {{ page.content.jointheclub_checkout_confirm }}
  </div>
</div>
{% endblock %}
