// Alshaya White Label
$black: #000;
$black-two: #333;
$brownish-grey: #666;
$white-three: #ebebeb;
$cobalt-blue: #001b96;
$off-blue: #5482ab;
$tealish: #3ad6c5;
$slime-green: #94d400;
$maize: #f3cf45;
$rosy-pink: #f36682;
$deep-pink: #c90062;
$cherry: #c60c30;
$soft-blue: #6aade4;
$cerulean: #0080ce;
$dark-sand: #ac8e54;
$peacock-blue: #0060aa;
$windows-blue: #3680cb;
$very-light-blue: #d9efff;
$marine-blue: #003773;
$medium-green: #3ab549;
$tomato: #e6591a;
$grey-shade: #c1c1c1;
// Mothercare
$warm-grey: #9b9b9b;
$black: #333;
$white: #ebebeb;
$pumpkin-orange: #ff6d22;
$tealish: #3ad6c5;
$twilight-blue: #0e3e6f;
$windows-blue: #3680cb;
$cobalt-blue: #001b96;
$soft-blue: #6aade4;
$cherry: #c60c30;
$scarlet: #d0021b;
$off-blue: #5482ab;
$deep-pink: #c90062;
$maize: #f3cf45;
$rosy-pink: #f36682;
$slime-green: #94d400;
$cerulean: #0080ce;
$dark-sand: #ac8e54;
$deep-red: #9a0000;
$scarlet-two: #d0011b;
$pinkish-tan: #dd8a8a;
$pale-grey: #e8eff5;
$tomato: #e6591a;
$medium-green: #3ab549;
$marine-blue: #003773;

// Mother care custom colors
$white-smoke: #f4f4f4;
$white-smoke-light: #f2f2f2;
$whisper: #ececec;
$whisper-light: #ebebeb;
$whisper-dark: #e5e5e5;
$whisper-ash: #ebedef;
$solitude: #e0eaf3;
$denim: #d7e5f0;
$light-greyish: #ccc;
$greyish: #adadad;
$white-four: #f7f7f7;
$grey-ash: #666;
$marine-blue-two: #003971;
$white: #ddd;
$white-two: #e5e5e5;
$white-five: #fff;
$matterhorn: #535353;
$cerulean-two: #0084cc;
$red-error: #d0011b;
$pumpkin-orange: #ff6d22;
$light-ash: #9c9c9c;
$alice-blue: #f0f6fc;
$shadow: #dae7ee;
$breadcrumb-active: #262626;
$blue-two: #03295e;
$blue-three: #032760;
$faun: #f9f8f6;
$message-info: #ffee9c;
$special-price: #b70025;
