button.edit-add-to-cart {
  &.ladda-button[data-style=zoom-in][data-loading] {
    .ladda-spinner {
      background-image: url($base_theme_loader_img_directory_path);
      background-size: contain;
      top: 0.125rem;
      #{$left}: 37%;

      > div {
        display: none;
      }
    }
  }
}

.button.status-pending,
.button.status-delivered,
.button.status-complete,
.button.status-processing,
.button.status-returned,
.button-wide,
.user-communication-preference .form-submit {
  text-transform: uppercase !important;
}

span.out-of-stock {
  text-transform: uppercase !important;
}
