.user-page.checkout-delivery.checkout-payment {
  .multistep-checkout {
    border: 1px solid $checkout_payment_form_border;
    border-top: 1px solid !important;

    @include breakpoint($only-mobile) {
      border: none !important;
    }

    fieldset#edit-acm-payment-methods {
      > legend {
        display: block;
        padding: 0 1.5rem;
        padding-top: 0.9375rem;

        @include breakpoint($only-mobile) {
          padding: 0;
        }

        .fieldset-legend {
          padding: 0.4375rem 0;
          font-size: 1rem;

          @include breakpoint($only-mobile) {
            padding-top: 0;
            padding-bottom: 0.5625rem;
            margin-bottom: 0.5625rem;
          }
        }
      }

      > .fieldset-wrapper {
        @include clearfix;

        margin: 1.5rem 1.5rem 0;
        border: 1px solid $checkout_section_border;
        border-top: 0;

        @include breakpoint($only-mobile) {
          margin: 0;
        }
      }
    }
  }

  #payment_method_cybersource {
    #payment_details {
      border-top: 0;
    }
  }

  #edit-checkout-terms {
    margin-top: 0;
  }
}

#payment_method_cybersource {
  #payment_details {
    padding: 1rem 1.375rem;
  }

  .card-types-wrapper {
    @include breakpoint($only-mobile) {
      top: 3.3125rem;
    }

    .card-type {
      margin-#{$left}: 0;

      &-visa {
        background: url('../../alshaya_white_label/imgs/cards/visa-inactive.png') no-repeat;
        background-size: 100%;

        &.active {
          background-image: url('../../alshaya_white_label/imgs/cards/visa-active.png');
        }
      }

      &:nth-child(2) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  #payment_method_title_cybersource {
    @include breakpoint($only-mobile) {
      min-height: 6rem;
    }
  }
}

.cvv-wrapper {
  .cvv-help-text-wrapper {
    position: static;

    .mobile-tooltip-icon {
      display: none;
    }
  }
}

#payment_details {
  .cc_cvv_help_text {
    display: block;
    position: relative;
    #{$left}: 0;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1rem;

    @include breakpoint($only-tablet) {
      html[lang=ar] & {
        width: 100%;
        top: -0.25rem;
        #{$left}: 0;
      }
    }

    @include breakpoint($desktop) {
      position: absolute;
      #{$left}: 52%;
      width: 40%;
      margin: 0;
    }

    &::before {
      border-radius: 0.25rem;
    }
  }

  .form-item-acm-payment-methods-payment-details-wrapper-payment-method-cybersource-payment-details-cc-cvv {
    html[lang=ar] & {
      width: 50%;

      @include breakpoint($upto-desktop) {
        width: 100%;
      }
    }
  }

  .form-item-acm-payment-methods-payment-details-wrapper-payment-method-cybersource-payment-details-cc-cvv,
  .form-item-acm-payment-methods-payment-details-wrapper-payment-method-cybersource-payment-details-cc-number {
    width: 100%;

    @include breakpoint($desktop) {
      width: 50%;
    }
  }

  .form-item-acm-payment-methods-payment-details-wrapper-payment-method-cybersource-payment-details-cc-exp-year,
  .form-item-acm-payment-methods-payment-details-wrapper-payment-method-cybersource-payment-details-cc-exp-month {
    margin-#{$right}: 2%;
    width: 49%;

    @include breakpoint($desktop) {
      margin-#{$right}: 2%;
      width: 24%;
    }

    select {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $primary_input_border;
    }

    .select2-container {
      width: 100% !important;

      .select2-selection {
        width: 100%;
        border: 0;
        border-bottom: 1px solid $primary_input_border;
      }
    }
  }

  .form-item-acm-payment-methods-payment-details-wrapper-payment-method-cybersource-payment-details-cc-exp-year {
    @include breakpoint($upto-desktop) {
      width: 49%;
      margin-#{$right}: 0;
    }
  }
}

#payment_details_wrapper {
  & > .form-wrapper {
    .payment-plugin-wrapper-div {
      &.plugin-selected {
        &::before {
          border-color: $secondary_border;
          border-width: 0.25rem;
        }
      }

      .payment-method-name {
        @include breakpoint($only-tablet) {
          width: 89.5%;
        }
      }

      .method-title {
        @include breakpoint($only-mobile) {
          font-size: 0.875rem;
        }
      }
    }

    &:last-child {
      .payment-plugin-wrapper-div:not(.plugin-selected) {
        border-bottom: none;
      }
    }
  }

  #payment_method_knet {
    border-top: 0;
  }
}

#edit-checkout-terms {
  padding: 1rem 2rem;

  @include breakpoint($only-mobile) {
    padding: 1.6875rem 0.5625rem 0;
  }

  .form-type-checkbox {
    .option {
      &::before {
        top: 0;
        position: absolute;
        #{$left}: 0;
      }

      p {
        padding-#{$left}: 2rem;

        @include breakpoint($only-mobile) {
          width: 100%;
        }
      }
    }

    label {
      font-size: 0.875rem;
    }
  }

  a {
    color: $checkout_payment_terms_text;
    font-family: $vs-bold;
    font-weight: normal;
  }
}

.payment-return-to-delivery {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

#edit-billing-address {
  .fieldset-wrapper {
    font-size: 0.875rem;
    padding: 1rem 2rem;

    @include breakpoint($only-mobile) {
      padding: 0 0.5625rem;
    }

    #edit-billing-address-same-as-shipping {
      display: block;
      padding-top: 0.75rem;
      padding-#{$left}: 0;

      .form-item-billing-address-same-as-shipping {
        label {
          font-size: 0.875rem;
        }

        @include breakpoint($upto-desktop) {
          margin-top: 0.3125rem;
          margin-#{$right}: 1.75rem;
        }
      }
    }
  }
}

.cybersource-ajax-progress-throbber {
  .cybersource-throbber {
    background: url(../imgs/icons/VS-loader.svg) center no-repeat;
  }
}

.cybersource-global-error {
  margin: 1.5rem 0;

  @include breakpoint($tablet) {
    margin: 1.5rem 1.5rem 0;
  }
}

#payment_details_wrapper {
  > div:first-child {
    border-top: none;

    .payment-plugin-wrapper-div {
      border-top: 1px solid $checkout_payment_option_border;
    }

    @include breakpoint($only-mobile) {
      border-top: none;
    }
  }
}

.checkout-payment {
  form.multistep-checkout {
    .messages__wrapper {
      @include breakpoint($tablet) {
        border-top: none;

        + #edit-acm-payment-methods {
          #payment_details_wrapper {
            > div:first-child {
              border-top: none;
            }
          }
        }
      }
    }
  }
}
