.page-standard.l-container.l-two--sf.checkout {
  &.c-delivery-checkout,
  &.checkout-payment {
    @include breakpoint($tablet) {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .c-sidebar-second {
    @include breakpoint($desktop) {
      width: 22.9%;
      max-width: 17.6875rem;
    }

    @include breakpoint($only-tablet) {
      width: 31.1%;
    }
  }

  &.checkout-delivery {
    form.show-only-buttons {
      #edit-delivery-tabs {
        .tab:not(.tab-separator) {
          @include breakpoint($only-mobile) {
            border: 1px solid $checkout_tab_active_border !important;

            h2 {
              font-family: $vs-bold;
            }
          }
        }
      }
    }

    #edit-delivery-tabs {
      @include breakpoint($only-tablet) {
        margin-top: 0;
      }

      .tab {
        @include breakpoint($desktop) {
          width: 45.6%;
          height: 5.5rem;

          h2 {
            padding-top: 0.5625rem;
            font-size: 0.875rem;
          }
        }

        @include breakpoint($only-tablet) {
          width: 45.5%;
          height: 5.5rem;

          h2 {
            font-size: 0.875rem;
          }

          &.tab-click-collect.active--tab--head {
            margin-#{$left}: 2px;
          }
        }

        @include breakpoint($only-mobile) {
          &.active--tab--head {
            border: 1px solid $checkout_tab_active_border !important;
          }
        }

        &:not(.active--tab--head) {
          @include breakpoint($tablet) {
            margin-top: -1px;
          }
        }

        &.tab-click-collect.active--tab--head {
          html[lang=ar] & {
            margin-right: -2px;

            @include breakpoint($only-tablet) {
              margin-right: 2px;
            }
          }
        }

        p {
          @include breakpoint($only-tablet) {
            html[lang=ar] & {
              min-height: 1.75rem;
            }
          }
        }
      }

      .tab-separator {
        @include breakpoint($tablet) {
          width: 9.1%;
        }

        @include breakpoint($only-mobile) {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.alias--cart-checkout-delivery,
.alias--cart-checkout-payment,
.alias--cart-checkout-confirmation,
.alias--cart-checkout-login {
  .site-brand-home {
    @include breakpoint($only-mobile) {
      text-align: center;
    }
  }
}

.alias--cart-checkout-delivery,
.alias--cart-checkout-payment,
.alias--cart-checkout-confirmation {
  .block-page-title-block {
    @include breakpoint($tablet) {
      padding-top: 0.75rem !important;
    }
  }

  ol.checkout-progress {
    @include breakpoint($desktop) {
      margin-top: 1.4375rem;
      padding-#{$left}: 0.75rem;
      margin-bottom: 0.6875rem;
    }

    @include breakpoint($only-tablet) {
      padding-#{$left}: 0;
    }
  }
}

.block-checkout-summary-block {
  .delivery-type {
    border-top: none;
  }

  .delivery-type,
  .address {
    font-family: $vs-bold;
    font-weight: normal;

    .method,
    .delivery-address {
      line-height: 1.33;
    }

    .method,
    .delivery-address,
    a {
      font-family: $vs-regular;
    }
  }
}

.select-transaction-type {
  font-family: $vs-regular;
  font-weight: normal;
  text-transform: capitalize;
}
