.page-standard.user-page.checkout-delivery {
  main form {
    .tab h2,
    .fieldset-legend h2 {
      text-transform: capitalize;
    }

    #edit-guest-delivery-home .title,
    fieldset .title {
      font-family: $vs-regular;
      text-transform: capitalize;
    }

    .form-actions a.back-to-basket {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    fieldset {
      #addresses-header {
        #add-address-button {
          font-family: $vs-regular;
          text-transform: capitalize;

          @include breakpoint($only-mobile) {
            position: absolute;
            width: auto;
            #{$right}: 0;
            top: -3px;
          }
        }
      }
    }
  }

  .block-page-title-block h1 {
    text-transform: capitalize;
  }

  #edit-delivery-tabs {
    .tab h2 {
      font-family: $vs-regular;
    }

    .tab-separator {
      font-family: $vs-regular;
      font-weight: normal;
      font-size: 1rem;
    }

    .tab.active--tab--head h2 {
      font-family: $vs-bold;
    }

    hr {
      border: 0;
    }
  }

  .address {
    .address--options {
      padding: 0;
      text-transform: uppercase;
    }

    .address--deliver-to-this-address a,
    .address--controls {
      padding: 0.625rem 0.875rem;
      min-height: 0;
    }
  }

  #edit-member-delivery-home-addresses {
    .address--edit a {
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .address--deliver-to-this-address a {
      border: 0;
      margin: 0;
      border-#{$right}: 1px solid $address_button_border;
      padding: 0.625rem 0.875rem;
    }
  }
}

#block-checkoutprogress,
.block-acm-checkout-progress {
  .checkout-progress__step.-next,
  .checkout-progress__step.-previous {
    color: $checkout_progress_text;

    &::before {
      border-color: $checkout_progress_border;
      color: $checkout_progress_next_txt;
    }
  }

  .checkout-progress__step.-previous {
    color: $checkout_progress_current_text;

    &.-complete {
      @include breakpoint($only-mobile) {
        &::before {
          font-size: 2.0625rem;
        }

        a {
          line-height: 9.1;
        }
      }
    }
  }

  .checkout-progress__step.-current,
  .checkout-progress__step.-current::before {
    font-family: $vs-bold;
    font-weight: normal;
  }

  .checkout-progress__step {
    @include breakpoint($only-tablet) {
      font-size: 0.875rem;

      &.-complete {
        line-height: normal;
      }
    }

    @include breakpoint($only-mobile) {
      line-height: 8;

      &::before {
        font-size: 0.875rem;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 24px;
      }

      &::after {
        #{$left}: 68%;
        top: 1.5rem;
      }
    }
  }

  .checkout-progress {
    @include breakpoint($only-mobile) {
      margin-top: 0.625rem;
      padding-top: 0;
    }
  }
}

.acq-cart-summary {
  .left {
    width: 27%;
  }

  .right {
    float: $left;

    .product-qty {
      margin-bottom: 0.3125rem;
    }
  }

  .caption {
    padding: 0.875rem 0;
    font-size: 0.875rem;

    .title {
      font-weight: normal;
      font-family: $vs-bold;
    }
  }

  .content {
    .content-head {
      padding: 1rem 0;
      font-size: 0.875rem;

      &::after {
        #{$right}: 0;
      }
    }

    img {
      border: 1px solid $checkout_section_border;
      padding: 0.125rem;
      width: 4.0625rem;
    }
  }

  .totals {
    font-size: 0.875rem;
    border-bottom: 1px solid $order_summary_section_border;
    padding: 0.75rem 0;

    .sub-total,
    .order-total {
      & > span {
        width: 46%;
      }

      .total--amount,
      .price-type__wrapper {
        width: 41%;

        @include breakpoint($only-tablet) {
          width: 47%;
        }

        @include breakpoint($only-mobile) {
          width: 34%;
        }
      }
    }

    .order-total {
      font-weight: normal;
      font-family: $vs-bold;
    }

    .status {
      color: $ash-triplet;
    }
  }

  .delivery-type,
  .address {
    font-size: 0.875rem;
  }

  .delivery-type,
  .address,
  li {
    padding: 1rem 0;
  }

  .delivery-type {
    .method {
      margin-top: 0;
    }
  }

  .address {
    .delivery-address {
      margin-top: 0;
    }
  }
}

#block-checkoutsummaryblock {
  border: 0;

  &.fix-block {
    @include breakpoint($tablet) {
      width: 32.5%;
      padding-#{$right}: 1rem;
    }

    @include breakpoint($desktop) {
      width: 22.9%;
      max-width: 17.6875rem;
      padding-#{$right}: 0;
    }
  }
}
