.block-alshaya-algolia-react-autocomplete {
  @include breakpoint($only-mobile) {
    visibility: hidden;
    top: 3.125rem;
    padding: 0;

    &.show-algolia-search-bar {
      top: 3.125rem !important;
    }
  }

  @include breakpoint($only-tablet) {
    bottom: 0;
    visibility: hidden;

    &.show-algolia-search-bar {
      visibility: visible;
    }
  }

  .algolia-search-cleartext-icon {
    top: 0.1rem !important;
    #{$right}: 0.3rem !important;

    @include breakpoint($only-tablet) {
      top: 1.2rem !important;
      #{$right}: 1.4rem !important;
    }

    @include breakpoint($desktop) {
      top: 1.2rem !important;
      #{$right}: 0 !important;
    }
  }

  &.clear-icon {
    #alshaya-algolia-autocomplete .react-autosuggest__input {
      padding-#{$right}: 2.5rem !important;

      @include breakpoint($tablet) {
        padding-#{$right}: 3.4rem !important;
      }

      @include breakpoint($desktop) {
        padding-#{$right}: 2rem !important;
      }
    }

    @include breakpoint($only-tablet) {
      .algolia-search-cleartext-icon {
        opacity: 0;
        visibility: hidden;
      }
    }

    @include breakpoint($only-mobile) {
      &.show-algolia-search-bar {
        .algolia-search-cleartext-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .react-autosuggest__container .algolia-search-back-icon {
    color: $algolia-search-clear-text-icon;

    &::before {
      content: none;
    }
  }

  #alshaya-algolia-autocomplete {
    width: 100%;
    height: 2.375rem;
    padding: 0;
    background: $white-smoke-light;

    @include breakpoint($desktop) {
      width: 12.5rem;
      height: 2.375rem;
    }

    @include breakpoint($only-tablet) {
      top: 8.84rem;
      bottom: auto;
      border: 0.5rem solid $nero;
      z-index: 100;
      height: 3.375rem;
    }

    @include breakpoint($only-mobile) {
      top: 2.4375rem;
      bottom: auto;
      border: 0.5rem solid $nero;
      z-index: 14;
      height: 3.375rem;
    }

    & > div {
      height: 100%;
    }

    .react-autosuggest__input {
      color: $algolia-input-text;
      font-size: 0.875rem;
      border-radius: 0;
      border: 0.0625rem solid transparent;
      height: 100%;
      background: $white-smoke-light;
      text-transform: none;
      padding: 0.4375rem;

      @include breakpoint($only-mobile) {
        margin: 0;
        width: 100%;
        padding-#{$left}: 2.3125rem;
      }

      @include breakpoint($only-tablet) {
        padding-#{$right}: 2rem;
      }

      @include breakpoint($desktop) {
        padding-#{$left}: 2rem;
      }

      &::placeholder {
        font-size: 0.75rem;
        line-height: 1.4375rem;
        color: $algolia-input-placeholder-text;
        text-transform: capitalize;

        @include breakpoint($only-tablet) {
          font-size: 0.875rem;
        }

        @include breakpoint($only-mobile) {
          font-size: 0.875rem;
        }
      }

      &--open {
        border: 0.0625rem solid $algolia-auto-complete-border;
      }
    }

    .ais-InstantSearch__root {
      height: 100%;

      form {
        border: none;
        height: 100%;

        @include breakpoint($tablet) {
          box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.24);
        }

        @include breakpoint($desktop) {
          box-shadow: none;
          border: none;
        }
      }
    }

    .react-autosuggest__container {
      position: relative;
      height: 100%;

      @include breakpoint($only-mobile) {
        height: 100%;
        width: 100%;
        overflow: inherit;
      }

      &::after {
        @include breakpoint($only-mobile) {
          top: 50%;
          transform: translateY(-50%);
          #{$right}: unset;
          #{$left}: 0.25rem;
          opacity: 1;
          transition: opacity 0.2s;
        }

        @include breakpoint($tablet) {
          content: none;
        }
      }

      @include icon(search, before) {
        height: auto;
        width: 1.5625rem;
        top: 50%;
        transform: translateY(-50%);
        color: $warm-grey;
        background: none;
        #{$left}: 0.5rem;
        font-size: 1.25rem;
        border-radius: 0;

        @include breakpoint($only-tablet) {
          #{$right}: 0.35rem;
          #{$left}: auto;
          font-size: 1.75rem;
        }

        @include breakpoint($only-mobile) {
          content: none;
        }
      }

      &--open {
        .react-autosuggest__input {
          @include breakpoint($tablet) {
            border: 1px solid $algolia-auto-complete-border;
            border-radius: 0;
          }
        }
      }

      .trending-title {
        color: $algolia-trending-title-text;
        text-transform: capitalize;
        padding: 0.625rem !important;
      }

      .react-autosuggest__suggestion {
        cursor: pointer;

        .aa-suggestion {
          &:hover {
            background-color: $algolia-search-suggestion-hover-bg;
          }

          .suggested-text {
            padding: 0.625rem !important;
          }
        }
      }
    }

    .react-autosuggest__suggestions-container {
      @include breakpoint($only-mobile) {
        position: absolute;
      }

      &--open {
        margin-top: 0;
        border: 1px solid $algolia-auto-complete-border;
        box-shadow: none;
        border-radius: 0;
        border-top: none;

        @include breakpoint($only-mobile) {
          border-top: none;
          position: absolute;
        }

        @include breakpoint($desktop) {
          border-top: none;
        }
      }
    }
  }

  &.focused.show-algolia-search-bar {
    #alshaya-algolia-autocomplete {
      .react-autosuggest__container {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}

@include breakpoint($only-mobile) {
  html[lang=ar] {
    .block-alshaya-algolia-react-autocomplete {
      top: 3.125rem;
      padding: 0;
    }

    body {
      &:not(.no-sticky-algolia-search-bar) {
        margin-top: 7.3125rem;
      }
    }
  }
}

body {
  &:not(.no-sticky-algolia-search-bar) {
    .block-alshaya-algolia-react-autocomplete {
      @include breakpoint($only-mobile) {
        padding: 0;
      }
    }
  }

  .block-alshaya-algolia-react-autocomplete {
    .algolia-search-back-icon {
      @include breakpoint($upto-desktop) {
        #{$left}: 0;
        top: 0;
      }
    }
  }

  &.frontpage {
    .mobile--search {
      visibility: hidden;
    }
  }
}
