.alias--cart-checkout-delivery,
.alias--cart-checkout-login,
.alias--cart-checkout-payment,
.alias--cart-checkout-confirmation {
  .c-post-content {
    border-bottom: 1px solid $checkout_footer_border-top;
  }
}

.block-checkout-summary-block {
  .delivery-type,
  .address {
    font-family: $alshaya-bold;
    text-transform: capitalize;

    @include breakpoint($upto-desktop) {
      font-size: 0.875rem;
    }

    .method,
    .delivery-address {
      font-family: $alshaya-thin;

      @include breakpoint($upto-desktop) {
        font-size: 0.875rem;
      }
    }
  }
}
