.user__order--detail {
  .order-item-row {
    &.online-returns-eligibility-message {
      #online-returns-eligibility-window {
        .return-items-button {
          background-color: $online-return-eligibility-button-bg;
          border-radius: 0;
        }

        .eligibility-window-container {
          font-family: $alshaya-thin;
        }

        .find-stores {
          font-family: $alshaya-bold;
        }

        .return-message {
          padding-#{$left}: rem(38);
        }
      }
    }
  }
}

.image-data-wrapper {
  &.big-ticket-item,
  &.in-eligible {
    .big-ticket-item-label,
    .not-eligible-label {
      font-family: $alshaya-thin;
    }
  }
}

.online-returns-cart-banner {
  color: $online-return-eligibility-button-txt;

  span {
    &::before {
      background: url("#{$nb_theme_img_directory_path}/icons/style-icons-ui-return.svg") no-repeat;
    }
  }
}
