.order-detail {
  &.l-two--sf {
    padding-top: 0;
  }

  .item-list {
    @include breakpoint($only-tablet) {
      margin-top: 1rem;
    }
  }

  .c-page-title {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $primary_border;

    @include breakpoint($only-mobile) {
      margin-top: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }

    @include breakpoint($tablet) {
      margin-bottom: 2.25rem;
    }

    @include breakpoint($only-tablet) {
      margin-top: 0.5rem;
    }

    @include breakpoint($desktop) {
      padding-bottom: 1rem;
      margin-bottom: 2.625rem;
    }
  }

  .region__content {
    position: relative;
  }

  .order-transaction + div .dark {
    @include breakpoint($tablet) {
      white-space: nowrap;
      overflow: hidden;
      max-width: 7.1rem;
      text-overflow: ellipsis;
      line-height: 1.2;

      html[lang="ar"] & {
        position: relative;
        display: inline-block;
      }
    }

    @include breakpoint($desktop) {
      max-width: 10.375rem;
    }
  }

  .print--button {
    display: none;
    position: absolute;
    #{$right}: 0;
    top: 1rem;

    @include breakpoint($tablet) {
      display: block;
    }

    @include breakpoint($desktop) {
      top: -0.5rem;
      min-width: 11.5625rem;
    }

    &:hover,
    &:active,
    &:focus {
      color: $primary_btn_text;
    }
  }

  .download-invoice-wrapper {
    position: absolute;
    top: 2.375rem;
    #{$right}: 11rem;
    text-transform: lowercase;

    @include breakpoint($desktop) {
      #{$right}: 13rem;
      top: 0.5rem;
    }

    @include breakpoint($only-mobile) {
      position: relative;
      text-align: right;
      margin: 0.5rem 0;
      top: 0;
      #{$right}: 0;
    }

    .download-invoice {
      color: $content_link_color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .user__order--detail {
    border-top: none;

    div.order-item-row,
    div.order-details-row,
    div.order-summary-row {
      > div {
        @include breakpoint($only-tablet) {
          padding: rem(22) rem(8) rem(55) rem(16) !important;
          min-width: rem(112);

          &.empty--cell {
            min-width: rem(48);
          }
        }
      }
    }

    div.order-item-row {
      > div:nth-child(2) {
        @include breakpoint($only-tablet) {
          overflow-wrap: break-word;
        }
      }
    }

    .sub-total-row,
    .delivery-charge-row,
    .total-row,
    .discount-row,
    .surcharge-row {
      > div {
        @include breakpoint($only-tablet) {
          padding: rem(10) rem(15);
        }
      }
    }

    .total-row {
      div:nth-child(3) > div {
        margin-bottom: 0;

        html[lang="ar"] & {
          line-height: 1.5 !important;
        }
      }

      .right--align {
        .vat-row {
          display: block;

          div.warm--white {
            padding: 0;
            margin: 0;
            margin-top: rem(4);
          }
        }
      }

      &:not(.vat-row) {
        > .warm--white {
          display: flex;
          align-items: center;
        }
      }
    }

    .delivery-details-row {
      .above-mobile {
        display: block;
      }
    }

    .above-mobile {
      @include breakpoint($only-mobile) {
        display: none !important;
      }
    }

    .desktop-only {
      @include breakpoint($upto-desktop) {
        display: none !important;
      }
    }

    > div {
      > div {
        @include breakpoint($only-mobile) {
          width: auto;
        }

        &.above-mobile.blend {
          @include breakpoint($only-tablet) {
            width: auto;
            padding: rem(22) rem(8) rem(55) rem(16) !important;
          }
        }
      }

      &.sub-total-row,
      &.delivery-charge-row,
      &.surcharge-row,
      &.discount-row {
        > div.blend {
          @include breakpoint($only-tablet) {
            width: auto;
            min-width: auto;
          }
        }
      }
    }

    .order-summary-row {
      > .mobile-only {
        margin-top: 0;
      }

      > div {
        .blend {
          background: $order_detail_order_summary_row_td_blend;
        }

        &.above-mobile,
        &.empty--cell {
          width: auto;
        }
      }
    }

    .order-summary-row,
    .order-details-row,
    .order-item-row:not(.online-returns-eligibility-message):not(.delivered-items):not(.cancelled-items):not(.cancelled-refund-text),
    .sub-total-row,
    .delivery-charge-row,
    .duties-taxes-row,
    .surcharge-row,
    .discount-row,
    .total-row {
      display: grid;
      grid-template: "a b" auto/ rem(187) auto;

      @include breakpoint($tablet) {
        grid-template: "a b c d" auto/rem(135) minmax(auto, 2fr) minmax(auto, 1.75fr) minmax(8.75rem, auto);
      }

      @include breakpoint($desktop) {
        grid-template: "a b c d e" auto/ rem(200) auto rem(166) rem(169) rem(180);
      }
    }

    div.cancelled-refund-text {
      > div {
        padding: rem(16) 0 rem(3);

        @include breakpoint($tablet) {
          padding: rem(26) 0 rem(7) !important;
        }
      }

      .tooltip-anchor {
        &::before {
          content: unset;
        }
      }

      span {
        color: inherit;
      }
    }

    .cancelled-items {
      div {
        padding: 0;
      }
    }
  }

  .order-summary-row {
    .order-transaction,
    .order-name.above-mobile,
    .order__summary--status,
    .order-total.above-mobile,
    .aura-points.above-mobile {
      width: auto;
    }

    .order-name,
    .order__summary--status,
    .aura-points {
      @include breakpoint($desktop) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }

  .vat-row {
    > div {
      grid-area: b;

      @include breakpoint($only-mobile) {
        #{$left}: 0 !important;
      }

      @include breakpoint($tablet) {
        grid-area: c;
      }

      @include breakpoint($desktop) {
        grid-area: d;
      }
    }
  }
}

.user__order--detail {
  font-family: $arial;
  line-height: 1;
  background: $order_detail_table_bg;
  border-top: 1px solid $primary_table_border;
  width: 100%;
  font-size: 0.75rem;
  margin-bottom: 5.5rem;

  @include breakpoint($desktop) {
    font-size: 0.875rem;
  }

  .light {
    color: $order_detail_td_light_content;
    line-height: 1.4;
  }

  .dark {
    color: $order_detail_td_dark_content;
    font-weight: 700;

    &.reference-no {
      @include breakpoint($tablet) {
        margin-bottom: 3.125rem;
      }
    }
  }

  .font-small {
    font-size: 0.75rem;
  }

  .order-transaction {
    @include breakpoint($tablet) {
      width: 23%;
    }
  }

  .empty--cell {
    width: 2.1825rem;

    @include breakpoint($desktop) {
      width: 133px;
    }
  }

  .sub-total-row,
  .delivery-charge-row,
  .duties-taxes-row,
  .total-row,
  .discount-row,
  .surcharge-row {
    background: $order_detail_total_tr_row;

    > div {
      padding: rem(10) rem(22);

      @include breakpoint($only-tablet) {
        padding: rem(10) rem(16);
      }
    }

    div.right--align {
      text-align: $right;
      min-width: rem(128);

      html[lang="ar"] & {
        @include breakpoint($only-mobile) {
          min-width: rem(160);
          padding: rem(10) rem(16);
        }
      }
    }

    div.blend {
      div {
        margin-bottom: 0;
      }
    }
  }

  .total-row {
    .right--align {
      @include breakpoint($only-mobile) {
        padding-top: rem(0);
      }
    }
  }

  .discount-row,
  .duties-taxes-row {
    > div {
      &:nth-child(3) {
        background: $order_detail_total_tr_row;
      }

      &:nth-child(4) {
        background: $order_detail_total_tr_row_price_td;
      }
    }
  }

  .delivery-details-row {
    font-size: 0.8125rem;
    font-weight: 700;
    border-top: 1px solid $order_detail_delivery_details_row_border;
    border-bottom: 1px solid $order_detail_delivery_details_row_border;

    @include breakpoint($desktop) {
      font-size: 0.9375rem;
    }

    > div {
      background: $order_detail_delivery_details_row_bg;
      padding: rem(20) rem(16);
      padding-#{$left}: rem(56);
      text-indent: -2.5rem;
      vertical-align: middle;

      .icon-ic_infomation {
        font-size: 1.9375rem;
        font-weight: 700;
        margin-#{$right}: 0.7rem;
        vertical-align: middle;
      }

      @include breakpoint($tablet) {
        padding: 1.125rem 1.375rem;
        padding-#{$left}: 56px;
        text-indent: -2.125rem;
      }

      &.blend {
        @include breakpoint($only-tablet) {
          padding-left: 0;
        }
      }
    }

    .blend {
      @include breakpoint($desktop) {
        background: $order_detail_delivery_details_row_td_blend;
      }
    }
  }

  .delivery-details-row,
  .label {
    color: $order_detail_delivery_details_row_content;
  }

  .delivery-charge-row,
  .sub-total-row,
  .order-item-row,
  .discount-row,
  .surcharge-row {
    .blend {
      background: $order_detail_total_tr_row_price_td;

      @include breakpoint($tablet) {
        background: $order_detail_total_tr_row_price_td_tablet;
      }

      @include breakpoint($only-tablet) {
        .order-detail & {
          width: 24%;
        }
      }
    }
  }

  .surcharge-row {
    .blend {
      .price-type__wrapper {
        .tooltip-anchor {
          position: absolute;
          display: inline-block;
          top: -0.3125rem;

          @include breakpoint($only-mobile) {
            top: -0.4125rem;
          }

          .tooltip-box {
            @include breakpoint($only-mobile) {
              #{$left}: -8.8rem;

              &::before,
              &::after {
                #{$left}: 86.3%;
              }
            }
          }
        }
      }
    }
  }

  .order-item-row {
    border-bottom: 1px solid $primary_border;

    .order__product--image {
      @include breakpoint($only-tablet) {
        padding-#{$right}: 0.125rem;
      }
    }

    img {
      width: 8rem;

      @include breakpoint($tablet) {
        width: 7.125rem;
      }
    }

    .dark {
      margin-bottom: 6px;

      @include breakpoint($tablet) {
        margin-bottom: 3px;
      }
    }

    .attr-wrapper {
      display: inline-block;
      direction: ltr;
      width: 100%;

      html[lang="ar"] & {
        text-align: right;
      }
    }

    .blend {
      @include breakpoint($upto-tablet) {
        vertical-align: bottom;
      }
    }

    .order__unit--price {
      @include breakpoint($desktop) {
        min-width: 9rem;
      }
    }

    .mobile-only {
      margin-top: 29px;
    }

    .tablet-only {
      margin-top: 45px;
    }
  }

  .label {
    margin-bottom: 0.5rem;
  }

  .contact {
    margin-top: 19px;

    @include breakpoint($tablet) {
      margin-top: 39px;
    }
  }

  .order-summary-row {
    > div {
      background: $order_detail_order_summary_row_bg;
      padding: 1.313rem 1rem;

      @include breakpoint($desktop) {
        vertical-align: middle;
      }

      &.above-mobile {
        width: 260px;
      }
    }

    .mobile-only {
      margin-top: 19px;
    }

    .tablet-only {
      margin-top: 15px;
    }

    .blend {
      background: $order_detail_order_summary_row_td_blend;

      @include breakpoint($tablet) {
        width: 17.4%;
      }
    }
  }

  .order__summary--status {
    @include breakpoint($tablet) {
      width: 19.8%;
    }
  }

  .order-details-row {
    background: $order_detail_order_details_row;

    .blend {
      background: $order_detail_order_details_row_td_blend;

      @include breakpoint($tablet) {
        padding-right: 10px;
      }
    }

    .mobile-only {
      margin-top: 19px;

      &.delivery--method {
        margin-top: 34px;
      }
    }

    .tablet-only {
      margin-top: 29px;
    }

    .tablet-blend {
      @include breakpoint($tablet) {
        background: $order_detail_order_details_row_td_blend;
      }

      @include breakpoint($desktop) {
        background: $order_detail_order_details_row;
      }
    }

    .banktransfer__details {
      @include breakpoint($desktop) {
        min-width: 12rem;
      }

      span {
        margin-#{$right}: 0.25rem;
      }
    }

    .delivery-method {
      margin-top: 1.875rem;
    }
  }

  .order-item-row,
  .sub-total-row,
  .delivery-charge-row,
  .total-row,
  .surcharge-row {
    .blend {
      min-width: 8rem;
    }
  }

  div.order-item-row {
    div.blend {
      @include breakpoint($only-tablet) {
        padding: 1.375rem 1rem !important;
      }
    }
  }

  .warm--white {
    background-color: $order_detail_warm_white;

    .dark {
      html[lang="ar"] & {
        line-height: 1.5 !important;
      }
    }
  }

  > div {
    > div {
      padding: rem(22) rem(16);
      vertical-align: top;

      div {
        margin-bottom: rem(5);
      }

      @include breakpoint($upto-tablet) {
        width: 50%;
      }

      @include breakpoint($tablet) {
        padding: rem(22) rem(24);

        &.above-mobile.blend {
          padding: rem(22) rem(20) !important;
        }
      }

      @include breakpoint($only-tablet) {
        &.above-mobile.blend {
          width: 21%;
        }
      }

      @include breakpoint($desktop) {
        .order-confirmation & {
          &.order__user--info {
            width: 24%;
          }

          &.desktop-only {
            width: 25%;
          }

          &.order__delivery-details {
            width: 19.5%;
          }
        }

        &.order__delivery-details .open--hours > div {
          margin-bottom: rem(8);
        }
      }

      &.above-mobile.blend,
      .mobile-only {
        .dark {
          line-height: 1.4;
        }
      }

      &.order__user--info {
        .address--contact {
          margin-top: rem(20);
          font-size: rem(12);

          .no-direction {
            font-size: rem(14);
            margin-top: rem(8);
          }
        }
      }

      .surcharge-row {
        div:first-child {
          @include breakpoint($only-tablet) {
            .order-detail & {
              display: none;
            }
          }
        }
      }
    }
  }

  .address {
    margin-top: 0;
  }

  .currency-code {
    padding-#{$right}: 38px;

    @include breakpoint($tablet) {
      padding-#{$right}: 9px;
    }
  }

  .desktop-only {
    display: none;

    @include breakpoint($desktop) {
      display: table-cell;
    }
  }

  .tablet-only {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }

    @include breakpoint($desktop) {
      display: none;
    }
  }

  .above-mobile {
    display: none;

    @include breakpoint($tablet) {
      display: table-cell;
    }
  }

  .mobile-only {
    @include breakpoint($tablet) {
      display: none;
    }
  }

  .store-open-hours {
    .open--hours {
      .key-value-key {
        display: inline-block;
        width: 100%;
        margin-bottom: 2px;

        @include breakpoint($only-tablet) {
          width: 50%;
        }
      }
    }
  }

  .store-name-and-address {
    .store-address {
      p {
        margin: 0;
      }
    }

    .store-map-link {
      margin-top: 0.875rem;

      a {
        color: $content_link_color;
        font-size: 0.75rem;

        @include icon(map, before) {
          color: $content_link_color;
          vertical-align: middle;
          font-size: 1.5rem;
          line-height: 1;
          display: inline-block;
          padding-#{$right}: 0.375rem;
        }
      }
    }
  }

  .total-row {
    div {
      .right--align {
        margin-bottom: 0;
      }

      &.warm--white {
        div {
          margin-bottom: 0;
        }
      }
    }

    &.vat-container {
      div {
        &:nth-child(3) {
          @include breakpoint($only-mobile) {
            display: block;
          }
        }

        &.warm--white {
          background-color: $basket_vat_price_bg !important;
        }
      }
    }

    &.vat-row {
      .warm--white {
        background: unset;
      }
    }
  }

  .address--contact {
    margin-top: 1.25rem;
    font-size: 0.75rem;

    .no-direction {
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }

  .cancelled-items {
    color: $order_detail_td_dark_content;

    div {
      padding-bottom: 0.25rem;
      padding-top: 1.125rem;
      padding-#{$left}: 0;
    }

    div > div {
      font-size: 1.125rem;
      line-height: 1.22;
      color: $cancel-item-list-header;
    }
  }

  .online-booking-details-row {
    > div {
      padding: 0.875rem 2.8125rem;
      background-color: $_order_limit_txt;

      @include breakpoint($only-mobile) {
        padding-top: 1rem;
        padding-bottom: 2.125rem;
        padding-#{$left}: 3.125rem;
      }

      .online-booking-details {
        color: $_online-booking-primary-text;
      }

      .icon-ic_infomation {
        font-size: 1.5rem;
        vertical-align: middle;
        position: absolute;
        #{$left}: 0.5rem;
        margin-top: 0.1875rem;

        @include breakpoint($only-mobile) {
          margin-top: 0;
        }
      }

      .icon-ic_infomation::before {
        width: 2.125rem;
        height: 2.125rem;
        color: $_online-booking-primary-text;
      }
    }

    .booking-error,
    .booking-info,
    .update-booking-info {
      color: $_online-booking-primary-text;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.71;

      @include breakpoint($only-mobile) {
        line-height: 1.2858;
      }
    }

    .customer-care-info {
      color: inherit !important;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.71;
      display: block;

      @include breakpoint($only-mobile) {
        line-height: 1.2858;
        margin: 1rem 0;
      }

      a {
        color: $_online-booking-primary-text;

        &:hover,
        &:focus,
        &:active {
          color: $_online-booking-primary-text;
        }
      }
    }

    .order-print-icon {
      #{$left}: 0 !important;
      margin-#{$left}: -1.75rem !important;
      position: relative !important;
    }

    & + .delivery-details-row {
      .above-mobile,
      .mobile-only {
        padding: 0.875rem 2.8125rem;
        font-size: 0.875rem;
        color: $_online-booking-delivery-detail;
        font-weight: normal;

        @include breakpoint($only-mobile) {
          padding-#{$right}: 1rem;
          padding-#{$left}: 3.125rem;
        }

        .icon-ic_infomation {
          font-size: 1.5rem;
          margin-#{$left}: -0.125rem;

          @include breakpoint($only-mobile) {
            margin-#{$left}: 0;
            margin-#{$right}: 1rem;

            html[lang="ar"] & {
              margin-#{$right}: 1.0625rem;
              margin-#{$left}: -0.125rem;
            }
          }
        }
      }
    }
  }

  .recent__orders--body {
    .cancelled-items {
      div {
        padding: 0;
      }
    }
  }
}

.cancelled-item-tooltip-refund-text {
  span {
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-top: 0.1875rem;
    color: $cancel-item-refund-text;

    @include breakpoint($desktop) {
      line-height: 1.25rem;
    }
  }
}

#block-userrecentorders {
  @include breakpoint($only-tablet) {
    margin-top: -1.5em;
  }

  h2.subtitle {
    margin-top: 2.7rem;
    border-bottom: none;
    font-weight: normal;

    @include breakpoint($only-tablet) {
      font-size: 0.875rem;
    }

    @include breakpoint($desktop) {
      margin-top: 2.5rem;
    }

    .path--user & {
      padding-bottom: 0.5625rem;
    }
  }

  .order-summary-row td:first-child .light {
    font-size: 0.75rem;

    &.order--date--time {
      @include breakpoint($only-tablet) {
        font-size: 0.75rem;
      }
    }
  }

  .user__order--detail {
    td {
      padding: rem(22) rem(16);
      vertical-align: top;
    }

    .cancelled-item-refund-text {
      @include breakpoint($tablet) {
        padding: rem(26) 0 rem(7);
      }

      .tooltip-anchor {
        &::before {
          content: unset;
        }
      }

      span {
        color: inherit;
      }
    }
  }

  .order-summary-row {
    td {
      vertical-align: middle;
    }
  }
}

.user-page.checkout-login.order-confirmation {
  margin: 0.38em auto 0.8em;

  #edit-field-subscribe-newsletter-wrapper {
    .form-item-field-subscribe-newsletter-value {
      label {
        top: 0 !important;
      }
    }

    p {
      margin-#{$left}: 1.9rem;
    }
  }

  .user__order--detail {
    .sub-total-row,
    .delivery-charge-row,
    .total-row {
      td.right--align {
        @include breakpoint($only-tablet) {
          min-width: 8rem;
        }
      }
    }
  }
}

#block-content .order-items li {
  .second-third {
    .second .dark {
      @include breakpoint($tablet) {
        white-space: nowrap;
        overflow: hidden;
        max-width: 9.825rem;
        text-overflow: ellipsis;

        html[lang="ar"] & {
          position: relative;
          display: inline-block;
        }
      }

      @include breakpoint($only-tablet) {
        height: 0.75rem;
      }

      @include breakpoint($desktop) {
        max-width: 10.825rem;
      }
    }

    .order-quantity {
      @include breakpoint($only-tablet) {
        height: 0.75rem;
      }
    }
  }

  &:hover .second-third .second .dark::after {
    html[lang="ar"] & {
      background-color: $order_recent_orders_product_title_elipsis_bg_hover;
    }
  }
}

.order-detail,
.block-alshaya-user-recent-orders {
  .user__order--detail {
    div.order-item-row.delivered-items,
    tr.order-item-row.delivered-items,
    div.order-item-row.cancelled-items,
    tr.order-item-row.cancelled-items {
      > div,
      td {
        padding: rem(38) 0 rem(8) !important;
        font-size: rem(18);
        line-height: rem(22);
        font-family: $alshaya-bold;
        color: $page_title;

        div {
          margin-bottom: 0;
        }
      }
    }

    .cancelled-items ~ .order-item-row {
      .image-wrapper {
        span {
          width: rem(144);
          font-size: rem(11);
          line-height: rem(13);
          color: $order-cancelled-txt;
          background: $order-cancelled-label;
          padding: rem(4) 0;
          height: rem(20);

          @include breakpoint($tablet) {
            width: rem(120);
          }

          @include breakpoint($desktop) {
            width: rem(136);
          }
        }
      }
    }
  }
}
