// Define Fonts
$base_theme_fonts_directory_path: '/themes/custom/transac/alshaya_tbs/fonts';

@font-face {
  font-family: "Druk-Bold-Web";
  src:
    url("#{$base_theme_fonts_directory_path}/Druk-Bold-Web.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Druk-Bold-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DrukCond-Super-Cy-Web";
  src:
    url("#{$base_theme_fonts_directory_path}/DrukCond-Super-Cy-Web.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/DrukCond-Super-Cy-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DrukWide-Bold-Cy-Web";
  src:
    url("#{$base_theme_fonts_directory_path}/DrukWide-Bold-Cy-Web.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/DrukWide-Bold-Cy-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DrukWide-Super-Web";
  src:
    url("#{$base_theme_fonts_directory_path}/DrukWide-Super-Web.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/DrukWide-Super-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta-Medium";
  src:
    url("#{$base_theme_fonts_directory_path}/Recoleta-Medium.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Recoleta-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta-SemiBold";
  src:
    url("#{$base_theme_fonts_directory_path}/Recoleta-SemiBold.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/Recoleta-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Regular";
  src:
    url("#{$base_theme_fonts_directory_path}/WorkSans-Regular.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Light";
  src:
    url("#{$base_theme_fonts_directory_path}/WorkSans-Light.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/WorkSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Medium";
  src:
    url("#{$base_theme_fonts_directory_path}/WorkSans-Medium.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/WorkSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src:
    url("#{$base_theme_fonts_directory_path}/WorkSans-SemiBold.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/WorkSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Bold";
  src:
    url("#{$base_theme_fonts_directory_path}/WorkSans-Bold.woff2") format("woff2"),
    url("#{$base_theme_fonts_directory_path}/WorkSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'alshaya-icons';
  src: url('#{$base_theme_fonts_directory_path}/alshaya-icons.eot?D7b5iT');
  src:
    url('#{$base_theme_fonts_directory_path}/alshaya-icons.eot?D7b5iT#iefix') format('embedded-opentype'),
    url('#{$base_theme_fonts_directory_path}/alshaya-icons.ttf?D7b5iT') format('truetype'),
    url('#{$base_theme_fonts_directory_path}/alshaya-icons.woff?D7b5iT') format('woff'),
    url('#{$base_theme_fonts_directory_path}/alshaya-icons.svg?D7b5iT#alshaya-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Font Family
$tbs-regular: 'WorkSans-Regular', 'Arial';
$tbs-light: 'WorkSans-Light', 'Arial';
$tbs-medium: 'WorkSans-Medium', 'Arial';
$tbs-semibold: 'WorkSans-SemiBold', 'Arial';
$tbs-bold: 'WorkSans-Bold', 'Arial';

$tbs-recoleta-medium: 'Recoleta-Medium', 'Arial';
$tbs-recoleta-semibold: 'Recoleta-SemiBold', 'Arial';

$tbs-dw-bold: 'DrukWide-Bold-Cy-Web', 'Druk-Bold-Web', 'Arial';
$tbs-dw-super: 'DrukWide-Super-Web', 'DrukCond-Super-Cy-Web', 'Arial';

$body_font: $tbs-regular;

// Override font variables coming from MC, without this we get a 404 as font files are no longer present in H&M theme.
$arial: $tbs-regular;
$arial-nodir: $tbs-regular;
$alshaya-bold: $tbs-bold;
$alshaya-bold-nodir: $tbs-bold;
$alshaya-thin: $tbs-regular;
$alshaya-thin-nodir: $tbs-regular;

$alshaya-icons: 'alshaya-icons';

// Icon Fonts
$icons: (
  bell: "\e006",
  marquee-plus: "\e083",
  arrowdown: "\e900",
  arrowup: "\e901",
  blog: "\e902",
  blogselect: "\e903",
  checkboxempty: "\e904",
  checkboxfull: "\e905",
  checkshape: "\e906",
  chevrondown: "\e907",
  chevronleft: "\e908",
  chevronright: "\e909",
  chevronup: "\e90a",
  close: "\e90b",
  closeshape: "\e90c",
  delivery: "\e90d",
  deliveryservice: "\e90e",
  direction: "\e90f",
  email: "\e910",
  emailselect: "\e911",
  facebook: "\e912",
  facebookselect: "\e913",
  radio-empty: "\e914",
  radio-filled: "\e915",
  googleplus: "\e916",
  googleplusselect: "\e917",
  hide: "\e918",
  infomation: "\e919",
  instagram: "\e91a",
  instagramselect: "\e91b",
  language: "\e91c",
  list: "\e91d",
  login: "\e91e",
  logout: "\e91f",
  map: "\e920",
  mappin: "\e921",
  menu: "\e922",
  mylocation: "\e923",
  newsletter: "\e924",
  nextdaydelivery: "\e925",
  pinterest: "\e926",
  pinterestselect: "\e927",
  play: "\e928",
  prize: "\e929",
  radio-empty-old: "\e92a",
  radio-filled-old: "\e92b",
  rating: "\e92c",
  ratingfull: "\e92d",
  rewards: "\e92e",
  search: "\e92f",
  shoppingbag: "\e930",
  show: "\e931",
  twitter: "\e932",
  twitterselect: "\e933",
  user: "\e934",
  whiteglovedelivery: "\e935",
  wishlist: "\e936",
  wishlistfull: "\e937",
  youtube: "\e938",
  youtubeselect: "\e939",
  zoom: "\e93a",
  warning: "\e93b",
  price-tag: "\e93c",
  check: "\e93d",
  filter: "\e93e",
  edit-input: "\e93f",
  arrow-left: "\e940",
  arrow-right: "\e941",
  bin: "\e9ac",
  map-location: "\e942",
  minus: "\e943",
  plus: "\e944",
  new-facebook-default: "\e945",
  new-facebook-hover: "\e946",
  new-instagram-default: "\e947",
  new-instagram-hover: "\e948",
  new-twitter-default: "\e949",
  new-twitter-hover: "\e94a",
  new-whatsapp-default: "\e94b",
  new-whatsapp-hover: "\e94c",
);

@mixin iconbase() {
  font-family: $alshaya-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($icon: false, $position: before, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }

    @if $styles {
      @include iconbase;
    }

    @content;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  &::before {
    @include iconbase;
  }
}

@each $icon, $unicode in $icons {
  %icon-ic_#{$icon},
  .icon-ic_#{$icon} {
    &::before {
      content: $unicode;
    }
  }
}
