.spc-collection-label-wrapper,
.spc-delivery-store-info {
  .store-icon {
    &::before {
      content: '';
      background: url(#{$brand_theme_img_directory_path}/assets/brand-store-icon.svg) no-repeat;
    }
  }

  .collection-point-icon {
    &::before {
      content: '';
      background: url(#{$brand_theme_img_directory_path}/assets/brand-collection-icon.svg) no-repeat;
    }
  }

  .store-icon,
  .collection-point-icon {
    &::before {
      height: 2.125rem;
      width: 2.125rem;
      display: inline-block;
      position: absolute;
      #{$left}: 2.875rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
