.nodetype--acq_product {
  .select-free-gift.form-submit,
  .select-free-gift-link {
    display: none !important;
  }

  .free-gift-promotions {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.8125rem;
    border: solid 1px $free-gifts-border;
    padding: 0.75rem 0.5rem;
    margin-#{$left}: -0.5rem;

    @include breakpoint($upto-desktop) {
      margin-#{$left}: 0;
    }

    @include breakpoint($only-mobile) {
      margin-#{$left}: 0;
      padding: 0.75rem;
    }

    &:empty {
      display: none;
    }
  }

  .free-gift-image {
    width: 4.6875rem;
    margin-#{$right}: 1rem;

    a {
      display: block;
      line-height: 0;
    }

    @include breakpoint($only-mobile) {
      margin-#{$right}: 0.75rem;
    }
  }

  .free-gift-promo-wrapper {
    width: calc(100% - (5.6875rem));
    font-size: 0.75rem;
    line-height: 1.33;
    color: $free-gifts-text;

    @include breakpoint($only-mobile) {
      width: calc(100% - (5.4375rem));
    }

    .label,
    .free-gift-title {
      font-size: 0.875rem;
      line-height: 1.29;
      color: $free-gifts-label;
      text-transform: capitalize;
      margin: 0.625rem 0 0.5rem;
    }

    &.free-gift-promo-list {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .free-gift-wrapper {
        width: calc(100% - (5.6875rem));

        @include breakpoint($only-mobile) {
          width: calc(100% - (5.4375rem));
        }
      }

      .free-gift-title {
        color: $free-gifts-coupon-code-text;
        margin-top: 0;
      }

      .free-gift-message {
        a {
          text-decoration: underline;
          padding-#{$right}: 0.25rem;
          padding-#{$left}: 0.125rem;
        }
      }
    }
  }

  .free-gift-title {
    .title {
      font-size: 0.75rem;
      line-height: 1.33;
      color: $free-gifts-title-text;
      cursor: pointer;

      a {
        text-decoration: underline;
        margin-bottom: 0.25rem;
        display: block;

        @include breakpoint($only-tablet) {
          display: inherit;
          margin-bottom: 0;
        }
      }
    }
  }

  .free-gift-coupon-code {
    margin-top: 0.5625rem;

    .coupon-code {
      font-family: $alshaya-bold;
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 1.33;
      color: $free-gifts-coupon-code-text;
      padding: 0 0.125rem;
    }
  }
}

.free-gifts-modal-overlay {
  overflow: hidden;

  .ui-dialog {
    #drupal-modal {
      @include breakpoint($only-mobile) {
        padding: 0 !important;
        overflow: auto !important;
      }

      .content__main {
        @include breakpoint($tablet) {
          min-height: auto;
          height: 31.5rem;
        }
      }

      .gallery-wrapper {
        @include breakpoint($only-mobile) {
          min-height: auto;

          .slick-arrow {
            display: none;
          }
        }
      }

      .content__sidebar,
      .content__title_wrapper {
        @include breakpoint($only-mobile) {
          padding: 0 0.5rem;
          margin-bottom: 0;
        }
      }

      .content--item-code {
        margin-bottom: 0;

        @include breakpoint($tablet) {
          margin-bottom: 0.3125rem;
        }
      }

      article {
        > .ajax-progress-throbber {
          .throbber {
            @include throbberLoader();
          }
        }
      }
    }
  }

  .item-list {
    .slick-track {
      display: flex;
      flex-flow: row wrap;
    }
  }

  @include breakpoint ($only-mobile) {
    .acq-content-product-modal {
      display: flex;
      flex-flow: row wrap;

      > div {
        width: 100%;
      }

      .content__main {
        order: -2;
      }

      .content__title_wrapper {
        padding: 0;
      }
    }
  }

  .c-products__free__item__label {
    font-size: 0.875rem;
    line-height: 1.29;
    color: $free-gifts-label;
    margin: 0.6875rem 0 0.375rem;
  }

  .c-products__item__label {
    display: none;
  }

  .field--name-name {
    margin: 0 0 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: $free-gifts-modal-product-name;
    font-family: $alshaya-thin;
    font-weight: normal;
  }

  .content--item-code {
    padding-bottom: 1rem;
    font-size: 0.625rem;
    line-height: 1.2;
    color: $free-gifts-modal-product-item-code;
  }

  .content__sidebar {
    @include breakpoint($only-tablet) {
      margin-top: 0;
    }

    .label {
      margin: 0.8125rem 0 0.75rem;
      font-size: 0.875rem;
      font-family: $alshaya-bold;
      line-height: 1.29;
      color: $free-gifts-modal-product-description-label;
    }
  }

  .item-list {
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      margin-top: 3.8875rem;

      @include breakpoint($only-mobile) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.875rem;
        margin-top: 0;
        justify-content: space-between;
        overflow-y: scroll;
        padding-bottom: 4.5rem;
      }

      @include breakpoint($upto-desktop) {
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
      }
    }

    li {
      @include breakpoint($only-mobile) {
        flex-basis: calc(50% - 10px);
        margin-bottom: 2rem;
      }

      @include breakpoint($upto-desktop) {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        position: relative;
      }

      @include breakpoint($tablet) {
        flex: 1;
        height: auto;
        float: none;
      }
    }

    .ajax-progress-throbber {
      .throbber {
        @include throbberLoader();
      }
    }

    .free-gift-title {
      margin-top: 0.625rem;
      color: $free-gifts-title-text;
      font-size: 0.875rem;
      text-align: center;
    }
  }
}

.path--cart {
  .free-gift-container {
    @include breakpoint($only-mobile) {
      width: 7rem;
      float: $left;
      margin-top: 1.625rem;
      margin-bottom: 1.625rem;
    }
  }

  .gift-message {
    font-size: 0.75rem;
    line-height: 1.33;
    color: $cart-free-gifts-message;

    @include breakpoint($tablet) {
      margin-top: 1.125rem;
    }

    .coupon-code {
      color: $free-gifts-coupon-code-text;
      font-family: $alshaya_bold;
      cursor: pointer;
    }
  }

  #table-cart-items {
    tr {
      td {
        .free-gift-title {
          a {
            display: inherit;
            font-size: 0.75rem !important;
            line-height: 1.33;
            color: $cart-free-gifts-title;
            text-decoration: underline;
            cursor: pointer;

            @include breakpoint($only-mobile) {
              display: block;
              margin-top: 0.25rem;
            }

            &:hover {
              color: $primary_link-hover;
            }
          }
        }

        &.free-gifts-wrapper {
          display: none;

          @include breakpoint($only-mobile) {
            display: block;
            padding: 0 0 1rem;

            .sku-promotions {
              display: none;
            }
          }
        }
      }
    }
  }

  .free-gift-label {
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: center;
    color: $cart-free-gifts-label;
    background-color: $cart-free-gifts-label-background;
    padding: 0.375rem 0;
    display: block;
    width: 10rem;
    margin-top: 0.1875rem;
    margin-bottom: 0 !important;

    @include breakpoint($only-mobile) {
      width: 9.75rem;
      margin-bottom: 0.5rem !important;
    }

    &:empty {
      display: none;
    }
  }

  .free-gift-promo-list {
    .coupon-code {
      display: inline-flex;

      @include breakpoint($tablet) {
        margin: 0 0.1875rem;
      }

      a {
        color: $free-gifts-coupon-code-text !important;
      }
    }

    .gift-message {
      > a {
        display: inline !important;
        text-decoration: underline;
      }

      .label {
        color: $free-gifts-coupon-code-text;
      }
    }

    .ajax-progress-throbber {
      display: block !important;
    }
  }

  #table-cart-items {
    tr {
      td {
        .free-gift-promo-list {
          a {
            font-size: 0.75rem;
          }
        }

        @include breakpoint($only-mobile) {
          position: relative;

          .free-gift-label {
            + .sku-promotions {
              position: absolute;
              bottom: 0;
              width: 33%;
            }
          }
        }
      }
    }
  }
}

.acq-content-product-modal {
  .mobilegallery {
    .labels-container {
      display: none;
    }
  }
}

@include breakpoint($only-mobile) {
  .mobile-only {
    &.free-gift-item {
      margin-bottom: 0.5313rem !important;

      .special--price,
      .price--discount {
        display: none;
      }
    }
  }
}

.free-gift-detail-modal.ui-dialog-content {
  .content__main .gallery-wrapper {
    min-height: auto;
  }

  article {
    > a {
      font-size: 0.875rem;
      line-height: 2.285;
      color: $free-gifts-title-text;
      margin-bottom: 1.4375rem;
      display: inline-block;
      padding-#{$left}: 1.125rem;
      position: relative;

      @include breakpoint($only-mobile) {
        margin-#{$left}: 1rem;
        margin-top: 0.5rem;
      }

      @include icon(chevrondown, after) {
        font-size: 2rem;
        position: absolute;
        #{$left}: -0.625rem;
        top: 0;
        transform: rotate(90deg);

        html[lang=ar] & {
          transform: rotate(-90deg);
        }

        @include breakpoint($only-mobile) {
          top: 0;
        }
      }

      &::before {
        content: '';
        width: calc(100% - 1.125rem);
        height: 0.0625rem;
        background: $free-gifts-title-text;
        display: block;
        bottom: 0.4375rem;
        position: absolute;
      }
    }
  }

  &#drupal-modal {
    padding-top: 1rem;
  }

  button {
    &.select-free-gift {
      font-size: 0.875rem;
      padding: 0.71875rem 1.0625rem;
      margin: 0.875rem 0;
      border: none;
      background-color: $cart-free-gifts-label-background;
      color: $cart-free-gifts-button-color;
      display: flex;
      align-items: center;
    }
  }

  .configurable-select {
    padding: 0.875rem 0 0;

    .list-title {
      span {
        font-size: 0.75rem;
        line-height: 1.33;
        color: $free-gifts-title-text;
        text-transform: capitalize;
      }

      .selected-text {
        font-weight: 700;
      }
    }

    > label {
      display: none;
    }
  }

  .ajax-progress-throbber {
    display: block !important;

    @include fullPageLoader();

    .throbber {
      @include throbberLoader();
    }
  }

  .sku-base-form {
    .ajax-progress-throbber {
      display: block !important;

      @include fullPageLoader();

      .throbber {
        @include throbberLoader();
      }
    }
  }

  form.select-free-gift {
    margin-top: 0.9375rem;
  }
}

.free-gift-listing-modal {
  display: flex;

  ul.slick-slider {
    li {
      position: relative;
    }
  }

  .free-gift-view {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;

    a:first-child {
      flex-grow: 1;
      display: block;
      width: 100%;

      img {
        @include breakpoint($desktop) {
          width: 18.1875rem;
          margin: auto;
        }
      }
    }

    .ajax-progress-throbber {
      display: block !important;

      @include breakpoint($only-mobile) {
        @include fullPageLoader();

        .throbber {
          @include throbberLoader();
        }
      }

      @include breakpoint($tablet) {
        @include fullPageLoader {
          position: absolute !important;
        }

        .throbber {
          @include throbberLoader {
            position: absolute;
          }
        }
      }
    }

    .select-free-gift-link {
      text-align: center;

      a {
        font-family: $alshaya-bold;
        font-size: 0.875rem;
        margin-top: 1.125rem;
        background: $free-gifts-select-button-bg;
        color: $white-five;
        border: 0;
        text-transform: uppercase;
        padding: 0.5rem 1.3701rem;
        display: inline-block;
      }
    }
  }

  .free-gift-image {
    width: auto;
    text-align: center;
  }
}

.nodetype--acq_product,
.path--cart {
  &.free-gift-detail-modal {
    .ui-dialog {
      @include breakpoint($tablet) {
        padding: calc((100vh - 42rem) / 2) calc((100vw - 45rem) / 2) !important;
      }

      @include breakpoint($desktop) {
        padding: calc((100vh - 40rem) / 2) calc((100vw - 60.13rem) / 2) !important;
      }
    }

    .ui-dialog-title {
      display: none !important;
    }
  }

  &.free-gifts-modal-overlay {
    .ui-dialog {
      @include breakpoint($only-mobile) {
        background: $modal_bg !important;
      }

      .ui-dialog-titlebar {
        .ui-dialog-title {
          display: block;
          position: absolute;
          color: $free-gifts-modal-promo-list-title-color;
          z-index: 1;
          #{$left}: 1.5rem;
          top: 1.5rem;
          text-transform: capitalize;

          @include breakpoint($only-mobile) {
            #{$left}: 0.5rem;
            padding: 1.25rem 0.625rem 2.5rem;
            float: none;
            position: static;
          }
        }

        .ui-dialog-titlebar-close {
          @include breakpoint($only-mobile) {
            top: 0;
          }
        }
      }

      #drupal-modal.free-gift-detail-modal {
        @include breakpoint($desktop) {
          height: 40.31rem !important;
        }
      }
    }
  }
}

body:not(.ie) {
  #drupal-modal.free-gift-listing-modal {
    height: auto !important;
    padding: 1.5em 2.5rem;
  }
}

.free-gift-promo-list-overlay:not(.free-gift-detail-modal) {
  &.path--cart {
    .ui-dialog {
      @include breakpoint($tablet) {
        padding: calc((100vh - 28rem) / 2) calc((100vw - 45rem) / 2) !important;
      }

      @include breakpoint($desktop) {
        padding: calc((100vh - 38.2rem) / 2) calc((100vw - 60.13rem) / 2) !important;
      }
    }

    .slick-slider {
      .slick-arrow {
        top: 38% !important;
      }
    }
  }

  &.nodetype--acq_product {
    .ui-dialog {
      @include breakpoint($tablet) {
        padding: calc((100vh - 26rem) / 2) calc((100vw - 45rem) / 2) !important;
      }

      @include breakpoint($desktop) {
        padding: calc((100vh - 33rem) / 2) calc((100vw - 60.13rem) / 2) !important;
      }

      .slick-slider {
        .slick-arrow {
          top: 42% !important;
        }
      }
    }
  }
}

.free-gift-promo-list-overlay,
.free-gifts-modal-overlay {
  .slick-slider {
    .slick-prev {
      #{$left}: -1.65rem;
      #{$right}: auto;
    }

    .slick-next {
      #{$right}: -1.65rem;
      #{$left}: auto;
    }
  }

  .slick-prev,
  .slick-next {
    &::before {
      html[lang=ar] & {
        transform: rotate(180deg);
      }
    }
  }
}
