/*
 * Theming of product detail page.
 */
.c-pdp.l-one--w {
  @include breakpoint($only-mobile) {
    padding: 0;
  }

  @include breakpoint($desktop) {
    max-width: 66.35rem;
    padding-left: 0;
    padding-right: 0;
  }
}

// Layout of the detail page
.nodetype--acq_product {
  .region__content {
    margin: 0 0 1.25rem;

    @include breakpoint($tablet) {
      margin: 1.25rem 0;
    }
  }

  #backtotop {
    @include breakpoint($only-mobile) {
      z-index: 5;
      line-height: 45px;

      &::after {
        margin-top: -2.4rem;
      }
    }
  }
}

.acq-content-product {
  overflow: hidden;

  @include clearfix;

  @include breakpoint($tablet) {
    position: relative;
  }

  @include breakpoint($only-tablet) {
    .content__sidebar {
      margin: 0.625rem 1rem 0;
    }
  }
}

.content {
  &__main {
    @include breakpoint($tablet) {
      width: 60%;
      float: $left;
      min-height: 31.25rem;
    }

    @include breakpoint($desktop) {
      width: 70%;
      float: $left;
      min-height: 36.325rem;
    }

    .gallery-wrapper {
      @include breakpoint($mobile) {
        min-height: 25.5625rem;
      }
    }
  }

  &__sidebar {
    @include breakpoint($only-mobile) {
      .mobile-content-wrapper {
        padding: 0 0.5rem;
      }

      .mobile-related-wrapper {
        position: relative;
        z-index: 4;
        background: $pdp_mobile_wrapper;
      }
    }

    @include breakpoint($mobile) {
      position: relative;
    }

    @include breakpoint($tablet) {
      position: static;
      width: 35%;
      float: $right;
      margin: 0 1rem;
    }

    @include breakpoint($desktop) {
      width: 30%;
      float: $right;
      margin: 0;
    }
  }

  &__title_wrapper {
    @include breakpoint($only-mobile) {
      padding: 0 0.5rem;
    }

    @include breakpoint($tablet) {
      width: 35%;
      float: $right;
      margin: 0 1rem;
      border-bottom: 1px solid $pdp_title_section_border;
    }

    @include breakpoint($desktop) {
      width: 30%;
      float: $right;
      margin: 0;
    }
  }
}

// Title wrapper
.content {
  &__title_wrapper {
    @include breakpoint($only-mobile) {
      border-bottom: 1px solid $pdp_product_itemcode_border;
      margin-bottom: 0.75rem;
    }

    .brand-logo-wrapper {
      float: #{$right};
      width: 25%;
      text-align: $right;
    }

    h1 {
      float: #{$left};
      text-align: $left;
      width: 70%;
    }

    .price-block {
      clear: both;
    }

    h1,
    h1 span {
      font-family: $alshaya-thin;
      font-size: 1.125rem;
      font-weight: 100;
    }

    .price {
      font-size: 1rem;
      color: $pdp_product_price;
      margin-bottom: 1rem;
    }

    .content--item-code {
      font-size: 0.625rem;
      color: $pdp_product_itemcode;
      margin-bottom: 0.75rem;
    }

    .has--special--price,
    .special--price,
    .price--discount {
      display: inline-block;
    }

    .price--discount {
      font-size: 0.9375rem;
    }

    .promotions {
      margin-bottom: 1rem;

      &:empty {
        display: none;
      }

      a {
        font-size: 0.75rem;
        color: $pdp_product_discount_text;
        text-decoration: underline;
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }
}

// SideBar content theming

.basic-details-wrapper .field--name-field-skus {
  .field--name-sku {
    @include u-visibility(none);
  }

  .field--name-price {
    @include u-visibility(none);
  }

  .form-item-configurables-size,
  .form-item-configurables-color {
    @include clearfix;

    select {
      border: none;
      border-radius: 0;
      padding: 0.3125rem 0.625rem;
      appearance: none;
    }
  }

  .form-type-configurable-select-group {
    label {
      @include u-visibility(none);

      @include breakpoint($only-mobile) {
        @include u-visibility(block);

        position: absolute;
        top: -0.1875rem;
      }
    }

    .ajax-progress-throbber {
      @include u-visibility(none);
    }

    .group-wrapper {
      .group {
        @include breakpoint($only-mobile) {
          @include select-wrapper(100%);

          select.form-select {
            @include select-style(100%);

            width: 100%;
          }
        }
      }
    }
  }

  .form-item-configurables-size {
    label {
      @include u-visibility(none);
    }

    .ajax-progress-throbber {
      @include u-visibility(none);
    }

    @include breakpoint($only-mobile) {
      @include select-wrapper(12.3125rem);

      padding: 0;
      margin-top: 0.5em;
      position: relative;
      z-index: 3;
      width: 100%;
      min-height: 2.188rem;

      &::after {
        top: 0.5rem;
        z-index: 1;
      }

      label {
        @include u-visibility(block);

        position: absolute;
        top: -1rem;
        font-size: 0.6875rem;
        padding: 0.3125rem 0;
        padding-#{$right}: 1.25rem;
        #{$left}: 0;
      }

      select.form-select {
        @include select-style(12.3125rem);

        width: 100%;
      }
    }

    @include breakpoint($only-tablet) {
      @include select-wrapper(8.75rem);
      @include select-bg(6.5625rem);

      padding: 0;
      margin-top: 1rem;
      width: 100%;
      min-height: 2.188rem;

      &::after,
      &::before {
        top: 0.5rem;
      }

      &::before {
        width: 100%;
      }

      label {
        @include u-visibility(block);

        position: absolute;
        top: -1rem;
        font-size: 0.6875rem;
        padding: 0.3125rem 0;
        padding-#{$right}: 1.25rem;
        #{$left}: 0;
      }

      select.form-select {
        @include select-style(8.75rem);

        min-width: 8.75rem;
        width: 100%;
      }
    }
  }

  .form-type-configurable-select-group {
    .group-wrapper {
      .group {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .configurable-select,
  .configurable-swatch {
    > label {
      @include u-visibility(none);
    }
  }

  #configurable_ajax {
    position: relative;

    h2.field--name-name {
      @include u-visibility(none);
    }
  }

  .form-item.form-type-select.form-item-quantity {
    padding: 0;

    @include breakpoint($only-mobile) {
      float: $right;
      top: -7px;
    }

    @include breakpoint($only-tablet) {
      float: $right;
      top: 0;
    }
  }

  .form-item-quantity {
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 1.45rem;
    float: $left;

    label {
      display: block;
      position: absolute;
      top: -1.5625rem;
      font-size: 0.6875rem;
      padding: 0.3125rem 0;
      padding-#{$right}: 1.25rem;
      #{$left}: 0;
    }

    @include select-wrapper(4.375rem);

    background: $primary_dropdown_bg;

    select.form-select {
      @include select-style(4.375rem);
    }

    // styling quantity
    .select2-container {
      @include select2-style(4.375rem);

      .select2-selection__arrow {
        z-index: 3;
      }
    }
  }
}

.description-wrapper {
  &.desc-open {
    #{$right}: 0;
    transition: #{$right} 0.5s ease;

    .ie & {
      z-index: 9;
    }
  }

  @include breakpoint($only-mobile) {
    padding: 1rem 0;
    display: none;
  }

  .field {
    &__label {
      font-size: 1rem;
      font-family: $arial;
      font-weight: bold;
      color: $pdp_sidebar_label;
      margin-top: 0;
    }

    &__content {
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }

  a {
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.83;
    color: $pdp_sidebar_link;
  }

  strong {
    font-weight: bold;
    color: $black;
  }

  .desc-label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $arial;
    font-weight: bold;
    color: $pdp_sidebar_label;
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .show-less-link {
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.83;
    color: $pdp_sidebar_link;
    text-transform: lowercase;
    cursor: pointer;
  }

  .desc-wrapper,
  .description-section,
  .address {
    border-top: 1px solid $pdp_title_section_border;
    padding: 0.75rem 0;
    line-height: 1.5;

    @include clearfix;
  }

  .low-stock-indicator {
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    color: $primary_btn_bg;
    float: $right;
  }

  .desc-value,
  .text {
    clear: both;
    padding-top: 0.9375rem;
  }
}

@include breakpoint($tablet) {
  .description-wrapper {
    position: absolute;
    top: 0;
    #{$right}: -38%;
    height: 33.75rem;
    border: 1px solid $pdp_desc_wrapper_border;
    padding: 1.25rem;
    padding-bottom: 0;
    background: $pdp_desc_wrapper;
    overflow: hidden;
    width: 35%;
    z-index: 4;
    margin: 0 1rem;
    transition: #{$right} 0.5s ease;

    .close {
      @include icon(close);

      position: absolute;
      top: 0;
      #{$right}: 0;
      height: 2.188rem;
      width: 2.188rem;
      font-size: 30px;
      text-align: center;
      color: $pdp_desc_wrapper_close_icon;
      background-color: $pdp_desc_wrapper_close_bg;
      cursor: pointer;
    }

    .field {
      &__content {
        overflow: auto;
        height: 30.125rem;
        padding-bottom: 2.5rem;
      }
    }
  }
}

@include breakpoint($desktop) {
  .description-wrapper {
    width: 30%;
    margin: 0;
    #{$right}: -31%;
  }
}

.short-description-wrapper {
  .field {
    &__label {
      font-size: 1rem;
      font-family: $arial;
      font-weight: bold;
      color: $pdp_sidebar_label;
    }

    &__content {
      font-size: 0.875rem;
      line-height: 1.5;

      .desc-wrapper {
        display: none;

        &:first-child {
          display: block;

          .desc-label {
            display: none;
          }
        }

        .desc-label,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: $arial;
          font-weight: bold;
          color: $pdp_sidebar_label;
          font-size: 0.875rem;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &-wrapper {
      &.show-detail {
        .desc-wrapper {
          &:first-child {
            .bullet-points-wrapper {
              display: block;
            }
          }
        }
      }
    }
  }

  .show-detail {
    .bullet-points-wrapper {
      @include breakpoint($only-mobile) {
        display: block !important;
      }
    }
  }

  .show-less-link {
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.83;
    color: $pdp_sidebar_link;
    text-transform: lowercase;
    cursor: pointer;
  }

  .read-more-description-link,
  .read-more-description-link-gift {
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.83;
    color: $pdp_sidebar_link;
    cursor: pointer;

    @include breakpoint($only-mobile) {
      display: none !important;
    }

    @include breakpoint($tablet) {
      display: inline-block;
    }
  }

  .read-more-description-link-mobile {
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.83;
    color: $pdp_sidebar_link;
    cursor: pointer;

    @include breakpoint($tablet) {
      display: none !important;
    }
  }
}

.product-out-of-stock {
  .delivery-options-wrapper {
    opacity: 0.4;
    position: relative;

    .product-out-of-stock-layer {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .c-accordion_content {
      display: none !important;
    }
  }
}

.delivery-options-wrapper {
  .ui-accordion-header-active {
    .title-price {
      display: none;
    }
  }

  .field {
    &__label {
      font-size: 1rem;
      font-family: $arial;
      font-weight: bold;
      color: $pdp_sidebar_label;

      &.disabled {
        opacity: 0.4;
      }
    }
  }

  .c-accordion {
    &-delivery-options {
      border-bottom: 1px solid $pdp_title_section_border;

      &.click-collect,
      &.home-delivery {
        .ui-state-disabled::after {
          display: none;
        }

        h3 {
          &.ui-state-disabled {
            color: $accordion_title_disabled;

            span {
              color: $accordion_title_disabled;

              &.title-price {
                @include u-visibility(none);
              }
            }
          }
        }
      }
    }

    &__title {
      font-family: $arial;
      font-size: 0.875rem;
      color: $pdp_accordion_title;
      line-height: 2;
      cursor: pointer;
      position: relative;
      height: auto;

      &.ui-state-active {
        border-bottom: none;
      }

      .subtitle {
        @include u-visibility(block);

        font-family: $arial;
        font-size: 0.6875rem;
        color: $accordion_sub_title;
        line-height: 1.5;
        margin-#{$right}: 2.5rem;
      }

      .title-price {
        position: absolute;
        top: 0.625rem;
        #{$right}: 2.5rem;
        font-family: $arial;
        font-size: 0.6875rem;
        font-weight: bold;
        color: $pdp_accordion_title;
      }
    }

    &_content {
      .delivery-option {
        &-content {
          font-family: $arial;
          font-size: 0.6875rem;
          line-height: 1.64;
          color: $accordion_title;

          ul {
            li {
              @include clearfix;

              span {
                float: $right;
                font-weight: bold;
                text-transform: uppercase;
              }
            }
          }
        }

        &-title {
          font-family: $arial;
          line-height: 1.5;
          font-size: 0.75rem;
          padding-bottom: 0.5rem;
          padding-top: 0.75rem;
          color: $pdp_accordion_title;

          strong {
            color: $pdp_accordion_title;
          }

          span {
            color: $accordion_title;
          }
        }
      }
    }
  }
}

.click-collect {
  .c-accordion__title {
    border-top: none;
  }

  &-content {
    font-family: $arial;
    font-size: 0.75rem;
    line-height: 2;
    color: $accordion_title;
    padding-bottom: 1rem;

    .text p {
      font-family: $arial;
      font-size: 0.75rem;
      line-height: 2;
      color: $accordion_title;
      margin: 0;
    }

    @include clearfix;

    strong {
      font-weight: bold;
    }
  }

  &-form,
  &-empty-selection {
    padding-bottom: 1.25rem;

    @include clearfix;

    label {
      @include clearfix;
    }

    label,
    .text p {
      font-family: $arial;
      font-size: 0.75rem;
      line-height: 2;
      color: $accordion_title;
      margin: 0;
    }

    #cc-store-name {
      float: $left;
      height: 2.188rem;
      padding: 0.3125rem;
      border: solid 1px $primary_border;

      @include breakpoint($mobile) {
        width: 11.56rem;
      }

      @include breakpoint($tablet) {
        width: 8.56rem;
      }
    }

    button {
      float: $right;
      width: 6.563rem;
      height: 2.188rem;
      background-color: $pdp_cc_btn_bg;
      font-family: $alshaya-thin;
      appearance: none;
      font-size: 0.75rem;
      color: $pdp_cc_btn_text;
      text-transform: lowercase;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 0.5rem 0;
      border: none;
      border-radius: 0;
    }

    .highlight {
      color: $pdp_cc_highlight;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.store-finder-form-wrapper {
  margin-top: 0.6875rem;

  span.label {
    font-family: $arial;
    font-size: 0.75rem;
    line-height: 2;
    color: $pdp_cc_storefinder_label;
    margin: 0;
  }

  .search-store {
    label {
      @include clearfix;
    }

    input[type="text"] {
      float: $left;
      width: calc(100% - 6.563rem);
      height: 2.188rem;
      padding: 0.3125rem;
      border: solid 1px $primary_border;
      font-size: 0.75rem;
      color: $pdp_cc_storefinder_input;

      &::placeholder {
        color: $pdp_cc_storefinder_input;
      }

      html[lang=ar] & {
        width: calc(100% - 7.563rem);
      }
    }

    button {
      float: none;
      width: 6.563rem;
      height: 2.188rem;
      background-color: $pdp_cc_btn_bg;
      font-family: $alshaya-thin;
      appearance: none;
      font-size: 0.875rem;
      color: $pdp_cc_btn_text;
      text-transform: lowercase;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 0.5rem 0;
      border: none;
      border-radius: 0;

      html[lang=ar] & {
        width: 7.563rem;
      }
    }

    .form-item-location label {
      @include u-visibility(none);
    }
  }
}

.store-available-at-title {
  display: inline;

  div {
    display: inline;
  }
}

.available_store {
  span.label {
    font-family: $arial;
    font-size: 0.75rem;
    line-height: 2;
    color: $pdp_cc_storefinder_label;
    margin: 0;
  }

  .change-location-link,
  .change-store-link {
    color: $pdp_cc_storefinder_link;
    font-size: 0.75rem;
    font-family: $arial;
    font-weight: bold;
    cursor: pointer;

    @include u-visibility(inline);
  }

  .available-store-text {
    font-family: $arial;
    font-size: 0.75rem;
    line-height: 2;
    color: $pdp_cc_storefinder_label;
    margin: 0;

    .google-store-location {
      font-weight: bold;

      @include u-visibility(inline);
    }
  }

  .change-location {
    display: inline-block;

    @include clearfix;

    .change-store-location {
      width: 11.5625rem;
      height: 2.1875rem;
      font-size: 0.75rem;
      border: 1px solid $pdp_cc_changelocation;
      padding: 0.4375rem;
    }

    .cancel-change-location {
      width: 2.1875rem;
      height: 2.1875rem;
      background: $pdp_cc_changelocation;
      float: $right;
      position: relative;
      border: none;
      color: $pdp_cc_changelocation;
      vertical-align: middle;
      border-radius: 0;
      cursor: pointer;

      @include icon(close, after) {
        position: absolute;
        font-size: 2.1875rem;
        top: -1px;
        #{$left}: 1px;
        color: $pdp_cc_changelocation_icon;
      }
    }
  }
}

// Google Places Autocomplete results.
.pac-container {
  border: 1px solid $primary_border;
  box-shadow: none;
  min-width: 11.25rem;
  margin-top: -1px;
  box-sizing: initial;

  // Hide the Powered by Google logo.
  &::after {
    display: none !important;
  }

  // Hide the div if no content.
  &:empty {
    display: none;
  }

  .pac-icon {
    @include u-visibility(none);
  }

  .pac-not-found {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
  }

  .pac-item,
  .pac-not-found {
    padding: 0.125rem 0.3125rem;
    font-family: $arial;

    &:hover {
      background-color: $pac_item_hover;
    }
  }

  .pac-item,
  .pac-not-found,
  .pac-matched,
  .pac-item-query {
    font-size: 0.75rem !important;
    color: $pac_item !important;
  }
}

.click-collect-top-stores {
  position: relative;

  ul {
    padding-#{$left}: 0;
    margin: 0;

    li {
      font-family: $arial;
      font-size: 0.75rem;
      line-height: 1.5;
      color: $pdp_cc_top_stores_list;
      list-style: none;
      padding: 0.6875rem 0;
      border-top: 1px solid $primary_border;

      @include clearfix;

      .store {
        &-sequence {
          border: 1px solid $pdp_cc_top_stores_list_border;
          height: 1.063rem;
          width: 1.063rem;
          border-radius: 1.063rem;
          text-align: center;
          float: $left;
          margin-top: 2px;
          line-height: 1.5;
          font-size: 0.625rem;
        }

        &-info-wrap {
          float: $right;
          width: 90%;
        }

        &-name {
          font-weight: bold;
          color: $pdp_cc_top_stores_list_name;
        }

        &-delivery-time {
          padding-top: 0.75rem;
          display: inline-block;
          float: $left;
          margin-#{$right}: 1.125rem;

          em {
            font-weight: bold;
            font-style: normal;
            color: $pdp_cc_top_stores_list_time;
          }
        }

        &-address {
          p {
            margin: 0;
          }
        }

        &-low-stock {
          font-size: 0.6875rem;
          font-weight: bold;
          color: $primary_btn_bg;
          padding-top: 0.8125rem;
          display: inline-block;
        }
      }
    }
  }

  .ajax-progress-throbber {
    position: absolute;
    top: -3rem;
    #{$left}: 102%;

    .message {
      display: none;
    }

    .throbber {
      @include throbberLoader();
    }

    @include breakpoint($only-mobile) {
      top: -0.875rem;
      #{$left}: 45%;
    }
  }
}

.other-stores-link {
  font-family: $arial;
  font-size: 0.75rem;
  font-weight: bold;
  color: $pdp_cc_other_stores;
  padding: 1.063rem 0;
  border-top: 1px solid $primary_border;
  cursor: pointer;

  @include breakpoint($only-mobile) {
    color: $pdp_cc_other_stores_mobile;
  }
}

.click-collect-form,
.store-finder-form-wrapper {
  + .ajax-progress-throbber {
    position: relative;
    margin: 0.3125rem 0;

    .message {
      display: none;
    }

    .throbber {
      @include throbberLoader();
    }
  }
}

.click-collect-all-stores {
  &.inline-modal-wrapper {
    display: none;

    @include breakpoint($tablet) {
      display: block;
      position: absolute;
      top: 0;
      #{$right}: -99999rem;
      transition: #{$right} 1s ease;
      height: 33.75rem;
      border: 1px solid $pdp_all_stores_modal_border;
      padding: 1rem 1.5rem 0;
      background: $pdp_all_stores_modal_bg;
      overflow: hidden;
      width: 100%;
      z-index: 99;

      &.desc-open {
        #{$right}: 0;
        transition: #{$right} 0.5s ease;
      }
    }

    @include breakpoint($only-mobile) {
      .close-inline-modal,
      .all-stores-info,
      .available_store {
        display: none;
      }

      .stores-list-all {
        ul {
          overflow: visible;
          height: auto;

          li {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
              display: none;
            }

            &:nth-child(4) {
              border-top: none;
            }

            .store-name {
              color: $breadcrumb-active;
            }
          }
        }
      }
    }

    @include breakpoint($tablet) {
      width: 38%;
    }

    @include breakpoint($desktop) {
      width: 30%;
    }

    .close-inline-modal {
      @include icon(close);

      position: absolute;
      top: 0;
      #{$right}: 0;
      height: 2.188rem;
      width: 2.188rem;
      font-size: 30px;
      text-align: center;
      color: $pdp_all_stores_modal_close_icon;
      background-color: $pdp_all_stores_modal_close_bg;
      cursor: pointer;
    }

    .text {
      font-size: 0.75rem;
      color: $pdp_all_stores_modal_text;
      line-height: 1.5;

      .available-store-text {
        line-height: inherit;
      }

      p {
        margin: 0;
      }

      @include breakpoint($only-mobile) {
        display: none;
      }
    }

    .all-stores-info {
      a {
        font-family: $arial;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.83;
        color: $windows-blue;
      }

      .text {
        font-family: $arial;
        font-size: 0.75rem;
        line-height: 1.5;
        color: $pdp_all_stores_modal_text;
      }

      strong {
        font-weight: bold;
        color: $black;
      }

      h3 {
        font-family: $arial;
        font-weight: bold;
        color: $pdp_sidebar_label;
        margin-top: 0;
        margin-bottom: 0.5625rem;
        font-size: 0.875rem;
      }
    }

    ul {
      padding-#{$left}: 0;
      margin: 0;
      height: 25.5rem;
      overflow-y: auto;
      clear: both;

      li {
        font-family: $arial;
        font-size: 0.75rem;
        line-height: 1.5;
        color: $pdp_all_stores_modal_text;
        list-style: none;
        padding: 0.9375rem 0;
        border-top: 1px solid $primary_border;

        p {
          margin: 0;
        }

        strong,
        em {
          font-weight: bold;
          font-style: normal;
        }

        @include clearfix;

        .store {
          &-sequence {
            border: 1px solid $pdp_all_stores_modal_list_border;
            height: 1.063rem;
            width: 1.063rem;
            border-radius: 1.063rem;
            text-align: center;
            float: $left;
            margin-top: 2px;
          }

          &-info-wrap {
            float: $right;
            width: 90%;
          }

          &-name {
            font-weight: bold;
            color: $pdp_all_stores_modal_list_name;
          }

          &-delivery-time {
            padding-top: 0.75rem;

            em {
              font-weight: bold;
              color: $pdp_all_stores_modal_list_time;
            }
          }

          &-low-stock {
            font-family: $arial;
            font-size: 0.75rem;
            font-weight: bold;
            color: $primary_btn_bg;
            float: $right;
            padding-#{$right}: 0.75rem;
          }
        }
      }
    }

    .form-item-location {
      margin-bottom: 0.5rem;
      float: $left;
    }

    .stores-list-all {
      @include breakpoint($tablet) {
        margin-top: 1.063rem;
      }

      .ajax-progress-throbber {
        position: absolute;

        .message {
          display: none;
        }

        .throbber {
          @include throbberLoader();
        }
      }
    }
  }
}

.field--name {
  &-field-skus {
    .c-pdp & {
      border-bottom: 1px solid $pdp_skus_border;
    }

    .acq-content-product-modal & {
      border-bottom: none;
    }

    @include breakpoint($only-mobile) {
      .basic-details-wrapper & {
        height: auto;
      }
    }

    .sku-base-form > div,
    .sku-base-form > .js-form-wrapper {
      @include breakpoint($mobile) {
        @include u-visibility(inline-block);

        width: 65%;
        margin-#{$right}: 2rem;
      }

      @include breakpoint($tablet) {
        margin-#{$right}: 0.75rem;
      }

      @include breakpoint($desktop) {
        @include u-visibility(block);

        width: 100%;
      }
    }

    .field {
      @include clearfix;

      padding: 0.5rem 0;

      &__label {
        @include u-visibility(inline);

        font-size: 0.875rem;
        font-family: $alshaya-bold;
        font-weight: normal;
        color: $peacock-blue;
        text-transform: lowercase;
      }

      &__item {
        @include u-visibility(inline);
      }
    }

    h2 {
      font-family: $alshaya-thin;
      font-size: 1.125rem;
      font-weight: 100;
    }

    // hidding fields which cannot be themed as per the design.
    .sku-base-form {
      @include clearfix;

      .form-item {
        padding: 0.5rem 0;

        > label {
          &.error {
            display: none !important;
          }
        }
      }

      .ladda-button .ladda-spinner {
        html[lang=ar] & {
          margin-left: -1rem;
        }
      }

      button[type="submit"] {
        font-family: $alshaya-bold;
        font-size: 0.875rem;
        background: $primary_btn_bg;
        border-radius: 0;
        color: $primary_btn_text;
        border: 0;
        text-transform: lowercase;
        padding: 0.5rem 1.3701rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        height: 2.1875rem;
        line-height: 1;

        @include breakpoint($only-mobile) {
          .basic-details-wrapper & {
            border-color: $pdp_basic_wrapper_border;
            float: none;
            width: 100%;
            margin: 0;
            height: 2.5rem;
            border: none;
            box-shadow: none;

            &.fix-button {
              @include stickyButton();

              height: 3.5rem;
            }

            .ladda-label {
              html[lang="ar"] & {
                margin-top: 0;
                position: absolute;
                top: 1rem;
                left: 33%;
              }
            }
          }
        }

        @include breakpoint($tablet) {
          float: $left;
        }

        @include breakpoint($desktop) {
          margin-#{$left}: 2rem;
          margin-top: 1.45rem;
        }
      }
    }
  }
}

.basic-details-wrapper {
  .field--name {
    &-field-skus {
      @include breakpoint($only-mobile) {
        min-height: 6.5rem;
      }
    }
  }
}

.acq-sku-configurable-64__sku-base-form.sku-base-form {
  @include breakpoint($only-mobile) {
    min-height: 8rem;
    overflow: hidden;
  }
}

.select2Option {
  text-align: $left;

  @include breakpoint($mobile) {
    @include u-visibility(none);
  }

  @include breakpoint($desktop) {
    @include u-visibility(block);
  }

  h4 {
    margin: 0;
    font-size: 0.6875rem;
    font-weight: 100;
  }

  .selected-text {
    font-weight: bold;
    display: inline-block;

    html[lang=ar] .safari & {
      font-weight: normal;
    }
  }

  .select-buttons {
    padding-#{$left}: 0;
    margin-bottom: 0;
    margin-top: 2px;

    li {
      list-style: none;

      @include u-visibility(inline-block);

      a,
      span {
        @include u-visibility(block);

        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
        margin-#{$right}: 0.5rem;
        margin-#{$left}: 0;
        border: 1px solid $pdp_size_option_border;
        text-align: center;
        padding: 0.75rem;
        font-size: 0.875rem;
        color: $pdp_size_option_text;
        line-height: 1;

        &.picked,
        &:hover {
          color: $pdp_size_option_selected_text;
          background: $pdp_size_option_selected_bg;

          html[lang=ar] .safari & {
            font-weight: normal;
          }
        }

        &.picked {
          font-weight: bold;
        }
      }

      &.disabled {
        a,
        span {
          background: url('#{$base_theme_img_directory_path}/icons/disabled.png') no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}

.errors-container {
  margin-top: 0.5rem;

  @include breakpoint($only-tablet) {
    margin-bottom: 0.7rem;
  }

  @include breakpoint($upto-desktop) {
    width: 100% !important;
    margin-#{$right}: 0 !important;
  }

  @include breakpoint($only-mobile) {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &:empty {
    display: none !important;
  }

  .error {
    background: $primary_input_inline_error;
    padding: 0.625rem;
    color: $pdp_error_text;
    position: relative;
    padding-#{$left}: 2.313rem;

    @include icon(warning, before) {
      font-size: 1.4rem;
      position: absolute;
      top: 0.3125rem;
      #{$left}: 0;
      padding-#{$left}: 0.5625rem;
    }

    ul {
      margin: 0;
      list-style: none;
      padding-#{$left}: 0;
    }
  }
}

// Rearranging quantity on PDP for simple products
article[gtm-sku-type="simple"] {
  .acq-content-product {
    .sku-base-form {
      .form-item-quantity {
        float: $left !important;

        @include breakpoint($tablet) {
          margin-top: 2.5rem;
        }

        @include breakpoint($only-tablet) {
          margin-top: 2rem;
        }
      }

      button[type="submit"] {
        @include breakpoint($only-tablet) {
          float: $right;
          margin-top: 2rem;
          height: 2.188rem;
          text-align: center;

          html[lang=ar] & {
            float: none;
            margin-top: 0.5rem;
          }
        }

        @include breakpoint($desktop) {
          margin-top: 2.5rem !important;
        }
      }
    }

    .view-product-slider {
      .sku-base-form {
        .form-item-quantity {
          float: $right !important;
        }
      }
    }
  }
}

.nodetype--acq_product,
.path--cart {
  .stock-checker {
    font-family: $alshaya-thin;
    padding: 0.625rem 0;
    font-size: 0.75rem;

    &::before {
      content: " ";
      width: 1.25rem;
      height: 1.25rem;
      background: url(#{$base_theme_loader_img_directory_path}) no-repeat;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      margin-#{$right}: 0.3125rem;
    }
  }

  span.out-of-stock {
    background-color: $oos_btn_bg;
    font-family: $alshaya-bold;
    font-size: 0.75rem;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 0.6rem 1.5rem;
    color: $oos_pdp_text;

    @include breakpoint($desktop) {
      display: inline-block;
      margin: 1rem 0;
    }
  }
}

.nodetype--acq_product,
.path--cart {
  .basic-details-wrapper {
    span.out-of-stock {
      @include breakpoint($only-mobile) {
        @include stickyButton();

        width: 100%;
        margin: 0;
        font-size: 0.875rem;
        height: 3.5rem;
        line-height: 1.5;
      }

      @include breakpoint($desktop) {
        display: inline-block;
      }
    }
  }
}

.sku-base-form {
  .ajax-progress-throbber {
    display: none !important;
  }
}

.ui-dialog,
.acq-content-product {
  .form-item-configurables-size {
    @include breakpoint($desktop) {
      &::before,
      &::after {
        display: none;
      }
    }

    .select2-container {
      @include breakpoint($desktop) {
        display: none;
      }
    }
  }

  .form-item-configurables-size {
    .select2-container {
      @include select2-style(100%);
    }
  }
}

.ui-dialog {
  .field--name-field-skus .sku-base-form > .js-form-wrapper {
    margin-#{$right}: 0;
  }

  .content__title_wrapper {
    margin-bottom: 1rem;
  }
}

.gradient-holder {
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 47%, rgba(255, 255, 255, 0.8) 100%);
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  #{$left}: 0;

  @include breakpoint($only-mobile) {
    display: none;
  }
}

.nodetype--acq_product {
  @include breakpoint($upto-desktop) {
    ul#select2-edit-configurables-size-results {
      li.select2-results__option {
        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          border-top: 1px solid $primary_border;
        }
      }
    }
  }
}

article.product-out-of-stock {
  .basic-details-wrapper {
    @include breakpoint($only-mobile) {
      .field--name-field-skus {
        height: 0;
        min-height: auto;
        border: none;

        .field {
          &::after {
            display: block;
          }
        }
      }
    }
  }
}

.fake-apply-button {
  font-family: $alshaya-bold;
  display: inline-block;
  margin-bottom: 0.875rem;
  padding: 0.3625rem 1.875rem 0.5625rem;
  background: $primary_btn_bg;
  color: $fake_apply_btn !important;
  cursor: pointer;
  margin-#{$left}: 1rem;
  font-size: 0.75rem;
  border: 0;
}

.filter-menu-label {
  .clear-all-fake.inactive {
    border: 1px solid $clear_btn_border !important;
    text-align: center;
    padding: 0;
    background: none;
    width: 4.7rem;
    min-height: 1.9375rem;
    max-height: 1.9375rem;
    font-size: 0.75rem !important;
    font-family: $alshaya-thin !important;
    margin-right: 0;
    margin-left: 1rem;
    color: $clear_btn_text !important;

    span {
      color: $clear_btn_text !important;
    }
  }
}

html[lang=ar] {
  .fake-apply-button {
    padding: 0.1rem 1rem 0.2rem;
    margin-right: 1rem;

    &.inactive {
      margin-left: 0;
    }
  }
}

//Theming of non buyable products
.not-buyable {
  &-message {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.5;
    color: $not_buyable_msg;
  }

  &-help-text {
    font-size: 0.75rem;
    line-height: 1.5;

    a {
      font-weight: bold;
      color: $not_buyable_help;
    }
  }
}

.is-filter .apply-fake {
  @include stickyButton();

  list-style: none;
  border-color: $fake_apply_btn_border;
  width: 100%;
  display: none;

  &.active {
    display: block;
  }

  .fake-apply-button {
    width: 100%;
    text-align: center;
    padding-#{$left}: 0;
    padding-#{$right}: 0;
    border-radius: 0 !important;
    font-size: 0.875rem !important;
    margin: 0;
    height: 2.5rem;
  }
}

.path--cart,
.nodetype--acq_product {
  .select2-container--open {
    .select2-dropdown {
      z-index: 1001;
    }
  }
}

.basic-details-wrapper {
  .field--name-field-skus {
    #configurable_ajax {
      .form-item {
        label {
          &.error {
            @include breakpoint($upto-desktop) {
              display: inline-block;
              position: static;
            }

            font-family: $alshaya-thin;
            font-size: 0.6875rem;
            color: $pdp_form_selection_error_text;
            padding-#{$left}: 0.375rem;
            position: static;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.content--dimensions-and-care {
  .dimensions-and-care {
    border-bottom: 1px solid $pdp_title_section_border;
  }

  .c-accordion__title {
    color: $pdp_accordion_title;
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
    border-bottom: none;
    font-size: 0.875rem;
    font-weight: 600;
  }

  .c-accordion_content {
    h4 {
      font-size: 0.75rem;
      font-weight: 600;
      color: $pdp_sidebar_label;
    }

    ul {
      font-size: 0.75rem;
    }
  }
}

.nodetype--acq_product {
  .select2-container--open {
    .select2-dropdown {
      z-index: 1;
    }
  }

  &.pdp-modal-overlay {
    .select2-container--open {
      .select2-dropdown {
        z-index: 1001;
      }
    }
  }
}

.nodetype--acq_product,
.acq-content-product-modal {
  .content__title_wrapper {
    .vat-text,
    .content--item-code {
      display: inline-block;
      margin-top: 0;
    }

    .vat-text {
      font-size: 0.625rem;
      margin-#{$right}: 0.375rem;
    }
  }
}

@include breakpoint($only-mobile) {
  .mobilegallery {
    #product-image-gallery-mobile {
      min-height: 18rem;

      &.slick-slider {
        touch-action: pan-y pinch-zoom;
      }
    }
  }
}
