.labels-container {
  .label {
    position: absolute;
    max-width: 5rem;
    z-index: 0;

    .c-pdp & {
      z-index: 5;
    }

    .c-plp & {
      z-index: 1;

      @include breakpoint($only-mobile) {
        z-index: 0;
      }
    }

    &.top {
      &-left {
        top: 0.5rem;
        #{$left}: 0.5rem;
        #{$right}: inherit;

        @include breakpoint($only-tablet) {
          top: 0.9375rem;
          #{$left}: 0.9375rem;
          #{$right}: inherit;
        }

        @include breakpoint($desktop) {
          top: 1rem;
          #{$left}: 2rem;
          #{$right}: inherit;
        }
      }

      &-right {
        top: 0.5rem;
        #{$right}: 0.5rem;
        #{$left}: inherit;

        @include breakpoint($only-tablet) {
          top: 0.9375rem;
          #{$right}: 0.9375rem;
          #{$left}: inherit;
        }

        @include breakpoint($desktop) {
          top: 1rem;
          #{$right}: 2rem;
          #{$left}: inherit;
        }
      }
    }

    &.bottom {
      &-left {
        bottom: 0;
        #{$left}: 0.5rem;
        #{$right}: inherit;

        @include breakpoint($only-tablet) {
          #{$left}: 0.9375rem;
          #{$right}: inherit;
        }

        @include breakpoint($desktop) {
          #{$left}: 2rem;
          #{$right}: inherit;
        }
      }

      &-right {
        bottom: 0;
        #{$right}: 0.5rem;
        #{$left}: inherit;

        @include breakpoint($only-tablet) {
          #{$right}: 0.9375rem;
          #{$left}: inherit;
        }

        @include breakpoint($desktop) {
          #{$right}: 2rem;
          #{$left}: inherit;
        }
      }
    }
  }
}

.sell--image,
.view-product-slider {
  .labels-container {
    .label {
      &.bottom {
        &-left,
        &-right {
          bottom: 0;
        }
      }
    }
  }
}

.acq-content-product-modal {
  .cloudzoom__herocontainer .product-labels {
    height: auto;
  }

  .gallery-wrapper {
    .labels-container {
      .label {
        &.bottom {
          &-left,
          &-right {
            @include breakpoint($only-tablet) {
              bottom: 4.5rem;
            }

            @include breakpoint($desktop) {
              bottom: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.mob-imagegallery {
  .labels-container {
    .label {
      &.bottom {
        &-left,
        &-right {
          bottom: 9.5rem;
        }
      }
    }
  }
}

.gallery-wrapper {
  .labels-container {
    .label {
      &.bottom {
        &-left,
        &-right {
          @include breakpoint($desktop) {
            bottom: 0;
          }
        }
      }
    }
  }
}

.mobilegallery {
  .labels-container {
    .label {
      &.bottom {
        &-left,
        &-right {
          bottom: 1.1rem;
        }
      }
    }
  }
}

.image-label-wrapper {
  position: relative;

  .labels-container {
    &.bottom {
      &-left,
      &-right {
        bottom: 0;
      }
    }
  }
}
