// Theming modal window for the cross-sell and up sell
#drupal-modal {
  .contextual-region {
    position: static;
  }

  .pager-no {
    &.slick-slider {
      @include breakpoint($only-tablet) {
        padding: 0 2rem;

        .slick-track {
          width: auto !important;
        }
      }
    }
  }
}

.acq-content-product-modal {
  .content {
    &__main {
      @include breakpoint($tablet) {
        width: 60%;
        float: $left;
      }

      @include breakpoint($desktop) {
        width: 60%;
        float: $left;
      }
    }

    &__sidebar {
      @include breakpoint($mobile) {
        position: relative;
      }

      @include breakpoint($tablet) {
        position: static;
      }

      @include breakpoint($tablet) {
        width: 35%;
        float: $right;
        margin: 0.625rem 1rem 0;
      }

      @include breakpoint($desktop) {
        width: 38%;
        float: $right;
        margin: 0;
        margin-#{$right}: 1rem;
      }
    }

    &__title_wrapper {
      @include breakpoint($tablet) {
        width: 35%;
        float: $right;
        margin: 0 1rem;
      }

      @include breakpoint($desktop) {
        width: 38%;
        float: $right;
        margin: 0;
        margin-#{$right}: 1rem;
      }
    }
  }

  .cloudzoom__image {
    .img-wrap {
      overflow: hidden;

      @include breakpoint($tablet) {
        height: 21.88rem;
      }

      @include breakpoint($desktop) {
        height: 26.31rem;
      }
    }
  }

  .hover-text {
    @include u-visibility(none);
  }

  .c-products__item__label {
    font-family: $alshaya-thin;
    font-size: 1.125rem;
    font-weight: 100;
    margin-top: 0;
  }

  .form-item-quantity {
    float: $left;
    z-index: 0;

    label {
      float: $left;
      padding: 0.3125rem 1.25rem 0.3125rem 0;
    }

    .edit-quantity {
      border: none;
      border-radius: 0;
      padding: 0.3125rem 0.625rem;
      appearance: none;
      float: $left;
    }
  }

  .full-prod-link {
    display: block;
    padding: 0.55rem 0;
    border-top: 1px solid $pdp_modal_full_prodlink_border;
    border-bottom: 1px solid $pdp_modal_full_prodlink_border;
    margin-bottom: 1.5rem;
    font-family: $arial;
    font-size: 0.875rem;
    font-weight: bold;
    color: $pdp_modal_full_prodlink;
    line-height: 1.8rem;
    text-align: $left;

    @include if-ltr {
      @include icon(chevronright, after);

      &::after {
        float: $right;
        font-size: 1.875rem;
        line-height: 1;
        vertical-align: top;
      }
    }

    @include if-rtl {
      @include icon(chevronleft, before);

      &::before {
        float: $right;
        font-size: 1.875rem;
        line-height: 1;
        vertical-align: top;
      }
    }
  }

  .cloudzoom__thumbnails {
    @include breakpoint($desktop) {
      width: 5.8rem;
      margin-#{$right}: 0.5rem;
    }

    li.lslide.active {
      max-width: 5.625rem !important;
    }
  }

  .field--name-field-skus .sku-base-form > .errors-container {
    display: block;
    width: 100%;
  }

  .errors-container .error {
    margin: 0.625rem 0;
  }

  .price-wrapper .price {
    max-width: none !important;
  }

  .field--name-field-skus .sku-base-form button[type="submit"] {
    font-family: $alshaya-bold;
    font-weight: normal;
    line-height: 1;
    margin-top: 2rem;

    @include breakpoint($desktop) {
      margin-top: 1.5rem;
    }
  }

  .sku-base-form > #configurable_ajax ~ button {
    @include breakpoint($only-tablet) {
      margin-top: 0.375rem;
    }
  }

  .sku-base-form .ajax-progress-throbber {
    margin-bottom: 1rem;

    .message {
      font-family: $alshaya-thin;
      text-transform: lowercase;
    }
  }

  .content__sidebar .field--name-field-skus .ladda-button .ladda-spinner {
    html[lang="ar"] & {
      @include breakpoint($only-tablet) {
        position: absolute;
        top: 1rem;
        left: 47%;
      }
    }
  }

  #lightSlider {
    .slick-slide {
      @include breakpoint($only-tablet) {
        width: 6rem !important;
        margin-#{$left}: 1rem;
      }
    }
  }
}
