.super-category-enabled {
  .c-header__wrapper--inner {
    max-width: 80.25rem;
    margin: 0 auto;
  }

  .c-menu-primary {
    display: block;
    height: auto;

    .region__menu-primary {
      @include breakpoint($desktop) {
        float: $left;
        width: 35%;
      }

      .block-alshaya-super-category-menu  {
        .menu--one__list {
          @include breakpoint($desktop) {
            height: 3.68rem;
          }
          
          .menu--one__link {
            font-size: 0;

            @include breakpoint($desktop) {
              padding: 1.24rem 1rem;
            }
          }
        }
      }
    }
  }

  .c-menu-secondary {

    a {
      @include breakpoint($desktop) {
        padding: 1.31rem 1.438rem;
        height: 3.68rem;
      }
    }

    li {
      @include breakpoint($desktop) {
        height: 3.68rem;
        vertical-align: middle;
      }
    }

    .menu--account, 
    .block-alshaya-stores-finder,
    .block-language-blocklanguage-interface {
      @include breakpoint($desktop) {
        height: 3.68rem;
      }
    }

    .block-language-blocklanguage-interface {
      @include breakpoint($desktop) {
        height: 3.68rem;
      }
        
      .ar, .en {
        a {
          @include breakpoint($desktop) {
            height: 3.68rem;
          }
        }
      }
    }
  }

  .block-alshaya-super-category {
    .menu--one__list {
      .menu--one__link {
        @include breakpoint($only-tablet) {
          display: flex;
          justify-content: center;
        }
      }
    }

    .brand-american-eagle,
    .brand-aerie {
      img {
        height: 1.25rem;
      }
    }

    .brand-american-eagle img {
      width: 10.313rem;
    }

    .brand-aerie img {
      width: 3.3125rem;
    }
  }

  .header--fixed {
    .c-header__wrapper--inner {
      @include breakpoint($desktop) {
        display: none;
      }
    }
  }

  .header--wrapper.show-overlay {
    .menu--mobile-navigation {
      border-bottom-color: $header_mobile_menu_overlay !important;
    }

    &::before {
      z-index: 11 !important;
    }

    .menu--mobile-navigation,
    .block-alshaya-super-category-menu {
      @include breakpoint($only-tablet) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: $header_mobile_menu_overlay !important;
          z-index: 1 !important;
          transition: none !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .branding__menu.show-overlay {
    .block-cart-mini-block,
    .block-alshaya-react-mini-cart {
      @include breakpoint($only-tablet) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: $header_mobile_menu_overlay !important;
          z-index: 1 !important;
          transition: none !important;
          opacity: 1 !important;
        }
      }

      border-bottom-color: $header_mobile_menu_overlay !important;
    }
  }

  .super-category-aerie {
    .filter-fixed-top {
      .sticky-filter-wrapper {
        .site-brand-home {
          a {
            width: 5rem;
            margin-top: 0.3125rem;
          }
        }
      }
    }
  }
}
