.super-category-enabled {
  .c-menu-primary {
    display: block;
    height: auto;

    .region__menu-primary {
      @include breakpoint($desktop) {
        float: $left;
        width: 35%;
      }

      .menu--one__list {
        .menu--one__link {
          font-size: 0;
        }
      }
    }
  }

  .block-alshaya-super-category {
    .menu--one__list {
      .menu--one__link {
        @include breakpoint($only-tablet) {
          display: flex;
          justify-content: center;
        }
      }
    }

    .brand-american-eagle,
    .brand-aerie {
      img {
        height: 1.625rem;
      }
    }

    .brand-american-eagle img {
      width: 3.4375rem;
    }

    .brand-aerie img {
      width: 2.5rem;
    }
  }

  .header--fixed {
    .c-header__wrapper--inner {
      @include breakpoint($desktop) {
        display: none;
      }
    }
  }

  .header--wrapper.show-overlay {
    .menu--mobile-navigation {
      border-bottom-color: $header_mobile_menu_overlay !important;
    }

    &::before {
      z-index: 11 !important;
    }

    .menu--mobile-navigation,
    .block-alshaya-super-category-menu {
      @include breakpoint($only-tablet) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: $header_mobile_menu_overlay !important;
          z-index: 1 !important;
          transition: none !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .branding__menu.show-overlay {
    .block-cart-mini-block,
    .block-alshaya-react-mini-cart {
      @include breakpoint($only-tablet) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: $header_mobile_menu_overlay !important;
          z-index: 1 !important;
          transition: none !important;
          opacity: 1 !important;
        }
      }

      border-bottom-color: $header_mobile_menu_overlay !important;
    }
  }

  .super-category-aerie {
    .filter-fixed-top {
      .sticky-filter-wrapper {
        .site-brand-home {
          a {
            width: 5rem;
            margin-top: 0.3125rem;
          }
        }
      }
    }
  }
}
