.matchback-processed {
  .subtitle {
    &.crossell-title {
      color: $matchback-product-dark;
    }
  }
}

.matchback-processed {
  .wishlist-pdp-matchback {
    display: none;
  }
}

.cross-sell-product-components {
  .cross-sell-product-component-center {
    h1 {
      font-size: rem(14);
      line-height: 1.29;
      font-weight: normal;

      a.full-prod-link {
        color: $matchback-product-dark;
      }
    }

    .price-block {
      .price-wrapper {
        .price {
          font-size: rem(14);
          line-height: 1.29;
        }
      }
    }

    .content--item-code {
      font-size: rem(12);
      line-height: 1.33;
    }
  }
}

@include breakpoint($tablet) {
  .cross-sell-product-components {
    .cross-sell-product-component-center {
      .price-block {
        .price-wrapper {
          .price {
            margin-top: rem(4);
          }
        }

        .special-price-block {
          .price--discount {
            margin-top: rem(4);
          }
        }
      }

      .content--item-code {
        margin-top: rem(4);
      }
    }
  }

  #machbackSlider {
    .slick-prev,
    .slick-next {
      // Overriding inline css added by JS
      top: rem(9) !important;
    }
  }
}

@include breakpoint($desktop) {
  .cross-sell-product-components {
    .cross-sell-product-component-center {
      padding-#{$right}: rem(35);
    }
  }

  .matchback-processed {
    .subtitle {
      &.crossell-title {
        padding-#{$left}: rem(44);
        padding-bottom: rem(31);
      }
    }
  }
}
