header {
  .c-header__region {
    @include fullWidthSideSpaces(
      $is_mobile: true,
      $is_tablet: true,
      $is_desktop: true,
      $is_desktop_wide: true
    );

    @include breakpoint($desktop) {
      max-width: none;
    }
  }
}

// Styles for Super Category header.
body[class*="super-category"] {
  .c-menu-primary {
    .block-alshaya-super-category {
      .menu--one__list {
        @include fullWidthSideSpaces(
          $is_desktop: true,
          $is_desktop_wide: true,
          $side: $left,
        );
      }
    }
  }

  .c-menu-secondary {
    .block-language-blocklanguage-interface {
      a {
        @include fullWidthSideSpaces(
          $is_desktop: true,
          $is_desktop_wide: true,
          $side: $right,
          $type: "margin",
        );
      }
    }
  }
}

.c-breadcrumb {
  ol {
    max-width: none;

    @include fullWidthSideSpaces(
      $is_tablet: true,
      $is_desktop: true,
      $is_desktop_wide: true
    );
  }
}

@include breakpoint($desktop) {
  #block-cartminiblock,
  .block-alshaya-react-mini-cart,
  .static-minicart-wrapper {
    .cart-link::before {
      #{$right}: 0;
    }

    .quantity {
      #{$left}: rem(-14);
    }
  }

  body.wishlist-enabled {
    header {
      .region__header {
        .block-alshaya-react-mini-cart {
          margin-#{$left}: rem(8);
        }
      }
    }
  }

  // Styles for Super Category header.
  body[class*="super-category"] {
    .c-header__wrapper--inner {
      max-width: none;
    }

    .c-menu-secondary {
      .block-language-blocklanguage-interface {
        a {
          padding-#{$right}: 0;
        }
      }
    }
  }
}
