.spc-checkout-delivery-information {
  .popup-overlay .popup-content {
    .spc-address-form-actions .spc-address-form-submit {
      font-weight: 600;
      text-transform: uppercase;
    }

    .spc-deliver-button,
    .spc-add-new-address-btn {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .spc-checkout-empty-delivery-text {
    text-transform: capitalize;
  }
}

.spc-section-billing-address {
  .popup-overlay .popup-content {
    .spc-deliver-button {
      text-transform: uppercase;
    }
  }
}
