.alias--checkout,
.alias--checkout-confirmation {
  .site-brand-home {
    @include breakpoint($desktop) {
      height: auto;
    }

    a {
      @include breakpoint($tablet) {
        max-width: 29.375rem;
        width: 100%;
        text-align: center;
      }

      @include breakpoint($only-mobile) {
        max-width: 15rem;
        width: 100%;
        font-size: inherit;
      }
    }
  }
}
