.alias--cart {
  .edit-update,
  .edit-checkout,
  #edit-actions-top .checkout-top-button {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;

    @include breakpoint($tablet) {
      width: 10.81rem;
      height: 2.188rem;
    }
  }

  #edit-actions-top {
    .checkout-top-button {
      -webkit-font-smoothing: antialiased;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  #table-cart-items {
    table {
      font-family: $body_font;

      thead tr {
        background: $primary_th_bg;
        border-bottom: 1px solid $basket_table_th_and_tr_last_border;

        th {
          color: $basket_th_text;
        }
      }

      tbody tr {
        background: $basket_tr;

        &:hover {
          background: $basket_tr_hover;
        }

        td {
          &.name {
            .image {
              max-width: 8rem;

              @include breakpoint($only-tablet) {
                max-width: 7.125rem;
              }

              @include breakpoint($desktop) {
                max-width: 8.5625rem;
              }
            }
          }

          &.quantity {
            position: relative;

            > .ajax-progress-throbber {
              #{$left}: 58%;

              @include breakpoint($only-tablet) {
                .throbber {
                  background-size: 1rem;
                }
              }

              @include breakpoint($only-mobile) {
                .throbber {
                  background-size: 1.25rem;
                }

                #{$left}: 48%;
                top: 1.8125rem;
              }
            }

            div .ajax-progress-throbber {
              #{$left}: 102%;

              @include breakpoint($only-tablet) {
                #{$left}: 86%;

                .throbber {
                  background-size: 1rem;
                }
              }

              @include breakpoint($only-mobile) {
                #{$left}: 22%;

                .throbber {
                  background-size: 1.25rem;
                }
              }
            }
          }

          a {
            font-weight: 600;

            &.sku-promotion-link {
              text-decoration: underline;
            }
          }

          &.price {
            .price--discount {
              .discount-value,
              .discount-prefix {
                @include breakpoint($only-tablet) {
                  font-size: 0.625rem;
                }
              }
            }
          }

          &.delivery-option {
            @include breakpoint($only-tablet) {
              padding-left: 3px;
              padding-right: 3px;

              html[lang=ar] & {
                padding: 1.35rem 0.7rem;
              }
            }

            .delivery-options-mobile {
              @include breakpoint($only-mobile) {
                font-weight: bold;
              }
            }
          }
        }

        &:last-child {
          border-bottom: 1px solid $basket_table_th_and_tr_last_border;
        }
      }
    }
  }

  .tooltip {
    &::before {
      @include breakpoint($desktop) {
        #{$right}: 4.75rem;
      }

      @include breakpoint($only-tablet) {
        #{$right}: 1px;
      }
    }

    &::after {
      @include breakpoint($desktop) {
        #{$right}: 4.8125rem;
      }

      @include breakpoint($only-tablet) {
        #{$right}: 0.125rem;
      }
    }
  }

  #table-cart-totals {
    tr {
      td {
        &:first-child {
          color: $basket_total_label_text;

          span {
            color: $basket_total_label_text_subtitle;
          }
        }
      }
    }

    .edit-continue-shopping-mobile,
    #edit-continue-shopping-mobile {
      color: $basket_continue_shopping_link;
      text-decoration: underline;
      text-transform: capitalize;

      @include breakpoint($only-mobile) {
        border: none;
        font-weight: 600;
      }
    }
  }

  .empty-cart-wrapper {
    .empty-cart-message {
      font-weight: normal;
    }

    #edit-continue-shopping,
    #edit-continue-shopping-mobile {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .promo-continue-shopping-wrapper {
    #coupon-button.add {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.block-basket-horizontal-recommendation {
  h3 {
    padding-#{$left}: 0;
    font-size: 1.125rem;
    font-weight: 300;

    @include breakpoint($tablet) {
      padding: 0 12%;
      margin-bottom: 1.625rem;
    }

    @include breakpoint($desktop) {
      padding: 0 1.5rem;
      margin-bottom: 1.625rem;
    }
  }

  .view-product-slider {
    padding: 0 0.75rem;

    .owl-carousel {
      .owl-item {
        img {
          max-width: 13.125rem;
        }
      }
    }
  }
}

#out-of-stock-message {
  font-weight: normal;
}

.continue-shopping {
  @include breakpoint($desktop) {
    #{$right}: 24.25%;
  }
}

.path--cart {
  .customer-cart-form {
    .items {
      .discount-value {
        @include breakpoint($only-mobile) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
