.cnc-collect-from,
.label-store-location {
  text-transform: none !important;
}

#edit-guest-delivery-collect,
#edit-member-delivery-collect {
  #store-finder-wrapper {
    #click-and-collect-list-view {
      .all-stores-info {
        .selected-store-location {
          color: $checkout_cc_location_result_label_selected_location;
          font-weight: normal;
        }
      }

      ul li {
        .store-name-and-address .store-name,
        .label--delivery-time,
        .hours--label.open {
          font-weight: normal !important;
        }

        .store-actions {
          .select-store {
            text-transform: uppercase;
          }

          .store-on-map {
            text-transform: none;
          }
        }
      }

      ul {
        li {
          .store-actions {
            .store-on-map {
              color: $checkout_cc_list_map_link_default;
            }
          }
        }
      }
    }

    .label-store-location {
      @include breakpoint($only-mobile) {
        margin-bottom: 0.3125rem !important;
        font-weight: 600;
      }
    }

    .stores-list-view,
    .stores-map-view {
      border: none !important;
      text-transform: none;
      font-weight: normal !important;
      display: flex !important;
      justify-content: center;

      &.active {
        border: 1px solid $checkout_cc_list_map_link_active !important;
      }

      @include breakpoint($only-tablet) {
        padding-top: 0;
      }

      &::before {
        color: $checkout_cc_list_map_link_active;
        display: flex;
        align-items: center;

        @include breakpoint($only-tablet) {
          top: auto !important;
          #{$left}: auto !important;
          justify-content: center;
          height: inherit;
          width: inherit;
        }
      }
    }

    .stores-list-view {
      &::before {
        font-size: 2rem;
      }
    }

    .stores-map-view {
      &::before {
        font-size: 1.8rem;
        margin-#{$right}: 0.5rem;
      }
    }

    .geolocation-common-map-container {
      .store-open-hours .hours--label {
        color: $checkout_cc_list_hours_label;

        &::after {
          color: $checkout_cc_list_hours_label_icon;
          top: 0.75rem !important;
        }
      }

      .store-delivery-time .label--delivery-time,
      .store-name-and-address .store-name {
        font-weight: normal;
      }

      .store-actions .select-store {
        text-transform: uppercase;
      }
    }
  }

  #selected-store-wrapper {
    .selected-store-content {
      .store-name-and-address .store-name,
      .label--delivery-time {
        font-weight: normal;
      }

      .store-actions .change-store {
        text-transform: uppercase;
        background: $checkout_cc_list_change_store_btn_bg;
        color: $checkout_cc_list_change_store_btn_txt;
        border-color: $checkout_cc_list_select_store_btn_border;
      }
    }

    .cc-help-text {
      font-weight: normal;
    }
  }
}

.alias--cart-checkout-delivery {
  #edit-member-delivery-collect,
  #edit-guest-delivery-collect {
    #store-finder-wrapper {
      .cc-near-me,
      .current-location {
        &::before {
          background: url(../imgs/icons/current.svg) no-repeat;
        }
      }
    }
  }
}

.path--cart {
  .pac-container {
    min-width: auto;
  }
}
