%page-title {
  font-family: $hnm-demibold;
  font-weight: normal;
  color: $hnm-black-two;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;

  @include breakpoint($mobile) {
    font-size: 1rem;
  }

  @include breakpoint($tablet) {
    font-size: 1.25rem;
  }
}

.c-page-title {
  @extend %page-title;
}

.subtitle {
  font-family: $hnm-bold;
  color: $marine-blue;
  font-size: 1rem;
  text-transform: lowercase;
  padding-bottom: 9px;
  margin-bottom: 0;
}
