.c-sidebar-first {
  .block:first-child {
    @include breakpoint($upto-desktop) {
      margin-top: rem(20);
    }
  }

  .item-list {
    .my-account-nav {
      li {
        text-decoration: underline;
        font-size: rem(14);
      }
    }
  }
}

.path--user {
  .dialog-off-canvas-main-canvas {
    .c-hero-content {
      .messages__wrapper {
        .messages.messages--status {
          margin-bottom: rem(30);
        }
      }
    }
  }

  main {
    .block-system-main-block {
      .form-actions {
        .button {
          text-transform: unset;
        }
      }
    }
  }
}
