<div class="main--menu">
<div class="toggle--sign no--desktop">
  <div class="shop one active">shop</div>
  <div class="account one">sign in / register</div>
</div>
  <div class="mobile--close">
    <span></span>
  </div>
  <ul class="menu__list menu--one__list">
    {% for key1, level1 in term_tree %}
      {% if level1.class == true %}
        <li class="menu__list-item menu--one__list-item {{ level1.class }}">
      {% else %}
        <li class="menu__list-item menu--one__list-item">
      {% endif %}
          <div class="menu__link-wrapper menu-two__link-wrapper">
            <a class="menu__link menu--one__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level1.id}) }}">{{ level1.label }}</a>
          </div>

          {% if level1.child is not empty %}
            {{ alshaya_main_menu('alshaya_main_menu_level2', level1) }}
          {% endif %}
        </li>
    {% endfor %}
  </ul>
</div>
