<ul class="menu__list menu--three__list">
  {% for key, level3 in data %}
    <li class="menu__list-item menu--three__list-item">
      <div class="menu__link-wrapper menu-two__link-wrapper">
        <a class="menu__link menu--three__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level3.id}) }}">{{ level3.label }}</a>
      </div>

      {% if level3.child is not empty %}
        {{ alshaya_main_menu('alshaya_main_menu_level4', level3.child) }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
