<ul class="menu__list menu--four__list">
  <span class="back--link"><span class="menu__back"></span> <span>{{ data.label }}</span></span>  
  {% for key, level4 in data %}
    <li class="menu__list-item menu--four__list-item">
      <div class="menu__link-wrapper menu-two__link-wrapper">
        <a class="menu__link menu--three__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': level4.id}) }}">{{ level4.label }}</a>
      </div>
    </li>
  {% endfor %}
</ul>
