.options-page-content {
  max-width: 1280px;
  margin: 0 auto;

  @include breakpoint($only-mobile) {
    margin: 0 8px;
  }

  .options-page-title {
    margin-top: 50px;
    font-size: 36px;
    line-height: 0.89;
    text-align: center;
    color: #333;
    font-family: $alshaya-bold;
  }

  .options-page-description {
    font-family: $alshaya-thin;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.14;
    text-align: center;
    color: #333;
  }

  .attribute-title,
  .divider span,
  .attribute-detail-link {
    font-family: $alshaya-bold;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #333;
    position: relative;
    background: $section_divider_bg;
    z-index: 2;
    padding: 0 1rem;
  }

  .attribute-description {
    font-family: $alshaya-thin;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #777;
    margin-top: 27px;

    @include breakpoint($only-mobile) {
      font-size: 14px;
      margin: 0 26px;
    }
  }

  .attribute-option,
  .divider {
    border: 1px solid #e5e5e5;
    border-top: 0;
    margin-top: 66px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @include breakpoint($only-mobile) {
      border: none;
    }

    &::before {
      content: '';
      border-top: 1px solid #e5e5e5;
      width: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    > div {
      width: 100%;
    }

    .attribute-title {
      width: auto;
      margin-top: -11px;
    }
  }

  .attribute-option {
    li {
      list-style: none;
    }
  }

  .divider {
    border: none;

    &::before {
      top: 11px;
      border-top-color: #333;
    }

    &:last-child {
      display: none;
    }
  }

  .attribute-detail-link {
    color: #fff;
    background-color: #333;
    padding: 10px 0;
    margin-top: 23px;
    cursor: pointer;
    margin-bottom: 68px;
  }

  .fragrance_name {
    .attribute-filter-option {
      @include breakpoint($only-mobile) {
        display: none;
      }
    }
  }
}

.fragrance-filter-overlay {
  overflow: hidden;

  .fragrance_name {
    .attribute-filter-option {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 12;
      background: #fff;
      padding: 0 8px;
    }
  }

  .branding__menu {
    &.navbar-fixed-top {
      z-index: 11;
    }
  }

  .fragrance-overlay-close-icon {
    #{$left}: auto;
    #{$right}: 0.5rem;
  }

  .attribute-filter-block-title {
    font-family: $alshaya-thin;
    font-size: 14px;
    line-height: 1.29;
    color: #005699;
    text-transform: uppercase;
  }

  .attribute-filter-header {
    position: fixed;
    height: 46px;
    background: #fff;
    width: 100%;
    padding: 14px 0;
  }

  .attribute-filter-name-list {
    margin-top: 56px;
  }
}

@include breakpoint($tablet) {
  .attribute-filter-name-list {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 16px;
    column-gap: 16px;
    margin-top: 36px;
    padding: 0 48px;

    li {
      box-sizing: border-box;
      line-height: 1;
    }

    .level-1 {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;

      ul {
        padding: 0;
        margin-bottom: 0;

        li {
          margin-bottom: 15px;
        }
      }
    }

    .group-heading {
      color: #333;
      background: transparent;
      border-bottom: 1px solid #e5e5e5;
      padding: 0 0 6px;
      margin-bottom: 10px;
      text-transform: uppercase;

      &:empty {
        display: none;
      }
    }
  }
}

.alshaya-options-list-autocomplete-form {
  margin-top: 26px;

  .form-item-alshaya-options-list-autocomplete-form {
    display: block;
    max-width: 444px;
    margin: 0 auto;
    width: 100%;
    position: relative;

    &::after {
      content: '';
      background: url('../../../imgs/icons/store-search.svg') no-repeat center;
      width: 20px;
      height: 25px;
      padding: 0;
      background-size: contain;
      position: absolute;
      #{$right}: 8px;
      top: 0.5rem;
    }

    input {
      box-sizing: border-box;
      outline: transparent;
      height: 2.5rem;
      border: 1px solid #dadada !important;
      padding: 0 0.5rem !important;
      background: transparent;
    }

    label {
      display: none;
    }
  }
}
