.view-product-slider {
  text-align: center;
  max-width: 19rem;
  margin: auto;
  margin-bottom: 2.4rem;

  @include breakpoint($tablet) {
    padding: 0 2.75rem;
    margin-#{$left}: 0;
    margin-bottom: 1.5rem;
  }

  @include breakpoint($desktop) {
    max-width: 44.5rem;
  }

  @include breakpoint($only-tablet) {
    max-width: 26rem;
  }

  .c-products__item__label {
    font-size: 0.8125rem;
    font-family: $alshaya-thin;
    color: $grey-ash;
    font-weight: normal;
    margin: 0.625rem 0;

    @include breakpoint($desktop) {
      padding-#{$left}: 1.5rem;
      padding-#{$right}: 0.7rem;
    }
  }

  .quantity.out-of-stock {
    @include breakpoint($only-mobile) {
      margin-bottom: 0.75rem;
      padding: 0;
      position: relative;
      padding-bottom: 0;
      float: $right;
      margin-top: 0.875rem;
      color: $black;
      text-align: $left;
    }
  }

  .add-to-cart.out-of-stock {
    @include breakpoint($only-mobile) {
      width: 100%;
    }
  }

  .owl-dots {
    position: relative;
    margin-top: 0.625rem;
    display: table;
    width: 100%;

    @include breakpoint($tablet) {
      display: none;
    }

    .owl-dot {
      width: 2.8125rem;
      height: 0.3125rem;
      border: 0;
      border-radius: 0.25rem;
      color: $greyish;
      display: table-cell;
      margin: 0;
      position: relative;
      z-index: 1;
      top: 0;
    }

    &::before {
      content: "";
      background: $whisper-light;
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .views-row {
    @include breakpoint($tablet) {
      height: 18.1rem;
    }

    .use-ajax {
      outline: transparent;
    }
  }

  .price-wrapper {
    color: $black;
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.187rem;
  }

  .owl-prev {
    @include breakpoint($tablet) {
      left: -2.5rem;
    }

    @include breakpoint($desktop) {
      left: -1.875rem;
    }
  }

  .owl-next {
    @include breakpoint($tablet) {
      right: -2.5rem;
    }

    @include breakpoint($desktop) {
      right: -3.2rem;
    }
  }

  .owl-prev::before,
  .owl-next::before {
    font-size: 2rem;
  }

  .owl-carousel .owl-item img {
    width: 100%;
    margin: auto;
    max-width: 11.625rem;

    @include breakpoint($upto-desktop) {
      max-width: 10rem;
      min-height: 10rem;
      object-fit: cover;
    }
  }

  .owl-prev,
  .owl-next {
    @include breakpoint($tablet) {
      top: 21.7%;
    }
  }
}

.horizontal-crossell {
  margin-top: 2.125rem;

  @include breakpoint($tablet) {
    margin-top: 1.5rem;
  }
}

.horizontal-crossell,
.horizontal-upell {
  @include breakpoint($tablet) {
    margin-bottom: 3.75rem;
  }
}

.subtitle.crossell-title {
  font-size: 0.875rem;
  font-family: $alshaya-bold;
  font-weight: normal;
  text-align: $left;
  margin-bottom: 0.3rem;

  @include breakpoint($tablet) {
    font-size: 1.125rem;
    margin-#{$left}: 2.7rem;
    margin-bottom: 0.6rem;
    letter-spacing: 1px;
  }

  @include breakpoint($desktop) {
    margin-#{$left}: 3.5rem;
  }
}

.sell--image,
.sell-description {
  width: 50%;
  vertical-align: middle;
}

.sell-description {
  @include breakpoint($upto-tablet) {
    vertical-align: top;
    padding-top: 1.4375rem;
  }
}

.sell--image img {
  max-height: 10rem;
}

.mobile--only--sell .sell-sku {
  clear: both;

  .field--name-name,
  .field--name-attr-special-price {
    display: none;
  }

  .sku-base-form {
    .js-form-submit {
      display: block;
      float: none;
      width: 100%;
      clear: both;
      font-size: 0.75rem;
      text-transform: lowercase;
      color: $white-five;
      background: $tomato;
      border: none;
      padding: 0.656rem;

      @include breakpoint($only-mobile) {
        max-width: 100%;
      }
    }

    label {
      display: block;
      position: absolute;
      top: -1.5625rem;
      font-size: 0.6875rem;
      padding: 0.3125rem 0;
      padding-#{$right}: 1.25rem;
      #{$left}: 0;
    }

    .js-form-wrapper {
      float: $left;

      .form-type-select {
        @include select-wrapper(12.375rem);

        padding: 0;
        position: relative;
        padding-bottom: 3rem;
        margin-top: 2.1875rem;

        .ajax-progress {
          display: none;
        }
      }

      select {
        @include select-style(12.375rem);

        background-color: $whisper-dark;
      }
    }

    .form-item-configurables-size {
      select {
        display: block !important;
      }

      .select2Option {
        display: none;
      }
    }

    .form-item-quantity {
      @include select-wrapper(4.375rem);

      float: $right;
      padding: 0;
      margin-bottom: 1.5rem;
      margin-top: 2.1875rem;

      select {
        @include select-style(4.375rem);

        background-color: $whisper-dark;
      }
    }
  }
}

.mobile--only--sell {
  width: 100%;

  @include breakpoint($tablet) {
    display: none;
  }
}

.has--special--price {
  text-decoration: line-through;
}

.price--discount span,
.special--price .price-wrapper {
  color: $scarlet;
}

.price--discount {
  margin-top: 9px;
  font-size: 10px;

  @include breakpoint($tablet) {
    margin-top: 12px;
    font-size: 11px;
  }

  @include breakpoint($desktop) {
    margin-top: 6px;
  }
}
