// @TODO: Replace individual imports with glob.
@import "../../config/breakpoints";
@import "../../config/colors";
@import "../../config/fonts";
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import "../../utils";
@import "../../icons";
@import "owl.carousel";

.c-slider__paragraph {
  position: relative;

  a {
    @extend %u-overlay-content;
    @extend %u-image-replacement;
  }
}

.c-slider__items {
  position: relative;
}

.owl-prev,
.owl-next {
  @extend %u-image-replacement;
  @extend %icon-chevron-next;

  background-color: rgba(255, 255, 255, 0.25);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 2.25rem;
  position: absolute;
  top: calc(50% - (4.375rem - 1.125rem)); // 50% - (4.375rem - (2.25rem / 2))
  width: 2.25rem;
}

.owl-prev {
  float: left;
  transform: rotate(-180deg);
  left: 0.5rem;

  @include breakpoint($tablet) {
    left: 1.65rem;
  }
}

.owl-next {
  float: left;
  right: 0.5rem;

  @include breakpoint($tablet) {
    right: 1.65rem;
  }
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  color: $peacock-blue;
  border: 1px solid currentColor;
  display: inline-block;
  margin: 1.75rem 0.75rem;

  &.active {
    background: currentColor;
  }
}
