<amp-sidebar id="sidebar-right" layout="nodisplay" side="right">
    {% if data %}
        <ul>
        {% for term in data %}
            <li><a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': term.tid}) }}">{{ term.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</amp-sidebar>
<div role="button" on="tap:sidebar-right.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2">☰</div>
<div id="target-element-right"></div>
