{% if slide == "rtl" %}
<amp-sidebar id="sidebar" layout="nodisplay" side="left">
{% else %}
<amp-sidebar id="sidebar" layout="nodisplay" side="right">
{% endif %}
    {% if data %}
      <div>
        <a href="#" on="tap:sidebar.toggle" class="ampstart-navbar-trigger close-icon">✕</a>
        <ul>
        {% for term in data %}
            <li><a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': term.tid}) }}">{{ term.name }}</a></li>
        {% endfor %}
        </ul>
       </div>
    {% endif %}
</amp-sidebar>
<div role="button" on="tap:sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2 menu-icon"></div>
<div id="target-element-right"></div>
