input[type="radio"] {
  display: none;

  ~ .radio-sim::before,
  ~ .payment-method-label-wrapper .radio-sim::before {
    content: "";
    position: absolute;
    #{$left}: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    text-align: center;
    font-size: 3.125rem;
  }

  ~ .radio-sim,
  ~ .payment-method-label-wrapper .radio-sim {
    @include icon(radio-empty, before) {
      color: $spc-checkout-radio-empty;
    }
  }

  &:checked {
    ~ .radio-sim,
    ~ .payment-method-label-wrapper .radio-sim {
      @include icon(radio-filled, before) {
        color: $spc-checkout-radio-filled;
      }
    }
  }

  ~ .radio-label,
  ~ .payment-method-label-wrapper .radio-label {
    font-size: 0.875rem;
    font-family: $alshaya-thin;
    color: $spc-checkout-delivery-method-txt;

    .impress {
      font-family: $alshaya-bold;
      margin-#{$right}: 0.3125rem;
      color: $spc-checkout-delivery-method-impress;
    }
  }
}

.payment-method.payment-method-checkout_com,
.payment-method.payment-method-checkout_com_upapi {
  .payment-method-bottom-panel {
    .spc-checkout-card-option {
      @include icon("check", after) {
        position: absolute;
        font-size: 1.75rem;
        #{$left}: 0;
        top: -0.25rem;
        pointer-events: none;
        opacity: 0.3;
      }

      &.selected {
        &::after {
          color: $spc-checkout-radio-filled;
          opacity: 1;
        }
      }
    }
  }
}

.payment-method-label-wrapper {
  padding-#{$left}: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-#{$right}: 1.75rem;
}
