.spc-order-summary-block {
  .block-content {
    background: $spc-order-summary-totals-bg;

    .actions {
      padding: 0 1.25rem 1.25rem;

      @include breakpoint($only-mobile) {
        padding: 1.25rem;
        background: $spc-order-summary-totals-bg;
        position: fixed;
        bottom: 0;
        box-shadow: 0 -1px 20px 9px $sticky-btn;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .totals {
    background: $spc-order-summary-totals-bg;
    padding: 1.25rem 1.25rem 0;

    .sub-total {
      margin-bottom: 0;
    }
  }

  .total-line-item {
    display: flex;
    justify-content: space-between;
    color: $spc-totals-line-item-color;
    line-height: 1.125rem;
    margin-bottom: 0.625rem;
    font-size: 1rem;

    .price-currency {
      padding-#{$right}: 0.3125rem;
    }

    .discount-total {
      color: $spc-order-summary-discount-text;

      + .value {
        color: $spc-order-summary-discount-text;
      }
    }

    .discount-total {
      position: relative;

      .tooltip-anchor {
        position: absolute;
        top: -0.1875rem;
        #{$right}: -1.875rem;
      }
    }
  }

  .hero-total {
    border-top: 1px solid $spc-order-summary-hero-total-border;
    padding: 1.25rem 0;

    .total-line-item {
      font-family: $alshaya-bold;
      margin-bottom: 0;
    }

    .delivery-vat {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 0.75rem;
        color: $spc-order-total-suffix-text;
      }
    }
  }

  .product-content {
    max-height: 17.5rem;
    overflow-y: auto;
    padding: 1.25rem;
    background: $spc-order-summary-product-area-bg;

    .product-item {
      background: $spc-order-summary-totals-bg;
      padding: 1.25rem;
      margin-bottom: 1.25rem;
      display: grid;
      grid-template-columns: 4.8125rem 1fr;
      grid-gap: 0.625rem;

      &:last-child {
        margin-bottom: 0;
      }

      .spc-product-image {
        max-width: 4.8125rem;
      }

      .spc-product-meta-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .spc-product-title {
        font-size: 0.875rem;
        margin-bottom: 0.4375rem;
      }

      .spc-product-attributes {
        margin-top: 1rem;
        font-size: 0.75rem;
        color: $spc-product-attributes;
      }
    }
  }
}
