.free-gift {
  .spc-warnings-alerts {
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
    grid-column-end: span 2;
  }
}

.spc-cart-item-warnings:not(:empty),
.spc-cart-item-alerts:not(:empty) {
  .spc-cart-item-warnings-item:not(:empty),
  .spc-cart-item-alerts-item:not(:empty) {
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.25rem 0.375rem;
    border-radius: 0.125rem;
    margin-top: 1.25rem;
    margin-#{$right}: 0.5rem;
  }
}

.spc-cart-item-warnings:not(:empty) {
  .spc-cart-item-warnings-item:not(:empty) {
    font-family: $alshaya-bold;
    font-weight: normal;
    font-size: 0.875rem;
    color: $spc-checkout-error-message-background;
  }
}

.spc-cart-item-alerts:not(:empty) {
  .spc-cart-item-alerts-item:not(:empty) {
    border: 1px solid $spc-cart-item-alert;
    color: $spc-cart-item-alert;

    a {
      color: $spc-cart-item-alert;
    }

    &[data-filled="true"] {
      border: none;
      background: $spc-cart-item-alert;
      color: $spc-cart-item-filled-text;

      .freegift-label {
        background: $primary_btn_bg;
        margin: -0.25rem -0.375rem;
        padding: 0.25rem 0.375rem;
        border-radius: 0.125rem;
      }
    }
  }
}

.delivery-in-only-city-text:not(:empty) {
  font-size: 0.8125rem;
  color: $spc-country-availability;

  @include breakpoint($desktop) {
    float: $right;
    margin-top: -2.375rem;
  }

  @include breakpoint($only-tablet) {
    margin-top: -0.5rem;
    padding-bottom: 1rem;
  }

  @include breakpoint($only-mobile) {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
