.checkout-link {
  background: $primary_btn_bg;
  height: 3.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  a {
    color: $primary_btn_text;
    font-family: $alshaya-bold;
    font-weight: normal;
    font-size: 1rem;
  }

  &.in-active {
    pointer-events: none;
    position: relative;
    cursor: default;

    a {
      pointer-events: none;
    }

    &::before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $_white_five_alpha_80;
      z-index: 3;
      pointer-events: none;
      position: absolute;
    }
  }
}
