#lightSlider {
  @include breakpoint($only-tablet) {
    padding-#{$left}: 2rem;
    padding-#{$right}: 2rem;
  }
}

.cloudzoom {
  #cloud-zoom-big {
    width: 19.875rem !important;
  }
}

#cloud-zoom-big {
  @include if-rtl {
    right: 126.1% !important;
  }

  @include if-ltr {
    left: 126.1% !important;
  }
}
