form.user-communication-preference {
  margin-top: 1.2rem;

  @include breakpoint($tablet) {
    margin-top: 1.6rem;
  }

  @include breakpoint($desktop) {
    margin-top: 3rem;
  }

  fieldset {
    margin-bottom: 2.3rem;
  }

  legend {
    color: $black;

    @include breakpoint($only-mobile) {
      padding-bottom: 0;
      margin-#{$left}: -0.25rem;
    }

    @include breakpoint($tablet) {
      padding-bottom: 0.8125rem;
    }
  }

  .form-submit {
    @include arabic-letter-spacing;

    margin-top: 0;
    font-size: 0.875rem;
    width: 100%;
    letter-spacing: 1px;

    @include breakpoint($tablet) {
      width: 6.9375rem;
    }

    @include breakpoint($desktop) {
      width: 7.9375rem;
    }
  }

  input[checked=checked]:checked + label {
    font-family: $hnm-demibold;
  }

  input[type=checkbox] {
    ~ label[for=edit-communication-preference-email],
    ~ label[for=edit-communication-preference-mobile] {
      font-size: 0.875rem;
      font-family: $hnm-demibold;
      color: $brownish-grey;
      margin-#{$left}: -0.625rem;

      &::before {
        padding-#{$right}: 0.8rem;
        position: relative;
        top: 0.625rem;

        @include breakpoint($only-mobile) {
          #{$left}: -0.25rem;
          padding-#{$right}: 0.25rem;
        }

        @include breakpoint($tablet) {
          padding-#{$right}: 0.5rem;
        }
      }
    }
  }

  input[type=checkbox]:checked {
    ~ label {
      font-family: $hnm-demibold;
    }
  }

  html[lang=ar] & {
    .form-item-communication-preference-email,
    .form-item-communication-preference-mobile {
      span {
        font-family: $arial-nodir;
      }
    }

    .form-item-communication-preference-mobile {
      label {
        position: relative;
      }

      span {
        direction: ltr;
        display: inline-block;
      }
    }
  }
}
