@import '../../../../sass/config/**/*.scss';

.block-copyright {
  color: $brownish-grey;
  text-align: center;
  font-size: 0.75rem;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 1;

  p {
    margin-top: 0.35rem;
    margin-bottom: 0;
    direction: ltr;
  }
}
