<div class="desc-wrapper">
  {{#if label }}
    <div class="desc-label">
      {{ label }}
    </div>
  {{/if}}
  {{#if value }}
    <div class="desc-value">
      {{ value }}
    </div>
  {{/if}}
</div>
