.aura-guest-user-link-card-otp-form {
  .aura-modal-form {
    .linkingoptions-label,
    .otp-sent-to-mobile-label {
      color: $aura-spc-checkout-text-content;
      font-size: 0.875rem;
    }

    .aura-form-items-link-card-options {
      margin-#{$left}: -0.625rem;
      margin-top: 0.625rem;
      margin-bottom: 2rem;

      .linking-option {
        > label.aura-radio-sim {
          color: $aura-spc-checkout-text-content;
        }
      }

      .linking-option:first-child {
        margin-#{$right}: 1.625rem;
      }
    }

    .spc-aura-link-card-input-mobile-aura-mobile-field {
      margin-top: -1.25rem;
      margin-bottom: 1.375rem;

      .spc-type-textfield {
        input::placeholder {
          visibility: hidden;
        }
      }
    }
  }
}
