.spc-promo-code-block {
  @include breakpoint($only-mobile) {
    margin-bottom: rem(16);
  }

  .block-content {
    @include breakpoint($mobile) {
      padding: rem(34);
      background-color: $spc-order-summary-totals-bg;
    }
  }

  #promo-code,
  .promo-remove,
  .promo-submit {
    height: rem(39);
    font-family: $alshaya-thin;
  }

  #promo-code {
    padding-#{$left}: rem(11);
    font-size: rem(14);
    border: rem(1) solid $spc-promo-code-border;
    color: $spc-promo-code-input-text;
  }

  .promo-submit {
    font-weight: 700;
  }
}
