.product-drawer-container .attribute-wrapper {
  &_size {
    + .alshaya-select-wrapper {
      @include breakpoint($only-mobile) {
        display: flex;
        flex-direction: column-reverse;
      }

      label {
        @include breakpoint($only-mobile) {
          position: relative;
          margin-bottom: rem(7);
        }
      }
    }
  }

  .form-select-wrapper {
    label {
      @include breakpoint($upto-desktop) {
        display: none;
      }
    }
  }
}
