.hello-member-promo-section {
  .hm-promo-pop-link {
    .promo-notification {
      background-color: $hello-member-promo-notification-icon;
    }
  }

  .popup-container {
    .hm-promo-modal-content {
      .error-info-section {
        font-family: $hnm-bold;
      }
    }

    .become-hello-member {
      .become-hello-member__header {
        font-family: $hnm-bold;
      }
    }
  }
}
