.view-product-slider {
  .c-products__item__label {
    font-size: 0.875rem;
    font-family: $hnm-regular;
    color: $sell_label;
  }

  .owl-carousel .owl-item img {
    @include breakpoint($only-tablet) {
      object-fit: cover;
    }

    @include breakpoint($only-mobile) {
      object-fit: scale-down;
    }
  }

  .owl-prev,
  .owl-next {
    @include breakpoint($tablet) {
      top: 32%;
    }
  }
}

.subtitle.crossell-title {
  @include arabic-letter-spacing;

  font-size: 1rem;
  font-family: $hnm-demibold;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.3rem;
  letter-spacing: 1px;

  @include breakpoint($tablet) {
    margin-bottom: 0.25rem;
  }
}

.mobile--only--sell .sell-sku {
  .sku-base-form {
    .js-form-submit {
      text-transform: uppercase;
      background: $primary_btn_bg;
      margin-top: 1rem;
    }

    .js-form-wrapper {
      float: $left;

      .form-type-select {
        margin-top: 1rem;
        background: $primary_dropdown_bg;

        @include breakpoint($only-mobile) {
          padding-bottom: 1rem;
          width: auto;

          &.form-item-configurables-article-castor-id {
            &::after {
              display: none;
            }

            .select-buttons {
              a {
                margin-#{$left}: 0.1875rem;
              }
            }
          }
        }

        &.form-item-configurables-size {
          @include breakpoint($only-mobile) {
            width: 40%;
            margin-top: 1rem;

            html[lang=ar] & {
              &::after {
                #{left}: -0.4375rem;
              }
            }
          }
        }

        &.form-item-configurables-color {
          @include breakpoint($only-mobile) {
            display: none;
          }
        }
      }

      select.form-select {
        @include select-style(12.375rem);

        width: 100%;
      }
    }
  }

  @include breakpoint($only-mobile) {
    [class^="acq-sku-configurable-"] {
      .js-form-submit {
        width: 54%;
        position: absolute;
        #{$right}: 0;
        bottom: 0.3125rem;
      }

      .form-item-configurables-article-castor-id {
        label {
          display: none;
        }
      }
    }
  }
}

.mobile--only--sell {
  width: 100%;

  @include breakpoint($tablet) {
    display: none;
  }

  .sell-sku {
    .field__items {
      @include breakpoint($only-mobile) {
        padding: 0;
      }
    }

    .sku-base-form {
      .js-form-wrapper {
        max-width: none;
      }

      .js-form-submit {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.price--discount span,
.special--price .price-amount,
.special--price .price-currency,
.special--price .price-wrapper {
  color: $price_default !important;
}

.price--discount {
  margin-top: 0;
  font-size: 0.625rem;
  color: $price_default;
}

.no-carousel {
  @include breakpoint($tablet) {
    display: flex;
    justify-content: start;
  }

  @include clearfix;

  .views-row {
    @include breakpoint($tablet) {
      width: 33%;
      float: $left;
      max-width: 12rem;

      @include breakpoint($desktop) {
        margin: 0 1rem;
      }
    }
  }
}
