.c-content__slider {
  @include breakpoint($only-mobile) {
    min-height: 11.5rem;
  }
}

.owl-prev,
.owl-next,
.slick-prev,
.slick-next {
  &::before {
    line-height: 1.15 !important;
  }
}

.owl-dot,
.slick-dots li {
  color: $sell_owl_dots;
}
