.spc-checkout-delivery-methods {
  margin-bottom: 2.5rem;

  .delivery-method {
    height: 4.75rem;
    background: $spc-checkout-delivery-method-bg;
    margin-bottom: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-#{$left}: 3rem;
    position: relative;

    .delivery-method-name {
      @include breakpoint($only-mobile) {
        max-width: 15rem;
      }

      @include breakpoint($only-tablet) {
        max-width: 16rem;
      }

      @include breakpoint($desktop) {
        max-width: 25rem;
      }
    }

    .radio-sim {
      @include breakpoint($upto-desktop) {
        display: inline-flex;
        align-items: center;
      }
    }

    input[type=radio] ~ .radio-label {
      @include breakpoint($tablet) {
        display: inline-flex;
        align-items: center;
      }

      @include breakpoint($only-mobile) {
        width: 93%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      margin-#{$right}: 0.625rem;

      @include breakpoint($only-mobile) {
        float: $left;
      }
    }

    svg g {
      fill: $spc-checkout-delivery-method-impress;
    }

    @include breakpoint($tablet) {
      height: 3.875rem;
    }

    .sub-title {
      @include breakpoint($upto-desktop) {
        display: block;
      }
    }
  }
}
