.spc-address-list-member-content {
  overflow-y: auto !important;

  .close {
    z-index: 1;
  }

  header.spc-change-address {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.24);
    font-size: 1.25rem;
    color: $checkout_section_titles;
    font-family: $alshaya-bold;
  }

  .address-list-content {
    background: $spc-checkout-sidebar-bg;
    padding-top: 1.25rem;

    .spc-add-new-address-btn {
      width: 100%;
      margin: 0 1.25rem 1.25rem;
      height: 2.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8125rem;
      background: $spc-checkout-add-new-address-bg;
      border: 1px solid $spc-deliver-button;
      color: $spc-deliver-button;
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      cursor: pointer;
      border-radius: 0.25rem;

      &:hover {
        background: $spc-deliver-button;
        color: $primary_btn_text;
      }

      @include breakpoint($tablet) {
        max-width: 20rem;
        margin: 0 auto 1.25rem;
      }

      @include breakpoint($only-mobile) {
        width: calc(100% - 2.5rem);
      }
    }

    .spc-checkout-address-list {
      display: grid;
      margin: 0 11.75%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.25rem;
      padding-bottom: 1.25rem;

      @include breakpoint($only-tablet) {
        margin: 0 5.75%;
      }

      @include breakpoint($only-mobile) {
        grid-template-columns: 1fr;
        margin: 0 1.25rem;
      }

      .spc-address-tile {
        padding: 0.875rem 1.25rem 0;
        background: $spc-checkout-address-tile-bg;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.24);
        }

        .spc-address-metadata,
        .spc-address-tile-actions {
          width: 100%;
        }

        .spc-address-name {
          height: 2.875rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: $alshaya-bold;
          color: $spc-delivery-customer-info-highlight;
        }

        .spc-address-fields {
          color: $spc-delivery-info-text;
        }

        .spc-address-mobile {
          padding-top: 1rem;
        }

        .spc-address-tile-actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 0.5rem;
          padding-top: 1rem;

          .spc-address-btns {
            display: flex;
            align-items: center;
            justify-content: center;

            > div {
              display: inline-block;

              &.spc-address-tile-edit {
                padding-top: 0.375rem;
                margin-#{$right}: 1rem;
                cursor: pointer;

                svg g {
                  transition: fill 0.2s ease-in-out;
                  fill: $spc-cart-item-trash-icon;
                }

                &:hover {
                  svg g {
                    fill: $spc-cart-item-trash-icon-hover;
                  }
                }
              }
            }
          }

          .spc-address-preferred {
            position: relative;
            padding-#{$left}: 2rem;

            label {
              color: $spc-delivery-customer-info-highlight;
            }

            .radio-label::before {
              #{$left}: -1rem;
            }

            &.loading {
              label {
                opacity: 0.1;
              }
            }

            @include componentLoader(transparent, 'after');
          }

          .spc-address-tile-delete-btn {
            button {
              cursor: pointer;
              border: none;
              font-size: 0;
              width: 1.5rem;
              height: 1.5rem;
              position: relative;
              color: $spc-cart-item-trash-icon;
              transition: color 0.3s ease-in-out;
              background: none;

              &:hover {
                color: $spc-cart-item-trash-icon-hover;
              }

              @include icon('bin', after) {
                width: 100%;
                height: 100%;
                font-size: 1.4375rem;
                position: absolute;
                #{$left}: 0;
                top: 0;
              }

              @include componentLoader(transparent, 'after');
            }
          }
        }
      }
    }
  }
}
