.spc-checkout-payment-options {
  margin-bottom: 2.5rem;

  .payment-method {
    height: 3.25rem;
    background: $spc-checkout-payment-method-bg;
    margin-bottom: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-#{$left}: 3rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    .radio-label {
      color: $spc-checkout-payment-method-txt;

      .spc-payment-method-desc {
        color: $spc-checkout-payment-method-desc;
        display: inline;
        padding-#{$left}: 0.3125rem;

        p {
          margin: 0;
          display: inline;
        }
      }
    }
  }

  .payment-methods.in-active {
    .payment-method::before {
      content: '';
      background: $_white_five_alpha_80;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $_transparent_overlay;
      z-index: 3;
    }
  }
}
