.spc-delivery-shipping-methods {
  border-top: 1px solid $spc-delivery-info-separator;
  margin-top: 1.25rem;

  .shipping-methods {
    .shipping-method {
      padding-#{$left}: 3rem;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid $spc-delivery-info-separator;
      padding-top: 1.25rem;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      .carrier-title,
      .spc-price {
        color: $spc-delivery-customer-info-highlight;
      }

      .carrier-title {
        font-family: $alshaya-bold;
        margin-#{$right}: 0.25rem;
      }

      .method-title {
        display: block;
      }

      .spc-price {
        position: absolute;
        top: 1.25rem;
        #{$right}: 0;
      }
    }
  }
}
